<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>About KegOrbit</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>About KegOrbit</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x" title="Active Users"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold"><!-- active --> </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1  red-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user-times fa-3x" title="Inactive Users"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold"><!-- inactive --></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm"><!-- total_company --></button>
                            Total Companies
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary m-r-sm"><!-- active_company --></button>
                            Active
                        </td>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm"><!-- inactive_company --></button>
                            Inactive
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm"><!-- over_user --></button>
                            Over User Limit
                        </td>
                        <td>
                            <button type="button" class="btn btn-success m-r-sm"><!-- over_container --></button>
                            Over Keg Limit
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm"><!-- over_device --></button>
                            Over Device Limit
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            </div>
        </div>
    <div class="row">

            <!--<div class="col-lg-3">-->
                <!--<div class="ibox float-e-margins">-->
                    <!--<div class="ibox-title">-->
                        <!--<span class="label label-success pull-right">Date</span>-->
                        <!--<h5>Subscription </h5>-->
                    <!--</div>-->
                    <!--<div class="ibox-content">-->
                        <!--<small>Initiation:</small>   <div class="stat-percent font-bold text-success">2016-07-30 <i class="fa fa-bolt"></i></div><br>-->
                        <!--<div class="stat-percent font-bold text-success">2016-07-30 <i class="fa fa-bolt"></i></div>-->
                        <!--<small>Termination:</small>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3">-->
                <!--<div class="ibox float-e-margins">-->
                    <!--<div class="ibox-title">-->
                        <!--<span class="label label-info pull-right">Active</span>-->
                        <!--<h5>Customers</h5>-->
                    <!--</div>-->
                    <!--<div class="ibox-content">-->
                        <!--<h3 class="no-margins">275,800</h3>-->
                        <!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
                        <!--<small>Registered</small>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--<div class="col-sm-6">-->

            <!--<div class="ibox">-->
                <!--<div class="ibox-content">-->
                    <!--<ul>-->
                        <!--<li>Current Version: &lt;!&ndash; current_version &ndash;&gt;</li>-->
                        <!--<li>Developers: Thilo Muller, Musa Khulu</li>-->
                        <!--<li>Support: <a href="mail:support@kegorbit.co.za">support@kegorbit.co.za</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>User/Accounts Types</h5>
                    <h2><!-- admin -->/<!-- company_admin -->/<!-- employees --></h2>
                    <div class="text-center">
                        <div id="sparkline5"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-3">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-content">-->
                    <!--<h5>Container Limit</h5>-->
                    <!--<h2>100/54</h2>-->
                    <!--<div class="text-center">-->
                        <!--<div id="sparkline6"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-content">-->
                    <!--<h5>Device Limit</h5>-->
                    <!--<h2>685/211</h2>-->
                    <!--<div class="text-center">-->
                        <!--<div id="sparkline7"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-content">-->
                    <!--<h5>Day's Remaining </h5>-->
                    <!--<h2>120/365</h2>-->
                    <!--<div class="text-center">-->
                        <!--<div id="sparkline8"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h4><span class="text-navy">Version History</span></h4>
                </div>
                <div class="ibox-content">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!-- version_history -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sparkline -->
<script src="/lib/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script>
    $(document).ready(function() {

        var sparklineCharts = function(){

            $("#sparkline5").sparkline([<!-- admin -->,<!-- company_admin -->,<!-- employees -->], {
                type: 'pie',
                height: '140',
                sliceColors: ['#1ab394', '#FF0000','#0000FF'],
                tooltipFormat: '{{offset:offset}} ({{percent.1}}%)',
                tooltipValueLookups: {
                    'offset': {
                        0: 'Application Administrator',
                        1: 'Company Administrator',
                        2: 'Employees'
                    }}
            });

            $("#sparkline6").sparkline([5, 3], {
                type: 'pie',
                height: '140',
                sliceColors: ['#1ab394', '#F5F5F5']
            });

            $("#sparkline7").sparkline([2, 2], {
                type: 'pie',
                height: '140',
                sliceColors: ['#ed5565', '#F5F5F5']
            });
            $("#sparkline8").sparkline([2, 3], {
                type: 'pie',
                height: '140',
                sliceColors: ['#ed5565', '#F5F5F5']
            });

        };

        var sparkResize;

        $(window).resize(function(e) {
            clearTimeout(sparkResize);
            sparkResize = setTimeout(sparklineCharts, 500);
        });

        sparklineCharts();


    });
</script>

