<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Application Settings</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>Application Settings</strong>
            </li>
        </ol>
    </div>
</div>

<form id="settingForm">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">
                <div class='row'>
                    <div class="col-sx-12">
                        <h2><span class="text-navy">General Settings</span></h2>
                        <div class="form-group">
                            <label for="gracePeriod">Grace Period:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="gracePeriod" name="grace_period"
                                       value="<!-- grace_period -->">
                                <div class="input-group-addon">Days</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sx-12">
                        <hr>
                        <h2><span class="text-navy">Login CAPTCHA</span></h2>
                        <div class="form-group"><label>
                            <input type="checkbox" value="1" style="position: absolute; opacity: 0;" id='login_captcha'
                                   name="login_captcha" <!-- login_captcha --> > Enable CAPTCHA on Login
                            <small> - <a href="https://www.google.com/recaptcha" target="_blank">https://www.google.com/recaptcha</a>
                            </small>
                        </label></div>
                    </div>
                </div>

                <div class='row' id="login_captcha_settings">
                    <div class="col-sx-6">
                        <div class="form-group">
                            <label for="captchaSiteKey">Site key</label>
                            <input type="text" class="form-control" name='captcha_site' id="captchaSiteKey"
                                   value="<!-- captcha_site -->">
                        </div>
                    </div>
                    <div class="col-sx-6">
                        <div class="form-group">
                            <label for="captchaSecretKey">Secret key</label>
                            <input type="text" class="form-control" name='captcha_secret' id="captchaSecretKey"
                                   placeholder="Hidden for security">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2><span class="text-navy">SMTP Settings</span></h2>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="form-group">
                            <label for="smtpUrl">URL</label>
                            <input type="text" class="form-control" name='smtp_url' id="smtpUrl" value="<!-- smtp_url -->">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="smtpPort">Port</label>
                            <input type="text" class="form-control" name='smtp_port' id="smtpPort"  value="<!-- smtp_port -->">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="smtpUsername">Username</label>
                            <input type="text" class="form-control" name='smtp_username' id="smtpUsername"  value="<!-- smtp_username -->">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="smtpPassword">Password</label>
                            <input type="text" class="form-control" name='smtp_password' id="smtpPassword" placeholder="Hidden for security" >
                        </div>
                    </div>
                </div>
                <div style="text-align: right;">
                    <button type="button" class="btn btn-danger" onclick="cancelEdit()">Cancel</button>
                    <button type='button' class="btn btn-primary" onclick="saveSettings()">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/modules/settings_management/assets/js/application.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>