
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Backup Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>Backup Data</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h4><span class="text-navy">Make a backup</span></h4>
                </div>
                <div class="ibox-content p-md">
                    <!--<button type="button" class="ladda-button ladda-button-demo btn btn btn-primary btn-rounded btn-sm dim" id="run_backup" onclick="run_backup()" data-style="zoom-in"><i-->
                            <!--class="fa fa-archive"></i> Backup Now-->
                    <!--</button>-->
                    <button class="ladda-button btn btn btn-primary btn-rounded btn-sm dim" data-color="blue" data-style="slide-down" id="run_backup" onclick="run_backup()"><span class="ladda-label">Backup Now</span><span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h4><span class="text-navy">Restore a backup</span></h4>
                </div>
                <div class="ibox-content p-md">
                    <div class="alert alert-danger">
                        <b>Warning:</b> This will replace all current information we suggest you backup your current
                        data first.
                    </div>
                    <form id="restoreForm" class="" action="#">
                        <input type="file" name="restoreFile" id="restoreFile">
                    <br>
                    <div class="form-group">
                        <!--<button class="btn btn-primary btn-rounded dim" type="button" onclick="restore_backup()">Restore</button>-->
                        <button class="ladda-button btn btn btn-primary btn-rounded btn-sm dim" data-color="blue" data-style="slide-down" id="restore_backup_button" onclick="restore_backup()" type="button"><span class="ladda-label">Restore</span><span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/ladda/spin.min.js"></script>
<script src="/lib/js/plugins/ladda/ladda.min.js"></script>
<script src="/lib/js/plugins/ladda/ladda.jquery.min.js"></script>
<script src="/modules/settings_management/assets/js/backup_data.js"></script>
