<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">

<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- container_singular --> Type  Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong><!-- container_singular --> Type  List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <span class="text-muted small pull-right">   <button type="button" class="btn btn btn-primary  btn-sm dim" id="create_type"> <i class="fa fa-plus-square-o"></i> Add a Type</button></span><br><br><br>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" id="activeTypes"><a data-toggle="tab" href="#activeTypesTab"> Active</a></li>
                    <li class="" id="inactiveTypes"><a data-toggle="tab" href="#inactiveTypesTab"> Inactive</a></li>
                </ul>
                <div class="tab-content">
                    <div id="activeTypesTab" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="activeTypesTbl" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Type Name</th>
                                        <th>Capacity</th>
                                        <th style="min-width: 2cm"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="inactiveTypesTab" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="inactiveTypesTbl" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Type Name</th>
                                        <th>Capacity</th>
                                        <th style="min-width: 2cm"></th>
                                    </tr>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.rowReorder.min.js"></script>

<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/settings_management/assets/js/container_types.js?20160701"></script>


