
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Terminology Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>List Terminology</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <h4><span class="text-navy"> Terminology</span></h4>

                    </div>
                    <div class="ibox-content">
                        <form  role="form" method="post" class="form-horizontal" id="editTerminologyForm" action="">

                        <div class="row">

                                <input type="hidden" name="company_id" id="company_id" class="form-control" value="<!-- company_id -->">
                                <!-- container textbox -->
                                <div class="form-group" style="margin-top: 1cm">
                                    <label class="col-sm-1 control-label">Container:</label>
                                    <div class="col-sm-5 tooltip-demo">
                                        <input type="text" class="form-control" name="container_singular" id="container_singular" value="<!-- container_singular -->" data-toggle="tooltip" data-placement="top" title="All instances of SINGULAR Container in the entire application will be replaced to the value provided here">
                                    </div>
                                    <div class="col-sm-5 tooltip-demo">
                                        <input type="text" class="form-control" name="container_plural" id="container_plural" value="<!-- container_plural -->" data-toggle="tooltip" data-placement="top" title="All instances of PLURAL Container in the entire application will be replaced to the value provided here"></div>
                                </div>

                            <!-- stage_textbox -->
                                <div class="form-group">
                                <label class="col-sm-1 control-label">Stage:</label>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="stage_singular" id="stage_singular" value="<!-- stage_singular -->" data-toggle="tooltip" data-placement="top" title="All instances of SINGULAR Stage in the entire application will be replaced to the value provided here"></div>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="stage_plural" id="stage_plural" value="<!-- stage_plural -->" data-toggle="tooltip" data-placement="top" title="All instances of PLURAL Stage in the entire application will be replaced to the value provided here"></div>
                                </div>


                                <!-- state_textbox -->
                                <div class="form-group">
                                <label class="col-sm-1 control-label">State:</label>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="state_singular" id="state_singular" value="<!-- state_singular -->" data-toggle="tooltip" data-placement="top" title="All instances of SINGULAR State in the entire application will be replaced to the value provided here"></div>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="state_plural" id="state_plural" value="<!-- state_plural -->" data-toggle="tooltip" data-placement="top" title="All instances of PLURAL State in the entire application will be replaced to the value provided here"></div>
                                </div>

                            <!-- state_textbox -->
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Client:</label>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="client_singular" id="client_singular" value="<!-- client_singular -->" data-toggle="tooltip" data-placement="top" title="All instances of SINGULAR client in the entire application will be replaced to the value provided here"></div>
                                <div class="col-sm-5 tooltip-demo"><input type="text" class="form-control" name="client_plural" id="client_plural" value="<!-- client_plural -->" data-toggle="tooltip" data-placement="top" title="All instances of PLURAL client in the entire application will be replaced to the value provided here"></div>
                            </div>


                            <hr>
                            <div class="form-group pull-right" style="margin-right: 2cm">
                                <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                                <button class="btn btn-primary  dim" type="submit">Save changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>

<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/settings_management/assets/js/edit_terminology.js?20160701"></script>

