<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/line/aero.css" rel="stylesheet">

<link href="/lib/css/plugins/dropzone/basic.css" rel="stylesheet">
<link href="/lib/css/plugins/dropzone/dropzone.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Company Manager:</strong> <!-- company_name --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>Company List</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form  role="form" method="post" ENCTYPE="multipart/form-data"  id="editcompanyForm" action="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <!-- renew_button -->
                        <h4><span class="text-navy">Company Manager</span></h4>
                    </div>

                        <div class="ibox-content">
                        <div class="ibox-content no-padding border-left-right" style="max-width: 300px; max-height: 300px">
                            <img alt="image" class="img-thumbnail m-t-xs img-responsive" id="image" src="<!-- company_logo -->">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                <input type="hidden" name="company_id" id="company_id" class="form-control" value="<!-- company_id -->">
                                <div class="form-group">
                                    <label class="btn btn-default btn-file">
                                        Browse <input type="file" style="display: none;" name="file" class="form-control" id="file">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>Company Name:</label>
                                    <input type="text" placeholder="Company Name" name="company_name" id="company_name" class="form-control" value="<!-- company_names -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Company Contact:</label>
                                    <input type="text" placeholder="Name and Surname" name="company_contact_name" id="company_contact_name" class="form-control" value="<!-- company_contact_name -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Company Contact Number:</label>
                                    <input type="text" placeholder="(999)-999-9999" name="company_contact_number" id="company_contact_number" class="form-control" value="<!-- company_contact_number -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Company Email:</label>
                                    <input type="email" placeholder="unknown@unknown.com" name="company_email" id="company_email" class="form-control" value="<!-- company_email -->" maxlength="50">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Delivery Address:</label>
                                    <input type="text" placeholder="Street Name" class="form-control" name="delivery_street_name" id="delivery_street_name" style="margin-bottom: 0.4%" value="<!-- delivery_street_name -->" maxlength="50">
                                    <input type="text" placeholder="Suburb" class="form-control" name="delivery_suburb" id="delivery_suburb" style="margin-bottom: 0.4%" value="<!-- delivery_suburb -->" maxlength="50">
                                    <input type="text" placeholder="Town/City" class="form-control" name="delivery_town" id="delivery_town" style="margin-bottom: 0.4%" value="<!-- delivery_town -->" maxlength="50">
                                    <input type="text" placeholder="Physical Code" class="form-control" name="delivery_physical_code" id="delivery_physical_code" value="<!-- delivery_physical_code -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Invoice Address:</label> <div style="width: 250px" class="pull-right"><input type="checkbox" value="1" name='same_as_physical' id="same" <!-- same_as_physical --> ><label>Same as Physical Address</label></div>
                                    <input type="text"  class="form-control addr addr1" name="invoice_street_name" id="invoice_street_name" style="margin-bottom: 0.4%" value="<!-- invoice_street_name -->" maxlength="50">
                                    <input type="text"  class="form-control addr addr2" name="invoice_suburb" id="invoice_suburb" style="margin-bottom: 0.4%" value="<!-- invoice_suburb -->" maxlength="50">
                                    <input type="text" class="form-control addr addr3" name="invoice_town" id="invoice_town" style="margin-bottom: 0.4%" value="<!-- invoice_town -->" maxlength="50">
                                    <input type="text"  class="form-control addr addr4" name="invoice_physical_code" id="invoice_physical_code" value="<!-- invoice_physical_code -->" maxlength="50">
                                </div>
                            </div>
                            </div>

                            <div class="ibox-title text-center">
                                <h4><span class="text-navy">Miscellaneous Application Settings</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" style="padding-left: 15px; padding-right: 15px">
                                        <label>Days before expiry - <small>Used to calculate values for near expiry and sell by dates.</small></label>
                                        <input type="number"  name="near_date_range" id="near_date_range" class="form-control" value="<!-- near_date_range -->" >
                                    </div>
                                    </div>
                                <div class="col-xs-6">
                                    <div class="form-group" style="padding-left: 15px; padding-right: 15px">
                                        <div class="form-group">
                                            <label>Application Date: <small>All App dates will conform to this format.</small></label>
                                                <!-- application_date -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" style="padding-left: 15px; padding-right: 15px">
                                        <label> <input type="checkbox" class="i-checks" name="import" id="import" <!-- import_checked --> > Grant Permission to users to  upload csv files for container import</label>
                                        <input type="hidden" name="imports" id="imports" class="form-control" value="<!-- import_val -->">
                                    </div>
</div>
                                <div class="col-xs-6">
                                    <div class="form-group" style="padding-left: 15px; padding-right: 15px">
                                        <label>Sender Email Address (From Address)</label>
                                        <input type="email"  name="sender_email" id="sender_email" class="form-control" value="<!-- sender_email -->" >
                                    </div>
                                    <!--<div class="form-group" style="padding-left: 15px; padding-right: 15px">-->
                                        <!--<label>Reply-to - <small>email.</small></label>-->
                                        <!--<input type="email"  name="reply_to_email" id="reply_to_email" class="form-control" value="&lt;!&ndash; reply_email &ndash;&gt;" >-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <hr>
                            <div class="form-groupt" style="text-align: right">
                                <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                                <button class="btn btn-primary  dim" type="submit" id="save">Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/dropzone/dropzone.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>
<script src="/modules/settings_management/assets/js/edit_company.js?20160620"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green'
        });

        $('#import').on('ifChecked', (function() {
            $('#imports').val(1);
        }));
        $('#import').on('ifUnchecked', (function() {
            $('#imports').val(0);
        }));

        Dropzone.options.myAwesomeDropzone = {

            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,

            // Dropzone settings
            init: function() {
                var myDropzone = this;

//                this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
//                    e.preventDefault();
//                    e.stopPropagation();
//                    myDropzone.processQueue();
//                });
                this.on("sendingmultiple", function() {
                });
                this.on("successmultiple", function(files, response) {
                });
                this.on("errormultiple", function(files, response) {
                });
            }

        }

    });
</script>

