<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong> <!-- stage_type --> stage:</strong> <!-- stage_name_header --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_stages">Stage Management</a>
            </li>
            <li class="active">
                <strong><!-- stage_type -->  stage</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form role="form" method="post" id="editstageForm" action="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <!-- renew_button -->
                        <h4><span class="text-navy">Stage Manager</span></h4>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sx-12">
                                <input type="hidden" name="stage_id" id="stage_id" class="form-control"
                                       value="<!-- stage_id -->">

                                <div class="form-group">
                                    <label>Stage Name:</label>
                                    <input type="text" placeholder="Stage Name" name="stage_name" id="stage_name"
                                           class="form-control" value="<!-- stage_name -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Stage Description:</label>
                                    <textarea class="form-control" rows="5" placeholder="Stage Description........."
                                              name="stage_description" id="stage_description" style="height: 105px;"><!-- stage_description --></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>On Select:</label>
                                    <select class="form-control" name="onselect">
                                        <!-- onselect -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>&nbsp;</label>
                                <div class="checkbox3" id="is_def">
                                    <label>
                                        <input type="checkbox" id='is_default' name='is_default' <!-- is_default --> > Set as default Stage
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                            <button class="btn btn-primary  dim" type="submit" id="save">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
</div>
</form>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/modules/settings_management/assets/js/edit_stage.js?20160620"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>

