<script src="/modules/settings_management/assets/js/edit_state.js"></script>

<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><span class="state_task"><strong><!-- state_task -->:</strong></span> <!-- container_singular --> State</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings"><!-- container_singular --> Management</a>
            </li>
            <li class="active">
                <strong> <!-- container_singular --> States</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <form id="stateForm">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="state_name">State Name</label>
                                        <input type="text" class="form-control" id="state_name" name="state_name" value="<!-- state_name -->">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox2">
                                        <label>
                                            <input type="checkbox" id="oos" name="out_of_circulation" <!-- ooc_checked -->> Out of Circulation
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox2">
                                        <label>
                                            <input type="checkbox" id="is_default" name="is_default" <!-- is_default -->> Set as default State
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right">
                                <input type="hidden" id='state_id' name="state_id" value="<!-- state_id -->" >
                                <button type="button" class="btn btn-danger" onclick="cancelEdit()">Cancel</button>
                                <button type='button' class="btn btn-primary" onclick="saveState()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>