<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- type --> <!-- container_singular --> Type:</strong> <!-- type_names --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_types"> settings Management</a>
            </li>
            <li class="active">
                <strong><!-- type --> <!-- container_singular -->  Type</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form  role="form" method="post" id="edittypeForm" action="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <!-- renew_button -->
                        <h4><span class="text-navy"><!-- container_singular --> Type Manager</span></h4>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <input type="hidden" name="type_id" id="type_id" class="form-control" value="<!-- type_id -->">

                            <div class="form-group">
                                <label><!-- container_singular --> Type Name:</label>
                                <input type="text" placeholder="Type Name" name="type_name" id="type_name" class="form-control" value="<!-- type_name -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label> <!-- container_singular --> Type capacity:</label>
                                <input type="text" placeholder="Type capacity" name="type_capacity" id="type_capacity" class="form-control" value="<!-- type_capacity -->" maxlength="50">
                            </div>
                            <div class="form-group pull-right">
                                <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                                <button class="btn btn-primary  dim" type="submit" id="save">Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/modules/settings_management/assets/js/edit_type.js?20160620"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>

