<script src="/modules/settings_management/assets/js/list_states.js"></script>

<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong> <!-- container_singular --> <!-- singular_state --> Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong><!-- container_singular --> <!-- plural_state --></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <span class="text-muted small pull-right">  <button type="button" class="btn btn btn-primary dim" onclick="editState(0)"> <i class="fa fa-plus-square-o"></i> Add <!-- singular_state --></button></span><br><br><br>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" ><a  data-toggle="tab" id="activeTab" href="#tab-1"><i class="fa fa-tags text-success"></i> Active <!-- plural_state --></a></li>
                    <li class="" ><a data-toggle="tab"  id="inactiveTab" href="#tab-2"><i class="fa fa-tags text-danger"></i> Inactive <!-- plural_state --></a></li>
                </ul>
                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="stateTable">
                                    <thead>
                                    <th><!-- singular_state --></th>
                                    <th>Out of Circulation</th>
                                    <th style="min-width: 2cm"></th>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="inactiveStateTable">
                                    <thead>
                                    <th><!-- singular_state --></th>
                                    <th>Out of Circulation</th>
                                    <th style="min-width: 2cm"></th>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>