

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Settings Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings </a>
            </li>
            <li class="active">
                <strong>List Settings</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title text-center">
                    <h4><span class="text-navy">General Settings</span></h4>
                    </div>
                    <div class="ibox-content p-md" style="text-align: center">
                        <div class="<!-- buttons_class -->">
                        <!-- backup_button -->

                        <button class="btn btn-primary  dim btn-large-dim btn-outline" type="button" style="height: 5cm; width: 5cm" id="terminology"><i class="fa fa-exchange  fa-2x" ></i><br><h2>Terminology</h2></button>
                        <!-- application -->
                            <!-- company -->
                            <!-- about -->
                            <!-- subscription_details -->
                            <!-- maintenance_button -->
                    </div>
                    </div>
            </div>
        </div>
 </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h4><span class="text-navy"><!-- container --> Management</span></h4>
                </div>
                <div class="ibox-content p-md">
                    <div class="" style="text-align: center">
                        <button class="btn btn-success  dim btn-large-dim btn-outline" type="button" style="height: 5cm; width: 5cm" id="stages"><i class="fa fa-sliders fa-2x" ></i><br><h2><!-- container --> <br><!-- stages --></h2></button>
                            <button class="btn btn-danger  dim btn-large-dim btn-outline" type="button" style="height: 5cm; width: 5cm" id="states"><i class="fa fa-sliders fa-2x" ></i><br><h2><!-- container --><br><!-- states --></h2></button>
                            <button class="btn btn-primary  dim btn-large-dim btn-outline" type="button" style="height: 5cm; width: 5cm" id="container_types"><i class="fa fa-sliders fa-2x" ></i><br><h2><!-- container --><br>Types</h2></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- maintenance_mode -->
    </div>
<script src="/modules/settings_management/assets/js/list_settings.js?20160627"></script>

