<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="/lib/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="/lib/js/plugins/bootstrap-daterangepicker/daterangepicker.css"  rel="stylesheet" >

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Schedule Maintenance</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>Schedule Maintenance</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

                    <div class="ibox">
                        <div class="ibox-title text-center">
                            <h4><i class="fa fa-cog" style="color: #00AA88"></i><span class="text-navy"> Keg Orbit Maintenance Mode</span>
                            </h4>
                        </div>
                        <div class="ibox-content p-md">
                            <div class="clients-list">
                                <ul class="nav nav-tabs">
                                    <li class="active" id="popupSettings"><a data-toggle="tab" href="#popupSettingsTab"> Popup Message</a></li>
                                    <li class="" id="frontSettings"><a data-toggle="tab" href="#frontSettingsTab"> Front End Message</a></li>
                                </ul><br>

                                <div class="tab-content">
                                    <div id="popupSettingsTab" class="tab-pane active" style="height:100%">
                                        <form id="maintenaceForm">
                                            <hr>
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" value="1" style="position: absolute; opacity: 0;" id='activate_maintenance' name="activate_maintenance"<!-- maintenance --> > Enable Maintence Mode
                                                </label>
                                            </div>


                                            <div class="form-group back-change">
                                                <label for="display_message">Popup Message:</label>
                                                <textarea class="form-control pop" rows="2" name="display_message"
                                                          id="display_message"><!-- message --></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Start - End Time</label>
                                                <input type="text" class=" form-control pop"  id="daterange" name="daterange" />
                                                <input type="hidden" name="start" id="start" value="<!-- start -->">
                                                <input type="hidden" name="end" id="end" value="<!-- end -->">
                                            </div>

                                            <div class="form-group">
                                                <label>Popup Message Color</label>
                                                <input type="text" class="form-control demo1 pop" value="<!-- color -->" name="color" id="color"/>
                                            </div>
                                                <div class="form-group">
                                                    <label>Popup Frequency:</label>
                                                    <!-- popup_frequency -->
                                                </div>

                                            <div style="text-align: right">
                                                <button type="button" class="btn btn-danger" id="cancel_popup">Cancel</button>
                                                <button type='submit' class="btn btn-primary" id="save_popup">Save</button>
                                                <button type='button' class="btn btn-primary" id="preview">Preview</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="frontSettingsTab" class="tab-pane" style="height:100%">
                                        <form id="countdownForm">
                                            <hr>
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" value="1" style="position: absolute; opacity: 0;" id='activate_countdown' name="activate_countdown" <!-- countdown -->>  Show CountDown Timer
                                                </label>
                                            </div>


                                            <div class="form-group back-change">
                                                <label for="display_message">Count Down Message:</label>
                                                <textarea class="form-control count" rows="2" name="countdown_message"
                                                          id="countdown_message"> <!-- count_down_message --> </textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Count Down Message Color</label>
                                                <input type="text" class="form-control demo1 count" name="count_down_color" id="count_down_color" value="<!-- count_down_color -->"/>
                                            </div>

                                            <div style="text-align: right">
                                                <button type="button" class="btn btn-danger" id="cancel_count_down">Cancel</button>
                                                <button type='submit' class="btn btn-primary" id="savecountDown">Save Countdown</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

        </div>
    </div>
</div>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/modules/settings_management/assets/js/schedule_maintenance.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>
<!-- Data picker -->
<script src="/lib/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Color picker -->
<script src="/lib/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="/lib/js/moment.js"></script>

<script src="/lib/js/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>



<script>
    $('.demo1').colorpicker();
    $(function() {
        $('input[name="daterange"]').daterangepicker(
                {
                    "startDate": "<!-- start -->",
                    "endDate": "<!-- end -->",
                    timePicker: true,
                    timePickerIncrement: 30,
                    "timePicker24Hour": true,
                    locale: {
                        format: 'YYYY-MM-DD HH:mm '
                    }
                },
                function (start, end, label) {
//                    alert("A new date range was chosen: " + start.format('YYYY-MM-DD hh:mm ') + ' to ' + end.format('YYYY-MM-DD hh:mm '));
                    $('#start').val(start.format('YYYY-MM-DD HH:mm:ss '));
                    $('#end').val(end.format('YYYY-MM-DD HH:mm:ss '));
                });
    });
</script>