<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Subscription Info:</strong> <!-- company_name --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=settings_management&a=list_settings">Settings</a>
            </li>
            <li class="active">
                <strong>Subscription Info</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Date</span>
                    <h5>Subscription </h5>
                </div>
                <div class="ibox-content">
                    <small>Initiation:</small>   <div class="stat-percent font-bold text-success"><!-- initiation --> <i class="fa fa-bolt"></i></div><br>
                    <div class="stat-percent font-bold text-danger"><!-- termination --> <i class="fa fa-bolt"></i></div>
                    <small>Termination:</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Active</span>
                    <h5><!-- customer_plural --></h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins"><!-- customer_count--></h3>
                    <small>Registered</small>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x" title="Active Users"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold"><!-- active --> </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1  red-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user-times fa-3x" title="Inactive Users"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold"><!-- inactive --></h2>
                    </div>
                </div>
            </div>


        <!--<div class="col-sm-6">-->

        <!--<div class="ibox">-->
        <!--<div class="ibox-content">-->
        <!--<ul>-->
        <!--<li>Current Version: &lt;!&ndash; current_version &ndash;&gt;</li>-->
        <!--<li>Developers: Thilo Muller, Musa Khulu</li>-->
        <!--<li>Support: <a href="mail:support@kegorbit.co.za">support@kegorbit.co.za</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
  </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>System User Limit </h5>
                    <div>
                        <span> <h2><!-- user_percentage -->%</h2></span>
                        <small class="pull-right"><!-- user_count -->/<!-- user_limit --></small>
                    </div>
                    <div class="progress progress-striped active">
                        <div style="width: <!-- user_percentage -->%;" class="progress-bar progress-bar-success"></div>
                    </div>



                    <div class="m-t-sm small">you can still create <!-- more_users --> user(s).</div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
        <div class="ibox">
        <div class="ibox-content">
        <h5><!-- container_singular --> Limit</h5>
            <div>
                <span> <h2><!-- container_percentage -->%</h2></span>
                <small class="pull-right"><!-- container_count -->/<!-- container_limit --></small>
            </div>
            <div class="progress progress-striped active">
                <div style="width: <!-- container_percentage -->%;" class="progress-bar progress-bar-warning"></div>
            </div>
            <div class="m-t-sm small">you can still create <!-- more_containers --> <!-- container_singular -->(s).</div>
        </div>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ibox">
        <div class="ibox-content">
        <h5>Device Limit</h5>

            <div>
                <span> <h2><!-- device_percentage -->%</h2></span>
                <small class="pull-right"><!-- device_count -->/<!-- device_limit --></small>
            </div>
            <div class="progress progress-striped active">
                <div style="width: <!-- device_percentage -->%;" class="progress-bar progress-bar-info"></div>
            </div>
            <div class="m-t-sm small">you can still create <!-- more_device --> device(s).</div>
        </div>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ibox">
        <div class="ibox-content">
        <h5>Day's Remaining <small>(expiry)</small></h5>

            <div>
                <span> <h2><!-- day_percentage --></h2></span>
                <small class="pull-right"><!-- day_limit -->/<!-- difference --></small>
            </div>
            <div class="progress progress-striped active">
                <div style="width: <!-- difference -->%;" class="progress-bar progress-bar-danger"></div>
            </div>
            <div class="m-t-sm small">Account expires in <!-- day_percentage --> day(s).</div>
        </div>
        </div>
        </div>


        <!--<div class="col-sm-6">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-title text-center">-->
                    <!--<h4><span class="text-navy">Version History</span></h4>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->
                        <!--&lt;!&ndash; version_history &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>


