<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="h<!-- id -->">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#c<!-- id -->" aria-expanded="true" aria-controls="c<!-- id -->">
                Version: <!-- version -->
            </a>
        </h4>
    </div>
    <div id="c<!-- id -->" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h<!-- id -->">
        <div class="panel-body">
            <!-- version_content -->
        </div>
    </div>
</div>