
<p>
    Registration request for <!-- establishment_name -->.
</p>
<table style="border: 0px solid darkblue; width: 100%" cellspacing="0">
    <tbody>
    <tr>
        <td style="background-color: #bfd9ff; width: 150px">Establishment Name:</td>
        <td style="background-color: #bfd9ff; "><!-- establishment_name --></td>
    </tr>
    <tr>
        <td style="background-color: #e2e2e2; width: 150px">Establishment Type:</td>
        <td style="background-color: #e2e2e2; "><!-- establishment_type --></td>
    </tr>
    <tr>
        <td style="background-color: #bfd9ff; width: 150px">Company_name:</td>
        <td style="background-color: #bfd9ff; "><!-- company_name --></td>
    </tr>
    <tr>
        <td style="background-color: #e2e2e2; width: 150px">Owner Name:</td>
        <td style="background-color: #e2e2e2; "><!-- owner_name --></td>
    </tr>
    <tr>
        <td style="background-color: #bfd9ff; width: 150px">ID/Registration No:</td>
        <td style="background-color: #bfd9ff; "><!-- reg_no --></td>
    </tr>
    <tr>
        <td style="background-color: #e2e2e2; width: 150px">Postal Address:</td>
        <td style="background-color: #e2e2e2; "><!-- postal_address --><br><!-- postal_address1 --><br><!-- postal_address2 --></td>
    </tr>
    <tr>
        <td style="background-color: #bfd9ff; width: 150px">Street Address:</td>
        <td style="background-color: #bfd9ff; "><!-- street_address --><br><!-- street_address1 --><br><!-- street_address2 --></td>
    </tr>
    <tr>
        <td style="background-color: #e2e2e2; width: 150px">Email Address:</td>
        <td style="background-color: #e2e2e2; "><!-- email --></td>
    </tr>
    <tr>
        <td style="background-color: #bfd9ff; width: 150px">Contact Number: </td>
        <td style="background-color: #bfd9ff; "><!-- tel_no --></td>
    </tr>
    <tr>
        <td style="background-color: #e2e2e2; width: 150px">Fax Number: </td>
        <td style="background-color: #e2e2e2; "><!-- fax_no --></td>
    </tr>
    </tbody>
</table>
                
          
         
        
            
    
