<div style="width:600px;margin:auto auto;border:1px inset #0028d9;padding:10px;font-family:arial;border-radius:5px;line-height:1.42857143">
    <div>
        <h1>Book Travel</h1>
    </div>
    <div style="color:#333">
        <p style="font-size:16pt"></p>
        <p style="font-size:12px"><!-- email_content --></p>
    </div>
</div>
