

/* SPACING/ALIGNMENT */
.spaceTop20 {
    margin-top: 20px;
}
.spaceTop20md {
    margin-top: 20px;
}
.spaceTop10 {
    margin-top: 10px;
}
.spaceTop5 {
    margin-top: 5px;
}
.noRowMargin {
    margin-left: -30px !important;
}
.noRowPadding {
    padding-right: 0px;
    padding-left: 0px;
}
.width100 {
    width: 100%;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}
.paddingLeft15 {
    padding-left: 15%;
}
.paddingLeft17 {
    padding-left: 17%;
}

/* Site Header */
.site-logo {
    display:block;
    position: absolute;
    top: 0px;
    left: 10%;
    z-index: 999;
}

/* top menu */
.menu2-container {
    background: rgba(0,0,214,1);
    background: -moz-linear-gradient(top, rgba(0,0,214,1) 0%, rgba(58,132,253,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,214,1)), color-stop(100%, rgba(58,132,253,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,214,1) 0%, rgba(58,132,253,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,214,1) 0%, rgba(58,132,253,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,214,1) 0%, rgba(58,132,253,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,214,1) 0%, rgba(58,132,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000d6', endColorstr='#3a84fd', GradientType=0 );
}
.eti-top-menu {
    font-weight: bold;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}
.searchBlock {
    background-color: #BFD9FF;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    margin-left: 0px;
    margin-right: 0px;
    padding:5px;

}

/* Search Box */
.searchbox {
    background-color: #BFD9FF;
    width: 100%;
    padding: 5px;
}
#LocationSearchBox {
    background-color: #BFD9FF;
    width: 100%;
    padding: 5px;
    text-align: left;
    margin-top: 20px;
}

/* Establishment Info Gallery */
.infoGallery {
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;

}
.galleryImage {
    background-color: rgba(193, 191, 190, 0.46);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 3px solid white;
    padding: 5px;
}

/* Request a quote */
#EstablishmentQuoteForm,
#EstablishmentQuoteForm .form-group {
    background-color: transparent;
}


/* Establishment - Tabs  */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #0066FF;
    color: black;
}


/* Footer */
.footerBlockParent {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}
.footerBlock {
    padding: 0px;
    margin: 0px;
    border: 2px solid #FFCC00;
}
.footerBlockParent:first-child {
    padding-left: 0px;
}
.footerBlockParent:last-child {
    padding-right: 0px;
}
.footerBlockHeading {
    background-color: #FFCC00;
    color: black;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
.footerBlockContent {
    padding: 4px 10px 4px 10px;
    height: 185px;
}
.footerBlockContent A {
    padding: 2px;
    color: #2B7FFF;
    font-weight: bold;
}
.footerBlockContent A:hover {
    color: #0042FE;
    text-decoration: none;
}

.nav-pills>li {
    background-color: #BCD4F8;
    border-radius: 4px;
    /*float: none;*/
    width: 99%;
    margin: 2px;
}


/* Live Availability Button  */
.checkAvailability {
    background: rgba(252,226,121,1);
    background: -moz-linear-gradient(top, rgba(252,226,121,1) 0%, rgba(255,204,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,226,121,1)), color-stop(100%, rgba(255,204,0,1)));
    background: -webkit-linear-gradient(top, rgba(252,226,121,1) 0%, rgba(255,204,0,1) 100%);
    background: -o-linear-gradient(top, rgba(252,226,121,1) 0%, rgba(255,204,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,226,121,1) 0%, rgba(255,204,0,1) 100%);
    background: linear-gradient(to bottom, rgba(252,226,121,1) 0%, rgba(255,204,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce279', endColorstr='#ffcc00', GradientType=0 );
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}
.checkButton {
    width: 100%;
    height: 30px;
    font-weight: bold;
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border: 1px solid #ada8ad;
    text-transform: uppercase;
    color: #5e5d5e;
}
.checkFinePrint {
    font-size: 0.8em;
    color: white;
}

/* Establishment Listing */
.restypeDesc {
    position:absolute;
    width:250px;
    color:#18479F;
    border:1px solid #18479F;
    background-color:#BFD9FF;
    padding:3px;
    margin-top:15px;
    margin-left:30px;
}
.estListHeader {
    font-weight: bold;
    text-align: left;
}
.estListPaging {
    background-color: #0074BB;
    color: white;
}
.estListPaging A {
    color: white;
}
.listEst {
    margin-top: 20px;
    border: 1px solid #0074BB;
    background-color: white;
}
.listEstHeader {
    background-color: #0074bb;
    color: white;
    padding: 5px;
}
.listEstHeader H3 {
    padding: 0px;
    margin: 0px;
}
.est_name {
    padding: 0px;
    margin: 0px;
}
.listEstContent {
    padding: 5px;
}
.listEstLink {
    color: #0074bb;
    font-weight: bold;
    white-space: nowrap;
}


/* HOME PAGE */
.pageIntro {
    font-size: 0.9em;
}
.featuresEstablishments {
    background-color: #18479F;
    padding: 4px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.establishmentItem {
    font-size: 0.9em;
    margin-top: 4px;
    margin-bottom: 4px;
}
.establishmentItem {
    padding: 2px;
}
.establishmentItem:nth-child(odd) {
    background-color: #EBEBEB;
}
.newlyListed {
    background-color: #B10049;
    padding: 4px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.featureddestination {
    background-color: #FFCC00;
    padding: 4px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.9em;
}
.hotelGroups {
    text-align: center;
}
.hotelGroups IMG {
    margin: 4px;
}

#settingMessage {
    display: block;
    margin-top: 10px;
}

/** Accomodation available Labels **/
.ribbon {
    position: absolute;
    left: 5px; top: -10px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

@media (min-width: 430px) {

    .nav-pills>li {
        width: 49%;
        margin: 2px;
    }

}

@media (min-width: 768px) {

    .nav-pills>li {
        width: 32%;
        margin: 2px;
    }




}

@media (min-width: 992px) {
    .spaceTop20md {
        margin-top: 0;
    }

}

@media (min-width: 1200px) {

    .nav-pills>li {
        width: 16%;
        margin: 2px;
    }
}