<style type="text/css">
<!--
.style16 {
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #1D79AD;
}
.style21 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px; color: #1D79AD;
	}
.style20 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.style23 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
}
.style231 {	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
    padding-right: 5px;
}
.style1 {	font-family: Arial;
	font-size: 11px;
}
-->
</style>
<table cellpadding=0 cellspacing=0>
	<tr>
		<td> <!-- col 1 -->
			<table cellpadding=0 cellspacing=0>
				<tr>
					<td> <!--  welcome -->
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceC.gif'.style='width: 618px; height: 1px'></td>
							</tr>
							<tr valign=top>
								<td><img src='/images/spaceB.gif'.style='width: 1px; height: 240px'></td>
								<td style='padding: 10px'>
									<div style='font-weight: bold; font-size: 20pt; font-family: arial'>Welcome to AA Travel</div><br>
									<div style='font-family: arial; font-size: 9pt; '>AA Travel Guides is the largest online travel database in South Africa for
									accomodation ranging from luxury hotels to B&B's, guest houses, hotels, self catering chalets and apartments, lodges, game and nature reserves, caravan and camping throughout
									South Africa including Cape Town, Johannesburg and the rest of Gauteng, Knysna, George, Durban, Sun City, Sabi Sands and the Kruger National Park. We also cover 
									accomodation in Namibia, Zimbabwe, Botswana, Malawi, Seychelles, Zambia, Mozambique, Lesotho and Swaziland.</div><br>
									<div style='text-align: center'>
									 <!--JavaScript Tag // Tag for network 567: 365 Digital // Website: AA Travel Guide // Page: Homepage // Placement: Homepage-top-468 x 60 (1447298) // created at: Oct 22, 2007 10:10:39 AM-->
											<script language="javascript">
											<!--
											if (window.adgroupid == undefined) {
												window.adgroupid = Math.round(Math.random() * 1000);
											}
											document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn|3.0|567|1447298|0|1|ADTECH;loc=100;target=_blank;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
											//-->
											
											</script><noscript><a href="http://adserver.adtech.de/adlink|3.0|567|1447298|0|1|ADTECH;loc=300" target="_blank"><img src="http://booktravel.travel/images/Southern Sun 468x60_AA.gif" border="0" width="468" height="60"></a></noscript>
											<!-- End of JavaScript Tag -->
											</div>	
								</td>
							</tr>
						</table><br>
					</td> <!--  welcome (close) -->
				</tr>
				<tr>
					<td> <!-- theme -->
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceD.gif'.style='width: 618px; height: 1px'></td>
							</tr>
							<tr valign=top>
								<td height="177"><img src='/images/spaceE.gif'.style='width: 1px; height: 249px'></td>
								<td style='background-image: url(/images/theme_background.gif); padding: 10px; background-repeat: no-repeat;'>
									<div style='font-weight: bold; font-size: 20pt; font-family: arial'>
									  <p>This <span style='color: white'>Week's</span> Theme<br />
									    <span class="style231"><a href="/index.php?p=theme_weekend_getaways"><br />
									    </a></span></p>
</div>
							      <p class="style1"><strong><a href="/index.php?p=melville_johannesburg_theme">Melville: Johannesburg's Very Own Bohemian Suburb</a></strong>							      </p>
							      <p><span class="style1">The trendy suburb of Melville, just west of the Johannesburg CBD, has long been famous for its cafe culture and artistic residents. Enjoy a vibrant nightlife, eccentric shops, speciality bakeries and a chance to hike through the Melville Koppies - a protected Heritage Site. Look no further than <strong><a href="http://booktravel.travel/accommodation/048004_die_agterplaas_bb.html">Die Agterplaas B&amp;B</a></strong> for great accommodation. To read more about<a href="/index.php?p=melville_johannesburg_theme"> Melville</a> and join in on the action, <a href="/index.php?p=melville_johannesburg_theme"><strong>click here</strong></a></span><strong><br>
						          </strong></p>
<div style='font-family: arial; font-size: 9pt; '></div>
									
								</td>
							</tr>
						</table><br>
					</td> <!--  theme (close) -->
				</tr>
				<tr>
					<td> <!-- block -->
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceD.gif'.style='width: 618px; height: 1px'></td>
							</tr>
							<tr valign=top>
								<td></td>
								<td style=''>
									<table cellspacing=0 cellpadding=0>
										<tr>
											<td><img src='/images/Special_tl.gif' width='24' height='21'></td>
											<td><img src='/images/Special_tc.gif' width='572' height='21'></td>
											<td><img src='/images/Special_tr.gif' width='22' height='21'></td>
										</tr>
										<tr>
											<td style='background-image: url(/images/Special_cl.gif)'></td>
											<td style='background-color: white'><p align="center" class="style20"><strong>AA Travel Guides American Express Accommodation  Awards - ENTRIES ARE NOW CLOSED</strong></p>
											  <p align="center" class="style20"><strong>AA Travel Guides</strong> is proud to announce that their flagship publication, <br />
											  the<strong> AA Travel Guides Hotels, Lodges, Guest Houes &amp; B&amp;Bs</strong> is available for the very first time as a downloadable <strong><a href="http://webentangled.com/HL/" target="_blank" class="style16">E-BOOK</a> </strong><a href="http://webentangled.com/HL/" target="_blank" class="style16">- click here to have a look</a>. And remember, if you like what you see be sure to <a href="http://booktravel.travel/index.php?p=travel_books" class="style16">buy a hard copy</a> that you can take with you! <a href="http://booktravel.travel/index.php?p=travel_books" class="style16">Click here to buy books</a><strong><br />
                                                  <br />
                                              </strong>AA Travel Guides American Express Accommodation  Awards, a programme that identifies top establishments <br />
                                            across the board is now in its 17th year.  We are inviting establishments to enter the programme, as well as <br />
                                            sending out an invite to all travellers to rate their stays and travel experiences. <a href="/index.php?p=awards_invite" target="_blank" class="style16">Click here for details</a></p>
<p align="center" class="style20"><a href="http://www.accommodationawards.co.za" target="_blank" class="style16">AA Travel Guides American Express&reg; Accommodation 2009 Results </a></p>
                                              <p align="center" class="style20">The <a href="http://www.essentialtravelinfo.com/sa_school_calendar_2010.html" class="style16">2010 School Calendar</a> has been finalised. Have a look <a href="http://www.essentialtravelinfo.com/sa_school_calendar_2010.html" class="style16">here</a></p>
                                              <p align="center" class="style20">When embarking on a road journey through South Africa, knowing the the latest <a href="http://www.essentialtravelinfo.com/road_toll_tariffs.html" class="style16">Toll Road fees</a> will help you plan ahead <br />
                                                and budget your trip that much easier. For an updated list of South African Toll Road Tariffs <a href="http://www.essentialtravelinfo.com/road_toll_tariffs.html" class="style16">click here</a> <br />
                                                <br />
                                            Flying from <a href="http://www.essentialtravelinfo.com/flights/fly_johannesburg_to_cape_town.html" class="style16">Johannesburg to Cape Town</a>? Find the best prices on local and international flights<a href="http://www.essentialtravelinfo.com/flights/fly_johannesburg_to_cape_town.html" class="style16"> here</a></p></td>
											<td style='background-image: url(/images/Special_cr.gif)'></td>
										</tr>
										<tr>
											<td><img src='/images/Special_bl.gif' width='24' height='22'></td>
											<td><img src='/images/Special_bc.gif' width='572' height='22'></td>
											<td><img src='/images/Special_br.gif' width='22' height='22'></td>
										</tr> 
									</table> 
								</td>
							</tr>
						</table><br>
					</td> <!-- block (close) -->
				</tr>
				<tr>
					<td>
						<div class=adT>
							<!--JavaScript Tag // Tag for network 567: 365 Digital / Primedia Online // Website: AA Travel Guide // Page: Homepage // Placement: Homepage-bottom-468 x 60 (2116377) // created at: Jun 17, 2009 11:13:22 AM-->
							<script language="javascript">
							<!--
							if (window.adgroupid == undefined) {
								window.adgroupid = Math.round(Math.random() * 1000);
							}
							document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn|3.0|567|2116377|0|113|ADTECH;loc=100;target=_blank;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
							//-->
							</script><noscript><a href="http://adserver.adtech.de/adlink|3.0|567|2116377|0|113|ADTECH;loc=300" target="_blank"><img src="http://adserver.adtech.de/adserv|3.0|567|2116377|0|113|ADTECH;loc=300" border="0" width="468" height="120"></a></noscript>
							<!-- End of JavaScript Tag -->
						</div>
					</td>
				</tr>
			</table>
		</td> <!-- col 1 (close) -->
		<td> <!-- col 2 -->
			<table cellpadding=0 cellspacing=0>
				<tr>
					<td> <!--  AA Mobile -->
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceA.gif'.width='202px' height='1px'></td>
							</tr>
							<tr valign=top>
								<td><img src='/images/spaceB.gif'.width='1px' height='240px'></td>
								<td style='background-image: url(/images/aa_mobility_background.gif); background-repeat: no-repeat; padding: 5px'><div style='font-weight: bold; font-size: 25pt; font-family: arial; text-align: center'>AA Mobility</div>
									<br><div style='font-family: arial; font-weight: bold; font-size: 9pt; text-align: center'>Exclusive to AA Members,<br>the online platform that offers:</div>
									<ul style='font-family: arial; font-size: 8pt; list-style-type: none;list-style-image: url(/images/arrow.png);'>
										<li> Exclusive Member benefits</li>
										<li>Up to 50% off on selected merchandise</li>
										<li>Wide range of partners</li>
										<li>AA Mobility magazine</li>
										<li>Travel discounts and packages</li>
									</ul>
									<div style='text-align: center; font-family: arial; font-size: 12pt; font-weight: bold'><a href='http://booktravel.travel/index.php?p=aa_mobility'>Read More...</a></div>
								</td>
							</tr>
						</table><br>
					</td> <!-- AA Mobile (close) -->
				</tr>
				<tr>
					<td> <!-- newsletter --> 
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceA.gif'.width='202px' height='1px'></td>
							</tr>
							<tr valign=top>
								<td><img src='/images/spaceB.gif'.width='1px' height='248px'></td>
								<td style='background-image: url(/images/subscribe_background.gif); background-repeat: no-repeat; padding: 5px'><div style='font-weight: bold; font-size: 25pt; font-family: arial; text-align: center; color: white'>Subscribe</div>
									<br><div style='font-family: arial;  font-size: 8pt;  color: white'>Subscribe to our monthly newsletter and get great info sent straight to your inbox. Be the first to know about:<br></div>
									<ul style='font-family: arial; font-size: 8pt; list-style-type: none;list-style-image: url(/images/arrow.png); color: white'>
										<li> Specials</li> 
										<li>New Venues</li>
										<li>Theme Offers</li>
									</ul>
									<form action='/index.php?p=subscription' method=post>
									<table cellpadding=0 cellspacing=0 width=100%>
										<tr>
											<td style='font-family: arial;  font-size: 6pt;color: white; font-weight: bold'>Email</td>
										</tr>
										<tr>
											<td><input type=text name=email style='width: 100%'></td>
										</tr>
										<TR STYLE='height: 7px'>
											<TD></TD>
										</TR>
									</table>
									<div style='text-align: center'><input type='image' src='/images/subscribe_submit.gif'></div>									
									</form>
								</td>
							</tr>
						</table><br>
					</td> <!-- newsletter (close) -->
				</tr>
				<tr>
					<td> <!-- awards -->
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr>
								<td></td>
								<td><img src='/images/spaceA.gif'.width='202px' height='1px'></td>
							</tr>
							<tr valign=top>
								<td><img src='/images/spaceB.gif'.width='1px' height='248px'></td>
								<td style=''><a href='http://www.accommodationawards.co.za/' target='_blank'><img src='/images/accomodation_awards.gif' border=0></a>
								</td>
							</tr>
						</table><br>
					</td> <!-- awards (close) --> 
				</tr>
			</table>
		</td>
	</tr>
</table>
<table width=100% cellpadding=0 cellspacing=0 style='background-image: url(/images/venues.gif); background-repeat: no-repeat' height=181>
							<tr>
							  <td colspan=10 style='font-weight: bold; font-family: arial; font-size: 20px; padding: 10 0 0 18px'>Featured Establishments</td></tr>
							<tr>
								<td  align=center>
									<marquee behavior="scroll" direction="left" style='width: 800px; height: 135' id='nV' name='nV' scrollamount=3' onmouseover=stop() onmouseout=this.start() >
										<table id=estab_marque><tr valign=top>
										<td><a href='/accommodation/as2788_ashanti_guest_house.html'><img src='/res_images/AS2788A.jpg'  height=100 /><br>Ashanti Guest House<br>Germiston</a></td>
                                        <td><a href='/accommodation/ja9677_jagerhof_game_lodge.html' ><img src='/res_images/JA9677_20100202_7.jpg' height=100 /><br />Jagerhof Game Lodge<br />Port Elizabeth</a></td>
                                        <td><a href='accommodation/gl7760_glendas_guest_suites.html'><img src='/res_images/GL7760.jpg'  height=100 /><br>Glenda's Guest Suites<br>Midrand</a></td>
                                        <td><a href='/accommodation/188983_river_house_guest_lodge_malalane.html'><img src='/res_images/188983.jpg'  height=100 /><br>River House<br>Malalane</a></td>
                                        <td><a href='/accommodation/180402_reflections_guest_house.html'><img src='/res_images/180402.jpg'  height=100 /><br>Reflections Guest House<br>King William's Town</a></td>
                                        <td><a href='/accommodation/036417_chesham_house.html'><img src='/res_images/036417.jpg'  height=100 /><br>Chesham House<br>Hermanus</a></td>                                        
                                        <td><a href='/accommodation/071366_game_lodge_klein_bolayi__hoodia_health_hydro__spa.html'><img src='/res_images/071366.jpg'  height=100 /><br>Game Lodge Klein Bolayi<br>Messina</a></td>
                                        <td><a href='/accommodation/200443_the_cock_house.html'><img src='/res_images/200443.jpg'  height=100 ><br>The Cock House<br>Grahamstown</a></td>
                                       </tr></table>
								  </marquee>
								</td>
							</tr>
						</table>

