<head>
<link rel="stylesheet" href="template2.css">
<title>Information about AA South Africa</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">About AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>AA South Africa</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <p class="paragraphtext">For Everything Motoring from A-Z</p>
    <p class="paragraphtext">The Automobile Association of South Africa offers many and varied services to meet your motoring and travelling needs.</p>
    <p class="paragraphtext">The AA was formed in 1930. Its aim was to tackle motoring issues of national importance.</p>
     <p class="paragraphtext">AA services include roadside assistance, roadworthiness testing, up to date road information, maps and many others that are aimed at keeping the motorist and traveller moving.</p>
     <p class="paragraphtext">For more information view <a href="http://www.aa.co.za/" title="Automobile Association of South Africa" target="_blank" class="alinks">the official AA website</a>.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>