<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured assessment criteria</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Travel Guides - AA Quality Assured Accommodation</div>
	<div class="contentmainheading">
	  <h1>AA Travel Guides - AA Quality Assured Accommodation</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

 
    <!-- START main article text -->

  <p class="paragraphtext">When you visit an AA Quality Assured Accommodation establishment you are choosing a safe option. AA Quality Assured establishments are visited annually by a trained AA Assessor.</p>
<p class="paragraphtext">An establishment can have the status AA Recommended, AA Highly Recomended or AA Superior.</p>
<p class="paragraphtext"><a href="/index.php?p=quality_assured" class="alinks" title="AA Quality Assured Accommodation">Click here for the meaning of AA Quality Assurance</a></p>
<p class="paragraphtext">The criteria for Full AA Quality Assurance are based on standards developed by the AA's of New Zealand and Great Britain. They reflect international best practice and have been adapted for prevailing conditions in the South African hospitality industry.</p>
<p class="paragraphtext">Criteria differ for different types of accommodation.</p>
<p class="paragraphtext"><span class="inparagraphheading">Serviced Accommodation:</span> In order to join the programme, Serviced Establishments have to meet minimum standards in the following areas:</p>
<ul>
    	<li>Cleanliness</li>
        <li>Service and Hospitality - Guest Care</li>
        <li>Bedrooms - Guest Comfort</li>
        <li>Bathrooms, Shower Rooms and En-Suite Facilities</li>
        <li>Guest Meals - Food Quality</li>
        <li>Public Areas</li>
        <li>General Requirements</li>
    </ul>
    <p class="paragraphtext">Please <a href="http://booktravel.travel/index.php?p=join_aaqa" class = "alinks">contact us</a> to request a copy of the Quality Indicators that apply to your type of accommodation.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Caravan and Camping:</span> AA Quality Assured Accommodation also endorses Caravan and Camping Establishments. Such establishments, too, need to meet minimum standards of quality. These apply to the following areas:</p>
    <ul>
        <li>Staff Demeanour</li>
        <li>Cleanliness</li>
        <li>Maintenance</li>
        <li>Garden and Grounds</li>
      <li>Sites</li>
        <li>Services</li>
        <li>Public Areas</li>
        <li>Security</li>
        <li>Signage, etc.</li>
    </ul>
    <p class="paragraphtext">Please <a href="http://booktravel.travel/index.php?p=join_aaqa" class = "alinks">contact us</a> to request a copy of the Quality Indicators that apply to your type of accommodation.</p>
    

</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">South Africa Provinces:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
    	<li><a href="/index.php?p=gauteng" class="alinks">Gauteng</a></li>
        <li><a href="/index.php?p=eastern_cape" class="alinks">Eastern Cape</a></li>
        <li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
      <li><a href="/index.php?p=free_state" class="alinks">Free State</a></li>
        <li><a href="/index.php?p=northern_cape" class="alinks">Northern Cape</a></li>
    </ul>
    
    <div class="contentrightheading">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/" class="alinks" title="Accommodation in South Africa">Accommodation in South Africa</a></li>
    	<li><a href="/specials/south_africa/" class="alinks">Specials in South Africa</a></li>
    </ul>
    
    <div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=southern_africa" class="alinks">Southern Africa</a></li>
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	<div class="contentrightheading">Popular Destinations and Towns:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/index.php?p=cape_town" class="alinks">Cape Town</a></li>
    	<li><a href="/index.php?p=johannesburg" class="alinks">Johannesburg</a></li>
      <li><a href="/index.php?p=durban" class="alinks">Durban</a></li>
        <li><a href="/index.php?p=cape_garden_route" class="alinks">Garden Route</a></li>
    	<li><a href="/index.php?p=kruger_park_mpumalanga" class="alinks">Kruger Park</a></li>
        <li><a href="/index.php?p=drakensberg_kzn" class="alinks">Drakensberg</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>