<head>
<link rel="stylesheet" href="template2.css">
<title>The AA Quality Assured Accommodation Programme</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">About AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>AA Quality Assured Accommodation Programme</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->
  <p class="paragraphtext">In advertising there is nothing that is quite as effective as a well-known brand. A brand that is entrenched in the psyche of the consumer brings about feelings of trust, comfort and peace of mind. The <a href="/index.php?p=aa_south_africa">AA brand</a> is such a brand, one of the most recognisable in South Africa.</p>
  <p class="paragraphtext">AA Travel Guides also runs a successful accommodation website, as well as an Accommodation Awards
Programme.</p>
  <p class="paragraphtext">The AA Quality Assured Programme makes it possible for you to market your property in association with this AA brand.</p>
  <p class="paragraphtext">Below are some of the most frequently asked questions about being endorsed by the AA.</p>
  <p class="paragraphtext"><span class="inparagraphheading">Frequently Asked Questions</span></p>
  <p class="paragraphtext"><em><strong>What do I have to do to become AA Quality Assured?</strong></em><br />
  The process to become an AAQAA member is simple:</p>
  <ul><li>Request documentation from us - see the <a href="http://booktravel.travel/index.php?p=join_aaqa" class="alinks">Join Now page</a></li>
  <li>Return the completed Application Form and return it to us</li>
  <li>We will acknowledge receipt of your application, and an assessor will be assigned to you who will arrange to visit your establishment.</li>
  </ul>
  <p class="paragraphtext"><em><strong>What are the rules and regulations?</strong></em><br />
  We have standard terms and conditions that govern the use of the registered trademarks, notice periods etc. The application form includes these terms and conditions and signature of the application form indicates acceptance of same.</p>
  <p class="paragraphtext">Once you have received a visit and the report has been submitted by the assessor to head office and cleared by<br />
    the Committee, you are accepted in to the system and your renewal month is the month in which you were first<br />
    visited. AA Quality Assurance is valid for a year. You will be sent a renewal letter 2 months before your renewal<br />
    month. If your renewal month is say May then you may be visited any time from 1st April through to 30th June in<br />
    all subsequent years. If you are not visited and do not pay for your renewal by the end of the month following<br />
    your renewal month in any year then your membership of the programme lapses and you are required to cease<br />
    making use of the endorsement.</p>
  <p class="paragraphtext"><em><strong>What are the costs involved?</strong></em><br />
  When joining the programme an initial once off joining fee of R285 is payable. This fee covers all administration required to include your establishment in our programme. Thereafter, the annual membership fees vary, depending on the size of your property. Please request our application form as explained on the <a href="http://booktravel.travel/index.php?p=join_aaqa" class="alinks">Join Now page</a>.</p>
  <p class="paragraphtext"><em><strong>What do assessors look for?</strong></em><br />
  The criteria for Full AA Quality Assurance are based on standards developed by the AA's of New Zealand and Great Britain. They reflect international best practice and have been adapted for prevailing conditions in the South African hospitality industry.</p>
  <p class="paragraphtext">We have indicators rather than criteria and they differ for different types of accommodation. It is important to
note that AA Quality Assured indicators are not rigidly prescriptive in all areas. There are minimum requirements
that must be met and thereafter the offering as a whole is considered. For example, it is not a requirement that
there be television sets in all the bedrooms to attain AA Superior status. Many game lodges offering superb
facilities and exceptional hospitality do not have televisions in the rooms as this detracts from the nature-based
experience.</p>
  <p class="paragraphtext">Please <a href="http://booktravel.travel/index.php?p=join_aaqa" class = "alinks">contact us</a> to request a copy of the Quality Indicators that apply to your type of accommodation.</p>
  <p class="paragraphtext"><em><strong>What happens once I've been visited by an assessor?</strong></em><br />
  The committee will, based on recommendations made by the assessor, award you an AA Quality Assured status. The committee usually meets once per fortnight and thereafter you will be notified of the committee's findings in writing.</p>
  <ul>
  <li>On request, you will receive a printed certificate reflecting your AA Quality Assured status in the post</li>
  <li>You will receive an electronic version of the relevant logo to use on your letterheads, brochures, advertisements, website, quotations, invoices and when you exhibit at expos.</li>
  <li>You will receive a questionnaire that we ask you to complete in order for us to create a basic listing for your establishment on our website</li>
  <li>You will receive your login details to access our administration system in order to load your own content onto the basic listing that has been created for your establihsment on <a href="booktravel.travel">booktravel.travel</a>. </li>
  <li>We recommend that you order signage to display outside your property which should assist in gaining you drive by business.</li>
  </ul>

  <p class="paragraphtext"><em><strong>How long does it last? Do I have to apply every year? </strong></em><br />
  AA Quality Assurance is renewable annually. Prior to the anniversary of your entry date you will receive a renewal notification by e-mail. Payment of your annual fee constitutes a renewal and you need not apply again. Once you are a full member, we assume you want to remain a member unless you notify us 3 months in advance in writing. </p>
  <p class="paragraphtext">For more information please:</p>
  <ul>
  <li>email <a href="mailto:quality@booktravel.travel">quality@booktravel.travel</a></li>
  <li> or call 011 713-2000</li>
  </ul>
  <p>Click here to sign up for the <a href="/index.php?p=trade_emails">AA Quality Assured Accommodation Trade newsletter</a>.</p>
  
</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>