<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured Accommodation Directory</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Travel Guides Publications</div>
	<div class="contentmainheading">
	  <h1>AA Quality Assured Accommodation Directory</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext"><img src="../images/directory-2011-cover.jpg" style="float: right; margin: 2px 3px; border: 0pt none;" border="0" width="181" height="251" />The previous Hotel Lodges and Self Catering Guides have been replaced by a new publication: the AAQA Accommodation Directory. This is great news for our
full QA members, who will each now enjoy a complementary basic listing in this new Directory book. This new A5 publication is designed specifically for the Travel Trade.</p>
  <p class="paragraphtext">The limited print run of 10 000 copies in each edition will reach 4000 Travel Agents and tour operators as well as the overseas and local Travel Trade who visit the Tourism INDABA. Copies will also be distributed to participating establishments.</p>
  <p class="paragraphtext">Any establishment who is not a full AA Quality Assured Accommodation establishment, no longer qualifies to advertise in our publications. To ensure the quality of our publications meets the endorsement levels we offer, <strong><em>all advertisers need to be visited by our experienced AA Accredited Assessors</em></strong>. We can only assist establishments to better meet guest expectations when one of our experienced AA Accredited Assessors visits the property in person.</p>
   <p class="paragraphtext">For more information</p>
   <ul>
     <li>Please <a href="http://booktravel.travel/index.php?p=join_aaqa" class = "alinks">contact us</a> to request a copy of the AAQA Accommodation Directory Marketing information.</li>
   </ul>
   <p class="paragraphtext">If you are interested in <strong><em>advertising</em></strong> in the AA Quality Assured Accommodation Directory:</p>
   <ul>
   <li><a class="alinks" href="/index.php?p=contact">contact us</a> directly for any assistance</li>
   </ul>

  
  
   <p class="paragraphtext">If you are interested in <strong><em>purchasing</em></strong> a copy of the latest AA Quality Assured Accommodation Directory:</p>
   <ul>
     <li><a class="alinks" href="/index.php?p=buy_books">order a copy here</a></li>
   </ul>
   <p>&nbsp;</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>