<head>
<link rel="stylesheet" href="template2.css">
<title>Aardklop</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Aardklop</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/aardklop.jpg" title="Aardklop" width="450" height="285" hspace="5" vspace="5">Aardklop</div>
    
    <p class="paragraphtext">Aardklop, held every year in late September/early October in the academic city of <a href="/index.php?p=potchefstroom">Potchefstroom</a> in the <a href="/index.php?p=north_west">North West province</a> of South Africa, is an Afrikaans arts and culture festival and exciting tourist destination that is an absolute must on any adventurous traveller&rsquo;s itinerary.</p>
    <p class="paragraphtext">Potchefstroom is located on the Highveld, situated on the banks of the Mooirivier (Afrikaans for &lsquo;pretty (or beautiful) river&rsquo;) and roughly 120km west-southwest of <a href="/index.php?p=johannesburg">Johannesburg</a> and 45km east-northeast of <a href="/index.php?p=klerksdorp">Klerksdorp</a>. Only one to two hours&rsquo; drive from Johannesburg, it is easily accessible and ideal for a day trip.</p>
    <p class="paragraphtext">For visitors to South Africa, &lsquo;Afrikaans&rsquo; is one of South Africa&rsquo;s 11 official languages and the Afrikaner culture is a culturally rich and vibrant subsection of our diverse populace.</p>
    <p class="paragraphtext">This cultural festival incorporates theatre, dance, music, cabaret, and visual arts, and also hosts a large crafts market and stages open-air performances by many of South Africa&rsquo;s most popular bands. The festival is held in a variety of venues in and around the town and transport (mostly taxis) is readily available.</p>
    <p class="paragraphtext">South Africans will know what to expect in the way of food when visiting Aardklop. For those who don&rsquo;t know or who are unfamiliar with Afrikaans culture, expect to be treated to meat. A lot of it. And most of it cooked over an open flame. Braaivleis (barbecued meat) is a well-loved Afrikaans and South African tradition. It is actually something of an art form, as you&rsquo;ll discover when tasting the meat delicacies found pretty much everywhere at Aardklop. Vegetarians beware &ndash; you might receive a few strange looks if you request a Roquefort salad.</p>
    <p class="paragraphtext">Another well-loved tradition (strictly for those with a strong stomach and who are over 18 years old) is mampoer. Mampoer is usually home-distilled peach or fruit brandy but it comes in a variety of forms these days. Usually extremely strong in alcohol content, mampoer is not for the faint-hearted. A particularly nice mampoer, sampled by this writer at a recent trip to the Aardklop festival, is the chilli mampoer found at one of the many stalls in the crafts market. The huge red chilli floating in the bottle screams, &ldquo;Danger!&rdquo; but the mampoer itself is quite pleasant.</p>
    <p class="paragraphtext">The OppiAarde (loose translation: &lsquo;on the earth&rsquo;) music festival is one of the main attractions for the many students and young people who attend Aardklop. The festival attracts some of the biggest rock acts in South Africa, as well as the new up-and-coming bands, and it is thus always well attended. If you enjoy the busy, loud, hustle and bustle of a live rock show, make your way over to the cricket grounds for OppiAarde. If you prefer some quiet time, you&rsquo;ll be sure to find a comfortable spot to take a load off and enjoy a meal or a drink in the market, or you could venture into town to see an amateur theatre production. You will certainly not be starved for entertainment at Aardklop.</p>
    <p class="paragraphtext">For visitors to South Africa or non-Afrikaans speakers, it could be a great idea to take an Afrikaans phrasebook with you to Aardklop or learn a few key phrases beforehand. Don&rsquo;t worry if you sound strange attempting some of the pronunciations at first &ndash; speaking the Aardklop lingo will certainly endear you to the locals and to the Afrikaans population as a whole.</p>
    <p class="paragraphtext"><em><strong>Aardklop Physical Location</strong></em><br />
      Martin Street, between Robinson and Carrington Streets, <a href="/index.php?p=potchefstroom">Potchefstroom</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Aardklop</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Accommodation in Potchefstroom</a><a href="/index.php?p=malalane"></a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Accommodation in Klerksdorp</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.640708,27.161636&amp;spn=0.214812,0.480652&amp;z=11&amp;iwloc=0004b88743db64f455a64&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.640708,27.161636&amp;spn=0.214812,0.480652&amp;z=11&amp;iwloc=0004b88743db64f455a64&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Potchefstroom</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Klerksdorp</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>