<head>
<link rel="stylesheet" href="template2.css">
<title>AA Travel Guides Accommodation Awards Programme</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Quality Assured Accommodation Awards</div>
	<div class="contentmainheading">
	  <h1>AA Quality Assured Accommodation Awards Programme</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  <p class="paragraphtext"> As the longest running accommodation awards programme in South Africa, this consumer-based programme is known for identifying and awarding the best tourist accommodation establishments in South Africa, thereby giving them a huge marketing advantage. </p>
  <p class="paragraphtext"><a href="http://www.accommodationawards.co.za/entry-form" target="_self" title="2012 Entry Form"><img src="../images/download-entry-form.jpg" style="float: right; margin: 2px 3px; border: 0pt none;" border="0"></a><strong>We are delighted to launch the newly restructured AA Quality Assured Accommodation Awards Programme.</strong></p>
  <p class="paragraphtext">The changes are as follows:</p>
  <ol>
  <li>Only <strong>AA Quality Assured members</strong> are eligible to participate.</li>
  <li>Categories have been harmonised with AA Quality Assured categories hence similar establishments compete. To see the full list of categories please go to <a href="/index.php?p=categories" class="alinks">booktravel.travel/categories</a>.</li>
  <li>The structure of the awards process has been completely altered to include a <strong>Regional and National level</strong>. The first round will be categories per Province. In the second round, the Provincial Winners become the Finalists at National level.</li>
  <li>The timing has altered and the awards evening takes place in August 2012 in Johannesburg on the night before the <strong>Getaway Show</strong> opens to coincide with Tourism Month.</li>
  <li>The methods of participation are as follows:</li>
  	<ul>
    <li><strong>Electronic Feedback:</strong> Submit guest reviews directly into the Guest Review section on the establishment's complimentary webpage on <a href="/" class="alinks">booktravel.travel</a></li>
    <li><strong>AA Guest Review forms</strong></li>
    <li><strong>Electronically via an aPad</strong>, a Digital Guest Book. Guests use this device to enter their Guest Reviews via a touch screen and easy to use interface.</li>
    <li><strong>Electronically via eGuestSurv Reviews</strong></li>
    </ul>
  </ol>
  
<p class="paragraphtext">Note that we do need to receive your application form indicating that you are participating. </p>
<ul>
	<li>Read the <a href="http://www.accommodationawards.co.za/faq" class="alinks" target="_blank">Accommodation Awards Frequently Asked Questions</a>.</li>
    <li>Visit <a href="http://www.accommodationawards.co.za" class="alinks">www.accommodationawards.co.za</a> to view the latest results and updates.</li>
	<li>Kindly email <a href="mailto:awards@booktravel.travel" class="alinks">awards@booktravel.travel</a> for more information</li>
</ul>
<p class="paragraphtext"><span class="inparagraphheading"><img src="../images/SAB-2011-cover.jpg" style="float: right; margin: 2px 3px; border: 0pt none;" border="0" width="136" height="210" />South Africa's Best:</span> Once you are a semi finalist or better in the AA Quality Assured Accommodation Awards  you have the opportunity to participate in South Africa 's Best. This is a compact high circulation publication with an excellent track record for getting response.</p>
<p class="paragraphtext">There is an index of establishments and all awards results are published at the front of the guide.</p>
<p class="paragraphtext">Members of the <strong>Hall of Fame</strong> and winners are featured at the front of the guide. </p>
<p class="paragraphtext">If you are an achiever in the awards programme your status is listed in the results section at the front of South Africa's Best. There is no obligation to advertise in the main body. However past achievers report an excellent result from full participation in this publication. Any establishment which has been a winner for 3 years in a row moves to the Hall of Fame for 2 years and does not enter the programme during this time. Thereafter the establishment may enter again and may choose whether to remain in the Hall of Fame based on guest feedback or to enter a general category again. </p>
<p class="paragraphtext">Gold Achievers are selected based on research done with the inbound travel trade and the major operators sending tourists to South Africa from the UK and Germany. A maximum of 30 gold achievers are selected in any one year. The contenders are the well known names which market themselves mainly to the international travel trade and overseas guests.</p>

</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>