<head>
<link rel="stylesheet" href="template2.css">
<title>Contact AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">About AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>How to use the admin section</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <p class="paragraphtext"> Once you receive the email you will have your login details. The first time you go in we will ask you to click on a link which ensures you will receive emails from us. Note you can unsubscribe at any time. We promise not to bug you but we do want to be able to keep you updated on company news and industry matters which affect accommodation establishments.</p>
    <p class="paragraphtext"> Once you have done that you will be able to select the Guest Reviews or the Establishment Manager. Use <strong>Guest Reviews</strong> to see the reviews added to our site by your guests. We recommend you ask your happy clients to add feedback. Feedback is approved for the web by our quality assurance department if it is positive. Negative feedback is sent to you to respond to. If you do not respond to negative feedback and resolve issues raised by your unhappy guests within a month then that too will be added to the site. Use this section to add your own comments to any feedback published. </p>
    <p class="paragraphtext"> When you go in to <strong>Establishment Manager</strong>, you see a series of headings. Click on each one to expand the section. </p>
    <p class="paragraphtext"> <strong>Establishment details</strong> - Apart from the name of your establishment, most of this information is for administration purposes only. Note that if you are on Nightsbridge you type in your BBID here as a 5 digit number. You also have to go in to the backend on Nightsbridge and opt in to booktravel.travel . </p>
    <p class="paragraphtext"> Under <strong>Contact Details</strong> you can add as many contact details that are appropriate - particularly if you want us to know who is the right person for proofs, accounts, reservations, central reservations and other management as in larger hotels. </p>
    <p class="paragraphtext"> In the <strong>Descriptions</strong> section you can key in a 40 word description - similar to what we publish in our printed guides. This is no longer the whole description. We use this content on the area pages that link to your detailed listing. On your detailed listing we encourage you to publish far greater detail. There is no limit but practically if text is between half a page and a page that is fine. </p>
    <p class="paragraphtext"> <strong>Pricing</strong> - Please enter your pricing. You can enter as much detail as you feel is necessary. We will be upgrading this section some more over the next few months. </p>
    <p class="paragraphtext"><a href="http://admin.booktravel.travel/juno/" class="alinks" title="AA Travel Guides Products">Login to AA Travel Guides' admin system</a>.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>