<head>
<link rel="stylesheet" href="template2.css">
<title>Affiliates</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">About AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>Affiliates</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <p class="paragraphtext"><span class="inparagraphheading">AA Travel Guides</span> promotes Quality Assured Accommodation in South Africa through our website and printed publications. We are affiliated with the following organizations.</p>
    <p class="paragraphtext"><img src="../images/footer-atta.jpg" title="ATTA" width="209" height="93" hspace="0" vspace="0" border="0" align="left"><span class="inparagraphheading">ATTA</span> is the African Travel and Tourism Association. They are committed to advancing Tourism to Africa. They promote the tourism products of members with destinations within Africa and the   Indian Ocean Islands.</p><p>
      <a href="http://www.atta.travel/" class="alinks" target="_blank">www.atta.travel</a></p>
      <hr />
      <p></p>
    <p class="paragraphtext"><img src="../images/footer-asata.jpg" title="ASATA" width="209" height="93" hspace="0" vspace="0" border="0" align="left"><span class="inparagraphheading">ASATA</span> The Association of South African Travel Agents, simply known as               ASATA, was formed in 1956. Its founders created a representative               forum in the industry to promote professional service with security               for both Members and their clients. ASATA&rsquo;s emphasis is on free trade without violating rules and               regulations.</p><p>
      <a href="http://www.asata.co.za" class="alinks" target="_blank">www.asata.co.za</a></p>
      <hr />
    <p class="paragraphtext"><img src="../images/footer-fedhasa.jpg" title="FEDHASA" width="209" height="93" hspace="0" vspace="0" border="0" align="left"><span class="inparagraphheading">FEDHASA</span> is the Federated Hospitality Association of Southern Africa. Since 1949 Fedhasa has been representing the South African  Hospitality  Industry on a local, Provincial, national and global level to   protect the interests of all stakeholders of the industry, thereby   enabling members to achieve their objectives. FEDHASA seeks to grow an inclusive hospitality industry by providing a   unified voice to enhance and promote the development and growth of a   sustainable South African hospitality trading environment. <a href="http://www.fedhasa.co.za" class="alinks" target="_blank">www.fedhasa.co.za</a></p>
      <hr />
      <p class="paragraphtext"><img src="../images/footer-satsa.jpg" title="SATSA" width="209" height="93" hspace="0" vspace="0" border="0" align="left"><span class="inparagraphheading">SATSA</span> is the Southern Africa Tourism Services Association. SATSA is a member-driven, non-profit association representing the private sector. SATSA offers the inbound tourism industry unequalled opportunities for networking. SATSA represents Transport providers, 
        Tour Operators, 
        Destination Management Companies, 
        Accommodation Suppliers, 
        Tourism Brokers, 
        Adventure Tourism Providers, 
        Business Tourism Providers and 
      Tourism Services providers.<br />
      <a href="http://www.satsa.com" class="alinks" target="_blank">www.satsa.com</a></p>
      
      <hr />
      
      <p class="paragraphtext"><img src="../images/footer-tbcsa.jpg" title="TBCSA" width="209" height="93" hspace="0" vspace="0" border="0" align="left"><span class="inparagraphheading">TBCSA</span> The Tourism Business Council of South Africa is the official umbrella organisation for the   	Travel and Tourism private sector in South Africa.  Our mandate is to represent Travel and   	Tourism and be a conduit with the public sector.    	We seek to lobby and positively influence government policies and decisions in the interest of the Travel and Tourism sector.</p><p>
      <a href="http://www.tbcsa.travel" class="alinks" target="_blank">www.tbcsa.travel</a></p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>