<head>
<link rel="stylesheet" href="template2.css">
<title>National Afrikaans Literature Museum and Research Centre</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading fs">Free State Points of Interest</div>
	<div class="contentmainheading">
	  <h1>National Afrikaans Literature Museum and Research Centre</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/afrikaans_lit_museum.jpg" title="Afrikaans Literature Museum" width="450" height="320" hspace="5" vspace="5">National Afrikaans Literature Museum and Research Centre in Bloemfontein</div>
    
    <p class="paragraphtext">The beautiful city of <a href="/index.php?p=bloemfontein">Bloemfontein</a>, a flowery oasis in the middle of the dry <a href="/index.php?p=free_state">Free State Province</a> of <a href="/index.php?p=south_africa">South Africa</a>, is home to a rich Afrikaans cultural attraction &ndash; the endlessly fascinating National Afrikaans Literature Museum and Research Centre (or the 'Afrikaanse Letterkundige Museum en Navorsingsentrum').</p>
    <p class="paragraphtext">Located on the lovely, tree-lined President Brand Street, the museum and research centre's focus is on the birth, development, and celebration of Afrikaans as one of the Rainbow Nation's eleven official languages.</p>
    <p class="paragraphtext">The absorbing National Afrikaans Literature Museum and Research Centre is housed in the Old Government Building, a splendid Cape Dutch structure that was designed by the famous architect Sir Herbert Baker (who also designed the <a href="/index.php?p=union_buildings">Union Buildings</a> in <a href="/index.php?p=pretoria">Pretoria</a> and many other attractive South African buildings). It contains over a million items pertaining to the Afrikaans language and its literature, including books, manuscripts, media clippings, magazines and periodicals, programmes, posters, various works of art, audio-visual material, and fascinating pieces belonging to well-known Afrikaans writers. The original transcription of 'Die Stem van Suid-Afrika' is possibly the highlight of the museum. 'Die Stem van Suid-Afrika' ('The Call of South Africa') was South Africa's national anthem from 1957 to 1994. An excerpt from 'Die Stem van Suid-Afrika' is now sung as a verse in the joint national anthem of South Africa, alongside 'Nkosi Sikelel' iAfrika' (which means 'Lord Bless Africa' in Xhosa).</p>
    <p class="paragraphtext">Originally housing the government of the Republic of the Orange Free State in the 1800s, the National Afrikaans Literature Museum and Research Centre building was initially a single storey building with a clock tower, but a second storey was added after a devastating fire in 1908. The clock in the original clock tower still chimes on the hour, every hour, to this day. The huge trees surrounding the building were planted by former presidents of the Republic of the Orange Free State and other prominent statesmen of the time. The majestic statue at the entrance to the building is of President Brand who is known to many Afrikaners as 'die vader van die volk' or 'the father of the nation'. The statue faces Maitland Street, the main street of the Bloemfontein CBD.</p>
    <p class="paragraphtext"><em><strong>Afrikaans Literature Museum Physical Location</strong></em><br /> 
    Pres Brand Street, between Elizabeth and St Andrews Streets, Bloemfontein</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Afrikaans Literature Museum</span><br />
  <a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Accommodation in Bloemfontein</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.114544,26.215203&amp;spn=0.006561,0.01502&amp;z=16&amp;iwloc=0004ae8a0d4b46e9152fe&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.114544,26.215203&amp;spn=0.006561,0.01502&amp;z=16&amp;iwloc=0004ae8a0d4b46e9152fe&amp;source=embed" style="color:#0000FF;text-align:left">Free State Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Bloemfontein</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>