<head>
<link rel="stylesheet" href="template2.css">
<title>Major Airports in South Africa</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>Major Airports in South Africa</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/airports.jpg" title="Airport" width="450" height="267" hspace="5" vspace="5">South Africa's Major Airports</div>
<p class="paragraphtext">There are a large number of major airports in South Africa that serve millions of air travellers each year.</p>
<ul>
  <li><a href="/index.php?p=port_elizabeth_airport">Port Elizabeth Airport</a> -  Eastern Cape</li>
    <li><a href="/index.php?p=east_london_airport">East London Airport</a> - Eastern Cape</li>
    <li><a href="/index.php?p=bloemfontein_airport">Bloemfontein Airport</a> - Free State</li>
    <li><a href="/index.php?p=lanseria_airport">Lanseria International Airport</a> - Gauteng</li>
    <li><a href="/index.php?p=or_tambo_airport">OR Tambo International Airport</a> - Kempton Park, Gauteng</li>
    <li><a href="/index.php?p=grand_central_airport">Grand Central Airport</a> - Midrand, Gauteng</li>
    <li><a href="/index.php?p=wonderboom_airport">Wonderboom Airport</a> - Pretoria, Gauteng</li>
    <li><a href="/index.php?p=king_shaka_airport">King Shaka International Airport</a> - La Mercy, KwaZulu-Natal</li>
    <li><a href="/index.php?p=margate_airport">Margate Airport</a> - Margate, KwaZulu-Natal</li>
    <li><a href="/index.php?p=cape_town_airport">Cape Town International Airport</a> - Western Cape</li>
    <li><a href="/index.php?p=george_airport">George Airport</a> - Western Cape</li>
    <li><a href="/index.php?p=pilanesberg_airport">Pilanesberg Airport</a> - North West</li>
    <li><a href="/index.php?p=kimberley_airport">Kimberley Airport</a> - Northern Cape</li>
    <li><a href="/index.php?p=polokwane_airport">Polokwane Airport</a> - Limpopo</li>
    <li><a href="/index.php?p=kruger_airport">Kruger Mpumalanga International Airport</a> - Nelspruit</li>
</ul>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>