<head>
<link rel="stylesheet" href="template2.css">
<title>Anglo Boer War Memorial</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Anglo Boer War Memorial</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/war_memorial.jpg" title="Anglo Boer War Memorial" width="450" height="334" hspace="5" vspace="5">Anglo Boer War Memorial near the Dutch Reformed Church</div>
    
    <p class="paragraphtext">The Anglo-Boer War Memorial is a majestic memorial that stands in the lovely town centre of <a href="/index.php?p=ermelo">Ermelo</a>, a stunning town located in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>. </p>
    <p class="paragraphtext">It commemorates the many lives that were lost during the Anglo-Boer War &ndash; a battle between two independent Boer republics and the British that raged from the 11th of October 1899 until the 31st of May 1902. The memorial is situated near Ermelo's exquisite Dutch Reformed Church.</p>
    <p class="paragraphtext">This conflict is known to most South Africans as the Anglo-Boer War. It is also known as the Second Boer War, the Boer War, the South African War (outside of South Africa), the Anglo-Boereoorlog ('Anglo-Boer War' in Afrikaans), Tweede Vryheidsoorlog ('Second War of Liberation' or 'Second Freedom War' in Afrikaans), or the Engelse Oorlog 'English War' in Afrikaans).</p>
    <p class="paragraphtext"><em><strong>Anglo Boer War Memorial Physical Address</strong></em><br />
      Corner of Kerk Str and Naude Str, <a href="/index.php?p=ermelo">Ermelo</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Anglo Boer War Memorial</span><br />
   	  <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/ermelo">Accommodation in Ermelo</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands" class="alinks">Accommodation in Grass and Wetlands</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=0&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-26.519419,29.98479&amp;spn=0.00336,0.00751&amp;z=17&amp;iwloc=0004b23bd53815d564092&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=0&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-26.519419,29.98479&amp;spn=0.00336,0.00751&amp;z=17&amp;iwloc=0004b23bd53815d564092&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/ermelo">Ermelo</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/piet_retief" class="alinks">Piet Retief</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/badplaas" class="alinks">Badplaas</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/wakkerstroom">Wakkerstroom</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/carolina" class="alinks">Carolina</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>