<head>
<link rel="stylesheet" href="template2.css">
<title>Arend Dieperink Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Arend Dieperink Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/arend_dieperink_museum.jpg" title="Arend Dieperink Museum" width="450" height="308" hspace="5" vspace="5">Arend Dieperink Museum in Potgietersrus (Mokopane)</div>
    
    <p class="paragraphtext">The Arend Dieperink Museum, a fascinating museum housed in an elegant old school building with a vibrant orange roof and lovely green lawns, is situated at 97 Thabo Mbeki Drive in the marvellous town of <a href="/index.php?p=potgietersrus_mokopane">Mokopane</a> in the <a href="/index.php?p=waterberg">Waterberg</a> region of the <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa.</p>
    <p class="paragraphtext">The museum boasts an invaluable collection of cultural and historical artefacts and reveals the town&rsquo;s and its stunning surrounds&rsquo; colourful history. The museum displays everything from the Australopithecus africanus at Makapansgat (our two to three million year old ancient ancestor) to spectacular San rock art to Voortrekker and Sotho artefacts to endlessly interesting Anglo-Boer War memorabilia to more current exhibits.</p>
    <p class="paragraphtext">Other intriguing exhibits and attractions include a replica of a bosveldhuis, the grave of Piet Potgieter (the Voortrekker leader who founded the town as &lsquo;Potgietersrus&rsquo; in the 1880s), the Makapansgat Caves through the Ages exhibit, and the outdoor display of vintage wagons, tractors, and farming implements.</p>
    <p class="paragraphtext">Exhilarating tours to the Makapansgat Caves depart from the Arend Dieperink Museum grounds.</p>
    <p class="paragraphtext"><em><strong>Arend Dieperink Museum Physical Location</strong></em><br />
      97 Thabo Mbeki Drive, <a href="/index.php?p=potgietersrus_mokopane">Mokopane</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Arend Dieperink Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/potgietersrus_%2528mokopane%2529">Accommodation in Potgietersrus (Mokopane)</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_%2528pietersburg%2529" class="alinks">Accommodation in Polokwane (Pietersburg)</a><a href="/index.php?p=malalane"></a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/waterberg/naboomspruit_%28mookgophong%29">Accommodation in Naboomspruit (Mookgophong)</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.177686,29.014893&amp;spn=0.027406,0.060081&amp;z=14&amp;iwloc=0004b523dda8a1928029f&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.177686,29.014893&amp;spn=0.027406,0.060081&amp;z=14&amp;iwloc=0004b523dda8a1928029f&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/potgietersrus_%2528mokopane%2529">Potgietersrus (Mokopane)</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_%2528pietersburg%2529" class="alinks">Polokwane (Pietersburg)</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/waterberg/naboomspruit_%28mookgophong%29">Naboomspruit (Mookgophong)</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>