<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Barberton, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Wild Frontier , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Barberton, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/barberton.jpg" title="Barberton" width="450" height="296" hspace="5" vspace="5">The quaint town of Barberton, Mpumalanga</div>
<p class="paragraphtext">Barberton is a quaint and beautiful little town nestled in the stunning De Kaap Valley and surrounded by the marvellous Makhonjwa Mountains in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>. A superb tourist destination, the area in which the town of Barberton is situated is rich in both South Africa's fascinating gold rush history and in truly mind-blowing scenery.</p>
    <p class="paragraphtext"> Situated just 43km south of <a href="/index.php?p=nelspruit_mbombela">Nelspruit</a> and 360km east of <a href="/index.php?p=johannesburg">Johannesburg</a>, Barberton is located in one of the most scenic regions in South Africa, perfect for outdoor and nature activities. The town is surrounded by numerous nature and game reserves, hiking trails, and picnic spots and the world-famous <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>, home to Africa's Big 5, is less than an hour's drive away. Barberton is also in close proximity (two hours' drive) to Maputo and Mbabane &ndash; the capital cities of <a href="/index.php?p=mozambique">Mozambique</a> and <a href="/index.php?p=swaziland">Swaziland</a> respectively.</p>
    <p class="paragraphtext"> Some of the oldest sedimentary rock formations and richest gold and silver deposits in the world are found in this valley and it was the scene of a great South African gold rush in the 1880s. For a landscape that was so dug up, destroyed, and devastated by gold diggers in times past, its recovery has been alarming. The bushveld is now blissful and beautiful and appears totally unspoilt by human endeavour &ndash; boasting a picturesque patchwork of indigenous mountain and riverine forests, sweeping savannah, and serene streams.</p>
  <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/barberton" class="alinks" title="Accommodation in Barberton">Find Accommodation in Barberton</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-barberton.jpg" title="Location of Barberton, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Barberton, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">The area surrounding Barberton is an adrenalin junkie's and exercise enthusiast's haven. The brave and the fit tackle all sorts of daring and exciting outdoor challenges &ndash; from paragliding and microlighting to 4x4ing, mountain biking, quad biking, and horse riding. For a more relaxing day outdoors, a round of golf or a game of bowls should hit the spot. Numerous 'heritage walk' signposts grace the streets of Barberton, while a number of hiking trails meander though the surrounding hills and valleys.</p>
    <p class="paragraphtext">Attractions in the town and its surrounds include Belhaven House (one of Barberton's most graceful old buildings and now a museum representing an Edwardian era home), the challenging Fortuna Mine Trail, the scenic <a href="/index.php?p=songimvelo_nature_reserve">Songimvelo Nature Reserve</a>, and the absolutely fascinating <a href="/index.php?p=sheba_mine">Sheba Mine</a> &ndash; one of the oldest working mines in the world.</p>
    <p class="paragraphtext">Home to the late Sir Percy Fitzpatrick, the esteemed author of Jock of the Bushveld, and depicted as the main character's hometown in Bryce Courtenay's The Power of One, Barberton also has a few rich literary associations.</p>
    
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/barberton" class="alinks" title="Accommodation in Barberton">Accommodation in Barberton</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=wild_frontier" class="alinks">Wild Frontier</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/wild_frontier/komatipoort" class="alinks">Komatipoort</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=malalane">Malalane</a></li>
        <li><a href="/index.php?p=swaziland" class="alinks">Swaziland</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>