<head>
<link rel="stylesheet" href="template2.css">
<title>The Battle of Blood River Re-enactment in Dundee, Battlefields - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">Battlefields , KwaZulu-Natal</div>
	<div class="contentmainheading">
	  <h1>The Battle of Blood River Re-enactment – Dundee</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/battlefields.jpg" title="The Blood River Monument commemorates the greatest war waged in the Battlefields" width="450" height="186" hspace="5" vspace="5">The Blood River Monument commemorates the greatest war waged in the Battlefields.<br />© South African Tourism</div>
    <p class="paragraphtext">Once again, Dundee, situated in the picturesque valley of the Biggarsberg Mountains in <a href="/index.php?p=kwazulu_natal" class="alinks" title="Information about KwaZulu-Natal">KwaZulu-Natal</a>, is host to an incredible spectacle – the interpretive exhibition of the Battle of Blood River. Held annually on the 16th of December (the Day of Reconciliation public holiday) since 2002, this is of huge cultural and historical significance to both the Afrikaaner and Zulu communities, and both, we are happy to report, are wholeheartedly represented.</p>
    <p class="paragraphtext">The site, named after a nearby river known as Bloedrivier in Afrikaans and Ncome in isiZulu, tells both sides of the story of this famous battle – to the east of this river is the Ncome Monument and Museum Complex and to its west is the Blood River Monument and Museum Complex. These monuments were lovingly built over the years to commemorate this major battle in South African history and have, more recently, been regarded as a sign of reconciliation.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/dundee/" class="alinks" title="Quality Accommodation in Dundee">Find Quality Accommodation in Dundee</a></li>
      </ul>
      <p class="paragraphtext">The interpretive exhibition commemorates the ‘confrontation’ between the Voortrekkers and amaZulu on the 16th of December 1838, which has had great social implications for both parties over the years, and thus for all South Africans. The museums and the re-enactment attract many visitors paying homage to their roots, but also many tourists looking to digest a flavourful slice of South African history.</p>
    <p class="paragraphtext">Besides the rich historical experience, interesting souvenir shops, fascinating museums, the stunning traditional dress on display (both Zulu and Voortrekker), the truly mind-blowing wagon fort (laager) consisting of 64 replica Voortrekker wagons cast in bronze and situated just as they were on that fateful day, the delicious traditional Afrikaans and Zulu dishes served at the cosy restaurants, the awe-inspiring antique armouries, the Zulu isisivivane (cairn) and reed garden, and, of course, the amazing re-enactment itself, visitors/tourists to the area will also get to soak up all of the fantastic sights and sounds that scenic KwaZulu-Natal has to offer. And with many superb AA Quality Assured guest houses and B&Bs in the area, there is no shortage of outstanding, comfortable, and, most importantly, welcoming accommodation for travellers from near and far.</p>
      <p class="paragraphtext">Experience the uniqueness of the cultures, of the food, of the landscape, and of this striking battlefield of old – now a peaceful, fascinating cultural travel destination.</p>
      <p class="paragraphtext">Book your accommodation at one of the delightful AA Quality Assured establishments in the area.</p>
      <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/dundee/" class="alinks" title="Quality Accommodation in Dundee">Find Quality Accommodation in Dundee</a></li>
        <li><a href="/index.php?p=battlefields" class="alinks" title="Information about the Battlefields">More information about the Battlefields</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading kzn">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/index.html" class="alinks" title="Accommodation in KwaZulu-Natal">Accommodation in KwaZulu-Natal</a></li>
    	<li><a href="/specials/kwazulu-natal_south_africa/" class="alinks">Specials in KwaZulu-Natal</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/index.php?p=battlefields" class="alinks">Battlefields</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-kzn.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading kzn">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/dundee/index.html" class="alinks">Dundee</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ladysmith/index.html" class="alinks">Ladysmith</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/newcastle/index.html" class="alinks">Newcastle</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greytown/index.html" class="alinks">Greytown</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/estcourt/index.html" class="alinks">Estcourt</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/rorkes_drift/index.html" class="alinks">Rorke's Drift</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/van_reenen/index.html" class="alinks">Van Reenen</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/weenen/index.html" class="alinks">Weenen</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>