<head>
<link rel="stylesheet" href="template2.css">
<title>Beitbridge</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Beitbridge</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/beitbridge.jpg" title="Beitbridge" width="450" height="300" hspace="5" vspace="5">Beitbridge over the Limpopo River<br />
  &copy; South African Tourism</div>
    
    <p class="paragraphtext">Located just 16km north of the lovely little town of <a href="/index.php?p=musina_messina">Musina</a>, the Beitbridge border post crosses the mighty Limpopo River from the northernmost reaches of the dry, hot, and splendidly scenic <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa to the beautiful Matabeleland province of <a href="/index.php?p=zimbabwe">Zimbabwe</a> (and vice versa). The Limpopo River forms the international boundary between South Africa and Zimbabwe. The road that runs over Beitbridge is the busiest road border post in Africa and one of the busiest in the world.</p>
    <p class="paragraphtext">Beitbridge was named after Alfred Beit who was one of the founders of the world-famous De Beers diamond company and a close business associate of Cecil John Rhodes, the famous mining magnate, politician, and founder of Rhodesia (now called Zimbabwe). </p>
    <p class="paragraphtext">The original Beitbridge, now used only for rail traffic, was constructed in 1929. The current Beitbridge, built in 1995 by the Zimbabwean government, accommodates far heavier traffic than the old bridge could handle.</p>
    <p class="paragraphtext">The town of Beitbridge (also known as Mzingwane) is located north of the Limpopo River in Matabeleland, Zimbabwe, a mere 1km from the Beitbridge border post. There are main roads from Beitbridge to Bulawayo and Harare &ndash; Zimbabwe&rsquo;s capital.</p>
    <p class="paragraphtext"><em><strong>Beitbridge Physical Location</strong></em><br />
      16km North of <a href="/index.php?p=musina_messina">Musina</a>.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Beitbridge</span><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks">Accommodation in Musina</a><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Accommodation in Thohoyandou</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-21.968519,30.179443&amp;spn=0.891495,1.922607&amp;z=9&amp;iwloc=0004b5269d08223cc75b7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-21.968519,30.179443&amp;spn=0.891495,1.922607&amp;z=9&amp;iwloc=0004b5269d08223cc75b7&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks">Musina</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Thohoyandou</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>