<head>
<link rel="stylesheet" href="template2.css">
<title>Belvidere Church</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Belvidere Church</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_belvidere_church.jpg" title="Belvidere Church" width="450" height="381" hspace="5" vspace="5">The quaint and beautiful Belvidere Church</div>
    
    <p class="paragraphtext">The Belvidere Church (or the Holy Trinity Church, Belvidere as it is also known) is one of <a href="/index.php?p=knysna">Knysna</a>'s most popular tourist destinations. Used mostly for weddings, christenings, ordinary church services, and other special occasions, the church building itself is the main tourist attraction, rich in the area's truly fascinating history.</p>
    <p class="paragraphtext">The tiny and quaint yet absolutely stunning building seats only about 20 people and its nave is only 5.3m wide. It was designed with the Norman churches of the 11th and 12th centuries in mind and was constructed entirely from sandstone and timber from the area. The stinkwood beams and ceilings are a beautiful sight indeed.</p>
    <p class="paragraphtext">The Belvidere Church was lovingly built as a result of the romance between Thomas Henry Duthie and his wife, Caroline. Thomas Henry Duthie was the founder of Belvidere, a small village that was initially a farm with its main house being Belvidere Manor, and Caroline was one of the famous George Rex's daughters (George Rex is regarded as the founder of <a href="/index.php?p=knysna">Knysna</a>). Once Mr and Mrs Duthie had settled into their fantastic new home, they decided that they required a little church to go along with it and, with (the newly appointed bishop of the Diocese of the Cape Colony) Robert Gray's permission, construction went ahead on the 15th of October 1851. This beautiful little church has stood ever since, used as a place of worship by parishioners and visited by interested tourists.</p>
    <p class="paragraphtext"><em><strong>Belvidere Church Physical Address</strong></em><br /> 
    Corner of Church and Queen Streets, Belvidere, Knysna</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the Belvidere Church</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Accommodation in Knysna</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.028335,23.013439&amp;spn=0.049793,0.120163&amp;z=13&amp;iwloc=0004a973a0f22adf78354&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.028335,23.013439&amp;spn=0.049793,0.120163&amp;z=13&amp;iwloc=0004a973a0f22adf78354&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Knysna</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>