<head>
<link rel="stylesheet" href="template2.css">
<title>Bloemfontein Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading fs">Free State Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Bloemfontein Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/bloemfontein_airport.jpg" title="Bloemfontein Airport" width="450" height="299" hspace="5" vspace="5">Bloemfontein Airport</div>
    
    <p class="paragraphtext">Bloemfontein Airport, located in the beautiful city of <a href="/index.php?p=bloemfontein">Bloemfontein</a> (known affectionately as 'the city of roses'), is the gateway to the lovely land-locked <a href="/index.php?p=free_state">Free State Province</a> of South Africa. Situated on the Thaba Nchu road a mere 8km from the Bloemfontein city centre and in close proximity to superb road and rail networks and major commercial areas, the airport couldn't be more conveniently placed.</p>
    <p class="paragraphtext">Bloemfontein Airport boasts excellent security, safety, and air traffic control facilities and is ideal for cargo shipments and business travel, with the city's commercial and industrial areas being located nearby. Shipments are briskly whisked away and business travellers get to their destinations in mere minutes. Bloemfontein Airport handles roughly 25 000 flights a year on its two runways (the main one being 2.5km long and 46m wide), delivering about 400 000 passengers flying from <a href="/index.php?p=johannesburg">Johannesburg</a>, <a href="/index.php?p=cape_town">Cape Town</a>, <a href="/index.php?p=durban">Durban</a>, and <a href="/index.php?p=port_elizabeth">Port Elizabeth</a> safely through its doors every year.<br />
    </p>
    <p class="paragraphtext">Like many others airports in South Africa, Bloemfontein Airport received a multimillion rand facelift in preparation for the immensely successful 2010 FIFA World Cup.</p>
    <p class="paragraphtext"><em><strong>Bloemfontein Airport Physical Location</strong></em><br /> 
    East Bloemfontein on the N8</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Bloemfontein Airport</span><br />
  <a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Accommodation in Bloemfontein</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ll=-29.073575,26.296463&amp;spn=0.105022,0.240326&amp;z=12&amp;iwloc=0004acbc556bfb14ea9c6&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ll=-29.073575,26.296463&amp;spn=0.105022,0.240326&amp;z=12&amp;iwloc=0004acbc556bfb14ea9c6&amp;source=embed" style="color:#0000FF;text-align:left">Free State Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Bloemfontein</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>