<head>
<link rel="stylesheet" href="template2.css">
<title>Blyde River Canyon</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Blyde River Canyon</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/blyde_river_canyon.jpg" title="Blyde River Canyon" width="450" height="368" hspace="5" vspace="5">The magnificent Blyde River Canyon<br />
      &copy; South African Tourism</div>
    
    <p class="paragraphtext">The beautiful Blyde River Canyon, situated in <a href="/index.php?p=mpumalanga">Mpumalanga</a> and forming the northern part of the Drakensberg escarpment, is a truly spectacular natural South African phenomenon. 26km in length and up to about 800m deep, the (mostly) red sandstone canyon's highest point is at Mariepskop which is 1 944m above sea level, while its lowest point, the point at which the Blyde River leaves the canyon, is roughly 560m above sea level.</p>
    <p class="paragraphtext">The Blyde River Canyon is one of the largest canyons in the world, the second largest in Africa (after the Fish River Canyon), and certainly one of the most stunning. Covered in lush subtropical flora and being home to some of the planet's deepest and prettiest precipitous cliffs, many marvellous cascading waterfalls, and delightfully diverse fauna, the canyon offers a wealth of truly dazzling panoramas, hence the name of the area &ndash; <a href="http://booktravel.travel/index.php?p=the_panorama">the Panorama Route</a>.</p>
    <p class="paragraphtext"><a href="http://booktravel.travel/index.php?p=gods_window">God's Window</a> and Wonder View offer truly magnificent views that are absolutely Eden-like in their purity. The Pinnacle, a single quartzite column rising from the deep, wooded canyon below is an utterly incredible sight. Formed by thousands of years of swirling water erosion, the Bourke's Luck Potholes are truly fascinating (and quite strange) geological formations. These cylindrical natural sculptures in the smooth yellow and red rock have graced many an ecstatic photographer's camera lens over the years. The 'Three Rondavels' (AKA the 'Three Sisters'), immense spirals of dolomite rock emerging triumphantly out of the Blyde River Canyon, are the cherry on top.</p>
    <p class="paragraphtext">One of the highlights of the Blyde River Canyon Nature Reserve, covering every wonderful wind and beautiful bend of the lovely river and canyon, is undoubtedly the fantastic Blyde River Canyon Hiking Trail. This challenging 65km, 5-day hiking adventure begins at God's Window at the southern side of the Blyde River Canyon and ends at Swadini in the north. The huts that are provided along the way are well-equipped with bunk beds, clean mattresses, cooking utensils, and ample firewood.</p>
    <p class="paragraphtext"><em><strong>Blyde River Canyon Physical Location</strong></em><br />
      North of <a href="http://booktravel.travel/index.php?p=graskop">Graskop</a>, in <a href="http://booktravel.travel/index.php?p=the_panorama">the Panorama</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Blyde River Canyon</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Accommodation in Graskop</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">Accommodation in The Panorama</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.434647,30.922394&amp;spn=0.437601,0.961304&amp;z=10&amp;iwloc=0004b2da75792e980c2f3&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.434647,30.922394&amp;spn=0.437601,0.961304&amp;z=10&amp;iwloc=0004b2da75792e980c2f3&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Graskop</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">The Panorama</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>