<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Bojanala, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bojanala , North West</div>
	<div class="contentmainheading">
	  <h1>Information about Bojanala, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/bojanala.jpg" title="The Bojanala Region is home to the Pilanesberg National Park, known for great game viewing" width="450" height="274" hspace="5" vspace="5">The Bojanala Region is home to the Pilanesberg National Park.</div>
    <p class="paragraphtext">The Bojanala Region lies in the northeast of this province and borders <a href="/index.php?p=gauteng" class="alinks" title="Information about Gauteng South Africa">Gauteng</a> and <a href="/index.php?p=limpopo" class="alinks" title="Information about Limpopo South Africa">Limpopo</a> province. A large part falls in the Bushveld basin, with its typical savannah bush vegetation, and it is a popular destination due to the wildlife reserves found here.</p>
    <p class="paragraphtext">The <a href="/index.php?p=pilanesberg_national_park">Pilanesberg National Park</a>, home to thousands of animals including the Big Five, is about two and a half hours from <a href="/index.php?p=johannesburg" class="alinks" title="Information about Johannesburg South Africa">Johannesburg</a>.</p>
    <p class="paragraphtext">Close by is the world-famous Lost City and <a href="/index.php?p=sun_city">Sun City</a> entertainment complex, which offers a variety of accommodation and activities for the whole family, as well as two internationally renowned golf courses.</p>
    <p class="paragraphtext">In the south of the region, the Magaliesberg area is well known for its adventure and outdoor activities, and the Vaalkop and <a href="/index.php?p=hartbeespoort_dam">Hartbeespoort Dams</a> offer watersport facilities.</p>
    <p class="paragraphtext">Of interest to visitors are the Crocodile and Rustenburg Rambles and the Magalies Meander, all of which feature a number of arts, crafts and curio outlets.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-bojanala.jpg" title="Location of Bojanala, North West, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Bojanala, North West, South Africa.</div>
    <p class="paragraphtext">The northwest of the region borders on the <a href="/index.php?p=madikwe_nature_reserve">Madikwe Game Reserve</a>, home to 66 large mammal species and spectacular bird life.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/north_west/bojanala/" class="alinks" title="Accommodation in Bojanala">Accommodation in Bojanala</a></li>
      </ul>
      <p class="paragraphtext">The city of Rustenburg is one of the nine host cities for the FIFA 2010 World Cup and now boasts a new soccer stadium, called the Royal Bafokeng.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/north_west/index.html" class="alinks" title="Accommodation in North West">Accommodation in North West</a></li>
    	<li><a href="/specials/north_west_south_africa/" class="alinks">Specials in North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=pilanesberg_national_park" class="alinks">Pilanesberg National Park</a></li>
      <li><a href="/index.php?p=rustenburg" class="alinks">Rustenburg</a></li>
      <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
      <li><a href="/index.php?p=hartbeespoort_dam" class="alinks">Hartbeespoort Dam</a></li>
      <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
        <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/north_west/buffelspoort_dam/index.html" class="alinks">Buffelspoort Dam</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>