<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured Bonsela Program</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Quality Assured Accommodation Bonsela Program</div>
	<div class="contentmainheading">
	  <h1>Bonsela Program</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

 
    <!-- START main article text -->

  <p class="paragraphtext">Travellers participating in the Bonsela  programme can win prizes linked to its loyalty programme.</p>
  <p class="paragraphtext"> Establishments will sign and   stamp blocks on a form, for every room night spent at their   establishment. eg. 2 rooms for 2 nights would equal 4 blocks being   signed. Once all 10 blocks on the sheet are completed the traveller   submits the form to our head office to enter a bi-annual holiday draw   which includes air fare, car hire and accommodation for two. </p>
  <ul>
   	  <li><a href="/downloads/AAQAA-Bonsela-Loyalty-Form.pdf" target="_blank">Download the Bonsela Loyalty Programme Form</a></li>
      <li><a href="/index.php?p=bonsela">Read more information about the Bonsela Programme</a>.</li>
  </ul>
    </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	
<!-- END right menus -->
</div>
</div>