<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured Bonsela Program</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Quality Assured Accommodation Bonsela Program</div>
	<div class="contentmainheading">
	  <h1>Bonsela Program</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

 
    <!-- START main article text -->

  <p class="paragraphtext">The program has been designed to incorporate three major brands within the travel industry, covering accommodation, air and road travel.</p>
<p class="paragraphtext">AA Quality Assured accommodation which offers the traveller total peace of mind when selecting where to stay, and empowers the traveller to make wise choices when they travel.</p>
<p class="paragraphtext">AA Quality Assured establishments benefit from the inspection by highly qualified assessors inspecting their establishments annually, in order that the endorsement issued is both meaningful to the establishment and most importantly meets or exceeds the guest's expectations.</p>
<p class="paragraphtext">AA Travel Guides has put together a program which will see participating establishments from their vast national client pool offering varied discounts ranging from 10 % upwards on accommodation. (other services may be included too in some cases)</p>
<p class="paragraphtext">Who can participate & how does the program work?</p>
<p class="paragraphtext"><span class="inparagraphheading">SA AIRLINK PASSENGERS; AVIS CLIENTS; AA SOUTH AFRICA, JET SAVE AND EDGARDS CLUB MEMBERS</span></p>
<ul>
    	<li>Any passenger flying on any <strong>SA Airlink</strong> flight as from 1 September 2011 may make use of their boarding pass or air ticket (within a six month period from date of the flight) in order to receive their discount.</li>
        <li>In the same way any person <strong>hiring an AVIS vehicle</strong> from 1 September 2011 will be able to make use of a copy of a signed AVIS rental agreement or copy of the AVIS invoice (within a six month period from date of vehicle hire) in order to receive their discount.</li>
        <li>All members of <strong>AA South Africa</strong> will receive the discount on presentation of their membership card.</li>
        <li>All members of <strong>Jet Save</strong> will receive the discount on presentation of their current membership 19 digit card number.</li>
        <li>All members of <strong>Edgards Club</strong> will receive the discount on presentation of their current Edgars Club Card.</li>
</ul>
    <p class="paragraphtext"><a class="alinks" href="http://booktravel.travel/accommodation/bonsela/southern_africa">View current Bonsela Discount Offers here</a>.</p>
    <p class="paragraphtext"><em><strong>Terms & Conditions and points to note:</strong></em> Discounts offered will vary from establishment to establishment and it is up to the traveller wishing to claim the discount to ascertain certain information when booking the accommodation.</p>
    <ol>
      <li>Is the establishment in question an AA Quality Assured PARTICIPATING establishment. (see website for details)</li>
      <li>To check what discount is being offered by that particular establishment and if the discount is on the accommodation only or also includes meals at the discounted rate.</li>
      <li>The discount offered will most probably be offered by most establishments only during off peak periods, but may vary from establishment to establishment.</li>
      <li>There is no limit to the number of people who may benefit from the discount offer providing it is linked to a (6 month) valid SA Airlink or AVIS document as described above, or providing the traveller is a current AA SA member, Jet Save member or Edgars Club member, and that the discounted offer is used during one uninterrupted stay at a particular participating establishment.</li>
      <li>Only one discounted stay at a participating establishment may be redeemed using that particular SA Airlink or AVIS document, or AA SA, Jet Save or Edgards Club Membership Card presentation, a copy of which will be retained by the establishment.</li>
      <li>The discounted offer from participating AA Quality Assured establishments will be valid for the duration of the program which will run from 1 September 2011 until 29 February 2012.</li>
      <li>With the validity of any of the qualifying criteria being for 6 months from the date of SA Airlink or AVIS travel and including AA SA, Jet Save and Edgards Club members, the discounts will be honoured by participating establishments until 31 August 2012. Any extension to the program will be communicated through all the appropriate SA Airlink; AVIS; AA SA; Jet Save; Edgards Club and AA Travel Guides channels.</li>
      <li>Additional BONSELA in the form of prizes linked to a loyalty program are included for participating travellers. Establishments will sign and stamp blocks on a form, for every room night spent at their establishment. EG. 2 rooms for 2 nights would equal 4 blocks being signed. Once all 10 blocks on the sheet are completed the traveller submits the form to our head office to enter a bi-annual holiday draw which includes air fare, car hire and accommodation for two. (<a href="/index.php?p=bonsela_loyalty_form">more info on the website</a>)</li>
    </ol>
    <p class="paragraphtext">For further information and for Quality Assured accommodation that meets or exceeds your expectations visit the AA Travel Guides web site today: <a href="http://booktravel.travel">booktravel.travel</a></p>
    <a href="http://www.flyairlink.com/"><img src="/images/bonsela-saairlink-small.png" width="114" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.avis.co.za/ppc.aspx?id=2030"><img src="/images/bonsela-avis-small2.jpg" width="103" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.aa.co.za/"><img src="/images/bonsela-aasa-small.png" width="129" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.jetclub.co.za/"><img src="/images/bonsela-jet-save-small.png" width="150" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.edgars.co.za/Edgars/Edgars_Clubs/Welcome/Welcome_Welcome.htm"><img src="/images/bonsela-edgars-club-small.png" width="124" height="42" hspace="0" vspace="0" border="0" /></a>

</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	
<!-- END right menus -->
</div>
</div>