<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Botswana - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Botswana</div>
	<div class="contentmainheading">
	  <h1>Botswana</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<p class="paragraphtext">The land-locked country of Botswana borders South Africa, Namibia and Zimbabwe. Botswana is a fascinating country, with interesting terrain and habitats, some of which include wonderful tourist attractions like the phenomenal Okavango Swamps, the Kalahari Desert and the famous Savuti area.</p>
    <div class="paragraphpictureright"><img src="../images/botswana.jpg" title="Botswana" width="450" height="283" hspace="5" vspace="5">Botswana</div>
	<p class="paragraphtext">There is a wide range of accommodation options at all of these areas to suit the needs of all travellers, from students on a shoe-string budget to those that can afford more luxurious accommodation.</p>
	<p class="paragraphtext">Other Botswana attractions include the Gcwhiba Caverns, also known as Drotsky's Cave, a cavern system with stalagtites and stalagmites that reach heights and lengths of up to 10m.</p>
	<p class="paragraphtext">Botswana is home to some of Africa's better known game reserves including Moremi, the Makgadikgadi Pans, the Central Kalahari Game Reserve and the Chobe National Park and in the south Botswana borders the Kgalagadi Transfrontier Park. These immense pieces of untouched wilderness make Botswana a magnificent place to visit, particularly if you are looking for a genuine African wildlife experience.</p>
    <p class="paragraphtext">The winter months from April through August are probably the best time to visit Botswana, as the days are temperate and the wildlife congregates at water sources, but be warned that it is a very busy time of the year as both the northern hemisphere as well as South African schools are on hoilday.</p>
          <p class="paragraphtext">Botswana has a very low population density and 1.5 million people live in an area the size of France. Being the largest single producer of diamonds in the world, Botswana has a stable political and economical system and as such is a true African success story. As luck would have it, three of the world's richest diamond mines were discovered shortly after the country gained independence from Britain in 1966.</p>
          <p class="paragraphtext">The national currency is the Pula, which is one of the more stable and valuable currencies on the continent. Please take note that the Botswana Department of Customs and Immigration no longer allows visitors to obtain visas at point of entry. All visas must now be pre-arranged for tourists who require a visa. These can be arranged with the Botswana High Commission  or from the British High Commission in countries where Botswana is not represented.</p>
          <p class="paragraphtext">Plan your ideal safari in Botswana, vist the Tuli Block, Moremi or Chobe. Combine this with an idyllic visit to the Okavango Swamps. Find accommodation wherever you go in Botswana - in Gaborone the main city as well as the towns of Francistown and Maun and in accommodation ranging from caravan and camping to hotels and luxury lodges.</p>
      <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/botswana/" class="alinks" title="Find Accommodation in Botswana">Find accommodation in Botswana</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">


  <!-- START right menus -->
  
<div class="contentrightheading">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/botswana/" class="alinks" title="Accommodation in Botswana">Accommodation in Botswana</a></li>
    	<li><a href="/specials/botswana/" class="alinks">Specials in Botswana</a></li>
    </ul>
    
    <div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=southern_africa" class="alinks">Southern Africa</a></li>
    	<li><a href="/index.php?p=botswana" class="alinks">Botswana</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	<div class="contentrightheading">Popular Destinations and Towns:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/botswana/gaborone/" class="alinks">Gaborone</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/botswana/francistown/" class="alinks">Francistown</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/botswana/okavango/" class="alinks">Okavango</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/botswana/kasane/" class="alinks">Kasane</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/botswana/serowe/" class="alinks">Serowe</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/botswana/tuli_block/" class="alinks">Tuli Block</a></li>
    </ul>
    

<!-- END right menus -->

</div>
</div>