<head>
<link rel="stylesheet" href="template2.css">
<title>Bourke's Luck Potholes</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Bourke's Luck Potholes</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/bourkes_luck_potholes.jpg" title="Bourke's Luck Potholes" width="450" height="333" hspace="5" vspace="5">Bourke's Luck Potholes<br />
      &copy; South African Tourism</div>
    
    <p class="paragraphtext">The magnificent <a href="/index.php?p=the_panorama">Panorama Route</a> in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a> is home to a mind-boggling wealth of spectacular natural attractions, including such famous landmarks as the <a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a>, <a href="/index.php?p=gods_window">God's Window</a>, the <a href="/index.php?p=three_rondavels">Three Rondavels</a>, and many more. The Bourke's Luck Potholes are undoubtedly one of the area's finest attractions.</p>
    <p class="paragraphtext">This natural (and most beautiful) water feature, formed over thousands of years by water erosion, marks the beginning of the stunning Blyde River Canyon &ndash; one of the largest canyons in the world and said to be the world's largest 'green canyon'.</p>
    <p class="paragraphtext">The Bourke's Luck Potholes occur at the confluence of the Treur and the Blyde rivers, about 35km north of <a href="/index.php?p=graskop">Graskop</a> on the R532. Over the eons the swirling, eddying, and plunging waters of the Treur River, waterborne sand and pebbles in tow, formed huge cylindrical potholes in the bedrock of the Blyde River. Mother Nature's vast forces left us with a truly stunning natural phenomenon &ndash; absolutely fascinating geological sculptures delightfully 'painted' in fantastic white, yellow, and reddish brown hues.</p>
    <p class="paragraphtext"><a href="http://booktravel.travel/index.php?p=gods_window"></a>The pretty potholes were named after a persistent prospector named Tom Bourke who discovered signs of alluvial gold in the canyon in the late 1880s. He quickly staked a claim and began to pan for gold. Sadly, his claim did not yield a single ounce of gold, while other prospectors in the area struck it rich. Today, the Bourke's Luck Potholes have been referred to as 'nature's wishing well' by some and many an eager tourist has dropped coins into the well, hoping that Lady Luck will smile upon him or her (as we're sure Tom Bourke must've wished).</p>
    <p class="paragraphtext">There is an informative visitors' centre at the site, detailing the  interesting history of the area (including information on the San &ndash; the earliest inhabitants of the area) and featuring fascinating flora and fauna displays and a marvellous model of the <a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a>. The visitors' centre is the starting point of a 700m round-route that takes visitors on an 'up close and personal' tour of the potholes, perfect for keen photographers with cameras in hand. Two short and immensely popular hiking trails &ndash; the Bushmen Nature Trail and the Bourke's Luck Potholes Interpretive Trail &ndash; set off from the visitors' centre.</p>
    <p class="paragraphtext"><em><strong>Bourke's Luck Potholes Physical Location</strong></em><br />
      Moremela, 30km North of <a href="http://booktravel.travel/index.php?p=graskop">Graskop</a> and <a href="/index.php?p=pilgrims_rest">Pilgrim's Rest</a>, on the R532</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Bourke's Luck Potholes</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Accommodation in Graskop</a><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/pilgrim's_rest">Accommodation in Pilgrim's Rest</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">Accommodation in The Panorama</a><a href="/index.php?p=malalane"></a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.659186,30.822315&amp;spn=0.054602,0.120163&amp;z=13&amp;iwloc=0004b3906de7ac584c9bf&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.659186,30.822315&amp;spn=0.054602,0.120163&amp;z=13&amp;iwloc=0004b3906de7ac584c9bf&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Graskop</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/pilgrim's_rest">Pilgrim's Rest</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">The Panorama</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>