<head>
<link rel="stylesheet" href="template2.css">
<title>Buffalo Bay</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Buffalo Bay</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_buffalo_bay.jpg" title="Buffalo Bay" width="450" height="274" hspace="5" vspace="5">Buffalo Bay is a great destination for the whole family</div>
    
    <p class="paragraphtext">Untouched and unspoilt Buffalo Bay, situated roughly halfway between <a href="/index.php?p=knysna">Knysna</a> and Sedgefield in the <a href="/index.php?p=western_cape">Western Cape</a> <a href="/index.php?p=garden_route">Garden Route</a> of South Africa, is a fantastic family destination, offering spectacular seaside scenes, safe swimming, super surfing, and splendid seclusion from the busier tourist attractions in the Knysna area.</p>
    <p class="paragraphtext">Astonishing dolphin and Southern Right Whale sightings are regular and most riveting occurrences in the area between May and November, perfectly complementing the tranquil beauty of Buffalo Bay.</p>
    <p class="paragraphtext">Besides the beautiful beaches, Buffalo Bay is also a hikers' paradise. A leisurely 7km walk along the idyllic sandy beach from Buffalo Bay to Brenton On Sea and hiking along the Goukamma River, stretching from Buffalo Bay to Groenvlei near Sedgefield in the gorgeous Goukamma Nature Reserve, are just some of the highlights that Buffalo Bay affords its tourists. And for those who'd prefer to sit back and relax, a picnic at the foot of the highly vegetated sand dunes is an absolute must.</p>
    <p class="paragraphtext"><em><strong>Buffalo Bay Physical Location</strong></em><br /> 
    Immediately West of Knysna, 8km South of the N2</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Buffalo Bay</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/greater_knysna_area">Accommodation in the Greater Knysna Area</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.054082,23.017044&amp;spn=0.099556,0.240326&amp;z=12&amp;iwloc=0004ab1468a69ce516d38&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.054082,23.017044&amp;spn=0.099556,0.240326&amp;z=12&amp;iwloc=0004ab1468a69ce516d38&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/greater_knysna_area">Greater Knysna Area</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>