<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Cape Town and the Cape Peninsula, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Greater Cape Town , Western Cape</div>
	<div class="contentmainheading">
	  <h1>What to do in Cape Town and the Cape Peninsula, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/table_mountain.jpg" title="Table Mountain overlooking the city of Cape Town" width="450" height="365" hspace="5" vspace="5">The majestic Table Mountain overlooking the city of Cape Town.</div>
<p class="paragraphtext"><a href="/index.php?p=cape_town">Cape Town</a> between February and June is the most ideal part of South Africa to visit. The weather is far more settled than in early summer and especially in February and March you have long sunny days with perfect blue sea, mountain silhouettes and just the most beauty one can lap up in any location.</p>
<p class="paragraphtext"> Add to this first class tourism infrastructure which is not overly commercial and it is an ideal place to visit.</p>
<p class="paragraphtext">When you visit the Cape you have to choose between social life and warm water for swimming. The most social parts of the area are the stretch between the <a href="/index.php?p=v_a_waterfront">V&amp;A Waterfront</a> and <a href="/index.php?p=camps_bay">Camps Bay</a>. Beaches in <a href="/index.php?p=clifton">Clifton</a> and Camps Bay are deservedly world famous but the water is usually freezing &ndash; a result of the cold Benguela current that comes up from Antarctica.</p>
    <p class="paragraphtext">By contrast the water along the False Bay coast stretching from <a href="/index.php?p=cape_point_nature_reserve">Cape Point</a> at one end past Simon's Town, Fish Hoek, <a href="/index.php?p=kalk_bay">Kalk Bay</a>, St James, Muizenburg, <a href="/index.php?p=gordons_bay">Gordon&rsquo;s Bay</a> , Strand, Somerset West and around to Pringle Bay and Bettys Bay is far warmer &ndash; but the social life is very much less.</p>
    <p class="paragraphtext">Both areas have their charm and will captivate most visitors.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/" class="alinks" title="Accommodation in Cape Town">Find Accommodation in Cape Town</a></li>
      </ul>
      <p class="paragraphtext">Swimming at <a href="/index.php?p=boulders_beach_nature_reserve">Boulders Beach</a> with penguins is an experience not to be missed. The beach huts at St James beach where there is a tidal pool have graced many a travel magazine cover world wide as a symbol of South Africa. Next door is lesser known Danger Beach. From St James you can walk all the way along a promenade below the rail way line to Muizenberg.</p>

      <p class="paragraphtext">Going to the beach for a sunset picnic is one of life&rsquo;s great experiences. The setting sun cannot burn you and you have the beach experience without the crowds in high season. Parking is usually much easier too.</p>
      <p class="paragraphtext">Alternatively take the cable car up <a href="/index.php?p=table_mountain">Table Mountain</a>. Tickets at sunset are half price.</p>
      <p class="paragraphtext">Cape Town and the Cape Peninsula are a great place to go for a holiday because there is so much to do in the area if you decide you have had enough sun.</p>
      <div class="paragraphpictureright"><img src="../images/map-cape_town.jpg" title="Location of Cape Town, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5">Location of Cape Town, Western Cape, South Africa.</div>
      <p class="paragraphtext">In Cape Town you have the Castle, the National Archives, <a href="/index.php?p=table_mountain">Table Mountain</a>, the <a href="/index.php?p=v_a_waterfront">V&amp;A Waterfront</a>, Robben Island. A drive to Cape Point is a picturesque sentimental journey. If you feel like going further afield you can visit the <a href="/index.php?p=cape_winelands">Winelands</a> &ndash; Stellenbosch, Paarl and Franschhoek being the best known towns closest to Cape Town but Wellington, Robertson and Villiersdorp are also worth a visit. The road down the mountain from Villiersdorp to Franschhoek is one of the most scenic drives in the world, not just in South Africa.</p>
      <p class="paragraphtext">If you are energetic there is hiking up or down <a href="/index.php?p=table_mountain">Table Mountain</a> and in numerous nature reserves, river rafting on the Breede Rivier or River Paddling closer to Kleinmond. A drive out to <a href="/index.php?p=hermanus">Hermanus</a> and Kleinmond makes a great outing. Whale season is from July to November and in Hermanus you can hear the whale crier daily. All you have to do is drive the coastal road between Hermanus and Cape Town and you will be rewarded with many sightings most days.</p>
      <p class="paragraphtext">Another great experience is parasailing off Table Mountain or taking off in Sea Point and parasailing along the coast. Views are exceptional.</p>
      <p class="paragraphtext">There is so much to do in Cape Town and on the Peninsula that even if you went for a month and never went to the beach once, you would still find there was plenty to do which you had not done before.</p>
  <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/" class="alinks" title="Accommodation in Cape Town">Find Accommodation in Cape Town</a></li>
      </ul>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/index.html" class="alinks" title="Accommodation in Cape Town">Accommodation in Cape Town</a></li>
    	<li><a href="/specials/cape_town_western_cape/" class="alinks">Specials in Cape Town</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=greater_cape_town" class="alinks">Greater Cape Town</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=cape_town" class="alinks">Cape Town</a></li>
   	    <li><a href="/index.php?p=v_a_waterfront">V&amp;A Waterfront</a></li>
      <li><a href="/index.php?p=camps_bay" class="alinks">Camps Bay</a></li>
    	<li><a href="/index.php?p=kalk_bay" class="alinks">Kalk Bay</a></li>
      <li><a href="/index.php?p=cape_point_nature_reserve" class="alinks">Cape Point</a></li>
      <li><a href="/index.php?p=boulders_beach_nature_reserve" class="alinks">Boulders Beach</a></li>
      <li><a href="/index.php?p=clifton" class="alinks">Clifton</a></li>
        <li><a href="/index.php?p=gordons_bay" class="alinks">Gordon's Bay</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>