<head>
<link rel="stylesheet" href="template2.css">
<title>Cape Town ICC</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Cape Town International Convention Centre</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_cticc.jpg" title="Cape Town ICC" width="450" height="300" hspace="5" vspace="5">Cape Town International Convention Centre, a world-class venue</div>
    
    <p class="paragraphtext">The <a href="http://www.cticc.co.za" target="_blank">Cape Town International Convention Centre</a> (CTICC) is a marvellous modern convention centre situated at Convention Square, 1 Lower Long Street in <a href="/index.php?p=cape_town">Cape Town</a>, South Africa. First opening its doors in June 2003, the CTICC has since hosted numerous prominent scientific, medical, and cultural conventions, along with the final draw for the 2010 FIFA World Cup South Africa.</p>
    <p class="paragraphtext">The Cape Town International Convention Centre was first envisioned in the late 1990s when the powers that be realised that the erection of a truly world-class, modern convention centre would provide huge benefits for Cape Town's tourism infrastructure and have a very positive impact on the local, provincial, and national economy. As a result, the CTICC project was undertaken with the Provincial Government of the <a href="/index.php?p=western_cape">Western Cape</a> and the City of Cape Town as its largest shareholders. This mutually beneficial partnership effectively granted ownership of the conference centre to the people of the city, and it has since become a well-loved landmark and a great source of pride among many Capetonians.</p>
    <p class="paragraphtext">Set in the heart of Cape Town, close to the city centre and the <a href="/index.php?p=v_a_waterfront">Victoria &amp; Alfred Waterfront</a>, with the majestic <a href="/index.php?p=table_mountain">Table Mountain</a> as its beautiful backdrop, this state-of-the-art (and extremely beautiful) building was constructed specifically to host conferences and conventions of the highest international standard. There are no columns in the 10 000m&sup2; hall and it accommodates 10 000 delegates quite easily, with more than adequate power, water, and data provision. This massive hall can also be divided into five smaller venues.</p>
    <p class="paragraphtext">The CTICC also boasts a 2 000m&sup2; grand ballroom with a fabulous view of the city, superb two raked auditoria that can support 1 500 and 600 people, and the most advanced and largest kitchen in the Western Cape.</p>
    <p class="paragraphtext"><em><strong>Cape Town ICC Physical Address</strong></em><br />
      <span dir="ltr">1 Lower Long St, Cape Town</span></p>
    <p class="paragraphtext">Tel: 0<span dir="ltr">21 410 5000</span></p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Cape Town ICC</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Accommodation in Cape Town City</a><Br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Accommodation in Atlantic Seaboard</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.910956,18.427978&amp;spn=0.012465,0.030041&amp;z=15&amp;iwloc=0004a704e3a8d8e7f8342&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.910956,18.427978&amp;spn=0.012465,0.030041&amp;z=15&amp;iwloc=0004a704e3a8d8e7f8342&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Cape Town City</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Atlantic Seaboard</a></span></a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>