<head>
<link rel="stylesheet" href="template2.css">
<title>Cape St Blaize Cave</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Cape St Blaize Cave</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_cape_st_blaize_cave.jpg" title="Cape St Blaize Cave" width="450" height="281" hspace="5" vspace="5">The Cape St Blaize Cave overlooks Mossel Bay's Point area<br />
&copy; John Gore</div>
    
    <p class="paragraphtext">The marvellous town of <a class="alinks" href="/index.php?p=mossel_bay">Mossel Bay</a>, nestled between the warm Indian Ocean waters and the majestic Outeniqua Mountains in the stunning <a class="alinks" href="/index.php?p=western_cape">Western Cape</a> <a class="alinks" href="/index.php?p=garden_route">Garden Route</a>, is home to one of South Africa's oldest archaeological excavations &ndash; the remarkable Cape St Blaize Cave.</p>
    <p class="paragraphtext">The southern shores of Cape St Blaize are lined with tremendous cliffs emerging from the thundering waters below. Over the years the unyielding force of the crashing waters formed massive caverns in the landscape. The Cape St Blaize Cave is just one of these marvellous caves.</p>
    <p class="paragraphtext">Situated in the craggy cliffs directly below the striking <a class="alinks" href="/index.php?p=cape_st_blaize_lighthouse">Cape St Blaize Lighthouse</a>, the Cape St. Blaize Cave was first excavated in 1888 and it was found that ancient Khoi tribesmen took shelter in the Cape St. Blaize Cave and subsisted mainly on the ample shellfish found in the area.</p>
    <p class="paragraphtext">Ancient artefacts and archaeological finds have been dated as far back as the Stone Age, right up to the pre-colonial period.</p>
    <p class="paragraphtext"><em><strong>Cape St Blaize Cave Physical Address</strong></em><br /> 
    Point Road, The Point, Mossel Bay</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Cape St Blaize Cave</span><br />
  <a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/mossel_bay">Accommodation in Mossel Bay</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.18385,22.157192&amp;spn=0.006213,0.01502&amp;z=16&amp;iwloc=0004ab3c64e4e40e01008&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.18385,22.157192&amp;spn=0.006213,0.01502&amp;z=16&amp;iwloc=0004ab3c64e4e40e01008&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/mossel_bay">Mossel Bay</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>