<head>
<link rel="stylesheet" href="template2.css">
<title>Cape St Blaize Lighthouse</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Cape St Blaize Lighthouse</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_cape_st_blaize_lighthouse.jpg" title="Cape St Blaize Lighthouse" width="450" height="250" hspace="5" vspace="5">The Cape St Blaize Lighthouse overlooks Mossel Bay's Point area<br />
&copy; John Gore</div>
    
    <p class="paragraphtext">Mossel Bay, situated on the beautiful <a class="alinks" href="/index.php?p=western_cape">Western Cape</a> <a class="alinks" href="/index.php?p=garden_route">Garden Route</a> coastline about 400km east of <a class="alinks" href="/index.php?p=cape_town">Cape Town</a> and 400km west of <a class="alinks" href="/index.php?p=port_elizabeth">Port Elizabeth</a>, is home to the charming Cape St Blaize Lighthouse (among many other delightful attractions, such as the fascinating <a class="alinks" href="/index.php?p=dias_museum_complex">Dias Museum Complex</a>).</p>
    <p class="paragraphtext">This lovely white lighthouse stands 20.5m high and is situated 52m above sea level. Its gorgeous square white tower strikes quite a picturesque pose on the <a class="alinks" href="/index.php?p=mossel_bay">Mossel Bay</a> horizon and the views from the lighthouse itself are absolutely magnificent.</p>
    <p class="paragraphtext">The Cape St Blaize Lighthouse, overlooking the pretty Point Area of Mossel Bay (an immensely popular destination for beach bums, surfers, water babies, and tourists), was erected in 1864 and, until relatively recently, was one of only two lighthouses in South Africa that were manned 24/7. In fact, until the late 70s a lighthouse keeper had to climb the tower every three hours to manually wind the clockwork system that turned the revolving light. Today, the light is fully automated.</p>
    <p class="paragraphtext">The location of one of South Africa's oldest archaeological excavations, the famous Cape St Blaize Cave (situated directly below the Cape St Blaize Lighthouse) also provides interested tourists and keen photographers with wonderful views of the Point Area and the mighty Indian Ocean.</p>
    <p class="paragraphtext"><em><strong>Cape St Blaize Lighthouse Physical Address</strong></em><br /> 
    Eastern end of Montagu Street, Mossel Bay</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Cape St Blaize Lighthouse</span><br />
  <a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/mossel_bay">Accommodation in Mossel Bay</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.182021,22.158694&amp;spn=0.012426,0.030041&amp;z=15&amp;iwloc=0004ab3c3afc112b61b47&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.182021,22.158694&amp;spn=0.012426,0.030041&amp;z=15&amp;iwloc=0004ab3c3afc112b61b47&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/mossel_bay">Mossel Bay</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>