<head>
<link rel="stylesheet" href="template2.css">
<title>Cheetah Experience</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading fs">Free State Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Cheetah Experience</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/cheetah_experience.jpg" title="Cheetah Experience" width="450" height="353" hspace="5" vspace="5">Cheetah Experience near Bloemfontein</div>
    
    <p class="paragraphtext">A visit to beautiful <a href="/index.php?p=bloemfontein">Bloemfontein</a>, the capital city of the <a href="/index.php?p=free_state">Free State Province</a> of <a href="/index.php?p=south_africa">South Africa</a> and the Rainbow Nation's judicial capital, affords fascinated tourists a truly mesmerising experience &ndash; the <a href="http://www.cheetahexperience.com/" target="_blank">Cheetah Experience</a>.</p>
    <p class="paragraphtext">This superb wildlife sanctuary, located at 1 Maluti Avenue in Bainsvlei, Bloemfontein (just five minutes from the city centre), provides visitors with the opportunity to interact closely with (and even touch) cheetahs and various other beautiful big cats outside of a zoo environment.</p>
    <p class="paragraphtext">Through captive breeding, public awareness, and behavioural research, the Cheetah Experience aims to fund and promote the conservation and long-term survival of these fleet-footed felines and other endangered animals and their ecosystems. The sanctuary, founded in 2006, provides wide open spaces for cheetahs to stretch their legs. Rescued animals are raised and bred and then, when the time is right, released into a 'protected wild' area in which they will be interfered with as little as possible by human hands, yet still monitored closely by caretakers, veterinarians, and researchers.</p>
    <p class="paragraphtext">Visitors to the Cheetah Experience can enter some of the animal enclosures to interact with various big cat cubs, including cheetahs, jaguars, lions, leopards, caracals, and tigers. Visitors are allowed to view the adult animal enclosures from a relatively close and safe distance, and open-air game drives are also offered on which visitors can expect to see numerous species of amazing antelope and scores of indigenous birds.</p>
    <p class="paragraphtext">Popularly and poetically known as 'the city of roses' due to the vast number of spectacular and beautiful blooming roses in the city, Bloemfontein is also known as 'Mangaung' which means the 'place of cheetahs' in Sesotho. Mangaung is certainly an apt name for the area in general as the dry Free State grassland is this wonderful animal's natural habitat.</p>
    <p class="paragraphtext"><em><strong>Cheetah Experience Physical Location</strong></em><br /> 
    1 Maluti Avenue, Bainsvlei, 10 m North West of Bloemfontein CBD</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Cheetah Experience</span><br />
  <a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Accommodation in Bloemfontein</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.05692,26.179047&amp;spn=0.052519,0.120163&amp;z=13&amp;iwloc=0004ae8a6a4b62c339934&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.05692,26.179047&amp;spn=0.052519,0.120163&amp;z=13&amp;iwloc=0004ae8a6a4b62c339934&amp;source=embed" style="color:#0000FF;text-align:left">Free State Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Bloemfontein</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>