<head>
<link rel="stylesheet" href="template2.css">
<title>Coney Glen</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Coney Glen</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_coney_glen.jpg" title="Coney Glen" width="450" height="308" hspace="5" vspace="5">The View of Knysna and its lagoon from Coney Glen<br />&copy; John Gore</div>
    
    <p class="paragraphtext">The view from Coney Glen, situated atop the Eastern Head of the famous <a href="/index.php?p=knysna_heads">Knysna Heads</a>, is absolutely magnificent. Offering a fantastic panorama of the immense Indian Ocean, the Western Head (and the spectacular <a href="/index.php?p=featherbed_nature_reserve">Featherbed Nature Reserve</a> which is situated on it), the Knysna Lagoon, the <a href="/index.php?p=knysna_waterfront">Knysna Waterfront</a>, and the pretty <a href="/index.php?p=knysna">town of Knysna</a>, it is the perfect spot for keen photographers and those looking for supreme relaxation.</p>
    <p class="paragraphtext">Because of its visibility in the days of old, most of the pilots and sailors navigating the potentially dangerous waters of the Knysna Heads would fly their flags on a flagpole atop Coney Glen and use this as a signal to aid navigation. The flagpole was situated further uphill from where the current viewpoint stands.</p>
    <p class="paragraphtext">Much of the Knysna River's navigable 19km long channel can be viewed from Coney Glen. The channel is 2km wide at its widest point. The first 5km from the Knysna Heads can accommodate small ships and deep-keel yachts. Small crafts can sail the further 14km past the railway bridge.</p>
    <p class="paragraphtext">Coney Glen Beach is a popular spot for fishing, swimming, and picnicking. It also provides superb braai facilities.</p>
    <p class="paragraphtext"><em><strong>Coney Glen Physical Address</strong></em><br /> 
    Southern end of George Rex Drive, Eastern Headland, Knysna</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Coney Glen</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Accommodation in Knysna</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.070436,23.070431&amp;spn=0.024884,0.060081&amp;z=14&amp;iwloc=0004ab1407fb4e082ab05&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;vpsrc=6&amp;ll=-34.070436,23.070431&amp;spn=0.024884,0.060081&amp;z=14&amp;iwloc=0004ab1407fb4e082ab05&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Knysna</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>