<head>
<link rel="stylesheet" href="template2.css">
<title>Contact AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Contact AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>AA Travel Guides Contact Details</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <p class="paragraphtext">Tel (011) 713-2000<br />
    Fax (011) 728-3086<br />
    e-mail: <a href="mailto:info@booktravel.travel" class="alinks">info@booktravel.travel</a></p>
    <p class="paragraphtext">AA Travel Guides<br />
    P O Box 787040<br />
    Sandton<br />
    2146</p>
    <p class="paragraphtext">If you have any suggestions as to how we should improve our site or the information available on it please let us know.</p>
    <p class="paragraphtext">We very much want to know about experiences you have had staying at various establishments around South Africa. We welcome complaints and compliments. If you have a complaint which you would like us to take up on your behalf, please tell us about it.</p>
     <p class="paragraphtext">If you would like your establishment entered into our comprehensive database, <a href="http://booktravel.travel/index.php?p=join_aaqa" class="alinks">contact us to Join the Programme Now</a>.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>