<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Cultural Heartland, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Cultural Heartland , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Cultural Heartland, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/cultural_heartland.jpg" title="The Ndebele are world famous for their colourful and geometric patterns painted on their houses." width="450" height="395" hspace="5" vspace="5">The Ndebele are world famous for their colourful and geometric patterns painted on their houses.</div>
    <p class="paragraphtext">It is the culture of the Ndebele that this region is named for, and visitors are guaranteed to fall in love with the colourful, geometric patterns that adorn the Ndebele houses, as well as the beadwork and crafts that these people are world-famous for.</p>
    <p class="paragraphtext">Winding through the towns of <a href="/index.php?p=witbank_emalahleni">Witbank (Emalahleni)</a>, <a href="/index.php?p=middelburg_mp">Middelburg</a>, Siyabuswa, Groblersdal, Marble Hall and Roossenekal, the Cultural Heartland also immerses visitors in the history of the South African (Anglo-Boer) War, and there are plenty of fascinating relics from this bloody period to look at.</p>
    <p class="paragraphtext">There are loads of interesting activities for tourists to do, and many offer good alternatives to the traditional game-viewing of the Lowveld area.</p>
    <p class="paragraphtext">Enjoy game-viewing by boat on the Loskop Dam in the heart of the Loskop Dam Nature Reserve, while the massive Witbank Dam offers parasailing, windsurfing and skiing. There is also golf and fantastic 4x4 trails to challenge enthusiasts.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/cultural_heartland/" class="alinks" title="Accommodation in Cultural Heartland">Accommodation in Cultural Heartland</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-cultural_heartland.jpg" title="Location of Cultural Heartland, Mpumalanga, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Cultural Heartland, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">There are industrial and agricultural tours, and for those interested in botany the entire region becomes a magical carpet of wild flowers during the summer months.</p>
    
  
     </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/index.html" class="alinks" title="Accommodation in Mpumalanga">Accommodation in Mpumalanga</a></li>
    	<li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=cultural_heartland" class="alinks">Cultural Heartland</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=witbank_emalahleni" class="alinks">Witbank / Emalahleni</a></li>
      <li><a href="/index.php?p=middelburg_mp" class="alinks">Middelburg</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/groblersdal/index.html" class="alinks">Groblersdal</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/loskop_dam/index.html" class="alinks">Loskop Dam</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/siyabuswa/index.html" class="alinks">Siyabuswa</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>