<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Dullstroom, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Highlands Meander , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Dullstroom, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/highlands_meander_fishing.jpg" title="Dullstroom" width="450" height="287" hspace="5" vspace="5">Dullstroom</div>
<p class="paragraphtext"><span class="inparagraphheading">Geography:</span> The lovely village of Dullstroom (Emnotweni), in the Steenkampsberg Mountain Range is only 260km, an easy two and a half hour drive, from <a href="/index.php?p=gauteng">Gauteng</a> along the R540 from Belfast. It makes for a wonderful stopover en route to the <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a> and a fantastic weekend destination for <a href="/index.php?p=johannesburg">Johannesburg</a> city slickers.</p>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> Established in 1883, the village was named after Wolterus Dull, the Dutch director of an immigration scheme to the area.  By 1887 it had a church and a population of 48, and was duly proclaimed as Dullstroom. The village played an important and strategic role in the South African (Anglo-Boer) War, and the mountains in the area were the venue of many conflicts and skirmishes of the war. Today it is a sleepy and charming place full of legend and character. The word "Emnotweni" was recently added to the original name of Dullstroom, and it means "the place of prosperity".</p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> Visitors to Dullstroom (Emnotweni) can go on one of a few heritage walks, past memorials and interesting old buildings. Some of these include a stone memorial to the original settlers, the lovely Rose Cottage - one of the few buildings that was not destroyed in the war - as well as the Garden of Remembrance reminding people of the terrible times the villagers faced during the war.
</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/dullstroom_(emnotweni)" class="alinks" title="Accommodation in Dullstroom">Find Accommodation in Dullstroom</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-dullstroom.jpg" title="Location of Dullstroom, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Dullstroom, Mpumalanga, South Africa.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Science and Nature:</span> Lying at an altitude of nearly 2,100m, Dullstroom-Emnotweni is one of the coldest places in the country. As the "stroom" in the name implies, Dullstroom has an abundance of water and rivers, and is a most popular destination for trout anglers. Many of the guest farms in the village cater purely for the angler. The area has a cool, sub-alpine climate and its misty atmosphere makes one feel almost "out of Africa". It is the only place in the country where elm trees grow, and it is home to endangered cranes, a vast variety of wild flowers and rare species of mammals.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Visitors should remember that Dull was the name of the founder and doesn't refer to the characteristics of the town! There is plenty to keep the entire family entertained and the lovely mountain walks, interesting shops with fascinating bric-a-brac and well-known restaurants make it an ideal stopover.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> Dullstroom (Emnotweni) is by far South Africa's most popular destination for trout anglers!</p>
    <p class="paragraphtext"><span class="inparagraphheading">Did you Know?</span> The town has the highest railway station in South Africa. It is situated 2,076m above sea level.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/dullstroom_(emnotweni)" class="alinks" title="Accommodation in Mpumalanga">Accommodation in Dullstroom</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=highlands_meander" class="alinks">Highlands Meander</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=lydenburg_mashishing" class="alinks">Lydenburg</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=machadodorp" class="alinks">Machadodorp</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>