<head>
<link rel="stylesheet" href="template2.css">
<title>Durban Small Craft Harbour</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Durban Small Craft Harbour</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_kzn_durban_small_craft_harbour.jpg" title="Durban Small Craft Harbour" width="450" height="275" hspace="5" vspace="5">Durban Small Craft Harbour with the city skyline as its backdrop<br />
    &copy; John Gore</div>
    
    <p class="paragraphtext">The Small Craft Harbour, located in the much larger Durban Harbour in <a href="/index.php?p=durban">Durban</a>, <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a>, is host to some lovely sights. The views from the Esplanade over the ocean and of the spectacular Durban city skyline are phenomenal. The lovely boats, luxury yachts, and other small crafts viewed under a spectacular KwaZulu-Natal sunset are very charming indeed.</p>
    <p class="paragraphtext">Durban Harbour is one of the few natural harbours between <a href="/index.php?p=port_elizabeth">Port Elizabeth</a> in the <a href="/index.php?p=eastern_cape">Eastern Cape</a> Province of South Africa and Maputo in <a href="/index.php?p=mozambique">Mozambique</a> and it is also located at the beginning of a weather phenomenon that causes tremendously fierce seas further on. This superb location has made Durban an extremely busy port of call for ship repairs and restocking since the port was first opened in the 1840s. Durban Harbour is now the busiest port in South Africa and the third busiest container port in the Southern Hemisphere.</p>
    <p class="paragraphtext">Not much is known about this area's first inhabitants as nothing was ever written down by anyone until the famous Portuguese explorer Vasco da Gama discovered this wonderful natural harbour while searching for a route from Europe to India on Christmas Day in 1497. He named it 'Natal', which means 'Christmas' in Portuguese. The current city of Durban then took on the name Port Natal for a time, after which (in 1835 to be exact) its name was changed to Durban in honour of Sir Benjamin d'Urban who was the governor of the Cape Colony at the time.</p>
    <p class="paragraphtext"><em><strong>Durban Small Craft Harbour Physical Address</strong></em><br />
      Boatmans Rd, just south of Margaret Mncadi Ave, Esplanade, Durban</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Durban Small Craft Harbour</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/central">Accommodation in Durban Central</a><Br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Accommodation in Durban North</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">Points of Interest in KwaZulu-Natal</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ie=UTF8&amp;ll=-29.856426,31.021872&amp;spn=0.026054,0.060081&amp;z=14&amp;iwloc=0004a9953ce4724f6aa60&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ie=UTF8&amp;ll=-29.856426,31.021872&amp;spn=0.026054,0.060081&amp;z=14&amp;iwloc=0004a9953ce4724f6aa60&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/central">Durban Central</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Durban North</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>