<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Durban, KwaZulu-Natal - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">Greater Durban , KwaZulu-Natal</div>
	<div class="contentmainheading">
	  <h1>Information about Durban, KwaZulu-Natal East Coast</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/durban.jpg" title="Durban's beautiful beaches are a top attraction among holidaymakers" width="450" height="372" hspace="5" vspace="5">Durban's beautiful beaches are a top attraction among holidaymakers.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Geography:</span> Durban is a major centre and   important economic   hub, known as "South Africa's Playground", and lies on the east coast of South Africa and is lapped by the warm waters of the Indian Ocean. Durban and a number of small towns surrounding it make up the <a href="/index.php?p=greater_durban" class="alinks" title="Information about Greater Durban South Africa">Greater Durban</a> region.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> Although Durban is renowned for its entertainment and for being a premier holiday spot, it is rich in history and culture. It is possibly the most cosmopolitan of all South African cities and the cultures of India, England and continental Europe add to this cultural legacy. Much of this legacy can be discovered in the many museums, monuments and places of interest. The Inanda Trail provides a unique insight into Durban's past, while culture vultures will love the NSA Gallery with its excellent selection of local and international artworks. At the Phoenix Settlement, just outside Durban, visitors can see where Mahatma Gandhi devised his philosophy of passive resistance, while lovers of classical music should not pass up an opportunity to see the KZN Philharmonic, which tours locally and internationally. The museums in Durban are numerous, yet all house fascinating exhibits from the history of the Zulu nation through to the story of the Great White Shark. Some of these museums in Durban include the Natural Science Museum, Old Court House Museum, Port Natal Maritime Museum, KwaMuhle Museum and the Old House Museum. Visitors to the beachfront can view and buy curios, crafts, woodcarvings and beadwork or just sit and watch the women as they make the artefacts. The Playhouse is Durban's largest theatre complex and it was built around two cinemas. </p>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> The story of Durban began when the Portuguese navigator Vasco da Gama sailed past the bay on Christmas Day 1497, and named the region Terra de Natal, or Land of the Nativity. By the early 19th century, the British at the Cape decided to look for a port suitable for trading with the Zulu nation, and soon discovered what they called Port Natal. After a few uneasy years including many battles, fifteen settlers decided to lay out a town in 1835 and call it D'Urban in honour of Sir Benjamin D'Urban, the governor of the Cape Colony at the time. Yet more battles were fought and eventually, in 1839, the first streets of Durban were laid out. A famous figure in the history of Durban is the folk hero Dick King, who undertook an epic journey on horseback to Grahamstown to summon help from the British to protect their citizens from an advancing Voortrekker commando. This act secured Durban in the hands of the British, and in 1854 municipal status was granted. City status was granted in 1935.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/index.html" class="alinks" title="Accommodation in Durban">Find Accommodation in Durban</a></li>
      </ul>
<div class="paragraphpictureright"><img src="../images/map-durban.jpg" title="Location of Durban, KwaZulu-Natal, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Durban, KwaZulu-Natal, South Africa.</div>
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Durban is not called "South Africa's Playground" for nothing, as it is a city where the fun never sets. The vibrant and cosmopolitan nature of Durban lends a warm atmosphere and the wide range of entertainment on offer makes it one of the country's premier holiday spots. To mention them all would be impossible in a book like this, but here are some highlights: The seafront, known as the Golden Mile, includes 6km of beach, promenades and gardens, playgrounds, shops, restaurants, nightspots, entertainment centres and hotels. Along the Golden Mile is Africa's largest marine park, uShaka Marine World, which houses an aquarium, a dolphinarium and many entertainment spots including water slides, shops and seafood restaurants. There are many amusement parks in the city and some of these include the snake park, indoor minigolf, Minitown and the ice rink at Ice World. After dark, Durban doesn't disappoint. For jazz lovers there are many live venues in the sultry, soulful city while the numerous bars and nightclubs are great fun. If clubbing is your scene then you'll be interested to know that 3-30 is rated as one of the top ten clubs in the world. Other indoor entertainment includes the casinos that have gaming, cinemas, dining and kids' facilities. Sugar Mill Casino is very popular, as is the Suncoast Casino and Entertainment World. Visitors can also try their luck at the Sibaya Casino. A unique and entertaining form of travel within the city is rickshaw riding where pullers in brightly coloured outfits and massive horns take tourists on spring-loaded joyrides. Visitors to the Gateway Shopping Centre in Umhlanga can experience the thrill of movies in 3D at the IMAX theatre.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> Simply put, Durbanites are sport crazy. The fact that the weather's great year-round helps as does having the warm waters of the Indian Ocean on your doorstep. Water sports such as surfing, body boarding, sailing and scuba-diving are obvious favourites while the city plays host to many international sports events at the world-class facilities including the cricket stadium at Kingsmead and the rugby stadium at ABSA Stadium. Football is also very popular, while the Greyville Race Track's premier horse racing events include the Durban July. Two major international annual sporting events that are held in Durban are the Comrades Marathon and the Dusi Canoe Marathon.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Did you Know?</span> Durban is the &quot;gateway city&quot; to the   wonderful world of the garden province of <a href="/index.php?p=kwazulu_natal" class="alinks" title="Information about KwaZulu-Natal South Africa">KwaZulu-Natal</a>.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading kzn">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/index.html" class="alinks" title="Accommodation in Durban">Accommodation in Durban</a></li>
    	<li><a href="/specials/durban_kwazulu-natal/" class="alinks">Specials in Durban</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/index.php?p=greater_durban" class="alinks">Greater Durban</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-kzn.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading kzn">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/durban_central.html" class="alinks">Durban Central</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/bluff.html" class="alinks">Bluff</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/north_beach.html" class="alinks">North Beach</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/westville.html" class="alinks">Westville</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/berea.html" class="alinks">Berea</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/amanzimtoti/index.html" class="alinks">Amanzimtoti</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ballito/index.html" class="alinks">Ballito</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>