<head>
<link rel="stylesheet" href="template2.css">
<title>Dutch Reformed Church, Piet Retief</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Dutch Reformed Church, Piet Retief</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/dutch_reformed_church.jpg" title="Dutch Reformed Church, Piet Retief" width="450" height="385" hspace="5" vspace="5">Dutch Reformed Church, Piet Retief</div>
    
    <p class="paragraphtext">The marvellous little town of <a href="/index.php?p=piet_retief">Piet Retief</a>, located in the centre of spectacular blue gum and wattle plantations on the Assegai River in southeastern <a href="/index.php?p=mpumalanga">Mpumalanga</a>, <a href="/index.php?p=south_africa">South Africa</a>, is home to a truly beautiful tourist attraction and magnificent national monument &ndash; the Piet Retief Dutch Reformed Church.</p>
    <p class="paragraphtext">The Piet Retief Dutch Reformed Church was designed by the renowned South African architect Gerard Moerdijk, the man responsible for the majestic <a href="/index.php?p=voortrekker_monument">Voortrekker Monument</a> in <a href="/index.php?p=pretoria">Pretoria</a>.</p>
    <p class="paragraphtext"> It was built in 1921 and its stunning figure still graces the lovely Piet Retief landscape to this day.</p>
    <p class="paragraphtext"><em><strong>Dutch Reformed Church Physical Address</strong></em><br />
      Corner of Church Street and Smit Streets, <a href="/index.php?p=piet_retief">Piet Retief</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the <em><strong>Dutch Reformed Church</strong></em></span><br />
   	  <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/piet_retief">Accommodation in Piet Retief</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands" class="alinks">Accommodation in Grass and Wetlands</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-26.999414,30.80575&amp;spn=0.013383,0.030041&amp;z=15&amp;iwloc=0004b2decddf287234960&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-26.999414,30.80575&amp;spn=0.013383,0.030041&amp;z=15&amp;iwloc=0004b2decddf287234960&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/piet_retief" class="alinks">Piet Retief</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/ermelo">Ermelo</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/badplaas" class="alinks">Badplaas</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/wakkerstroom">Wakkerstroom</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/carolina" class="alinks">Carolina</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>