<head>
<link rel="stylesheet" href="template2.css">
<title>Information about East Rand (Ekurhuleni), Gauteng - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">East Rand (Ekurhuleni) , Gauteng</div>
	<div class="contentmainheading">
	  <h1>Information about East Rand (Ekurhuleni), Gauteng</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/ekurhuleni_airport.jpg" title="The OR Tambo International Airport (formerly Johannesburg International) is South Africa's gateway to the world." width="450" height="237" hspace="5" vspace="5">The OR Tambo International Airport (formerly Johannesburg International) is South Africa's<br />gateway to the world.</div>
    <p class="paragraphtext">Lying to the east of <a href="/index.php?p=johannesburg" class="alinks" title="Information about Johannesburg South Africa">Johannesburg</a>, the Ekurhuleni Metropolitan municipal area, commonly referred to as the East Rand, is a place of prosperity, unity and vibrancy. It incorporates the diverse towns of Alberton, Bedfordview, Benoni, Boksburg, Brakpan, Edenvale, Germiston, Kempton Park, Nigel and Springs. <a href="/index.php?p=or_tambo_airport">OR Tambo International Airport</a> is also found here.</p>
    <p class="paragraphtext">Most of these towns grew up around the gold mines, and then developed as satellite towns to support the growing workforce of Johannesburg.</p>
    <p class="paragraphtext">Today though, the area is an important industrial hub and business centre in its own right, with each town having an identity of its own. This however, does not mean that there is nothing here for tourists.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/east_rand_(ekurhuleni)/" class="alinks" title="Accommodation in East Rand (Ekurhuleni)">Accommodation in East Rand (Ekurhuleni)</a></li>
      </ul>
    <p class="paragraphtext">Visitors to Ekurhuleni might be surprised at the entertainment, cultural and historical experiences that await them. For those who are looking for glitz and glamour, there is the Emperorís Palace and the Carnival City casinos, and numerous clubs and pubs, all with a great vibe.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-east_rand.jpg" title="Location of East Rand (Ekurhuleni), Gauteng, South Africa" width="450" height="325" hspace="5" vspace="5"></a>Location of East Rand (Ekurhuleni), Gauteng, South Africa.</div>
    <p class="paragraphtext">Sail on Germiston Lake, visit the Madiba Freedom Museum, do some bird spotting at the Rondebult Bird Sanctuary, take the kids to the Rietvlei Zoo and Nature Reserve, or see the Thokoza Memorial Wall, in Khumalo Street, that honours the victims of political conflict.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading gp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/index.html" class="alinks" title="Accommodation in Gauteng">Accommodation in Gauteng</a></li>
    	<li><a href="/specials/gauteng_south_africa/" class="alinks">Specials in Gauteng</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=gauteng" class="alinks">Gauteng</a></li>
        <li><a href="/index.php?p=east_rand_ekurhuleni" class="alinks">East Rand (Ekurhuleni)</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-gp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading gp">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/index.html" class="alinks">Ekurhuleni</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/alberton.html" class="alinks">Alberton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/benoni.html" class="alinks">Benoni</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/edenvale.html" class="alinks">Edenvale</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/boksburg.html" class="alinks">Boksburg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/brakpan.html" class="alinks">Brakpan</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/nigel.html" class="alinks">Nigel</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/germiston.html" class="alinks">Germiston</a></li>
        <li><a href="/index.php?p=or_tambo_airport" class="alinks">OR Tambo International Airport</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/kempton_park/index.html" class="alinks">Kempton Park</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/ekurhuleni/springs.html" class="alinks">Springs</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>