<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Ermelo, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Grass and Wetlands , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Ermelo, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/ermelo.jpg" title="Ermelo" width="450" height="296" hspace="5" vspace="5">Welcome to Ermelo, Mpumalanga</div>
<p class="paragraphtext">The lovely town of Ermelo, the commercial, industrial, and educational centre of the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>, is a lovely travel destination situated at the crossroads of three national highways &ndash; the N2, N11, and N17. In South Africa, only the thriving cities of <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a> are intersected by more highways.</p>
    <p class="paragraphtext"> Established around a church that was built in 1871, the town used to function as a stop-over point for wagons (and later cars) travelling between <a href="/index.php?p=lydenburg_mashishing">Lydenburg</a> and what is now known as <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a>. Due to the striking beauty of the area and the fact that it is always well irrigated (being situated in a vast grass and wetlands region) it soon attracted settlers aplenty. The town grew rapidly until the Anglo-Boer War when it was (almost) completely destroyed by the British. Only one home survived the fierce conflict. After the war the town was lovingly rebuilt by its many inhabitants and it continues to flourish to this day.</p>
    <p class="paragraphtext"> The area in which Ermelo is situated is famous as a mixed farming and mining area. Maize, potatoes, beans, sunflower seeds, lucerne, sorghum, wool, swine, and cattle are the area's major farming endeavours, while the area is home to many coal mines and is in fact South Africa's main anthracite and torbanite source.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/ermelo" class="alinks" title="Accommodation in Ermelo">Find Accommodation in Ermelo</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-ermelo.jpg" title="Location of Ermelo, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Ermelo, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">The Ermelo area provides many water sports opportunities, as well as fishing, swimming, and bird watching, in and around its many lovely lakes and dams, including the Jericho, Westoe, Douglas, Willem Brummer, and Pet dams. History buffs will undoubtedly enjoy the Leghoya ruins located in the stunning Tafelkop Mountains. Dating back to about 1400, these ruins used to be home to the area's early inhabitants &ndash; the Leghoya people. Not much is known about the Leghoya and all that is left of their civilisation are these ancient stone huts. Other stunning and endlessly fascinating historical finds in the area include the gorgeous San rock paintings on the walls of numerous caves and shelters in the area, particularly those found on the Welgelegen farm.</p>
    <p class="paragraphtext">Other exciting Ermelo activities and attractions include the <a href="/index.php?p=anglo_boer_war_memorial">Anglo-Boer War Memorial</a>, commemorating those who lost their lives in the Anglo-Boer War, and the Paul Kruger Bridge over the Vaal River which, upon its erection in 1897, was, at 124m, the largest bridge in the Transvaal. The bridge is now a national monument.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/ermelo" class="alinks" title="Accommodation in Ermelo">Accommodation in Ermelo</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=grass_and_wetlands" class="alinks">Grass and Wetlands </a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=piet_retief" class="alinks">Piet Retief</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/badplaas" class="alinks">Badplaas</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/wakkerstroom">Wakkerstroom</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/carolina" class="alinks">Carolina</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>