<head>
<link rel="stylesheet" href="template2.css">
<title>Ficksburg Cherry Festival</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Eastern Free State (Thabo Mofutsanyana) , Free State</div>
	<div class="contentmainheading">
	  <h1>Ficksburg Cherry Festival</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<p class="paragraphtext"><a href="/index.php?p=ficksburg">Ficksburg</a>, South Africa's very own Cherry Town, will be holding its 43rd Cherry Festival in November and it promises to be a whole lot of fun!</p>
    <div class="paragraphpictureright"><img src="../images/cherry_blossoms.jpg" title="Cherry blossoms usher in a time of festivity and fun in Ficksburg." width="400" height="267" hspace="5" vspace="5">Cherry blossoms usher in a time of festivity and fun in Ficksburg.</div>
	<p class="paragraphtext"><span class="inparagraphheading">17 - 19 November 2011</span> </p>
    <p class="paragraphtext">South Africa's longest running crop festival, and one synonomous with its host town, promises this year to be bigger and better than ever before. Every year the Eastern Free State town takes on a cherry red glow as everything and everyone goes cherry mad.</p>
	<p class="paragraphtext">The festival runs from Thursday 17 November to Saturday 19 November.</p>
	<p class="paragraphtext">The star of the show is undoubtedly the dark red stoned fruit as it just comes into season. Revered by the town folk and by visitors, Cherry mania strikes as everything cherry is celebrated in one of South Africa's most popular festivals. By the time November rolls around, the cherry trees are groaning under the weight of their red gold.</p>
	<p class="paragraphtext">No festival is complete without good food and music, and this year the festival will dish up both in great supply. Top entertainers including Nadine, David Fourie, Bobby van Jaarsveld and die Cambells will perform on the main festival stage.</p>
	<p class="paragraphtext">Workshops include: Wedding planning, Cherry Product Casting, Cheese Making, Asparagus, Goose Plucking and Makeovers. There are also tours organised that take visitors to local cherry and asparagus farms. Horse exhibitions will take place on Friday and Saturday. There is also a Stream Train Tour, a boat cruise on South Africa's only floating cigar bar and a Lesotho fly over that promises to take your breath away!</p>
	<p class="paragraphtext">And finally if you're think you've got the right stuff, why not enter Mr Cherry Pip and Miss Cherry Blossom competition. Sounds like great fun all around!</p>
    <p class="paragraphtext">Top class entertainment, incredible <a href="/index.php?p=eastern_free_state">Eastern Free State</a> scenery and wonderful accommodation will be sure to leave great memories in the minds of the Cherry festinos. Be sure to have a look at our accommodation listings and choose a great place to stay in Ficksburg or even nearby Fouriesburg, and enjoy the wonders of the Eastern Free State.</p>
    <p class="paragraphtext">For more information, visit the <a href="http://www.cherryfestival.co.za" class="alinks" title="Official Ficksburg Cherry Festival website">official Ficksburg Cherry Festival website</a>.</p>
    <ul>
        <li><a href="/index.php?p=ficksburg" class="alinks" title="Information about Ficksburg">Read more about Ficksburg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/ficksburg/" class="alinks" title="Find Accommodation in Ficksburg">Find accommodation in Ficksburg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/fouriesburg/" class="alinks" title="Find Accommodation in Ficksburg">Find accommodation in nearby Fouriesburg</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<div align="center">
  <!-- START right menus -->
  
</div>
<div class="contentrightheading ">Accommodation Specials:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/specials/cape_town_western_cape/" class="alinks">Cape Town</a></li>
        <li><a href="http://booktravel.travel/specials/kwazulu-natal_south_africa/" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="http://booktravel.travel/specials/knysna_western_cape/" class="alinks">Knysna</a></li>
        <li><a href="http://booktravel.travel/specials/gauteng_south_africa/" class="alinks">Gauteng</a></li>
        <li><a href="http://booktravel.travel/specials/mossel_bay_western_cape/" class="alinks">Mossel Bay</a></li>
        <li><a href="http://booktravel.travel/specials/franschhoek_western_cape/" class="alinks">Franschhoek</a></li>
        <li><a href="http://booktravel.travel/specials/south_africa/" class="alinks">View all specials...</a></li>
    </ul>

<div class="contentrightheading">Special Needs:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/accommodation/pet_friendly/southern_africa/south_africa/index.html" class="alinks">Pet Friendly</a></li>
        <li><a href="http://booktravel.travel/accommodation/disabled_friendly/southern_africa/south_africa/" class="alinks">Disabled Friendly</a></li>
    </ul>
    <div class="contentrightheading">AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=travel_books" class="alinks">About AA Travel Guides</a></li>
        <li><a href="/index.php?p=press" class="alinks">Press Releases</a></li>
        <li><a href="http://www.aatravelblog.co.za" class="alinks">CEO Blog</a></li>
        <li><a href="/index.php?p=quality_assured" class="alinks">Join AA Quality Assured Programme</a></li>
        <li><a href="/index.php?p=contact" class="alinks">Contact Us</a></li>
    </ul>
</div>
<!-- END right menus -->

</div>