<!--
AA Quality assured accommodation form - Print Ads
-->

<script type="text/javascript" >

	function cdir() {
		tot=0
		vat=0
		nett=0
		if (document.getElementById('dir_13').checked) {
			tot = 2166.00
			vat = 266.00
			nett = 1900.00
		}
		if (document.getElementById('dir_46').checked) {
			tot = 2451.00
			vat = 301.00
			nett = 2150.00
		}

		if (document.getElementById('dir_712').checked) {
			tot = 2907.00
			vat = 357.00
			nett = 2550.00
		}
		if (document.getElementById('dir_1319').checked) {
			tot = 3135.00
			vat = 385.00
			nett = 2750.00
		}
		if (document.getElementById('dir_2049').checked) {
			tot = 4047.00
			vat = 497.00
			nett = 3550.00
		}
		if (document.getElementById('dir_50').checked) {
			tot = 4503.00
			vat = 553.00
			nett = 3950.00
		}


		document.getElementById('dir_total').value = tot.toFixed(2)
		document.getElementById('dir_vat').value = vat.toFixed(2)
		document.getElementById('dir_nett').value = nett.toFixed(2)

	}

	function chk_form() {
		msg = ''
		if (!document.getElementById('dir').checked && !document.getElementById('guide').checked) {
			msg += 'Please select a publication at the top of the form. \n\n'
		} else if (document.getElementById('grand_total').value == '') {
			msg += 'Please select an advert type from the advert list. \n\n'
		}

		if (!document.getElementById('tc_agree').checked) {
			msg += 'You need to agree to the terms and conditions before continuing. \n\n'
		}

		if (document.getElementById('seccode').value == '' || document.getElementById('seccode').value == 'Copy Above Code') {
			msg += 'Please copy the code displayed at the bottom of the window into the field below it. \n\n'
		}

		if (msg) {
			alert(msg)
			return false
		} else {
			return true
		}
	}

	function fill_form() {
		js_values = new Array();
		js_keys = new Array();
		'!js_values!'
		'!js_keys!'

		for (i=0; i<js_values.length; i++) {
			if (document.getElementsByName(js_keys[i])) {
				a = document.getElementsByName(js_keys[i])
				if (a[0] && a[0].type == 'checkbox') {
					a[0].checked = true;
				} else if (a[0] && a[0].type == 'radio') {
					b=document.getElementsByName(js_keys[i])
					for (y=0; y<b.length; y++) {
						if(b[y].value == js_values[i]) b[y].checked = true;
					}
				} else {
					if (a[0]) a[0].value = js_values[i]
				}
			}
		}
	}
</script>
<style>
	.table {width: 100%}
	.table TD {font-family: arial; font-size: 12px}
	.table TH {font-family: arial; font-size: 14px; font-weight: bold; text-align: left; background-color: #E4E5E6}

	.price_block {width: 100%; border-collapse: collapse}
	.price_block TH {background-color: #CCCCCC; border: 1px solid black; text-align: center}
	.price_block TD {font-family: arial; font-size: 12px; border: 1px solid black}

	.total_block {width: 250px}

	.wFull {width: 100%}
	.w10 {width: 10px}
	.w20 {width: 20px}
	.w30 {width: 30px}
	.w40 {width: 40px}
	.w50 {width: 50px}
	.w60 {width: 60px}
	.w70 {width: 70px}
	.w80 {width: 80px}
	.w90 {width: 90px}
	.w100 {width: 100px}
	.w110 {width: 110px}
	.w120 {width: 120px}
	.w130 {width: 130px}
	.w140 {width: 140px}
	.w150 {width: 150px}
	.w160 {width: 160px}
	.w170 {width: 170px}
	.w180 {width: 180px}
	.w200 {width: 200px}
	.w300 {width: 300px}

	.hidden {display: none}

</style>
<!-- message -->
<form action="" method="post" onSubmit="return chk_form()">
<table class="table">
	<tr>
		<th>Owner Details / Head Office Details - <i>(Private Contact Details)</i></th>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w150">ESTABLISHMENT NAME</td><td><input type="text" name="DT-Establishment Name"  class="wFull" tabindex="1" ></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w100">Owner / Manager</td><td><input type="text" name="DT-Owner/Manager"  class="wFull" tabindex="2"></td>
		<td class="w70">Designation</td><td><input type="text" name="DT-Designation"  class="wFull" tabindex="3"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w20">Tel</td><td><input type="text" name="DT-Owner Tel"  class="wFull" tabindex="4"></td>
		<td class="w20">Cell</td><td><input type="text" name="DT-Owner Cell"  class="wFull" tabindex="5"></td>
		<td class="w20">Fax</td><td><input type="text" name="DT-Owner Fax"  class="wFull" tabindex="6"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w160">Registered Company Name</td><td><input type="text" name="DT-Registered Company Name"  class="wFull" tabindex="7"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w140">Chain / Brand Affiliations</td><td><input type="text" name="DT-Chain / Brand Affiliations"  class="wFull" tabindex="8"></td>
		<td class="w40">Email</td><td><input type="text" name="DT-Email"  class="wFull" tabindex="9"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w90">Postal Address</td><td><input type="text" name="DT-Postal Address"  class="wFull" tabindex="10"></td>
		<td class="w40">Code</td><td><input type="text" name="DT-Code"  class="wFull" tabindex="11"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w130">Reg No / Ck No / Id No</td><td><input type="text" name="DT-Reg No / Ck No / Id No"  class="wFull" tabindex="12"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w110">Registered for VAT</td><td class="w110"><input type="radio" id="vat_y" name="DT-Registered For VAT" value="Yes" tabindex="13"><label for="vat_y">Yes</label> / <input type="radio" name="DT-Registered For VAT" id="vat_n" value="No" tabindex="14"><label for="vat_n">No</label></td>
		<td class="w70">Vat Number</td><td><input type="text" name="DT-VAT Number"  class="wFull" tabindex="15" maxlength="10"></td>
		<td class="w180" align="right">
			<label for="pty">Pty</label> <input type="checkbox" id="pty" name="DT-Pty" value="Yes" tabindex="16">
			<label for="ck">Ck</label> <input type="checkbox" name="DT-Ck" id="ck" value="Yes" tabindex="17" >
			<label for="st">Sole Trader</label> <input type="checkbox" id="st" name="DT-Sole Trader" value="Yes" tabindex="18" >
		</td>
	</tr>
</table>
	<br>
<table class="table">
	<tr>
		<th>Establishment Details - <i>(Reservation Details)</i></th>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w100" nowrap>Manager / Responsible Person On Site</td><td><input type="text" name="ED-Manager/Responsible Person"  class="wFull" tabindex="19"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w100">Physical Address</td><td><input type="text" name="ED-Physical Address"  class="wFull" tabindex="20"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w40">Suburb</td><td><input type="text" name="ED-Suburb"  class="wFull" tabindex="21"></td>
		<td class="w30">Town</td><td><input type="text" name="ED-Town"  class="wFull" tabindex="22"></td>
		<td class="w40">Province</td><td><input type="text" name="ED-Province"  class="wFull" tabindex="23"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w90">Postal Address</td><td><input type="text" name="ED-Postal Address"  class="wFull" tabindex="24"></td>
		<td class="w40">Code</td><td><input type="text" name="ED-Code"  class="wFull" tabindex="25"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w30">Tel</td><td><input type="text" name="ED-Tel"  class="wFull" tabindex="26"></td>
		<td class="w30">Cell</td><td><input type="text" name="ED-Cell"  class="wFull" tabindex="27"></td>
		<td class="w30">Fax</td><td><input type="text" name="ED-Fax"  class="wFull" tabindex="28"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w40">Email</td><td><input type="text" name="ED-Email"  class="wFull" tabindex="29"></td>
		<td class="w80">Web Address</td><td><input type="text" name="ED-Web Address"  class="wFull" tabindex="30"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w150">Contact Person Accounts</td><td><input type="text" name="ED-Contact Person Accounts"  class="wFull" tabindex="31"></td>
		<td class="w30" nowrap>Account Tel</td><td><input type="text" name="ED-Accounts Tel"  class="wFull" tabindex="32"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w30" nowrap>Account Fax</td><td><input type="text" name="ED-Accounts Fax"  class="wFull" tabindex="33"></td>
		<td class="w30">Email</td><td><input type="text" name="ED-Accounts Email"  class="wFull" tabindex="34"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w30" nowrap>Number of</td><td><select name="ED-Rooms/units" class="wFull" tabindex="35"><option value="Rooms">Rooms<option value="Units">Units</select></td>
		<td class="w30" nowrap>(please indicate)</td><td><input type="text" name="ED-Number of Units"  class="wFull" tabindex="36"></td>
		<td class="w30" nowrap>Number of beds when completely full</td><td><input type="text" name="ED-Number of Beds" class="wFull" tabindex="37"></td>
	</tr>
</table>
<table class="table">
	<tr>
		<td class="w30" nowrap>Average rack rate per person sharing twin occupancy: Normal</td><td><input type="text" name="ED-Rack rate (Normal)" class="wFull" tabindex="38"></td>
		<td class="w30" nowrap>High</td><td><input type="text" name="ED-Rack rate (High)"  class="wFull" tabindex="39"></td>
	</tr>
</table>
	<br>
<table class="table">
	<tr>
		<th>AA Quality Assurance</th>
	</tr>
</table>

		
		<table class="table">
			<tr>
				<td width="500px">
					<table class="price_block">
						<tr>
							<th>No. of Rooms</th>
							<th>1-3</th>
							<th>4-6</th>
							<th>7-12</th>
							<th>13-19</th>
							<th>20-49</th>
							<th>50+</th>
						</tr>
						<tr>
							<td>Nett</td>
							<td>R 1900.00</td>
							<td>R 2150.00</td>
							<td>R 2550.00</td>
							<td>R 2750.00</td>
							<td>R 3550.00</td>
							<td>R 3950.00</td>
						</tr>
						<tr>
							<td>VAT</td>
							<td>R 266.00</td>
							<td>R 301.00</td>
							<td>R 357.00</td>
							<td>R 385.00</td>
							<td>R 497.00</td>
							<td>R 553.00</td>
						</tr>
						<tr>
							<td>TOTAL</td>
							<td>R 2166.00</td>
							<td>R 2451.00</td>
							<td>R 2907.00</td>
							<td>R 3135.00</td>
							<td>R 4047.00</td>
							<td>R 4503.00</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_13" value="1-3" onClick="cdir()"></td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_46" value="4-6" onClick="cdir()"></td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_712" value="7-12" onClick="cdir()"></td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_1319" value="13-19" onClick="cdir()"></td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_2049" value="20-49" onClick="cdir()"></td>
							<td align="center"><input type="radio" name="DI-AA Quality Assurance Option" id="dir_50" value="50+" onClick="cdir()"></td>
						</tr>
					</table>
				</td>
				<td class="w40">&nbsp;</td>
				<td align="right">
					<table class="total_block">
						<tr>
							<td class="w40">NETT</td>
							<td><input type="text" name="DI-AA Quality Assurance NETT" id="dir_nett" value="0" class="wFull" readonly ></td>
						</tr>
						<tr>
							<td class="w40">VAT</td>
							<td><input type="text" name="DI-AA Quality Assurance VAT" id="dir_vat" value="0" class="wFull" readonly ></td>
						</tr>
						<tr>
							<td class="w40">TOTAL</td>
							<td><input type="text" name="DI-AA Quality Assurance TOTAL" id="dir_total" value="0" class="wFull" readonly ></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
<hr>
<table class="table">
	<tr valign="top">
		<td>
			<input type="checkbox" name="Agree: Terms and Conditions" id="tc_agree" value="Y">I have read and agree to the '<a href="/index.php?p=tc_aaqa" target="_blank">Terms and Conditions - AA Quality Assurance </a>'<br>
			<img src="/shared/securimage/securimage_show.php?sid=!uniqid!"><br />
			<input type="text" name="seccode#DNS" id="seccode#DNS" value="Copy Above Code" onCLick="this.value=''" />
		</td>
	</tr>
</table>
<input type="hidden" name="return" value="/index.php?p=fixed_form_return" >
<input type="hidden" name="recipients" value="2" >
<input type="hidden" name="heading[0]" value="DT-Owner Details / Head Office Details" >
<input type="hidden" name="heading[1]" value="ED-Establishment Details" >
<input type="hidden" name="heading[2]" value="DI-AA Quality Assurance" >
<input type="hidden" name="subject" value="Form completion for AA Quality Assurance - Fixed Accommodation " >
<div style="text-align: left"><input type="submit" value="Send Form" ></div>
</form>
<script>fill_form()</script>