<head>
<link rel="stylesheet" href="template2.css">
<title>Fort Wonderboom</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Fort Wonderboom</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
   
     <div class="paragraphpictureright"><img src="../images/poi_gauteng_fort_wonderboom.jpg" title="Fort Wonderboom" width="450" height="290" hspace="5" vspace="5">The ruins of Fort Wonderboom atop Wonderboom Hill<br />
    &copy; John Gore</div>
    <p class="paragraphtext">Fort Wonderboom, built in 1897 and situated in the Wonderboom Nature Reserve on the northern slopes of the Magaliesberg, about 7km north of Pretoria and near the Apies River, was one of four forts built to defend the city of <a href="/index.php?p=pretoria">Pretoria</a> during the Boer War (which famously never fired any of their canons in battle).</p>
    <p class="paragraphtext">Demolished during the Second World War to ensure that it wouldn't fall into enemy hands and be used as a point from which to attack the very city that it was built to protect, its ruins have become a very popular tourist attraction indeed, in part due to the history of the area, in part due to the magnificent <a href="/index.php?p=wonderboom">Wonderboom fig tree</a> found at the base of the hill on which it sits. Its also popular for the fantastic view it affords one of the wonderful Pretoria horizon. </p>
    <p class="paragraphtext">The ruins are perched atop Wonderboom Hill, a 45 minute hike from the famous Wonderboom fig tree along a sandstone paved path. In the distance, the entire city of Pretoria can be seen, along with such famous sights as the <a href="/index.php?p=voortrekker_monument">Voortrekker Monument</a>, the Telkom tower, and the South African Reserve Bank (the tallest building in Pretoria).</p>
    <p class="paragraphtext"><em><strong>Fort Wonderboom Physical Address</strong></em><br />
      Atop Wonderboom Hill, Pretoria</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Fort Wonderboom</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Accommodation in Pretoria</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.684231,28.196411&amp;spn=0.027073,0.060081&amp;z=14&amp;iwloc=0004a6b80cbdd834fcc21&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.684231,28.196411&amp;spn=0.027073,0.060081&amp;z=14&amp;iwloc=0004a6b80cbdd834fcc21&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Pretoria</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>