<head>
<link rel="stylesheet" href="template2.css">
<title>Fort Merensky and Botshabelo museum complex</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Fort Merensky and Botshabelo museum complex</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/fort_merensky.jpg" title="Fort Merensky and Botshabelo museum complex" width="450" height="286" hspace="5" vspace="5"> Fort Merensky and Botshabelo museum complex</div>
    
    <p class="paragraphtext">The Fort Merensky and Botshabelo museum complex, an endlessly fascinating historical/ cultural experience located just outside <a href="/index.php?p=middelburg_mp">Middelburg</a> in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>, offers interested visitors a fair reflection of what a mission station was like in this part of the world over a century ago. The fort, other old mission buildings, and the traditional Ndebele village comprise this spectacular open-air museum.</p>
    <p class="paragraphtext">Botshabelo, meaning 'place of refuge', was established in the 1860s by two German missionaries (Alexander Merensky and Heinrich Gr&uuml;tzner) at the behest of the Berlin Mission Society. A small town developed around the mission station and a fort was constructed to protect it. Initially the fort was named Fort Wilhelm but it eventually became known as Fort Merensky. This historical museum complex boasts a beautiful little church and many pretty period buildings. It is located in an absolutely beautiful 2 300ha nature reserve.</p>
    <p class="paragraphtext">The traditional Ndebele village within the museum complex is a 'living museum' that gives visitors insight into the traditional Ndebele way of life and aims to preserve this colourful tribal culture. Ndebele people actually live in the village's stunning decorated huts.</p>
    <p class="paragraphtext">Not to be missed: Three delightfully challenging hiking trails of varying lengths have been laid out in the area. These well-marked trails take intrepid hikers on an incredible journey through the gorgeous Klein Olifants River gorge.</p>
    <p class="paragraphtext"><em><strong>Fort Merensky and Botshabelo museum complex Physical Address</strong></em><br />
      5km Northwest of <a href="/index.php?p=middelburg_mp">Middelburg</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Fort Merensky and Botshabelo museum complex</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/middelburg">Accommodation in Middelburg</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Accommodation in Cultural Heartland</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.636574,29.493484&amp;spn=0.216667,0.480652&amp;z=11&amp;iwloc=0004b23e529d3904e142d&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.636574,29.493484&amp;spn=0.216667,0.480652&amp;z=11&amp;iwloc=0004b23e529d3904e142d&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/middelburg">Middelburg</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Cultural Heartland</a><a href="/index.php?p=malalane"></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>