<head>
<link rel="stylesheet" href="template2.css">
<title>Foskor Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Foskor Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/foskor_museum.jpg" title="Foskor Museum" width="302" height="213" hspace="5" vspace="5">Foskor Museum</div>
    
    <p class="paragraphtext"><a href="/index.php?p=phalaborwa">Phalaborwa</a>, located amid immensely picturesque surrounds in the stunning <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa, is home to the endlessly fascinating Foskor Museum, among many other incredible tourist attractions.</p>
    <p class="paragraphtext">This intriguing museum focuses on the area&rsquo;s rich mining history &ndash; shedding light on Phalaborwa&rsquo;s recent mining history and its <a href="/index.php?p=phalaborwa_opencast_mine">Big Hole</a> (the enormous opencast mine in the area which is 20km wide and 450m deep) and stretching all the way back to the primitive smelting methods used by the Sotho people who used to mine for copper and iron ore here around 400 AD.</p>
    <p class="paragraphtext">The Foskor Museum also highlights the tribal history of the area&rsquo;s inhabitants through the ages. This remarkable museum is situated in Phalaborwa&rsquo;s oldest house.</p>
    <p class="paragraphtext"><em><strong>Foskor Museum Physical Location</strong></em><br />
      South of <a href="/index.php?p=phalaborwa">Phalaborwa</a>, on Koper Street.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Foskor Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/phalaborwa">Accommodation in Phalaborwa</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/kruger_national_park_and_surrounds" class="alinks">Accommodation in Kruger Park</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.935114,31.149158&amp;spn=0.054915,0.120163&amp;z=13&amp;iwloc=0004b53cadf36e17b4c3d&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.935114,31.149158&amp;spn=0.054915,0.120163&amp;z=13&amp;iwloc=0004b53cadf36e17b4c3d&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/phalaborwa">Phalaborwa</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/kruger_national_park_and_surrounds" class="alinks">Kruger Park</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>