<head>
<link rel="stylesheet" href="template2.css">
<title>George Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>George Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/george_airport.jpg" title="George Airport" width="450" height="263" hspace="5" vspace="5">George Airport</div>
    
    <p class="paragraphtext">George Airport is located in the heart of the small city of George, an ever popular and absolutely beautiful holiday hub situated halfway between <a href="/index.php?p=cape_town">Cape Town</a> and <a href="/index.php?p=port_elizabeth">Port Elizabeth</a> in the gorgeous Western Cape <a href="/index.php?p=garden_route">Garden Route</a> of South Africa. It was built in 1977 as an exact replica of Namibia&rsquo;s Keetmanshoop Airport.</p>
    <p class="paragraphtext">George Airport has won many awards for its efficient and effective operations, including the prestigious South African Airport of the Year award which it has won numerous times. The airport hosts flights on various airlines to and from <a href="/index.php?p=johannesburg">Johannesburg</a>, <a href="/index.php?p=cape_town">Cape Town</a>, and <a href="/index.php?p=durban">Durban</a>. Roughly 154 000 passengers flew to and from George Airport in 2003 and this figure rose quite substantially to 199 000 satisfied customers in 2004. In fact, due to the spectacular scenery and marvellous natural beauty of the area coupled with its vast wealth of superb tourist attractions, the ever increasing popularity of George and its stunning surrounds is expected to boost the airport's air traffic even further.</p>
    <p class="paragraphtext">Not only does George Airport play a crucial role in the region's booming tourist trade, but it is also an important national distribution centre for cargo such as fish, oysters, herbs, flowers, and ferns.</p>
    <p class="paragraphtext">Tourist destinations in the vicinity include the <a href="/index.php?p=cape_st_blaize_lighthouse">Cape St Blaize Lighthouse</a> and the <a href="/index.php?p=cape_st_blaize_cave">Cape St Blaize Cave</a> in nearby <a href="/index.php?p=mossel_bay">Mossel Bay</a>, the lovely town of Wilderness, and many more. There is also plenty of superb <a href="/index.php?p=golfing_garden_route">golfing on the Garden Route</a> to delight golfing enthusiasts for hours on end.</p>
    <p class="paragraphtext"><em><strong>George Airport Physical Address</strong></em><br /> 
    10km South West of George, on the R102 or N2</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near George Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">Accommodation in George</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.984364,22.433739&amp;spn=0.099638,0.240326&amp;z=12&amp;iwloc=0004acbad3103f023e42b&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.984364,22.433739&amp;spn=0.099638,0.240326&amp;z=12&amp;iwloc=0004acbad3103f023e42b&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">George</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>