<head>
<link rel="stylesheet" href="template2.css">
<title>God's Window</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>God's Window</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/gods_window.jpg" title="God's Window" width="450" height="450" hspace="5" vspace="5">God's Window<br />
      &copy; South African Tourism</div>
    
    <p class="paragraphtext">God's Window, an absolutely spectacular lookout point in the <a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a> along the Drakensberg escarpment in <a href="/index.php?p=mpumalanga">Mpumalanga</a>, <a href="/index.php?p=south_africa">South Africa</a>, offers some of the prettiest and most powerful panoramas in the entire world. Mere words will not do the breathtaking beauty and scenic splendour on view from God&rsquo;s Window justice &ndash; these stunning sights need to be experienced to be believed. One glance upon this veritable Garden of Eden from God&rsquo;s Window and you&rsquo;ll understand exactly why it&rsquo;s called 'God's Window'.</p>
    <p class="paragraphtext">Situated at the southernmost extremity of the Blyde River Canyon Nature Reserve, God&rsquo;s Window allows excited observers to see everything from lush forests, craggy cliffs, the lovely Lowveld with its thrilling game reserves (including the <a href="http://booktravel.travel/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>), and, on a clear day, some claim as far as the distant Lebombo Mountains on the border with <a href="/index.php?p=mozambique">Mozambique</a>.</p>
    <p class="paragraphtext"><a href="http://booktravel.travel/index.php?p=gods_window"></a>The feeling you get from gazing at the sheer cliffs, plunging waterfalls, majestic canyons, aloe gardens punctuating immense weathered sandstone outcrops, and truly fascinating rock formations stretching for miles and miles is not  matched anywhere else in the world &ndash; it undoubtedly inspires a feeling of absolute awe. In fact, the area in which the Blyde River Canyon is found (and obviously its most famous attraction &ndash; God's Window) is aptly called <a href="/index.php?p=the_panorama">the Panorama Route</a>.</p>
    <p class="paragraphtext">A footpath from the parking area at God&rsquo;s Window winds along the edge of the escarpment to the fabulous God&rsquo;s Window viewpoints. The adventurous among us are in for a rare treat &ndash; hiking a bit further along a steep, signposted trail which weaves its way through an evergreen tropical rainforest leads to possibly the most rewarding views from God's Window.</p>
    <p class="paragraphtext"><em><strong>God's Window Physical Location</strong></em><br />
      10km Northwest of <a href="http://booktravel.travel/index.php?p=graskop">Graskop</a>, in <a href="http://booktravel.travel/index.php?p=the_panorama">the Panorama</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near God's Window</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Accommodation in Graskop</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">Accommodation in The Panorama</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.841581,30.93956&amp;spn=0.218089,0.480652&amp;z=11&amp;iwloc=0004b2dab5e273dc471fc&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.841581,30.93956&amp;spn=0.218089,0.480652&amp;z=11&amp;iwloc=0004b2dab5e273dc471fc&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop">Graskop</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/the_panorama" class="alinks">The Panorama</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>