<table width="640" border="0" align="center" cellpadding="0" cellspacing="5">
  <tr>
    <td><p align="center"><span class="style1"><img src="/images/aw_main_logo.gif"></span></p>
      <p align="center" class="style1 style2">&nbsp;</p>
      <p align="center" class="style2 style1 style6"><em><strong>Thank You</strong></em></p>
      <p align="center" class="style1 style2"><em><strong>for participating in the </strong></em><em><strong>2010</strong></em></p>
      <p align="center" class="style1 style2"><em><strong>Gold Achievers </strong></em><em><strong>survey.</strong></em></p>
      <p align="center" class="style2 style1">&nbsp;</p>
      <p align="center" class="style1 style2"><em><strong>Your submission has been entered</strong></em></p>
      <p align="center" class="style2 style1"><em><strong>into the  draw. Winners </strong></em><em><strong>will be announced</strong></em></p>
      <p align="center" class="style2 style1"><em><strong>via e-mail</strong></em><em><strong>! </strong></em></p>      
      <p align="center" class="style1 style2">&nbsp;</p>
      <p align="center" class="style2 style1"><em><strong>The 2010 Gold Achievers will be </strong></em><em><strong>announced</strong></em></p>
      <p align="center" class="style2 style1"><em><strong>during May 2010 at the</strong></em></p>
      <p align="center" class="style2 style1"><em><strong>Tourism Indaba in Durban, South Africa. </strong></em></p>
      <p align="center" class="style2 style1 style7"><em><strong>Watch the press for details! </strong></em></p></td>
  </tr>
</table>