<head>
<link rel="stylesheet" href="template2.css">
<title>Golfing on the Garden Route</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Golfing on the Garden Route</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright">
      <img src="../images/golfing_garden_route.jpg" title="Golfing on the Garden Route" width="450" height="299" hspace="5" vspace="5">Golfing on the Garden Route<br />
      &copy; South African Tourism</div>
    
    <p class="paragraphtext">The spectacular South African <a href="/index.php?p=garden_route">Garden Route</a>, stretching all the way from <a href="/index.php?p=mossel_bay">Mossel Bay</a> in the <a href="/index.php?p=western_cape">Western Cape</a> Province to Storms River in the <a href="/index.php?p=eastern_cape">Eastern Cape</a> Province, is heaven on earth for keen golfers. Golfing opportunities are almost endless with numerous world-class golf courses gracing the area. The mild climate is perfect for strolling along a golf course and the striking scenery surrounding the many superb golf courses is undoubtedly some of the most beautiful in the world.</p>
    <p class="paragraphtext">The Fancourt Country Club Estate, situated in George, is consistently ranked among the top 10 golf courses in South Africa and alongside some of the best in the world. Boasting possibly the most impressive golf course designs in the country, especially The Links at Fancourt, the courses here present thorough tests for every golfer. The awe-inspiring courses, designed by the golfing legend Gary Player's design team, have been praised by some of the world's best golfers and The Links at Fancourt has hosted many prestigious international tournaments. Outeniqua and Montagu, two magnificent 18-hole parkland courses at Fancourt, also designed by Gary Player, provide challenging designs and impeccable conditioning to delight any golfer. In fact, Montagu was even ranked the number one golf course in South Africa in the recent past.</p>
    <p class="paragraphtext">The breathtakingly beautiful Pinnacle Point Beach and Golf Resort, located near <a href="/index.php?p=mossel_bay">Mossel Bay</a>, was chosen as one of the world's top 10 best new courses in 2006. It was the first South African golf course to receive this tremendous honour. Perched atop craggy cliffs overlooking the Indian Ocean along the rugged Mossel Bay coastline, the scenery on view along the 18-hole championship golf course is absolutely mind-blowing. The course was designed by the renowned golf architect Peter Matkovich and famous golfer Darren Clark and is regarded by many as their masterpiece.</p>
    <p class="paragraphtext">The Pezula Championship Golf Course in <a href="/index.php?p=knysna">Knysna</a>, adjacent to the Pezula Resort Hotel &amp; Spa, offers some of the most beautiful sweeping fairways and well-maintained greens in the world. This multiple award winning 18-hole golf course's setting in lovely Knysna with its stunning ocean views only adds to its allure. Designed by David Dale and Ronald Fream of GolfPlan USA, the course was awarded the 'Best New Golf Course in South Africa' award mere months after its grand opening in 2001 and it has continued to amass awards since then, with its crowning achievement being the 'Most Outstanding Golf Resort Worldwide' award (2006 VIP International Traveller Reader's Award).</p>
    <p class="paragraphtext">Other great golfing on the Garden Route includes the Mossel Bay Golf Club, the Oubaai Golf Resort, the Kingswood Golf Estate, the George Golf Club, the Knysna Golf Club, the Plettenberg Bay Country Club, and, last but not least, the Goose Valley Golf Club.</p>
    <p class="paragraphtext">Round of golf anyone?</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation while Golfing on the Garden Route</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">Accommodation in George</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/greater_knysna_area">Accommodation in Knysna</a><Br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/greater_mossel_bay_area">Accommodation in Mossel Bay</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.822512,22.678528&amp;spn=0.798615,1.922607&amp;z=9&amp;iwloc=0004acfc5e8ad34933ca6&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.822512,22.678528&amp;spn=0.798615,1.922607&amp;z=9&amp;iwloc=0004acfc5e8ad34933ca6&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">George</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/greater_knysna_area">Knysna</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/greater_mossel_bay_area">Mossel Bay</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>