<head>
<link rel="stylesheet" href="template2.css">
<title>Map of South Africa</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">Google search for www.AAtravel.co.za</div>
	<div class="contentmainheading">
	  <h1>Use Google Search Tool to search our the AAtravel.co.za website:</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->

<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('011203007680724398439:xl5gva6rhfq');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

      


  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<div align="center">
  <!-- START right menus -->
  <a href='/index.php?p=map' target="_top" ><img src="/images/map-driving-directions.jpg" alt="Get driving directions in South Africa" width="180" height="137" hspace="1" vspace="0" border="0" /><br />
      </a>
</div>

<div class="contentrightheading ">Select a Province:</div>
<ul class="contentrightheading2">
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
                      <li><a href="/index.php?p=eastern_cape" class="alinks">Eastern Cape</a></li>
                      <li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
                      <li><a href="/index.php?p=gauteng" class="alinks">Gauteng</a></li>
                      <li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
                      <li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
                      <li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
                      <li><a href="/index.php?p=northern_cape" class="alinks">Northern Cape</a></li>
                      <li><a href="/index.php?p=free_state" class="alinks">Free State</a></li>
    </ul>

</div>
<!-- END right menus -->

</div>

<div class="row">
<hr/>

<div class="provinceblock" >
	<div class="contentrightheading kzn">KwaZulu-Natal:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=greater_durban" class="alinks">Greater Durban</a></li>
                  <li><a href="/index.php?p=zululand" class="alinks">Zululand</a></li>
                  <li><a href="/index.php?p=battlefields" class="alinks">The Battlefields</a></li>
                  <li><a href="/index.php?p=drakensberg_kzn" class="alinks">Drakensberg</a></li>
                  <li><a href="/index.php?p=midlands" class="alinks">Midlands</a></li>
                  <li><a href="/index.php?p=south_coast" class="alinks">South Coast</a></li>
                  <li><a href="/index.php?p=north_coast" class="alinks">North Coast</a></li>
                  <li><a href="/index.php?p=east_griqualand" class="alinks">East Griqualand</a></li>
                  <li><a href="/index.php?p=elephant_coast" class="alinks">The Elephant Coast</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading mp">Mpumalanga:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=kruger_park_mpumalanga" class="alinks">Kruger National Park</a></li>
                  <li><a href="/index.php?p=the_panorama" class="alinks">The Panorama</a></li>
                  <li><a href="/index.php?p=cosmos_country" class="alinks">Cosmos Country</a></li>
                  <li><a href="/index.php?p=cultural_heartland" class="alinks">Cultural Heartland</a></li>
                  <li><a href="/index.php?p=grass_and_wetlands" class="alinks">Grass and Wetlands</a></li>
                  <li><a href="/index.php?p=highlands_meander" class="alinks">Highlands Meander</a></li>
                  <li><a href="/index.php?p=lowveld_legogote" class="alinks">Lowveld Legogote</a></li>
                  <li><a href="/index.php?p=wild_frontier" class="alinks">Wild Frontier</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading gp">Gauteng:
	  <ul class="contentfooterlist">
				<li><a href="/index.php?p=greater_johannesburg" class="alinks">Greater Johannesburg</a></li>
                  <li><a href="/index.php?p=tshwane" class="alinks">Tshwane</a></li>
                  <li><a href="/index.php?p=east_rand_ekurhuleni" class="alinks">East Rand (Ekurhuleni)</a></li>
                  <li><a href="/index.php?p=metsweding" class="alinks">Metsweding</a></li>
                  <li><a href="/index.php?p=the_vaal_sedibeng" class="alinks">The Vaal (Sedibeng)</a></li>
                  <li><a href="/index.php?p=west_rand" class="alinks">West Rand</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading wc">Western Cape:
	  <ul class="contentfooterlist">
    	<li><a href="/index.php?p=greater_cape_town" class="alinks">Greater Cape Town</a></li>
        <li><a href="/index.php?p=cape_winelands" class="alinks">Cape Winelands</a></li>
        <li><a href="/index.php?p=garden_route" class="alinks">The Garden Route</a></li>
        <li><a href="/index.php?p=klein_karoo" class="alinks">Klein Karoo</a></li>
        <li><a href="/index.php?p=west_coast" class="alinks">West Coast</a></li>
        <li><a href="/index.php?p=overberg" class="alinks">The Overberg</a></li>
        <li><a href="/index.php?p=central_karoo" class="alinks">Cape Central Karoo</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading ec">Eastern Cape:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=tsitsikamma_garden_route" class="alinks">Tsitsikamma Garden Route</a></li>
                  <li><a href="/index.php?p=addo_elephant_park_and_surrounds" class="alinks">Addo Elephant Park</a></li>
                  <li><a href="/index.php?p=wild_coast" class="alinks">Wild Coast</a></li>
                  <li><a href="/index.php?p=sunshine_coast" class="alinks">Sunshine Coast</a></li>
                  <li><a href="/index.php?p=karoo_heartland" class="alinks">Karoo Heartland</a></li>
                  <li><a href="/index.php?p=amathole" class="alinks">Amathole</a></li>
                  <li><a href="/index.php?p=friendly_n6" class="alinks">Friendly N6</a></li>
                  <li><a href="/index.php?p=frontier_country" class="alinks">Frontier Country</a></li>
                  <li><a href="/index.php?p=kouga" class="alinks">Kouga</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading lm">Limpopo:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=kruger_park_limpopo" class="alinks">Kruger National Park</a></li>
                  <li><a href="/index.php?p=waterberg" class="alinks">Waterberg</a></li>
                  <li><a href="/index.php?p=mopani" class="alinks">Mopani</a></li>
                  <li><a href="/index.php?p=sekhukhune" class="alinks">Sekhukhune</a></li>
                  <li><a href="/index.php?p=vhembe" class="alinks">Vhembe</a></li>
                  <li><a href="/index.php?p=capricorn" class="alinks">Capricorn</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading nc">Northern Cape:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=kalahari" class="alinks">Kalahari</a></li>
                  <li><a href="/index.php?p=namaqualand" class="alinks">Namaqualand (Namakwa)</a></li>
                  <li><a href="/index.php?p=green_kalahari" class="alinks">Green Kalahari</a></li>
                  <li><a href="/index.php?p=karoo" class="alinks">Karoo</a></li>
                  <li><a href="/index.php?p=diamond_fields" class="alinks">Diamond Fields</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading nw">North West:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=central_north_west" class="alinks">Central Region</a></li>
                  <li><a href="/index.php?p=southern_north_west" class="alinks">Southern Region</a></li>
                  <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
                  <li><a href="/index.php?p=bophirima" class="alinks">Bophirima</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading fs">Free State:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=northern_free_state" class="alinks">Northern Free State (Fezile Dabi)</a></li>
                  <li><a href="/index.php?p=free_state_goldfields" class="alinks">Goldfields (Lejweleputswa)</a></li>
                  <li><a href="/index.php?p=motheo" class="alinks">Motheo</a></li>
                  <li><a href="/index.php?p=eastern_free_state" class="alinks">Eastern Free State (Thabo Mafutsanyana)</a></li>
                  <li><a href="/index.php?p=southern_free_state_xhariep" class="alinks">Southern Free State (Xhariep)</a></li>
	</ul>
</div>
</div>

<div class="provinceblock" >
	<div class="contentrightheading">Southern Africa:
	  <ul class="contentfooterlist">
                  <li><a href="/index.php?p=botswana" class="alinks">Botswana</a></li>
                  <li><a href="/index.php?p=mozambique" class="alinks">Mozambique</a></li>
                  <li><a href="/index.php?p=swaziland" class="alinks">Kingdom of Swaziland</a></li>
                  <li><a href="/index.php?p=lesotho" class="alinks">Lesotho</a></li>
                  <li><a href="/index.php?p=namibia" class="alinks">Namibia</a></li>
                  <li><a href="/index.php?p=zambia" class="alinks">Zambia</a></li>
                  <li><a href="/index.php?p=zimbabwe" class="alinks">Zimbabwe</a></li>
      </ul>
</div>
</div>







</div>