<head>
<link rel="stylesheet" href="template2.css">
<title>Western Cape Points of Interest - Gordon's Bay</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Gordon's Bay</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/gordons_bay.jpg" title="Gordon's Bay" width="450" height="287" hspace="5" vspace="5">Gordon's Bay along the False Bay coast</div>
    
    <p class="paragraphtext">Combining modern cosmopolitan flair with quaint old-style charm, Gordon's Bay, situated on the northeastern corner of False Bay (to the south of the N2 highway and roughly 50km from <a href="/index.php?p=cape_town">Cape Town</a>), is a wonderful harbour town and tourist destination in the <a href="/index.php?p=western_cape">Western Cape</a> Province of <a href="/index.php?p=south_africa">South Africa</a>.</p>
    <p class="paragraphtext">Named after Robert Jacob Gordon (1743-1795), a Dutch explorer of Scottish descent, gorgeous Gordon's Bay is comprised of the old village that is located around the old harbour and Bikini Beach, the lower slopes of the Hottentots-Holland mountain range surveying False Bay, and, the most recent developments, the pretty suburbs close to the main beach.</p>
    <p class="paragraphtext">Gordon Bay's old village is the proud home of the South African Navy's Naval College. This superb officer training facility, situated right next to the old harbour and the yacht marina, hosts many delightful regattas and angling events. On the mountainside above the old harbour stands a giant anchor with the letters 'GB' emblazoned on it. You'd be forgiven for assuming that the 'GB' stands for 'Gordon's Bay' but, in fact, it actually stands for General Botha &ndash; the original name of the naval base in Gordon's Bay.</p>
    <p class="paragraphtext">The entire Helderberg coastline is extremely popular with water sports junkies and Gordon's Bay, in particular, is famed for its sheltered beaches and natural harbours that are perfect for this pastime. Possibly the most popular and most fascinating attractions of Gordon's Bay are the many whale watching spots along Clarence Drive (the R44) between Gordon's Bay and Rooi Els. Watching these immense creatures, particularly the stunning Southern Right Whales who visit the False Bay coastline between June and November, is a truly unforgettable and highly enjoyable experience not to be missed.</p>
    <p class="paragraphtext">Other popular Gordon's Bay activities and attractions include: Hiking trails such as the Steenbras River Gorge and Danie Miller trails, the nearby Kogelberg Biosphere Reserve which is a popular canoeing and hiking destination containing fantastic fynbos plantations, the stunning Helderberg Nature Reserve which has over 169 recorded species of bird, the lovely Helderberg Wine Route, and the remarkable Lwandle Hostel Museum and Arts &amp; Crafts Centre.</p>
    <p class="paragraphtext"><em><strong>Gordon's Bay Physical Address</strong></em><br /> 
    Helderberg Coast, south of Strand</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Gordon's Bay</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/helderberg/gordon%2527s_bay">Accommodation in Gordon's Bay</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/helderberg">Accommodation in the Helderberg</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-34.079962,18.739929&amp;spn=0.398103,0.961304&amp;z=10&amp;iwloc=0004ad59a8eefc57d99c7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-34.079962,18.739929&amp;spn=0.398103,0.961304&amp;z=10&amp;iwloc=0004ad59a8eefc57d99c7&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/helderberg/gordon%2527s_bay">Gordon's Bay</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/helderberg">Helderberg </a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>