<head>
<link rel="stylesheet" href="template2.css">
<title>Grand Central Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Grand Central Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/grand_central_airport.jpg" title="Grand Central Airport" width="450" height="263" hspace="5" vspace="5">Grand Central Airport in Midrand</div>
    
    <p class="paragraphtext">Grand Central Airport is situated in Midrand in the <a href="/index.php?p=gauteng">Gauteng</a> province of South Africa, halfway between <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a>. Although privately owned and restricted to light aircrafts only, Grand Central Airport is open to public air traffic. Light aircrafts do not require prior permission to land on this superbly maintained airfield &ndash; radio contact between the pilot and the tower is sufficient.</p>
    <p class="paragraphtext">Open 24 hours a day and fully equipped, the only thing that Grand Central Airport is missing is customs facilities in the modern terminal building. Many flying schools use the airfield as a base from which to instruct and train aspiring fixed-wing aircraft and helicopter pilots.</p>
    <p class="paragraphtext">The airfield on which Grand Central Airport is now situated was opened in the 1930s by a group of avid motor racers who also dabbled in flying. Their original race track, now abandoned, can still be seen on the northwestern side of the airfield.</p>
    <p class="paragraphtext">Grand Central Airport is in close proximity to Gallagher Estate, Fourways, Sandton, Randburg, and Pretoria.<br />
    </p>
    <p class="paragraphtext"><em><strong>Grand Central Airport Physical Address</strong></em><br /> 
    Eastern end of New Road, Midrand</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Grand Central Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_midrand">Accommodation in Midrand</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_sandton">Accommodation in Sandton</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/centurion">Accommodation in Centurion</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.980345,28.131866&amp;spn=0.027005,0.060081&amp;z=14&amp;iwloc=0004acbf1a0e4c2449c9e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.980345,28.131866&amp;spn=0.027005,0.060081&amp;z=14&amp;iwloc=0004acbf1a0e4c2449c9e&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_midrand">Midrand</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_sandton">Sandton</a></li>
	    <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/centurion">Centurion</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>