<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Grass and Wetlands, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Grass and Wetlands , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Grass and Wetlands, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/lilac_breasted_roller.jpg" title="The Grass and Wetlands region is particularly popular among bird-watchers" width="450" height="225" hspace="5" vspace="5">The Grass and Wetlands region is particularly popular among bird-watchers</div>
    <p class="paragraphtext">The Grass and Wetlands region is unequivocally a birding paradise that lures bird-watchers in their droves.</p>
    <p class="paragraphtext">The route includes South Africa's largest freshwater lake at Chrissiesmeer. Chrissiesmeer also boasts a mysterious giant footprint in rock that matches one in Canada, and hosts an annual frog watching festival in summer and stargazing festival in winter.</p>
    <p class="paragraphtext">A fierce South African (Anglo-Boer) War battle that was fought at Chrissiesmeer is also re-enacted annually.</p>
    <p class="paragraphtext">The route borders <a href="/index.php?p=kwazulu_natal" class="alinks" title="Information about KwaZulu-Natal South Africa">KwaZulu-Natal</a> and <a href="/index.php?p=free_state" class="alinks" title="Information about Free State South Africa">Free State</a>, as well as <a href="/index.php?p=swaziland" class="alinks" title="Information about the Kingdom of Swaziland">the Kingdom of Swaziland</a>, which is the last absolute monarchy in sub-saharan Africa.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/grass_and_wetland/" class="alinks" title="Accommodation in Grass and Wetlands">Accommodation in Grass and Wetlands</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-grass_and_wetlands.jpg" title="Location of Grass and Wetlands, Mpumalanga, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Grass and Wetlands, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">It is also home to the 1,000-year-old ruins of the lost Legoya people and San paintings.</p>
    <p class="paragraphtext">The region also includes the farming communities of Carolina, Hendrina, <a href="/index.php?p=ermelo">Ermelo</a>, Volksrust, <a href="/index.php?p=piet_retief">Piet Retief</a>, Amsterdam, Breyten, Lothair and Morgenzon.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/index.html" class="alinks" title="Accommodation in Mpumalanga">Accommodation in Mpumalanga</a></li>
    	<li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=grass_and_wetlands" class="alinks">Grass and Wetlands</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=ermelo" class="alinks">Ermelo</a></li>
      <li><a href="/index.php?p=piet_retief" class="alinks">Piet Retief</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/badplaas/index.html" class="alinks">Badplaas</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/wakkerstroom/index.html" class="alinks">Wakkerstroom</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>