<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Graskop, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">The Panorama , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Graskop, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/graskop.jpg" title="Graskop" width="450" height="273" hspace="5" vspace="5">The Big Swing across the Graskop Gorge<br />
  &copy; SATourism</div>
<p class="paragraphtext"> Graskop, a gorgeous little town located in the heart of the pretty <a href="/index.php?p=the_panorama">Panorama Route</a> at the edge of the Drakensberg escarpment in <a href="/index.php?p=mpumalanga">Mpumalanga</a>, South Africa, is a fantastic tourist destination and the perfect base from which to explore this magnificent province's many mind-blowing natural attractions.</p>
<p class="paragraphtext">Situated at an altitude of 1400m above sea level, the town's terrific temperate climate is ideal for all sorts of thrilling activities to be enjoyed by nature lovers and intrepid outdoor enthusiasts.</p>
<p class="paragraphtext">Graskop's genesis dates back to 1843 when a group of Voortrekkers stopped in the area while searching for a route to what is now known as Maputo, <a href="/index.php?p=mozambique">Mozambique</a>. The town of Graskop itself was established in the 1880s as a camp for prospectors in search of gold. This time in Graskop's fascinating history is described in the South African classic Jock of the Bushveld and Sir Percy Fitzpatrick, the author of the novel, actually stayed in Paradise Camp, the setting of two chapters in the novel, for a time.</p>
<p class="paragraphtext">Meaning 'grass peak' in Afrikaans, the area in which Graskop is situated is characterised by vast grasslands with very few trees. The town now serves as the centre of a large timber industry.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop" class="alinks" title="Accommodation in Graskop">Find Accommodation in Graskop</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-graskop.jpg" title="Location of Graskop, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Graskop, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">Graskop is literally surrounded by some of South Africa's most spectacular scenery, including the <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>, Sabie, <a href="/index.php?p=pilgrims_rest">Pilgrim's Rest</a>, and the <a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a> &ndash; home to the absolutely stunning <a href="/index.php?p=gods_window">God's Window</a>, the <a href="/index.php?p=bourkes_luck_potholes">Bourke's Luck Potholes</a>, <a href="/index.php?p=the_pinnacle">the Pinnacle</a>, the <a href="/index.php?p=three_rondavels">Three Rondavels</a>, and the Lisbon, Berlin, and Mac Mac waterfalls.</p>
    <p class="paragraphtext">Talented painters and photographers from all over the world flock here in their droves to try to capture these astonishing scenes. Besides these truly amazing natural attractions, Graskop also offers plenty in the way of exhilarating outdoor activities, such as superb golf courses, demanding hikes, horse riding, bridge swinging and foefie sliding (zip-lining) across the Graskop Gorge, abseiling across the Sabie Waterfall, and exciting 4x4, motorbike, and quad bike routes. In between all of the excitement, tourists can relax and unwind at one of the many delightful pancake bars and coffee shops for which the town is also famous.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/graskop" class="alinks" title="Accommodation in Graskop">Accommodation in Graskop</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=the_panorama" class="alinks">The Panorama</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=lydenburg_mashishing" class="alinks">Lydenburg</a></li>
        <li><a href="/index.php?p=bushbuckridge">Bushbuckridge</a></li>
      <li><a href="/index.php?p=hazyview" class="alinks">Hazyview</a></li>
      <li><a href="/index.php?p=machadodorp" class="alinks">Machadodorp</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>