<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Greater Cape Town, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Greater Cape Town , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about Greater Cape Town, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/greater_cape_town.jpg" title="The Greater Cape Town area is full of natural beauty and historical wonder" width="450" height="293" hspace="5" vspace="5">The Greater Cape Town area is full of natural beauty and historical wonder</div>
    <p class="paragraphtext"><a href="/index.php?p=cape_town" class="alinks" title="Information about Cape Town South Africa">Cape Town</a>, South Africa's &quot;Mother City&quot; is one of the leading destinations in the world and is consistently favoured by overseas travellers for its natural beauty, culture and wide range of exciting activities.</p>
    <p class="paragraphtext">The central CBD section of Cape Town is perfect for exploration on foot as it is relatively small, yet is home to wonderful attractions and sites.</p>
    <p class="paragraphtext">A good pair of walking shoes and a map is all that is required to take in the vibrant city, with wonderful attractions like the hip Long Street with its trendy and quirky boutiques, authentic pubs and African music stores.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/" class="alinks" title="Accommodation in Greater Cape Town">Accommodation in Greater Cape Town</a></li>
      </ul>
    <p class="paragraphtext">Not far from here is the famous Museum Mile, the historic <a href="/index.php?p=companys_garden">Company Gardens</a>, the African Market at Greenmarket Square, the culturally rich area of Bo-Kaap and much more.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-greater_cape_town.jpg" title="Location of Greater Cape Town, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Greater Cape Town, Western Cape, South Africa.</div>
    <p class="paragraphtext">Exciting activities include taking a cable car trip up <a href="/index.php?p=table_mountain">Table Mountain</a>, visiting the <a href="/index.php?p=v_a_waterfront">V&A Waterfront</a> and taking a ferry ride to Robben Island. The notorious island, now a World Heritage Site is where Nelson Mandela was incarcerated.</p>
    <p class="paragraphtext">Getting to the popular beaches of <a href="/index.php?p=camps_bay">Camps Bay</a> and <a href="/index.php?p=clifton">Clifton</a> will require the use of public transport or your own vehicle.</p>
    <p class="paragraphtext">The sheer magnificence of Cape Town makes it an indisputable &quot;must-see&quot; destination.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/index.html" class="alinks" title="Accommodation in Western Cape">Accommodation in Western Cape</a></li>
    	<li><a href="/specials/western_cape_south_africa/" class="alinks">Specials in Western Cape</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=greater_cape_town" class="alinks">Greater Cape Town</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=v_a_waterfront" class="alinks">V & A Waterfront</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/table_mountain_national_park/" class="alinks">Table Mountain National Park</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/cape_town/camps_bay">Camps Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/city_bowl/" class="alinks">City Bowl</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/city_centre/" class="alinks">City Centre</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/cape_town/constantia">Constantia</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/bloubergstrand/" class="alinks">Bloubergstrand</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/durbanville/" class="alinks">Durbanville</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/fish_hoek/" class="alinks">Fish Hoek</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/gordon's_bay/" class="alinks">Gordon's Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/green_point/" class="alinks">Green Point</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/hout_bay">Hout Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/melkbosstrand/" class="alinks">Melkbosstrand</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/milnerton/" class="alinks">Milnerton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/muizenberg/" class="alinks">Muizenberg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/newlands/" class="alinks">Newlands</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/noordhoek/" class="alinks">Noordhoek</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/oranjezicht/" class="alinks">Oranjezicht</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/rondebosch/" class="alinks">Rondebosch</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/simon's_town/" class="alinks">Simon's Town</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/somerset_west/" class="alinks">Somerset West</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/strand/" class="alinks">Strand</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>