<head>
<link rel="stylesheet" href="template2.css">
<title>Great Trek Memorial, Standerton</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Great Trek Memorial, Standerton</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/great_trek.jpg" title="Great Trek Memorial, Standerton" width="450" height="259" hspace="5" vspace="5">Great Trek Memorial in Standerton commemorates the Greak Trek</div>
    
    <p>The Great Trek memorial, situated in front of the municipality building in <a href="/index.php?p=standerton">Standerton</a>, <a href="/index.php?p=mpumalanga">Mpumalanga</a>, <a href="/index.php?p=south_africa">South Africa</a>, is a lovely large concrete slab with ox-wagon tracks set into it. It commemorates the events of the Great Trek &ndash; a major event in Afrikaner history.</p>
    <p>It was erected in 1988 as part of the 150th anniversary of the Great Trek and subsequently rebuilt in May 2010 after being controversially destroyed in April 2007.</p>
    <p class="paragraphtext">The Great Trek (or 'Die Groot Trek' in Afrikaans) was a mass migration from the Cape Colony by the Boers in the 1830s and 1840s. The Boers left the British controlled Cape Colony and moved eastward and northeastward in search of their own land. They became known as the 'Voortrekkers' and they set up numerous independent Boer republics, most notably the Orange Free State Republic, the Transvaal, and the Natalia Republic.    </p>
    <p class="paragraphtext"><em><strong>Great Trek Memorial Physical Address</strong></em><br />
      In front of the municipality building, Standerton<a href="/index.php?p=piet_retief"></a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the <em><strong>Great Trek Memorial</strong></em></span><br />
   	  <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/cosmos_country/standerton">Accommodation in Standerton</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/cosmos_country" class="alinks">Accommodation in Cosmos Country</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-26.805686,29.284058&amp;spn=0.429001,0.961304&amp;z=10&amp;iwloc=0004b2dfa0fa690d0d775&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-26.805686,29.284058&amp;spn=0.429001,0.961304&amp;z=10&amp;iwloc=0004b2dfa0fa690d0d775&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/cosmos_country/standerton" class="alinks">Standerton</a><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/carolina" class="alinks"></a></li>
   	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>