<head>
<link rel="stylesheet" href="template2.css">
<title>Green Point Lighthouse</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Green Point Lighthouse</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/green_point_lighthouse.jpg" title="Green Point Lighthouse" width="450" height="300" hspace="5" vspace="5">Green Point Lighthouse in Cape Town is South Africa's first solid lighthouse</div>
    
    <p class="paragraphtext">Besides being home to a delightful oceanfront promenade, upmarket restaurants, trendy coffee houses, superb entertainment venues, and the spectacular, world-class Cape Town Stadium (known as the Green Point Stadium during the hugely successful 2010 FIFA World Cup), the lovely suburb of Green Point in <a href="/index.php?p=cape_town">Cape Town</a> also boasts another beautiful attraction - the stunning, red and white candy-striped Green Point Lighthouse.</p>
    <p class="paragraphtext">First lit on the 12th of April 1824, the Green Point Lighthouse was the first solid lighthouse that was built on the beautiful South African coastline and is thus the oldest working lighthouse in the country. Situated on the northwest point of the promontory bounding Table Bay on the southwest coast of <a href="/index.php?p=south_africa">South Africa</a>, near to the Cape Town city centre, this square masonry tower with its marvellous red and white diagonal stripes has become a much-loved attraction among Cape Town locals and tourists from all over the world. This stunning lighthouse's immaculate condition belies its age and enthusiastic photographers can often be found kneeling and stretching and perched atop various vantage points in order to get the perfect shot.</p>
    <p class="paragraphtext">The Green Point Lighthouse was the first of two lighthouses that were constructed along 'the Cape of Storms'. It initially used a petroleum lantern to shine its beam as a warning to ships nearing the treacherous shoreline. This beam of light was only visible for 6 nautical miles and this stretch of the coast was still the sad site of many a shipwreck. The lantern light was upgraded in 1922 to electric lights that would flash beams every 10 seconds for a distance of 25 nautical miles.</p>
    <p class="paragraphtext">The Green Point Lighthouse was also outfitted with a resounding foghorn that is (not so lovingly) known to locals as 'Moaning Minnie'. Although very necessary due to the thick winter fog and wild, raging seas, it is not difficult to understand why Moaning Minnie has never been very popular with Green Point residents.</p>
    <p class="paragraphtext">The gorgeous Green Point Lighthouse is sometimes mistakenly referred to as Mouille Point Lighthouse. Mouille Point Lighthouse was actually built in 1842 and knocked down in 1908.</p>
    <p class="paragraphtext"><em><strong>Green Point Lighthouse Physical Address</strong></em><br /> 
      North Western Corner of Beach Road, Mouille Point, Cape Town</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the Green Point Lighthouse</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Accommodation in Cape Town City</a><Br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Accommodation in Atlantic Seaboard</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.894642,18.408365&amp;spn=0.024936,0.060081&amp;z=14&amp;iwloc=0004ae8954835f0f75cd5&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.894642,18.408365&amp;spn=0.024936,0.060081&amp;z=14&amp;iwloc=0004ae8954835f0f75cd5&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Cape Town City</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Atlantic Seaboard</a></span></a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>