<head>
<link rel="stylesheet" href="template2.css">
<title>Hartbeespoort Dam</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Hartbeespoort Dam</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/hartbeespoort.jpg" title="Hartbeespoort Dam" width="450" height="325" hspace="5" vspace="5">Hartbeespoort Dam</div>
    
    <p class="paragraphtext">Hartbeespoort Dam, informally known as &lsquo;Harties&rsquo; by those who enjoy the dam&rsquo;s many outdoor pleasures, is a massive expanse of water situated in the <a href="/index.php?p=north_west">North West province</a> of South Africa, roughly 55km from <a href="/index.php?p=johannesburg">Johannesburg</a> and 35km from <a href="/index.php?p=pretoria">Pretoria</a> in <a href="/index.php?p=gauteng">Gauteng</a>. This 1620ha dam, with a shoreline that stretches for 56km when full, lies in a lovely valley situated just south of the Magaliesberg mountain range and just north of the Witwatersberg mountain range. </p>
    <p class="paragraphtext">Although Hartbeespoort Dam is primarily used to irrigate the largely dry area in which it sits, it is more famous as a holiday/weekend destination and water sports haven, and for its truly stunning mountainous and watery scenery. Its proximity to the large urban sprawls of Johannesburg and Pretoria make it an ideal getaway destination for busy city dwellers longing to escape the rat race, even for a day or two.</p>
    <p class="paragraphtext">Fed by the Crocodile and Magalies rivers, Hartbeespoort Dam was completed in 1923 on the farm <a href="/index.php?p=hartbeespoort">Hartbeespoort</a>, meaning &lsquo;pass of the hartbees&rsquo; (a species of antelope) in Afrikaans. The farm once belonged to the Boer General Hendrik Schoeman who fought in the Anglo-Boer War. The well-known Transvaal Yacht Club has been operating here since the dam&rsquo;s construction in 1923.</p>
    <p class="paragraphtext">This watery wonderland offers water sports enthusiasts a host of opportunities for water-based fun in the sun, including water and jet skiing, wakeboarding, windsurfing, parasailing, sailing, canoeing, tubing, and more. Caravanning and camping sites dot the dam&rsquo;s beautiful banks, as well as chalets and cabins and luxury villas and holiday houses. Hiking in the hills that surround Hartbeespoort Dam is a very popular pastime, with spectacular scenery dominating the splendid skyline. Keen golfers are in for a treat at Hartbeespoort Dam as superb golf courses and golf estates can be found at lovely locations all around the dam. Other exciting activities include scenic drives, 4X4 adventures, horse riding, hot air ballooning trips, paragliding, and hang gliding. The delightful Heritage Route starts at Hartbeespoort Dam and then heads north past the <a href="/index.php?p=pilanesberg_national_park">Pilanesberg National Park</a> and all the way to the <a href="/index.php?p=madikwe_game_reserve">Madikwe Game Reserve</a>.</p>
    <p class="paragraphtext">Terrific attractions in the area surrounding the dam include the Hartbeespoort Dam Aquarium, the Hartbeespoort Dam wall and tunnel, the Hartbeespoort Dam Snake Park, the cheese factory located in nearby Skeerpoort, the famous Tan&rsquo; Malie se Winkel, the Welwitchia Country Market, the Crocodile Ramble arts and crafts route, and more. A trip to the fascinating <a href="/index.php?p=cradle_of_humankind">Cradle of Humankind</a> is not to be missed, while one of the region&rsquo;s most loved attractions among young and old is undoubtedly the <a href="/index.php?p=de_wildt_cheetah">De Wildt Cheetah and Wildlife Centre</a> (the Ann van Dyk Cheetah Centre). The Breakfast Run every Sunday has become a well-loved tradition among avid bikers from Johannesburg and Pretoria. For the super fit among us, the yearly Om Die Dam (&lsquo;around the dam&rsquo;) 50km ultra-marathon is a must.</p>
    <p class="paragraphtext"><em><strong>Hartbeespoort Dam Physical Location</strong></em><br />
      45km West of <a href="/index.php?p=pretoria">Pretoria</a>, south of <a href="/index.php?p=hartbeespoort">Hartbeespoort</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Hartbeespoort Dam</span><br />
   	  <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/hartbeespoort" class="alinks">Accommodation in Hartbeespoort</a><a href="/index.php?p=malalane"></a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/brits">Accommodation in Brits</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-25.687325,27.9142&amp;spn=0.216575,0.480652&amp;z=11&amp;iwloc=0004b8873ca69978790d3&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-25.687325,27.9142&amp;spn=0.216575,0.480652&amp;z=11&amp;iwloc=0004b8873ca69978790d3&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/hartbeespoort" class="alinks">Hartbeespoort</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/brits">Brits</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>