<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Hartbeespoort, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bojanala , North West</div>
<div class="contentmainheading">
	  <h1>Information about Hartbeespoort, Bojanala, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/hartbeespoort.jpg" title="Hartbeespoort" width="450" height="325" hspace="5" vspace="5">Hartbeespoort overlooks the beautiful Hartbeespoort Dam</div>
    <p class="paragraphtext">Known affectionately by locals and travellers from far and wide as &lsquo;Harties&rsquo;, the tiny town of Hartbeespoort is one of South Africa&rsquo;s favourite weekend destinations. Conveniently situated in the <a href="/index.php?p=north_west">North West province</a> of South Africa, close to both <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a> (just 55km and 35km respectively), this small resort town offers its visitors a wealth of outdoor attractions and water sports opportunities aplenty. The town&rsquo;s scenic vistas, hugging the banks of the huge <a href="/index.php?p=hartbeespoort_dam">Hartbeespoort Dam</a> in the shade of the magnificent Magaliesberg Mountains, are absolutely to die for.</p>
    <p class="paragraphtext">Meaning &lsquo;pass of the hartbees&rsquo; (a type of antelope found in the area) in Afrikaans, Hartbeespoort is situated near the Hartbeespoort Dam wall and the charming villages of Kosmos, Ifafi, Melodie, and Meerhof. The town was known as &lsquo;Schoemansville&rsquo; in times past, in honour of a Boer general named Hendrik Schoeman who fought in the Anglo-Boer War. He owned the farm on which the Hartbeespoort Dam was constructed.</p>
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/hartbeespoort" class="alinks" title="Accommodation in Hartbeespoort">Find Accommodation in Hartbeespoort</a></li>
      </ul>
    <p class="paragraphtext">Mostly made up of lovely holiday homes that overlook the calm waters of the dam, the town of Hartbeespoort is a truly welcome haven from the hustle and bustle of the nearby big cities. It is surrounded by fantastic hiking trails and kloofing routes dotted with blissful waterfalls and streams that truly let one enjoy nature&rsquo;s considerable charms in perfect solitude. Adventure pursuits include hot air ballooning, paragliding, or hang gliding, while there are, obviously, numerous water sports on offer at the dam itself &ndash; some ultimately relaxing, others completely invigorating.</p>
    <div class="paragraphpictureright"><img src="../images/map-hartbeespoort.jpg" title="Location of Hartbeespoort, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Hartbeespoort, North West, South Africa.</div>
    
  <p class="paragraphtext">The town and its surrounds are a treasure trove of exciting tourist attractions, including the Hartbeespoort Dam wall and tunnel, the Hartbeespoort Dam Aquarium, the Hartbeespoort Dam Snake Park, the cheese factory in Skeerpoort, Tan&rsquo; Malie se Winkel, the Crocodile Ramble arts and crafts route, and the Welwitchia Country Market, among many others. The <a href="/index.php?p=de_wildt_cheetah">De Wildt Cheetah and Wildlife Centre</a> (the Ann van Dyk Cheetah Centre) and the <a href="/index.php?p=cradle_of_humankind">Cradle of Humankind</a> are both located in the vicinity. The annual Om Die Dam (&lsquo;around the dam&rsquo; in English) 50km ultra-marathon attracts participants and spectators from all over, while the Breakfast Run in which bikers from Johannesburg and Pretoria hit the open road to Harties every Sunday is a firm favourite. Hartbeespoort Dam is the starting point of the immensely beautiful Heritage Route which continues north past the <a href="/index.php?p=pilanesberg_national_park">Pilanesberg National Park</a> to the <a href="/index.php?p=madikwe_game_reserve">Madikwe Game Reserve</a>.</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/hartbeespoort" class="alinks" title="Accommodation in Hartbeespoort">Accommodation in Hartbeespoort</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
      <li><a href="/index.php?p=rustenburg" class="alinks">Rustenburg</a></li>
   	  <li><a href="/index.php?p=pilanesberg_national_park" class="alinks">Pilanesberg National Park</a></li>
   	  <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
   	  <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>