<head>
<link rel="stylesheet" href="template2.css">
<title>Hoedspruit Endangered Species Centre</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Hoedspruit Endangered Species Centre</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/endangered_species.jpg" title="Hoedspruit Endangered Species Centre" width="450" height="300" hspace="5" vspace="5">Hoedspruit Endangered Species Centre is home to many rare animals<br />
  &copy; South African Tourism</div>
    
    <p class="paragraphtext">No visit to <a href="/index.php?p=hoedspruit">Hoedspruit</a> in the <a href="/index.php?p=limpopo">Limpopo</a> province of sunny South Africa would be complete without a visit to the fascinating Hoedspruit Endangered Species Centre. This amazing non-profit organisation, located just outside of town, contributes substantially to the South African conservation effort through the education of the public, various breeding programmes, and the care and rehabilitation of endangered, vulnerable, and rare species. The centre is completely dependant on sponsorships, donations, and the proceeds of eco-tourism activities in the area.</p>
    <p class="paragraphtext">The <a href="http://www.hesc.co.za/" target="_blank">Hoedspruit Endangered Species Centre</a> is home to cheetahs, black-footed cats, African wild dogs, ground horn bills, sable antelope, blue cranes, and many more mesmerising species which can be viewed by tourists at close range on the intriguing guided tours that are offered.</p>
    <p class="paragraphtext">The centre&rsquo;s terrific tea garden keeps excited visitors&rsquo; bellies full in between all of the exciting activities offered at the centre, while it is a very rare occurrence indeed when someone leaves the centre&rsquo;s excellent curio shop empty handed.</p>
    <p class="paragraphtext"><em><strong>Hoedspruit Endangered Species Centre Physical Location</strong></em><br />
      16km North of <a href="/index.php?p=musina_messina">Musina</a>.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Hoedspruit Endangered Species Centre</span><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/hoedspruit" class="alinks">Accommodation in Hoedspruit</a><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani/phalaborwa">Accommodation in Phalaborwa</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani">Accommodation in Mopani</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.420268,31.03981&amp;spn=0.218826,0.480652&amp;z=11&amp;iwloc=0004b52be8319dca87c54&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.420268,31.03981&amp;spn=0.218826,0.480652&amp;z=11&amp;iwloc=0004b52be8319dca87c54&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/hoedspruit" class="alinks">Hoedspruit</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani/phalaborwa">Phalaborwa</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani">Mopani</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>