<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured Accommodation in South Africa</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>AA Quality Assured Accommodation in South Africa</h1>
	</div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<p class="paragraphtext"><font style="font-style:italic"><span class="inparagraphheading">AA Travel Guides</span>   promotes Quality Assured Accommodation in South Africa through our website and printed publications. The AA Quality Assured endorsement is awarded to establishments which have been visited anually by an experienced AA Quality Assessor. Deal direct with the establishment. No Commission!</font></p>

<div class="paragraphpictureright"><a href="/index.php?p=ficksburg_cherry_festival"><img src="../images/cherry_blossoms.jpg" title="Namaqualand comes alive with brightly coloured daisies that line the roadside" width="400" height="267" hspace="5" vspace="5"></a>Cherry blossoms usher in a time of festivity and fun in Ficksburg.</div>
    <p class="paragraphtext">Ficksburg, South Africa's very own Cherry Town, will be hosting the 43rd <span class="inparagraphheading">Ficksburg Cherry Festival</span> in November and it promises to be a fun for the whole family! South Africa's longest running crop festival, and one synonomous with its host town, promises this year to be bigger and better than ever before. Every year the Eastern Free State town takes on a cherry red glow as everything and everyone goes cherry mad. The Ficksburg Cherry Festival runs from Thursday 18 November to Saturday 20 November 2010 in Ficksburg, Free State.. <a href="/index.php?p=ficksburg_cherry_festival" class="alinks">...read more!</a></p>
    <div class="clear">&nbsp;</div>
    <hr/>

<div class="newsblock" ><a href="/index.php?p=tzaneen_and_surrounds"><img src="/images/tzaneen-160.jpg" width="160" height="90" hspace="2" vspace="0" align="left" /></a>Just  four hours drive from  Johannesburg, the subtropical town of <a href="/index.php?p=tzaneen_and_surrounds" class="alinks">Tzaneen</a> welcomes travellers with its long summer days and warm enjoyable winters. Perfect for a short break away from a busy city life. <a href="/index.php?p=tzaneen_and_surrounds" class="alinks">...read more!</a></div>

<div class="newsblock" ><a href="/index.php?p=september_whale_month"><img src="/images/whale_breaching-160.jpg" width="160" height="90" hspace="2" vspace="0" align="left" /></a><a href="/index.php?p=september_whale_month" class="alinks">September is Whale Watching month</a>. With some of the best whale watching opportunities in the world, often whales come very close to the shore. During September Hermanus and Witsand will both be hosting festivals to celebrate the return of these gentle giants.  <a href="/index.php?p=september_whale_month" class="alinks">...read more!</a></div>

<div class="newsblock" ><a href="/index.php?p=gautrain_and_bus_routes"><img src="/images/gautrain-160.jpg" width="160" height="90" hspace="2" vspace="0" align="left" /></a><a href="/index.php?p=gautrain_and_bus_routes" class="alinks">The Gautrain</a> is here, along with its supportive network of bus routes. Which stations and bus routes are currently operational? How much does the Gautrain cost? Everything you need to know about the Gautrain! <a href="/index.php?p=gautrain_and_bus_routes" class="alinks">...read more!</a></div>

<div class="newsblock"><a href="http://www.accommodationawards.co.za/" target="_blank"><img src="/images/awards-160.jpg" width="160" height="90" hspace="2" vspace="0" align="left" /></a>At a glittering awards banquet held in the Durban City Hall, the top achievers in the 2010 AA Travel Guides American Express Accommodation Awards were named and honoured. Visit the <a href="http://www.accommodationawards.co.za/" target="_blank" class="alinks">AA Accommodation Awards 2010</a> website to see all the results.</div>



  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<div align="center">
  <!-- START right menus -->
  <a href='http://www.accommodationawards.co.za/?awards/2010' target=_blank ><img src="/images/home-accom-awards.jpg" alt="Visit the Accommodation Awards website" width="180" height="109" hspace="1" vspace="0" border="0" /></a>
  <script type="text/javascript" src="http://forms.aweber.com/form/40/1881875040.js"></script>
</div>
<div class="contentrightheading ">Accommodation Specials:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/specials/cape_town_western_cape/" class="alinks">Cape Town</a></li>
        <li><a href="http://booktravel.travel/specials/kwazulu-natal_south_africa/" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="http://booktravel.travel/specials/knysna_western_cape/" class="alinks">Knysna</a></li>
        <li><a href="http://booktravel.travel/specials/gauteng_south_africa/" class="alinks">Gauteng</a></li>
        <li><a href="http://booktravel.travel/specials/mossel_bay_western_cape/" class="alinks">Mossel Bay</a></li>
        <li><a href="http://booktravel.travel/specials/franschhoek_western_cape/" class="alinks">Franschhoek</a></li>
        <li><a href="http://booktravel.travel/specials/south_africa/" class="alinks">View all specials...</a></li>
    </ul>

<div class="contentrightheading">Special Needs:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/accommodation/pet_friendly/southern_africa/south_africa/index.html" class="alinks">Pet Friendly</a></li>
        <li><a href="http://booktravel.travel/accommodation/disabled_friendly/southern_africa/south_africa/" class="alinks">Disabled Friendly</a></li>
    </ul>
    <div class="contentrightheading">AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=travel_books" class="alinks">About AA Travel Guides</a></li>
        <li><a href="/index.php?p=press" class="alinks">Press Releases</a></li>
        <li><a href="http://www.aatravelblog.co.za" class="alinks">CEO Blog</a></li>
        <li><a href="/index.php?p=quality_assured" class="alinks">Join AA Quality Assured Programme</a></li>
        <li><a href="/index.php?p=contact" class="alinks">Contact Us</a></li>
    </ul>
</div>
<!-- END right menus -->

</div>

<div class="row">
<hr/>

<marquee behavior="scroll" direction="left" style='width: 830px; height: 135' id='nV' name='nV' scrollamount=3' onmouseover=stop() onmouseout=this.start() >
										<table id=estab_marque><tr valign=top>
										<td><a href='/accommodation/bl7599_blue_view_bed__breakfast.html'><img src='/res_images/BL7599.jpg'  height=100 /><br />Blue                                        View Bed & Breakfast<br>
										East London</a></td>
                                        <td><a href='/accommodation/pa8893_palm_springs_bb_and_self-catering.html' ><img src='/res_images/PA8893.jpg' height=100 /><br />Palm Springs B&B<br />Butterworth</a></td>
                                        <td><a href='file:///E|/AA Travel Guides/New AA websites/AAtravel/content/accommodation/191724_sparkling_waters_hotel_and_spa.html'><img src='/res_images/191724_20100406_0.jpg'  height=100 /><br>
                                          Sparkling Waters Hotel & Spa<br>
                                          Rustenburg</a></td>
                                        <td><a href='/accommodation/021774_bakgatla_resort.html'><img src='/res_images/021774.jpg'  height=100 /><br>Bakgatla Resort<br>Pilanesberg National Park</a></td>
                                        <td><a href='/accommodation/068532_fairview_river_lodge_-_conference_centre_and_golf_estate.html'><img src='/res_images/068532.jpg'  height=100 /><br>Fairview River Lodge<br>Tzaneen</a></td>
                                        <td><a href='/accommodation/188983_river_house_guest_lodge_malalane.html'><img src='/res_images/188983.jpg'  height=100 /><br>River House Guest Lodge<br>Malalane</a></td>                                        
                                        <td><a href='/accommodation/134984_mantenga_lodge.html'><img src='/res_images/134984.jpg'  height=100 /><br>Mantenga Lodge<br>Swaziland</a></td>
                                        <td><a href='/accommodation/019542_african_roots_guest_house_and_conference_venue.html'><img src='/res_images/019542.jpg'  height=100 ><br>African Roots Guest House<br>Polokwane</a></td>
                                       </tr></table>
								  </marquee>

<hr/>
<div class="footerblock" >
	<div class="contentrightheading"> Popular Holiday Destinations:
	  <ul class="contentfooterlist">
    	<li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/index.html" class="alinks">Cape Town</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/index.html" class="alinks">Durban</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" class="alinks">Port Elizabeth</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/index.html" class="alinks">Johannesberg</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/kruger_national_park/index.html" class="alinks">Kruger National Park</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/index.html" class="alinks">Drakensberg</a></li>
	</ul>
</div>
</div>

<div class="footerblock" >
	<div class="contentrightheading"> Accommodation by Province:
	  <ul class="contentfooterlist"><li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/index.html" class="alinks">Western Cape</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/index.html" class="alinks">KwaZulu Natal</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/index.html" class="alinks">Eastern Cape</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/index.html" class="alinks">Gauteng</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/index.html" class="alinks">Mpumalanga</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/northern_cape/index.html" class="alinks">Northern Cape</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/north_west/index.html" class="alinks">North West</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/limpopo/index.html" class="alinks">Limpopo</a></li>
            <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/free_state/index.html" class="alinks">Free State</a></li>
	</ul>
</div>
</div>

<div class="footerblock" >
	<div class="contentrightheading"> Accommodation Specials:
	  <ul class="contentfooterlist">
    	<li><a href="http://booktravel.travel/specials/cape_town_western_cape/" class="alinks">Cape Town</a></li>
        <li><a href="http://booktravel.travel/specials/kwazulu-natal_south_africa/" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="http://booktravel.travel/specials/knysna_western_cape/" class="alinks">Knysna</a></li>
        <li><a href="http://booktravel.travel/specials/gauteng_south_africa/" class="alinks">Gauteng</a></li>
        <li><a href="http://booktravel.travel/specials/mossel_bay_western_cape/" class="alinks">Mossel Bay</a></li>
        <li><a href="http://booktravel.travel/specials/franschhoek_western_cape/" class="alinks">Franschhoek</a></li>
        <li><a href="http://booktravel.travel/specials/south_africa/" class="alinks">View all specials...</a></li>
	</ul>
</div>
</div>

<div class="footerblock" >
	<div class="contentrightheading"> Contact AA Travel Guides:
	  <ul class="contentfooterlist">
    	<li><a href="http://booktravel.travel/index.php?p=travel_books" class="alinks">About AA Travel Guides</a></li>
            <li>Tel: 011 713 2000</li>
            <li>Fax: 011 728 3086</li>
            <li>email: info@booktravel.travel</li>
      </ul>
</div>
</div>

</div>
<hr/>