<head>
<link rel="stylesheet" href="template2.css">
<title>Book Travel Accommodation in South Africa</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">Book Travel</div>
	<div class="contentmainheading">
	  <h1>Book Travel Accommodation in South Africa</h1>
	</div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Search Quality Accommodation by Map" width="190" height="162" hspace="5" vspace="5"></a>Search Quality Accommodation by Map</div>
	<p class="paragraphtext"><font style="font-style:italic">Book Travel promotes accommodation establishments in South Africa and the countries of Southern Africa through our website and printed publications. </font></p>

    <p class="paragraphtext"><span class="inparagraphheading">South Africa</span> has been described as the world in one country, offering rich diversity in landscapes, people, culture and history. Book Travel offers you all the info you need to find quality accommodation and plan your travel in South Africa and the nieghbouring counttries of Southern Africa..</p> <p>From Table Mountain in Cape Town, to the Drakensberg mountain rage, to the endless landscape of the Kalahari desert, and the arid Karoo region. Enjoy the bustling business hub of Johannesburg and Sandton, to the warm beaches of Durban and the KZN North Coast and South Coast, to the Garden Route, and Route 62. Enjoy african wildlife in Kruger National Park, Addo Elephant Park or Pilannesberg National Park.<a href="/index.php?p=south_africa" class="alinks">...read more!</a></p>
    <div class="clear">&nbsp;</div>
    <hr/>

<div class="homespecials" >
<div class="contenttopheading aaqa">Specials</div>

<div class="home1special">
<a href="/index.php?p=specials"><img src="/image.php?e=IB6040" width="130" height="80" hspace="2" vspace="0" border="0" align="left" /></a><strong>Ibis Lodge</strong><br />
Getting a cruised out of <strong>Durban</strong>? Stay at Ibis Lodge and get VIP treatment at a special low rate!<br /> 
<a href="/index.php?p=specials" class="alinks">...read more!</a>
</div>

<div class="home2special">
<a href="/index.php?p=specials"><img src="/image.php?e=088007" width="130" height="80" hspace="2" vspace="0" border="0" align="left" /></a><strong>Houtkapperspoort</strong><br />
Enjoy 6 nights in <strong>Cape Town</strong> plus 6 nights in <strong>Knysna</strong> for one low price. Price includes accommodation for two people!<br /> 
<a href="/index.php?p=specials" class="alinks">...read more!</a>
</div>

<div class="home1special">
<a href="/index.php?p=specials"><img src="/image.php?e=073543" width="130" height="80" hspace="2" vspace="0" border="0" align="left" /></a><strong>Granny Mouse Country House</strong><br />
AA members, stay for 2 nights in the <strong>Midlands</strong> and receive vouchers for our spa, salon and restaurant.<br /> 
<a href="/index.php?p=specials" class="alinks">...read more!</a>
</div>

</div>

<div class="featureddestination" >
<div class="contenttopheading lm">Bonsela Discount Accommodation</div>
<a href="/index.php?p=bonsela"><img src="/images/fdest-beach.jpg" width="350" height="139" hspace="0" vspace="0" border="0" /></a><br />
Browse <a href="/index.php?p=bonsela" class="alinks">Bonsela Discount Accommodation</a> for discount accommodation offered to clients of our Bonsela partners SA Airlink, AVIS Rent a Car, AA Roadside Assistance, Jet Save and Edgars Club.<br />
<a href="http://www.flyairlink.com/"><img src="/images/bonsela-saairlink-small.png" width="114" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.avis.co.za/ppc.aspx?id=2030"><img src="/images/bonsela-avis-small2.jpg" width="103" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.aa.co.za/"><img src="/images/bonsela-aasa-small.png" width="129" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.edgars.co.za/Edgars/Edgars_Clubs/Welcome/Welcome_Welcome.htm"><img src="/images/bonsela-edgars-club-small.png" width="124" height="42" hspace="0" vspace="0" border="0" /></a>
<a href="http://www.jetclub.co.za/"><img src="/images/bonsela-jet-save-small.png" width="150" height="42" hspace="0" vspace="0" border="0" /></a>

</div>



  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<div align="center">
  <!-- START right menus -->
  <a href="/index.php?p=specials" ><img src="/images/specials-and-packages.jpg" alt="Specials and Packages" width="200" height="140" hspace="1" vspace="0" border="0" /></a>
  <script type="text/javascript" src="http://forms.aweber.com/form/40/1881875040.js"></script>
</div>
<!-- hide specials
<div class="contentrightheading ">Accommodation Specials:</div>
	<ul class="contentrightheading2">
    	<li><a href="/specials/cape_town_western_cape/" class="alinks">Cape Town</a></li>
        <li><a href="/specials/kwazulu-natal_south_africa/" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="/specials/knysna_western_cape/" class="alinks">Knysna</a></li>
        <li><a href="/specials/gauteng_south_africa/" class="alinks">Gauteng</a></li>
        <li><a href="/specials/mossel_bay_western_cape/" class="alinks">Mossel Bay</a></li>
        <li><a href="/specials/franschhoek_western_cape/" class="alinks">Franschhoek</a></li>
        <li><a href="/specials/south_africa/" class="alinks">View all specials...</a></li>
    </ul>
-->

<div class="contentrightheading">Special Needs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/pet_friendly/southern_africa/south_africa/index.html" class="alinks">Pet Friendly</a></li>
        <li><a href="/accommodation/disabled_friendly/southern_africa/south_africa/" class="alinks">Disabled Friendly</a></li>
    </ul>
    <div class="contentrightheading">Book Travel:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=travel_books" class="alinks">About Book Travel</a></li>
        <li><a href="/index.php?p=press" class="alinks">Press Releases</a></li>
        <li><a href="http://www.aatravelblog.co.za" class="alinks">CEO Blog</a></li>
        <li><a href="/index.php?p=contact" class="alinks">Contact Us</a></li>
    </ul>
</div>
<!-- END right menus -->

</div>

<div class="row">
<hr/>


<!-- remove slider
<marquee behavior="slide" direction="left" style='width: 960px; height: 135' id='nV' name='nV' scrollamount=3' onmouseover=stop() onmouseout=this.start() >

</marquee>
-->

	<table id=estab_marque><tr valign=top>
		<td><a href='/accommodation/A00327'><img src='/res_images/A00327_1314627838.jpg'  height=100 /><br />
			Selous Bush Camp<br />
			Pilanesberg National Park</a>
		</td>
		<td><a href='/accommodation/233660'><img src='/res_images/233660_1297665954.jpg'  height=100 /><br>
            White Mountain Lodge<br>
        	Giant's Castle, Drakensberg</a>
		</td>
		<td><a href='/accommodation/TE4803'><img src='/res_images/TE4803E.jpg'  height=100 />
        <br />Tesorino B&B<br />
        Umhlanga Rocks, KwaZulu-Natal</a>
        </td>
        <td><a href='/accommodation/PA5979'><img src='/res_images/PA5979_20101109_0.jpg'  height=100 /><br />
        Palapa Place<br />
		Umdloti, KwaZulu-Natal</a>
        </td>
        <td><a href='/accommodation/TH8960'><img src='/res_images/TH8960_20100629_19.jpg'  height=100 /><br />
        Lakehouse Guest House<br />
        East Rand, Gauteng</a>
        </td>
        <td><a href='/accommodation/HA4439'><img src='/res_images/HA4439.jpg'  height=100 /><br />
        Hawane Resort<br />
        Northern Highlands, Swaziland</a>
        </td>
</tr></table>




</div>