<head>
<link rel="stylesheet" href="template2.css">
<title>ICC Durban</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Durban International Convention Centre</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_kzn_icc_durban.jpg" title="ICC Durban" width="450" height="300" hspace="5" vspace="5">The ICC Durban is the ideal venue for large events such as the Tourism Indaba<br />
    &copy; John Gore</div>
    
    <p class="paragraphtext">The  <a href="http://www.icc.co.za" target="_blank">Durban International Convention Centre</a> (ICC Durban), situated at 45 Bram Fischer Road, <a href="/index.php?p=durban">Durban</a>, <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a>, is one of the most advanced convention centres in the world. Located a half hour's drive away from the airport and literally minutes away from many of Durban's superb hotels, upmarket restaurants, and sandy beaches, it is the focal point of the Durban central business district. The ICC Durban was formerly known as the Inkosi Albert Luthuli International Convention Centre.</p>
    <p class="paragraphtext">This beautiful and high-tech conference centre hosted the International AIDS Conference in 2000, the Commonwealth Heads of Government Meeting in 1999, the Non-Aligned Movement in 2004, and the preliminary draw for the hugely successful 2010 FIFA World Cup which was held in South Africa, among other high-profile events.
</p>
    <p class="paragraphtext">Versatile and flexible, this technologically advanced conference centre is fully air-conditioned and contains three separate convention halls that are interlinked. State-of-the-art moveable walls facilitate numerous venue configurations and the halls can also be opened up to form one large space that can seat up to 5 000 delegates (with 7 000m&sup2; of column-free floor space). Its sister venue, the Durban Exhibition Centre (situated right next door), provides even more space. The two venues can function independently or be linked to accommodate 10 000 delegates (merely by closing Walnut Road that runs between the two centres).</p>
    <p class="paragraphtext"><em><strong>ICC Durban Physical Address</strong></em><br />
      45 Bram Fischer Road, Durban</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near ICC Durban</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/central">Accommodation in Durban Central</a><Br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Accommodation in Durban North</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">Points of Interest in KwaZulu-Natal</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.849317,31.034145&amp;spn=0.013028,0.030041&amp;z=15&amp;iwloc=0004a7049428bb34bcba8&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;doflg=ptk&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.849317,31.034145&amp;spn=0.013028,0.030041&amp;z=15&amp;iwloc=0004a7049428bb34bcba8&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/central">Durban Central</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Durban North</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>