<head>
<link rel="stylesheet" href="template2.css">
<title>AA Quality Assured Accommodation Directory</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Directory on your iPad</div>
	<div class="contentmainheading">
	  <h1>AA Quality Assured Accommodation Directory on iPad</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">To view the AA Quality Assured Accommodation Directory on your iPad, follow these easy steps:</p>
  <p class="paragraphtext">Click on the link below to view a .pdf file of the Directory in your browser.</p>
   <ul>
   		<li><a href="/downloads/AAQAA-Directory-2011-cover-02.pdf" class="alinks" title="AAQA Accommodation Directory">AAQA Accommodation Directory 2011 Cover</a> (pdf - 6mb - right click, save target as)</li>
     <li><a href="/downloads/AAQAA-Directory-2011-full.pdf" class="alinks" title="AAQA Accommodation Directory">AAQA Accommodation Directory 2011</a> (pdf - 155mb - right click, save target as)</li>
   </ul>
   <p class="paragraphtext">In the top left of your screen, select &quot;Open in iBooks&quot; (If this option does not appear on your iPad, you need to upgrade to the latest version of iOS using iTunes)</p>
   <p class="paragraphtext">Then simply open the book from you iBooks</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>