<head>
<link rel="stylesheet" href="template2.css">
<title>Join the AA Quality Assured Accommodation Programme</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">Join the AA Quality Assured Accommodation Programme</div>
	<div class="contentmainheading">
	  <h1>Join the AA Quality Assured Accommodation Programme</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->
  <p class="paragraphtext">To join the AA Quality Assured Accommodation Programme, please contact our Client Services Department through the following channels:</p>
  <p class="paragraphtext">Tel (011) 713-2000<br />
    e-mail: <a href="mailto:quality@booktravel.travel" class="alinks">quality@booktravel.travel</a></p>
  <p class="paragraphtext">They will send you the current Quality Indicators for the category that applies to your establishment, as well as a Quality Assured Accommodation Marketing Document and an Application Form.</p>
  <p class="paragraphtext">After completing the Application Form, email it to <a href="mailto:quality@booktravel.travel" class="alinks">quality@booktravel.travel</a> or fax it to 086 680 5968.</p>
  <ul>
    <li>For more information, view the <a href="/index.php?p=aaqa2" class="alinks" title="AA Quality Assured Accommodation Programme">FAQ about the QA Programme</a></li>
    </ul>
  
</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>
<!-- END right menus -->
</div>
</div>