<h1>THE LIGHTER SIDE OF LIFE</h1>

<b>Making a baby</b>  


<p>The Smiths were unable to conceive children and decided to use a surrogate
father to
start their family. </p>

<p>On the day the proxy father was to arrive, Mr Smith kissed his wife goodbye
and said, 
'Well, I'm off now. The man should be here soon.'  </p>

<p>Half an hour later, just by chance, a door-to-door baby photographer
happened to ring the doorbell, hoping to make a sale..  'Good morning,
Ma'am', he said, 'I've come to...'  </p>

<p>'Oh, no need to explain,' Mrs Smith cut in, embarrassed,  'I've been
expecting you.'  </p>

<p>'Have you really?' said the photographer. 'Well, that's good.  Did you know
babies are my specialty?'   </p>

<p>'Well that's what my husband and I had hoped.  </p>

<p>Please come in and have a seat'.  </p>

<p>After a moment she asked, blushing, 'Well, where do we start?'  </p>

<p>'Leave everything to me. I usually try two in the bathtub, one on the couch,
and perhaps a couple on the bed.  </p>

<p>And sometimes the living room floor is fun.. You can really spread out
there.'  </p>

<p>'Bathtub, living room floor? No wonder it didn't work out for Harry and me!'</p>


<p>'Well, Ma'am, none of us can guarantee a good one every time.  </p>

<p>But if we try several different positions and I shoot from six or seven
angles,  </p>

<p>I'm sure you'll be pleased with the results.'  </p>

<p>'My, that's a lot!' gasped Mrs Smith.  </p>

<p>'Ma'am, in my line of work a man has to take his time.  </p>

<p>I'd love to be 'In and out' in five minutes, but I'm sure you'd be
disappointed with that.'  </p>

<p>'Don't I know it,' said Mrs Smith quietly  </p>

<p>The photographer opened his briefcase and pulled out a portfolio of his baby
pictures.  </p>

<p>'This was done on the top of a bus,' he said  </p>

<p>'Oh, my word!' Mrs Smith exclaimed, grasping at her throat.  </p>

<p>'And these twins turned out exceptionally well -  when you consider their
mother was so difficult to work with.'  </p>

<p>'She was difficult?' asked Mrs Smith .  </p>

<p>'Yes, I'm afraid so. I finally had to take her to the park to get the job
done right.  </p>

<p>People were crowding around four and five deep to get a good look'  </p>

<p>'Four and five deep?' said Mrs Smith, her eyes wide with amazement.</p>

<p>'Yes', the photographer replied. 'And for more than three hours, too.  </p>

<p>The mother was constantly squealing and yelling - I could hardly
concentrate,  and when darkness approached I had to rush my shots.  </p>

<p>Finally, when the squirrels began nibbling on my equipment,  I just had to
pack it all in.'  </p>

<p>Mrs Smith leaned forward. 'Do you mean they actually
chewed on your, uh...equipment?'  </p>

<p>'It's true, Ma'am, yes.  </p>

<p>Well, if you're ready, I'll set-up my tripod and we can get to work right
away.  </p>

<p>'Tripod?'  </p>

<p>'Oh yes, Ma'am. I need to use a tripod to rest my Canon on.  </p>

<p>It's much too big to be held in the hand very long..  </p>

<p>Mrs Smith fainted.</p> 