<head>
<link rel="stylesheet" href="template2.css">
<title>Western Cape Points of Interest - Kalk Bay</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Kalk Bay</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/kalk_bay.jpg" title="Kalk Bay" width="450" height="170" hspace="5" vspace="5">Kalk Bay</div>
    
    <p class="paragraphtext">Kalk Bay (also known as Kalkbaai in Afrikaans, which means 'lime bay') is a charming fishing village on the coast of False Bay, South Africa, just 25 minutes from the <a href="/index.php?p=cape_town">Cape Town</a> city centre and halfway between <a href="/index.php?p=cape_point_nature_reserve">Cape Point</a> and the city. Originally inhabited by shipwrecked seamen and deserters in times past, the village got its name from the lime kilns which were used by sailors to extract lime from sea shells. It is now part of <a href="/index.php?p=greater_cape_town">greater Cape Town</a> and a wonderful travel destination.</p>
    <p class="paragraphtext">The lovely village, ideally situated between the vast ocean and steep sandstone mountains, affords the interested tourist many different delightful and relaxing opportunities. Ambling down the quaint cobbled streets sprinkled with shops and restaurants is a lovely way to spend a sunny afternoon away from the hustle and bustle of the nearby city. Kalk Bay's marvellous main road is lined with amazing antique stores, superb second-hand book shops, stunning art galleries, and a thriving 72-seat theatre. The theatre (with its adjoining restaurant) was built in 1876 and is housed inside the old Kalk Bay Dutch Reformed Church which is now a protected building.</p>
    <p class="paragraphtext">The railway from the Cape Town CBD to Simon's Town, which at some points is only metres away from the ocean's edge, passes through and stops at Kalk Bay. The sandstone mountains above the village are home to many captivating caves. These caves, with wonderful names such as 'Ronan's Well' and 'Free Drinks Saloon', are a bit of an enigma &ndash; caves do not usually form in sandstone which is a chemically unreactive rock.</p>
    <p class="paragraphtext">Of course, like any coastal town, the beautiful blue ocean is an attraction in itself. And the sparkling seas at Kalk Bay have a lot to offer: being able to buy freshly caught fish directly from fishermen returning from sea, the perfect white sandy beaches, four tidal pools which are ideal for safe swimming, and the superb surfing opportunities (especially at the famous surfing spot known as 'Kalk Bay Reef'), to name a few.</p>
    <p class="paragraphtext"><em><strong>Kalk Bay Physical Address</strong></em><br /> 
    False Bay's western shore. North of Fish Hoek, South of St James.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Kalk Bay</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/cape_peninsula">Accommodation in The Cape Peninsula</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/southern_suburbs">Accommodation in Cape Town Southern Suburbs</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.103277,18.474541&amp;spn=0.099498,0.240326&amp;z=12&amp;iwloc=0004acff2e1302d64a78c&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.103277,18.474541&amp;spn=0.099498,0.240326&amp;z=12&amp;iwloc=0004acff2e1302d64a78c&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/cape_peninsula">Cape Peninsula</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/greater_cape_town/southern_suburbs">Cape Town Southern Suburbs</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>