<head>
<link rel="stylesheet" href="template2.css">
<title>Kimberley Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nc">Northern Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Kimberley Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/kimberley_airport.jpg" title="Kimberley Airport" width="450" height="200" hspace="5" vspace="5">Kimberley Airport</div>
    
    <p class="paragraphtext">Kimberley Airport is a small but very efficient airport that is located about 6km south of Kimberley, the capital city of the <a href="/index.php?p=northern_cape">Northern Cape province</a> of South Africa.</p>
    <p class="paragraphtext">The city of Kimberley is most famous as a tourist destination for its 'Big Hole' - a massive hole that was carved into the Northern Cape landscape in times past by early diamond prospectors.</p>
    <p class="paragraphtext">Kimberley Airport lies 1 204m above sea level and passenger flights to and from <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=cape_town">Cape Town</a> take off and touch down on its two well-maintained runways on a daily basis. The airport handles roughly 15 500 air traffic movements and approximately 132 000 passengers per year, most of which are business travellers. Besides the large percentage of business travellers (about 75%), the airport also handles a wide range of cargo (including everything from industrial equipment to game trophies) and supports a burgeoning tourist trade.</p>
    <p class="paragraphtext"><em><strong>Kimberley Airport Physical Address</strong></em><br /> 
    6km south of Kimberley, off Oliver Road (N8)</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Kimberley Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/northern_cape/diamond_fields/kimberley">Accommodation in Kimberley</a><Br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/northern_cape/diamond_fields">Accommodation in the Diamond Fields</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004ace1123f9a2694116&amp;ll=-28.774882,24.778633&amp;spn=0.105325,0.240326&amp;z=12&amp;iwloc=0004ace115100155be447&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004ace1123f9a2694116&amp;ll=-28.774882,24.778633&amp;spn=0.105325,0.240326&amp;z=12&amp;iwloc=0004ace115100155be447&amp;source=embed" style="color:#0000FF;text-align:left">Northern Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/northern_cape/diamond_fields/kimberley">Kimberley</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/northern_cape/diamond_fields/kimberley">Diamond Fields</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>