<head>
<link rel="stylesheet" href="template2.css">
<title>King Shaka International Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>King Shaka International Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/king_shaka_airport.jpg" title="King Shaka International Airport" width="450" height="318" hspace="5" vspace="5">King Shaka International Airport</div>
    
    <p class="paragraphtext">King Shaka International Airport is the primary airport that serves the <a href="/index.php?p=durban">city of Durban</a> and the towns on the surrounding <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a> coastline. Situated in an area known as La Mercy, this fantastic, world-class airport is also sometimes referred to as La Mercy Airport.</p>
    <p class="paragraphtext">It opened its doors on the 1st of May 2010, just in time for the start of the 2010 FIFA World Cup &ndash; a hugely successful international event hosted by South Africa. King Shaka International Airport replaced Durban International Airport as the main gateway to KwaZulu-Natal.</p>
    <p class="paragraphtext">The airport is accessible via the M43 to the north, the N2 highway to the east, and the R102 to the west. It is surrounded by Tongaat to the northwest, Verulam to the southwest, Umdloti to the southeast, and the Mdloti River to the south.</p>
    <p class="paragraphtext">Spectacular holiday destinations and wonderful tourist attractions in the vicinity include Umhlanga, Ballito, the Valley of 1000 Hills, the Umhlanga Lighthouse, the Durban Botanic Gardens, and the fascinating Sri Sri Radhanath Temple of Understanding.</p>
    <p class="paragraphtext">King Shaka International Airport hosts scheduled flights to and from <a href="/index.php?p=johannesburg">Johannesburg</a>, <a href="/index.php?p=cape_town">Cape Town</a>, <a href="/index.php?p=port_elizabeth">Port Elizabeth</a>, <a href="/index.php?p=bloemfontein">Bloemfontein</a>, George, Nelspruit, Mauritius, and Maputo (Mozambique).</p>
    <p class="paragraphtext"><em><strong>King Shaka International Airport Physical Address</strong></em><br />
      Mdloti Road, La Mercy, KwaZulu-Natal</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near King Shaka International Airport</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Accommodation in Durban North</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">Points of Interest in KwaZulu-Natal</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.591073,31.137657&amp;spn=0.10449,0.240326&amp;z=12&amp;iwloc=0004acbbc8e2d6db1c4ab&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.591073,31.137657&amp;spn=0.10449,0.240326&amp;z=12&amp;iwloc=0004acbbc8e2d6db1c4ab&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban/north">Durban North</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>