<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Klerksdorp, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Southern Region , North West</div>
<div class="contentmainheading">
	  <h1>Information about Klerksdorp, Southern Region, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/klerksdorp.jpg" title="Klerksdorp" width="450" height="350" hspace="5" vspace="5">Klerksdorp</div>
    <p class="paragraphtext">Klerksdorp, a stunning city situated in the <a href="/index.php?p=north_west">North West province</a> of South Africa, is a truly lovely holiday destination &ndash; one that offers its satisfied visitors a host of wonderful entertainment, cultural, and historical options. The city, located along the N12 roughly 200km southwest of <a href="/index.php?p=johannesburg">Johannesburg</a>, Gauteng, is rich in fascinating Voortrekker and gold rush history and its lovely streets and avenues lined with historical buildings reflect its heritage. </p>
    <p class="paragraphtext">The nearby Klerksdorp Airport (which also hosts a spectacular annual air show) provides tourists with easy access to the city, and the area&rsquo;s semi-arid climate, warm to hot with afternoon showers in summer and cool and dry in winter, is perfect for outdoor activities.</p>
    <p class="paragraphtext"><span class="inparagraphheading"></span>One of the oldest European settlements in the area, Klerksdorp was founded in 1837 when a group of Voortrekkers settled on the beautiful banks of the Schoonspruit (meaning &lsquo;clear stream&rsquo; in Afrikaans). The settlement was named in honour of Jacob de Clerq, the first magistrate of the area. The village experienced a boom in 1886 when gold was discovered in the area. Gold diggers descended upon Klerksdorp in their droves in search of their fortunes and it soon blossomed into a bustling little town. However, the mining of the gold required expensive, sophisticated equipment which many prospectors did not have access to so most diggers moved elsewhere in the late 1890s. Large-scale gold mining commenced in 1932 when the large mining companies moved in, and the Klerksdorp region is still a major player in the gold mining industry to this day. Besides gold mining, Klerksdorp (along with <a href="/index.php?p=rustenburg">Rustenburg</a>) is the economic hub of the entire North West province and the city provides significant retail, medical, and education services for the province and the northern parts of the <a href="/index.php?p=free_state">Free State</a>. Added to that, Klerksdorp is also a major agricultural area, providing maize, sunflowers, sorghum, and groundnuts. The second biggest grain co-operative on the planet is located near Klerksdorp.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/klerksdorp" class="alinks" title="Accommodation in Klerksdorp">Find Accommodation in Klerksdorp</a></li>
      </ul>
      <div class="paragraphpictureright"><img src="../images/map-klerksdorp.jpg" title="Location of Klerksdorp, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Klerksdorp, North West, South Africa.</div>
    <p class="paragraphtext">Klerksdorp is home to endless cultural, historical, and natural attractions that will delight and astound first time visitors and return visitors alike. The <a href="/index.php?p=klerksdorp_museum">Klerksdorp Museum</a> boasts endlessly interesting social history, archaeology, and local geological history exhibits. The old cemetery is the final resting place of many who sadly perished in the Anglo-Boer War, including British soldiers who fought in the war and women and children who died in the concentration camps. The Oudorp Hiking Trail takes fascinated tourists on a 12km journey through the oldest parts of Klerksdorp. Highlights of this hiking trail include an old distillery and the Jack Scott House which is a tin house that was imported all the way from the UK in times past. Goudkoppie (&lsquo;gold hill&rsquo; in Afrikaans), situated near the N12, contains old mine shafts that date back to the 18th century. Intriguing inscriptions adorn the rocks of Goudkoppie. These inscriptions are attributed to British soldiers who fought in the Anglo-Boer War. Klerksdorp&rsquo;s first national monument, namely the Railway Station and Old Flag Room, is not to be missed. This station was opened by Paul Kruger when the railway line from Krugersdorp reached Klerksdorp in 1897.
    <p class="paragraphtext"><span class="inparagraphheading"></span>Nature lovers and outdoor enthusiasts are urged to add the following attractions to their itineraries. The Faan Meintjies Nature Reserve, situated a mere 13km from town, is home to about 30 species of game, including rhino, and roughly 150 species of bird. The Klerksdorp Dam is ideally situated just 10km from Klerksdorp alongside the road to Ventersdorp. The town&rsquo;s municipal gardens (known as Plant House), the Johan Neser Dam, and the Schoonspruit are all breathtakingly beautiful and home to plenty of pretty bird life. Golf enthusiasts are spoilt for choice as there are numerous fantastic golf courses in and around town.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/klerksdorp" class="alinks" title="Accommodation in Klerksdorp">Accommodation in Klerksdorp</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=southern_north_west" class="alinks">Southern Region</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=lichtenburg" class="alinks">Lichtenburg</a></li>
   	  <li><a href="/index.php?p=potchefstroom" class="alinks">Potchefstroom</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=mafikeng_mmabatho" class="alinks">Mafikeng</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>