<head>
<link rel="stylesheet" href="template2.css">
<title>Klerksdorp Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Klerksdorp Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/klerksdorp_museum.jpg" title="Klerksdorp Museum" width="450" height="285" hspace="5" vspace="5">Klerksdorp Museum</div>
    
    <p class="paragraphtext">The Klerksdorp Museum, situated on the corner of Margaretha Prinsloo and Lombard streets in Pienaarsdorp, <a href="/index.php?p=klerksdorp">Klerksdorp</a> in the <a href="/index.php?p=north_west">North West province</a> of South Africa, is an endlessly fascinating historical and cultural attraction and an absolute must see on any visit to this stunning city. </p>
    <p class="paragraphtext">The museum is housed in a few beautiful sandstone buildings that were used as a prison in times past. The prison was built in 1891 and functioned as such until 1973. The main museum building is situated in the Old Gaol and the old warden&rsquo;s house also hosts period exhibits.</p>
    <p class="paragraphtext">The Klerksdorp Museum depicts the history of Klerksdorp, the archaeology of the area, local geological history, and the social history of the city and its surrounds. There are also old farm implements and vehicles on display and visitors can go on an insightful tour of the Klerksdorp Mine. The museum&rsquo;s most famous exhibit is undoubtedly the Klerksdorp spheres display. These small spherical stones, generally 3cm to 4cm in diameter and 2.5cm wide, were found in 3 billion year old pyrophyllite rock deposits. Many people hypothesised that the Klerksdorp spheres were man-made but geologists now believe that they were formed by natural forces &ndash; one of Mother Nature&rsquo;s many natural wonders.</p>
    <p class="paragraphtext"><em><strong>Klerksdorp Museum Physical Location</strong></em><br />
      Martin Street, between Robinson and Carrington Streets, <a href="/index.php?p=klerksdorp">Klerksdorp</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Klerksdorp Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Accommodation in Klerksdorp</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Accommodation in Potchefstroom</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.846741,26.674633&amp;spn=0.053606,0.120163&amp;z=13&amp;iwloc=0004b887404014d8efda2&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.846741,26.674633&amp;spn=0.053606,0.120163&amp;z=13&amp;iwloc=0004b887404014d8efda2&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Klerksdorp</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Potchefstroom</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>