<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Knysna, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Garden Route , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about Knysna, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/knysna_lagoon.jpg" title="The coastal town of Knysna is set around a beautiful lagoon" width="450" height="335" hspace="5" vspace="5">The coastal town of Knysna is set around a beautiful lagoon</div>
<p class="paragraphtext">The beautiful coastal town of Knysna, situated in the heart of <a href="/index.php?p=garden_route">the Garden Route</a> in the <a href="/index.php?p=western_cape">Western Cape</a>, South Africa, is home to over 70 000 happy inhabitants.</p>
<p class="paragraphtext">This extremely pretty town hugs a beautiful lagoon and is bordered by lush forests, serene lakes, gorgeous beaches, and, of course, the cool blue ocean. The name 'Knysna' is said to come from the Khoikhoi word meaning 'ferns', which makes perfect sense considering the beautiful flora for which the area is world-renowned.</p>
<p class="paragraphtext">Knysna's stunning natural attractions provide an abundance of exciting outdoor activities for the adventurous outdoor enthusiast.</p>
<p class="paragraphtext">Located between the Indian Ocean and the Outeniqua Mountains, Knysna lies 34 degrees south of the equator and 72km east of George, 25km west of Plettenberg Bay, and 260km away from <a href="/index.php?p=port_elizabeth">Port Elizabeth</a> on the N2 highway.</p>
<p class="paragraphtext">Knysna is an icon of South African tourism and attracts visitors from all over <a href="/index.php?p=south_africa">South Africa</a> and abroad. The focal point of Knysna for tourists is <a href="/index.php?p=poi_western_cape_knysna_waterfront">the Waterfront</a> from which lagoon cruises and boat trips to the <a href="/index.php?p=poi_western_cape_featherbed_nature_reserve">Featherbed Nature Reserve</a> depart. It is also the location of the popular restaurant and deli Thirty Four Degrees South.</p>
<div class="paragraphpictureright"><img src="../images/map-knysna.jpg" title="Location of Knysna, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5">Location of Knysna, Western Cape, South Africa.</div>
<p class="paragraphtext">The absolutely fascinating Knysna Museum at Millwood House in Queen Street is a must-see for tourists as it highlights the region's colourful and interesting history.</p>
<p class="paragraphtext">The nearby towns of <a href="/index.php?p=poi_western_buffalo_bay">Buffalo Bay</a>, Hoekwil, Sedgefield, and (especially) Wilderness are also much-loved tourist destinations that are well worth a visit if you are in the area.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/knysna" class="alinks" title="Accommodation in Knysna">Find Accommodation in Knysna</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/knysna" class="alinks" title="Accommodation in Knysna">Accommodation in Knysna</a></li>
    	<li><a href="/accommodation/specials/southern_africa/south_africa/western_cape/knysna" class="alinks">Specials in Knysna</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=garden_route" class="alinks">The Garden Route</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/mossel_bay" class="alinks">Mossel Bay</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/george" class="alinks">George</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/plettenberg_bay" class="alinks">Plettenberg Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/wilderness" class="alinks">Wilderness</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/sedgefield" class="alinks">Sedgefield</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>