<head>
<link rel="stylesheet" href="template2.css">
<title>Kruger Mpumalanga International Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Kruger Mpumalanga International Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/kruger_mpumalanga_airport.jpg" title="Kruger Mpumalanga International Airport" width="450" height="276" hspace="5" vspace="5">Kruger Mpumalanga International Airport</div>
    
    <p class="paragraphtext">The Kruger Mpumalanga International Airport, situated just northeast of Nelspruit in the <a href="/index.php?p=mpumalanga">Mpumalanga province</a> of South Africa, is an efficient and convenient airport that serves the spectacular <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>, the city of Nelspruit, and the absolutely beautiful surrounding bushveld areas. This wonderful airport, sometimes also referred to as the 'Kruger Airport' in the tourism and aviation industries, hosts scheduled passenger flights to and from <a href="/index.php?p=cape_town">Cape Town</a>, <a href="/index.php?p=durban">Durban</a>, <a href="/index.php?p=johannesburg">Johannesburg</a>, Livingstone (<a href="/index.php?p=zambia">Zambia</a>), and Vilankulo (<a href="/index.php?p=mozambique">Mozambique</a>).</p>
    <p class="paragraphtext">The Kruger Mpumalanga International Airport is a privately owned international airport and has become a much-loved landmark among international tourists and local tourists alike. It was designed with an African safari theme and its attractive thatched airport terminal building blends in with its stunning surrounding bushveld scenery perfectly. The airport contains customs and immigration facilities, banking facilities, a bureau de change, superb VIP lounges, car rental depots, a restaurant, a coffee shop, and a curio shop. The Kruger Mpumalanga International Airport's runway (3 100m x 60m) can accommodate large aircrafts such as the Boeing 737, the Boeing 747, the Boeing 767, and the Airbus series.</p>
    <p class="paragraphtext">Spectacular attractions and destinations in the surrounding areas include the Blyde River Canyon and God&rsquo;s Window, the Shangaan Cultural Village, the Sudwala Caves, the Makhonjwa Mountains, White River, Hazyview, Sabie, and, of course, one of the brightest gems in South Africa&rsquo;s tourism and conservation crown, the Kruger National Park.</p>
    <p class="paragraphtext"><em><strong>Kruger Mpumalanga International Airport Physical Address</strong></em><br /> 
    North West of Nelspruit on the R538, South East of White River</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Kruger Mpumalanga International Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit">Accommodation in Nelspruit</a><Br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote">Accommodation in the Lowveld Legogote Region</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;ll=-25.344647,31.151047&amp;spn=0.217194,0.480652&amp;z=11&amp;iwloc=0004ace19fb40bce06763&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;ll=-25.344647,31.151047&amp;spn=0.217194,0.480652&amp;z=11&amp;iwloc=0004ace19fb40bce06763&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit">Nelspruit</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote">Lowveld Legogote Region</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>