<head>
<link rel="stylesheet" href="template2.css">
<title>Lake Fundudzi</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Lake Fundudzi</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/lake_fundudzi.jpg" title="Lake Fundudzi" width="450" height="330" hspace="5" vspace="5">The sacred Lake Fundudzi in Limpopo</div>
    
    <p class="paragraphtext">The mystical Lake Fundudzi, one of the few true inland lakes in the country, is a spectacular tourist spot located in the northern end of the Soutpansberg in <a href="/index.php?p=limpopo">Limpopo</a>, <a href="/index.php?p=south_africa">South Africa</a> &ndash; albeit one that tourists are often not allowed to visit up close and personal.</p>
    <p class="paragraphtext">This beautiful lake, formed by an immense landslide that blocked the Mutale River valley, has no obvious outlets and is fed by three rivers yet it somehow (magically?) manages never to overflow.</p>
    <p class="paragraphtext">This lovely lake, situated off the R523 between <a href="/index.php?p=thohoyandou">Thohoyandou</a> and Louis Trichardt, is sacred to the Venda people and outsiders are rarely granted access to its enchanted shores (possibly a good thing as the waters are reputed to be infested with crocodiles). Whether or not someone is allowed to pay a visit to the waters is entirely up to the local custodians of the lake &ndash; the Vhatatsindi (the &lsquo;people of the pool&rsquo;). The rare times in which newcomers are permitted to walk down to the hallowed waters they have to perform two sacred rites of passage in order to placate the spirits and please the Venda people. Firstly, visitors have to approach Lake Fundudzi with their backs to it, viewing the magical waters with their heads between their legs. Secondly, visitors must pluck a few hairs from their heads and toss them into the lapping waves. Fortunately for intrepid tourists and nature lovers with cameras at the ready, one of the best views of the lake is from the amazing mountains above. The fantastic four day Mabudashango Hiking Trail takes sprightly sightseers on an incredible journey through the surrounding mountains and forests, past waterfalls, streams, and sparkling mountain pools, with the exquisite Lake Fundudzi in full view.</p>
    <p class="paragraphtext">This lovely 5km by 3km lake is surrounded by the Thathe Vondo forest, a fabled forest not often entered by the superstitious Venda people which is said to be inhabited by ghastly ghosts and ghouls and a dangerous lightning bird called Ndadzi. Legend and folklore have it that the python god, the Venda god of fertility, resides in the magnificent mountains above Lake Fundudzi.</p>
    <p class="paragraphtext">The Venda appease the python god annually by performing various rites and rituals, thus ensuring that their crops are plentiful. Ancestral beliefs also tell of a white crocodile that stands guard over the spirits that reside in the Lake Fundudzi waters, among many, many more fascinating fables.</p>
    <p class="paragraphtext">The mostly subtropical climate of the area, with its hot summers and pleasant winters, makes it a lovely place to visit all year round. Lake Fundudzi is best experienced in the company of the local Venda people who will entertain engrossed tourists with their tales for hours on end.</p>
    <p class="paragraphtext"><em><strong>Lake Fundudzi Physical Location</strong></em><br />
      15km Northwest of <a href="/index.php?p=thohoyandou">Thohoyandou</a>, inacessible by road</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Lake Fundudzi</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Accommodation in Thohoyandou</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/vhembe" class="alinks">Accommodation in Vhembe</a><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/waterberg/naboomspruit_%28mookgophong%29"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-22.745789,30.462341&amp;spn=0.44327,0.961304&amp;z=10&amp;iwloc=0004b524200a19d36a7a9&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-22.745789,30.462341&amp;spn=0.44327,0.961304&amp;z=10&amp;iwloc=0004b524200a19d36a7a9&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Thohoyandou</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/vhembe" class="alinks">Vhembe</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>