<head>
<link rel="stylesheet" href="template2.css">
<title>Lanseria International Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Lanseria International Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/lanseria_airport.jpg" title="Lanseria International Airport" width="450" height="177" hspace="5" vspace="5">Lanseria International Airport</div>
    
    <p class="paragraphtext">Lanseria International Airport, a fantastic privately owned international airport, is situated near the sprawling urban centres of Randburg and Sandton in the northwest of <a href="/index.php?p=johannesburg">Johannesburg</a>, South Africa.</p>
    <p class="paragraphtext">Starting out as a humble grass strip airfield in 1972, Lanseria International Airport grew steadily and is now one of two airports in Johannesburg that caters for passengers on commercial airlines; the other being <a href="/index.php?p=or_tambo_airport">OR Tambo International Airport</a>. The airport has two runways that can handle various large aircrafts, including the Boeing 757-300 and the Airbus A319.</p>
    <p class="paragraphtext">Although fewer airlines fly to Lanseria International Airport than OR Tambo International Airport, it is the preferred domestic travel option for many a busy Johannesburg traveller as it is easily accessible and closer to Randburg, Sandton, <a href="/index.php?p=pretoria">Pretoria</a>, Midrand, and the <a href="/index.php?p=west_rand">West Rand</a>. Lanseria is also located within close proximity to a wealth of spectacular tourist destinations and well-known landmarks, including <a href="/index.php?p=lesedi_cultural_village">Lesedi Cultural Village</a>, the <a href="/index.php?p=sterkfontein_caves">Sterkfontein Caves</a>, the <a href="/index.php?p=cradle_of_humankind">Cradle of Humankind</a>, Hartbeespoort Dam, Montecasino, Nelson Mandela Square, and <a href="/index.php?p=unisa">UNISA</a>.</p>
    <p class="paragraphtext">Lanseria International Airport is famous for being the airport at which Nelson Mandela landed when he flew to Johannesburg after being released from prison in February 1990.</p>
    <p class="paragraphtext"><em><strong>Lanseria International Airport Physical Address</strong></em><br /> 
    Airport Road, Lanseria, East of R512</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Lanseria International Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_lanseria">Accommodation near Lanseria</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_fourways">Accommodation in Fourways</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/west_rand">Accommodation in the West Rand</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.916365,27.954369&amp;spn=0.108079,0.240326&amp;z=12&amp;iwloc=0004acbf1f2a5fb6cdacd&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-25.916365,27.954369&amp;spn=0.108079,0.240326&amp;z=12&amp;iwloc=0004acbf1f2a5fb6cdacd&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_lanseria">Lanseria</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/greater_johannesburg/greater_fourways">Fourways</a></li>
	    <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/west_rand">West Rand</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>