<head>
<link rel="stylesheet" href="template2.css">
<title>Leisure Isle</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Leisure Isle</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_leisure_isle.jpg" title="Leisure Isle" width="450" height="275" hspace="5" vspace="5">Leisure Isle has front-row seats to the Knysna Heads</div>
    
    <p class="paragraphtext">Like a lovely scene you'd find on a glossy postcard, Leisure Isle, surrounded by the warm waters of the beautiful <a href="/index.php?p=knysna">Knysna</a> estuary, is an absolute must on any <a href="/index.php?p=western_cape">Western Cape</a> <a href="/index.php?p=garden_route">Garden Route</a> tourist's itinerary.</p>
    <p class="paragraphtext">Linked to the Knysna mainland by a narrow bridge, the peace and tranquillity that it radiates is quite catchy indeed. As its name suggests, Leisure Isle inspires leisurely walks or relaxed bicycle rides around the island's 4km perimeter, or lazing on the beach with quietly satisfied smiles watching the boats go by.</p>
    <p class="paragraphtext">Leisure isle is the perfect vantage point from which to view the magnificent <a href="/index.php?p=knysna_heads">Knysna Heads</a> that extend majestically into the sea, separating the calm waters of the Knysna Lagoon and the choppy waters of the Indian Ocean.</p>
    <p class="paragraphtext"><em><strong>Leisure Isle Physical Address</strong></em><br /> 
    Accessed from George Rex Dr, Knysna</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Leisure Isle</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Accommodation in Knysna</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;ll=-34.056926,23.063393&amp;spn=0.049776,0.120163&amp;z=13&amp;iwloc=0004a99565d3d6813fa4e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;ll=-34.056926,23.063393&amp;spn=0.049776,0.120163&amp;z=13&amp;iwloc=0004a99565d3d6813fa4e&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Knysna</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>