<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Lesotho - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Lesotho</div>
	<div class="contentmainheading">
	  <h1>Lesotho</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/lesotho.jpg" title="Lesotho" width="450" height="241" hspace="5" vspace="5">Lesotho</div>
    <p class="paragraphtext">The tiny mountain kingdom of Lesotho, with its mountain scenery reminiscent of that of Nepal or Tibet , is totally surrounded by <a href="/index.php?p=south_africa">South Africa</a>. Roughly the size of Belgium, the prominent feature of Lesotho is the Maluti Mountain range that runs through the country at about 1,000m above sea level. Lesotho is thus aptly described as the &quot;Kingdom in the Sky&quot;.</p>
	<p class="paragraphtext">Tourists are welcomed with open arms and smiling faces, and accommodation options vary from campsites through bed and breakfasts to the ultimate in luxury resorts.</p>
	<p class="paragraphtext">Lesotho is an independent state and passports are needed to enter, but South African passport holders do not require visas. Overseas visitors should make sure whether they need a visa or not before arrival. The national currency is the Loti.</p>
	<p class="paragraphtext">The local people, the Basotho, are a proud nation and have fascinating traditions, beliefs and customs. The most potent symbol of Lesotho is the Mokorotlo woven hat, which makes for a fabulous curio to take back home.</p>
    <p class="paragraphtext">A cultural highlight of Lesotho is the annual Morija Arts Festival, held in the little town of Morija about 40km from the capital Maseru where visitors are exposed to the best of the rich culture and celebrations of Lesotho.</p>
          <p class="paragraphtext">Visitors to Lesotho can enjoy spectacular scenery, which is often best seen from the back of a pony, as it takes you through the mountains. Hiking, fishing and 4x4 trails are also very popular in Lesotho and the country has a wide range of places to stay - from five star hotels and first class luxury lodges, to rustic bush camps, guesthouses, backpackers and campsites.</p>
      <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/lesotho/" class="alinks" title="Find Accommodation in Lesotho">Find accommodation in Lesotho</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">


  <!-- START right menus -->
  
<div class="contentrightheading">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/lesotho/" class="alinks" title="Accommodation in Lesotho">Accommodation in Lesotho</a></li>
    	<li><a href="/specials/lesotho/" class="alinks">Specials in Lesotho</a></li>
    </ul>
    
    <div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=southern_africa" class="alinks">Southern Africa</a></li>
    	<li><a href="/index.php?p=lesotho" class="alinks">Lesotho</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	<div class="contentrightheading">Popular Destinations and Towns:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/lesotho/maseru/" class="alinks">Maseru</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/lesotho/butha-buthe/" class="alinks">Butha-Buthe</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/lesotho/roma/" class="alinks">Roma</a></li>
    </ul>
    

<!-- END right menus -->

</div>
</div>