<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Lichtenburg, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Central Region , North West</div>
<div class="contentmainheading">
	  <h1>Information about Lichtenburg, Central Region, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/lichtenburg.jpg" title="Lichtenburg" width="450" height="325" hspace="5" vspace="5">Statue of Koos de la Rey in Lichtenburg</div>
    <p class="paragraphtext">Lichtenburg, a lovely town located in the<a href="/index.php?p=north_west"> North West province</a> of South Africa, offers its satisfied tourists peace and quiet in an astoundingly beautiful setting that is rich in history and South African culture. Situated roughly 230km west of <a href="/index.php?p=johannesburg">Johannesburg</a>, Gauteng, between <a href="/index.php?p=mafikeng_mmabatho">Mafikeng</a> and Coligny on the R503, this picturesque little town with its willow-lined streets is also an ideal stopover point en route to Mmabatho&rsquo;s spectacular casino complex.</p>
    <p class="paragraphtext"><span class="inparagraphheading"></span>Lichtenburg (meaning &lsquo;town of light&rsquo;) was founded in 1873 but the town only flourished in 1925 when a large diamond was discovered in the area. Fast-forward 12 months and Lichtenburg was home to tens of thousands of hopeful prospectors in search of their fortunes. Ten years later the diamond rush had abated but the Lichtenburg landscape had already yielded approximately 7 million carats of dazzling diamonds. In fact, the world&rsquo;s largest flawless red diamond, known as the &lsquo;pigeon blood red&rsquo;, was discovered here in 1927.</p>
  <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks" title="Accommodation in Lichtenburg">Find Accommodation in Lichtenburg</a></li>
      </ul>
    <p class="paragraphtext">Boasting a marvellous moderate climate and plenty of natural water sources, the Lichtenburg area is something of an oasis in the otherwise quite arid North West province.
    <div class="paragraphpictureright"><img src="../images/map-lichtenburg.jpg" title="Location of Lichtenburg, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Lichtenburg, North West, South Africa.</div>
    <p class="paragraphtext"><span class="inparagraphheading"></span>Wonderful willow trees thrive in the area due to the natural irrigation, making the town and its surrounds very pretty indeed. Chiefly a farming town, Lichtenburg forms the western corner of South Africa&rsquo;s &lsquo;maize triangle&rsquo; which is the country&rsquo;s main maize growing region. As such, its main agricultural endeavour is (obviously) maize but the area also produces vast quantities of groundnuts and sunflower seeds. Lichtenburg&rsquo;s other economic claim to fame is cement. There are three major cement producers within an 80km radius of the town.</p>
    <p class="paragraphtext">Fascinating attractions in the area include the <a href="/index.php?p=lichtenburg_diggings_museum">Lichtenburg Diggings Museum</a>, the Willem Annandale Art Gallery, the Ampie Bosman Cultural History Museum, the majestic statue of Koos de la Rey (one of Lichtenburg&rsquo;s favourite sons) on horseback in the town square, the North West Agricultural Museum, the Lichtenburg Game Breeding Centre, and Wondergat &ndash; the deepest sinkhole in the country at which deep-freshwater diving is the order of the day.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks" title="Accommodation in Lichtenburg">Accommodation in Lichtenburg</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=central_north_west" class="alinks">Central Region</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=mafikeng_mmabatho" class="alinks">Mafikeng</a></li>
   	  <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>