<head>
<link rel="stylesheet" href="template2.css">
<title>Lichtenburg Diggings Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Lichtenburg Diggings Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/lichtenburg.jpg" title="Lichtenburg Diggings Museum" width="450" height="325" hspace="5" vspace="5">Lichtenburg, home of the Lichtenburg Diggings Museum</div>
    
    <p class="paragraphtext">The fascinating Lichtenburg Diggings Museum is undoubtedly one of the star attractions in the lovely little town of <a href="/index.php?p=lichtenburg">Lichtenburg</a> in the <a href="/index.php?p=north_west">North West province</a> of sunny South Africa. This marvellous museum details the diamond rush history of the area with wonderful displays and intriguing exhibits.</p>
    <p class="paragraphtext">Alluvial diamond diggings in the area reached fever pitch between 1925 and 1935. At the time the Lichtenburg diamond fields were regarded as the richest public diggings worldwide. The largest and most pure red diamond in the world (the flawless &lsquo;pigeon blood red&rsquo;) was unearthed here in 1927. This 33 carat stone was sold for a mere &pound;66 and later valued at $150 000. Today, it would be worth more than a staggering $6 million. The Lichtenburg area was also the scene of the biggest diamond rush in history. In March 1927, approximately 25 000 prospectors descended upon the farm Grasfontein (near Lichtenburg) to stake their claims.</p>
    <p class="paragraphtext"><em><strong>Lichtenburg Diggings Museum Physical Location</strong></em><br />
      Martin Street, between Robinson and Carrington Streets, <a href="/index.php?p=lichtenburg">Lichtenburg</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Lichtenburg Diggings Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Accommodation in Lichtenburg</a><a href="/index.php?p=malalane"></a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Accommodation in Mafikeng (Mmabatho)</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.147425,26.168232&amp;spn=0.053933,0.120163&amp;z=13&amp;iwloc=0004b88743db782af3a33&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-26.147425,26.168232&amp;spn=0.053933,0.120163&amp;z=13&amp;iwloc=0004b88743db782af3a33&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Lichtenburg</a></li>
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Mafikeng (Mmabatho)</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>