<head>
<link rel="stylesheet" href="template2.css">
<title>Loch Logan Waterfront</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading fs">Free State Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Loch Logan Waterfront</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/loch_logan.jpg" title="Loch Logan Waterfront" width="450" height="209" hspace="5" vspace="5">Loch Logan Waterfront in Bloemfontein</div>
    
    <p class="paragraphtext">Undoubtedly one of the first stops for visitors to the pretty city of <a href="/index.php?p=bloemfontein">Bloemfontein</a> (loosely translated from Dutch as 'fountain of flowers'), the <a href="http://www.lochlogan.co.za/" target="_blank">Loch Logan Waterfront</a> is the largest shopping centre in the <a href="/index.php?p=free_state">Free State Province</a> of <a href="/index.php?p=south_africa">South Africa</a> and is the hub of shopping, entertainment, and culture in Bloemfontein.</p>
    <p class="paragraphtext">Situated on the corner of Henry Street and 1st Avenue in Westdene, Bloemfontein, this 80 000m&sup2; shopping centre boasts a wide variety of entertainment and dining options at one convenient location, including many shops, cinemas, salons, banks, a gym, a medical centre, and numerous excellent restaurants, coffee shops, pubs, and fast food outlets.</p>
    <p class="paragraphtext">The Loch Logan Waterfront is superbly located in close proximity to many of Bloemfontein's other exciting attractions, including the Free State Stadium (a spectacular rugby venue also known as Vodacom Park), the OUTsurance Oval (primarily used for cricket), the Sand du Plessis Theatre (which hosts delightful music, drama, opera, and ballet performances), and the beautiful Bloemfontein Rose Gardens. <a href="/index.php?p=bloemfontein_airport">Bloemfontein Airport</a>, Mediclinic Bloemfontein, the Central University of Technology, and the provincial government buildings are also located just a stone's throw away.</p>
    <p class="paragraphtext"><em><strong>Loch Logan Waterfront Physical Location</strong></em><br /> 
    Corner Henry Street and 1st Avenue, Westdene, Bloemfontein</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Loch Logan Waterfront</span><br />
  <a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Accommodation in Bloemfontein</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.111151,26.213593&amp;spn=0.013123,0.030041&amp;z=15&amp;iwloc=0004ae89b751aacd70c33&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-29.111151,26.213593&amp;spn=0.013123,0.030041&amp;z=15&amp;iwloc=0004ae89b751aacd70c33&amp;source=embed" style="color:#0000FF;text-align:left">Free State Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/free_state/motheo/bloemfontein">Bloemfontein</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_free_state">Points of Interest in Free State</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>