<head>
<link rel="stylesheet" href="template2.css">
<title>Lowveld Botanical Garden</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Lowveld Botanical Gardens</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/lowveld_botanical_garden.jpg" title="Lowveld Botanical Garden" width="450" height="290" hspace="5" vspace="5">Lowveld Botanical Gardens in Nelspruit</div>
    
    <p class="paragraphtext">One of the most impressive gems in the Nelspruit area's rather spectacular tourism crown is undoubtedly the Lowveld National Botanical Garden. Situated a short distance outside of <a href="/index.php?p=nelspruit_mbombela">Nelspruit</a>, <a href="/index.php?p=mpumalanga">Mpumalanga</a>, just off White River Road, the gorgeous 159ha gardens are home to more than 600 plants that are indigenous to the area, about 2 000 exotic plants from other parts of South Africa and further afield, and some absolutely remarkable riverine scenery. The gardens play a vital role in the conservation of endangered and rare plant species.</p>
    <p class="paragraphtext">The Lowveld National Botanical Garden is intersected by the Crocodile and Nels rivers, both rushing and raging toward two spectacular waterfalls and plunging rapidly to meet in a tranquil pool. These lovely waterfall scenes can be enjoyed by visitors at the Nels and the Cascades viewpoints and, when the waters of the Crocodile River are low, some interesting geological formations are revealed.</p>
    <p class="paragraphtext"><a href="http://booktravel.travel/index.php?p=gods_window"></a>The Crocodile and Nels river banks are graced with beautiful evergreen forests. The eastern bank of the Crocodile River is a tropical rainforest that flaunts lush flora from the central and western African rainforests. The gorgeous specimens on show here are, sadly, diminishing rapidly in the areas in which they occur naturally. Strolling through this endlessly enchanting tropical African rainforest is a rare treat indeed &ndash; one of its highlights being the suspension bridge that crosses the mighty Crocodile River and provides a magnificent view of the river's cascading waterfall. Another truly spectacular forest contained in the Lowveld National Botanical Garden, the South African forest, boasts beautiful flora from the Nelspruit area, the coastal belt, and the nearby <a href="/index.php?p=limpopo">Limpopo</a> province.</p>
    <p class="paragraphtext">Besides these already extraordinary forest and riverine attractions, the Lowveld National Botanical Garden also contains eight other stunning sections &ndash; an impressive bulb garden, an expanse of dry bushveld, lovely corkwoods and cabbage trees, ancient and endlessly interesting cycads, majestic baobabs, and a comprehensive collection of wild figs &ndash; all interspersed with Sour Lowveld Bushveld vegetation, the dominant vegetation of the area, and many other fabulous indigenous species.</p>
    <p class="paragraphtext"><em><strong>Lowveld Botanical Gardens Physical Location</strong></em><br />
      3km North of <a href="http://booktravel.travel/index.php?p=nelspruit_mbombela">Nelspruit</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Lowveld Botanical Gardens</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit_%2528mbombela%2529">Accommodation in Nelspruit</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote" class="alinks">Accommodation in Lowveld Legogote</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.432268,30.979385&amp;spn=0.054259,0.120163&amp;z=13&amp;iwloc=0004b2ddfd79f57bfc1dd&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.432268,30.979385&amp;spn=0.054259,0.120163&amp;z=13&amp;iwloc=0004b2ddfd79f57bfc1dd&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit_%2528mbombela%2529">Nelspruit (Mbombela)</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote" class="alinks">Lowveld Legogote</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>