<head>
<link rel="stylesheet" href="template2.css">
<title>Lydenburg Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Lydenburg Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/lydenburg.jpg" title="Lydenburg Heads in Lydenburg Museum" width="450" height="287" hspace="5" vspace="5">Lydenburg Heads in Lydenburg Museum</div>
    
    <p class="paragraphtext">The Lydenburg Museum, situated at the entrance to the gorgeous Gustav Klingbiel Nature Reserve on the historic and beautiful Long Tom Pass in <a href="/index.php?p=mpumalanga">Mpumalanga</a>, <a href="/index.php?p=south_africa">South Africa</a> is home to a truly intriguing and stunning South African archaeological attraction: The Lydenburg Heads exhibit.</p>
    <p class="paragraphtext">The Lydenburg Heads, seven fascinating terracotta masks dating back to roughly 490 AD and made by Early Iron Age people, provide history buffs and interested tourists with valuable insight into times past in South Africa. The Lydenburg Heads on display at the Lydenburg Museum are Plaster of Paris replicas of the originals which are kept at the Iziko South African Museum in <a href="/index.php?p=cape_town">Cape Town</a>; one of South Africa's many endlessly interesting national museums.</p>
    <p class="paragraphtext">In 1957 a small boy of about 10 years old, Ludwig von Bezing, was playing in the veld on his father's farm when he found some very interesting shards of pottery. Returning to the site over the next few years, he picked up more shards, potsherds, iron beads, copper beads, ostrich eggshell beads, pieces of bones, and millstones. What he had unwittingly found turned out to be one of South Africa's (and the world's) most important Iron Age finds &ndash; the now world-famous Lydenburg Heads.</p>
    <p class="paragraphtext">Years later, attending the University of Cape Town, Von Bezing joined the university's archaeological club and presented his finds to them. Archaeologists from the University of Cape Town and the University of the Witwatersrand were absolutely thrilled and the site at which Ludwig found the relics was soon explored and excavated, providing us with even more insights into our ancient ancestors' colourful culture.</p>
    <p class="paragraphtext">The Lydenburg Heads are comprised of two large heads, about the size of a child's head, and five smaller ones, roughly half that size. Six of the masks display human characteristics, while the seventh has an animal snout. It is theorised that they were used symbolically during initiation rites and religious ceremonies. The people who made them were Bantu herders and farmers from the  bushveld area northeast of the Limpopo River. Similar archaeological discoveries were later made in the Gustav Klingbiel Nature Reserve and archaeologists and researchers believe that they were made by the same people who left us the lovely Lydenburg Heads.</p>
    <p class="paragraphtext"><em><strong>Lydenburg Museum Physical Address</strong></em><br />
      Gustav Klingbiel Nature Reserve, 2km East of <a href="/index.php?p=lydenburg_mashishing">Lydenburg</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Lydenburg Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lydenburg_%28mashishing%29">Accommodation in Lydenburg</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Accommodation in Highlands Meander</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.085754,30.492039&amp;spn=0.054414,0.120163&amp;z=13&amp;iwloc=0004b23d94baae04b280f&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.085754,30.492039&amp;spn=0.054414,0.120163&amp;z=13&amp;iwloc=0004b23d94baae04b280f&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lydenburg_%28mashishing%29">Lydenburg</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Highlands Meander</a><a href="/index.php?p=malalane"></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>