<head>
<link rel="stylesheet" href="template2.css">
<title>Hot spring near Machadodorp</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Hot spring near Machadodorp</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/hot_springs.jpg" title="Hot spring near Machadodorp" width="450" height="334" hspace="5" vspace="5"> Machadodorp is in a well watered area of the country</div>
    
    <p class="paragraphtext">For thousands and thousands of years people from all over the world have flocked to hot springs in search of a cure for their ailments or merely to enjoy some well-needed rest and relaxation. We're happy to say that sunny South Africa has loads of natural hot springs scattered all over the country &ndash; one of the most popular and pleasant being the Radioactive hot spring near <a href="/index.php?p=machadodorp">Machadodorp</a>.</p>
    <p class="paragraphtext">Many people dismiss hot springs' purported healing properties as legend and folklore but the fact of the matter is that heated water holds more dissolved solids than cool water so hot springs generally have a very high mineral content. Depending on the mineral in the water, hot springs can indeed have powers of healing, however small. And there is definitely no doubt that bathing in a pool of hot water, especially under the stars surrounded by nature in all its glory, is tremendously relaxing.</p>
    <p class="paragraphtext">The naturally radioactive hot spring near Machadodorp, located roughly 2km from the lovely town, has a high sulphur content which is said to sooth rheumatism and gout. Its spectacular setting in the marvellous <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a> makes it an absolute must on any traveller's tour itinerary.</p>
    <p class="paragraphtext"><em><strong>Hot spring near Machadodorp Physical Address</strong></em><br />
      2km out of <a href="/index.php?p=machadodorp">Machadodorp</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Hot spring near Machadodorp</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/machadodorp">Accommodation in Machadodorp</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Accommodation in Highlands Meander</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.584563,30.312653&amp;spn=0.216762,0.480652&amp;z=11&amp;iwloc=0004b23e0011a532f8f96&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.584563,30.312653&amp;spn=0.216762,0.480652&amp;z=11&amp;iwloc=0004b23e0011a532f8f96&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/machadodorp">Machadodorp</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Highlands Meander</a><a href="/index.php?p=malalane"></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>