<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Machadodorp, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Highlands Meander , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Machadodorp, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/machadodorp.jpg" title="Machadodorp" width="450" height="350" hspace="5" vspace="5">Machadodorp Church</div>
<p class="paragraphtext">Machadodorp, a quintessentially quaint and lovely little town situated along the escarpment in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>, opens up many doors for intrepid travellers looking to explore this part of the beautiful South African bushveld. </p>
<p class="paragraphtext">Situated alongside the N4 highway a mere 200km or so from <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a> and en route to <a href="/index.php?p=dullstroom_emnotweni">Dullstroom</a> and the world-renowned and staggeringly stunning <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>, Machadodorp is a truly superb destination for a relaxing weekend getaway. Komati Gorge, famed for its bluff habitats and significant biodiversity, provides a most beautiful backdrop to the town.</p>
<p class="paragraphtext">Regarded as one of the best trout fishing destinations in the land, the Elands River which flows through the town and the nearby Nooitgedacht Dam attract avid anglers and fly fishing fundis aplenty. Machadodorp hosts a famous fly fishing and potjiekos festival which revellers flock to from miles around to show off their casting and cooking skills.</p>
<p class="paragraphtext">For hikers hungry for adventure, the Wilderness Hiking Trail that winds its way through the lovely landscape is a must. The town's main attraction, however, has to be the <a href="/index.php?p=machadodorp_hot_springs">natural radioactive hot spring</a> situated near Machadodorp that is said to have immense powers of healing and relaxation.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/machadodorp" class="alinks" title="Accommodation in Lydenburg">Find Accommodation in Machadodorp</a></li>
      </ul>
      
      <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-machadodorp.jpg" title="Location of Machadodorp, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Machadodorp, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">The town got its name from Joachim Machado, the Portuguese engineer and subsequent governor of Mozambique who surveyed the region in the 1890s for a proposed <a href="/index.php?p=pretoria">Pretoria</a> to Delagoa Bay (now Maputo Bay, <a href="/index.php?p=mozambique">Mozambique</a>) railway line. In 2010, Machadodorp and a few other towns and cities in the region (such as Waterval-Boven and Nelspruit) saw official name changes. Machadodorp's name was officially changed to eNtokozweni but the new name has not yet become widely used.</p>
  
    
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/machadodorp" class="alinks" title="Accommodation in Machadodorp">Accommodation in Machadodorp</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=highlands_meander" class="alinks">Highlands Meander</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=dullstroom_emnotweni" class="alinks">Dullstroom</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=lydenburg_mashishing" class="alinks">Lydenburg (Mashishing)</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>