<head>
<link rel="stylesheet" href="template2.css">
<title>Madikwe Nature Reserve</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Madikwe Nature Reserve</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/madikwe2.jpg" title="Madikwe Nature Reserve" width="450" height="325" hspace="5" vspace="5">Enjoy Big 5 game viewing in Madikwe Nature Reserve </div>
    
    <p class="paragraphtext">The magnificent Madikwe Game Reserve, the fourth largest game reserve in South Africa, offers its tourists a totally unique game viewing experience in a totally unique setting. There are no camp sites, no self-catering chalets, no braai facilities, and no picnic spots &ndash; guests are treated to only the finest luxury accommodation in exclusive 4 and 5 star private game lodges. Also, no provision is made for day visitors &ndash; only the lodges&rsquo; pampered guests are privileged to experience the park&rsquo;s immense natural beauty, spectacular scenery, and gorgeous game, of which there is an absolute abundance. The year-round warm climate is ideal for open vehicle game drives, guided walks in the beautiful bushveld, invigorating night drives, and fine dining under the stars.</p>
    <p class="paragraphtext">The Madikwe Game Reserve is splendidly situated just 20km away from Gaborone in <a href="/index.php?p=botswana">Botswana</a> and 90km north of Zeerust, roughly three and a half hours&rsquo; drive from <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a>. Located in the upper reaches of the <a href="/index.php?p=north_west">North West province</a> of South Africa and bordering Botswana, this resplendent reserve is situated in a malaria free transition zone between the Lowveld bushveld and the Kalahari thornveld on the edge of the Kalahari Desert. Due to this, the Madikwe Game Reserve is home to a delightful diversity of fabulous flora and fauna from both of these ecosystems. Regarded as something of a shining star in the conservation world, the reserve&rsquo;s lovely inhabitants include roughly 66 species of mammals, among them Africa&rsquo;s beautiful Big Five (lion, leopard, rhino, elephant, and buffalo) and numerous rare and/or endangered species such as the amazing African wild dog, and over 350 resident and migrant bird species. One of the Madikwe Game Reserve&rsquo;s many claims to fame is its large and thriving elephant population &ndash; the second largest in the country.</p>
    <p class="paragraphtext">A relatively new game reserve, having only opened its gates in August 1991, the Madikwe Game Reserve has already blossomed into one of South Africa&rsquo;s favourite game viewing and holiday destinations, and, at approximately 75 000ha, it is also one of the country&rsquo;s largest. The reserve is run as a mutually beneficial joint venture between the state, the private sector, and the local communities of the area. While all of these parties benefit from the reserve&rsquo;s success, the conservation effort is, we&rsquo;re happy to report, the big winner. Previously ravaged farmland has been returned to its former glory, its natural state, and the wonderful wildlife, bird life, and plant life in the area are flourishing.</p>
    <p class="paragraphtext"><em><strong>Madikwe Nature Reserve Physical Location</strong></em><br />
      90km North of Zeerust</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Madikwe Nature Reserve</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/rustenburg">Accommodation in Rustenburg</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-24.272005,26.932983&amp;spn=1.752603,3.845215&amp;z=8&amp;iwloc=0004b8874605d51d62701&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-24.272005,26.932983&amp;spn=1.752603,3.845215&amp;z=8&amp;iwloc=0004b8874605d51d62701&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2"><li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/rustenburg">Rustenburg</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>