<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Mafikeng, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Central Region , North West</div>
<div class="contentmainheading">
	  <h1>Information about Mafikeng (Mmabatho), Central Region, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/mafikeng.jpg" title="Mafikeng" width="450" height="241" hspace="5" vspace="5">The Mafikeng Museum</div>
    <p class="paragraphtext"><span class="inparagraphheading"></span>Mafikeng &ndash; the calm, peaceful, yet endlessly vibrant capital city of the <a href="/index.php?p=north_west">North West province</a> of South Africa &ndash; is a superb tourist destination situated right next to Mmabatho, along South Africa&rsquo;s border with <a href="/index.php?p=botswana">Botswana</a>, 1 400km northeast of <a href="/index.php?p=cape_town">Cape Town</a>, and 260km west of <a href="/index.php?p=johannesburg">Johannesburg</a>. The city is rich in cultural, historical, and game viewing attractions and is possibly best known worldwide as the location of the famous Siege of Mafeking during the Anglo-Boer War (note the different spelling of the city&rsquo;s name). Initially called &lsquo;Mafeking&rsquo; by the British, the spelling of the city&rsquo;s name was corrected and changed to &lsquo;Mafikeng&rsquo; in 1977. It was, however, changed to &lsquo;Mahikeng&rsquo; in 2010 but the new name has yet to catch on among both the city&rsquo;s residents and its many delighted tourists from all parts of the globe.</p>
    <p class="paragraphtext"><span class="inparagraphheading"></span>The name Mafikeng (or Mahikeng), meaning &lsquo;the place among the rocks&rsquo;, was given to the vast open bushveld region in which Mafikeng now sits by the Barolong boo rra Tshidi chiefs of old (i.e. the Tswana tribe of the area). They initially settled on the banks of the beautiful Molopo River in close proximity to the current village of Rooigrond after an intense intertribal war. In 1885 the Warren Expedition was sent by the British to return stolen land and cattle to their rightful people &ndash; the Barolong. Two forts, Kanon Kopje and Warrens Fort, were built on either side of the Molopo River. These well-maintained forts, along with old artillery shells, can still be seen today. Commemorative plaques adorn these sites and an elevated area affords interested tourists a superb view of Mafikeng. The Kgotla, an old meeting place used by the Barolong boo rra Tshidi, is situated in nearby Motshiwa. There is a monument here commemorating the Barolong tribesmen who died during the Siege of Mafeking, as well as one that recognises Kgosi Besele Montshoia who was the leader of the Barolong regiment during the siege.</p>
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29" class="alinks" title="Accommodation in Mafikeng (Mmabatho)">Find Accommodation in Mafikeng (Mmabatho)</a></li>
      </ul>
    <p class="paragraphtext">The town of Mafeking was famously besieged during the Anglo-Boer War in 1899. Completely surrounded, a small British garrison led by Robert Baden-Powell held the Boer forces back for 217 days. A small display commemorating those who fell during the Siege of Mafeking was set up in the town hall in 1960. This lovely ornate building became the <a href="/index.php?p=mafikeng_museum">Mafikeng Museum</a> and its delightful displays grew over the years. The museum now contains extensive exhibits that commemorate the siege and the Anglo-Boer War and celebrate the captivating culture and fascinating history of the region.
      <div class="paragraphpictureright"><img src="../images/map-mafikeng.jpg" title="Location of Mafikeng (Mmabatho), North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Mafikeng (Mmabatho), North West, South Africa.</div>
    <p class="paragraphtext"><span class="inparagraphheading"></span>There are numerous lovely game viewing attractions in the area, notably the Mafikeng Game Reserve, the Manyane Game Lodge, and the Botsalano Game Reserve. The 4 600ha Mafikeng Game Reserve&rsquo;s wide open Kalahari grasslands are dotted with acacias and home to white rhino, buffalo, springbok, gemsbok, zebra, and giraffe. In fact, this park is one of South Africa&rsquo;s main white rhino breeding parks. The Manyane Game Lodge boasts fascinating lion and crocodile enclosures among many other attractions, and the Botsalano Game Reserve, situated just 30km west of Mafikeng, provides a wealth of game viewing and birding opportunities.</p>
    <p class="paragraphtext">Besides all of these captivating game viewing and historical attractions, other marvellous Mafikeng attractions include the bird sanctuary at Cooke&rsquo;s Lake, the Lotlamoreng Cultural Reserve and Montshiwua Dam, the Mmabatho Stadium, Modimola Dam, the Tusk Mmabatho Casino Resort, the Leopard Park Golf Club, the Mafikeng Golf Club, the provincial parliament and government building (also known as &lsquo;the Garona&rsquo;), and Wondergat &ndash; a spectacular underwater network of caves. The Madibi goldfields are situated roughly 15km south of Mafikeng.</p>
    <p class="paragraphtext">The hot summer months are cooled by the ever welcome afternoon thunderstorms, while the winters reach cool to very cold temperatures, especially in the mornings and evenings.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%2528mmabatho%2529" class="alinks" title="Accommodation in Mafikeng (Mmabatho)">Accommodation in Mafikeng (Mmabatho)</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=central_north_west" class="alinks">Central Region</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=lichtenburg" class="alinks">Lichtenburg</a></li>
   	  <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>