<head>
<link rel="stylesheet" href="template2.css">
<title>Mafikeng Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Mafikeng Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/mafikeng.jpg" title="Mafikeng Museum" width="450" height="241" hspace="5" vspace="5">Mafikeng Museum</div>
    
    <p class="paragraphtext">The Mafikeng Museum is situated on Martin Street in <a href="/index.php?p=mafikeng_mmabatho">Mafikeng</a> (now known as Mahikeng), <a href="/index.php?p=north_west">North West</a>, in the city&rsquo;s splendid old town hall. This elaborate old building, complete with lovely steel ceilings and the old town clock, was built in 1902 and once marked the centre point of the town. Now it proudly portrays the history of the city of Mafikeng and its beautiful surrounds. The Mafikeng Museum is a wonderful starting point for any visit to Mafikeng &ndash; a city rich in South Africa&rsquo;s riveting history. It boasts extensive Anglo-Boer War and ethnographic exhibits and so much more.</p>
    <p class="paragraphtext">The museum&rsquo;s main draw is its absolutely amazing Siege of Mafeking exhibits. The city of Mafikeng is possibly most recognised throughout the world as being the site of the famous Siege of Mafeking in 1899. During the Anglo-Boer War, the British commander Robert Baden-Powell and a small garrison of troops successfully defended the town of Mafeking (as it was known then) against the Boers for 217 days. Part of a steel boiler belonging to the train that was ambushed by the Boer leader General De La Rey&rsquo;s troops at Kraaipan is displayed at the museum. The large hole in this boiler is from the first artillery shot that was fired in the Anglo-Boer War. The museum also boasts numerous artefacts, photographs, and written documents pertaining to the Siege of Mafeking and the Anglo-Boer War, including an intriguing diary written by the late Sol Plaatje documenting events in Mafeking during the war. Sol Plaatje is a world-famous South African writer, journalist, linguist, intellectual, politician, and translator.</p>
    <p class="paragraphtext">The museum contains endlessly interesting objects that date all the way back to prehistoric times. A large emphasis is placed on the colourful Tswana culture of the area, including a Tswana hut that greets visitors as they enter the main hall. Opposite this lovely Tswana hut, and in stark contrast with it, stands &lsquo;the Nelson&rsquo;. This old ship&rsquo;s cannon, made in 1770 and weighing 436kg, was brought to Mafeking in 1883 and was used by the Tswana warriors to battle the Boers of the Goshen Republic and later by Baden-Powell&rsquo;s forces to defend Mafeking during the famous siege. A 90 ton steam locomotive stands majestically outside the museum. This old locomotive used to pull coaches between Mafeking and Bulawayo until 1971. These are just some of the wonders that await tourists visiting the Mafikeng Museum.</p>
    <p class="paragraphtext"><em><strong>Mafikeng Museum Physical Location</strong></em><br />
      Martin Street, between Robinson and Carrington Streets, <a href="/index.php?p=mafikeng_mmabatho">Mafikeng</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Mafikeng Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Accommodation in Mafikeng (Mmabatho)</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Accommodation in Lichtenburg</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-25.846402,25.647755&amp;spn=0.054071,0.120163&amp;z=13&amp;iwloc=0004b8873ca6b54762658&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-25.846402,25.647755&amp;spn=0.054071,0.120163&amp;z=13&amp;iwloc=0004b8873ca6b54762658&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/mafikeng_%28mmabatho%29">Mafikeng (Mmabatho)</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/lichtenburg" class="alinks">Lichtenburg</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>