<head>
<link rel="stylesheet" href="template2.css">
<title>Magoebaskloof & Haenertsburg Village Spring Festival</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Mopani , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Magoebaskloof & Haenertsburg Village Spring Festival</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<p class="paragraphtext">The quaint little village of <a href="/index.php?p=haenertsburg">Haenertsburg</a> and the picturesque Magoebaskloof Pass in the <a href="/index.php?p=limpopo">Limpopo province</a> of South Africa attract excited visitors and arty, eccentric locals alike to a truly splendid annual spring festival &ndash; the Magoebaskloof &amp; Haenertsburg Village Spring Festival.</p>
    <div class="paragraphpictureright"><img src="../images/bonsai.jpg" title="Bonsai will be on display at the Magoebaskloof &amp; Haenertsburg Village Spring Festival." width="400" height="376" hspace="5" vspace="5">Bonsai and orchids will be on display at the Spring Festival.</div>
	<p class="paragraphtext"><span class="inparagraphheading">23 September  - 2 October 2011</span> </p>
    <p class="paragraphtext">Nestled on the slopes of Wolkberg Mountain at the foot of the northern side of the Drakensberg mountain range, the tiny yet endlessly interesting village of <a href="/index.php?p=haenertsburg">Haenertsburg</a> is a unique South African attraction that is often missed by hurried travellers en route to many of South Africa's more well-known attractions. It is situated on the great escarpment in Limpopo on Route 71 between <a href="/index.php?p=polokwane_pietersburg">Polokwane</a> and <a href="/index.php?p=tzaneen">Tzaneen</a>, a mere three and a half hour drive from <a href="/index.php?p=gauteng">Gauteng</a> and an hour and half from the world-renowned <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>. The lovely town and the magnificent Magoebaskloof Pass, one of the steepest mountain passes in the land leading from Haenertsburg all the way to the Kruger National Park, is an ideal base from which to explore the magical wonderland that is the northern part of Limpopo.</p>
	<p class="paragraphtext">And what better time to experience Magoebaskloof and Haenertsburg than in the stunning South African springtime when the sun is shining and spirits are high?</p>
	<p class="paragraphtext">The vibrant Magoebaskloof &amp; Haenertsburg Village Spring Festival, hosted by the Magoebaskloof Hotel and the Haenertsburg Village Hall, takes place every year at the end of September/early October. Surrounded by the scenic Limpopo landscape, revellers can expect to be treated to a most varied festival experience &ndash; fun in the sun for the whole family infused with fresh mountain air, local arts and crafts, craggy kloofs, gorgeous gardens, rolling mists, sweeping grasslands, lush Afromontane forests, scrumptious home cooking, games and entertainment, and much, much more.</p>
	<p class="paragraphtext">Just some of the highlights include:</p>
    <ul>
    <li>Fabulous arts and crafts, including work from local potters, delightful decorations, boutique-style clothing, handmade furniture, tin art, wooden toys, beautiful beadwork, and stunning stained glass lampshades. Craft demos and workshops are held throughout the fantastic springtime festivities.</li>
    <li>Delicious culinary delights to tantalise the taste buds, including organic cheeses, pickles, jams, marmalades, puddings, vetkoek, koeksisters, nuts, fruit, biscuits, and biltong. Cooking demonstrations are held at which the talented chefs share their secrets.</li>
    <li>A magnificent indigenous and exotic orchid and bonsai tree display.</li>
    <li>Clay pigeon shooting, fishing tackle shops, micro-brewers showing off their best brews to be enjoyed with br&auml;twurst, olives, and mustards, and an exciting 4X4 display and challenging 4X4 course.</li>
    <li>Not to be missed: The azaleas, Japanese flowering cherries, and crab apples bursting into bloom are a spectacular sight to see indeed.</li>
    </ul>
	<p class="paragraphtext">For more information, contact   Linda Miller on 015 276-1531.</p>
    <p class="paragraphtext">Celebrate springtime at the Magoebaskloof &amp; Haenertsburg Village Spring Festival. Find fantastic AA Quality Assured Accommodation in the area:</p>
	
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani/haenertsburg" class="alinks" title="Find Accommodation in Haenertsburg">Find accommodation in Haenertsburg</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/mopani/magoebaskloof" class="alinks" title="Find Accommodation in Magoebaskloof">Find accommodation in nearby Magoebaskloof</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<div align="center">
  <!-- START right menus -->
  
</div>
<div class="contentrightheading ">Accommodation Specials:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/specials/cape_town_western_cape/" class="alinks">Cape Town</a></li>
        <li><a href="http://booktravel.travel/specials/kwazulu-natal_south_africa/" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="http://booktravel.travel/specials/knysna_western_cape/" class="alinks">Knysna</a></li>
        <li><a href="http://booktravel.travel/specials/gauteng_south_africa/" class="alinks">Gauteng</a></li>
        <li><a href="http://booktravel.travel/specials/mossel_bay_western_cape/" class="alinks">Mossel Bay</a></li>
        <li><a href="http://booktravel.travel/specials/franschhoek_western_cape/" class="alinks">Franschhoek</a></li>
        <li><a href="http://booktravel.travel/specials/south_africa/" class="alinks">View all specials...</a></li>
    </ul>

<div class="contentrightheading">Special Needs:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/accommodation/pet_friendly/southern_africa/south_africa/index.html" class="alinks">Pet Friendly</a></li>
        <li><a href="http://booktravel.travel/accommodation/disabled_friendly/southern_africa/south_africa/" class="alinks">Disabled Friendly</a></li>
    </ul>
    <div class="contentrightheading">AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=travel_books" class="alinks">About AA Travel Guides</a></li>
        <li><a href="/index.php?p=press" class="alinks">Press Releases</a></li>
        <li><a href="http://www.aatravelblog.co.za" class="alinks">CEO Blog</a></li>
        <li><a href="/index.php?p=quality_assured" class="alinks">Join AA Quality Assured Programme</a></li>
        <li><a href="/index.php?p=contact" class="alinks">Contact Us</a></li>
    </ul>
</div>
<!-- END right menus -->

</div>