<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Malalane, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Wild Frontier , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Malalane, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/malalane.jpg" title="Malalane" width="400" height="311" hspace="5" vspace="5">The Kruger Park's Malelane Gate near the town of Malalane</div>
<p class="paragraphtext">Malalane is a fascinating little farming town in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>. Situated along the pretty banks of the Crocodile River, on the N4 highway, and right next door to the internationally renowned <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>, its location as a tourism destination couldn't be more perfect. The town was founded as a stop-over point between <a href="/index.php?p=pretoria">Pretoria</a>, <a href="/index.php?p=gauteng">Gauteng</a> and Maputo in <a href="/index.php?p=mozambique">Mozambique</a> (then called Baia de Louren&ccedil;o Marques and subsequently Delagoa Bay).</p>
    <p class="paragraphtext"> Surrounded on three sides by majestic mountains, the Onderberg region in which Malalane is situated is the centre of the Mpumalanga province's sugar cane industry. Rolling expanses of sugar cane plantations grace the land, as well as tropical fruit and game farms and wild untouched African bushveld. Malalane itself is one of the friendliest, most laid-back towns in the land &ndash; perfect for absolute relaxation in communion with nature. Some say that the original root of the name 'Malalane' comes from the Swazi term 'lala' which means 'to sleep'.</p>
  <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/malalane" class="alinks" title="Accommodation in Marloth Park">Find Accommodation in Malalane</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-malalane.jpg" title="Location of Malalane, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Malalane, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">The Malalane gate, located on the southern end of the Kruger National Park, is one of the park's main gates, drawing excited tourists to the town in their droves. Happily, Malalane caters to all of its visitors with aplomb. Numerous fantastic lodges, B&amp;Bs, and guest houses are found in the area and the town is the perfect restocking, refuelling, and relaxing spot before entering the endlessly spectacular Kruger National Park.</p>
    <p class="paragraphtext">In July 2007 the town was officially changed from 'Malelane' to 'Malalane'.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/malalane" class="alinks" title="Accommodation in Malalane">Accommodation in Malalane</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=wild_frontier" class="alinks">Wild Frontier</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/wild_frontier/komatipoort" class="alinks">Komatipoort</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=marloth_park">Marloth Park</a></li>
        <li><a href="/index.php?p=barberton" class="alinks">Barberton</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>