<head>
<link rel="stylesheet" href="template2.css">
<title>Margate Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Margate Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/margate_airport.jpg" title="Margate Airport" width="450" height="252" hspace="5" vspace="5">Margate Airport</div>
    
    <p class="paragraphtext">Margate Airport, an airport in marvellous <a href="/index.php?p=margate">Margate</a> on the <a href="/index.php?p=south_coast">South Coast</a> of <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a>, South Africa, is perfectly situated to serve Margate and many other lovely coastal resort towns in the region.</p>
    <p class="paragraphtext">The spectacular South Coast is a well-loved and extremely popular holiday destination among South Africans and international tourists alike and Margate Airport provides a convenient alternative to the much busier <a href="/index.php?p=king_shaka_airport">King Shaka International Airport</a>, allowing visitors to bypass potential crowded flights, flight delays, long security lines, and baggage issues. The airport also handles charter flights and scenic air tours.</p>
    <p class="paragraphtext">Exciting attractions and splendid towns in the area include Oribi Gorge, <a href="/index.php?p=beaver_creek_coffee">the Beaver Creek Coffee Farm</a>, Ramsgate, Uvongo, St Michaels on Sea, Southbroom, Shelly Beach, and San Lameer.</p>
    <p class="paragraphtext"><em><strong>Margate Airport Physical Address</strong></em><br /> 
    David Street, inland Margate</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Margate Airport</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/south_coast/margate">Accommodation in Margate</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">Points of Interest in KwaZulu-Natal</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-30.853016,30.352478&amp;spn=0.02579,0.060081&amp;z=14&amp;iwloc=0004acbbce01e052fd009&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-30.853016,30.352478&amp;spn=0.02579,0.060081&amp;z=14&amp;iwloc=0004acbbce01e052fd009&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/south_coast/margate">Margate</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>