<head>
<link rel="stylesheet" href="template2.css">
<title>Information on Margate, KwaZulu-Natal - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KZN South Coast , Kwa-Zulu Natal</div>
	<div class="contentmainheading">
	  <h1>Information about Margate, Kwa-Zulu Natal South Coast</h1>
	</div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	
    <div class="paragraphpictureright"><img src="../images/margate_palms.jpg" title="Margate blue flag beach on the Kwa-Zulu Natal South Coast" width="320" height="256" hspace="5" vspace="5">Margate blue flag beach on the Kwa-Zulu Natal South Coast.</div>
    
    <p class="paragraphtext"><span class="inparagraphheading">Geography:</span> Margate is a popular sea side holiday resort town, found 120km south of <a href="/index.php?p=durban" class="alinks"> Durban</a>. Famous for its blue flag beaches and all year round warm weather, Margate is found on the KZN <a href="/index.php?p=south_coast">South Coast</a>, which runs all the way from Scottburgh in the north to Port Edward in the South.</p>

    <p class="paragraphtext"><span class="inparagraphheading">Holiday Destination:</span> The holiday resort town of Margate lies on the Hibiscus Coast of South Africa's KwaZulu-Natal about 120km from <a href="/index.php?p=durban">Durban</a>, and is very popular with holidaymakers, particularly those from <a href="/index.php?p=gauteng">Gauteng</a>.
This holiday destination even rivals Durban in the popularity stakes, and it has excellent facilities, a great climate, the warm waters of the Indian Ocean and numerous attractions, both natural and man-made.</p>
    <p class="paragraphtext">The <a href="/index.php?p=margate_beach">Margate Beachfront</a> is the main drawcard for visitors. Nearby towns that also boast attractive beaches include Ramsgate, Scottburgh, Trafalgar, Port Shepstone, Shelly beach and St Micheal's-on-Sea</p>
  <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/margate/index.html" class="alinks" title="Accommodation in Margate">Find Accommodation in Margate</a></li>
    </ul>
<div class="paragraphpictureright"><img src="../images/map-margate.jpg" title="Map location of Maragate, Kwa-Zulu Natal, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Margate, KZN South Coast, Kwa-Zulu Natal, South Africa.</div>
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Margate has a<a href="/index.php?p=poi_kzn_margate_beach"> wonderful stretch of beach</a> that is popular with sun worshippers, surfers and swimmers and offers you wonderful views of the Indian Ocean. In season, the town is a buzz of activity, and the beachfront promenade offers restaurants, cinemas, an amusement park, a skating rink, and nightclubs.
The annual Margate Air Show is a great attraction and many tourists come to the town to see the impressive aerobatic displays.
If you are interested in art, the Margate Municipal Art Museum in the Civic Centre has a permanent collection of contemporary South African art and also hosts temporary exhibitions.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Weather:</span> The year-round warm and temperate climate of this part of the Hibiscus Coast means that water sports are always popular with both the locals and visitors, and if you are a golf enthusiast, the Margate Golf and Country Club has one of the top 100 courses in South Africa.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading kzn">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/margate/index.html" class="alinks" title="Accommodation in Margate">Accommodation in Margate</a></li>
    	<li><a href="/specials/margate_kwazulu-natal/" class="alinks">Specials in Margate</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=kwazulu_natal" class="alinks">Kwa-Zulu Natal</a></li>
        <li><a href="/index.php?p=south_coast" class="alinks">South Coast</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-kzn.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading kzn">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/port_shepstone/index.html" class="alinks">Port Shepstone</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/uvongo/index.html" class="alinks">Uvongo</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/shelly_beach/index.html" class="alinks">Shelly Beach</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/oribi_gorge/index.html" class="alinks">Oribi Gorge</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/port_edward/index.html" class="alinks">Port Edward</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ramsgate/index.html" class="alinks">Ramsgate</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>