<head>
<link rel="stylesheet" href="template2.css">
<title>Melrose Arch</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Melrose Arch</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_gauteng_melrose_arch.jpg" title="Melrose Arch" width="350" height="228" hspace="5" vspace="5">Melrose Arch</div>
    
    <p class="paragraphtext"><a href="http://www.melrosearch.co.za/" target="_blank">Melrose Arch</a> is a major entertainment and shopping complex located just off the M1 between Corlett Drive and Athol Oaklands Road. It offers 2 hotels, a variety of restaurants and shops, banks, ATM machines for all the major banks, a gym and there are numerous office complexes and residential apartment buildings in the centre.</p>
    <p class="paragraphtext">The area of Melrose Arch covers at least 20 suburban blocks and hence there are streets and it resembles a precinct.</p>
    <p class="paragraphtext">Some of the major brand name restaurants at Melrose Arch include Moyo, the Meat Company and JB Rivers. Major shopping brands include Woolworths, Exclusive Books, Edgars and Clicks. Nedbank and FNB have branches within Melrose Arch.</p>
    <p class="paragraphtext"><em><strong>Melrose Arch Physical Address</strong></em><br />
West of the M1, between Corlett Drive and Athol Oaklands Road</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Melrose Arch</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Accommodation in Johannesburg Northern Suburbs</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.126852,28.072557&amp;spn=0.026971,0.060081&amp;z=14&amp;iwloc=0004a47c417b432d536d3&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.126852,28.072557&amp;spn=0.026971,0.060081&amp;z=14&amp;iwloc=0004a47c417b432d536d3&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Johannesburg Northern Suburbs</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>