<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Melville, Johannesburg, Gauteng - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Greater Johannesburg , Gauteng</div>
	<div class="contentmainheading"><h1>Information about Melville, Johannesburg</h1></div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<p class="paragraphtext"><span class="inparagraphheading">Geography:</span> The trendy Johannesburg suburbs of 
            Auckland Park and Melville are situated just west of the <a href="/index.php?p=johannesburg" class="alinks" title="Information about Johannesburg South Africa">Johannesburg</a> CBD, and can be 
found on either side of Empire Road, where it becomes Kingsway.</p>
<div class="paragraphpictureright"><img src="../images/melville3.jpg" title="view from the top of Melville Koppie" width="450" height="302" hspace="5" vspace="5">A view from the top of Melville Koppie<br>
      Photo courtesy Friends of Melville Koppies (Maria Cabaco)</div>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> Melville, once a plain working-class 
      suburb, grew around the South African Broadcasting Corporation (SABC) in nearby Auckland Park, when the company moved here from the city. Similarly, Auckland Park was - and still is - the residential area for many staff members of the SABC, as well as academics that teach at the nearby University of Johannesburg, 
and the University of the Witwatersrand. Today, many high-earning young 
professionals are making these suburbs their home, and in the process imparting 
a vibey and young atmosphere to the area.</font></p>
      <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture: </span> Auckland Park and Melville have 
            attracted an artsy, media-orientated crowd, and the suburbs are well known as 
            the home of many of South Africa's finest artists, musicians and journalists. 
            There are numerous highlights to please arts and culture lovers including the 
            magnificent new theatre at the University of Johannesburg that holds various 
            exciting events from classical music concerts to musical theatre. There are a 
            number of art galleries located in Melville, where some of the local art work 
            can be purchased. Many artists frequently exhibit their works at the Melville 
        art galleries</font>.</p>
      <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/johannesburg/auckland_park" class="alinks" title="Accommodation in Auckland Park and Melville">Find Accommodation in Auckland Park</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/johannesburg/melville" class="alinks" title="Accommodation in Auckland Park and Melville">Find Accommodation in Melville</a></li>
      </ul>
<div class="paragraphpictureright"><img src="../images/map-melville.jpg" title="Location of Melville in Johannesburg, Gauteng, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Melville, in the west of Johannesburg, Gauteng, South Africa.</div>
      <p class="paragraphtext"> <span class="inparagraphheading">Science and Nature:</span> The Melville Koppies Nature 
            Reserve is a wonderful area to explore and step back in time into Johannesburg's 
            history, with its varied flora and fauna and Iron-Age relics. The nature reserve 
            has a great variety of bird species, and a range of small mammals have also made 
            it their home. Some of these animals include mongooses, genets and civets. Go 
            for a walk in the koppies and enjoy a part of Johannesburg you never thought 
        existed.</font></p>
      <p class="paragraphtext">There are guided walks through the Koppies, which is officially listed as a Heritage Site. You can enjoy bird tours and walking your dogs (only on leads) - call +27 11 482 4797 for more information and rules pertaining to the heritage site.<a href="http://www.mk.org.za/" class="alinks" target="_blank" rel="nofollow" ></a></p>
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Melville's 7th Street is well 
            known for its nightspots and pubs. The five-block strip offers a lively mix of 
            restaurants, watering holes and coffee bars ranging from student hang-outs to 
        trendy cocktail bars and nightclubs.</font></p>        
      <p class="paragraphtext"><span class="inparagraphheading">Did you know?</span> Forty percent of the world's human 
            ancestor fossils have been found in Johannesburg's adjoining areas.</p>
	</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading gp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/auckland_parkmelville.html" class="alinks" title="Accommodation in Auckland Park and Melville">Accommodation in Melville</a></li>
    	<li><a href="/index.php?p=melville_johannesburg_theme" class="alinks">More info about Melville</a></li>
        <li><a href="/specials/auckland_park_johannesburg/" class="alinks">Specials in Melville</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=gauteng" class="alinks">Gauteng Province</a></li>
        <li><a href="/index.php?p=greater_johannesburg" class="alinks">Greater Johannesburg</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-gp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading gp">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=johannesburg" class="alinks">Johannesburg</a></li>
    	<li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/north_riding.html" class="alinks">North Riding</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/randburg.html" class="alinks">Randburg</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/rosebank.html" class="alinks">Rosebank</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/soweto.html" class="alinks">Soweto</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>