<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Midlands, KwaZulu-Natal - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">Midlands , KwaZulu-Natal</div>
	<div class="contentmainheading">
	  <h1>Information about the Midlands, KwaZulu-Natal</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/midlands.jpg" title="The Midlands is a place of great natural beauty" width="450" height="249" hspace="5" vspace="5">The Midlands is a place of great natural beauty.</div>
    <p class="paragraphtext">This region is located in the southern central part of <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a> between <a href="/index.php?p=greater_durban" class="alinks" title="Information about Greater Durban South Africa">Greater Durban</a> and the <a href="/index.php?p=drakensberg_kzn" class="alinks" title="Information about uKhahlamba-Drakensberg South Africa">uKhahlamba-Drakensberg</a>.</p>
    <p class="paragraphtext">Rolling hills, waterfalls, farms, beautiful valleys and a special style of country living are some of the things that make the Midlands region famous.</p>
    <p class="paragraphtext">Pietermaritzburg, the main town, is famous for its quaint antique shops, markets, galleries and museums, and is also inextricably linked to the Comrades and Dusi Marathons.</p>
    <p class="paragraphtext">The &quot;City of Flowers&quot; also has much to offer the historian. It is one of the best-preserved Victorian cities in the world, and the British colonial style is an integral part of the culture of Pietermaritzburg.</p>
    <p class="paragraphtext">Visitors with a passion for museums will enjoy the Voortrekker Museum in Church Street, the <a href="/index.php?p=natal_museum">Natal Museum</a> in Loop Street, and a Victorian museum reflecting early British settler life housed in Macrorie House. Lovers of fine art will enjoy the Tatham Art Gallery.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-midlands.jpg" title="Location of the Midlands, KwaZulu-Natal, South Africa" width="450" height="325" hspace="5" vspace="5"></a>Location of the Midlands, KwaZulu-Natal, South Africa.</div>
    <p class="paragraphtext">The Midlands Meander, the first arts and craft route of its kind in the country, has grown to include over 160 venues.</p>
  <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/midands/" class="alinks" title="Accommodation in the Midlands">Accommodation in the Midlands</a></li>
      </ul>
      <p class="paragraphtext">There are countless hiking and cycling trails, and Midmar Dam is popular for fishing and boating. The Midlands forms part of the southern KwaZulu-Natal birding route and over 550 species have been identified.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading kzn">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/index.html" class="alinks" title="Accommodation in KwaZulu-Natal">Accommodation in KwaZulu-Natal</a></li>
    	<li><a href="/specials/kwazulu-natal_south_africa/" class="alinks">Specials in KwaZulu-Natal</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/index.php?p=midlands" class="alinks">Midlands</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-kzn.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading kzn">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/pietermaritzburg/index.html" class="alinks">Pietermaritzburg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/howick/index.html" class="alinks">Howick</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/hilton/index.html" class="alinks">Hilton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/nottingham_road/index.html" class="alinks">Nottingham Road</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/mooi_river/index.html" class="alinks">Mooi River</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ashburton/index.html" class="alinks">Ashburton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/balgowan/index.html" class="alinks">Balgowan</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/boston/index.html" class="alinks">Boston</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/dargle/index.html" class="alinks">Dargle</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ixopo/index.html" class="alinks">Ixopo</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/lions_river/index.html" class="alinks">Lion's River</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/wartburg/index.html" class="alinks">Wartburg</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>