<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Mossel Bay, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Garden Route , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about Mossel Bay, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/mossel_bay.jpg" title="Mossel Bay" width="450" height="361" hspace="5" vspace="5">Historic Mossel Bay with the Outeniqua Mountains in the background</div>
<p class="paragraphtext">This coastal village and harbour is situated along the N2 coastal highway on <a class="alinks" href="/index.php?p=garden_route">the Garden Route</a>, about 370km from both <a class="alinks" href="/index.php?p=cape_town">Cape Town</a> and <a class="alinks" href="/index.php?p=port_elizabeth">Port Elizabeth</a>. <a href="/index.php?p=george_airport">George Airport</a> is a mere 40km from Mossel Bay.</p>
<p class="paragraphtext">In 1488 Bartolomeu Dias threw anchor in the Bay of St Blaize and it was Vasco da Gama who named it &quot;Aguada de S&agrave;o Bras&quot; because it was a great source of fresh water. It was renamed Mossel Bay in 1601 by the Dutch navigator, Paulus van Caerden, as the mussels found here were much appreciated by his crew.</p>
<p class="paragraphtext">Visitors can take a virtual tour of the history of Mossel Bay at the Bartolomeu <a class="alinks" href="/index.php?p=dias_museum_complex">Dias Museum complex</a>, which houses an interesting padrao (stone cross), donated by the Portuguese government to commemorate Da Gama's landing.</p>
<p class="paragraphtext">Mossel Bay also boasts a <a class="alinks" href="/index.php?p=cape_st_blaize_cave">Khoi-San cave</a>, which contains artefacts dating back eighty-thousand years. Experience the local culture in the Khoi-style village which includes an open-air museum, a curio shop and traditional dancing. Enjoy a game drive at Botlierskop. The 24km of pristine, wind-protected beaches of Mossel Bay make surfing a popular activity. <a href="/index.php?p=golfing_garden_route">The Mossel Bay Golf Club</a> has excellent sea views and a memorable course. Deep-sea fishing and diving, and boat-based whale watching is available and for something a little more extreme, visitors can go shark cage diving or bungee jumping.</p>
<div class="paragraphpictureright"><img src="../images/map-mossel_bay.jpg" title="Location of Mossel Bay, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5">Location of Mossel Bay, Western Cape, South Africa.</div>
<p class="paragraphtext"><span class="inparagraphheading">Did you know?</span> Mossel Bay boasts the first 'post office' in South Africa, if not the entire African continent, <a class="alinks" href="/index.php?p=dias_museum_complex">The Post Office Tree</a>!</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/mossel_bay" class="alinks" title="Accommodation in Mossel Bay">Find Accommodation in Mossel Bay</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/mossel_bay" class="alinks" title="Accommodation in Mossel Bay">Accommodation in Mossel Bay</a></li>
    	<li><a href="/accommodation/specials/southern_africa/south_africa/western_cape/mossel_bay" class="alinks">Specials in Mossel Bay</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=garden_route" class="alinks">The Garden Route</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=knysna" class="alinks">Knysna</a></li>
   	  <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/george" class="alinks">George</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/plettenberg_bay" class="alinks">Plettenberg Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/wilderness" class="alinks">Wilderness</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/sedgefield" class="alinks">Sedgefield</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>