<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Musina (Messina), Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Vhembe , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Musina (Messina), Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/musina.jpg" title="Musina (Messina)" width="450" height="340" hspace="5" vspace="5">Musina (Messina), Limpopo is best know for its numerous Baobab Trees<br />
  &copy; South African Tourism</div>
<p class="paragraphtext">The marvellous little town of Musina is a lovely tourist destination situated in the northern part of <a href="/index.php?p=limpopo">Limpopo</a>, just 16km south of the <a href="/index.php?p=beitbridge">Beitbridge</a> border post which crosses the Limpopo River &ndash; the border of <a href="/index.php?p=south_africa">South Africa</a> and <a href="/index.php?p=zimbabwe">Zimbabwe</a>. The road that runs through this border post is one of the world&rsquo;s busiest road border posts and surely the busiest on the continent.</p>
    <p class="paragraphtext">Home to plenty of magnificent and majestic old baobabs quietly surveying the African savannah, the stunning landscape in which Musina resides is known as &lsquo;the land of the baobab&rsquo;. Besides these beautiful baobabs, the dry Musina bushveld is dominated by shrubbery, thorn trees, and wide open spaces. The immense Limpopo River, the second longest river in Africa, quenches the vast savannah and its inhabitant&rsquo;s eternal thirst. Despite the heat and dryness, this area of Limpopo is home to many fruitful plantations, with various citrus fruits, mangos, tomatoes, and dates providing eye-catching colour to the landscape.</p>
    <p class="paragraphtext"> The town was named after the Musina tribe who settled here after discovering copper in the area. The town&rsquo;s name, however, was mistakenly spelled &lsquo;Messina&rsquo; by the European settlers and prospectors who established the town in the 20th century. Messina was renamed &lsquo;Musina&rsquo; in 2003 to correct the spelling of the name. The town is still a large mining centre to this day, with diamonds, coal, iron ore, magnetite, asbestos, graphite, semi-precious stones, and, of course, copper being its main mining endeavours.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks" title="Accommodation in Musina (Messina)">Find Accommodation in Musina (Messina)</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-musina.jpg" title="Location of Musina (Messina), Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Musina (Messina), Limpopo, South Africa.</div>
    <p class="paragraphtext">Musina offers its visitors many thrilling outdoor attractions, including exhilarating game viewing and exciting 4x4 trails in its many game and nature reserves, and much, much more. Marvellous attractions in the Musina area include: A 38ha single bulai granite rock called Matakwe that is situated on the Musina Experimental Farm; the Musina Nature Reserve, home to more than 100 baobabs and one of the planet&rsquo;s oldest rocks &ndash; a 4 000 million year old granite rock; the Mapungubwe National Park, a world heritage site that is home to lion, elephant, giraffe, eland, hyena, zebra, and more; the Dingola Execution Rocks, the site at which errant tribesmen were executed by the Musina chiefs of the past; the fascinating Musina Museum &amp; Library; the terrific Tshipise Resort which boasts hot mineral pools surrounded by ancient baobabs; and the Zeederberg&rsquo;s Mail Coach, a lovely old train coach which used to travel between <a href="/index.php?p=pretoria">Pretoria</a> and <a href="/index.php?p=zimbabwe">Zimbabwe</a> but now sits elegantly in front of the Musina Civic Centre.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks" title="Accommodation in Thohoyandou">Accommodation in Musina</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=vhembe" class="alinks">Vhembe</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=thohoyandou" class="alinks">Thohoyandou</a></li>
      <li><a href="/index.php?p=kruger_park_limpopo">Kruger Park</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>