<head>
<link rel="stylesheet" href="template2.css">
<title>National Cultural History Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>National Cultural History Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
   
     <div class="paragraphpictureright"><img src="../images/poi_gauteng_cultural_history_museum.jpg" title="National Museum of Cultural History" width="450" height="320" hspace="5" vspace="5">National Museum of Cultural History in Pretoria<br />
    &copy; An&eacute; Gore</div>
    <p class="paragraphtext">The National Cultural History Museum is a fantastic museum situated on Visagie Street, between Bosman Street and Schubart Street, in <a href="/index.php?p=pretoria">Pretoria</a>, Gauteng. Still known to most as the National Cultural History Museum (or the African Window), the museum is now officially known as the <a href="http://www.ditsong.org.za/culturalhistory.htm" target="_blank">Ditsong National Museum of Cultural History</a>.</p>
    <p class="paragraphtext">On the 1st of April 1999, the National Cultural History Museum, the <a href="/index.php?p=transvaal_museum">Transvaal Museum</a>, and the South African National Museum for Military History were amalgamated to form the Northern Flagship Institution (NFI). The NFI became officially known as the Ditsong Museums of South Africa in April 2010 and the National Cultural History Museum itself was renamed the Ditsong National Museum of Cultural History.</p>
    <p class="paragraphtext">Located in the Old Mint building (also the former site of a prison), the museum houses thousands of truly fascinating objects such as documents, manuscripts, photographs, records, and publications on all areas of cultural history in South Africa. Possibly the most dynamic museum in Pretoria, its exhibitions are constantly updated and new exhibitions are introduced frequently, keeping the cultural history of our land fresh and exciting. These new and updated exhibitions paired with the absolutely amazing permanent exhibitions (including 'reach for the stars', an exploration of space through the millennia, and 'the rainbow collection', a superb rock art exhibition) make any visit to the museum a truly exhilarating educational and cultural experience.</p>
    <p class="paragraphtext">The museum's main focus is on South Africa's diverse cultures and their fascinating history, the highlights being the Stone Age and Iron Age exhibits, the San rock paintings, the stunning Cape Dutch furniture, and the art gallery. Its aim being to promote living culture through dance, song, drama, and the visual arts, the museum upholds a rather creative approach to its proceedings. The museum is a celebration of our wonderful Rainbow Nation and of all South Africans' heritage.</p>
    <p class="paragraphtext"><em><strong>National Cultural History Museum Physical Address</strong></em><br />
      149 Visagie Street, <a href="/index.php?p=pretoria">Pretoria</a></p>
    <p class="paragraphtext">Tel: 012 324 6082</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the National Cultural History Museum</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Accommodation in Pretoria</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;ll=-25.750966,28.186197&amp;spn=0.006764,0.01502&amp;z=16&amp;iwloc=0004a6ff9cb445de427c4&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;ll=-25.750966,28.186197&amp;spn=0.006764,0.01502&amp;z=16&amp;iwloc=0004a6ff9cb445de427c4&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Pretoria</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>