<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Nelspruit (Mbombela), Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Lowveld Legogote , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Nelspruit (Mbombela), Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/nelspruit_stadium.jpg" title="Nelspruit" width="450" height="292" hspace="5" vspace="5">Welcome to Nelspruit, Mpumalanga, home of the Mbombela Stadium<br />
  &copy; Google 3D models</div>
<p class="paragraphtext">Nelspruit, the largest city in <a href="/index.php?p=mpumalanga">Mpumalanga</a> and the province's capital, is situated in the verdant Crocodile River valley. This lovely city is the main stop on the N4 highway, lying approximately 330km east of <a href="/index.php?p=johannesburg">Johannesburg</a>, roughly 100km west of the <a href="/index.php?p=mozambique">Mozambique</a> border, and en route to <a href="/index.php?p=swaziland">Swaziland</a>. </p>
<p class="paragraphtext">Its superb subtropical climate and the exquisite beauty of the surrounding hills, valleys, and rivers, all embraced by year-round South African sunshine, make it the ideal base from which to explore the Mpumalanga province and its many nature reserves and game parks. Nelspruit is actually known as the 'Gateway to Mpumalanga and the <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>'. The <a href="/index.php?p=kruger_airport">Kruger Mpumalanga International Airport</a>, the nearest airport to the world-famous and absolutely beautiful Kruger National Park, is situated just outside of Nelspruit.</p>
<p class="paragraphtext"> Meaning 'Nel's stream' in Afrikaans, 'Nelspruit' was founded by three brothers named Nel in 1905 around the spot at which they used to graze their cattle in the wintertime. A station was constructed on the Nel brothers' land and a thriving town grew rapidly after that. Today, Nelspruit is a major agricultural, commercial, and manufacturing hub for the northeastern part of the country. The stunning Nelspruit surrounds are graced by many colourful citrus and tropical fruit farms, game and nature reserves, and numerous sites containing San rock art.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit_%2528mbombela%2529" class="alinks" title="Accommodation in Barberton">Find Accommodation in Nelspruit (Mbombela)</a></li>
      </ul>
      
      <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-nelspruit.jpg" title="Location of Nelspruit, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Nelspruit (Mbombela), Mpumalanga, South Africa.</div>
    <p class="paragraphtext"> One of Nelspruit's highlights and absolute must see attractions, the <a href="/index.php?p=lowveld_botanical_gardens">Lowveld National Botanical Garden</a> is located at the meeting point of the Crocodile and Nels rivers. These spectacular gardens contain a wonderful wealth of plant life from the surrounding areas and further afield, one of the most comprehensive collections of cycads in the world, and an amazing man-made rainforest.</p>

    <p class="paragraphtext">Other nearby Nelspruit attractions include hiking or horse riding through <a href="#">Kaapsehoop</a>, a marvellous old mining town surrounded by montane grasslands and lush forests, the Croc River Enviro Park with its captivating crocodile, snake, lizard, and turtle displays, the endlessly fascinating <a href="/index.php?p=sudwala_caves">Sudwala caves</a>  and the gorgeous Nelspruit Nature Reserve, home to plenty of exhilarating hiking trails, eye-catching indigenous flora, beautiful bird life, and lovely small game.</p>
    <p class="paragraphtext">In October 2009, Nelspruit was officially renamed 'Mbombela' but this name has yet to achieve widespread usage.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/nelspruit_%2528mbombela%2529" class="alinks" title="Accommodation in Ermelo">Accommodation in Nelspruit</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=lowveld_legogote" class="alinks">Lowveld Legogote</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/white_river" class="alinks">White River</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass/accommodation/accommodation/southern_africa/south_africa/mpumalanga/lowveld_legogote/kaapschehoop" class="alinks">Kaapschehoop</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>