<head>
<link rel="stylesheet" href="template2.css">
<title>Noetzie Beach</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Noetzie Beach</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_western_cape_noetzie_beach.jpg" title="Noetzie Beach" width="450" height="301" hspace="5" vspace="5">Beautiful and secluded, Noetzie Beach is only a short drive from Knysna
    </div>
    
    <p class="paragraphtext">Nestled along the lovely coastline between <a href="/index.php?p=knysna">Knysna</a> and Plettenberg Bay in the <a href="/index.php?p=western_cape">Western Cape</a> <a href="/index.php?p=garden_route">Garden Route</a>, Noetzie Beach is a secluded, unspoilt beach in a small, immaculate cove that borders the Sinclair Nature Reserve. It is a perfect spot for picnicking and lazing in the superb South African sun.</p>
    <p class="paragraphtext">Situated just east of the town of Knysna, at the end of a short dirt road, Noetzie Beach is one of the last remaining haunts of the very rare and very beautiful African Black Oystercatcher and it is therefore a well-protected and well-loved conservancy.</p>
    <p class="paragraphtext">Another aspect that makes Noetzie Beach quite unique is the numerous remarkable modern-turreted castles that surround the stunning beach, such as the Montrose Castle that dates back to the 1930s.</p>
    <p class="paragraphtext"><em><strong>Noetzie Beach Physical Address</strong></em><br /> 
    Southern end of Noetzie Road, East of Knysna</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Noetzie Beach</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Accommodation in Knysna</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.064321,23.109226&amp;spn=0.049772,0.120163&amp;z=13&amp;iwloc=0004a9954dc43631d3d9e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-34.064321,23.109226&amp;spn=0.049772,0.120163&amp;z=13&amp;iwloc=0004a9954dc43631d3d9e&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/knysna">Knysna</a></span></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>