<head>
<link rel="stylesheet" href="template2.css">
<title>Noon Gun</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Noon Gun</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/noon_gun.jpg" title="Noon Gun" width="450" height="325" hspace="5" vspace="5">The Noon Gun atop Signal Hill rings out over Cape Town</div>
    
    <p class="paragraphtext">Cape Town's famous Noon Gun, situated atop <a href="/index.php?p=signal_hill">Signal Hill</a> (right next to <a href="/index.php?p=table_mountain">Table Mountain</a> and Lion's Head), provides quite a surprise for first-time visitors to the Mother City and a well-loved tradition for locals.</p>
    <p class="paragraphtext">The cannon fires 1.5kg of gunpowder every day of the year at noon (except on Sundays and public holidays). The immense blast can be quite startling if you're not expecting it but it has become a pleasant and anticipated part of every Capetonian's daily routine.</p>
    <p class="paragraphtext">There are actually two cannons on Signal Hill &ndash; the main gun and a backup gun. The two cannons were originally brought to <a href="/index.php?p=cape_town">Cape Town</a> by the British in 1795 and are thought to have been used in the famous Battle of Muizenberg. Commencing in 1806, they served as a time signal for ships that were anchored in the harbour and to announce the arrival of a ship in the harbour (before more modern methods were discovered). They were first housed in the Castle of Good Hope before ox-wagons had the mighty task of transporting them to their current position on Signal Hill in 1902.</p>
    <p class="paragraphtext">Since 1806, the Noon Gun has fired its familiar blast more than 64 000 times (and counting). The only time that the Noon Gun has failed to fire its scheduled shot in over 200 years was on the 7th of January 2005 when both cannons experienced technical difficulty.</p>
    <p class="paragraphtext">Tourists can watch the Noon Gun fire its daily shot from a demarcated safe distance.</p>
    <p class="paragraphtext"><em><strong>Noon Gun Physical Address</strong></em><br /> 
      Top end of Military Road, Schotsche Kloof, Cape Town</p>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation near the Noon Gun</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Accommodation in Cape Town City</a><Br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Accommodation in Atlantic Seaboard</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.909887,18.414373&amp;spn=0.024931,0.060081&amp;z=14&amp;iwloc=0004ad4792645c39eaf9e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-33.909887,18.414373&amp;spn=0.024931,0.060081&amp;z=14&amp;iwloc=0004ad4792645c39eaf9e&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/city">Cape Town City</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greater_cape_town/atlantic_seaboard">Atlantic Seaboard</a></span></a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>