<head>
<link rel="stylesheet" href="template2.css">
<title>Information about North Coast, KwaZulu-Natal - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">North Coast , KwaZulu-Natal</div>
	<div class="contentmainheading">
	  <h1>Information about the North Coast, KwaZulu-Natal</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/north_coast.jpg" title="The North Coast is the playground of the bottlenose dolphin and other sealife" width="450" height="248" hspace="5" vspace="5">The North Coast is the playground of the bottlenose dolphin and other sealife.</div>
    <p class="paragraphtext">Also known as the Dolphin Coast, this coastal region stretches north of Umdloti to the Tugela River. The area boasts lush subtropical vegetation, beautiful beaches and resorts, and activities to be enjoyed in the warm Indian Ocean include boating, angling, surfing and diving.</p>
    <p class="paragraphtext">The popular beaches along the coast are quite safe for swimming and are protected by shark nets. This part of the North Coast is also the playground of the bottlenose dolphin that can be seen close to shore all year round. Other sea life along these shores include whales.</p>
    <p class="paragraphtext">The towns along the North Coast are popular for holiday-makers who are attracted to their friendly village atmosphere, beautiful beaches, rocky coves and shallow paddling pools.</p>
    <p class="paragraphtext"><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ballito/index.html" class="alinks" title="Accommodation in Ballito South Africa">Ballito</a> is the heart of the Dolphin Coast, with its golden beaches being its main attraction for visitors.</p>
    <p class="paragraphtext">The North Coast also boasts some scenic and challenging golf courses along the coast.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-north_coast.jpg" title="Location of the North Coast, KwaZulu-Natal, South Africa" width="450" height="325" hspace="5" vspace="5"></a>Location of the North Coast, KwaZulu-Natal, South Africa.</div>
    <p class="paragraphtext">Of interest to visitors in the area are Shakaland and the Harold Johnson Nature Reserve, just north of Ballito. At Shakaland one can enjoy a traditional meal and tribal dancing, and at the Harold Johnson Nature Reserve visitors will see zebra, antelope, small wildlife and a variety of bird life. This popular attraction on the North Coast has picnic sites, walks, a cultural museum and historical sites such as Fort Pearson and Ultimatum Tree.</p>
  <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/north_coast/" class="alinks" title="Accommodation in the North Coast">Accommodation in the North Coast</a></li>
      </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading kzn">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/index.html" class="alinks" title="Accommodation in KwaZulu-Natal">Accommodation in KwaZulu-Natal</a></li>
    	<li><a href="/specials/kwazulu-natal_south_africa/" class="alinks">Specials in KwaZulu-Natal</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=kwazulu_natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/index.php?p=north_coast" class="alinks">North Coast</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-kzn.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading kzn">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/ballito/index.html" class="alinks">Ballito</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/blythedale_beach/index.html" class="alinks">Blythedale Beach</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/salt_rock/index.html" class="alinks">Salt Rock</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/shakas_rock/index.html" class="alinks">Shaka's Rock</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/stanger/index.html" class="alinks">Stanger</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/umhlali/index.html" class="alinks">Umhlali</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/zimbali/index.html" class="alinks">Zimbali</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>