<head>
<link rel="stylesheet" href="template2.css">
<title>Norwood Mall</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Norwood Mall</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_gauteng_norwood_mall.jpg" title="Norwood Mall" width="450" height="245" hspace="5" vspace="5">Norwood Mall</div>
    
    <p class="paragraphtext"><a href="http://www.norwoodmall.co.za/" target="_blank">Norwood Mall</a> is nicknamed &quot;The Hypermarket&quot; after the major Pick 'n Pay Hypermarket in the centre. The original Hypermarket was the second that opened in South Africa in the 1960s.</p>
    <p class="paragraphtext">Since the centre was renovated in 2007-2008 it is a more varied centre with a variety of stores including Woolworths, CNA, Dischem, Vets Pantry. There are cell phone shops for all the big cell phone networks in SA.</p>
    <p class="paragraphtext">If you wanto to be close to the Norwood Mall you should stay in the neighbouring suburbs of Highlands North, Gardens, Savoy, Norwood or Waverley.</p>
    <p class="paragraphtext"><em><strong>Norwood Mall Physical Address</strong></em><br />
Cnr African Street & Sarie Marais Road, Norwood<Br />
or Corner Hamlin & 6th Avenue, Norwood</p>
<p class="paragraphtext">Tel: 011 728 6640</p>
<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Norwood Mall</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Accommodation in Johannesburg Northern Suburbs</a><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/north_eastern_suburbs">Accommodation in Johannesburg North Eastern Suburbs</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.137101,28.076849&amp;spn=0.026969,0.060081&amp;z=14&amp;iwloc=0004a493c59db69d4cb4c&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.137101,28.076849&amp;spn=0.026969,0.060081&amp;z=14&amp;iwloc=0004a493c59db69d4cb4c&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Johannesburg Northern Suburbs</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/north_eastern_suburbs">North Eastern Suburbs</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>