<head>
<link rel="stylesheet" href="template2.css">
<title>The Otter Trail</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ec">Eastern Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>The Otter Trail</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/otter_trail_tsitsikamma.jpg" title="The Otter Trail" width="450" height="296" hspace="5" vspace="5">The Otter Trail<br />
&copy; South African Tourism</div>
    
    <p class="paragraphtext">Five days and four nights of pure hiking bliss, the wonderful, world-renowned Otter Trail takes avid hikers and nature lovers on an unforgettable journey through the beautiful forested <a class="alinks" href="/index.php?p=garden_route">Garden Route</a> coastline.</p>
    <p class="paragraphtext">Stretching 42.5km over rugged and rocky terrain, along sandy and pebbled beaches, through indigenous forests, and across tranquil (and not so tranquil) rivers and streams, it is without a doubt South Africa's favourite and most famous hiking trail. In fact, this marvellous hiking adventure is right up there with the most popular hikes on the planet. As such, it attracts intrepid adventurers from all over the world.<br />
    </p>
    <p class="paragraphtext">Starting at the <a class="alinks" href="/index.php?p=stormsriver_suspension_bridge">Storms River mouth</a> in the <a class="alinks" href="/index.php?p=eastern_cape">Eastern Cape Province</a> and ending at <a class="alinks" href="/index.php?p=natures_valley_beach">Nature's Valley Beach</a> in the <a class="alinks" href="/index.php?p=tsitsikamma_national_park">Tsitsikamma National Park</a> in the far eastern side of the <a class="alinks" href="/index.php?p=western_cape">Western Cape Province</a> (close to Plettenberg Bay), the trail follows the rugged coastline, down to sea level to cross rivers and streams and rising to heights of 150m above sea level over the craggy Tsitsikamma cliffs. The vast Indian Ocean on one side and the stunning Tsitsikamma rainforest and Tsitsikamma Mountains on the other make for some absolutely extraordinary sights indeed.</p>
    <p class="paragraphtext">Overnight huts equipped with bunk beds, cooking facilities, and toilets are provided and the trail is well signposted, with blue otter signs along the trail and painted otter spoor higher up on the craggy outcrops. The daily hikes are not too long, with the exception of day 4's 14km hike, so hikers are encouraged to take their time to soak up all the spectacular sights, sounds, and scents of this untamed paradise. Highlights include whale and dolphin watching, snorkelling in the unspoiled rock pools, the idyllic white sandy beaches, magnificent rock formations, wondrous waterfalls, and the phenomenal amount of fascinating bird life and plant life on view.</p>
    <p class="paragraphtext">Although the trail is only 42.5km long, many of the routes can be quite strenuous. A good level of physical fitness is therefore required, especially as hikers will be carrying all their equipment on their backs for the full duration of the trail. Hikers are also advised to carry their electronic equipment in sealable waterproof bags as they might have to swim at some stage in their incredible journey (encountering the Bloukrans River on day 4 comes to mind).</p>
    <p class="paragraphtext"><em><strong>The Otter Trail Physical Location</strong></em><br /> 
    From the Storms River Mouth (Eastern Cape) to Nature's Valley Beach (Western Cape), within the Tsitsikamma National Park.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near The Otter Trail</span><br />
  <a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_garden_route/storms_river">Accommodation in Storms River</a><br />
  <a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/greater_plettenberg_bay_area">Accommodation in the Greater Plettenberg Bay Area</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_eastern_cape">Points of Interest in Eastern Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;vpsrc=6&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-33.940512,23.758621&amp;spn=0.199379,0.480652&amp;z=11&amp;iwloc=0004ab3d831e0c6fd2650&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;vpsrc=6&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-33.940512,23.758621&amp;spn=0.199379,0.480652&amp;z=11&amp;iwloc=0004ab3d831e0c6fd2650&amp;source=embed" style="color:#0000FF;text-align:left">Eastern Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_garden_route/storms_river">Storms River</a></li>
  		<li><a class="alinks" href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_garden_route/greater_plettenberg_bay_area">Greater Plettenberg Bay</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_eastern_cape">Points of Interest in Eastern Cape</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>