<head>
<link rel="stylesheet" href="template2.css">
<title>Outeniqua Transport Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Western Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Outeniqua Transport Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/outeniqua_transport_museum.jpg" title="Outeniqua Transport Museum" width="450" height="300" hspace="5" vspace="5">Outeniqua Transport Museum in George<Br />
    &copy; SA Tourism</div>
    
    <p class="paragraphtext">No. 2 Mission Street in the beautiful city of George (a delightful holiday destination and the commercial and administrative hub of the <a href="/index.php?p=garden_route">Western Cape Garden Route</a>) is home to the Outeniqua Transport Museum &ndash; a fascinating monument to the marvellous modes of transport of a bygone era.</p>
    <p class="paragraphtext">Numerous remarkable steam locomotives are on view at the Outeniqua Transport Museum, including the Emil Kessler which was Johannesburg&rsquo;s first steam locomotive, the magnificent GL Garrett, a narrow gauge locomotive, Paul Kruger&rsquo;s official carriage and personal saloons, a Royal Train coach which was used when the British Royal family visited South Africa in 1947, and other extraordinary carriages. Added to these impressive examples of lovely locomotives from the days of yore, the museum also includes models of steam trains, a collection of steam train number plates and maker&rsquo;s plates, various vintage automobiles, and other railway memorabilia, art, and poetry. A wonderful coffee shop and restaurant, superb curio shop, and a safe playground for the little ones complete the enjoyable experience.</p>
    <p class="paragraphtext">The Outeniqua Transport Museum was also once the departure point of the well-known and well-loved Outeniqua Choo Tjoe train. This magnificent old steam train was South Africa&rsquo;s last continually-operated passenger steam train. It ran on the Outeniqualand Preserved Railway between George and <a href="/index.php?p=knysna">Knysna</a> for many years, and subsequently between George, Hartenbos, and <a href="/index.php?p=mossel_bay">Mossel Bay</a>. The Outeniqua Choo Tjoe made its final journey on the 17th of September 2010.</p>
    <p class="paragraphtext"><em><strong>Outeniqua Transport Museum Physical Address</strong></em><br /> 
    Off Attakwa Street, George</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Outeniqua Transport Museum</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">Accommodation in George</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_western_cape">Points of Interest in Western Cape</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.956959,22.477341&amp;spn=0.024918,0.060081&amp;z=14&amp;iwloc=0004acfc246a12fa0818b&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a5ac1dc77e1fe0956&amp;ll=-33.956959,22.477341&amp;spn=0.024918,0.060081&amp;z=14&amp;iwloc=0004acfc246a12fa0818b&amp;source=embed" style="color:#0000FF;text-align:left">Western Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/western_cape/the_garden_route/george">George</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_western_cape">Western Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>