<head>
<link rel="stylesheet" href="template2.css">
<title>Information about The Overberg, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">The Overberg , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about The Overberg, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<p class="paragraphtext">The  Overberg lies an hour east of <a href="/index.php?p=cape_town" class="alinks" title="Information about Cape Town South Africa">Cape Town</a>, and stretches from the Hottentots-Holland Mountains to Swellendam and from the Riviersonderend Mountains to the Atlantic and Indian Ocean coastlines to the south.</p>
<div class="paragraphpictureright"><img src="../images/cape_overberg.jpg" title="The Cape Overberg and Whale Coast Route is caught between mountains and the ocean" width="450" height="229" hspace="5" vspace="5">The Overberg is caught between mountains and the ocean.</div>
    <p class="paragraphtext">This beautifully fertile region also takes in the Cape Whale Route, one of the best areas in the world to enjoy land-based whale watching.</p>
    <p class="paragraphtext">The Overberg region has an incredible array of plant, bird and animal life, as well as being home to picturesque seaside towns with pristine beaches.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/the_overberg/" class="alinks" title="Accommodation in the Overberg">Accommodation in The Overberg</a></li>
      </ul>
    <p class="paragraphtext">Enjoy gourmet dining and excellent, crisp, locally-produced wines at one the many restaurants, or just explore the meandering inland route and see what you discover. Along the way notice the flora, as this is mainly fynbos, a variety of plant species endemic to this area.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-overberg.jpg" title="Location of the Overberg, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of the Overberg, Western Cape, South Africa.</div>
    <p class="paragraphtext">Some of the highlights of the area include <a href="/index.php?p=hermanus" class="alinks" title="Information about Hermanus South Africa">Hermanus</a>, the spiritual home of whale watching, shark cage diving in Gansbaai, visiting the lighthouse at Agulhas, the southernmost tip of Africa, and enjoying game-viewing at the Grootbos Nature Reserve.</p>
    <p class="paragraphtext">Some other towns in the Overberg include Kleinmond, De Kelders, Arniston and Struisbaai, together with the inland towns of Barrydale, Caledon, Elgin and Greyton.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/index.html" class="alinks" title="Accommodation in Western Cape">Accommodation in Western Cape</a></li>
    	<li><a href="/specials/western_cape_south_africa/" class="alinks">Specials in Western Cape</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=overberg" class="alinks">The Overberg</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=hermanus" class="alinks">Hermanus</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/gansbaai/index.html" class="alinks">Gansbaai</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/swellendam/index.html" class="alinks">Swellendam</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/agulhas/index.html" class="alinks">Agulhas</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/elgin/index.html" class="alinks">Elgin</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/greyton/index.html" class="alinks">Greyton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/villiersdorp/index.html" class="alinks">Villiersdorp</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/struisbaai/index.html" class="alinks">Struisbaai</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/arniston/index.html" class="alinks">Arniston</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/bettys_bay/index.html" class="alinks">Betty's Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/bredasdorp/index.html" class="alinks">Bredasdorp</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/de_kelders/index.html" class="alinks">De Kelders</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/hangklip-kleinmond/index.html" class="alinks">Hangklip / Kleinmond</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/napier/index.html" class="alinks">Napier</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html" class="alinks">Pringle Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/stanford/index.html" class="alinks">Stanford</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>