<head>
<link rel="stylesheet" href="template2.css">
<title>Phalaborwa Opencast Mine</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Phalaborwa Opencast Mine</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/opencast_mine.jpg" title="Phalaborwa Opencast Mine" width="450" height="300" hspace="5" vspace="5">Phalaborwa Opencast Copper Mine</div>
    
    <p class="paragraphtext">Not many tourist attractions can lay claim to being visible from space. The opencast mine near the pretty town of <a href="/index.php?p=phalaborwa">Phalaborwa</a> in <a href="/index.php?p=limpopo">Limpopo</a>, South Africa, 360km northeast of <a href="/index.php?p=pretoria">Pretoria</a> and on the <a href="/index.php?p=kruger_park_limpopo">Kruger National Park&rsquo;s</a> doorstep, is without a doubt one of this marvellous country&rsquo;s most impressive tourism attractions. At almost 2km wide, Phalaborwa&rsquo;s Big Hole is Africa&rsquo;s widest man-made hole and one of the biggest copper mines in the entire world. And, yes, it can indeed be seen from space.</p>
    <p class="paragraphtext">This awe-inspiring, 450m deep opencast mine &ndash; rich in apatite, magnetite, titanium, vermiculite, uranium, zirconium, and, of course, copper &ndash; understandably dominates the surrounding landscape. The magnitude of this gigantic hole needs to be appreciated from afar and we&rsquo;re happy to say that there is an amazing lookout point located nearby from which tourists can marvel at the magnificent Big Hole. As an added bonus, the views of Limpopo&rsquo;s lovely landscape from this viewpoint are nothing short of spectacular.</p>
    <p class="paragraphtext">Enjoyable educational tours of the opencast mine are offered and the fascinating <a href="/index.php?p=foskor_museum">Foskor Museum</a>, housed in the very first house that was built in the town of Phalaborwa, is an absolute must for history buffs.</p>
    <p class="paragraphtext">Opencast copper mining commenced here in 1964 and ceased in 2002. Opencast mining has been replaced by a large-scale underground operation that will extend the mine&rsquo;s lifespan considerably. Most of South Africa&rsquo;s copper is mined here.</p>
    <p class="paragraphtext"><em><strong>Phalaborwa Opencast Mine Physical Location</strong></em><br />
      South of <a href="/index.php?p=phalaborwa">Phalaborwa</a>, on Koper Street.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Phalaborwa Opencast Mine</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/phalaborwa">Accommodation in Phalaborwa</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/kruger_national_park_and_surrounds" class="alinks">Accommodation in Kruger Park</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.910321,31.138&amp;spn=0.219701,0.480652&amp;z=11&amp;iwloc=0004b53c93e8ac513e4d2&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.910321,31.138&amp;spn=0.219701,0.480652&amp;z=11&amp;iwloc=0004b53c93e8ac513e4d2&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/phalaborwa">Phalaborwa</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/kruger_national_park_and_surrounds" class="alinks">Kruger Park</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>