<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Phalaborwa, Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Mopani , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Phalaborwa, Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/opencast_mine.jpg" title="Phalaborwa" width="450" height="300" hspace="5" vspace="5">Phalaborwa, Limpopo is home to a massive opencast mine<br />
  &copy; South African Tourism</div>
<p class="paragraphtext">Phalaborwa, a picturesque little town situated amidst truly stunning surrounds, is located in the <a href="/index.php?p=mopani">Mopani</a> district of the <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa. Phalaborwa borders the world-famous <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>, is only two hours&rsquo; drive from <a href="/index.php?p=mozambique">Mozambique</a>, and is in close proximity to the <a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a>, <a href="/index.php?p=gods_window">God&rsquo;s Window</a>, the Three Rondavels, the<a href="/index.php?p=bourkes_luck_potholes"> Bourke&rsquo;s Luck Potholes</a>, and numerous fantastic <a href="/index.php?p=hoedspruit">Hoedspruit</a> and <a href="/index.php?p=tzaneen">Tzaneen</a> attractions. Wildlife and outdoor attractions are this lovely mining town&rsquo;s main tourism draws but there are also exciting astronomy, historical, and cultural attractions on offer for eager tourists.</p>
    <p class="paragraphtext">The prettiness of Phalaborwa belies the fact that it is actually a mining town. Mining is usually associated with grey, dull, and soot-covered urban sprawls but Phalaborwa couldn&rsquo;t be more different &ndash; the lovely town is something of an oasis in the scorching hot northeastern Lowveld and its streets are lined with palm trees and lush tropical vegetation. Despite its attractiveness, the town is indeed the site of a large iron, copper, phosphates, and vermiculite mining industry. In fact, mining in the area dates back as far as 400 AD when the Sotho people of the region used to smelt copper and iron ore here. These Sotho tribesmen who migrated here from the south of our lovely land named the area &lsquo;Ba-Phalaborwa&rsquo; which is translated as &lsquo;better than the south&rsquo;.</p>
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/phalaborwa" class="alinks" title="Accommodation in Phalaborwa">Find Accommodation in Phalaborwa</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-phalaborwa.jpg" title="Location of Phalaborwa, Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Phalaborwa, Limpopo, South Africa.</div>
    <p class="paragraphtext">Phalaborwa&rsquo;s biggest attraction (literally) is its Big Hole. This immense <a href="/index.php?p=phalaborwa_opencast_mine">opencast copper mine</a> is Africa&rsquo;s (and one of the world&rsquo;s) widest man-made holes. It measures almost 2km in diameter and can be seen from space. The amazing opencast mine can be viewed from a superb lookout point located nearby which also offers stunning panoramic views of the pretty town and the lovely surrounding Limpopo landscape. Tourists can undertake intriguing tours of the mine and visit the fascinating <a href="/index.php?p=foskor_museum">Foskor Museum</a> &ndash; a museum that sheds some light on the mining and tribal history of the area.</p>
    <p class="paragraphtext">The Phalaborwa area is blessed with many other fascinating tourist attractions besides the above two &lsquo;gems&rsquo;. The White Lions of Timbavati, Balule Private Game Reserve, the Cheetah Breeding Game Lodge, the Wild Dog Breeding and Preservation Sanctuary, the Hans Merensky Nature Reserve, and, of course, the adjacent Kruger National Park offer amazing game viewing opportunities. Phalaborwa is actually the only town in the area that offers night time game drives into the Kruger National Park.</p>
    <p class="paragraphtext">The Hans Merensky Golf Estate, one of South Africa&rsquo;s finest golf courses, is situated just outside of town and golfers often find themselves in the esteemed company of some wonderful wildlife along the fairways, including crocodile, hippo, giraffe, and much more. Masorini is a reconstructed Ba-Phalaborwa cultural village that showcases tribal huts, grain storage units, and an iron smelting site and provides invaluable insight into the Sotho way of life in times past. An intriguing astronomy tour is also offered in the area on which tourists can view the clear African night sky through telescopes and learn fascinating facts about the planets and various constellations. Wonderful woven carpets, woodcarvings, pottery, screen printed fabrics, and various other hand-made goods lovingly crafted by the members of the surrounding rural communities can be purchased at the Foskor Development Trust. Add horse riding, microlight flips, sunset cruises along the Olifants River, and the highest winter temperatures in the land to the above attractions and you have the ideal holiday destination that provides fun for the whole family.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/hoedspruit" class="alinks" title="Accommodation in Hoedspruit">Accommodation in Hoedspruit</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
      <li><a href="/index.php?p=mopani" class="alinks">Mopani</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=haenertsburg" class="alinks">Haenertsburg</a></li>
      <li><a href="/index.php?p=kruger_park_limpopo">Kruger Park</a></li>
      <li><a href="/index.php?p=tzaneen">Tzaneen</a></li>
	  <li><a href="/index.php?p=hoedspruit">Hoedspruit</a></li>
	</ul>
<!-- END right menus -->
</div>
</div>