<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Piet Retief, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Grass and Wetlands , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Piet Retief, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/piet_retief.jpg" title="Piet Retief" width="450" height="302" hspace="5" vspace="5">Welcome to Piet Retief, a quaint and colonial town in Mpumalanga</div>
<p class="paragraphtext">Piet Retief is a pretty little town situated on the Assegai River and surrounded by bountiful and beautiful blue gum and wattle plantations in the southeastern part of the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province, <a href="/index.php?p=south_africa">South Africa</a>, near the <a href="/index.php?p=swaziland">Swaziland</a> border.</p>
<p class="paragraphtext">The town is located on the N2 highway roughly 100km from Vryheid, Pongola, and <a href="/index.php?p=ermelo">Ermelo</a>.</p>
<p class="paragraphtext">It is a terrific tourist destination and wonderful relaxing, restocking, and refuelling stop on the road from <a href="/index.php?p=gauteng">Gauteng</a> to the exhilarating <a href="/index.php?p=elephant_coast">Elephant Coast</a> of <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a> (stretching from the Umfolozi River in the south to the Mozambique border in the north and including the stunning St Lucia coastline). The town was founded on the Osloop and Geluk farms by the descendants of Piet Retief, the prominent Voortrekker leader after which the town was named, in 1883.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/piet_retief" class="alinks" title="Accommodation in Barberton">Find Accommodation in Piet Retief</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-piet_retief.jpg" title="Location of Piet Retief, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Piet Retief, Mpumalanga, South Africa.</div>
<p class="paragraphtext"> Piet Retief and its picturesque surrounds are a birding haven, the vast plantations being home to a myriad of marvellous species of bird. Fishing is another immensely popular Piet Retief pastime and the many streams, rivers, and dams in the area are well populated with numerous species of indigenous fish.</p>
<p class="paragraphtext">There is also superb hiking to be done in the surrounding hills and mountains. There are numerous trails of varying difficulty available to adventurers with packs on their backs and their hiking boots tightly laced, including the Assegai Hiking Trail and the Phongolo Highlands Hiking Trail.</p>
<p class="paragraphtext"> Piet Retief's most famous attraction, however, has to be its absolutely gorgeous <a href="/index.php?p=dutch_reformed_church">Dutch Reformed Church</a>. This exquisite building, designed by the famous architect Gerard Moerdijk, was constructed in 1921 and it remains as attractive as ever.</p>
<p class="paragraphtext">Piet Retief was renamed &lsquo;eMkhondo&rsquo; in February 2010.</p>
    </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/piet_retief" class="alinks" title="Accommodation in Ermelo">Accommodation in Piet Retief</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=grass_and_wetlands" class="alinks">Grass and Wetlands </a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=ermelo" class="alinks">Ermelo</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/badplaas" class="alinks">Badplaas</a></li>
      <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/wakkerstroom">Wakkerstroom</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/grass_and_wetlands/carolina" class="alinks">Carolina</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>