<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Pilanesberg National Park, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bojanala , North West</div>
<div class="contentmainheading">
	  <h1>Information about Pilanesberg National Park, Bojanala, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/pilanesberg.jpg" title="Pilanesberg National Park" width="450" height="301" hspace="5" vspace="5">Pilanesberg National Park</div>
    <p class="paragraphtext"><span class="inparagraphheading">Geography:</span> Bordering on the <a href="/index.php?p=sun_city">Sun City</a> entertainment complex, the Pilanesberg National Park, some 50,000 hectares in size, is located 150km northwest of <a href="/index.php?p=gauteng">Gauteng</a> and 60km north of <a href="/index.php?p=rustenburg">Rustenburg</a>.</p>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> This area has been inhabited by humansfor thousands of years, but it was only in 1979 that it was proclaimed as a reserve. The area had become depleted of its indigenous game population as a result of commercial farming, and it has taken many years and huge amounts of money forthe infrastructure to develop, and for the area to be restocked with game. Surrounded by a 110km fence and 188km of roads built for game-watching visitors, Pilanesberg is home to more than 6,000 head of game, most of which were re-introduced during the Operation Genesis game translocation programme. Today virtually all the animal species of southern Africa, including lion, elephant, white and black rhino, buffalo, leopard, zebra, hyena, giraffe, hippo and crocodile can be found in the park, as well as over 300 bird species. Visitors are sure to spot at least one of Africa's Big Five on any given day! Towards the centre of the park there is an artificially constructed lake, the Mankwe Dam, and Thabayadiotso, which means &quot;The Proud Mountain&quot;.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> In the middle of the &quot;The Volcano that gave birth to a game reserve&quot; is the Pilanesberg Centre, a lovely old building that once served as the local magistrate's court. Here a meal can be enjoyed at the restaurant, or just simply take in the stunning view. Tourists can stay at several camps lying on the park's borders, including Kwa Maritane and Manyane, and at several interesting stalls within the park, curios and gifts, andliquid refreshments can be bought.
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/pilanesberg_national_park" class="alinks" title="Accommodation in Pilanesberg National Park">Find Accommodation in Pilanesberg National Park</a></li>
      </ul>
      <div class="paragraphpictureright"><img src="../images/map-pilanesberg.jpg" title="Location of Pilanesberg National Park, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Pilanesberg National Park, North West, South Africa.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Science and Nature:</span> The malaria-free Pilanesberg National Park is set in the crater of a long extinct volcano and is about 1,300-million years old. The rare rock types make it a unique geological feature and because it lies in the transition zone between the Kalahari and Lowveld, both types of vegetation are found here. The area is surrounded by three concentric ridges or rings of hills which are known as &quot;Pilanesberg National Park Alkaline Ring Complex&quot;, and owing to their uniqueness, they rate high amongst the world's outstanding geological phenomena. In the centre of the volcanic crater is a large lake called Mankwe Dam, while the numerous Stone- and Iron-Age sites thatare scattered throughout the park give evidence that man has occupied this area for a long time.<br />
Find Accommodation in Pilanesberg National Park South Africa</p>
    <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> The park offers great entertainment for the entire family. There are a number of wonderful picnic spots, hides for game watching and walk-in aviaries to enjoy, while safari drives at night and flights over the park in a hot-air balloon will provide many thrills and unforgettable memories. The &quot;Elephant Wallow&quot; is a special place nestled at the foothills of the Pilanesberg, where you can develop a unique relationship with the largest mammal on the planet - the African Elephant. Here you can experience a unique African tradition, and why not go on an exciting elephant back safari, exploring the beauty of the Pilanesberg from your comfortable position atop the gentle giant?</p>
      <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> There is a self-guided trail in the Walking Area at Manyane Complex in the east and tourists visiting the centre can enjoy a lecture in environmental education.</p>
      <p class="paragraphtext">Did you know? The Pilanesberg National Park is home to more than 7,000 animals.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/pilanesberg_national_park" class="alinks" title="Accommodation in Rustenburg">Accommodation in Pilanesberg</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=rustenburg" class="alinks">Rustenburg</a></li>
   	  <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>