<head>
<link rel="stylesheet" href="template2.css">
<title>Pilanesberg International Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Pilanesberg International Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/pilanesberg_airport.jpg" title="Pilanesberg International Airport" width="450" height="262" hspace="5" vspace="5">Pilanesberg International Airport</div>
    
    <p class="paragraphtext">Pilanesberg International Airport is located in Pilanesberg in the <a href="/index.php?p=north_west">North West Province</a> of South Africa, bordering the spectacular Sun City entertainment complex &ndash; Africa's leading luxury resort &ndash; and the Pilanesberg Game Reserve &ndash; an exhilarating game viewing experience and home to Africa's Big Five (lion, leopard, elephant, rhinoceros, and buffalo).</p>
    <p class="paragraphtext">The airport is the gateway to the North West's stunning game reserves, world-class golf courses, and numerous other exciting activities and attractions.</p>
    <p class="paragraphtext">Although very small, Pilanesberg International Airport has an international licence which allows international travellers to fly directly to the airport. The airport hosts daily flights to and from <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=cape_town">Cape Town</a>.</p>
    <p class="paragraphtext"><em><strong>Pilanesberg International Airport Physical Address</strong></em><br /> 
    Off Mogwase Road, between R556 and R510, 8km from Sun City</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Pilanesberg International Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bojanala/pilanesberg_national_park">Accommodation in Pilanesberg National Park</a><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bojanala/sun_city">Accommodation in Sun City</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004acd16d07629709245&amp;ll=-25.277608,27.208328&amp;spn=0.217314,0.480652&amp;z=11&amp;iwloc=0004acd1724e0d5b5d940&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004acd16d07629709245&amp;ll=-25.277608,27.208328&amp;spn=0.217314,0.480652&amp;z=11&amp;iwloc=0004acd1724e0d5b5d940&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bojanala/pilanesberg_national_park">Pilanesberg National Park</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bojanala/sun_city">Sun City</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>