<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Pilgrim's Rest, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">The Panorama , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Pilgrim's Rest, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/pilgrims_rest.jpg" title="Pilgrim's Rest" width="450" height="373" hspace="5" vspace="5">Pilgrim's Rest is a historic town in Mpumalanga</div>
<p class="paragraphtext"> Pilgrim's Rest, a splendid small town situated on the picturesque <a href="/index.php?p=the_panorama">Panorama Route</a> in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>, is a spectacular tourist destination with a completely unique charm and character. The entire town is, in fact, a national monument. Pilgrim's Rest's lovely Transvaal gold rush era buildings have been painstakingly restored to accurately reflect the look and feel of the town as it was during this fascinating part of South Africa's colourful history.</p>
    <p class="paragraphtext">Initially an informal scattering of shacks and tents, the pretty town of Pilgrim's Rest sprung into life when gold fever took hold of South Africa. The area was officially declared a gold field on the 22nd of September 1873 and a prosperous village was soon blossoming, complete with numerous permanent homes, churches, shops, bars, its own newspaper publisher, and the famous Royal Hotel.</p>
    <p class="paragraphtext">The prospectors named the town Pilgrim's Rest &ndash; a permanent spot at which they could finally rest (and flourish!) after years and years of unfulfilled dreams of striking it rich. By the turn of the century all of the gold digging claims were bought up and underground mining had commenced. The gold was plentiful and mining continued until 1971 when the mines were closed down. Pilgrim's Rest was purchased by the South African government in 1972 and the lovely town was declared a national monument in 1986. Mining resumed in Pilgrim's Rest in 1999 and gold panning is still widely practised.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/pilgrim's_rest" class="alinks" title="Accommodation in Hazyview">Find Accommodation in Pilgrim's Rest</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-pilgrims_rest.jpg" title="Location of Pilgrim's Rest, Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Pilgrim's Rest, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">Pilgrim's Rest and its surrounds are rich in stunning scenery, beautiful historical buildings, and numerous outdoor activities to keep excited tourists entertained. The town is alive with captivating curio and arts and crafts shops; immaculate old church buildings, such as St Mary's Church, the Sacred Heart Church, the Methodist Church, and the Dutch Reformed Church; and lovely historical buildings, such as the Alanglade House Museum, Joubert Bridge, the Digging Museum &amp; Gold Panning, the Dredzen Shop and House Museum, and the Printing Museum.</p>
    <p class="paragraphtext">Exhilarating outdoor activities include wonderful birding and trout fishing opportunities, horse riding through the captivating countryside, hiking and mountain biking trails through lush indigenous forests, and a superb golf course located just outside of the fabulous town. Another must-see attraction in the area is the nearby and absolutely beautiful Mount Sheba Nature Reserve.</p>
    <p class="paragraphtext">Fascinating fact: The tombstones at the Pilgrim's Rest cemetery, dating back to the original gold rush era, all face the same direction &ndash; save one. This grave, simply inscribed with a large cross and the words 'Robber&rsquo;s Grave', belongs to an unnamed robber who attempted to steal a prospector's tent. He was chased out of the settlement, only to be found dead days later on the outskirts of town.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/pilgrim's_rest" class="alinks" title="Accommodation in Pilgrim's Rest">Accommodation in Pilgrim's Rest</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=the_panorama" class="alinks">The Panorama</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=lydenburg_mashishing" class="alinks">Lydenburg</a></li>
        <li><a href="/index.php?p=bushbuckridge">Bushbuckridge</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=machadodorp" class="alinks">Machadodorp</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>