<head>
<link rel="stylesheet" href="template2.css">
<title>Map of Points of Interest in Eastern Cape</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ec">Eastern Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Map of Points of Interest in Eastern Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">Google Map of popular Points of Interest in Eastern Cape such as Schools, Universities, Hospitals, Shopping Malls, Medical Clinics, etc.</p>

<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;hl=en&amp;ie=UTF8&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-32.648626,26.400146&amp;spn=3.237397,7.69043&amp;z=7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;hl=en&amp;ie=UTF8&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-32.648626,26.400146&amp;spn=3.237397,7.69043&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Eastern Cape Map of Points of Interest</a> in a larger map</small>


   <p class="paragraphtext">Drag the map to look around, and use the plus and minus buttons to zoom in and out.</p>
   <p class="paragraphtext"><span class="inparagraphheading">List of Points of Interest:</span></p>
   <p class="paragraphtext"><strong><em>Tourist Attractions</em></strong></p>
   <ul>
    <li>Port Elizabeth Harbour</li>
    <li>Bayworld</li>
    <li><a href="/index.php?p=stormsriver_suspension_bridge">Storms River  Suspension Bridge</a></li>
    <li><a href="/index.php?p=otter_trail">Otter Trail</a></li>
   </ul>
    <p class="paragraphtext"><strong><em>Nature</em></strong></p>
    <ul>
    <li>Addo Elephant National Park</li>
    <li>Mountain Zebra National Park</li>
    <li><a href="/index.php?p=tsitsikamma_national_park">Tsitsikamma National Park</a></li>
    <li><a href="/index.php?p=tsitsikamma_big_tree">Tsitsikamma Forest Big Tree</a></li>
    </ul>
      <p class="paragraphtext"><strong><em>Beaches</em></strong></p>
      <ul>
        <li>Bluewater Beach</li>
      </ul>
    <p class="paragraphtext"><strong><em>Shopping</em></strong></p>
    <ul>
    <li>The Boardwalk Casino and Entertainment World</li>
    </ul>
    <p class="paragraphtext"><strong><em>Sport</em></strong></p>
    <ul>
    <li>Nelson Mandela Bay Stadium</li>
    </ul>
    <p class="paragraphtext"><strong><em>Other</em></strong></p>
    <ul>
    <li><a href="/index.php?p=port_elizabeth_airport">Port Elizabeth Airport</a></li>
    <li><a href="/index.php?p=east_london_airport">East London Airport</a></li>
    </ul>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation in Eastern Cape</span><br /></p>
    <ul>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/addo_elephant_park_and_surrounds">Addo Elephant Park and Surrounds</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/amathole">Amathole</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/friendly_n6">Friendly N6</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/frontier_country">Frontier Country</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_karoo">Karoo Heartland</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/kouga">Kouga</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/sunshine_coast">Sunshine Coast</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_garden_route">Tsitsikamma Garden Route</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/wild_coast">Wild Coast</a></li>
    </ul>
    <p class="paragraphtext">Read more <a class="alinks" href="/index.php?p=eastern_cape">Information about Eastern Cape</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/addo_elephant_park_and_surrounds">Addo Elephant Park and Surrounds</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/amathole">Amathole</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/friendly_n6">Friendly N6</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/frontier_country">Frontier Country</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_karoo">Karoo Heartland</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/kouga">Kouga</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/sunshine_coast">Sunshine Coast</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/the_garden_route">Tsitsikamma Garden Route</a></li>
      	      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/wild_coast">Wild Coast</a></li>
      	</ul>
    
    <div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_eastern_cape">Eastern Cape Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>