<head>
<link rel="stylesheet" href="template2.css">
<title>Map of Points of Interest in KwaZulu-Natal</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Map of Points of Interest in KwaZulu-Natal</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">Google Map of popular Points of Interest in KwaZulu-Natal such as Schools, Universities, Hospitals, Shopping Malls, Medical Clinics, etc.</p>

<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-28.960089,30.871582&amp;spn=6.726114,15.380859&amp;z=6&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-28.960089,30.871582&amp;spn=6.726114,15.380859&amp;z=6&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>


   <p class="paragraphtext">Drag the map to look around, and use the plus and minus buttons to zoom in and out.</p>
   <p class="paragraphtext"><span class="inparagraphheading">List of Points of Interest:</span></p>
   <p class="paragraphtext"><strong><em>Tourist Attractions</em></strong></p>
   <ul>
    <li>The Drakensberg</li>
    <li><a href="/index.php?p=icc_durban">ICC Durban</a></li>
    <li><a href="/index.php?p=beaver_creek_coffee">Beaver Creek Coffee Farm</a></li>
    <li><a href="/index.php?p=port_shepstone_lighthouse">Port Shepstone Lighthouse</a></li>
    <li><a href="/index.php?p=riverbend_croc_farm">Riverbend Crocodile Farm</a></li>
   </ul>
    <p class="paragraphtext"><strong><em>Nature</em></strong></p>
    <ul>
    <li><a href="/index.php?p=oribi_gorge">Oribi Gorge</a></li>
    <li><a href="/index.php?p=royal_natal_national_park">Royal Natal National Park</a></li>
    <li>iSimangaliso Wetland Park</li>
    <li>Hluhluwe-Imfolozi Game Reserve</li>
    </ul>
      <p class="paragraphtext"><strong><em>Beaches</em></strong></p>
      <ul>
        <li><a href="/index.php?p=margate_beach">Margate Beach</a></li>
        <li>Durban North Beach</li>
      </ul>
    <p class="paragraphtext"><strong><em>Shopping</em></strong></p>
    <ul>
    <li>Gateway Shopping Centre</li>
    </ul>
    <p class="paragraphtext"><strong><em>Sport</em></strong></p>
    <ul>
    <li>Moses Mabhida Stadium<a href="/index.php?p=poi_gauteng_wanderers_club"></a></li>
    <li><a href="/index.php?p=durban_small_craft_harbour">Durban Small Craft Harbour</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Museums</em></strong></p>
    <ul>
    <li><a href="/index.php?p=natal_museum">Natal Museum</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Adventure</em></strong></p>
    <ul>
    <li><a href="/index.php?p=sani_pass">Sani Pass</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Other</em></strong></p>
    <ul>
    <li><a href="/index.php?p=king_shaka_airport">King Shaka International Airport</a></li>
    <li><a href="/index.php?p=margate_airport">Margate Airport</a></li>
    </ul>
    
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation in KwaZulu-Natal</span><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban">Greater Durban</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/battlefields">Battlefields</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg">Drakensberg</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/east_griqualand">East Griqualand</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/elephant_coast">Elephant Coast</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/midlands">Midlands</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/north_coast">North Coast</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/south_coast">South Coast</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/zululand">Zululand</a></p>
    <p class="paragraphtext">Read more <a class="alinks" href="/index.php?p=kwazulu_natal">Information about KwaZulu-Natal</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
       	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/greater_durban">Greater Durban</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/battlefields">Battlefields</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg">Drakensberg</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/east_griqualand">East Griqualand</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/elephant_coast">Elephant Coast</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/midlands">Midlands</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/north_coast">North Coast</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/south_coast">South Coast</a></li>
              	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/zululand">Zululand</a></li>
   	</ul>
    
    <div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>