<head>
<link rel="stylesheet" href="template2.css">
<title>Map of Points of Interest in Mpumalanga</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Map of Points of Interest in Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">Google Map of popular Points of Interest in Mpumalanga such as Schools, Universities, Hospitals, Shopping Malls, Medical Clinics, etc.</p>

<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.76032,30.596924&amp;spn=3.462673,7.69043&amp;z=7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.76032,30.596924&amp;spn=3.462673,7.69043&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>


   <p class="paragraphtext">Drag the map to look around, and use the plus and minus buttons to zoom in and out.</p>
   <p class="paragraphtext"><span class="inparagraphheading">List of Points of Interest:</span></p>
   <p class="paragraphtext"><strong><em>Tourist Attractions</em></strong></p>
   <ul>
    <li><a href="/index.php?p=sheba_mine">Sheba Mine</a> in Barberton</li>
    <li><a href="/index.php?p=machadodorp_hot_springs">Machadodorp Hot Springs</a></li>
    <li><a href="/index.php?p=gods_window">God's Window</a></li>
    <li><a href="/index.php?p=sudwala_caves">Sudwala Caves</a></li>
   </ul>
   <p class="paragraphtext"><strong><em>Museums / Historic</em></strong></p>
    <ul>
      <li><a href="/index.php?p=anglo_boer_war_memorial">Anglo-Boer War Memorial</a> in Ermelo</li>
      <li><a href="/index.php?p=lydenburg_museum">Lydenburg Museum</a></li>
      <li><a href="/index.php?p=fort_merensky">Fort Merensky and Botshebelo Museum Complex</a></li>
      <li>Piet Retief <a href="/index.php?p=dutch_reformed_church">Dutch Reformed Church</a></li>
      <li><a href="/index.php?p=great_trek_memorial">Great Trek Memorial</a> in Standerton</li>
    </ul>
    
    <p class="paragraphtext"><strong><em>Entertainment</em></strong></p>
    <ul>
    <li><a href="#">...</a><a href="/index.php?p=poi_gauteng_linder_auditorium"></a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Nature</em></strong></p>
    <ul>
    <li><a href="/index.php?p=songimvelo_nature_reserve">Songimvelo Nature Reserve</a></li>
    <li><a href="/index.php?p=blyde_river_canyon">Blyde River Canyon</a></li>
    <li><a href="/index.php?p=lowveld_botanical_gardens">Lowveld  Botanical Gardens</a></li>
    <li><a href="/index.php?p=witbank_dam">Witbank Dam</a></li>
    <li><a href="/index.php?p=bourkes_luck_potholes">Bourke's Luck Potholes</a></li>
    <li><a href="/index.php?p=the_pinnacle">The Pinnacle</a></li>
    <li><a href="/index.php?p=three_rondavels">Three Rondavels</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Sport</em></strong></p>
    <ul>
    <li>Mbombela Stadium</li>
    </ul>
    <p class="paragraphtext"><strong><em>Other</em></strong></p>
    <ul>
    <li><a href="/index.php?p=kruger_airport">Kruger Mpumalanga International Airport</a></li>
    </ul>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation in Mpumalanga</span><br /></p>
   <p><a href="http://booktravel.travel/index.php?p=kruger_park_mpumalanga">Kruger National Park and Surrounds</a><br />
   	<a href="http://booktravel.travel/index.php?p=cosmos_country">Cosmos Country</a><br />
     <a href="http://booktravel.travel/index.php?p=cultural_heartland">Cultural Heartland</a><br />
      <a href="http://booktravel.travel/index.php?p=grass_and_wetlands">Grass and Wetland</a><br />
      <a href="http://booktravel.travel/index.php?p=highlands_meander">Highlands Meander</a><br />
      <a href="http://booktravel.travel/index.php?p=lowveld_legogote">Lowveld Legogote</a><br />
      <a href="http://booktravel.travel/index.php?p=the_panorama">The Panorama</a><br />
      <a href="http://booktravel.travel/index.php?p=wild_frontier">Wild Frontier</a></p>
    
    <p class="paragraphtext">Read more <a class="alinks" href="/index.php?p=mpumalanga">Information about Mpumalanga</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
        <li><a href="http://booktravel.travel/index.php?p=kruger_park_mpumalanga">Kruger National Park and Surrounds</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=cosmos_country">Cosmos Country</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=cultural_heartland">Cultural Heartland</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=grass_and_wetlands">Grass and Wetland</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=highlands_meander">Highlands Meander</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=lowveld_legogote">Lowveld Legogote</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=the_panorama">The Panorama</a></li>
                  <li><a href="http://booktravel.travel/index.php?p=wild_frontier">Wild Frontier</a></li>
    </ul>
    
    <div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>