<head>
<link rel="stylesheet" href="template2.css">
<title>Map of Points of Interest in Limpopo</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Map of Points of Interest in Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">Google Map of popular Points of Interest in Limpopo such as Schools, Universities, Hospitals, Shopping Malls, Medical Clinics, etc.</p>

<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;ll=-23.553917,29.718018&amp;spn=3.524398,7.69043&amp;z=7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;ll=-23.553917,29.718018&amp;spn=3.524398,7.69043&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>


   <p class="paragraphtext">Drag the map to look around, and use the plus and minus buttons to zoom in and out.</p>
   <p class="paragraphtext"><span class="inparagraphheading">List of Points of Interest:</span></p>
   <p class="paragraphtext"><strong><em>Tourist Attractions</em></strong></p>
   <ul>
    <li><a href="/index.php?p=lake_fundudzi">Lake Fundudzi</a></li>
    <li><a href="/index.php?p=hoedspruit_endangered_species_centre">Hoedspruit Endangered Species Centre</a></li>
    <li><a href="/index.php?p=mapungubwe_cultural_landscape">Mapungubwe Cultural Landscape</a></li>
   </ul>
   <p class="paragraphtext"><strong><em>Museums / Historic</em></strong></p>
    <ul>
      <li><a href="/index.php?p=arend_dieperink_museum">Arend Dieperink Museum</a></li>
      <li><a href="/index.php?p=tzaneen_museum">Tzaneen Museum</a></li>
      <li><a href="/index.php?p=polokwane_museum">Polokwane Museum</a></li>
      <li><a href="/index.php?p=foskor_museum">Foskor Museum</a></li>
    </ul>
    
    <p class="paragraphtext"><strong><em>Entertainment</em></strong></p>
    <ul>
    <li><a href="/index.php?p=warmbaths_springs">Warmbaths Mineral Springs</a><a href="#"></a><a href="/index.php?p=poi_gauteng_linder_auditorium"></a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Nature</em></strong></p>
    <ul>
    <li><a href="/index.php?p=sagole_big_tree">Sagole Big Tree</a><a href="/index.php?p=three_rondavels"></a></li>
    <li><a href="/index.php?p=polokwane_game_reserve">Polokwane Game Reserve</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Sport</em></strong></p>
    <ul>
    <li>Polokwane Stadium</li>
    </ul>
    <p class="paragraphtext"><strong><em>Other</em></strong></p>
    <ul>
    <li><a href="http://booktravel.travel/index.php?p=polokwane_airport">Polokwane Airport</a></li>
    <li><a href="/index.php?p=beitbridge">Beitbridge</a></li>
    <li><a href="/index.php?p=phalaborwa_opencast_mine">Phalaborwa Opencast Mine</a></li>
    </ul>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation in Limpopo</span><br />
    </p>
    <ul>
      <li><a href="http://booktravel.travel/index.php?p=kruger_park_limpopo">Kruger National Park</a></li>
      <li><a href="http://booktravel.travel/index.php?p=capricorn">Capricorn</a></li>
      <li><a href="http://booktravel.travel/index.php?p=mopani">Mopani</a></li>
      <li><a href="http://booktravel.travel/index.php?p=vhembe">Vhembe</a></li>
      <li><a href="http://booktravel.travel/index.php?p=waterberg">Waterberg</a></li>
      <li><a href="http://booktravel.travel/index.php?p=sekhukhune">Sekhukhune</a></li>
    </ul>
    
    <p class="paragraphtext">Read more <a class="alinks" href="/index.php?p=limpopo">Information about Limpopo</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
       	<li><a href="http://booktravel.travel/index.php?p=kruger_park_limpopo">Kruger National Park</a></li>
              	<li><a href="http://booktravel.travel/index.php?p=capricorn">Capricorn</a></li>
              	<li><a href="http://booktravel.travel/index.php?p=mopani">Mopani</a></li>
              	<li><a href="http://booktravel.travel/index.php?p=vhembe">Vhembe</a></li>
              	<li><a href="http://booktravel.travel/index.php?p=waterberg">Waterberg</a></li>
              	<li><a href="http://booktravel.travel/index.php?p=sekhukhune">Sekhukhune</a></li>
       	</ul>
    
    <div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>