<head>
<link rel="stylesheet" href="template2.css">
<title>Map of Points of Interest in Free State</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading fs">Free State Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Map of Points of Interest in Free State</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  
  <p class="paragraphtext">Google Map of popular Points of Interest in Free State such as Schools, Universities, Hospitals, Shopping Malls, Medical Clinics, etc.</p>

<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ll=-28.700225,27.399902&amp;spn=3.372467,7.69043&amp;z=7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a601df9450a0a141c&amp;ll=-28.700225,27.399902&amp;spn=3.372467,7.69043&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Free State Map of Points of Interest</a> in a larger map</small>


   <p class="paragraphtext">Drag the map to look around, and use the plus and minus buttons to zoom in and out.</p>
   <p class="paragraphtext"><span class="inparagraphheading">List of Points of Interest:</span></p>
   <p class="paragraphtext"><strong><em>Tourist Attractions</em></strong></p>
   <ul>
    <li>Vredefort Dome</li>
    <li>Gariep Dam</li>
   </ul>
    <p class="paragraphtext"><strong><em>Nature</em></strong></p>
    <ul>
    <li><a href="/index.php?p=golden_gate_highlands_national_park">Golden Gate Highlands National Park</a></li>
    <li><a href="/index.php?p=cheetah_experience">Cheetah Experience</a></li>
    </ul>
    <p class="paragraphtext"><strong><em>History</em></strong></p>
    <ul>
    <li><a href="/index.php?p=afrikaans_literature_museum">Afrikaans Literature Museum</a></li>
    </ul>
      <p class="paragraphtext"><strong><em>Shopping</em></strong></p>
    <ul>
    <li><a href="/index.php?p=loch_logan_waterfront">Loch Logan Waterfront</a></li>
    <li>Brandwag Shopping Centre</li>
    </ul>
    <p class="paragraphtext"><strong><em>Sport</em></strong></p>
    <ul>
    <li>Free State Stadium<a href="/index.php?p=poi_gauteng_wanderers_club"></a></li>
    </ul>
    <p class="paragraphtext"><strong><em>Other</em></strong></p>
    <ul>
    <li><a href="/index.php?p=bloemfontein_airport">Bloemfontein Airport</a></li>
    </ul>
    <p class="paragraphtext"><span class="inparagraphheading">Find accommodation in Free State</span><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/goldfields_%2528lejweleputswa%2529">Goldfields (Lejweleputswa)</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/motheo">Motheo</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/northern_free_state_%2528fezile_dabi%2529">Northern Free State</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/southern_free_state_%2528xhariep%2529">Southern Free State (Xhariep)</a><br />
    <a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/eastern_free_state_%2528thabo_mofutsanyana%2529">Eastern Free State (Thabo Mafutsanyana)</a></p>
    <p class="paragraphtext">Read more <a class="alinks" href="/index.php?p=free_state">Information about Free State</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/goldfields_%2528lejweleputswa%2529">Goldfields (Lejweleputswa)</a></li>
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/motheo">Motheo</a></li>
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/northern_free_state_%2528fezile_dabi%2529">Northern Free State</a></li>
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/southern_free_state_%2528xhariep%2529">Southern Free State (Xhariep)</a></li>
      	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/free_state/eastern_free_state_%2528thabo_mofutsanyana%2529">Eastern Free State (Thabo Mafutsanyana)</a></li>
    </ul>
    
    <div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_free_state">Free State Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>