<head>
<link rel="stylesheet" href="template2.css">
<title>Polokwane Museum</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Polokwane Museum</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/polokwane_museum.jpg" title="Polokwane Museum" width="450" height="309" hspace="5" vspace="5">The Polokwane Museum is an unmistakeable landmark</div>
    
    <p class="paragraphtext"><a href="/index.php?p=polokwane_pietersburg">Polokwane</a>, the capital city of the scenic <a href="/index.php?p=limpopo">Limpopo</a> province of <a href="/index.php?p=south_africa">South Africa</a>, is a major tourism draw and the biggest city in South Africa north of the <a href="/index.php?p=gauteng">Gauteng</a> urban sprawls of <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a>. It is in close proximity to neighbouring countries <a href="/index.php?p=botswana">Botswana</a>, <a href="/index.php?p=zimbabwe">Zimbabwe</a>, <a href="/index.php?p=mozambique">Mozambique</a>, and <a href="/index.php?p=swaziland">Swaziland</a> and a vast number of spectacular local destinations, including the <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>, Magoesbaskloof, and <a href="/index.php?p=haenertsburg">Haenertsburg</a>.</p>
    <p class="paragraphtext">The Polokwane Museum is a cultural and historical attraction to be added to every traveller&rsquo;s Polokwane itinerary. The Polokwane Museum is ideally situated across the street from the Hugh Exton Photographic Museum and civic centre (more exciting Polokwane attractions not to be missed). The museum is housed in a beautiful late Victorian era shop that was built in 1906 and was known as the Irish House for many years. The building was lovingly restored in 1986 and is now a much-loved national monument.</p>
    <p class="paragraphtext">The museum sheds light on the city and its surrounds&rsquo; fascinating history and also displays various Stone Age and Iron Age artefacts. The highlight of the Polokwane Museum is undoubtedly its display that depicts the Limpopo area&rsquo;s vibrant tribal and traditional cultures.</p>
    <p class="paragraphtext"><em><strong>Polokwane Museum Physical Location</strong></em><br />
      Corner of Thabo Mbeki Street and Market Street, <a href="/index.php?p=polokwane_pietersburg">Polokwane</a>.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Polokwane Museum</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_(pietersburg)">Accommodation in Polokwane</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/tzaneen" class="alinks">Accommodation in Tzaneen</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.901454,29.454517&amp;spn=0.027465,0.060081&amp;z=14&amp;iwloc=0004b52ca6ab23068a2cc&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-23.901454,29.454517&amp;spn=0.027465,0.060081&amp;z=14&amp;iwloc=0004b52ca6ab23068a2cc&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_(pietersburg)">Polokwane</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/tzaneen" class="alinks">Tzaneen</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>