<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Polokwane, Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Capricorn , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Polokwane (Pietersburg), Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/polokwane_circle.jpg" title="Polokwane" width="450" height="284" hspace="5" vspace="5">Polokwane, Limpopo</div>
<p class="paragraphtext">Polokwane, the capital of <a href="/index.php?p=limpopo">Limpopo Province</a>, lies   midway between <a href="/index.php?p=pretoria">Pretoria</a> and the <a href="/index.php?p=zimbabwe">Zimbabwe</a> border, along the N1. The town   is about 320km from <a href="/index.php?p=johannesburg">Johannesburg</a>, making it a relatively short drive of   about three hours from the major centres of <a href="/index.php?p=gauteng">Gauteng</a>.</p>
    <p class="paragraphtext">Originally known as Pietersburg, the town was   founded in 1884 and named after the boer leader General-Commandant Piet   Joubert. Officially becoming a town in the same year that gold was   discovered on the reef (1886), it gained municipal status in 1903. With   the new, democratically elected government, the name was changed to   Polokwane in 2002. Today, this vibrant city is one of the fastest   growing in the southern hemisphere, and is definitely the largest   metropolis in the northern part of South Africa. The modern town has a   good infrastructure with great facilities, and is a major economic   centre with a strong focus on manufacturing, commerce and agriculture. </p>
  <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_(pietersburg)" class="alinks" title="Accommodation in Polokwane">Find Accommodation in Polokwane</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-polokwane.jpg" title="Location of Polokwane, Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Polokwane, Limpopo, South Africa.</div>
    <p class="paragraphtext">Visitors to Polokwane can enjoy some interesting   cultural and historical sites. There are numerous museums in town,   including the Hugh Exton Photographic Museum and the excellent Bakone   Malapa Open-Air Museum, where the exhibits cover the cultural history of   the town. At the <a href="/index.php?p=polokwane_museum">Polokwane Museum</a>, a provincial heritage site, there   are exhibits that detail the history of the city and the environment.   The Bush Craft trading store has curios and traditional wares that are   made by local craftspeople, and are on sale to the public. Travellers   interested in the history of gold mining in the country can see the   Eersteling Monuments, which mark the place where the country's first   gold crushing took place. </p>
    <p class="paragraphtext">Polokwane is located in the region of Limpopo   known as <a href="/index.php?p=capricorn">Capricorn</a>, which stretches along the foothills of the lush   Wolkberg all the way to the tropic of Capricorn in the north. This   tropic is the geographical line that crosses the province, and includes   the northern section of this region. There are many natural attractions   in the region of Capricorn, from the conveniently located, magnificent   Magoebaskloof, to the world-renowned <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>. The area   surrounding Polokwane will enthral nature lovers. The <a href="/index.php?p=polokwane_game_reserve">municipal game   reserve</a> has over 21 species of game, while the Moletzie Bird Sanctuary   hosts 250 species of birds. Take a drive to Magoebaskloof for spectacular scenery of mountains, waterfalls and   lakes, and the Polokwane Bird and Reptile Park nearer to town, holds   many interesting demonstrations.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/polokwane_%28pietersburg%29" class="alinks" title="Accommodation in Polokwane">Accommodation in Polokwane</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=capricorn" class="alinks">Capricorn</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/tzaneen" class="alinks">Tzaneen</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/potgietersrus_%2528mokopane%2529" class="alinks">Potgietersrus (Mokopane)</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>