<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Port Elizabeth, Eastern Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ec">Sunshine Coast , Eastern Cape</div>
<div class="contentmainheading">
	  <h1>Information about Port Elizabeth, Eastern Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/port_elizabeth.jpg" title="Port Elizabeth boasts unspoilt beaches along its 40km long coastline." width="450" height="343" hspace="5" vspace="5">Port Elizabeth boasts unspoilt beaches along its 40km long coastline.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Geography:</span> The large city of Port Elizabeth is situated on South Africa's southeastern coastline. The "Friendly City" as it is known, overlooks Algoa Bay and together with Despatch and Uitenhage forms Nelson Mandela Bay. The city is about 760km from <a href="/index.php?p=cape_town" class="alinks" title="Information about Cape Town South Africa">Cape Town</a> along the <a href="/index.php?p=garden_route">Garden Route</a>, and about 1070km from <a href="/index.php?p=johannesburg" class="alinks" title="Information about Johannesburg South Africa">Johannesburg</a>.</p>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> The history of the Bay goes way back to the Khoi, who occupied the area and grazed their cattle along the Bakens River. A few centuries later, the Portuguese explorer Bartholomeu Dias was the first European to venture into the Bay in 1488. The city of Port Elizabeth was officially founded in 1820 when the British settlers landed in the Bay and the acting governor of the Cape at the time, Sir Rufane Donkin, ordered that a village and port be developed here. He named the new establishment after his wife Elizabeth who had died in India. The city rapidly developed into a manufacturing and industrial centre and as a few car manufacturers had built factories in the area by the late 1930's, it became known as the 'Detroit of South Africa'. Today Port Elizabeth is still a centre for industry, and the Kouga Harbour Development pays testimony to this.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> Port Elizabeth has a rich and varied cultural history. In the city, some of the interesting cultural sites include monuments like the Horse Memorial and the two World War I Memorials at St George's Park. Some historical buildingsthat are worth a visit include the City Hall, the City Library and the many restored private homes, the oldest being The Rectory at No 7 Castle Hill. For the visitor interested in museums, the exhibits at the Port Elizabeth Museum cover thenatural and cultural history of the area, while fine art can be found at the King George VI Gallery. The townships surrounding Port Elizabeth are steeped in history, tradition and culture, and visitors are encouraged to enjoy a township experience by booking a tour with an operator.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Science and Nature:</span> Nelson Mandela Bay is renowned for its brilliant year-round weather, many hours of sunshine, its beautiful beaches, and being the gateway to more than a million hectares of malaria-free Eastern Cape game reserves. Also, many tourist routes emanate from here including the <a href="/index.php?p=sunshine_coast">Sunshine Coast</a>, <a href="/index.php?p=frontier_country">Frontier Country</a>, <a href="/index.php?p=kouga">Kouga</a>, the <a href="/index.php?p=tsitsikamma_garden_route">Tsitsikamma Garden Route</a> and the <a href="/index.php?p=karoo_heartland">Karoo Heartland Route</a>.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" class="alinks" title="Accommodation in Port Elizabeth">Find Accommodation in Port Elizabeth</a></li>
      </ul>
      <div class="paragraphpictureright"><img src="../images/map-port_elizabeth.jpg" title="Location of Port Elizabeth, Eastern Cape, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Port Elizabeth, Eastern Cape, South Africa.</div>
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Port Elizabeth, or PE as it is known, is an excellent value-for-money family holiday centre and the relaxed atmosphere and clean, safe beaches make it an ideal getaway. <br /><br />The city offers great family entertainment, and the kids will love the dolphin and seal presentations at the Oceanarium, as well as the sights at the Snake Park. Another popular PE attraction is the Boardwalk Casino and Entertainment World in Summerstrand where families can be entertained, try gaming, eat at the many restaurants or go shopping. The city has an abundance of places to keep you occupied, including cinema complexes, restaurants and a vibrant nightlife. PE is renowned for its cleanliness and Nelson Mandela Bay received the 'Cleanest Metro in South Africa Award 2002', while the international award for excellence in safety, amenities and cleanliness known as 'Blue Flag Status' has again been awarded to Humewood Beach and Wells Estate. <br /><br />There are many unspoilt golden beaches along this 40km stretch of the coastline and these also include Kings Beach, Hobie, Pollock, Brighton, Blue Water Bay, St George's Strand, Maitlands, Beachview and Van Stadens.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> Owing to its fabulous beaches, PE has become somewhat renowned for its beach and water sports, and the Bay is regarded as one of the world's best sailing spots. Water sport aficionados will love the scuba-diving opportunities with views of colourful coral reefs and interesting shipwrecks, while on the water's surface there is windsurfing, surfing and jet skiing, amongst other exciting water activities on offer. Other outdoor activities include walks and trails through the pristine Groendal Wilderness Area.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Did you Know:</span> The famous Apple Express is one of only two operational narrow-gauge steam trains in southern Africa, and crosses the highest narrow-gauge bridge in the world at the Van Stadens River Bridge.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading ec">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" class="alinks" title="Accommodation in Port Elizabeth">Accommodation in Port Elizabeth</a></li>
    	<li><a href="/specials/port_elizabeth_eastern_cape/" class="alinks">Specials in Port Elizabeth</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=eastern_cape" class="alinks">Eastern Cape</a></li>
        <li><a href="/index.php?p=sunshine_coast" class="alinks">Sunshine Coast</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-ec.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading ec">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/uitenhage/index.html" class="alinks">Uitenhage</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/addo_elephant_national_park/index.html" class="alinks">Addo Elephant National Park</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/jeffreys_bay/index.html" class="alinks">Jeffrey's Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/port_alfred/index.html" class="alinks">Port Alfred</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/alexandria/index.html" class="alinks">Alexandria</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/st_francis_bay/index.html" class="alinks">St Francis Bay</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>