<head>
<link rel="stylesheet" href="template2.css">
<title>Port Elizabeth Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ec">Eastern Cape Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Port Elizabeth Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/port_elizabeth_airport.jpg" title="Port Elizabeth Airport" width="450" height="321" hspace="5" vspace="5">Port Elizabeth Airport</div>
    
    <p class="paragraphtext">Port Elizabeth Airport is a world-class and very modern airport situated in the pretty coastal city of <a href="/index.php?p=port_elizabeth">Port Elizabeth</a> in the <a href="/index.php?p=eastern_cape">Eastern Cape</a> province of South Africa. The airport is known throughout the country as the 'ten minute airport' due to the fact that it is situated no more than a ten minute drive away from the Port Elizabeth CBD, the city's beautiful beaches, and many other stunning and significant areas within the city.</p>
    <p class="paragraphtext">Port Elizabeth Airport currently transports more than 1.5 million pleased passengers and over 800 tons of cargo, including frozen lobster, meat, ostrich skins, flowers, and mushrooms, to locations around the country every year. The airport underwent a massive upgrade just before June 2010, not only because of the 2010 FIFA World Cup but also because of the ever-expanding tourism industry in the Eastern Cape. The airport now boasts state-of-the-art terminal facilities that can handle up to two million passengers every year, including a central shopping area, a fully functional international terminal, and an improved domestic terminal. Numerous fantastic hotels are located at or in close proximity to the airport.<br />
    </p>
    <p class="paragraphtext">Port Elizabeth Airport hosts numerous airlines that fly between Port Elizabeth and <a href="/index.php?p=johannesburg">Johannesburg</a>, <a href="/index.php?p=cape_town">Cape Town</a>, <a href="/index.php?p=durban">Durban</a>, <a href="/index.php?p=bloemfontein">Bloemfontein</a>, East London, and Mthatha.</p>
    <p class="paragraphtext">Tourist attractions in the area include a wealth of idyllic beaches and natural attractions, the beautiful <a href="/index.php?p=port_elizabeth">city of Port Elizabeth</a> itself, and the <a href="/index.php?p=addo_elephant_park_and_surrounds">Addo Elephant National Park</a>.</p>
    <p class="paragraphtext"><em><strong>Port Elizabeth Airport Physical Location</strong></em><br /> 
    Off 3rd Avenue, Forest Hill, Port Elizabeth</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Port Elizabeth Airport</span><br />
  <a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/eastern_cape/sunshine_coast/port_elizabeth">Accommodation in Port Elizabeth</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_eastern_cape">Points of Interest in Eastern Cape</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-33.973118,25.604496&amp;spn=0.049826,0.120163&amp;z=13&amp;iwloc=0004acbbbfd98c52a948a&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;msid=212948302570851137913.0004a602fbfc697ecc239&amp;ll=-33.973118,25.604496&amp;spn=0.049826,0.120163&amp;z=13&amp;iwloc=0004acbbbfd98c52a948a&amp;source=embed" style="color:#0000FF;text-align:left">Eastern Cape Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/accommodation/accommodation/southern_africa/south_africa/eastern_cape/sunshine_coast/port_elizabeth">Port Elizabeth</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_eastern_cape">Points of Interest in Eastern Cape</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>