<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Potchefstroom, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Southern Region , North West</div>
<div class="contentmainheading">
	  <h1>Information about Potchefstroom, Southern Region, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/potchefstroom.jpg" title="Potchefstroom" width="450" height="325" hspace="5" vspace="5">Potchefstroom campus of the North West University</div>
    <p class="paragraphtext">Known as the gateway to the<a href="/index.php?p=north_west"> North West province</a> of South Africa, the pretty town of Potchefstroom (or &lsquo;Potch&rsquo; as it is lovingly known to the locals) graces the beautiful banks of the Mooi River along the N12 only an hour&rsquo;s drive (roughly 120km) from <a href="/index.php?p=johannesburg">Johannesburg</a>, Gauteng. &lsquo;Mooi&rsquo;, meaning &lsquo;beautiful&rsquo; in Afrikaans, aptly describes this lovely river and its stunning surrounds &ndash; the landscape along the Mooi River is truly mind-blowing in its natural beauty, offering plenty of outdoor attractions that&rsquo;ll delight nature lovers and adventure seekers alike.</p>
    <p class="paragraphtext">Potchefstroom is an immensely popular academic city and is home to the Potchefstroom Campus of the North-West University (previously known as the Potchefstroom University for Christian Higher Education), a few other tertiary education institutions, and numerous schools. As such, the city buzzes with the vibrant vitality of youth wherever you go. The Bult is an especially popular student hangout with its splendid selection of restaurants and pubs humming with activity day and night. But that is not all this picturesque city with its gorgeous tree-lined avenues has to offer. The area is one of the country&rsquo;s main agricultural hubs; it is home to South Africa&rsquo;s largest chalk factory; it offers loads of historical, cultural, and natural attractions, and it is imbued with an absolutely unforgettable character and atmosphere all its own.<br />
    </p>
    <p class="paragraphtext"><span class="inparagraphheading"></span>Established in 1838, Potchefstroom was the very first European settlement north of the Vaal River. Today, this lovely city has a rich, strong, and very varied historical and cultural heritage. The largest oak tree-lined avenue in the southern hemisphere is found here and the city is also home to many marvellous national monuments, such as the old police station, the magistrate&rsquo;s office, the Heimat building, the Kruger Kraal Opstal, and the old gunpowder house. There are also numerous exquisite old churches around town that exemplify the architecture of old in this part of the world, notably the St Mary&rsquo;s Anglican Church that was built in 1891 and is famous for its impressive and most grand stained glass windows. Yet another historical building, the Edwardian City Hall (along with the Krugersdorp City Hall) is the oldest remaining city hall this side of the Vaal River. Potchefstroom is also home to plenty of fascinating museums. One of the most popular among them is the Potchefstroom Museum which offers riveted tourists a glimpse into the city and its inhabitant&rsquo;s mesmerising history and also offers insight into the colourful culture of the Tswana people that inhabit the region at present.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/potchefstroom" class="alinks" title="Accommodation in Potchefstroom">Find Accommodation in Potchefstroom</a></li>
      </ul>
      <div class="paragraphpictureright"><img src="../images/map-potchefstroom.jpg" title="Location of Potchefstroom, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Potchefstroom, North West, South Africa.</div>
    <p class="paragraphtext">Art lovers will be enthralled by the performances that are put on at the Sanlam Auditorium and other terrific theatres around town. There is also a fabulous art market that takes place on a monthly basis in the city council gardens. <a href="/index.php?p=aardklop">Aardklop</a>, the city&rsquo;s favourite festival, is held yearly in late September/early October. This exciting Afrikaans arts and culture festival draws tourists from all over the country.
    <p class="paragraphtext">Nature lovers and outdoor enthusiasts are urged to add the following attractions to their itineraries. The Faan Meintjies Nature Reserve, situated a mere 13km from town, is home to about 30 species of game, including rhino, and roughly 150 species of bird. The Klerksdorp Dam is ideally situated just 10km from <a href="/index.php?p=klerksdorp">Klerksdorp</a> alongside the road to Ventersdorp. The town&rsquo;s municipal gardens (known as Plant House), the Johan Neser Dam, and the Schoonspruit are all breathtakingly beautiful and home to plenty of pretty bird life. Golf enthusiasts are spoilt for choice as there are numerous fantastic golf courses in and around town.</p>
    <p class="paragraphtext">As already mentioned, Potchefstroom is also host to plenty of outstanding outdoor attractions. Over 200 species of birds call the trees of the OPM Prozesky bird sanctuary home, while the Buffelsvlei Wild Animal Park and the Highveld National Park are absolute musts for nature lovers. Dome Bergland Nature Park is home to an almost unbelievable 2 000 million year old meteorite crash site measuring roughly 80km in diameter. Along with this amazing attraction, the park boasts numerous sight-seeing, hiking, mountain climbing, river rafting, canoeing, mountain biking, abseiling, and fly fishing opportunities. Keen yachting enthusiasts and able sailors can often be found enjoying the tranquil waters of the Boskop Dam which is situated in the lovely Boskop Dam Nature Reserve. The splendid holiday resorts situated on the banks of the Potchefstroom Dam on the Mooi River provide fun in the sun and all manner of exciting water sports for all ages. The green belt along the Mooi River and running down the centre of the city hosts an excellent 18-hole golf course.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/potchefstroom" class="alinks" title="Accommodation in Potchefstroom">Accommodation in Potchefstroom</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=southern_north_west" class="alinks">Southern Region</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=lichtenburg" class="alinks">Lichtenburg</a></li>
   	  <li><a href="/index.php?p=klerksdorp" class="alinks">Klerksdorp</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=mafikeng_mmabatho" class="alinks">Mafikeng</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>