<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Potgietersrus (Mokopane), Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Waterberg , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Potgietersrus (Mokopane), Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/mokopane.jpg" title="Potgietersrus (Mokopane)" width="450" height="296" hspace="5" vspace="5">Potgietersrus (Mokopane), Limpopo is surrounded by many game reserves<br />
  &copy; South African Tourism</div>
<p class="paragraphtext">Mokopane, a town situated in the lovely <a href="/index.php?p=limpopo">Limpopo</a> province of <a href="/index.php?p=south_africa">South Africa</a>, is a terrific tourist destination and, being a mere two hours&rsquo; drive from <a href="/index.php?p=gauteng">Gauteng</a>, an ideal stop-over point on the way to neighbouring countries <a href="/index.php?p=botswana">Botswana</a>, <a href="/index.php?p=zambia">Zambia</a>, and <a href="/index.php?p=zimbabwe">Zimbabwe</a> and the wonderful, world-famous <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>.</p>
<p class="paragraphtext">Established as &lsquo;Potgietersrus&rsquo; by a group of Voortrekkers in the 1880s, the town, named after their leader Piet Potgieter, was known by that name for over 100 years until, in 2003, its name was changed to Mokopane. This name is in reference to the leader of the Ndebele people who lived in the area in times gone by.</p>
<p class="paragraphtext">The Mokopane area&rsquo;s beautiful bushveld is blessed with stunning acacias and aloes which are at their most eye-catching in the winter months of June and July. The summers are extremely hot with late afternoon thunderstorms, while the temperate winters are cool to warm in the daylight hours with the temperatures dropping rapidly at night. The area in which Mokopane is situated is one of the country&rsquo;s richest farming regions, with cattle, maize, wheat, cotton, tobacco, peanuts, and citrus fruits being its main agricultural exploits. In fact, the Zebediela Citrus Estate, situated 55km southeast of Mokopane, is one of the southern hemisphere&rsquo;s largest citrus farms. The Mokopane area also contains a wealth of minerals. Platinum, diamond, and granite mining takes place here. </p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/potgietersrus_%2528mokopane%2529" class="alinks" title="Accommodation in Potgietersrus (Mokopane)">Find Accommodation in Potgietersrus (Mokopane)</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-mokopane.jpg" title="Location of Potgietersrus (Mokopane), Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Potgietersrus (Mokopane), Limpopo, South Africa.</div>
    <p class="paragraphtext">The surrounding area&rsquo;s absolutely amazing bushveld scenes and marvellous multicultural influences (Afrikaans, English, Ndebele, Pedi, Sotho, and Tsonga) make Mokopane a truly unique tourism experience. The area also boasts Africa&rsquo;s stunning Big 5 (lion, elephant, rhinoceros, leopard, and buffalo), awe-inspiring ancient caves, spectacular San rock art, lush tropical gardens, and numerous cultural/heritage attractions. A slice of traditional African life can be sampled at Mahwereleng, while the Potgietersrus Show in March and the Biltong Festival in October offer visitors loads of Limpopo delicacies and delights, among them truly delectable biltong and, for over 18s, a shot or two of mampoer.</p>
    <p class="paragraphtext">Mokopane offers a host of exciting outdoor opportunities. Hiking, angling, water sports, camping, 4x4ing, and birding are just some popular Mokopane pursuits, with the many game viewing options being the area&rsquo;s strongest tourism draw. Absolutely gorgeous game and nature reserves in the vicinity include the Potgietersrus Nature Reserve, the Doorndraaidam Nature Reserve, the Lapalala Wilderness Game Reserve, and the Marakele National Park. All offer superb game viewing; some boasting the Big 5.</p>
    <p class="paragraphtext">The area is also a haven for history buffs. The magnificent Makapansgat Caves, situated 15km north of Mokopane, show signs of Homo habilis and Australopithecus africanus habitation. The astonishing <a href="/index.php?p=arend_dieperink_museum">Arend Dieperink Museum</a> is a must see for every visitor to Mokopane. The museum paints a colourful picture of the town&rsquo;s fascinating history, from ape men at Makapansgat to stunning San rock art to the Anglo-Boer War to more recent history. Early and Middle Stone Age implements were found at the Skoonheid Donga, just 2km north of Chuniespoort where the Chunies River flows through the scenic Strydpoort Mountains.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/potgietersrus_%28mokopane%29" class="alinks" title="Accommodation in Potgietersrus">Accommodation in Potgietersrus</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=waterberg" class="alinks">Waterberg</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=warmbaths_bela_bela">Warmbaths (Bela-Bela)</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/tzaneen" class="alinks">Tzaneen</a></li>
        <li><a href="/index.php?p=polokwane_pietersburg" class="alinks">Polokwane (Pietersburg)</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>