<head>
<link rel="stylesheet" href="template2.css">
<title>Pretoria City Hall</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Pretoria City Hall</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
   
     <div class="paragraphpictureright"><img src="../images/poi_gauteng_pretoria_city_hall.jpg" title="Pretoria City Hall" width="450" height="470" hspace="5" vspace="5">Pretoria City Hall and Pretorius Square in the heart of Pretoria<br />
      &copy; An&eacute; Gore</div>
    <p class="paragraphtext">The <a href="http://www.visitpretoria.co.za/What-to-Do/city-hall" target="_blank">Pretoria City Hall</a>, constructed in 1931 to celebrate the achievement of Pretoria's city status and inaugurated four years later, is a lovely landmark situated in <a href="/index.php?p=pretoria">Pretoria</a>, <a href="/index.php?p=gauteng">Gauteng</a>, South Africa.</p>
    <p class="paragraphtext">The largest public hall in South Africa, the Pretoria City Hall boasts stunning stone floors, many lovely large paintings, and a huge main auditorium which can hold hundreds of people. Being such a sizable (and attractive) venue, it has become very popular as a venue for large social events such as weddings. It also contains many other exquisitely decorated rooms and offices.</p>
    <p class="paragraphtext">Pretorius Square, situated directly in front of the Pretoria City Hall, is just one of the many delightful parks that grace the city of Pretoria. The park's picturesque garden, ornate fountains, and three historical statues attract visitors from near and far, often with cameras at the ready.</p>
    <p class="paragraphtext">The 6.2m bronze statue of Chief Tshwane that stands closest to the Pretoria City Hall was unveiled in 2006. Chief Tshwane is believed to be among the earliest settlers in the area.. The two other statues are of Andries Pretorius, a very prominent Voortrekker leader and leading figure in Afrikaner culture, and his son Marthinus Pretorius who was the first president of the Zuid-Afrikaanse Republiek (South African Republic) and the founder of Pretoria. Marthinus Pretorius founded Pretoria in 1855 and named the settlement in honour of his father, Andries.</p>
    <p class="paragraphtext"><em><strong>Pretoria City Hall Physical Address</strong></em><br /> 
    Paul Kruger Street, Pretoria, between Visagie and Minnaar Streets.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Pretoria City Hall</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Accommodation in Pretoria</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;ll=-25.75085,28.188493&amp;spn=0.006764,0.01502&amp;z=16&amp;iwloc=0004a6b6c55cc10315ea6&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;ll=-25.75085,28.188493&amp;spn=0.006764,0.01502&amp;z=16&amp;iwloc=0004a6b6c55cc10315ea6&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small></div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/pretoria">Pretoria</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>