
<hr>
<div style="text-align: left" >Your establishment information has been sent to our Quality Assurance department.
<p>
If you are a current member of the AA Travel Guides Quality Assured Program we would like to use this oppertunity to remind you to
check that your listing on our website is up to date.</p>
<p>
If you have never or not recently updated your content, please log into the <a href="http://admin.booktravel.travel">establishment editor</a> and make the necessary changed.
Lost passwords can be retrieved on the login screen.</p>
</div>

