<head>
<link rel="stylesheet" href="template2.css">
<title>AA Travel Guides - International Pocket Directory</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Travel Guides Publications</div>
	<div class="contentmainheading">
	  <h1>AA Travel Guides - International Pocket Directory</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  <p class="paragraphtext">The International Pocket Directory has been discontinued.</p>
  <p class="paragraphtext">It has been replaced by the <a class="alinks" href="/index.php?p=aaqa_accommodation_guide">AAQA Accommodation Guide</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>