<head>
<link rel="stylesheet" href="template2.css">
<title>Overview of the AA Quality Assurance Accommodation Programme</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">About AA Travel Guides</div>
	<div class="contentmainheading">
	  <h1>Overview of the AA Quality Assured Accommodation Programme</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  <p class="paragraphtext">AA Quality Assured Recommended, Highly Recommended and Superior establishments are annually visited and assessed by our highly trained assessors.</p>
<p class="paragraphtext"><span class="inparagraphheading">AA Recommended</span> properties satisfy our stringent minimum requirements.</p>
<p class="paragraphtext"><span class="inparagraphheading">Highly Recommended</span> properties present a product which offers high levels of professionalism and attention to detail in the decor, quality of furnishings and service.</p>
<p class="paragraphtext"><span class="inparagraphheading">AA Superior</span> properties are pristine and present the traveller with decor and furnishings of exceptional quality together with remarkable levels of professionalism and hospitality.</p>

<ul>
        <li><a href="/index.php?p=aaqa2" class="alinks" title="More information about the AA Quality Assurance Accommodation Programme">Read more about the AA Quality Assured Accommodation Programme</a></li>
        <li><a href="/index.php?p=aaqa_full" class="alinks" title="full description of AA Quality Assurance assessment criteria">For a full description of the criteria our assessors look for in a property click here.</a></li>
      </ul>
      <p class="paragraphtext">Choose your preferred level of AA Quality Assurance in the drop down box provided when you <a href="/index.php?p=asearch" class="alinks" title="Find AA Quality Assured Accommodation">Find Accommodation</a></p>

</div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>