<head>
<link rel="stylesheet" href="template2.css">
<title>Rosebank Clinic</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Rosebank Clinic</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_gauteng_rosebank_clinic.jpg" title="Rosebank Clinic" width="300" height="405" hspace="5" vspace="5">Rosebank Clinic</div>
    
    <p class="paragraphtext">The Rosebank Clinic is a Netcare specialist hospital in the suburb of Rosebank <a href="/index.php?p=johannesburg">Johannesburg</a> which specialises in plastic and reconstructive surgery and in orthopaedics.</p>
    <p class="paragraphtext">The Centre for Sports Medicine and Orthopaedics is located at the Netcare Rosebank Hospital.</p>
    <p class="paragraphtext">Rosebank is an old established suburb in the northern suburbs of Johannesburg. Take the M1 offramp at Glenhove Road to get to the Rosebank Clinic.</p>
    <p class="paragraphtext"><em><strong>Rosebank Clinic Physical Address</strong></em><br />
14 Sturdee Avenue, Rosebank, Johannesburg</p>
<p class="paragraphtext">Tel: 011 328 0500<br />
Fax: 011 328 0509</p>
<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Rosebank Clinic</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Accommodation in Johannesburg Northern Suburbs</a><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/north_western_suburbs">Accommodation in Johannesburg North Western Suburbs</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<p class="paragraphtext">&nbsp;</p>
<p class="paragraphtext">&nbsp;</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.141993,28.03947&amp;spn=0.013484,0.030041&amp;z=15&amp;iwloc=0004a47c8c7d4b5695b08&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ll=-26.141993,28.03947&amp;spn=0.013484,0.030041&amp;z=15&amp;iwloc=0004a47c8c7d4b5695b08&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/northern_suburbs">Johannesburg Northern Suburbs</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/gauteng/greater_johannesburg/johannesburg_city/johannesburg/north_western_suburbs">North Western Suburbs</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>