<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Cape Town - Port Elizabeth on N2 : The Garden Route - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Cape Town - Port Elizabeth on N2 : The Garden Route, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/knysna.gif" hspace="5" vspace="5" title="The Eastern Cape is home to incredible natural beauty and friendly people.">Knysna</div>
    <h1 class="paragraphtext">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</h1>
    <p><strong>Distance</strong>: 740 kilometers<br />
    <strong>Time</strong>: 7 hours 15 minutes</p>
    <p>The <strong>N2 </strong> passes suburbs and Cape Town International Airport before reaching the township of Khayelitsha where tours are available to experience the rich tapestry of different cultural expressions. <br />
<br />
Historic <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/index.html" target="_blank">Somerset West</a> is the gateway to some beautiful mountain passes which lead to apple and fruit country &ndash; <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/grabouw/index.html" target="_blank">Grabouw</a> and the <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/elgin/index.html" target="_blank">Elgin Valley</a>. The Houw Hoek Pass leads you to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/index.html" target="_blank">Bot River</a> and on to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/caledon/index.html" target="_blank">Caledon</a> with its hot springs . Look out for the endangered Blue Cranes &ndash; South Africa 's national bird - in this area. Farms and wheat fields line the route to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/swellendam/index.html" target="_blank">Swellendam</a>, midway between <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.htm" target="_blank">Cape Town</a> and the Garden Route. Interesting detours from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/swellendam/index.html" target="_blank">Swellendam</a> should be considered: to the north, some of the most fertile farming areas in South Africa are found in the Breede River Valley towns of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/bonnievale/index.html" target="_blank">Bonnievale</a>, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/index.html" target="_blank">Ashton</a>, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/robertson/index.html" target="_blank">Robertson</a>, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/mcgregor/index.html" target="_blank">McGregor</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/montagu/index.html" target="_blank">Montagu</a>, where noble wines are being created every minute as they form part of scenic <strong>Route 62 </strong> ( See Route 2 ); to the south lie <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/index.html" target="_blank">Bredasdorp</a>, picturesque <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/index.html" target="_blank">Waenhuiskrans</a> or <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/arniston/index.html" target="_blank">Arniston</a> and the southernmost tip of the African continent, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/agulhas/index.html" target="_blank">Agulhas</a>. <br />
<br />
Some 50km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/swellendam/index.html" target="_blank">Swellendam</a> lies Heidelberg and the &lsquo;start' of the <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/index.html" target="_blank">Garden Route</a>, named for the profusion of flora and fauna in this coastal Eden, which stretches eastwards to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/tsitsikamma/index.html" target="_blank">Tsitsikamma/Storms River</a>. Bounded in the south by the warm Indian Ocean and its wealth of marine life, the area of interest for visitors has now been expanded to include the Klein or Little Karoo which includes the semi-desert hinterland interspersed with lush river valleys between the Langeberg, Outeniqua and Tsitsikamma and the <strong>N1</strong>. <br />
<br />
40km south of Heidelberg on the <strong>R322 </strong> is <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/witsand/index.html" target="_blank">Witsand</a>, renowned as a nursery for Southern Right whales, that visit the area from around June until December. A floral paradise awaits you 300km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.htm" target="_blank">Cape Town</a> at <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/riversdale/index.html" target="_blank">Riversdale</a>, while just south off the <strong>R305 </strong><a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/stilbaai/index.html" target="_blank">Stilbaai</a> offers an unsurpassed natural experience. Further along the <strong>N2 </strong> at <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/albertinia/index.html" target="_blank">Albertinia</a> you find the bridge crossing the Gourits River - one of South Africa's favourite bungee jumping spots. Bartholomeu Dias landed at <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/mossel_bay/index.html" target="_blank">Mossel Bay</a> in 1488, and the Museum complex today naturally has a maritime theme. <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/george/index.html" target="_blank">George</a> is the juncture for the <strong>N12 </strong> which leads north to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/beaufort_west/index.html" target="_blank">Beaufort West </a>( See Routes 1 &amp; 2 ) and the <strong>N1, </strong>via the ostrich mecca of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/oudtshoorn/index.html" target="_blank">Oudtshoorn</a>, site of the unforgettable stalactite and stalagmite formations of the Cango Caves. At <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/oudtshoorn/index.html" target="_blank">Oudtshoorn</a> <strong>Route 62 </strong>and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/ladismith/index.html" target="_blank">Ladismith</a> lie to the west. Some 25km outside of <em>George </em> on the <strong>N12 </strong> is the juncture of the <strong>N9 </strong> that travels through the Karoo to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/index.html" target="_blank">Graaff-Reinet</a> and on to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/colesberg/index.html" target="_blank">Colesberg</a> where it joins the <strong>N1 </strong> ( See Route 1 ). <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/george/index.html" target="_blank">George</a> maintains the ambience of an unhurried seaside town, yet it hosted the thrilling 2003 Presidents Cup at the Links golf course at Fancourt, proving its sophisticated facilities for visitors. Its situation enables visitors to take myriad excursions, from spectacularly scenic drives to Outeniqua Choo-Tjoe steam train rides through the Lakes District and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/sedgefield/index.html" target="_blank">Sedgefield</a><em> &ndash; </em>with wonderful birdlife <em> - </em>to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/knysna/index.html" target="_blank">Knysna</a>. Guarded by two sandstone cliffs, The Heads, and famous for its oysters and yellowwood forests, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/knysna/index.html" target="_blank">Knysna</a> is linked to both the <strong>N9 </strong> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/plettenberg_bay/index.html" target="_blank">Plettenberg Bay</a> via the quite remarkable and magnificent Prince Alfred's Pass (very narrow and winding, travel very slowly and only in good weather!).</p>
<p>Some 35km along the <strong>N2 </strong> is the glitzy holiday resort of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/plettenberg_bay/index.html" target="_blank">Plettenberg Bay</a> and its more nature-focussed neighbours of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/plettenberg_bay/index.html" target="_blank">Keurboomstrand</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/plettenberg_bay/index.html" target="_blank">The Crags</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/plettenberg_bay/index.html" target="_blank">Nature's Valley</a>. <em>Plett </em> is renowned for its magnificent spacious stretches of beach and a spectacular, but mildly strenuous, walk can be taken to the end of the Robberg (mountain of seals) promontory. <br />
<br />
A short trip of 30km brings you to the Eastern Cape and to the awesome <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/tsitsikamma/index.html" target="_blank">Storms River</a> and the Tsitsikamma Coastal National Park. The sheer beauty of the area will remain one of your best images &ndash; an absolute must-see!! <br />
<br />
When you manage to drag yourself away from here, continue along the <strong>N2 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Humansdorp</a>, the gateway to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/st_francis_bay/index.html" target="_blank">St Francis Bay</a> with its distinctive white-walled, thatched-roof homes built on some 6km of canals at <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Cape St Francis</a>. 12km further on lies the home of the perfect wave &ndash; <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/jeffreys_bay/index.html" target="_blank">Jeffreys Bay</a>, a surfer's paradise just 80km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" target="_blank">Port Elizabeth</a><em>. </em>Almost midway from here to <em>PE </em> is the Van Stadens River Bridge, where the famous Apple Express - one of only two operational narrow-gauge steam trains in southern Africa - crosses the highest narrow-gauge bridge in the world. <br />
<br />
As the Eastern Cape holds the honour of Nelson Mandela's birthplace and his formative years, the friendly city (and the people are really friendly!) of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" target="_blank">Port Elizabeth</a> falls within the Nelson Mandela Bay district. Its breathtaking seashore has wide expanses of clean, golden sands while just 72km north of the city in the Sundays River Valley is the exceptional Addo Elephant National Park.<br />
<br />
<strong>Suggested stop or stretch towns on the N2: </strong> <em>Somerset West, Swellendam, Bredasdorp, Arniston, Witsand, Riversdale, Stilbaai, Albertinia, Mossel Bay, George, Wilderness, Knysna, Plettenberg Bay, Jeffreys Bay, Cape St Francis and Port Elizabeth. </em></p>
<p><strong>Suggested stop or stretch towns on Route 62: </strong><em> McGregor, Montagu, Ladismith and Oudtshoorn. </em></p>
<p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>