<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Messina - Zimbabwe on N1 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Messina - Zimbabwe on N1 - Mozambique on N4, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1</h1>
    <p><strong>Distance</strong>: 520 kilometers<br />
    <strong>Time</strong>: 5 hours 15 minutes</p>
    <p>The <strong>N1 </strong> north from <a href="http://booktravel.travel/accommodation/five_star_hotels/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> and <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> is The Great North Road to <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/musina/index.html" target="_blank">Messina</a> and the Beit Bridgeborderpost with Zimbabwe, a continuation of the Cape to Cairo road. <br />
<br />
Not far from the city limits are two distinctly different attractions in the <a href="http://essentialtravelinfo.com/view_establishment.html?code=131655" target="_blank">Mabopane</a> region &ndash; the Mabhoko Ndebele Cultural Village and the Morula Sun Casino. An interesting excursion as you leave the suburbs of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> is the Tswaing Crater Museum, popularly known as the Pretoria Saltpan or Zoutpan Crater. This 2 000-hectare site, 40km north-west of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> off the Hammanskraal road, represents one of the youngest and best preserved, small, bowl-shaped meteorite impact craters in the world. Back on the <strong>N1 </strong> you soon enter the province of the Baobab tree &ndash; Limpopo . The hot mineral springs of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/bela_bela/index.html" target="_blank">Bela-Bela</a> (formerly <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/bela_bela/index.html" target="_blank">Warmbaths</a>) are just 100km from <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a>. The town lies west off the <strong>N1 </strong> along the <strong>R516 </strong> that continues to the bushveld town of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/thabazimbi/index.html" target="_blank">Thabazimbi</a> via <a href="http://essentialtravelinfo.com/view_establishment.html?code=201303" target="_blank">Leeupoort</a> &ndash; both great game-viewing and 4X4 areas. Elephant and rhino are found in the nearby Marakele National Park. <br />
<br />
Rejoin the <strong>N1 </strong> to travel across the Springbok Flats to the genuine bushveld of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/modimolle/index.html" target="_blank">Modimolle</a> (formerly <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/modimolle/index.html" target="_blank">Nylstroom</a>), just off the <strong>N1 </strong>, where water birds thrive in the Nylsvley Nature Reserve. Further along the <strong>R33 </strong> is the town of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/vaalwater_and_waterberg/index.html" target="_blank">Vaalwater</a> where the collective <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/vaalwater_and_waterberg/index.html" target="_blank">'Waterberg'</a> area starts. Its name originates from the many streams and springs which flow from the Sand River Mountains, the Hoekberg, the Swaershoek Mountains and the Moepel Range. This is an ideal environment for wildlife with many game and nature reserves offering Big Five game-viewing. </p>
<p><a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mookgophong/index.html" target="_blank">Mookgophong</a> (formerly <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mookgophong/index.html" target="_blank">Naboomspruit</a>) after the ubiquitous naboom or Euphorbia tree species), some 175km along <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/polokwane/index.html" target="_blank">Polokwane</a> (formerly <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/polokwane/index.html" target="_blank">Pietersburg</a> ) and the principal town of the Capricorn Region. The board marking the Tropic of Capricorn can be seen just after the village of Mphakane west of the N1. Visit the Bakone Malapa Northern Sotho open-air museum just outside <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/polokwane/index.html" target="_blank">Polokwane</a>. <br />
<br />
<a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/polokwane/index.html" target="_blank">Polokwane</a> is the gateway to the Limpopo section of the Kruger National Park and a beautiful detour along the <strong>R71 </strong> will charm you starting with the beauty of the <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/limpopo/magoebaskloof/index.html" target="_blank">Magoebaskloof</a> area - the Land of the Silver Mists, indigenous forests and fly-fishing - and its village of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/limpopo/haenertsburg/index.html" target="_blank">Haenertsburg</a>. Continue travelling along the Wolkberg Mountains through this Valley of the Olifants to the town of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/tzaneen/index.html" target="_blank">Tzaneen</a> where the fascinating lifestyle of the Shangaan/Tsonga people can be experienced at the Tsonga Kraal Museum in the Hans Merensky Nature Reserve. The village of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/limpopo/gravelotte/index.html" target="_blank">Gravelotte</a> along the <strong>R71 </strong> is just 50km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/limpopo/phalaborwa/index.html" target="_blank">Phalaborwa</a> and the entry gate to the Kruger National Park. The area is famous for the African Marula tree and Amarula Cream Liqueur. The 18-hole golf course at the Hans Merensky Country Club, where the fairways border the Kruger National Park, is an experience not to be missed. <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/hoedspruit/index.html" target="_blank">Hoedspruit</a> and the Blyde River Canyon lie south of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/limpopo/phalaborwa/index.html" target="_blank">Phalaborwa</a> and are well worth the trip &ndash; the former for its many rehabilitation and game breeding centres and the latter for its awe-inspiring and majestic 26km-long gorge sculpted through the canyon by the Blyde River.the <strong>N1 </strong> from <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a>, has a number of mineral baths. Agriculture, mining and archaeology all feature in <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mokopane/index.html" target="_blank">Mokopane</a> (formerly <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mokopane/index.html" target="_blank">Potgietersrus</a>) and Makapans Valley, where bones of apemen who sheltered in the caves more than 3-million years ago were found, is fascinating. The <strong>N11 </strong> junction is at <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mokopane/index.html" target="_blank">Mokopane</a> and leads north-west to the Botswana borderpost of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/mokopane/index.html" target="_blank">Martin's Drift</a>. </p>
<p>Continuing along the <strong>N1 </strong> north, your journey takes you past the Ben Lavin Nature Reserve towards the densely forested Soutpansberg Mountains at the town of <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/limpopo/louis_trichardt/index.html" target="_blank">Louis Trichardt</a>). The spirit and traditions of the Venda people is palpable in this very beautiful wilderness where Bushmen preceded them and left examples of their art at the Lajuma and Medika rock art sites. To the north-east lies Thohoyandou, the proud heart of the vhaVenda people. The <strong>N1 </strong> continues its ascent of the mountains through the Hangklip Forest (great birdwatching) before descending into vast plains where the baobab and mopane trees reign supreme. Copper or &lsquo;musina' worked by the tribes near the Zimbabwe border was responsible for the naming of the most-northerly town in South Africa, <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/limpopo/musina/index.html" target="_blank">Musina</a> (formerly <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/limpopo/musina/index.html" target="_blank">Messina</a>). Apart from the wealth of game and cattle here, there is also the Venetia Diamond mine and the Vhembe Dongola National Park which houses the astonishing archaeological heritage site of Mapungubwe, dating back to around 1200 AD. </p>
<p><strong>Suggested stop or stretch towns on the N1: </strong><em>Mabopane</em>, <em>Bela-Bela/Warmbaths, Modimolle/Nylstroom, Mookgophong/Naboomspruit, Polokwane/Pietersburg, Makhado/Louis Trichardt and Musina/Messina. </em></p>
<p><strong>Suggested stop or stretch towns on the R516: </strong><em>Thabazimbi and Leeupoort </em></p>
<p><strong>Suggested stop or stretch towns on the R 33: </strong><em>Vaalwater and the Waterberg area. </em></p>
<p><strong>Suggested stop or stretch towns on the R71: </strong><em>Magoebaskloof area, Tzaneen, Phalaborwa, Hoedspruit (R40)</em></p>
<p>More Routes: </p>
<ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>