<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Kruger National Park - Mozambique on N4 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Kruger National Park - Mozambique on N4, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/dakensberg_water_carrier.gif" hspace="5" vspace="5" title="The Eastern Cape is home to incredible natural beauty and friendly people."></div>
    <h1 class="paragraphtext">JOHANNESBURG - KRUGER NATIONAL PARK - MOZAMBIQUE ON N4 </h1>
    <p><strong>Distance</strong>: 460 kilometers<br />
    <strong>Time</strong>: 4 hours 45 minutes</p>
    <p>The <strong>N4 </strong> traverses the entire width of South Africa , from the Botswana border in the west to the border of Mozambique in the east, with <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> as its focal point. <br />
 <br />
A 460 to 480km journey from Johannesburg brings you to one of two entry points of the wilderness where an enormous variety of enormous mammals still roam freely &ndash; the Kruger National Park . Without deviation from the <strong>N4 </strong> east, you will reach <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/mpumalanga/komatipoort/index.html" target="_blank">Komatipoort</a>, close to the Mozambique border, and the Crocodile Bridgeentry gate to the Park or, if you travel north along the <strong>R538 </strong> from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/nelspruit/index.html" target="_blank">Nelspruit</a> to <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/hazyview/index.html" target="_blank">Hazyview</a>, you will reach <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/mpumalanga/kruger_national_park/index.html" target="_blank">Skukuza</a> Camp via the Paul Kruger entry gate. <br />
<br />
Travel north of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> on the <strong>N1 </strong>through <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/midrand/index.html" target="_blank">Midrand</a> &ndash; a convention and conference centre - to join the <strong>N4 </strong> in <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a>, a city dominated by the elegant Union Buildings, startling jacaranda trees (in bloom October/November), graceful historic monuments and an ambience of understated sophistication. The Zoo is genuinely worth a visit, as is the Austin Roberts Bird Sanctuary. ( See Route 12 for the Tswaing Crater detour) </p>
<p><a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a><em> 's </em> major township, <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Mamelodi</a>, is a haven of endemic music genres music like African jazz, kwaito and umbhaqanga in its numerous taverns and shebeens  &ndash; book a tour for the best sounds. 50km east of the capital, <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/gauteng/bronkhorstspruit/index.html" target="_blank">Bronkhorstspruit</a> offers two cultural highlights &ndash; the Sizanani Ndebele Village and Fo Kuang Shan's Ran Hua Temple , a Buddhist spiritual retreat. </p>
<p>The eastern Highveld plains lead to the coal mining centre of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/witbank/index.html" target="_blank">Witbank</a>, the first major town in Mpumalanga province, with its dominant &lsquo;white ridge' and casino. <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/middelburg/index.html" target="_blank">Middelburg</a> follows soon and is part of &lsquo;The Cultural Heartland' route which encompasses not only the Ndebele culture but also facets of the Anglo-Boer War. Popular for trout fishing, the &lsquo;Highlands Meander' town of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/mpumalanga/belfast/index.html" target="_blank">Belfast</a> is filled with daffodil and tulip bloom in September. High up on the eastern escarpment, along the <strong>R540 </strong> just 35km north of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/mpumalanga/belfast/index.html" target="_blank">Belfast</a>, is the quaint sub-alpine village of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/dullstroom-emnotweni/index.html" target="_blank">Dullstroom</a> which is nothing but dull! Reminiscent of the Scottish Highlands, it is a mecca for fly-fishermen and raptor fundis. </p>
<p>Back on the <strong>N4 </strong>, the scenery surrounding <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/machadodorp/index.html" target="_blank">Machadodorp</a>will remind you of the movie &lsquo;A River Runs Through It' &ndash; the Elands River is filled with trout and baths have been built around the radioactive sulphur springs. Close by and still part of the Highlands Meander are the &lsquo;waterfall' towns of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/waterval-boven_and_waterval-onder/index.html" target="_blank">Waterval-Boven</a> (or &lsquo;Boven) and <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/waterval-boven_and_waterval-onder/index.html" target="_blank">Waterval-Onder</a> where you can view the remarkable old stone Five Arches Bridge and ZASM Railway Tunnel. Drive past slowly rather than stopping or take the steam train trip for the best vantage points. From here the descent into the Lowveld begins, and traders dot the verges of the road with seasonal tropical fruits and nuts. Look out for the turn-off to the Sudwala Caves with their life-size dinosaur display. This road ( <strong>R539 </strong>) continues to <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/sabie/index.html" target="_blank">Sabie</a>, <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/pilgrims_rest/index.html" target="_blank">Pilgrim's Rest</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/mpumalanga/graskop/index.html" target="_blank">Graskop</a>. </p>
<p><a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/nelspruit/index.html" target="_blank">Nelspruit</a> is perfectly situated as a base for visiting the Kruger National Park <em>, </em><a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/pilgrims_rest/index.html" target="_blank">Pilgrim's Rest</a>(a living gold rush museum village)<em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/mpumalanga/graskop/index.html" target="_blank">Graskop</a>(Big Swing gorge swing)<em>, </em><a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/kaapschehoop/index.html" target="_blank">Kaapschehoop</a>(horse trails), <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/barberton/index.html" target="_blank">Barberton</a>(ancient rock formations and Jock of the Bushveld) <em>, </em><a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/sabie/index.html" target="_blank">Sabie</a>(forests, waterfalls and streams) and <a href="http://booktravel.travel/accommodation/hotels/southern_africa/mozambique/noprovince/maputo/index.html" target="_blank">Maputo</a>(Mozambique). </p>
<p>If you choose to continue along the <strong>N4 </strong> you pass the village of Kaapmuiden, with the Kruger National Park to the north, before reaching <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/malalane/index.html" target="_blank">Malelane</a> which is also an entry point into the Park. You are now just 45km from <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/mpumalanga/komatipoort/index.html" target="_blank">Komatipoort</a> which in turn is 95km from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/mozambique/noprovince/maputo/index.html" target="_blank">Maputo</a> in Mozambique. <br />
<br />
If you choose to travel the 120km north from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/nelspruit/index.html" target="_blank">Nelspruit</a>to Skukuza Camp in the Park, take the <strong>R538 </strong> to the <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/nelspruit/index.html" target="_blank">Lowveld Botanic Gardens</a>(a little gem) and <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/white_river/index.html">White River</a> where the Casterbridge Shopping Centre has an animal petting farm to amuse children while the adults stock up on dried mango, strips of preserved guava and delicious preserves. Some 27km north is the Numbi gate to the Park, followed by the village of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/hazyview/index.html" target="_blank">Hazyview</a> 16km further along, and the Phabeni gate to the Park. Game lodges abound in the area &ndash; the <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/mpumalanga/sabi_sand_game_reserve/index.html" target="_blank">Sabi Sands Private Game Reserve</a> abuts the Kruger National Park and is home to camps like the exclusive Londolozi, Mala Mala and Sabi Sabi. Shangaan traditions can be experienced at the Shangana Cultural Village on the <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/mpumalanga/graskop/index.html" target="_blank">Graskop</a> road and awesome views of the Drakensbergawait you at the aptly-named God's Window.</p>
<p><strong>Suggested stop or stretch towns on the N4, R538 &amp; R539: </strong><em> Middelburg, Dullstroom 35km off N4, Machadodorp, Waterval-Boven, Sabie</em>, <em>Pilgrim's Rest, Graskop, Nelspruit, Kaapschehoop, Barberton, White River, Hazyview, Sabi Sands, Malelane and Komatipoort.</em></p>
<p>More Routes: </p>
  <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>