<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Colesburg - Bloemfontein on N1 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Colesburg - Bloemfontein on N1, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/clifton.gif" title="The Eastern Cape is home to incredible natural beauty and friendly people." width="350" height="493" hspace="5" vspace="5">Clifton Beach</div>
    <h1 class="paragraphtext">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</h1>
    <p><strong>Distance:</strong> 623 kilometers<br />
      <strong>Time:</strong> 6 hours 30 minutes</p>
    <p>The <strong>N1 </strong> traverses South Africa from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a> in the south to the <em>Beit Bridge </em> border post with Zimbabwe in the north. This makes it one of the most popular and well-used routes for driving to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a> from Gauteng, and it is certainly the most convenient and the fastest way of getting there, notwithstanding the constant, fast-moving traffic you will probably encounter. A less travelled, but nonetheless well-maintained, route is the <strong>N12 </strong> via <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/kimberley/index.html" target="_blank">Kimberley</a> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/beaufort_west/index.html" target="_blank">Beaufort West</a> where you join the <strong>N1 </strong> into <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a>. </p>
<p>The 400-odd kilometres between <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bloemfontein/index.html" target="_blank">Bloemfontein</a> may seem uninteresting, but there are some worthwhile side-trips. Some 30 minutes' south of Johannesburg International Airport are Gold Reef City with the adjacent Apartheid Museum and the township of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Soweto</a>. Stop off on the Vaal Meander to experience the arts and crafts, culture and cuisine of the border region between Gauteng and Free State . <br />
<br />
From Gauteng you cross the Vaal River into the Free State and enter the Vredefort Dome area &ndash; of which <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/parys/index.html" target="_blank">Parys</a> is the hub - created by a giant meteor impact some 2 000-million years ago. To your west lies <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/sasolburg/index.html" target="_blank">Sasolburg</a> and the Sasol chemical plant. Continue to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/kroonstad/index.html" target="_blank">Kroonstad</a> and through the goldfields of the Free State , named for the golden wheat and sunflower fields and for the gold mined here. Visit the Willem Pretorius Game Reserve with abundant game and birds. A detour along the <strong>R34 </strong> takes you to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/odendaalsrus/index.html">Odendaalsrus</a>, the oldest Free State goldfield, and its close neighbour <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/welkom/index.html" target="_blank">Welkom</a>. <br />
<br />
At <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/winburg/index.html" target="_blank">Winburg</a> there is a juncture with the <strong>N5 </strong> that will take you east towards <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/ficksburg/index.html" target="_blank">Ficksburg</a>, bordering <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/lesotho/index.html" target="_blank">Lesotho</a>, and to the fertile valley of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bethlehem/index.html" target="_blank">Bethlehem</a>, the village of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/clarens/index.html" target="_blank">Clarens</a> &ndash; gateway to the dramatic Golden Gate Highlands National Park where sunsets are not to be missed &ndash; and the border post of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/caledonspoort/index.html" target="_blank">Caledonspoort</a><em>. </em>Back on the <strong>N5 </strong> it continues to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/harrismith/index.html" target="_blank">Harrismith</a>, where the <strong>N3 </strong> south to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> can be followed. ( See Route 9 ) <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bloemfontein/index.html" target="_blank">Bloemfontein</a> is the capital of the Free State and has a game reserve in the city centre. From here you either continue along the <strong>N1 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a> or along the <strong>N6 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> . <br />
<br />
Along the <strong>N1 </strong>is the village of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/edenburg/index.html" target="_blank">Edenburg</a> and the hamlet of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/springfontein/index.html" target="_blank">Springfontein</a>, both farming areas offering a unique rural experience. Beyond is the largest (360km&sup2;) man-made dam in South Africa, <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/gariep_dam/index.html" target="_blank">Gariep Dam</a><em>, </em>where the <strong>R58 </strong> travels east to Venterstad with some notable race horse stud farms. The <strong>N1 </strong> enters the Northern Cape and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/colesberg/index.html" target="_blank">Colesberg</a>, some 200km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bloemfontein/index.html" target="_blank">Bloemfontein</a><em>, </em>is a traditional overnight stop in the Karoo. <br />
<br />
<strong>Suggested stop or stretch towns on the N1:</strong> Parys, Kroonstad, Winburg, Odendaalsrus &amp; Welkom 65km off N1, Bloemfontein, Edenburg, Springfontein, Gariep Dam, Venterstad 75km off the N1 and Colesberg. <br />
<br />
<strong>Suggested stop or stretch towns on the N5:</strong> Ficksburg, Bethlehem, Clarens and Caledonspoort.</p>
    <p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 2: <a href="../route2.html">COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12<br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>