<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Upington - Springbok on N14 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Upington - Springbok on N14, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14</h1>
    <p><strong>Distance</strong>: Jhb/Upington: 870 kilometers&nbsp;&nbsp; Upington/Springbok: 380 kilometers<br />
    <strong>Time</strong>: 12 hours 15 minutes</p>
    <p>A journey of close on 900km along the &lsquo;<strong>Trans-Kalahari</strong>' will bring you to the gateway for some of the most unusual and sought-after natural wonders such as the <strong>Fish River Canyon</strong>, <strong>Ai Ais Spa</strong>, the Boegoeberg Dam, the <strong>Augrabies Falls National Parks</strong> and, especially, the <strong>Kgalagadi Transfrontier Park</strong>. <br />
      <br />
The <strong>N14 </strong> is found midway between <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> and <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> and travels west through Gauteng to the West Rand town of Krugersdorp/Mogale City, an alternate entry point to The Cradle of Humankind ( See Route 13 ) and the Sterkfontein Caves. This western edge of the Witwatersrand is noted for its gold-mining activity which continues through <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/carletonville/index.html" target="_blank">Carletonville</a> in the North West province. Agriculture &ndash; particularly maize farming &ndash; then prevails through the towns of Ventersdorp and Coligny<em>. </em>Take a short detour to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/north_west/lichtenburg/index.html" target="_blank">Lichtenburg</a><em>, </em>where the greatest diamond claim rush in world history, involving approximately 25 000 diggers, occurred in 1927. Sunflowers nod you into Sannieshofwhere one of the last battles of the Anglo-Boer War was fought. Just 20km south along the <strong>N14 </strong> is the Barberspan Bird Sanctuary - a must-see for birders! Some 120km along the <strong>N14 </strong> is the Leon Taljaard Nature Reserve at the town of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/north_west/vryburg/index.html" target="_blank">Vryburg</a>, which is also the junction of the <strong>N18 </strong> from Mafikeng to <a href="http://booktravel.travel/accommodation/game_lodges/southern_africa/south_africa/northern_cape/kimberley/index.html" target="_blank">Kimberley</a> and the <strong>N12 </strong> ( See Routes 1 &amp; 4). Of interest along the <strong>N18 </strong> is <a href="http://booktravel.travel/accommodation/game_reserves/index.html" target="_blank">Taung</a> where Prof Dart found the Taung skull. The next town is the first you encounter in the Northern Cape. <a href="http://booktravel.travel/accommodation/game_lodges/southern_africa/south_africa/northern_cape/kuruman/index.html" target="_blank">Kuruman</a> is acknowledged as the oasis of the Kalahari because of The Eye, a natural fountain delivering nearly 20-million litres of clear water daily. Do visit the poignant Moffat Mission. <br />
<br />
As you near the iron-ore mining town of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/kathu/index.html" target="_blank">Kathu</a>, you notice the beautiful &lsquo;kameeldoring' or camel-thorn trees. <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a> lies 213km to the south-west of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/kathu/index.html" target="_blank">Kathu</a> &ndash; and there is nothing much in-between except some great 4X4 country! North of Upington on the <strong>R360 </strong> is the first officially-sanctioned Transfrontier Park in Africa, the Kgalagadi Transfrontier Park which combined the former Kalahari Gemsbok National Park with Botswana's Gemsbok Park in April 1999. Red sand dunes, Kalahari scrub and arid savannah offer one of the best game-viewing and wildlife photography opportunities on the planet. The park's entrance gate is some 250km from <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a>, with the last stretch on gravel. <br />
<br />
The beautiful but barren southern Kalahari is suddenly transformed into a lush, green, tranquil oasis as <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a> lies on the banks of the mighty Orange or Gariep River. This is the crossroads of the <strong>N14 </strong> and the <strong>N10 </strong> which travels north to Namibia and south to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/prieska/index.html" target="_blank">Prieska</a><em>, </em> also on the banks of the Orange River, albeit 200km south of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a>. A number of islands in the river at <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a> are farmed and are connected to the mainland by bridges. The largest of these, <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/northern_cape/kanoneiland/index.html" target="_blank">Kanoneiland</a>, is south-west of town along the <strong>N14 </strong> towards <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/keimoes/index.html" target="_blank">Keimoes</a>. Stretch your legs at the Tierberg Nature Reserve, noted for its many aloes and a lovely view across the Orange River Valley from the summit of the reserve. Some 55km further is the town of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/kakamas/index.html" target="_blank">Kakamas</a> where adventure sports like rafting, canoeing, hiking, desert adventures and Kalahari back-road safaris are arranged. 8km beyond <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/kakamas/index.html" target="_blank">Kakamas</a> is the road leading to only to the village of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/augrabies/index.html" target="_blank">Augrabies</a> and on to the spectacular Augrabies Falls National Park where the Orange River thunders through a ravine of ancient granite to rumble over the 56m falls. <br />
<br />
50km from the Namibian borderpost of Onseepkans is the semi-desert town of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/pofadder/index.html" target="_blank">Pofadder</a> where dorper and karakul sheep farming prevails. A quiver tree forest is of note. The 100km stretch of the Kalahari between <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/pofadder/index.html" target="_blank">Pofadder</a> and <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a> is broken by the mining complex at Aggeney sand the mission station village of Pella with its date palms. It is home to the only Catholic cathedral in the Northern Cape. The wide-open spaces and brilliant skies of <a href="http://booktravel.travel/accommodation/4x4/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a> await you. ( See Route 8 ). <br />
<br />
<strong>Suggested stop or stretch towns on the N14: </strong> Krugersdorp/Mogale City, Lichtenburg 26km off N14, Sannieshof, Kuruman, Upington <em>, </em>Prieska 200km off N14, Kakamas, Augrabies and Springbok. </p>
    <p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>