<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg/Pretoria - Magaliesburg - Botswana on N4 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg/Pretoria - Magaliesburg - Botswana on N4, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4</h1>
    <p><strong>Distance</strong>: 300 kilometers<br />
    <strong>Time</strong>: 3 hours 30 minutes</p>
    <p>If your leisure time is limited, hop onto the <strong>N4 </strong> west &ndash; an area favoured by <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> and <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a> residents over weekends - as it is a microcosm of much of what South Africa has to offer (excluding the beach!). <a href="http://booktravel.travel/accommodation/five_star_hotels/southern_africa/south_africa/north_west/sun_city/index.html" target="_blank">Sun City</a><em>, the </em><a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/pilanesberg_national_park/index.html" target="_blank">Pilanesberg National Park</a> and the <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/magaliesburg_surrounds/index.html" target="_blank">Magaliesberg</a> are the best-known attractions, but there are numerous other highlights along this route. <br />
<br />
Just 30 minutes' from <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a>, the <strong>N4 </strong> west passes through the <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/hartbeespoort_dam/index.html" target="_blank">Hartbeespoort Dam</a> area where your experience of the people of the North West province begins. A prettier access route from <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> runs along the <strong>R512 </strong>, past the mainly charter-flight airport of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/lanseria_airport/index.html" target="_blank">Lanseria</a> and an access point to The Cradle of Humankind - the world's richest hominid site containing evidence of our human ancestry (&lsquo;Mrs Ples' and &lsquo;Little Foot'). Within this 47 000 ha area are the Wonder Caves which are an integral part of the Rhino and Lion Nature reserve &ndash; a compact reserve with rhino, lion, cheetah, wild dogs, antelope and even a swimming pool at the picnic area. <br />
<br />
Back on the <strong>R512</strong>, the hills ahead signal the approach to <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/hartbeespoort_dam/index.html" target="_blank">Hartbeespoort Dam</a> and the some of the oldest mountains on earth, the Magaliesberg where vultures soar in the thermals. The Johannesburg-side shores of the Dam house a number of upmarket residential estate, among them Pecanwood, the Jack Nicklaus-signature golf course which you pass as the <strong>R512 </strong> continues towards the <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/hartbeespoort_dam/index.html" target="_blank">Skeerpoort</a> and <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/hartbeespoort_dam/index.html" target="_blank">Hekpoort</a> valleys and the village of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/magaliesburg_surrounds/index.html" target="_blank">Magaliesburg</a>. The Magalies Meander's points of interest are well indicated along the way; strawberry-picking, cane and wicker goods, hot-air ballooning, cheese farms &ndash; all supported with an array of accommodation ranging from game farms and elegant country lodges to simple self-catering cottages. To continue around the dam to rejoin the <strong>N4 </strong>, take the <strong>R512 </strong> across the water to the Dam Doryn Crossing where a host of informal traders offer the widest variety of pan-African arts and crafts. Numerous pubs and restaurants line the road &ndash; a main thoroughfare to <a href="http://booktravel.travel/accommodation/five_star_hotels/southern_africa/south_africa/north_west/sun_city/index.html" target="_blank">Sun City</a>and the <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/pilanesberg_national_park/index.html" target="_blank">Pilanesberg</a>. <br />
<br />
20 minutes' north of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/hartbeespoort_dam/index.html" target="_blank">Hartbeespoort</a> along the <strong>R511 </strong> is the bushveld town of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/brits/index.html" target="_blank">Brits</a> which serves many of the surrounding farms and mines in an area that produces exceptional granite. The De Wildt Cheetah Research Station and the Margaret Roberts Herbal Centre are open to the public on limited days. A surprising find off the <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/limpopo/thabazimbi/index.html" target="_blank">Thabazimbi</a> road north of town is the Borakalalo National Park where the birdlife is abundant among mammals such as rhino, giraffe and antelope. There are guided walking trails and overnight tents but it also makes a lovely day trip from <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a> or <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/gauteng/pretoria/index.html" target="_blank">Pretoria</a>. <br />
<br />
The <strong>R556 </strong> recommended route to <a href="http://booktravel.travel/accommodation/five_star_hotels/southern_africa/south_africa/north_west/sun_city/index.html" target="_blank">Sun City</a> off the <strong>N4 </strong> is both well signposted and well maintained, being one of South Africa's major attractions. This resort lies in an extinct volcanic crater, surrounded by the Pilanesberg Mountains and the not-to-be-missed <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/pilanesberg_national_park/index.html" target="_blank">Pilanesberg</a>National Park. The adjacent <a href="http://booktravel.travel/accommodation/five_star_hotels/southern_africa/south_africa/north_west/sun_city/index.html" target="_blank">Sun City</a> complex - with its own beach and waves, two internationally-renowned golf courses, casinos and myriad other forms of entertainment - makes this area a fabulous stopover &ndash; allow at least two days. More nature and less glitz is provided in the Park itself by a number of independently-operated lodges who provide the Big Five experience to guests. A fascinating game-viewing tour, operated by Mankwe Safaris, relates the Tswana culture to the fauna and flora seen on safari. Travel back to the <strong>N4 </strong> on the <strong>R565 </strong> via Boekenhoutfontein, Paul Kruger's homestead turned monument and museum. <br />
<br />
Back on the <strong>N4 </strong>, the small town of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/index.html" target="_blank">Kroondal</a> appears 7km before <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/rustenburg/index.html" target="_blank">Rustenburg</a>, where a circular game-viewing drive may be taken in the Kgaswane (Rustenburg) Nature Reserve. As you travel towards <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/swartruggens/index.html" target="_blank">Swartruggens</a> and <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/groot-marico/index.html" target="_blank">Groot-Marico</a>, you experience the enviable, uncluttered space of South Africa through quite beautifully wooded hills followed by the great plains leading to <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/zeerust/index.html" target="_blank">Zeerust</a> and Botswana . The <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/groot-marico/index.html" target="_blank">Groot-Marico</a> is the setting for many of the tales of the South African author Herman Charles Bosman (read &lsquo;A Sip of Jerepigo' en route) and the unique local produce is Mampoer, a clear, fruit-based spirit &ndash; some of which are presented with barbed wire around the bottle, warning of their potent contents! <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/zeerust/index.html" target="_blank">Zeerust</a>, some 50km from the Botswana borderpost, is an archetypal bushveld town. Pop in to the local hotel to experience both the old and the new South Africa . A really special bush experience lies in the Madikwe National Park north of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/north_west/zeerust/index.html" target="_blank">Zeerust</a> &ndash; with a variety of birds to make your head spin, the Big Five, a good concentration of the endangered wild dog and a number of elegant lodges (booking essential). The capital of the North West, <a href="http://essentialtravelinfo.com/view_establishment.html?code=LO1530" target="_blank">Mafikeng</a>, is just 55km south of Zeerust. </p>
<p><strong>Suggested stop or stretch towns on the N4: </strong><em>Sun City 79km off N4 on the Recommended Route , Pilanesberg National Park , Rustenburg and Groot-Marico. </em></p>
    <p><strong>Suggested stop or stretch towns on the R511 &amp; R512: </strong><em>Lanseria area </em>, <em>Hartbeespoort, Dam and Brits. </em></p>
<p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>