<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Drakensberg - Durban on N3 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Drakensberg Durban on N3, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/drakensberg_old_farmhouse.jpg" alt="Accommodation in Cape Town, South AFrica" hspace="5" vspace="5" title="The Eastern Cape is home to incredible natural beauty and friendly people.">Drakensberg</div>
    <h1 class="paragraphtext">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3</h1>
    <p><strong>Distance</strong>: 570 kilometers<br />
    <strong>Time</strong>: 5 hours 30 minutes</p>
    <p>This is one of the busiest routes over Easter, Christmas and school holidays as it leads not only to the north and south coast resorts around <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a>, but also to the mighty <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Drakensberg</a> &ndash; a World Heritage Site &ndash; both being favoured by the very busy &lsquo;Gautengers' as easily-accessible holiday spots. <br />
<br />
Leaving the industrial areas of Johannesburg, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/greater_east_rand/index.html" target="_blank">Alberton</a> is just 15km south-east of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Johannesburg</a>. Apart from being home to Newmarket Race Course, its township of Thokoza honours the victims of political conflict during the Apartheid era. Head off to Heidelbergwith its charming Suikerbosrand Nature Reserve and Motor Museum before crossing the Vaal River and reaching <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/villiers/index.html" target="_blank">Villiers</a> &ndash; a good refreshment point, and the entry to the Free State province with its maize fields. A prominent sandstone church steeple announces your arrival at <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/index.html" target="_blank">Warden</a>, after which the mountains of Lesotho become apparent in the distant east behind the maize fields. <br />
<br />
Some 110km south along the <strong>N3 </strong> you find the juncture of the <strong>N5 </strong> from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bloemfontein/index.html" target="_blank">Bloemfontein</a>( See Route 1 )at <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/harrismith/index.html" target="_blank">Harrismith</a>, midway to Durban . Situated at the distinctive Platberg (flat) Mountain, its township of Intabazwe offers you a fascinating insight into Sotho and Zulu culture with their generous spirit of 'ubuntu'. Flower fundis will enjoy the Platberg Wild Flower Gardens. <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/harrismith/index.html" target="_blank">Harrismith</a> is also a gateway to the <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Drakensberg</a> via the Oliviershoek Pass into KwaZulu-Natal or the <strong>R712 </strong> to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/index.html" target="_blank">Qwa-Qwa</a> and Golden Gate Highlands National Park.</p>
<p>Ox-wagons, Voortrekkers and armies have passed through <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/index.html" target="_blank">Swinburne</a>, just before the village of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/index.html" target="_blank">Van Reenen</a> and the pass which descends into KwaZulu-Natal over the northern reaches of the <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Drakensberg</a>. The 8-seater Llandorf Oratory Chapel is popular for weddings &ndash; the smallest in the world? <br />
<br />
A worthwhile detour for those interested in the Anglo-Boer War is the 15km trip along the <strong>N11 </strong> to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/ladysmith/index.html" target="_blank">Ladysmith</a>. From here the battlefields of Spioenkop, Vaalkrans, Colenso, Tugela Heights , Elandslaagte and Wagon Hill/Platrand can be easily accessed. Day trips include Rorke's Drift, Isandlwana and the Blood River Monument . The Museum offers a good overview if time is tight. <br />
<br />
To the west are the majestic <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Drakensberg</a> and the towns of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Bergville</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/drakensberg_central/index.html" target="_blank">Winterton</a>, access points for resorts in the northern and central reaches of the 'Berg, including the Royal Natal National Park . Watch the signage on the <strong>N3 </strong> for the best access to your chosen resort. Further south and just off the <strong>N3 </strong> is <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/estcourt/index.html" target="_blank">Estcourt</a>, gateway to an abundance of wildlife and game reserves. <br />
<br />
A worthwhile detour is the arts and crafts route, The Midlands Meander, stretching from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/mooi_river/index.html" target="_blank">Mooi River</a> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/hilton/index.html" target="_blank">Hilton</a> along both sides of the <strong>N3 </strong>. Although the area covered is relatively small, it is dotted with really unusual, quality craft outlets on farms and in small hamlets and is worthy of at least 2 days' exploration. Overnight at <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/howick/index.html" target="_blank">Howick</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/hilton/index.html" target="_blank">Hilton</a><em>, </em>Rosettaor <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/nottingham_road/index.html" target="_blank">Nottingham Road</a> before continuing to the capital of KZN, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/pietermaritzburg/index.html" target="_blank">Pietermaritzburg</a>, between the subtropical coastline and the majestic Drakensberg Mountains. <br />
<br />
&lsquo; Maritzburg hosts a number of world-renowned events &ndash; the Dusi Canoe Marathon (January), the awesome Midmar Mile, the longest inland swimming marathon in the world and the Comrades Marathon (June) - legendary for the stamina required to run the 88km up or down to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a>. This elegant city buzzes with myriad cultures and the city reflects their impact. <br />
<br />
As you head towards the ocean you travel through the Valley of 1,000 Hills, forged through the centuries by the Umgeni River, and reach <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Pinetown</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html">Kloof</a> &ndash; each a good base from which to explore this area. <br />
<br />
Your journey of some 600km culminates at <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> ( <a href="http://essentialtravelinfo.com/route7.vm">See Route 7</a> ), where kilometres of beach lie to the north and south along the <strong>N2. </strong> ( See Route 7 &amp; Route 10 ) <br />
<br />
<strong>Suggested stop or stretch towns on the N3: </strong><em>Heidelberg , Harrismith, Drakensberg, Estcourt, Ladysmith, Mooi River, Howick, Hilton, Nottingham Road , Pietermaritzburg, Pinetwon, Kloof, Hillcrest and Durban. </em></p>
<p>More Routes: </p>
<ul>
<li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
      <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>