<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Port ELizabeth - East London - Wild Coast - Durban on N2 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Port ELizabeth - East London - Wild Coast - Durban on N2, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/umlhanga_lighthouse.jpg" hspace="5" vspace="5" title="The Eastern Cape is home to incredible natural beauty and friendly people.">Umhlanga</div>
    <h1 class="paragraphtext">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2</h1>
    <p><strong>Distance</strong>: 900 kilometers<br />
    <strong>Time</strong>: 9 hours 30 minutes</p>
    <p>The quickest route between <em>PE </em> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> (300km) is along the <strong>N2 </strong> or Settlers Way via <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/grahamstown/index.html" target="_blank">Grahamstown</a><em>, </em>130km from <em>PE </em> and an acknowledged centre for arts and culture. Some beautiful views await you along the next stretch of road, which crosses the Great Fish River just before the rural village of Peddie, an area beset by friction during the Frontier Wars. Look out for the remains of watch towers along the ridges of the hills.<br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/king_williams_town/index.html" target="_blank">King William's Town</a><em>, </em>capital of the Eastern Cape , is home to Fort Hare , alma mater of former President Nelson Mandela. Children will be charmed by Huberta the hippopotamus &ndash; who wandered here from KwaZulu-Natal &ndash; and whose story lives on in the Amathole Museum . A short 56km takes you into the harbour city of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a><em>. </em>( See Route 3 ) <br />
<br />
The scenic coastal route between <em>PE </em> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> follows the <strong>R72 </strong> and leads to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/alexandria/index.html" target="_blank">Alexandria</a>, site of the Alexandria Dunefield, one of the largest active dunefields in the world. The seaside holiday villages of Boesmansriviermond and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Kenton-on-Sea</a> are 25km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/port_alfred/index.html" target="_blank">Port Alfred</a> with its golden beaches and the wide Kowie River . The village of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/bathurst/index.html" target="_blank">Bathurst</a> with its strong 1820 British Settler-feel, is 10 minutes' to its north. Continue along the coast to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> or join the <strong>N2 </strong> along the Bathurst/Grahamstown road. <br />
<br />
The continuation of the <strong>N2 </strong> from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> is the shortest route to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> in KwaZulu-Natal (KZN). It travels slightly inland from the coast, mainly through rural areas of the region previously known as Transkei. This is the best route to take to access the Wild Coast &ndash; a 270km stretch of glorious, untamed and pristine coastline stretching from the Great Kei River to the border of KZN &ndash; an unforgettable detour. There are some resort hotels at <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/kei_mouth/index.html" target="_blank">Kei Mouth</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Mazeppa Bay</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Hole in the Wall</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Coffee Bay</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Mbotyi</a> together and some provincial coastal nature reserves (advance booking is essential) but facilities are limited along the route, and be aware of roving cattle and sheep.<br />
<br />
Some 230km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> lies <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/wild_coast/index.html" target="_blank">Umtata</a> where the Nelson Mandela Museum chronicles his astonishing life. The Madiba Trail leads hikers to the village of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/wild_coast/index.html" target="_blank">Qunu</a> where the former President was raised. </p>
<p><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/kokstad/index.html" target="_blank">Kokstad</a> is the first town you enter in KZN. Here the <strong>N2 </strong> travels south-east along the Indian Ocean seaboard through the south coast villages that dot the coast to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> for 170km. The major towns are <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/port_shepstone/index.html" target="_blank">Port Shepstone</a><em>, </em><a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/scottburgh/index.html" target="_blank">Scottburgh</a> and <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/umhlanga_rocks/index.html" target="_blank">Umhlanga Rocks</a>, all with excellent facilities and plenty to do and see. </p>
<p>The cosmopolitan harbour city of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> is hugely popular with South Africans and it separates the less-concentrated towns and villages and north coast resorts ( See <a href="http://essentialtravelinfo.com/route10.vm">Route 10</a> ) from the more established, denser-populated resorts on the south coast. Its laid-back ambience puts you in holiday mode instantly and masks its underlying sophisticated infrastructure which includes myriad restaurants and accommodation establishments, a fabulous Oceanarium, beachfront casino etc. <br />
<br />
<strong>Suggested stop or stretch towns on the N2: </strong>Grahamstown <em>, </em> King William's Town, East London , Wild Coast , Umtata , Kokstad, Port Shepstone, Scottburgh, Umhlanga Rocks and Durban . </p>
<p>More Routes: </p>
  <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO</a><a href="../route7.html"><br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>