<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Kimberley - Beaufort West on N12 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Kimberley - Beaufort West on N12, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/muizenburg.gif" title="The Eastern Cape is home to incredible natural beauty and friendly people." width="350" height="493" hspace="5" vspace="5">Muizemberg</div>
    <h1 class="paragraphtext">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</h1>
    <p><strong>Distance</strong>: 935 kilometers<br />
    <strong>Time</strong>: 9 hours 15 minutes</p>
    <p>The aptly-named &lsquo; <strong>N12 </strong> Treasure Route ' traverses some of South Africa 's richest gold and diamond mining regions, historical towns and vast agricultural areas. It is accessed just south of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/gauteng/johannesburg/index.html" target="_blank">Soweto</a> ( see Route 1 ) and takes you from Gauteng to the North West Province in under an hour. <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/north_west/potchefstroom/index.html" target="_blank">Potchefstroom</a>, the oldest town north of the Vaal River , not only hosts the annual (September/October) Aardklop National Arts Festival but is a centre for both educational and sporting disciplines. <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/north_west/klerksdorp/index.html" target="_blank">Klerksdorp</a><em>, </em>birthplace of Nobel laureate and Archbishop emeritus Desmond Tutu, is the heart of a gold and uranium mining region. South of the city en route to Wolmaransstad are private lodges offering game-viewing and good fishing. Also along the <strong>N12 </strong> is Goudkoppie, showing the original gold diggings and the replica of a 300-year old Tswana headman's kraal. As you continue along the <strong>N12 </strong> to Bloemhof the vistas are endless in a predominantly flat region where fields of maize and groundnuts are punctuatued with towering grain silos. Stretch your legs at the Bloemhof Dam. Sulphur springs and diamond diggings are found on the way to Christiana. <br />
<br />
The village of Windsorton just off the <strong>N12 </strong> is reminiscent of the early alluvial diamond diggers. This <strong>R374 </strong> road continues to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/barkly_west/index.html" target="_blank">Barkly West</a>, gateway to the Vaalbos National Park. Just before Warrenton the Vaal River forms the border between North West, Free State and the Northern Cape provinces. The town itself marks the start of your journey through the Northern Cape and is the junction where the <strong>N18 </strong> from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/north_west/index.html" target="_blank">Mafikeng</a> joins the <strong>N12 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/kimberley/index.html" target="_blank">Kimberley</a>. <br />
<br />
The numerous, unusual and often truly unique attractions (such us the only guided underground tour of a working diamond mine in the world) in <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/kimberley/index.html" target="_blank">Kimberley</a> and its central situation make it not only a good stopover point, but also a worthwhile mini-stay destination: historic pubs, a fabulous art gallery, the Big Hole, the Freddie Tait Golf Museum etc, etc &ndash; all well worth the visit! <br />
<br />
South of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/kimberley/index.html" target="_blank">Kimberley</a> the Karoo scrub plains become more evident as you travel through Hopetown, site of the first diamond discovery, the 'Eureka' diamond, then Strydenburg, <a href="http://booktravel.travel/accommodation/lodges/southern_africa/south_africa/northern_cape/index.html" target="_blank">Britstown</a> and on to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/victoria_west/index.html" target="_blank">Victoria West</a> home of the oldest working art deco cinema in South Africa, the Apollo Theatre. At Britstown the <strong>N10 </strong> from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/upington/index.html" target="_blank">Upington</a> continues to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/de_aar/index.html" target="_blank">De Aar</a> , <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/cradock/index.html" target="_blank">Cradock</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html" target="_blank">Port Elizabeth</a>. Continue down the <strong>N12 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/beaufort_west/index.html" target="_blank">Beaufort West</a> (see <a href="http://essentialtravelinfo.com/route2.vm">Route 2</a>) where you find the juncture of the <strong>N1 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.htm" target="_blank">Cape Town</a>, or the continuation of the <strong>N12 </strong> to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/george/index.html" target="_blank">George</a> and the <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/george/index.html" target="_blank">Garden Route</a>. </p>
<p>At <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/victoria_west/index.html" target="_blank">Victoria West</a>, take the Old Cape Road alternative route on the <strong>R63/R356 </strong> via Loxton, Fraserburg (dinocephalian footprints and Gans/Garsfontein Palaeosurface) and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/sutherland/index.html" target="_blank">Sutherland</a> (home to the South African Observatory), before rejoining the <strong>N1 </strong> to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.htm" target="_blank">Cape Town</a> at <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/western_cape/matjiesfontein/index.html" target="_blank">Matjiesfontein</a>. <br />
<br />
<strong>Suggested stop or stretch towns on the N12: </strong> Potchefstroom, Klerksdorp, Kimberley, Britstown, Victoria West and Beaufort West.</p>
  <p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2: <a href="../route2.html">COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>