<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Bloemfontein - East London on N6 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Bloemfontein - East London on N6, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">BLOEMFONTEIN - EAST LONDON ON N6</h1>
    <p><strong>Distance</strong>: 570 kilometers<br />
    <strong>Time</strong>: 5 hours 30 minutes</p>
    <p>The &lsquo;Friendly <strong>N6' </strong> aptly describes the hospitality you will find on this less-travelled route to the south-eastern coast. <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/smithfield/index.html" target="_blank">Smithfield</a> is a quaint, charming village with a golf course, historical buildings and heritage sites, a number of which offer super accommodation. At <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/index.html" target="_blank">Rouxville</a>, a worthwhile side-trip is to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/zastron/index.html" target="_blank">Zastron</a>, 30km east along the <strong>R26 </strong> and close to the Lesotho border. With its dramatic backdrop of the Aasvoelberg mountains and the 9m hole in the sandstone, known as The Eye, the area is filled with San rock art. <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/aliwal_north/index.html" target="_blank">Aliwal North</a> is the first town you encounter in the Eastern Cape and its hot springs will refresh children and adults alike. A fabulous 55km detour to the east on the <strong>R58 </strong> takes you across spectacular Joubert's Pass (third-highest pass in the country) to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/lady_grey/index.html" target="_blank">Lady Grey</a>, the birthplace of Olive Schreiner and home to the Dinosaur Project as the area is rich in fossil beds and rock art. <br />
<br />
Back on the <strong>N6 </strong> the road travels through rugged, hilly country - on the verge of the Great Karoo - blanketed with fine sheep farms. <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/queenstown/index.html" target="_blank">Queenstown</a> is noted for its original hexagonal layout to ensure its effective defence against attack. To the south is <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/index.html" target="_blank">Cathcart</a> followed by the town of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/stutterheim/index.html" target="_blank">Stutterheim</a>, nestled on the slopes of the Kologha Mountains . Just before entering <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/eastern_cape/stutterheim/index.html" target="_blank">Stutterheim</a>, near Dohne, look out for the Mgwali Cultural Village signs&ndash; this authentic, welcoming Xhosa village has a museum and always offers traditional garments for sale although traditional meals and cultural tours are available by arrangement. <br />
<br />
A short 80km through coastal hills brings you to the harbour city of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a>, gateway to both the Sunshine Coast and the Wild Coast. Although windy at times<em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/eastern_cape/east_london/index.html" target="_blank">East London</a> has uncrowded lagoons, bays, rocky outcrops and golden beaches where swimming, surfing and angling are all excellent. The East London Museum houses the first discovered coelacanth and the only Dodo egg in existence among its fine natural history collections. The 1991 wreck of the Oceanos forms part of the maritime exhibition. <br />
<br />
<strong>Suggested stop or stretch towns on the N6: </strong>Smithfield, Zastron 30km off N6, Aliwal North, Burgersdorp 55km off N6, Queenstown, Stutterheim and East London. </p>
<p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><a href="../route2.html"><br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 2: <a href="../route2.html">COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1</a><a href="../route3.html"><br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12<br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>