<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Johannesburg - Swaziland - North Coast on N2/N17 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Johannesburg - Swaziland - North Coast on N2/N17, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</h1>
    <p><strong>Distance</strong>: 430 kilometers<br />
    <strong>Time</strong>: 4 hours 15 minutes</p>
    <p>The East Rand, through which the <strong>N17 </strong> first passes as it travels east to Swaziland, refers to the eastern section of the Witwatersrand (white waters ridge) from which much of the world's gold is extracted. Its beauty is &lsquo;within' and not in its apparent mining and industrial nature. Simply remember the romantic lure of gold to former prospectors and enjoy the simply wonderful summer and winter weather in Gauteng , and you can appreciate why it remains the most-densely populated province in the country with the most industrious and resilient of people! Although the discovery of coal gave birth to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/gauteng/greater_east_rand/index.html" target="_blank">Springs</a>, it was the discovery of gold that nurtured its growth. </p>
As you bypass the town of Devonand enter Mpumalanga , there is some agriculture, but the predominant features of the area up to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/secunda/index.html" target="_blank">Secunda</a> are the smoke stacks and headgears associated with power stations and various mining activities. Mining still features around <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/bethal/index.html" target="_blank">Bethal</a> as does sunflower and potato farming (try the Potato Festival in May).
<p><a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/ermelo/index.html" target="_blank">Ermelo</a>, 205km from Johannesburg , is an important grass and wetland region and has the largest selection of Pin Oak trees in South Africa . Even if your final destination is the KZN north coast ( <strong>N2 </strong>), take the 28km trip to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/mpumalanga/chrissiesmeer/index.html" target="_blank">Chrissiesmeer</a> along the <strong>N17 </strong>. Some 270 lakes and pans - host to thousands of flamingo each year - are located within a 20km radius of the village. This is &lsquo;Matotoland' &ndash; land of the frogs, and of course, birds. </p>
<p>Travellers to Swaziland continue along the <strong>N17 </strong> through plantations for some 85km until they reach the Oshoek borderpost, 23km from the Swazi capital of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/swaziland/noprovince/mbabane/index.html" target="_blank">Mbabane</a>. <br />
<br />
If your destination is the KZN north coast &ndash; be it the World Heritage site of the <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/st_lucia/index.html" target="_blank">St Lucia Wetland Park</a> or the coastal resorts running from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/richards_bay/index.html" target="_blank">Richards Bay</a> to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> &ndash; take the <strong>N2 </strong> from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/ermelo/index.html" target="_blank">Ermelo</a> to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/piet_retief/index.html" target="_blank">Piet Retief</a><em>. </em>Also close to the Swazi border, <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/mpumalanga/piet_retief/index.html" target="_blank">Piet Retief</a> is 460km from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a>, has a flourishing timber industry and is home to a large German community. The influences of this community can be appreciated on a detour along the <strong>R33 </strong> to <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/kwazulu-natal/paulpietersburg/index.html" target="_blank">Paulpietersburg</a> and <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/vryheid/index.html" target="_blank">Vryheid</a>, one of the best points from which to explore the battlefields. Natural mineral spas in this region have made it a premier source of bottled mineral water. <br />
<br />
Lush, subtropical <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/pongola/index.html" target="_blank">Pongola</a>, along the <strong>N2 </strong>, is a gateway to Swaziland and some fabulous game reserves, and leads to the village of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/kwazulu-natal/mkuze/index.html" target="_blank">Mkuze</a> an entry point for Sodwana Bay National Park . With its stunning coral reefs and wealth of marine and land-based wildlife, Sodwana is recognised as one of the top scuba-diving sites in the world. <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/hluhluwe/index.html" target="_blank">Hluhluwe</a>, just off the <strong>N2 </strong> some 50km south, is the village that serves the St Lucia Wetland Park <em> &ndash; </em>a complex of shallow lakes with five distinct ecosystems supporting, elephant, leopard, buffalo and rhino as well as over 400 species of birds! </p>
<p>Hluhluwe-Imfolozi Park , best accessed through <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/mtubatuba/index.html" target="_blank">Mtubatuba</a>, is the second-oldest reserve in the world and is home to the largest population of Black and White Rhino worldwide It offers one of the best and most unobtrusive hides overlooking a water hole for possible Big Five game-viewing. The deep-water harbour of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/richards_bay/index.html" target="_blank">Richards Bay</a> has a surprising Game Sanctuary and Park and if you missed them up north, view crocs at the Crocodile Sanctuary. </p>
<p>The <strong>N2 </strong> coastal road begins at <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/mtunzini/index.html" target="_blank">Mtunzini</a> and this 150km stretch of the north coast to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> is dotted with holiday villages, mostly around lagoons, with fabulous beaches and relaxed people. The warm, subtropical climate makes this area even a great winter destination. It is referred to as the Dolphin Coast as they favour this stretch of coastline with its relatively clear and shallow water, allowing them to swim close to shore, and it extends from <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/zinkwazi_beach/index.html" target="_blank">Zinkwazi</a> in the north, past the superb golfing estate of <a href="http://booktravel.travel/accommodation/self_catering/southern_africa/south_africa/kwazulu-natal/zimbali/index.html" target="_blank">Zimbali</a>, to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/ballito/index.html" target="_blank">Ballito</a> in the south. The Sugar Coast &ndash; indicative of the rolling sugar cane fields &ndash; runs from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/kwazulu-natal/la_mercy/index.html" target="_blank">La Mercy</a>, through <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/umdloti/index.html" target="_blank">Umdloti</a> and past the golfing estate of Mount Edgecombeto vibrant <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/umhlanga_rocks/index.html" target="_blank">Umhlanga Rocks</a>. <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/kwazulu-natal/durban_central/index.html" target="_blank">Durban</a> is just 10 minutes' away. ( See Route 7 ) </p>
<p><strong>Suggested stop or stretch towns on the N17: </strong><em>Ermelo and Chrissiesmeer. </em></p>
<p><strong>Suggested stop or stretch towns on the N2: </strong><em> Piet Retief, Paulpietersburg and Vryheid 35 - 85km off N2, Pongola, Mkuze, Hluhluwe, Mtubatuba, Richards Bay, Mtunzini, Zinkwazi Beach, Ballito, Umhlanga Rocks and Durban.</em></p>
<p>More Routes: </p>
<ul>
<li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
      <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>