<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Bloemfontein - Lesotho on N8 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Bloemfontein - Lesotho on N8, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"></div>
    <h1 class="paragraphtext">BLOEMFONTEIN - LESOTHO ON N8</h1>
    <p><strong>Distance</strong>: 150 kilometers<br />
    <strong>Time</strong>: 1 hours 30 minutes</p>
    <p><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/bloemfontein/index.html" target="_blank">Bloemfontein</a> is the junction at which the <strong>N8 </strong> travels east from the <strong>N1 </strong> to the mountain kingdom of Lesotho. Just 65km from <em>Bloem </em> is the Tswana-dominated town of <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/thaba_nchu/index.html" target="_blank">Thaba &lsquo;Nchu</a> with its landmark mountain and casino, followed by the village of Tweespruit. Art lovers should visit the mission here to view work by Claerhout. <br />
<br />
Wheat fields surround <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/ladybrand/index.html" target="_blank">Ladybrand</a> and its characteristic sandstone buildings. The Tandjesberg Rock Art site and the numerous fossils and Stone Age implements in this basin confirm our ancestors' presence in the area. <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/ladybrand/index.html" target="_blank">Ladybrand</a> is the gateway to the more scenic, though longer, route via <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/free_state/ficksburg/index.html" target="_blank">Ficksburg</a> to the Golden Gate National Park with its awesome rock formations. To its south along the <strong>R26 </strong>and just 8km from Lesotho is <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/free_state/wepener/index.html" target="_blank">Wepener</a>, site of the Sotho mountain fortress, Thaba Bosiu. <br />
<br />
The main border post at Maseru Bridge is just 15km from <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/free_state/ladybrand/index.html" target="_blank">Ladybrand</a>. Lesotho is known for its distinctive grass hats, woven fabric and pony-trekking. </p>
<ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2: <a href="../route2.html">COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12<br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a></li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>