<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Cape Town - Springbok on N7: The West Coast - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Cape Town - Springbok on N7: The West Coast, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/hout_bay.gif" alt="Accommodation in Cape Town, South AFrica" hspace="5" vspace="5" title="The Eastern Cape is home to incredible natural beauty and friendly people.">Hout Bay</div>
    <h1 class="paragraphtext">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</h1>
    <p><strong>Distance</strong>: 570 kilometers<br />
    <strong>Time</strong>: 5 hours 30 minutes</p>
    <p> <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/index.html" target="_blank">Garies</a> is the first Northern Cape town you encounter and is noted for its display of spring flowers, as is <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/index.html" target="_blank">Kamieskroon</a> 67km south of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a>. The nearby Paulshoek community offer a fascinating cultural experience in matjeshutte (reed huts) together with traditional cuisine. <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a>, notable for its kokerboom trees, is the hub of Namaqualand and the Info Office is a mine of information during the busy &lsquo;flower season' (July/September). It is also a perfect stopover to the Richtersveld National Park - one of the world's most awesome yet fragile ecosystems &ndash; to be accessed only by seriously self-reliant, fully equipped, 4X4 travellers! The Vioolsdrif borderpost with Namibia is 115km north of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a>. </p>
<p>42km north of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/springbok/index.html" target="_blank">Springbok</a> on the <strong>N7 </strong> is a turn-off to <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/port_nolloth/index.html" target="_blank">Port Nolloth</a> where crayfish and rock lobster are almost always on the menu. This is also the only access point to the &lsquo;diamond' town of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/index.html" target="_blank">Alexander Bay</a>. <strong>Suggested stop or stretch towns on the N7: </strong> Melkbosstrand, Yzerfontein, Langebaan, Saldanha, St Helena Bay, Ceres, Lambert's Bay, Vanrhynsdorp, Springbok and Port Nolloth 85km off N7 </p>
<p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 2:<a href="../route2.html"> COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8<br />
      </a><br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12</a><a href="../route4.html"><br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>