<head>
<link rel="stylesheet" href="template2.css">
<title>Self-Drive Tourist Routes Through South Africa: Colesberg - Beaufort West - Cape Town on N1 - Book Travel</title>
<meta name="keywords" content="Self-drive routes through South Africa, Colesberg - Beaufort West - Cape Town on N1, Visit Southern Africa, Namibia, Zambia, Zimbabwe, Mozambique, Swaziland, Lesotho, Botswana, accommodation, actvities, places to stay, hotels, attractions" />
<meta name="description" content="Accommodation, Attractions, Visitor Information and More at Book Travel - Self-Drive Tourist Routes Through South Africa" />
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">South Africa</div>
	<div class="contentmainheading">
	  <h2>Self-Drive Tourist Routes - South Africa</h2>
  </div>
</div>


<div class="row">
  <div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/greyton.gif" title="The Eastern Cape is home to incredible natural beauty and friendly people." width="350" height="493" hspace="5" vspace="5">Cottage in Greyton</div>
    <h1 class="paragraphtext">COLESBERG - BEAUFORT WEST - CAPE TOWN ON N1</h1>
    <p><strong>Distance</strong>: 780 kilometers<br />
    <strong>Time</strong>: 11 hours</p>
    <p>The author, Olive Schreiner, referred to <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/hanover/index.html" target="_blank">Hanover</a> as 'the prettiest little village I have ever seen'. Just 73km along the <strong>N1 </strong>beyond <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/northern_cape/colesberg/index.html" target="_blank">Colesberg</a>,   it offers authentic Karoo hospitality. Schreiner's account of Karoo life in &lsquo;The Story of an African Farm' is a wonderful companion on this journey! As you travel through <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/northern_cape/richmond/index.html" target="_blank">Richmond</a> to <a href="http://essentialtravelinfo.com/view_establishment.html?code=200948" target="_blank">Three Sisters</a>, named for its landmark, flat-topped hills you pass the ubiquitous windmills and sheep farms responsible for Karoo lamb - meat much-loved by South Africans. <br />
<br />
<a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/beaufort_west/index.html" target="_blank">Beaufort West</a>, home of the late pioneering heart surgeon Prof Chris Barnard, is the first major town you encounter in the Western Cape . Here the Karoo National Park , a sample of the Great Karoo, is a must-see &ndash; visit or stay over. Children's love of dinosaurs will be enhanced by the fossil trail; the park has one of the largest-known concentrations of black eagle and it is also trying to rebreed the extinct quagga (related to the zebra) through artificial selection. </p>
<p>A fabulous 45km detour at Prince Albert Road is to the village of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/prince_albert/index.html" target="_blank">Prince Albert</a>, famed for its cuisine (The Blue Train serves Prince Albert Royal Cheese) and the awesome Swartberg Pass. <br />
<br />
27km west of <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/laingsburg/index.html" target="_blank">Laingsburg</a> is the former Victorian spa and health resort, <a href="http://booktravel.travel/accommodation/hotels/southern_africa/south_africa/western_cape/matjiesfontein/index.html" target="_blank">Matjiesfontein</a>, now a national monument in its entirety. Touws River is the gateway town to <strong>Route 62 </strong>, &lsquo;The Longest Wine Route in the World'. Some 140km from <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a>, the <strong>N1 </strong> passes through the rugged beauty of the fertile Hex River Valley and the town of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/de_doorns/index.html" target="_blank">De Doorns</a> before reaching <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/worcester/index.html" target="_blank">Worcester</a>, another access town for <strong>Route 62 </strong>, the less-hurried alternative route to the <strong>N2 </strong> Garden Route . Take a short detour north of <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/worcester/index.html" target="_blank">Worcester</a> along the <strong>R46 </strong>to gracious, historical <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/tulbagh/index.html" target="_blank">Tulbagh</a>, renowned for its wine cellars at the northern end of <strong>Route 62</strong>. <br />
<br />
Passing through the Du Toitskloof Pass and the Huguenot Tunnel, the <strong>N1 </strong> traverses the valleys of the winelands surrounding <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/wellington/index.html" target="_blank">Wellington</a><em>, </em><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/paarl/index.html" target="_blank">Paarl</a>, <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/franschhoek/index.html" target="_blank">Franschhoek</a> and <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/stellenbosch/index.html" target="_blank">Stellenbosch</a> - each a memorable side-trip - before entering <a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/cape_town/index.html" target="_blank">Cape Town</a> and all her beauty. </p>
<p><strong>Suggested stop or stretch towns on the N1: </strong> Hanover, Three Sisters, Beaufort West, Prince Albert 45km off N1, Laingsburg, Matjiesfontein, Worcester, Tulbagh 75km off N1, Paarl, Franschhoek, Stellenbosch and Cape Town</p>
    <p>More Routes: </p>
    <ul>
      <li>South Africa Tourist Route 1: <a href="../route1.html">JOHANNESBURG - BLOEMFONTEIN - COLESBERG ON N1</a><a href="../route2.html"><br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3: <a href="../route3.html">BLOEMFONTEIN - EAST LONDON ON N6<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 3a: <a href="../route3a.html">BLOEMFONTEIN &ndash; LESOTHO ON N8</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 4: <a href="../route4.html">JOHANNESBURG - KIMBERLEY - BEAUFORT WEST ON N12<br />
        </a><br />
      </li>
      <li> South Africa Tourist Route 5: <a href="../route5.html">CAPE TOWN - PORT ELIZABETH ON N2 : THE GARDEN ROUTE</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 6: <a href="../route6.html">PORT ELIZABETH &ndash; CRADOCK &ndash; COLESBERG ON N10 : THE KAROO<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 7: <a href="../route7.html">PORT ELIZABETH - EAST LONDON - WILD COAST - DURBAN ON N2<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 8: <a href="../route8.html">CAPE TOWN &ndash; SPRINGBOK ON N7: THE WEST COAST</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 9: <a href="../route9.html">JOHANNESBURG &ndash; DRAKENSBERG - DURBAN ON N3<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 10: <a href="../route10.html">JOHANNESBURG &ndash; SWAZILAND &ndash; NORTH COAST ON N17/N2</a><br />
        <br />
      </li>
      <li>South Africa Tourist Route 11: <a href="../route11.html">JOHANNESBURG &ndash; KRUGER NATIONAL PARK &ndash; MOZAMBIQUE ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 12: <a href="../route12.html">JOHANNESBURG &ndash; MESSINA - ZIMBABWE ON N1<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 13: <a href="../route13.html">JOHANNESBURG/PRETORIA &ndash; MAGALIESBURG - BOTSWANA ON N4<br />
        </a><br />
      </li>
      <li>South Africa Tourist Route 14: <a href="../route14.html">JOHANNESBURG &ndash; UPINGTON &ndash; SPRINGBOK ON N14 </a>    </li>
    </ul>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">www.booktravel.travel Info:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_booktravel">About Book Travel</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a href="http://www.essentialtravelinfo.com/index.php?p=reg_form" target="_blank" class="alinks">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>