<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Rustenburg, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bojanala , North West</div>
<div class="contentmainheading">
	  <h1>Information about Rustenburg, Bojanala, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/rustenburg_stadium.jpg" title="Rustenburg" width="450" height="355" hspace="5" vspace="5">Rustenburg's beautiful new stadium</div>
    <p class="paragraphtext"><span class="inparagraphheading">Geography:</span> Rustenburg is located on the N4 and is just an hour's drive from both <a href="/index.php?p=johannesburg">Johannesburg</a> and <a href="/index.php?p=pretoria">Pretoria</a>, with each of these major <a href="/index.php?p=gauteng">Gauteng</a> centres being 120km away.</p>
    <p class="paragraphtext"><span class="inparagraphheading">History:</span> The history of Rustenburg is closely linked to that of the Voortrekkers, who founded the town in 1851 on the farm Buffelsfontein. After the defeat of Mzilikazi's tribe in the mid 1800's, Voortrekkers began to settle in the area and called it Rustenburg (&quot;Place of Rest&quot;). Initially belonging to Casper Kruger, the father of Paul Kruger, it was originally used as a frontier post and a resort for hunters, explorers and prospectors venturing into the interior. Later the town was for quite some time the seat of the Zuid-Afrikaansche Republiek before it moved to <a href="/index.php?p=pretoria">Pretoria</a>. Some of the land in and around Rustenburg has traditionally belonged to the Royal Bafokeng with a population of 3-million people, and this Setswana-speaking indigenous community is well known for the fact they have won court cases in which they demanded compensation and royalties from mining companies that were mining platinum in the area.</p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> Rich in Iron- and Stone-Age sites, Rustenburg also has an interesting historical and cultural legacy that includes the sites of many battles fought here during the South African (Anglo-Boer) War. The memorial graves and ruined forts can be visited by the public, and visitors interested in Voortrekker history can view Boekenhoutfontein, the site of Paul Kruger's former homestead, and the Rustenburg Museum in the Town Hall, which has exhibits depicting local history and archaeology. The Kruger Monument in front of the Town Hall shows Paul Kruger in his last days before his exile and death in Switzerland. The town is home to many buildings that are now provincial heritage sites including the Anglican Church of 1871. The Rustenburg Art Ramble covers various art and crafts centres, tea gardens, a bird farm, horse trails, farm stalls, restaurants and hotels, and many local artists and potters open their doors to sell directly to the public. Don't miss the Schultze German Crafts Gallery, which has an exquisite collection of antiques and other furniture.
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/rustenburg" class="alinks" title="Accommodation in Rustenburg">Find Accommodation in Rustenburg</a></li>
      </ul>
      <div class="paragraphpictureright"><img src="../images/map-rustenburg.jpg" title="Location of Rustenburg, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Rustenburg, North West, South Africa.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Science and Nature:</span> Rustenburg lies on the edge of the Bushveld Igneous Complex, a highly mineralised section of the earth's crust. This has resulted in it being one of the most heavily mined regions in the world. It has much to offer the ecotourist, as the area is home to natural bushveld vegetation, the Magliesberg Mountain Range, and is close to numerous game and nature reserves.</p>
    <p class="paragraphtext">Tourists can view the Big Five at the nearby <a href="/index.php?p=pilanesberg_national_park">Pilanesberg National Park</a>, while the <a href="/index.php?p=kgaswane_nature_reserve">Rustenburg Nature Reserve</a> offers hiking trails in the Magaliesberg with its abundant bird life, fauna and flora.</p>

      
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> Rustenburg is the gateway to the bright lights of <a href="/index.php?p=sun_city">Sun City</a>, where visitors can attend live cabaretshows and throw dice in the glitzy casinos.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> The Vaalkop Nature Reserve offers visitors angling and boating opportunities, while the two championship golf courses at Sun City are a very short distance away.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/rustenburg" class="alinks" title="Accommodation in Rustenburg">Accommodation in Rustenburg</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=pilanesberg_national_park" class="alinks">Pilanesberg National Park</a></li>
   	  <li><a href="/index.php?p=sun_city" class="alinks">Sun City</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
      <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>