<head>
<link rel="stylesheet" href="template2.css">
<title>Sagole Big Tree</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Sagole Big Tree</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/sagole_baobab.jpg" title="Sagole Big Tree" width="450" height="361" hspace="5" vspace="5">Sagole Big Tree</div>
    
    <p class="paragraphtext">Just north of <a href="/index.php?p=thohoyandou">Thohoyandou</a> in the lovely <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa, near the natural hot spring waters of Sagole, lies a very special and spectacular natural attraction indeed &ndash; Limpopo's Big Tree. The Big Tree is a breathtakingly beautiful 3 000 year old baobab that towers majestically over the terrific Thohoyandou landscape. The tree&rsquo;s immense trunk has a circumference of roughly 47m and an estimated diameter of about 15.9m, making it the largest baobab in <a href="/index.php?p=south_africa">South Africa</a>.</p>
    <p class="paragraphtext">The African baobab, also known scientifically as the <em>Adansonia digitata</em> and informally as the boab, the boaboa, the bottle tree, the upside-down tree, or the monkey bread tree, is wholeheartedly African and is steeped in tribal legend and folklore. The bulbous baobab with its gorgeously gnarled bark is revered in many African cultures for many different reasons. It is said that ancient kings, elders, and leaders used to hold important tribal meetings beneath a baobab&rsquo;s boughs, hoping that the ancient tree&rsquo;s wisdom would be bestowed upon the decision-makers of the community.</p>
    <p class="paragraphtext">Succulents consisting of about 80% moisture, baobabs are a vitally important part of the African ecosystem, and, in fact, even create their very own ecosystem in and around their twisting branches and colossal trunks. Baobabs buzz with insects and provide sustenance and shelter for numerous other creatures. Elephants nibble the leaves and strip the bark for moisture and fodder, baboons devour the tree&rsquo;s fruit, and birds and bees nest in the tree&rsquo;s branches or hollows. The baobab&rsquo;s fabulous flowers are pollinated by bees, bush babies, and fruit bats, bursting into bloom and flowering for only 24 hours before they drop to the ground and provide food for passing buck and nourishment for the soil below.</p>
    <p class="paragraphtext">Baobab trees enjoy long and lavish lives, most of Limpopo&rsquo;s magnificent specimens being between three and five hundred years old, but very few reach the Big Tree&rsquo;s esteemed age. At 3 000 years old, the Big Tree has quietly surveyed this amazing African landscape during all of modern history.</p>
    <p class="paragraphtext"><em><strong>Sagole Big Tree Physical Location</strong></em><br />
      100km North of <a href="/index.php?p=thohoyandou">Thohoyandou</a>, within the Big Tree Nature Reserve</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Sagole Big Tree</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Accommodation in Thohoyandou</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks">Accommodation in Musina</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-22.333563,30.492554&amp;spn=0.444596,0.961304&amp;z=10&amp;iwloc=0004b5248ef3816823fae&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-22.333563,30.492554&amp;spn=0.444596,0.961304&amp;z=10&amp;iwloc=0004b5248ef3816823fae&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou">Thohoyandou</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/musina_%2528messina%2529" class="alinks">Musina</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>