<head>
<link rel="stylesheet" href="template2.css">
<title>Sani Pass</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading kzn">KwaZulu-Natal Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Sani Pass</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/poi_kzn_sani_pass.jpg" title="Sani Pass" width="336" height="448" hspace="5" vspace="5">The formidable Sani Pass</div>
    
    <p class="paragraphtext">The magnificent Sani Pass, situated in the western extremities of the <a href="/index.php?p=kwazulu_natal">KwaZulu-Natal</a> province of <a href="/index.php?p=south_africa">South Africa</a>, connects KwaZulu-Natal and <a href="/index.php?p=lesotho">Lesotho</a> on a zigzagging mountain pass between Underberg and Mokhotlong, Lesotho.</p>
    <p class="paragraphtext">Although notoriously dangerous to traverse, it also provides some of the most beautiful mountain views in the land. Potential visitors be warned: the road requires a 4x4 vehicle and a driver with above average driving capabilities and experience.</p>
    <p class="paragraphtext">Winding through and around the sheer cliffs and peaks of the <a href="/index.php?p=drakensberg_kzn">Drakensberg Mountain Range</a>, this 9km pass is the only border post between Kwazulu-Natal and Lesotho. Also known as the 'roof of Africa', some of the spectacular Sani Pass peaks ascend to heights of 3 200m above sea level. The road itself, however, doesn't climb this high. The amazing mountain views at 3 200m are reserved for adventurous hikers only.</p>
    <p class="paragraphtext">At 2 874m above sea level, the highest pub in the world is located at the top of Sani Pass.</p>
    <p class="paragraphtext">Sani Pass is best visited in the summer months as snow and ice on the high mountain roads are common occurrences in winter. </p>
    <p class="paragraphtext">Also, don't forget your passport if you wish to cross the international border located at around 1 900m above sea level.</p>
    <p class="paragraphtext"><em><strong>Sani Pass Physical Address</strong></em><br />
      North West of Himeville, KwaZulu-Natal</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Sani Pass</span><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/sani_pass">Accommodation near Sani Pass</a><br />
  <a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/drakensberg_south">Accommodation in Southern Drakensberg</a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">Points of Interest in KwaZulu-Natal</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.370208,29.693298&amp;spn=0.837741,1.922607&amp;z=9&amp;iwloc=0004a96e9a7076ae497b5&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;ie=UTF8&amp;msid=212948302570851137913.0004a5acd6d1c47f5eef9&amp;ll=-29.370208,29.693298&amp;spn=0.837741,1.922607&amp;z=9&amp;iwloc=0004a96e9a7076ae497b5&amp;source=embed" style="color:#0000FF;text-align:left">KwaZulu-Natal Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/sani_pass">Sani Pass</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/drakensberg_south">Southern Drakensberg</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_kwazulu-natal">KwaZulu-Natal Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>