<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Sekhukhune, Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Sekhukhune , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Sekhukhune, Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/sekhukhune.jpg" title="Sekhukhune is an agricultural region with a sub-tropical climate" width="450" height="245" hspace="5" vspace="5">Sekhukhune is an agricultural region with a sub-tropical climate</div>
    <p class="paragraphtext">Sekhukhune is the most southerly region of the <a href="/index.php?p=limpopo" class="alinks" title="Information about Limpopo">Limpopo Province</a>. It is named after King Sekhukhune, King of the Bapedi in the 18th century.</p>
    <p class="paragraphtext">The area is mostly rural, with mining and agriculture being the main sources of income. This is due to the rich soils, sub-tropical climate and high concentration of mineral resources.</p>
    <p class="paragraphtext">Roads are generally gravel, and in many places a 4x4 vehicle is recommended.</p>
    <p class="paragraphtext">Visitors to the area can enjoy a number of game reserves in the region, as well as the Ledingwe Cultural Village. Numerous dams in the area allow for water sports and angling.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/limpopo/sekhukhune/" class="alinks" title="Accommodation in Sekhukhune">Accommodation in Sekhukhune</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-sekhukhune.jpg" title="Location of Sekhukhune, Limpopo, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Sekhukhune, Limpopo, South Africa.</div>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/limpopo/index.html" class="alinks" title="Accommodation in Limpopo">Accommodation in Limpopo</a></li>
    	<li><a href="/specials/limpopo_south_africa/" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=sekhukhune" class="alinks">Sekhukhune</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/marble_hall/" class="alinks">Marble Hall</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/ohrigstad/" class="alinks">Ohrigstad</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/groblersdal/" class="alinks">Groblersdal</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/limpopo/polokwane/" class="alinks">Pholokwane</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>