<head>
<link rel="stylesheet" href="template2.css">
<title>Sheba Mine</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Sheba Mine</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/sheba_mine.jpg" title="Sheba Mine" width="450" height="296" hspace="5" vspace="5">Sheba Mine near Barberton</div>
    
    <p class="paragraphtext">Sheba Mine, located in the Sheba Hills roughly 12km northeast of <a href="/index.php?p=barberton">Barberton</a>, is one of the world's oldest and richest working gold mines.</p>
    <p class="paragraphtext">Gold has been mined from the deposits below for over a century and there seems to be no end in sight. Some people estimate that Sheba Mine will yield gold for decades to come.</p>
    <p class="paragraphtext">Prospectors flocked to the area in the 1880's with dreams of striking it rich. A small but very lively town known as Eureka City developed around Sheba Mine.</p>
    <p class="paragraphtext">After World War I the mine (temporarily) closed down and the town's inhabitants scattered to other parts of the region in search of their fortunes. All that is left of this once prosperous town is a ghost town located in the hills above Sheba Mine.</p>
    <p class="paragraphtext"><em><strong>Sheba Mine Physical Address</strong></em><br />
      12km northeast of <a href="/index.php?p=barberton">Barberton</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Sheba Mine</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/barberton">Accommodation in Barberton</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/wild_frontier/komatipoort" class="alinks">Accommodation in Komatipoort</a><br />
        <a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Accommodation in Waterval-Boven</a><br />
        <a href="/index.php?p=malalane">Accommodation in Malalane</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.593233,31.256104&amp;spn=0.433491,0.961304&amp;z=10&amp;iwloc=0004b23ac0ed610af96c7&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?vpsrc=6&amp;ctz=-120&amp;ie=UTF8&amp;msa=0&amp;msid=212948302570851137913.0004ace19aa2abf51be9a&amp;t=m&amp;ll=-25.593233,31.256104&amp;spn=0.433491,0.961304&amp;z=10&amp;iwloc=0004b23ac0ed610af96c7&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/barberton">Barberton</a></li>
      	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/wild_frontier/komatipoort" class="alinks">Komatipoort</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/waterval-boven/index.html" class="alinks">Waterval-Boven</a></li>
        <li><a href="/index.php?p=malalane">Malalane</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>