<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Southern Africa - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Southern Africa</div>
	<div class="contentmainheading">
	  <h1>Southern Africa</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/map-southern_africa.jpg" width="450" height="362" hspace="5" vspace="5" border="0" usemap="#Map" title="Southern Africa" />
      <map name="Map" id="Map">
        <area shape="poly" coords="167,208" href="/index.php?p=south_africa" alt="South Africa" />
        <area shape="poly" coords="266,255,274,263,271,275,263,277,260,284,248,275,253,261" href="/index.php?p=lesotho" alt="Lesotho" />
        <area shape="poly" coords="304,223,296,220,290,228,296,237,306,239" href="/index.php?p=swaziland" alt="Swaziland" />
      <area shape="poly" coords="286,97,269,99,268,106,256,111,246,127,226,122,234,136,237,143,249,149,250,157,260,169,274,173,286,177,294,179,308,167,308,157,316,148,311,135,316,127,316,111" href="/index.php?p=zimbabwe" alt="Zimbabwe" />
      <area shape="poly" coords="179,129,178,173,167,173,167,207,172,211,177,222,174,228,175,233,186,233,198,222,197,215,206,214,210,220,226,219,232,215,232,205,238,206,246,200,250,185,257,185,260,181,276,175,254,167,248,149,239,146,226,122,208,129,206,123" href="/index.php?p=botswana" alt="Botswana" />
      <area shape="poly" coords="72,115,76,131,89,151,91,159,104,179,104,202,108,206,109,223,112,229,113,239,126,256,133,249,136,257,157,261,166,253,166,173,178,173,178,129,204,123,210,129,227,121,218,119,180,125,158,125,150,117,102,118,91,111,83,117" href="/index.php?p=namibia" alt="Namibia" />
      <area shape="poly" coords="213,43,214,61,211,63,214,65,190,65,190,104,206,121,220,119,244,126,254,111,268,107,267,100,285,97,284,89,316,77,314,62,317,58,317,48,320,45,316,41,322,36,313,25,290,11,270,12,270,17,262,22,268,26,263,33,268,37,262,46,271,59,280,56,280,71,263,59,255,58,248,48,248,55,238,53,235,49,230,50,229,44" href="/index.php?p=zambia" alt="Zambia" />
      <area shape="poly" coords="401,35,386,45,382,43,378,47,371,45,366,51,360,48,354,53,349,48,335,49,333,58,338,75,349,83,346,98,340,111,331,101,334,82,324,83,319,77,284,89,286,96,316,111,315,129,312,135,315,145,315,149,308,156,308,166,295,180,303,199,304,224,306,232,314,231,311,220,317,215,338,208,344,199,342,194,344,179,339,164,339,159,334,157,335,149,349,137,355,137,364,125,384,114,394,107,402,95,404,88,400,82,402,61,400,52" href="/index.php?p=mozambique" alt="Mozambique" />
      <area shape="poly" coords="271,275,263,276,261,283,255,282,248,275,252,262,265,255,275,263,271,273,275,280,285,288,292,276,292,269,304,266,309,253,308,247,315,230,306,231,307,239,296,238,290,231,297,220,304,221,304,200,295,179,286,177,278,174,265,180,251,187,246,200,235,207,234,215,229,219,212,220,206,213,200,215,198,223,186,234,174,233,174,228,176,219,166,208,166,254,156,263,136,258,134,249,126,257,137,271,136,281,148,297,148,311,143,310,150,328,146,336,167,340,174,334,188,336,192,329,204,331,211,328,221,332,229,325,247,323,268,307,284,287" href="/index.php?p=south_africa" alt="South Africa" />
      </map>
Southern Africa</div>
	<p class="paragraphtext">Southern Africa countries:</p>
  <ul>
      	<li><a href="/index.php?p=south_africa" class="alinks" title="Information about South Africa">South Africa</a></li>
        <li><a href="/index.php?p=botswana" class="alinks" title="Information about Botswana">Botswana</a></li>
        <li><a href="/index.php?p=namibia" class="alinks" title="Information about Namibia">Namibia</a></li>
        <li><a href="/index.php?p=swaziland" class="alinks" title="Information about Swaziland">Swaziland</a></li>
        <li><a href="/index.php?p=lesotho" class="alinks" title="Information about Lesotho">Lesotho</a></li>
        <li><a href="/index.php?p=mozambique" class="alinks" title="Information about Mozambique">Mozambique</a></li>
        <li><a href="/index.php?p=zimbabwe" class="alinks" title="Information about Zimbabwe">Zimbabwe</a></li>
        <li><a href="/index.php?p=zambia" class="alinks" title="Information about Zambia">Zambia</a></li>
      </ul>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->
  
<div class="contentrightheading">Southern Africa Countries:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=botswana" class="alinks">Botswana</a></li>
        <li><a href="/index.php?p=namibia" class="alinks">Namibia</a></li>
        <li><a href="/index.php?p=swaziland" class="alinks">Kingdom of Swaziland</a></li>
        <li><a href="/index.php?p=lesotho" class="alinks">Lesotho</a></li>
        <li><a href="/index.php?p=mozambique" class="alinks">Mozambique</a></li>
        <li><a href="/index.php?p=zambia" class="alinks">Zambia</a></li>
        <li><a href="/index.php?p=zimbabwe" class="alinks">Zimbabwe</a></li>
    </ul>

<!-- END right menus -->

</div>
</div>