<head>
<link rel="stylesheet" href="template2.css">
<title>Accommodation Specials - AA Quality Accommodation</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading ">Accommodation Specials</div>
	<div class="contentmainheading">
	  <h1>Featured Accommodation Specials</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->






<div class="paragraphpictureright"><a href="/accommodation/088007"><img src="/image.php?e=088007" title="Houtkapperspoort" width="150" height="88" hspace="5" vspace="5"></a>Houtkapperspoort</div>
    <p class="paragraphtext"><a href="/accommodation/088007"><strong>Houtkapperspoort</strong></a><br />
Highly Recommended/Superior Self-Catering Resort <br />
    Cape Town Southern Suburbs, Western Cape<br />
    <strong> Table Mountain Disa Package <br />
14 April 2012</strong><br />
(Two People) 6 Night&rsquo;s Accommodation in a fully Self Catering Cottage at Houtkapperspoort Holiday Resort, Hout Bay and 6 night&rsquo;s stay at Tonquani, Knysna in a chalet on a B&amp;B basis. The total package, incl of VAT (for both people), will be R9 324.00. <br />
<a href="/accommodation/088007" class="alinks">Read more about Houtkapperspoort</a></p>
<hr>


<div class="paragraphpictureright"><a href="/accommodation/073543"><img src="/image.php?e=073543" title="Granny Mouse Country House and Spa" width="150" height="88" hspace="5" vspace="5"></a>Granny Mouse Country House</div>
    <p class="paragraphtext"><a href="/accommodation/073543"><strong>Granny Mouse Country House and Spa</strong></a><br />
    Superior - Boutique Hotel<br />
    Lidgetton, Midlands, KwaZulu-Natal<br />
    <strong>AA Member Vouher Package<br />
until 30 April 2012</strong><br />
Stay a minimum of 2 nights , inclusive of bed and breakfast and receive:<br />
Voucher to the value of R400 per person redeemable in the restaurants<br />
Voucher to the value of R230 redeemable for a treatment of your choice at our Granny Mouse Spa<br />
Voucher to the value of R100 redeemable for a treatment of your choice at our Granny Mouse Hair Salon<br />
Vouchers are only valid for the period of stay<br />
Vouchers are not transferable<br />
Available Sunday to Thursday - excluding Public Holidays<br />
AA Membership Proof is necessary<br />
      <a href="/accommodation/073543" class="alinks">Read more about Granny Mouse Country House and Spa</a></p>
    <hr>
    
<div class="paragraphpictureright"><a href="/accommodation/IB6040"><img src="/image.php?e=IB6040" title="Ibis Lodge" width="150" height="88" hspace="5" vspace="5"></a>Ibis Lodge</div>
    <p class="paragraphtext"><a href="/accommodation/IB6040"><strong>Ibis Lodge</strong></a><br />
    Highly Recommended - Guest House<br />
    Durban North, KwaZulu-Natal<br />
    <strong>Durban Cruise Promotion<br />
until 30 June 2012</strong><br />
Cruising from Durban : Here at Ibis Lodge we offer the following service to our guests who are going on one of these cruises. <br />1) We pick you up from the airport for R250.00 per trip and take you to our lodge where you can stay for bed and breakfast @ R700.00 per night per person sharing for a double room. <br />2) The next day we take you complementary to the harbour. <Br />3) On your arrival back we pick you up again free of charge and take you to our lodge only if you sleep over again. <br />4) We again take you to the airport for R250.00 per trip. <br />5) Dinner can be arranged at R65.00 per dinner. <br />6) Should the guests be coming by car they may leave their car at our premises at their own risk. It is safe and secure parking <br />
7) We can cater for groups.<br />
      <a href="/accommodation/IB6040" class="alinks">Read more about Ibis Lodge</a></p>
    <hr>
    
    <div class="paragraphpictureright"><a href="/accommodation/TE7189"><img src="/image.php?e=TE7189" title="Tenahead Mountain Lodge" width="150" height="88" hspace="5" vspace="5"></a>Tenahead Mountain Lodge</div>
    <p class="paragraphtext"><a href="/accommodation/TE7189"><strong>Tenahead Mountain Lodge</strong></a><br />
    Superior - Luxury Lodge<br />
    Rhodes, Friendly N6, Eastern Cape<br />
    <strong>River Hotels membership discounts<br />
until 28 November  2012</strong><br />
At R100 per adult per year you are entitled to 40 % discount on accommodation, 25% discount on meals, 20% discount on spa treatments and 10% discount on activities. The card is valid for a year and can be used at all of our hotel in the River Group.<br />
      <a href="/accommodation/TE7189" class="alinks">Read more about Tenahead Mountain Lodge</a></p>
    <hr>
    
<div class="paragraphpictureright"><a href="/accommodation/WA7107"><img src="/image.php?e=WA7107" title="Waterside Living Estate" width="150" height="88" hspace="5" vspace="5"></a>Waterside Living Estate</div>
    <p class="paragraphtext"><a href="/accommodation/WA7107"><strong>Waterside Living Estate</strong></a><br />
Recommended/Highly Recommended Self-Catering Suites/Apartments <br />
<a href="http://booktravel.travel/accommodation/specials/southern_africa/south_africa/eastern_cape/kouga/jeffreys_bay/marina_martinique">Marina Martinique</a>,&nbsp;<a href="http://booktravel.travel/accommodation/specials/southern_africa/south_africa/eastern_cape/kouga/jeffreys_bay">Jeffreys Bay</a>, <a href="http://booktravel.travel/accommodation/specials/southern_africa/south_africa/eastern_cape">Eastern Cape</a> <br />
    <strong>Weekender Special<br />
until 31 December 2012</strong><br />
Special discount packages applicable to ALL SELECTED PROPERTIES during February, May, June, July, August, October and November<br />
PACKAGES:<br />
FRIDAY - MONDAY: SLEEP 3 NIGHTS - PAY FOR 2 ONLY!<br />
MONDAY - FRIDAY: SLEEP 4 NIGHTS - PAY FOR 2 ONLY!<br />
FRIDAY - FRIDAY: SLEEP 7 NIGHTS - PAY FOR 4 ONLY!&nbsp; <br />
<a href="/accommodation/WA7107" class="alinks">Read more about Waterside Living Estate</a></p>
<hr>


	<p class="paragraphtext">Find discount accommodation and special offers in the rest of South Africa:</p>
	<ul>
        <li><a href="/accommodation/specials/southern_africa/south_africa/western_cape" class="alinks">Specials in the Western Cape</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/gauteng" class="alinks">Specials in Gauteng</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/kwazulu-natal" class="alinks">Specials in KwaZulu-Natal</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/eastern_cape" class="alinks">Specials in the Eastern Cape</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in North West</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/mpumalanga" class="alinks">Specials in Mpumalanga</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/free_state" class="alinks">Specials in the Free State</a></li>
      <li><a href="/accommodation/specials/southern_africa/south_africa/northern_cape" class="alinks">Specials in the Northern Cape</a></li>
    </ul>
    <p class="paragraphtext">Find Accommodation Specials in the rest of Southern Africa:</p>
    <ul>
        <li><a href="/accommodation/specials/southern_africa/namibia/" class="alinks">Specials in Namibia</a></li>
        <li><a href="/accommodation/specials/southern_africa/swaziland/" class="alinks">Specials in Swaziland</a></li>
        <li><a href="/accommodation/specials/southern_africa/botswana/" class="alinks">Specials in Botswana</a></li>
        <li><a href="/accommodation/specials/southern_africa/lesotho/" class="alinks">Specials in Lesotho</a></li>
        <li><a href="/accommodation/specials/southern_africa/mozambique/" class="alinks">Specials in Mozambique</a></li>
        <li><a href="/accommodation/specials/southern_africa/zambia/" class="alinks">Specials in Zambia</a></li>
        <li><a href="/accommodation/specials/southern_africa/zimbabwe" class="alinks">Specials in Zimbabwe</a></li>
    </ul>	
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->
  
<div class="contentrightheading">More Specials:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/specials/southern_africa/south_africa/western_cape" class="alinks">Western Cape</a></li>
    	<li><a href="/accommodation/specials/southern_africa/south_africa/gauteng" class="alinks">Gauteng</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/eastern_cape" class="alinks">Eastern Cape</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/kwazulu-natal" class="alinks">KwaZulu-Natal</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">North West</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Limpopo</a></li>
      <li><a href="/accommodation/specials/southern_africa/south_africa/free_state" class="alinks">Free State</a></li>
        <li><a href="/accommodation/specials/southern_africa/south_africa/northern_cape" class="alinks">Northern Cape</a></li>
    </ul>
    
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

	

<!-- END right menus -->

</div>
</div>