<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Sun City, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bojanala , North West</div>
<div class="contentmainheading">
	  <h1>Information about Sun City, Bojanala, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/sun_city.jpg" title="Sun City" width="450" height="368" hspace="5" vspace="5">Sun City</div>
    <p class="paragraphtext">Splendidly situated in the heart of the beautiful African bushveld inside an ancient and extinct volcano, Sun City is one of South Africa&rsquo;s premier tourist destinations. Located in the <a href="/index.php?p=north_west">North West province</a> just two hours&rsquo; drive (only 187km) from <a href="/index.php?p=johannesburg">Johannesburg</a>, Gauteng, this magnificent, internationally acclaimed casino and resort complex provides entertainment and relaxation opportunities aplenty for local and international tourists alike. Popular pastimes include golf, gambling, fine dining, water sports, shows, concerts, arcade games, horse riding, and game viewing. Merely 10 minutes away is the adjoining (and absolutely superb) <a href="/index.php?p=pilanesberg_national_park">Pilanesberg National Park</a> which is a malaria free zone that is home to Africa&rsquo;s beautiful Big 5 &ndash; lion, leopard, elephant, rhino, and buffalo.</p>
    <p class="paragraphtext">Consisting of four world-class hotels, the Sun City entertainment complex provides stunning accommodation for all tastes and preferences. The luxurious Palace of the Lost City rises out of its stunning rainforest surrounds like a glistening gem beneath the hot African sun. It is like a sumptuous fairy tale palace set in the African jungles of legend, embraced by gorgeous gardens, sparkling streams, cascading waterfalls, refreshing swimming pools, and al fresco entertainment areas. The Cabanas family hotel is imbued with a welcoming, refreshing, and laid back atmosphere that is perfect for people of all ages. Lush and most exquisite gardens and water features surround the sophisticated and elegant Cascades hotel. These wonderful gardens boast exotic and indigenous foliage, tropical birds and fish, lakes, and winding footpaths. If glitz and glamour is your game then the Sun City Hotel will be your preferred playground. Its foyer leads directly to the main casino&rsquo;s busy slot machines and its d&eacute;cor just oozes decadence.</p>
  <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/sun_city" class="alinks" title="Accommodation in Sun City">Find Accommodation in Sun City</a></li>
      </ul>
    <p class="paragraphtext">Sun City&rsquo;s entertainment area pulsates with people zigzagging to and fro between the restaurants, bars, shops, conference facilities, cinemas, bingo hall, and, of course, the slot machines. The Sun City Super Bowl hosts some of the world&rsquo;s favourite rock acts and is one of Africa&rsquo;s preferred concert venues. The Sun City Spectacular, a truly magnificent stage production, is famed for its spectacular sets, glorious costumes, and daring trapeze acts.</p>
    <div class="paragraphpictureright"><img src="../images/map-sun_city.jpg" title="Location of Sun City, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Sun City, North West, South Africa.</div>
    
  <p class="paragraphtext">One of Sun City&rsquo;s highlights, however, has to be the Valley of the Waves &ndash; Sun City&rsquo;s very own beach (complete with waves and beach sand) situated in the heart of the Highveld. This modern water park comprises a large lagoon with sea-style waves, a lovely (artificial) beach with umbrellas and bronzed beach bodies, and five exhilarating rides/slides. The Temple of Courage is strictly for (as the name suggests) the courageous among us. Dashing and daring individuals drop steeply down a 17m chute, under a bridge, and into a tiny splash pool &ndash; emerging invigorated and already heading for the summit of the slide. If pure relaxation on a ride is your cup of tea then the Lazy River will certainly satisfy your senses.  
  <p class="paragraphtext">A mind-blowing variety of sports and outdoor activities are on offer at this fantastic resort and the year-round good weather is perfect for some fun in the sun. Sun City offers tennis, swimming, golf, mountain biking, jogging trails, horse riding, bowls, parasailing, and much more. Sun City&rsquo;s Waterworld, located in front of the Cascades hotel, provides for water-skiing, jet-skiing, parasailing, self-drive boats, pedal boats, and relaxing sunset cruises. The world-class Gary Player Country Club boasts two immaculately kept, well-designed golf courses. Sun City hosts the Million Dollar Golf Challenge on an annual basis and the courses have seen many of the world&rsquo;s greatest golfers go head to head on the challenging and always exciting fairways. Indoor sports include squash and ten-pin bowling, and the resort even has a gym and health spa. And, if all of this isn&rsquo;t enough to get you suitably excited, there are even more satisfying surprises waiting for you at Sun City.
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/sun_city" class="alinks" title="Accommodation in Sun City">Accommodation in Sun City</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bojanala" class="alinks">Bojanala</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
      <li><a href="/index.php?p=rustenburg" class="alinks">Rustenburg</a></li>
   	  <li><a href="/index.php?p=pilanesberg_national_park" class="alinks">Pilanesberg National Park</a></li>
   	  <li><a href="/index.php?p=hartbeespoort" class="alinks">Hartbeespoort</a></li>
   	  <li><a href="/index.php?p=brits" class="alinks">Brits</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>