<head>
<link rel="stylesheet" href="template2.css">
<title>Taung World Heritage Site</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">North West Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Taung World Heritage Site</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/taung.jpg" title="Taung World Heritage Site" width="450" height="285" hspace="5" vspace="5">Taung World Heritage Site</div>
    
    <p class="paragraphtext">The tiny town of Taung, situated in the southern extremities of the <a href="/index.php?p=north_west">North West</a> province of South Africa, is a quiet, unassuming little village, yet the name &lsquo;Taung&rsquo; is famous throughout the world. Now a World Heritage Site, the area just outside of the town of Taung is the site at which one of mankind&rsquo;s greatest discoveries/scientific breakthroughs was made: The lime encrusted skull of a small child. Discovered in 1924 by a quarry worker in the nearby Buxton limestone quarry, this wasn&rsquo;t just any child &ndash; the child&rsquo;s skull was, in fact, the skull of a hominid dating back to roughly a million years before the oldest discovered hominid and it was the first hominid discovered in Africa.</p>
    <p class="paragraphtext">This amazing discovery, made by the famed Australian anatomist and anthropologist Raymond Dart, caused much heated discussion, both for and against the scientific classification that he gave the skull, i.e. belonging to an early hominid called &lsquo;Australopithecus africanus&rsquo; which means the &lsquo;southern ape of Africa&rsquo;. This classification effectively meant that mankind was older than was thought at the time by over a million years. The fact that it was discovered in Africa supported Charles Darwin&rsquo;s theory that mankind has its roots in Africa and is possibly descended from African apes.</p>
    <p class="paragraphtext">The Taung World Heritage Site is the most southern site in Africa containing evidence of early hominids and it is the only site at which hominid fossils have been discovered in tufa caves. These ancient caves were formed in an enormous tufa flow that came off the dolomite bedrock of the Kalahari escarpment. Situated just west of the village of Taung at the Buxton Quarry, the Taung World Heritage Site is home to a marvellous monument to the discovery of the skull and an old mine tunnel can be explored by fascinated visitors. Now no longer mined, the Buxton Quarry, the place at which the skull was discovered, can be visited. This secluded site is endlessly peaceful and is now a popular hiking, abseiling, and picnicking spot, rich in scenic splendours such as the absolutely beautiful Blue Pools. A constant flow of sparkling azure waters from the limestone cliffs above feed the Blue Pools, flowing all the way through this lovely ancient limestone valley which is dotted with captivating caves.</p>
    <p class="paragraphtext">The Taung skull is currently kept at the University of the Witwatersrand in <a href="/index.php?p=johannesburg">Johannesburg</a>.</p>
    <p class="paragraphtext"><em><strong>Taung World Heritage Site Physical Location</strong></em><br />
      Just outside Taung, <a href="/index.php?p=north_west">North West</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Taung World Heritage Site</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bophirima">Accommodation in Bophirima</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_north_west">Points of Interest in North West</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-27.298571,25.136719&amp;spn=0.854236,1.922607&amp;z=9&amp;iwloc=0004b88749316ea2e32ec&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004acd16d07629709245&amp;msa=0&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-27.298571,25.136719&amp;spn=0.854236,1.922607&amp;z=9&amp;iwloc=0004b88749316ea2e32ec&amp;source=embed" style="color:#0000FF;text-align:left">North West Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/bophirima">Bophirima</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_north_west">North West Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>