body { margin: 0px 0px 0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px;background-color:#f4f4f4;}
H1 {font-family: arial; font-size: 16pt;margin: 0 0 0 0; padding: 0 0 0 0;}
#aaqalogo {position: relative;
	top: -215px;
	right:-390px;
	z-index:2000000;
	width:120px;
	height:180px;}
#aaqalogo2 {position: relative;
	top: -60px;
	right:-390px;
	z-index:20000;
	white-space:nowrap;
	width:120px;
	height:180px;}

#fullbar {position:absolute;
	width:100%;
	top:30px;
	background-color:#FFCC00;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;}
#middlebar {position:relative;
	width:900px;
	height:40px;
	background-color:#FFCC00;}
#MenuBar1 {position: relative;
	height:30px;
	top:10px;
	background-color:#FFCC00;
	font-size:14px;}

#allheaderholder {position:absolute;
	width:900px;
	height:110px;
	top:40px;
	white-space:normal;
	background-color:#FFFFFF;}
#adminlogin {position:relative;
	width:220px;
	height:20px;
	top:-205px;
	right:-210px;
	font-weight:bold;}
#toplefttext {position:relative;
	width:220px;
	height:20px;
	top:-225px;
	left:-320px;
	font-weight:bold;}	
#searchbox {position:relative;
	width:400px;
	height:35px;
	right:-115px;
	background-color:#0099FF;
	text-align:right;}
#searchadvanced {position:relative;
	width:140px;
	height:20px;
	right:-200px;
	background-color:#FFFF99;}
#welcomebox {position:relative;
	width:340px;
	height:80px;
	left:-270px;
	top:-55px;
	text-align:left;
	padding:0;
	background-color:#F4F4F4;}
	
#allcontentholder { position:relative;
	background-color:#FFFFFF;
	width:830px;
	top:190px;
	text-align:center;}
#allcontent {position:relative;
	background-color:#f0f0f0;}
#footer {position:relative;
	background-color:#FFCC00;
	width:830px;
	top:10px;
	float:left;
	text-align:center;}
#footertext {position:relative;
	background-color:#F1F1F1;
	width:830px;
	top:10px;
	float:left;
	text-align:center;}
div.clear {clear: both;}


/* start CSS content (still to add to live) */
.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 830px;
	margin: 0 auto;
	overflow: hidden;
	background-color:#FFFFFF;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}
.contentrightmenu { width:200px; background-color:#FFFFFF; text-align:left;}
.contentmainbody { width:600px; background-color:#FFFFFF; text-align:left; padding: 0 5px 0 5px;}
.contentmainheading { width:830px; 
	height:30px;
	background-color:#FFFFFF;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
	text-align:left;}
.newsblock {
	width:290px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 5px 10px 0;
	margin: 0 5px 10px 0;
	}
.newsblock img {border:0px;}
.newsblock a:img {border:0px;}
.footerblock {
	width:200px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 2px 3px 0;
	margin: 0 5px 5px 0;
	}
.provinceblock {
	width:155px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 2px 3px 0;
	margin: 0 5px 5px 0;
	}

.contenttopheading {background-color:#FFCC00;
	font-size:16px;
	font-weight:bold;
	margin: 0 0 3px 0;
	padding: 4px 6px 3px 2px;
	text-align:right;
	text-transform:uppercase;}
.contentrightheading {background-color:#FFCC00;
	margin: 5px 0 0 2px;
	padding: 4px 2px 3px 2px;
	font-weight:bold;}
ul.contentrightheading2 {background-color:#FFFFFF;
	margin: 0;
	padding: 0 0 5px 0;}
ul.contentrightheading2 li {background-color:#FFFFFF;
	margin: 0 0 0 2px;
	padding: 4px 2px 2px 2px;
	list-style:none;}
ul.contentfooterlist {background-color:#FFFFFF;
	margin: 0;
	padding: 0 0 5px 0;
	list-style:none;}
ul.contentfooterlist li {background-color:#FFFFFF;
	margin: 0 0 0 2px;
	padding: 4px 2px 2px 2px;
	list-style:none;}


.gp {background-color:#0074bb;
	color:#FFFFFF;}
.kzn {background-color:#a23f98;
	color:#FFFFFF;}
.fs {background-color:#fba61c;
	color:#FFFFFF;}
.nw {background-color:#008797;
	color:#FFFFFF;}
.nc {background-color:#c74a1b;
	color:#FFFFFF;}
.ec {background-color:#00a651;
	color:#FFFFFF;}
.wc {background-color:#303192;
	color:#FFFFFF;}
.mp {background-color:#007355;
	color:#FFFFFF;}
.lm {background-color:#b10049;
	color:#FFFFFF;}
.neigbouringstates {background-color:#7a2701;
	color:#FFFFFF;}

.paragraphtext {
	font-family: Arial;
	font-size: 12px;}
.inparagraphheading {
	font-family: Arial;
	font-size: 15px; 
	font-weight: bold; }

.paragraphpictureright img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureleft img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureright { margin: 0.5em 0pt 0.5em 0.8em; float:right; 	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
.paragraphpictureleft { margin: 0.5em 0.8em 0.5em 0; float:left;	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
/* end CSS content (still to add to live) */
