<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Thohoyandou, Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Vhembe , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Thohoyandou, Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/thohoyandou.jpg" title="Thohoyandou" width="450" height="315" hspace="5" vspace="5">Thohoyandou, Limpopo is home to many Venda people<br />
  &copy; South African Tourism</div>
<p class="paragraphtext">Thohoyandou, a lovely, lively town in the <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa, is the administrative, commercial, and legislative centre of the <a href="/index.php?p=vhembe">Vhembe</a> district of this most picturesque province and a wonderful tourist destination not to be missed. The town&rsquo;s distinctly African atmosphere buzzes with the hustle and bustle of colourful street vendors and excited students moving this way and that along its crowded streets and through its many malls and markets.</p>
    <p class="paragraphtext">Thohoyandou, meaning &lsquo;head of the elephant&rsquo; in Venda, was the capital of the former homeland of Venda, the home and heart of the Venda people of <a href="/index.php?p=south_africa">South Africa</a>. This vibrant town, situated in the south of the Vhembe district between Louis Trichardt and the world-famous <a href="/index.php?p=kruger_park_limpopo">Kruger National Park</a>, is home to roughly 500 000 people, quite a few of them students from the University of Venda.</p>
    <p class="paragraphtext"> Thohoyandou&rsquo;s scenic surrounds are characterised by lush, colourful plantations &ndash; everything from bananas and subtropical fruits to coffee and tea to tobacco to maize &ndash; and lovely little rural villages, their traditional homesteads encircled by low walls delightfully adorned with stunning painted patte rns (as is the custom of the Venda people). Thohoyandou boasts year-round sunshine with hot summer days punctuated by afternoon thundershowers and cool dry winters with cold mornings and evenings.</p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou" class="alinks" title="Accommodation in Thohoyandou">Find Accommodation in Thohoyandou</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-thohoyandou.jpg" title="Location of Thohoyandou, Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Thohoyandou, Limpopo, South Africa.</div>
    <p class="paragraphtext">Besides the aforementioned malls and markets, Thohoyandou is also home to a fascinating museum; an exhilarating hotel, casino, and entertainment complex; and many other superb historical, cultural, and natural attractions. The intriguing Dzata Ruins (the remains of the Vha-Venda kings&rsquo; royal kraal dating back to about 1400 AD), Tshimbubfe (an amazing archaeological site graced by iron furnaces dating back to about 1250 AD), and Thulamela (a location in the Kruger National Park at which evidence of gold smelting was found dating back to roughly 1300 AD) are absolute musts for history/culture buffs.</p>
    <p class="paragraphtext">The magnificent and most beautiful Thathe Vondo Forest contains a host of lovely attractions, including the Thathe Vondo tea estates, the Mahovhohvho Falls, the Sacred Forest, Mukumbani Dam, and the mystical and mysterious <a href="/index.php?p=lake_fundudzi">Lake Fundudzi</a>. The Levubu Tree Park is a  relaxing attraction situated in the gorgeous gardens of the Dutch Reformed Church in Levubu. The Tshakuma Traditional Village provides interested tourists with a unique glimpse into the rich Venda culture. The Nwanedi National Park, an 11 170ha park situated in the forested foothills of the Soutpansberg roughly 75km north of Thohoyandou contains a wide variety of gorgeous game and spectacular scenery. The Tshatshingo Potholes and the Mphaphuli Cycad Reserve are two more fantastic tourist spots that demand attention, while the <a href="/index.php?p=sagole_big_tree">Sagole Big Tree</a> is possibly the area&rsquo;s most famous landmark. This majestic &lsquo;grandfather&rsquo; of baobabs is thought to be over 3 000 years old and is the largest baobab in the country with a trunk girth of 47m. It is located near the natural hot spring waters of the Sagole Spa in the north of Thohoyandou.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/thohoyandou" class="alinks" title="Accommodation in Thohoyandou">Accommodation in Thohoyandou</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=vhembe" class="alinks">Vhembe</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=musina_messina" class="alinks">Musina</a></li>
        <li><a href="/index.php?p=kruger_park_limpopo">Kruger Park</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>