<head>
<link rel="stylesheet" href="template2.css">
<title>AA Travel Guides Publications and Travel Books</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading">AA Travel Guides Publications</div>
	<div class="contentmainheading">
	  <h1>AA Travel Guides Publications</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">

    <!-- START main article text -->

  <p class="paragraphtext"><span class="inparagraphheading">AA Quality Assured Accommodation Directory:</span> The previous Hotel Lodges and Self Catering Guides have been replaced by a new publication: the AAQA Accommodation Directory. All our full QA members will receive a complementary basic listing in this new Directory book. This new A5 publication is designed specifically for the Travel Trade. <a href="/index.php?p=aaqa_accommodation_directory" class="alinks" title="AA Quality Assured Accommodation Directory">Read more...</a></p>
  
<p class="paragraphtext"><span class="inparagraphheading">AA Quality Assured Accommodation Guide:</span> This +-150 page, DL sized booklet has an annual print run of 160 000 copies. This booklet is distributed directly to the Travelling Public at both local and international travel shows. <a href="/index.php?p=aaqa_accommodation_guide" class="alinks" title="AA Quality Assured Accommodation Guide">Read more...</a></p>
<p class="paragraphtext"><span class="inparagraphheading">South Africa's Best:</span> Achievers in the AA Travel Guided Accommodation Awards Programme are listed in South Africa 's Best. This is a compact, high circulation publication with an excellent track record for getting response. <a href="/index.php?p=accom_awards" class="alinks" title="AA Travel Guides Accommodation Awards">Find out more about the Accommodation Awards Programme</a>.</p>
<table width="700" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><div align="center"><span class="paragraphtext"><a href="/index.php?p=buy_books"><img src="../images/Directory-2011-small.jpg" width="151" height="210" /></a></span></div></td>
    <td><div align="center"><span class="paragraphtext"><a href="/index.php?p=buy_books"><img src="../images/guide-2011a-cover.jpg" width="105" height="210" /></a></span></div></td>
    <td><div align="center"><span class="paragraphtext"><a href="/index.php?p=buy_books"><img src="../images/SAB-2011-cover.jpg" width="136" height="210" /></a></span></div></td>
    <td><div align="center"><span class="paragraphtext"><a href="/index.php?p=buy_books"><img src="../images/Zim-2011-cover.jpg" width="104" height="210" /></a></span></div></td>
  </tr>
</table>
<p class="paragraphtext">For more information or to order these books, <a href="/index.php?p=buy_books">click here</a>.</p>
  </div>
    
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading">About AA Travel Guides:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=about_aa_travel_guides">About Us</a></li>
        <li><a class="alinks" href="/index.php?p=contact">Contact Us</a></li>
        <li><a class="alinks" href="/index.php?p=quality_assured">Endorsement Levels</a></li>
        <li><a class="alinks" href="/index.php?p=aa_logo_download">AA Logo Download</a></li>
        <li><a class="alinks" href="/index.php?p=industry">All Products</a></li>
        <li><a class="alinks" href="/index.php?p=travel_books">Travel Books</a></li>
        <li><a class="alinks" href="/index.php?p=accom_awards">Accommodation Awards</a></li>
        <li><a class="alinks" href="/index.php?p=aaqa2">QA Accom Programme</a></li>
        <li><a class="alinks" href="/index.php?p=map">Get Directions (Map)</a></li>
        <li><a class="alinks" href="/index.php?p=map_regions">Map Regions</a></li>
        <li><a class="alinks" href="/index.php?p=join_aaqa">Join Now!</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->
</div>
</div>