<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Vryburg, North West - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading nw">Bophirima , North West</div>
<div class="contentmainheading">
	  <h1>Information about Vryburg, Bophirima, North West</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/vryburg.jpg" title="Vryburg" width="450" height="325" hspace="5" vspace="5">This old locomotive is found in Vryburg's City Centre</div>
    <p class="paragraphtext">Vryburg, a large farming town situated in the <a href="/index.php?p=north_west">North West province</a> of South Africa, is a fantastic tourist destination with a charming character all its own. It is located halfway between Kimberley and <a href="/index.php?p=mafikeng_mmabatho">Mafikeng</a>, due west of Klerksdorp and Orkney, and along the N14 which runs all the way from <a href="/index.php?p=gauteng">Gauteng</a> to the tiny mining town of Springbok in the <a href="/index.php?p=northern_cape">Northern Cape</a> and ultimately to neighbouring <a href="/index.php?p=namibia">Namibia</a>. </p>
    <p class="paragraphtext">Vryburg is the prosperous agricultural and industrial centre of the entire <a href="/index.php?p=bophirima">Bophirima</a> region and the terrific town&rsquo;s contemporary architecture blends seamlessly with its stunning surroundings and the well-preserved old buildings which have been lovingly maintained over the years. The town offers all the mod cons expected of any modern town but still manages to maintain its down-to-earth farming charm. Vryburg and its surrounding farmland&rsquo;s inhabitants are extremely proud of the fact that the region is the country&rsquo;s largest producer of beef (the area is even sometimes referred to as &lsquo;the Texas of South Africa&rsquo;) and it is an absolute must for out-of-towners to indulge themselves in some locally prepared braaivleis and biltong. The friendly locals will more than happily oblige.</p>
    <p class="paragraphtext">The region in which Vryburg is situated was proclaimed part of the Republic of Stellaland in 1882 and Vryburg was its first capital. The townsfolk regarded themselves as &lsquo;free citizens&rsquo; (i.e. &lsquo;vryburgers&rsquo; in Afrikaans), hence the name &lsquo;Vryburg&rsquo;. This independent Boer republic, even though it was very small, played a crucial role in the Anglo-Boer War and there is still a strong sense of history in Vryburg to this day. Fascinating historical attractions in and around Vryburg include a stunning stone church that was built in 1904 by the London Missionary Station, an Anglo-Boer War concentration camp cemetery, the Voortrekker Monument that was erected in 1935 to commemorate the Great Trek, the Vryburg Museum that illustrates the town&rsquo;s social and economic history, and the astonishing ancient rock engravings at Kinderdam, situated halfway between Vryburg and Madibogo.</p>
    <div class="paragraphpictureright"><img src="../images/map-vryburg.jpg" title="Location of Vryburg, North West, South Africa" width="450" height="337" hspace="5" vspace="5">Location of Vryburg, North West, South Africa.</div>
    <ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/vryburg" class="alinks" title="Accommodation in Vryburg">Find Accommodation in Vryburg</a></li>
      </ul>
  <p class="paragraphtext">Other spectacular Vryburg attractions include a challenging and endlessly enjoyable golf course, an annual agricultural show (South Africa&rsquo;s third largest), and the absolutely gorgeous Leon Taljaard Nature Reserve. Situated just 5km north of Vryburg, this nature reserve boasts over 100 types of birds, white rhino, buffalo, wildebeest, zebra, giraffe, eland, duiker, springbok, gemsbok, red hartebeest, and blesbok. The scenic and rugged landscape is conducive to a wide variety of outdoor activities and includes some of the North West&rsquo;s finest hiking trails, such as the Vryburg and Leon Taljaard walks. The largest cattle sale in the southern hemisphere takes place in Vryburg on a weekly basis.</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading nw">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/north_west/vryburg" class="alinks" title="Accommodation in Vryburg">Accommodation in Vryburg</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/north_west" class="alinks">Specials in the North West</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=north_west" class="alinks">North West</a></li>
        <li><a href="/index.php?p=bophirima" class="alinks">Bophirima</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-nw.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading nw">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
      <li><a href="/index.php?p=lichtenburg" class="alinks">Lichtenburg</a></li>
   	  <li><a href="/index.php?p=klerksdorp" class="alinks">Klerksdorp</a></li>
   	  <li><a href="/index.php?p=mafikeng_mmabatho" class="alinks">Mafikeng</a></li>
   	  <li><a href="/index.php?p=potchefstroom" class="alinks">Potchefstroom</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>