<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Warmbaths (Bela-Bela), Limpopo - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Waterberg , Limpopo</div>
	<div class="contentmainheading">
	  <h1>Information about Warmbaths (Bela-Bela), Limpopo</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/warmbaths.jpg" title="Warmbaths (Bela-Bela)" width="450" height="305" hspace="5" vspace="5">Warmbaths (Bela-Bela), Limpopo<br />
  &copy; South African Tourism</div>
<p class="paragraphtext">The beautiful and bustling town of Bela-Bela, formerly known as Warmbaths (or &lsquo;Warmbad&rsquo; in Afrikaans), is situated in the <a href="/index.php?p=waterberg">Waterberg</a> district of <a href="/index.php?p=limpopo">Limpopo</a>, South Africa. It is located along the N1 between <a href="/index.php?p=pretoria">Pretoria</a> and <a href="/index.php?p=polokwane_pietersburg">Polokwane</a>, only an hour&rsquo;s drive from Pretoria and not more than an hour and half&rsquo;s drive from the <a href="/index.php?p=or_tambo_airport">OR Tambo International Airport</a> in <a href="/index.php?p=johannesburg">Johannesburg</a>.</p>
<p class="paragraphtext">The entire town is based around the<a href="/index.php?p=warmbaths_springs"> Bela-Bela hot water springs</a>. One of South Africa&rsquo;s busiest tourism destinations, Bela-Bela boasts a wealth of wonderful holiday options, from the hot water springs to numerous spas and wellness centres to game parks and nature reserves to fantastic family resorts complete with exciting waterslides, pools, and play parks.</p>
<p class="paragraphtext">The hot water springs around which the town of Bela-Bela developed are a fascinating natural attraction themselves, producing roughly 22 000 litres of naturally heated water from the earth per hour, heated to a temperature of about 53&deg;C. These soothing warm waters are rich in calcium carbonate, sodium chloride, and various other mineral salts and are said to have immense healing properties, hence the proliferation of wellness centres and spas in the area. </p>
<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/warmbaths_%28bela-bela%29" class="alinks" title="Accommodation in Warmbaths (Bela-Bela)">Find Accommodation in Warmbaths (Bela-Bela)</a></li>
      </ul>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-warmbaths.jpg" title="Location of Warmbaths (Bela-Bela), Limpopo, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Warmbaths (Bela-Bela), Limpopo, South Africa.</div>
    <p class="paragraphtext">Bela-Bela&rsquo;s lovely surrounding landscape contains sweeping farmlands and stunning game reserves and provides endless opportunities for outdoor enthusiasts, including Big 5 game viewing, hiking, horse riding, hot air ballooning, hang gliding, bird watching, and world-class signature golf courses by two of South Africa&rsquo;s golfing greats &ndash; Gary Player and Ernie Els. Located in a malaria free area, Bela-Bela offers fun in the sun for people of all ages.</p>
    <p class="paragraphtext">Bela-Bela has had numerous name changes over the years &ndash; from &lsquo;Bela-Bela&rsquo; to &lsquo;Het Bad&rsquo; to &lsquo;Hartingsburg&rsquo; to &lsquo;Warmbaths&rsquo; (or &lsquo;Warmbad&rsquo;) and back to &lsquo;Bela-Bela&rsquo;, its original name that was given to it by the Tswana tribes who settled there in the early 19th century. Bela-Bela means &lsquo;the water that boils on its own&rsquo; in Tswana, in reference to the hot water springs in the area.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading lm">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/warmbaths_%2528bela-bela%2529" class="alinks" title="Accommodation in Warmbaths">Accommodation in Warmbaths</a></li>
   	  <li><a href="/accommodation/specials/southern_africa/south_africa/limpopo" class="alinks">Specials in Limpopo</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=limpopo" class="alinks">Limpopo</a></li>
        <li><a href="/index.php?p=waterberg" class="alinks">Waterberg</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-lm.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading lm">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=potgietersrus_mokopane">Potgietersrus (Mokopane)</a></li>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/tzaneen" class="alinks">Tzaneen</a></li>
        <li><a href="/index.php?p=polokwane_pietersburg" class="alinks">Polokwane (Pietersburg)</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>