<head>
<link rel="stylesheet" href="template2.css">
<title>Warmbaths Hot Springs</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading lm">Limpopo Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Warmbaths Hot Springs</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/warmbaths.jpg" title="Warmbaths Hot Springs" width="450" height="305" hspace="5" vspace="5">Warmbaths is famous for its hot springs<br />
  &copy; South African Tourism</div>
    
    <p class="paragraphtext">The Bela-Bela hot water springs, located in <a href="/index.php?p=warmbaths_bela_bela">Bela-Bela</a> in the <a href="/index.php?p=limpopo">Limpopo</a> province of South Africa, are extremely relaxing hot water springs situated merely an hour and 90 minutes&rsquo; drive from <a href="/index.php?p=pretoria">Pretoria</a> and <a href="/index.php?p=johannesburg">Johannesburg</a> respectively. Taking its name from this fantastic natural phenomenon, the bustling town of Bela-Bela (previously known as Warmbaths or Warmbad), one of South Africa&rsquo;s favourite holiday destinations, was developed around the hot water springs.</p>
    <p class="paragraphtext">These wonderful hot water springs were discovered by the Tswana people of the area in the early 1800s. They gave the springs the rather apt name of &lsquo;Bela-Bela&rsquo; which means &lsquo;the water that boils on its own&rsquo;. The soothing hot spring waters were found to have immense powers of healing and relaxation and a resort called Hartingsburg was built around the springs as far back as 1873. </p>
    <p class="paragraphtext">Today the town of Bela-Bela boasts numerous amazing spas, resorts, and wellness centres. The Bela-Bela hot water springs produce approximately 22 000 litres of geothermal water (i.e. water that is heated by energy from the earth) per hour at a temperature of 53&deg;C. The healing waters of the Bela-Bela hot water springs are rich in sodium chloride, calcium carbonate, and numerous other mineral salts.</p>
    <p class="paragraphtext">Besides the Bela-Bela hot water springs and the numerous spas and resorts associated with these therapeutic waters, the area surrounding Bela-Bela is also home to plenty of splendid game viewing attractions, including the Mabula Game Reserve, the Mabalingwe Game Reserve, the Marakele National Park, the Shakama Game Farm, and the Nylsvley Nature Reserve.</p>
    <p class="paragraphtext"><em><strong>Warmbaths Hot Springs Physical Location</strong></em><br />
      Within the <a href="/index.php?p=warmbaths_bela_bela">Warmbaths town</a>.</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Warmbaths Hot Springs</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/warmbaths_%28bela-bela%29">Accommodation in Warmbaths</a><br />
        <a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/waterberg" class="alinks">Accommodation in Waterberg</a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_limpopo">Points of Interest in Limpopo</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.85155,28.305588&amp;spn=0.109036,0.240326&amp;z=12&amp;iwloc=0004b52dc7ddccf023eb9&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace12bc8f41d8b91e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-24.85155,28.305588&amp;spn=0.109036,0.240326&amp;z=12&amp;iwloc=0004b52dc7ddccf023eb9&amp;source=embed" style="color:#0000FF;text-align:left">Limpopo Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/warmbaths_%28bela-bela%29">Warmbaths</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/limpopo/waterberg" class="alinks">Waterberg</a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_limpopo">Limpopo Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>