<head>
<link rel="stylesheet" href="template2.css">
<title>Information about West Coast, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">West Coast , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about the West Coast, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/cape_west_coast_fishing.jpg" title="Small fishing villages are among the many sights to see along the Cape West Coast." width="450" height="252" hspace="5" vspace="5">Small fishing villages are among the many sights to see along the West Coast.</div>
    <p class="paragraphtext">This incredible region offers visitors a chance to experience genuine small town South Africa, and soak up a coastal culture all its own. The West Coast is dramatic in its beauty and contrasting landscapes, and is a place that will surprise even the most experienced travellers.</p>
    <p class="paragraphtext">Stretching over 400km from south to north, it is a wonderful destination to experience a road trip that has few rivals.</p>
    <p class="paragraphtext">The coastline is often extremely desolate, yet incredibly beautiful, and small whitewashed fishing villages, wine farms, wheat fields and magnificent lagoons are just some of the sights to see along the way.</p>
    <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/west_coast/" class="alinks" title="Accommodation in West Coast">Accommodation in West Coast</a></li>
      </ul>
    <p class="paragraphtext">Inland there are the scenic Cederberg and Groot Winterhoek Mountains and the arid <a href="/index.php?p=namaqualand">Namaqualand</a> and Knersvlakte that burst into glorious colour when the summer wild flowers bloom.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-west_coast.jpg" title="Location of the West Coast, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of West Coast, Western Cape, South Africa.</div>
    <p class="paragraphtext">Close to Langebaan is the West Coast National Park, the temporary summer home of some 50,000 migratory birds. Bird Island at Lamberts Bay also offers a close-up view of a busy breeding site.</p>
    <p class="paragraphtext">Yet it is the warm hospitality of the people that will surprise you the most. The  West Coast is highly regarded for its excellent accommodation establishments and its fine seafood and gourmet restaurants. This is also a fabulous region for adventure activities and some serious hiking opportunities.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/index.html" class="alinks" title="Accommodation in Western Cape">Accommodation in Western Cape</a></li>
    	<li><a href="/specials/western_cape_south_africa/" class="alinks">Specials in Western Cape</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=west_coast" class="alinks">West Coast</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/langebaan/index.html" class="alinks">Langebaan</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/paternoster/index.html" class="alinks">Paternoster</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cederberg/index.html" class="alinks">Cederberg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/citrusdal/index.html" class="alinks">Citrusdal</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/clanwilliam/index.html" class="alinks">Clanwilliam</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/saldanha/index.html" class="alinks">Saldanha</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/velddrif/index.html" class="alinks">Velddrif</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/aurora/index.html" class="alinks">Aurora</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/darling/index.html" class="alinks">Darling</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/doringbaai/index.html" class="alinks">Doringbaai</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/elands_bay/index.html" class="alinks">Eland's Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/jacobsbaai/index.html" class="alinks">Jacobsbaai</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/lamberts_bay/index.html" class="alinks">Lambert's Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/redelinghuys/index.html" class="alinks">Redelinghuys</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/strandfontein/index.html" class="alinks">Strandfontein</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/vredenburg/index.html" class="alinks">Vredenburg</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/yzerfontein/index.html" class="alinks">Yzerfontein</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/hopefield/index.html" class="alinks">Hopefield</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/porterville/index.html" class="alinks">Porterville</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/vanrhynsdorp/index.html" class="alinks">Vanrhynsdorp</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/vredendal/index.html" class="alinks">Vredendal</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/riebeek_valley/index.html" class="alinks">Riebeek Valley</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/riebeek-kasteel/index.html" class="alinks">Riebeek Kasteel</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>