<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Wild Frontier, Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Wild Frontier , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Wild Frontier, Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
	<div class="paragraphpictureright"><img src="../images/mountains_barberton.jpg" title="In the heart of the Wild Frontier, Barberton lies amidst a rich geological landscape." width="450" height="337" hspace="5" vspace="5">In the heart of the Wild Frontier, Barberton lies amidst a rich geological landscape.</div>
    <p class="paragraphtext">The Wild Frontier is a cradle of life with geological discoveries and some of the oldest forms of life discovered on earth, dating back more than three billion years.</p>
    <p class="paragraphtext">The imposing Mkonjwa Mountains are said to be of the oldest in the world.</p>
    <p class="paragraphtext">The region borders <a href="/index.php?p=mozambique" class="alinks" title="Information about Mozambique">Mozambique</a>, <a href="/index.php?p=swaziland" class="alinks" title="Information about Swaziland">Swaziland</a> and the southern tip of the <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a> and takes visitors to the historic towns of <a href="/index.php?p=barberton">Barberton</a>, Komatipoort, Kaapmuiden and Badplaas.</p>
    <p class="paragraphtext">Barberton was the centre of the local gold rush and the fa&ccedil;ade of Africa's first stock exchange, which was built in 1887, still stands.</p>
  <ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/wild_frontier/" class="alinks" title="Accommodation in Wild Frontier">Accommodation in Wild Frontier</a></li>
      </ul>
    <p class="paragraphtext">The region holds enormous sentimental value for the people of <a href="/index.php?p=mozambique">Mozambique</a> whose late president, Samora Machel, died when his plane crashed south of Komatipoort at the height of apartheid atrocities in South Africa. A monument has been built in a small village to commemorate his life and the lives of those who died in the crash with him.</p>
    <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-wild_frontier.jpg" title="Location of Wild Frontier, Mpumalanga, South Africa" width="450" height="305" hspace="5" vspace="5"></a>Location of Wild Frontier, Mpumalanga, South Africa.</div>
    <p class="paragraphtext">The Wild Frontier's heritage trails, hiking and 4x4 trails certainly take visitors on a journey of discovery, or one of pampering, at hot springs and hydro spas at Badplaas.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/index.html" class="alinks" title="Accommodation in Mpumalanga">Accommodation in Mpumalanga</a></li>
    	<li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=wild_frontier" class="alinks">Wild Frontier</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Popular Towns and Suburbs:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=barberton" class="alinks">Barberton</a></li>
      <li><a href="/index.php?p=malalane" class="alinks">Malalane</a></li>
      <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/komatipoort/index.html" class="alinks">Komatipoort</a></li>
    </ul>
<!-- END right menus -->
</div>
</div>