<head>
<link rel="stylesheet" href="template2.css">
<title>Witbank Dam</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Mpumalanga Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Witbank Dam</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/witbank_dam.jpg" title="Witbank Dam" width="450" height="273" hspace="5" vspace="5">Witbank Dam is the largest municipal dam in the southern hemisphere.</div>
    
    <p class="paragraphtext">Witbank Dam, situated in <a href="/index.php?p=witbank">Witbank</a> in the marvellous <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>, is one of this lovely city's major tourism draws. Boasting a catchment area of over 3 540km2, Witbank Dam is reputed to be the largest municipal dam in the southern hemisphere.</p>
    <p class="paragraphtext">The dam offers water babies, adrenaline junkies, and avid anglers endless opportunities for water-based fun in the sun. Water skiers cutting tracks on the surface of the water, windsurfers being propelled by mighty gusts of wind, sailors navigating the large expanse, and relaxed fishermen snoozing until a bite startles them into action are all familiar sights at Witbank Dam.</p>
    <p class="paragraphtext">The beautiful bushveld surrounding the dam even contains a selection of lovely South African game and revellers are urged to keep their eyes peeled in between the day's fun-filled activities.</p>
    <p class="paragraphtext"><em><strong>Witbank Dam Physical Address</strong></em><br />
      5km Southwest of <a href="/index.php?p=witbank">Witbank</a></p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Witbank Dam</span><br />
    	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/witbank_%28emalahleni%29">Accommodation in Witbank</a><br />
      	<a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Accommodation in Cultural Heartland</a><a href="/index.php?p=malalane"></a></p>
  
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_mpumalanga">Points of Interest in Mpumalanga</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.85428,29.30397&amp;spn=0.216271,0.480652&amp;z=11&amp;iwloc=0004b3903837f05ce8d8e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msid=212948302570851137913.0004ace19aa2abf51be9a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.85428,29.30397&amp;spn=0.216271,0.480652&amp;z=11&amp;iwloc=0004b3903837f05ce8d8e&amp;source=embed" style="color:#0000FF;text-align:left">Mpumalanga Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/witbank_%28emalahleni%29">Witbank</a></li>
   	  <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/highlands_meander" class="alinks">Cultural Heartland</a><a href="/index.php?p=malalane"></a></li>
    </ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_mpumalanga">Mpumalanga Points of Interest</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>