<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Witbank (eMalahleni), Mpumalanga - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading mp">Cultural Heartland , Mpumalanga</div>
	<div class="contentmainheading">
	  <h1>Information about Witbank (eMalahleni), Mpumalanga</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/witbank.jpg" title="Witbank (eMalahleni)" width="450" height="343" hspace="5" vspace="5">Witbank (eMalahleni), Mpumalanga </div>
<p class="paragraphtext">Witbank is a wonderful city and terrific tourist destination situated in the <a href="/index.php?p=mpumalanga">Mpumalanga</a> province of <a href="/index.php?p=south_africa">South Africa</a>. Meaning 'white ridge' in Afrikaans, the city got its name from the white sandstone outcrop that dominates the stunning Witbank skyline.</p>
<p class="paragraphtext">Witbank is in close proximity to many of Mpumalanga's spectacular game and nature reserves, tourist spots, and natural attractions, including one of South Africa's most prized tourism assets &ndash; the incomparable <a href="/index.php?p=kruger_park_mpumalanga">Kruger National Park</a>.</p>
<p class="paragraphtext">The name of the city officially changed to 'eMalahleni' ('place of coal') on the 3rd of March 2006 in reference to the area's historical and current status as a coal mining region. An abundance of coal was discovered in the area just before the turn of the last century and people flocked here to haul away this precious resource. Paul Kruger's railway line made the area accessible in 1894, the first coal mines soon begun operating, and Witbank was declared a town in 1903. It developed rapidly over the years and the thriving city we know and love today continues to do so. Witbank is also well known as a sheep, dairy, potato, maize, and sweet potato farming town.</p>

<ul>
        <li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/witbank_%28emalahleni%29" class="alinks" title="Accommodation in Witbank (eMalahleni)">Find Accommodation in Witbank (eMalahleni)</a></li>
      </ul>
      <div class="paragraphpictureright"><a href="/index.php?p=map_regions"><img src="../images/map-witbank.jpg" title="Location of Witbank (eMalahleni), Mpumalanga, South Africa" width="450" height="337" hspace="5" vspace="5"></a>Location of Witbank (eMalahleni), Mpumalanga, South Africa.</div>
      <p class="paragraphtext"> Witbank is no longer merely an immensely popular stop-over point on the way to the world-famous Kruger National Park &ndash; the Witbank area also boasts some of its own beautiful wildlife and birdlife and many other stunning attractions. <a href="/index.php?p=witbank_dam">Witbank Dam</a>, said to be the southern hemisphere's largest municipal dam, is situated in Witbank. With a catchment area of more than 3 540km2, this delightful dam is ideal for all manner of exhilarating water sports, including sailing, skiing, fishing, and windsurfing and even offers game viewing opportunities.</p>
      <p class="paragraphtext">The lovely Olifants River in the area is also a popular spot for avid anglers, water babies, and sunbathers. Outdoor enthusiasts will love Witbank as there is  no end to the adrenaline pumping activities on offer &ndash; paragliding, hiking, golfing, and 4x4ing being very popular Witbank pastimes.</p>
  </div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading mp">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/mpumalanga/witbank_%2528emalahleni%2529" class="alinks" title="Accommodation in Witbank (eMalahleni)">Accommodation in Witbank (eMalahleni)</a></li>
   	  <li><a href="/specials/mpumalanga_south_africa/" class="alinks">Specials in Mpumalanga</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=mpumalanga" class="alinks">Mpumalanga</a></li>
        <li><a href="/index.php?p=cultural_heartland" class="alinks">Cultural Heartland</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-mp.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading mp">Nearby Towns:</div>
	<ul class="contentrightheading2">
        <li><a href="/index.php?p=middelburg_mp">Middelburg</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/groblersdal/index.html">Groblersdal</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/loskop_dam/index.html">Loskop Dam</a></li>
        <li><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/siyabuswa/index.html">Siyabuswa</a></li>
      </ul>
<!-- END right menus -->
</div>
</div>