<head>
<link rel="stylesheet" href="template2.css">
<title>Wonderboom Airport</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading gp">Gauteng Points of Interest</div>
	<div class="contentmainheading">
	  <h1>Wonderboom Airport</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
    <div class="paragraphpictureright"><img src="../images/wonderboom_airport.jpg" title="Wonderboom Airport" width="450" height="248" hspace="5" vspace="5">Wonderboom Airport</div>
    
    <p class="paragraphtext">Opened in 1937 on the Wonderboom farm, Wonderboom Airport was initially a civilian airstrip that was used for light aircraft. With the outbreak of the Second World War in 1939 it was converted into a military training facility for Royal Air Force and SA Air Force pilots and was used as such until 1945 when peace finally returned to the nations of the world. It was chosen as a training facility due to the fact that it was very far from the war zone and for its favourable weather conditions for trainee pilots.</p>
    <p class="paragraphtext">The airport received a massive upgrade in 1965, including an extended runway and a new terminal building and hangers. This improved infrastructure allowed the airport to eventually receive its first Boeing 737 in 1982. The runway was extended to its present length of 1 828m in 1993.</p>
    <p class="paragraphtext">In 2007, with the 2010 FIFA World Cup looming, R165.5 million was spent on upgrades to the airport in anticipation of the droves of tourists being drawn to South Africa for this (what turned out to be) hugely successful international event. Within two years (July 2009 to be exact), it was announced that Wonderboom Airport would host scheduled passenger flights, commencing in October 2009, to and from <a href="/index.php?p=cape_town">Cape Town</a>, <a href="/index.php?p=durban">Durban</a>, and <a href="/index.php?p=polokwane">Polokwane</a>.</p>
    <p class="paragraphtext">Wonderboom Airport was a busy hub of activity during the 2010 FIFA World Cup, used mostly by VIP guests, heads of state, and foreign dignitaries. It is popularly used as an alternate airport for <a href="/index.php?p=pretoria">Pretoria</a> residents who do not wish to commute to <a href="/index.php?p=or_tambo_airport">OR Tambo International Airport</a> or <a href="/index.php?p=lanseria_airport">Lanseria International Airport</a> in Johannesburg (an estimated 25% to 30% of OR Tambo International Airport's passengers are Pretoria residents).</p>
    <p class="paragraphtext">Wonderboom Airport is also used as a flight school for private trainers and numerous sky-diving clubs in Gauteng.</p>
    <p class="paragraphtext"><em><strong>Wonderboom Airport Physical Address</strong></em><br /> 
    Eastern end of Linvelt Road, Annlin</p>

<p class="paragraphtext"><span class="inparagraphheading">Find accommodation near Wonderboom Airport</span><br />
  <a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/pretoria">Accommodation near Pretoria</a><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/west_rand"></a></p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=poi_map_gauteng">Points of Interest in Gauteng</a>.</p>
<p class="paragraphtext">See more <a class="alinks" href="/index.php?p=airports">Major Airports in South Africa</a>.</p>
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.633169,28.2407&amp;spn=0.108337,0.240326&amp;z=12&amp;iwloc=0004acf4cd0b0ca7d7e76&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.za/maps/ms?msa=0&amp;msid=216073252827771016284.0004a47c01a34cd032af9&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-25.633169,28.2407&amp;spn=0.108337,0.240326&amp;z=12&amp;iwloc=0004acf4cd0b0ca7d7e76&amp;source=embed" style="color:#0000FF;text-align:left">Gauteng Map of Points of Interest</a> in a larger map</small>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

  <!-- START right menus -->

<div class="contentrightheading">Nearby Accommodation:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/accommodation/southern_africa/south_africa/gauteng/pretoria">Pretoria</a></li>
	</ul>
    
<div class="contentrightheading">Points of Interest:</div>
	<ul class="contentrightheading2">
    	<li><a class="alinks" href="/index.php?p=poi_map_gauteng">Gauteng Points of Interest</a></li>
        <li><a class="alinks" href="/index.php?p=airports">Airports in South Africa</a></li>
    </ul>
    
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<!-- END right menus -->

</div>
</div>