<p>For immediate release: Monday 22 February 2010</p>

<b>STATEMENT BY THE OFFICE OF THE MINISTER OF TOURISM, MR MARTHINUS VAN SCHALKWYK<br />
WORLD CUP ACCOMMODATION PRICES - SURVEY TO BE CONDUCTED</b>


 

<p>There has always been a common understanding between Government and the
tourism industry that inflating accommodation prices during the 2010 FIFA
World Cup will be detrimental to the sustainability of the industry beyond
the event. </p>

 

<p>As a destination, South Africa is known to suit tourists' pockets, and the
Department of Tourism intends to protect that reputation. At every one of
the engagements with stakeholders in the tourism industry since 2004,
Minister Marthinus Van Schalkwyk, South African Minister of Tourism,
reiterated that price-hiking could be harmful to the reputation of our
tourism industry. </p>

 

<p>"South Africa is a value-for-money destination, and this reputation should
be safeguarded. Price-hiking could damage the reputation of our tourism
industry. However, at the same time it must be kept in mind that June and
July 2010 will be high season in South Africa, and tourists should not
expect the normal low-season prices for that time of the year," Minister van
Schalkwyk said.</p>

 

<p>"However, in recent weeks we have noted allegations that accommodation
establishments in the tourism industry are not responsible, and are
inflating prices excessively. Until now our impression has been that this is
not the case, but we believe it should be investigated and the results of
the investigation made public.</p>

 

<p>"I therefore believe that as a responsible government we should conduct an
independent and scientifically sound survey to avoid a case where
perceptions are created based on anecdotes. The Department of Tourism has
therefore appointed Grant Thornton to conduct such a survey. We have also
requested them to benchmark South African accommodation prices against those
of other nations that previously hosted the FIFA World Cup," Minister Van
Schalkwyk said.</p>

  

<p>The Department of Tourism also notes that in many cases where very high
prices are cited, these prices are for private apartments and houses that
are being rented out to individuals or groups, often in some of the most
high-end neighbourhoods in the country. This phenomenon does not represent
the tourism industry in general (tourism businesses such as hotels, guest
houses, etc.). Futhermore it must be kept in mind that these prices are
determined by supply and demand, and the government cannot interfere in the
functioning of the market in this regard.</p>

 

<p>"Of course there will always be establishments which to take chances during
events such as the 2010 World Cup, and we have always discouraged and will
continue to discourage this kind of exploitation where it occurs. We believe
this survey will assist us in getting to the bottom of the allegations. As
soon as the survey is completed, which is expected to be in three weeks'
time, I will discuss the outcomes with the tourism industry," Minister Van
Schalkwyk said. </p>

 

<p>The Department of Tourism believes South Africa has enough accommodation
available for all the visitors expected for 2010, and is now primarily
focusing on providing a variety of services to these tourists.</p>


Enquiries:<br />

Department of Tourism Ministry of Tourism<br />

Jay Singh 082-654-4699 jsingh@tourism.gov.za<br />
Ronel Bester 083242 7763 rbester@tourism.gov.za                                                        


