<br>
<form action="" method="post">

<table>
	<tr valign="top">
		<td class="w50 divider" >
			<table class='tbl_form'>
				<tr><th colspan=2>Database Details</th></tr>
				<tr>
					<td colspan="2">
						<tt class="warning">WARNING! Do not change these settings unless you know what you are doing.
							Entering the wrong variables will render this install useless.</tt>
					</td>
				</tr>
				<tr>
					<td class="w150">Database Server</td>
					<td>
						<input type=text name=database_server class="w100" value="<!-- database_server -->">
					</td>
				</tr>
				<tr>
					<td class="w150">Database Name</td>
					<td>
						<input type=text name=database_name class="w100" value="<!-- database_name -->">
					</td>
				</tr>
				<tr>
					<td class="w150">Database Username</td>
					<td>
						<input type=text name=database_username class="w100" value="<!-- database_username -->">
					</td>
				</tr>
				<tr>
					<td class="w150">Database Password</td>
					<td>
						<input type=text name=database_password class="w100" value="<!-- database_password -->">
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table class='tbl_form'>
				<tr><th colspan=2>FTP Details</th></tr>

				<tr>
					<td class="w150">FTP Host</td>
					<td>
						<input type=text name=ftp_server class="w100" value="<!-- ftp_server -->">
					</td>
				</tr>
				<tr>
					<td class="w150">FTP Username</td>
					<td>
						<input type=text name=ftp_username class="w100" value="<!-- ftp_username -->">
					</td>
				</tr>
				<tr>
					<td class="w150">FTP Password</td>
					<td>
						<input type=text name=ftp_password class="w100" value="<!-- ftp_password -->">
					</td>
				</tr>
				<tr>
					<td class="w150">Root Directory</td>
					<td>
						<input type=text name=ftp_root class="w100" value="<!-- ftp_root -->">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
	<div class='top_buttons' style="margin-top:  5px"><input type="submit" value="Save Connection Settings" class="save_button"></div>
</form>