<script type="text/javascript">
	w = '!wysiwyg!';

	/**
	 * Populate buttons
	 */
	function init_buttons() {
		ws = w.split(",");
		if (w!='') {
			for (i = 0; i < ws.length; i++) {
				document.getElementById(ws[i]).checked = true;
			}
		}
	}
</script>
<br>
<form action="" method="post">
	<div class='top_buttons' style="margin-top:  5px"><input type="submit" value="Save WYSIWYG Settings" class="save_button"></div>
<table class='tbl_form'>
	<tr><th colspan=2>Content Manager Settings</th></tr>
	<tr>
		<td width="200px">
			Hide CSS Editor
		</td>
		<td>
			<input type="checkbox" value="Y" name="hide_css_editor" <!-- hide_css --> >
		</td>
	</tr>
</table>
<BR>
<table class='tbl_form'>
	<tr><th colspan=8>WYSIWYG Settings</th></tr>
	<tr valign="top">
		<td width="25%">
			<input type="checkbox"  name="buttons[]"  name="buttons[]" value="Cut" id="Cut" ><label for="Cut">Cut</label><br>
			<input type="checkbox"  name="buttons[]" value="Copy" id="Copy" ><label for="Copy">Copy</label><br>
			<input type="checkbox"  name="buttons[]" value="Paste" id="Paste" ><label for="Paste">Paste</label><br>
			<input type="checkbox"  name="buttons[]" value="PasteWord" id="PasteWord" ><label for="PasteWord">Paste Word</label><br>
			<input type="checkbox"  name="buttons[]" value="PasteText" id="PasteText" ><label for="PasteText">Paste Text</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Undo" id="Undo" ><label for="Undo">Undo</label><br>
			<input type="checkbox"  name="buttons[]" value="Redo" id="Redo" ><label for="Redo">Redo</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="ForeColor" id="ForeColor" ><label for="ForeColor">Foreground Color</label><br>
			<input type="checkbox"  name="buttons[]" value="BackColor" id="BackColor" ><label for="BackColor">Background Color</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Bookmark" id="Bookmark" ><label for="Bookmark">Bookmark</label><br>
			<input type="checkbox"  name="buttons[]" value="Hyperlink" id="Hyperlink" ><label for="Hyperlink">Hyperlink</label><br>
		</td>
		<td width="25%">
			<input type="checkbox"  name="buttons[]" value="Numbering" id="Numbering" ><label for="Numbering">Numbering</label><br>
			<input type="checkbox"  name="buttons[]" value="Bullets" id="Bullets" ><label for="Bullets">Bullets</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Indent" id="Indent" ><label for="Indent">Indent</label><br>
			<input type="checkbox"  name="buttons[]" value="Outdent" id="Outdent" ><label for="Outdent">Outdent</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Image" id="Image" ><label for="Image">Images</label><br>
			<input type="checkbox"  name="buttons[]" value="Flash" id="Flash" ><label for="Flash">Flash</label><br>
			<input type="checkbox"  name="buttons[]" value="Media" id="Media" ><label for="Media">Media</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Table" id="Table" ><label for="Table">Tables</label><br>
			<input type="checkbox"  name="buttons[]" value="Guidelines" id="Guidelines" ><label for="Guidelines">Guidelines</label><br>
			<input type="checkbox"  name="buttons[]" value="Absolute" id="Absolute" ><label for="Absolute">Absolute</label><br>
		</td>
		<td width="25%">
			<input type="checkbox"  name="buttons[]" value="Characters" id="Characters" ><label for="Characters">Special Characters</label><br>
			<input type="checkbox"  name="buttons[]" value="Line" id="Line" ><label for="Line">Line</label><br>
			<input type="checkbox"  name="buttons[]" value="RemoveFormat" id="RemoveFormat" ><label for="RemoveFormat">Remove Format</label><br>
			<input type="checkbox"  name="buttons[]" value="ClearAll" id="ClearAll" ><label for="ClearAll">Clear All</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="TextFormatting" id="TextFormatting" ><label for="TextFormatting">Text Formatting</label><br>
			<input type="checkbox"  name="buttons[]" value="ParagraphFormatting" id="ParagraphFormatting" ><label for="ParagraphFormatting">Paragraph Formatting</label><br>
			<input type="checkbox"  name="buttons[]" value="ListFormatting" id="ListFormatting" ><label for="ListFormatting">List Formatting</label><br>
			<input type="checkbox"  name="buttons[]" value="BoxFormatting" id="BoxFormatting" ><label for="BoxFormatting">Box Formatting</label><br>
			<input type="checkbox"  name="buttons[]" value="Styles" id="Styles" ><label for="Styles">Styles</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Paragraph" id="Paragraph" ><label for="Paragraph">Paragraph</label><br>
			<input type="checkbox"  name="buttons[]" value="FontName" id="FontName" ><label for="FontName">Font Name</label><br>
			<input type="checkbox"  name="buttons[]" value="FontSize" id="FontSize" ><label for="FontSize">Font Size</label><br>
		</td>
		<td width="25%">
			<input type="checkbox"  name="buttons[]" value="Bold" id="Bold" ><label for="Bold">Bold</label><br>
			<input type="checkbox"  name="buttons[]" value="Italic" id="Italic" ><label for="Italic">Italic</label><br>
			<input type="checkbox"  name="buttons[]" value="Underline" id="Underline" ><label for="Underline">Underline</label><br>
			<input type="checkbox"  name="buttons[]" value="Strikethrough" id="Strikethrough" ><label for="Strikethrough">Strikethrough</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="Superscript" id="Superscript" ><label for="Superscript">Superscript</label><br>
			<input type="checkbox"  name="buttons[]" value="Subscript" id="Subscript" ><label for="Subscript">Subscript</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="JustifyLeft" id="JustifyLeft" ><label for="JustifyLeft">Justify Left</label><br>
			<input type="checkbox"  name="buttons[]" value="JustifyCenter" id="JustifyCenter" ><label for="JustifyCenter">Justify Center</label><br>
			<input type="checkbox"  name="buttons[]" value="JustifyRight" id="JustifyRight" ><label for="JustifyRight">Justify Right</label><br>
			<input type="checkbox"  name="buttons[]" value="JustifyFull" id="JustifyFull" ><label for="JustifyFull">Justify Full</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
			<input type="checkbox"  name="buttons[]" value="XHTMLSource" id="XHTMLSource" ><label for="XHTMLSource">HTML Source</label><br>
			<input type="hidden" name="buttons[]" value="|" ><br>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
	init_buttons();
</script>