<p>Dear <!-- firstname --> <!-- lastname --></p>

<p>This is an automated email from The Christian Association of South Africa in response to a password recovery request.</p>

<p>Your new password: <!-- password --></p>
<p>Please update your password after log in</p>

<p>Regards</p>
