<section class="page-header alternative-header">
    <ol class="breadcrumb">
        <li>Bemat Admin</li>
        <li>Dashboard</li>
    </ol>
    <div class="page-header_title">
        <h1>
            <span data-i18n="dashboard1.dashboard">Dashboard</span>
            <span class="page-header_subtitle" data-i18n="dashboard1.welcomeMsg" data-i18n-options='{"username": "John Doe"}'>Welcome back {{username}}</span>
        </h1>
    </div>
</section>

<section class="page-content">

    <div class="row" data-animation="hierarchical-display">
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="mini-card mini-card-primary">
                        <div class="mini-card-left">
                            <span>Today Sales</span>
                            <h2>1,541</h2>
                        </div>
                        <div class="mini-card-right">
                            <div class="bemat-mini-chart bemat-mini-chart-primary">
                                <span class="peity-line">5,3,9,6,5,9,7,3,5,8</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="mini-card mini-card-success">
                        <div class="mini-card-left">
                            <span>Today Earnings</span>
                            <h2>$801,124</h2>
                        </div>
                        <div class="mini-card-right">
                            <div class="bemat-mini-chart bemat-mini-chart-success">
                                <span class="peity-bar">4,3,5,2,5,3,8,3,4,9</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="mini-card mini-card-info">
                        <div class="mini-card-left">
                            <span>Today Orders</span>
                            <h2>2,457</h2>
                        </div>
                        <div class="mini-card-right">
                            <div class="bemat-mini-chart bemat-mini-chart-info">
                                <span class="peity-line">4,3,5,6,5,4,6,3,2,6</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="mini-card mini-card-danger">
                        <div class="mini-card-left">
                            <span>Average time</span>
                            <h2>43 sec.</h2>
                        </div>
                        <div class="mini-card-right">
                            <div class="bemat-mini-chart bemat-mini-chart-danger">
                                <span class="peity-bar">4,3,5,6,5,4,6,3,2,6</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" data-animation="animate" data-animation-in="zoomIn">
                <div class="panel-heading">
                    <header>
                        Live Statistics
                        <span class="label label-primary pull-right">1024 users online</span>
                    </header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="statistics">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="stat-wrapper">
                                            <h4 class="no-margin-top margin-bottom-2">Total Visits: <span class="pull-right">18,547</span></h4>
                                            <div class="linear-progress-demo " data-toggle="linear-progress" data-mode="determinate" data-type="primary" data-value="30"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="stat-wrapper margin-vertical-4">
                                            <h4 class="no-margin-top margin-bottom-2">Pageviews: <span class="pull-right">108,421</span></h4>
                                            <div class="linear-progress-demo " data-toggle="linear-progress" data-mode="indeterminate" data-type="primary" data-value="57"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="stat-wrapper">
                                            <h4 class="no-margin-top margin-bottom-2">Complete Purchase: <span class="pull-right">1,501/2,000</span></h4>
                                            <div class="linear-progress-demo " data-toggle="linear-progress" data-mode="determinate" data-type="primary" data-value="75"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="chart">
                                            <svg class="height-5"></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="micro-stats layout layout-row layout-align-center margin-top-3">
                                    <div class="micro-chart-1" data-toggle="simple-pie-chart" data-percent="52" data-type="danger" data-size="45" data-line-width="3"></div>
                                    <div class="micro-stats_title flex padding-horizontal-2">Server Load</div>
                                    <div class="micro-stats_icons"><span class="label label-danger"><i class="material-icons">trending_up</i></span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="micro-stats layout layout-row layout-align-center margin-top-3">
                                    <div class="micro-chart-1" data-toggle="simple-pie-chart" data-percent="87" data-type="warning" data-size="45" data-line-width="3"></div>
                                    <div class="micro-stats_title flex padding-horizontal-2">Disk Space</div>
                                    <div class="micro-stats_icons"><span class="label label-warning"><i class="material-icons">report_problem</i></span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="micro-stats layout layout-row layout-align-center margin-top-3">
                                    <div class="micro-chart-1" data-toggle="simple-pie-chart" data-percent="25" data-type="success" data-size="45" data-line-width="3"></div>
                                    <div class="micro-stats_title flex padding-horizontal-2">Bandwidth</div>
                                    <div class="micro-stats_icons"><span class="label label-success"><i class="material-icons">trending_down</i></span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="micro-stats layout layout-row layout-align-center margin-top-3">
                                    <div class="micro-chart-1" data-toggle="simple-pie-chart" data-percent="57" data-type="primary" data-size="45" data-line-width="3"></div>
                                    <div class="micro-stats_title flex padding-horizontal-2">Traffic</div>
                                    <div class="micro-stats_icons"><span class="label label-primary"><i class="material-icons">trending_up</i></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default" data-animation="animate" data-animation-in="zoomIn">
                <div class="panel-heading">
                    <header>Orders</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-top-padding">
                    <div class="layout layout-align-center-vertical">
                        <div class="bemat-pie-chart" data-toggle="simple-pie-chart" data-percent="14" data-type="primary"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>New Messages</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-top-padding">
                    <div class="layout layout-align-center-vertical">
                        <div class="bemat-pie-chart" data-toggle="simple-pie-chart" data-percent="73" data-type="success"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>New Users</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-top-padding">
                    <div class="layout layout-align-center-vertical">
                        <div class="bemat-pie-chart" data-toggle="simple-pie-chart" data-percent="41" data-type="info"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>Live Update</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-top-padding">
                    <div class="layout layout-align-center-vertical">
                        <div class="bemat-pie-chart-live-update" data-toggle="simple-pie-chart" data-percent="37" data-type="primary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default panel-divider">
                <div class="panel-heading">
                    <header>Your Task List</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <div class="tasks-list" data-toggle="subheader" data-class="height-5">
                        <section>
                            <div class="list-subheader" data-mode="sticky">To Do Tasks</div>
                            <ul class="list">
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Release Bemat Admin v1</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Confirm Updates with David</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Make daily backup</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Buy bread and butter</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <div class="list-subheader" data-mode="sticky">Completed Tasks</div>
                            <ul class="list">
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Release Bemat Admin v1</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Archive Task"><i class="material-icons">archive</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Confirm Updates with David</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Archive Task"><i class="material-icons">archive</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Make daily backup</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Archive Task"><i class="material-icons">archive</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Buy bread and butter</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Archive Task"><i class="material-icons">archive</i></button>
                                </li>
                                <li class="list-item list-1-line">
                                    <div class="list-icon">
                                        <input class="checkbox checkbox-primary" type="checkbox" />
                                    </div>
                                    <div class="list-item-text layout-column">
                                        <h3>Buy bread and butter</h3>
                                    </div>
                                    <button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Archive Task"><i class="material-icons">archive</i></button>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>Statistics</header>

                    <div class="panel-heading-tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle panel-tools-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body height-5 no-padding">
                    <div class="ct-chart"></div>
                </div>
            </div>
        </div>
    </div>


</section><!-- /#page-content -->




<script type="text/javascript">
    /**
     * PUT BELOW HERE
     * ALL PAGE LEVEL RELATED SCRIPTS
     */



    /**
     * 1. pageLoadScripts
     *
     * Scripts array to load on pageload event
     *
     * Example:
     *	var pageLoadScripts = [
     *		"js/bemat-demo-script1.min.js",
     *		"js/bemat-demo-script2.min.js"
     *  ]
     *
     */
    var pageLoadScripts = [
        "vendor/d3/d3.v3.js",
        "vendor/nvd3/nv.d3.js",
        'vendor/nvd3/examples/cumulativeLine.js'
    ]

    var pageLoadCSS = [
        "lib/vendor/nvd3/nv.d3.css",
    ]


    /**
     * 2. pageRequiredComponents
     *
     * Components that require this page. By default all components are loaded,
     * but with this array, you can force the reinitialization of any component.
     *
     * Example:
     *	var pageRequiredComponents = [
     *		"Panel",
     *		"Checkbox",
     *		"Select",
     *		"Dropdown",
     *		"Tooltip",
     *		"Modals",
     *		"FloatingLabels",
     *		"Scrollbar",
     *		"SyntaxHighlight",
     *		"MaterialRipple",
     *		"Snackbar",
     *		"Toast",
     *		"Subheader",
     *		"SimplePieCharts",
     *		"LinearProgress",
     *		"CircularProgress",
     *		"SpeedDial"
     *	]
     */
    var pageRequiredComponents = [
        "Checkbox",
    ]


    /**
     * 3. pageRequiredFeatures
     */
    var pageRequiredFeatures = [
        "hierarchicaldisplay"
    ]



    /**
     * 4. doneScriptsLoad()
     *
     * This function gets called when the "pageLoadScripts"
     * and "pageRequiredComponents" arrays above are fully loaded
     */

    // Set page variables globally
    var simplePieChartTimeout, tinyconTimeout;

    var doneScriptsLoad = function(){
        // Sweetalert + Idle Timer
        $(function($) {
            $(document).on("idleOn",function(){
                swal("Idle Mode Activated", "Bemat is now on idle mode.");
            });
        });

        // Linear Progress
        $("[data-toggle='linear-progress']").linearProgress();

        // Simple Pie Charts
        $("[data-toggle='simple-pie-chart']").simplePieChart({
            size: 130,
            duration: 1000
        });

        // SubHeader Lists
        $("[data-toggle='subheader']").subheader();


        // Peity
        $(function($) {
            $(".peity-line").peity("line",{
                height: 28,
                width: 64
            });
            $(".peity-bar").peity("bar",{
                height: 28,
                width: 64
            });
            $(".peity-donut").peity("donut",{
                height: 28,
                width: 64
            });
            $(".peity-pie").peity("pie",{
                height: 28,
                width: 64
            });
        });


        // Toasts
        $(function($) {
            var toastT = setTimeout(function(){
                $.toasts("add",{
                    msg: 		"Welcome to Bemat Admin!",
                });
            },2000);

            var snackT = setTimeout(function(){
                $.snackbar("add",{
                    type: 		"danger",
                    msg: 		"Connection lost. Reestablishing connection.",
                    buttonText: "Close",
                });
            },10000);
        });


        // Simple Pie Charts
        $(function($) {
            setProgress(0);

            function setProgress(){
                var progress = rand(0,100);
                if (progress > 100) {
                    progress = 1;
                }

                $(".bemat-pie-chart-live-update").simplePieChart("set",progress);
                simplePieChartTimeout = window.setTimeout(function(){
                    setProgress();
                },2000);
            }
        });


        //Tinycon
        $(function($) {
            setBubble();

            function setBubble(){
                var bubble = rand(0,20);
                Tinycon.setBubble(bubble);

                tinyconTimeout = window.setTimeout(function(){
                    setBubble();
                },rand(1000,4000));
            }
        });

        // Chartist
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                [5, 2, 4, 2, 6],
                [1, 4, 2, 1, 5],
            ]
        };

        var options = {
            height: 280
        }

        new Chartist.Line(".ct-chart", data, options);


        // NVD3
        d3.json('vendor/nvd3/examples/cumulativeLineData.json', function(data) {
            nv.addGraph(function() {
                var chart = nv.models.cumulativeLineChart()
                                .x(function(d) { return d[0] })
                                .y(function(d) { return d[1]/100 }) //adjusting, 100% is 1.00, not 100 as it is in the data
                                .color(d3.scale.category10().range())
                                .useInteractiveGuideline(true)
                        ;

                chart.xAxis
                        .tickValues([1078030800000,1122782400000,1167541200000,1251691200000])
                        .tickFormat(function(d) {
                            return d3.time.format('%x')(new Date(d))
                        });

                chart.yAxis
                        .tickFormat(d3.format(',.1%'));

                d3.select('#chart svg')
                        .datum(data)
                        .call(chart);

                //TODO: Figure out a good way to do this automatically
                nv.utils.windowResize(chart.update);

                return chart;
            });
        });


    } // END: doneScriptsLoad();


    /**
     * 4. pageDestroy()
     *
     * Destroy all generated instances
     */
    var pageDestroy = function(){
        $(".peity-line").off().remove();
        $('[data-toggle="linear-progress"]').off().remove();

        clearTimeout(simplePieChartTimeout);
        simplePieChartTimeout = void 0;

        clearTimeout(tinyconTimeout);
        tinyconTimeout = void 0;
    }
</script>