<div style="border-bottom: 1px solid #E6322E; max-width: 800px">

    <p>Dear <!-- contact_name -->,</p>

    <p>
        We received a request to reset the password associated with this e-mail address. If you made this request, please click the link below to reset your
        password:<br>
        <a href='<!-- reset_link-->'><!-- reset_link --></a></p>
    <p>If you did not request to have your password reset you can safely ignore this email. Rest assured your customer account is safe.</p>
    <p>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window, or retype it there.
        Once you have returned to Country Travel, we will give instructions for resetting your password.
    </p>

    <p>Yours Sincerely,<br>Country Travel</p>

</div>

<table style="width: 100%">
    <tr>
        <td style="font-size: 0.8em"><!-- server --></td>
        <td  style="font-size: 0.8em; text-align: center">&copy; 2016 Country Travel. All Rights Reserved.</td>
        <td  style="font-size: 0.8em; text-align: right"><!-- timestamp --></td>
    </tr>
</table>
