<div style="border-bottom: 1px solid #E6322E; max-width: 800px">
    <table style="width: 100%">
        <tr>
           <td style="font-size: 0.8em"><img src="http://<!-- server -->/assets/favicon.ico" ></td>
        </tr>
    </table>
    <p>Dear <!-- contact_name --> <!-- contact_surname -->, </p>

    <p>You have been registered with <!-- server --> <br>
      welcome email address
        then copy the address below and paste it in your browser's  address  field.<br>
        <a href='<!-- reset_link-->'><!-- reset_link --></a><br>
       Once you have completed the above step you will be able to login into your account.</p>
    <p><b>Your website login details are:</b></p>
    <p>
    <table class="tg" style="border-collapse:collapse;border-spacing:0;border-color:#ccc; border-color:#ccc;color:#333;background-color:#f0f0f0">
    <tr>
        <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Email address</th>
        <td style="width: 150px; padding:10px 5px; border: 1px solid #ccc; color:#333; background-color:#fff;"><!-- email --></td>
    </tr>
        <tr>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">First Name</th>
            <td style="width: 150px;padding:10px 5px; border: 1px solid #ccc; color:#333; background-color:#fff;"> <!-- firstname --></td>
        </tr>
        <tr>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Last Name</th>
            <td style="width: 150px;padding:10px 5px; border: 1px solid #ccc; color:#333; background-color:#fff;"> <!-- lastname --></td>
        </tr>
    </table>

    <p>Yours Sincerely,<br>Country Travel</p>

</div>

<table style="width: 100%">
    <tr>
        <td style="font-size: 0.8em"><!-- server --></td>
        <td  style="font-size: 0.8em; text-align: center"> Country Travel - &copy; 2008-2016. All Rights Reserved.</td>
        <td  style="font-size: 0.8em; text-align: right"><!-- timestamp --></td>
    </tr>
</table>
