#button {
	background-image: url(../images/button_bg.gif);
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #000000;
}
.textfield {
	font-size: 11px;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}
.text_blue {
	color: #3D54A9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px;
}
.link_red {
	font-family: Arial, Helvetica, sans-serif;
	color: #BB1A1A;
	font-size: 11px;
	text-decoration: none;	
}