#div_result_content {
	padding: 5px;
	margin: 5px;
	background-color: #FFFFFF;
	/*color: #51A0C1;*/
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: justify;
}
#div_result_content_selected {
	color: #51A0C1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: justify;
	padding: 5px;
	margin: 5px;
	background-color: #FFFFFF;
}
#button {
	background-image: url(../images/button_bg.gif);
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #000000;
}
#table th {
	background-color: #CCCCCC;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px;
	border-top: 1px solid #FFFFFF;
	text-align:left;
}
#table tbody td {
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #FFFFFF;
	font-size: 11px;
	color: #333333;
	padding: 3px;
}
#table thead td {
	background-image: url(../images/dark_bg.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0px;
}
#table2 th {
	background-color: #CCCCCC;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px;
	border-top: 1px solid #000000;
	text-align:left;
}
#table2 tbody td {
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #FFFFFF;
	font-size: 11px;
	color: #333333;
	padding: 3px;
}
#table2 thead td {
	background-image: url(../images/grey_bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding: 0px;
}
.bodyStyle {
	margin: 0px;
}
.textfield {
	font-size: 11px;
}
.textfield_req {
	font-size: 11px;
	border: 1px solid #AD271D;
	color: #AD271D;
	background-color: #FFFFFF;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}
.heading_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;	
}
.extras td {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px dashed #F2F2F2;
	font-size: 11px;
	color: #333333;
	padding: 5px;
}
.grey_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4B4949;
}
.grey_table thead {
	background-image: url(../images/dark_bg.gif);
	color: #FFFFFF;		
}
.grey_table_resname {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4B4949;
	text-decoration: none;	
}
.viewaccom_details {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 3px;
	text-align: justify;
}
.text_blue {
	color: #3D54A9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	padding: 3px;
}
.text_white {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.text_success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3BAA3B;
}
.feedback_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	margin: 3px;
}
.feedback_table thead {	
	font-weight: bold;
}
.feedback_table td {
	padding: 3px;
}
.viewaccom_details td {
	padding: 3px;
	border: 1px solid #FFFFFF;
}
.message_table {
	border: 1px dashed #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;	
	padding: 3px;
}
.link_red {
	font-family: Arial, Helvetica, sans-serif;
	color: #BB1A1A;
	font-size: 11px;
	text-decoration: none;	
}
.link_yellow_bold {
	font-family: Arial, Helvetica, sans-serif;
	color: #FDD300;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;	
}
.text_dark_blue {
	color: #3E4E9E;
}
.link_blue {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D79AD;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.text_dark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:justify;
	color: #333333;
}
.text_justified {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:justify;
	color: #666666;
}
.availability_table {	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
}
.availability_table td {
	border: 1px solid #CCCCCC;	
	padding: 1px;
}
.detailsShow {
	position:relative;
}
.detailsHide {	
	display:none;
}
.awards_paging_cell
{
	background-color:#b6c7d0;
	border: 1px solid #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#455863;
	width: 20px;
}
.awards_paging_cell_active
{
	background-color:#627a87;
	border: 1px solid #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFFFFF;
	width: 20px;
}
.awards_text_white 
{
	color:#FFFFFF;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.awards_text_dark 
{
	color:#455863;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.awards_resname {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration:none;
}
.awards_gold {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f5a400;
	font-weight:bold;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	display: inline;
}