<div class="row" style="<!-- display_or_not -->">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Product Quality</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                <div class="col-sm-4">
                    <div>
                        <canvas id='container_products'  width="486" height="226" style="width: 486px; height: 226px;"></canvas>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="">
                        <table style="width: 100%">
                            <tbody>
                            <!-- table_line -->
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        var ctx = $("#container_products");
        var data = {
            labels: [
                <!-- labels -->
            ],
            datasets: [
                {
                    data: [<!-- data -->],
                    backgroundColor: [
                        <!-- colors -->
                    ],
                    hoverBackgroundColor: [
                        <!-- colors -->
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                legend: {
                    display: false
                }
            }
        });
        $(document).on('click', '.view_product', function(event) {
            var value = $(this).data('value');
            var action = $(this).data('action');
            if(value == 0){
                event.preventDefault();
            }
            else{
                document.location = '/index.php?m=reports&a=customer_container_product_report&action='+action;
            }

        });

    })
</script>