<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Application Activity</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12" id="activityTimeline">
                        <input type="hidden" id="latestTimestamp" value="<!-- timestamp -->">
                            <!-- dashboard_content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var readData = setInterval(function() {appendActivity();}, 3000);

    function appendActivity() {
        $.ajax({
            url: '/modules/account_management/ajax/activity.ajax.php?t=' + $('#latestTimestamp').val(),
            complete: function(data) {

                var rData = $.parseJSON(data.responseText);

                for (var x=0; x<rData.mData.length;x++) {
                    $('#activityTimeline').prepend(rData.mData[x]);

                    if ($('#activityTimeline .msg').length > 10) {
                        $('#activityTimeline .msg').last().remove();
                    }
                }

                //Update timestamp
                $('#latestTimestamp').val(rData.timestamp);

            }
        });
    }
</script>