<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/chartist/chartist.min.js"></script>
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<section class="page-content">
<br>

    <div class="row">
        <div class="col-md-8">
            <!-- hook_content_left -->
        </div>
        <div class="col-md-4">
            <!-- hook_content_right -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- hook_content_bottom -->
        </div>
    </div>


</section><!-- /#page-content -->

<script>
//    setTimeout(function() {
//        toastr.options = {
//            closeButton: true,
//            progressBar: true,
//            showMethod: 'slideDown',
//            timeOut: 4000
//        };
//        toastr.success('<!-- company_name -->', 'Welcome <!-- username --> ');
//
//    }, 1300);
</script>

