@CHARSET "UTF-8";

.block_header {width: 100%; height: 20; background-color: silver; border-color: #000; border-style: dotted; border-width: 0 0 1 0; margin-bottom: 2px;padding: 0 0 0 2; font-weight: bold;}
.block_header TD, .block_header_active TD {font-weight: bold; font-size: 11pt}
.block_header_active {width: 100%; height: 20; background-color: grey; font-weight: bold; border-color: #000; border-style: dotted; border-width: 1 1 0 1; font-weight: bold; padding: 2 0 0 2}
.block_content {width: 100%; display: none; border-color: #000; border-style: dotted; border-width: 0 1 1 1; margin-bottom: 5px; background-color: #D3D3D3}
.intro {font-style: italic; font-size: 8pt; background-color: #B2B2B2}

.field_label {font-size: 10pt;font-family: arial, sans-serif}
.line1 {background-color: #E4E4E4}
.line2 {background-color: #D4D4D4}
.line_over {background-color: yellow}

#save_button {text-align: right}

#send_cover {background-color: silver; width: 100%; height: 100%; display: none; position:absolute; top: 0px; left: 0}
.edit_indicator {padding-right: 2px}
.cMes {color: black; font-size: 8pt; font-style: italic; padding-left: 10px}
.hRow {width: 250px}

.file_line {padding-left: 20px}
.file_sub {padding-left: 110px; font-size: 8pt}
.ajaxIframe {display: none}