<br>
<form action="" method="post">

<table width="100%">
	<tr valign="top">
		<td class="w50 divider" >
			<table class='tbl_form'>
				<tr><th colspan=2>Miscellaneous</th></tr>
				<tr>
					<td class="w150">Date Format</td>
					<td>
						<select name="date_format">
						<!-- date_format -->
						</select>
					</td>
				</tr>
				<tr>
					<td class="w150">Login Page</td>
					<td>
						<select name="loginPage">
							<option value=''> </option>
							<!-- login_page_list -->
						</select>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table class='tbl_form' id="currency_table" style="display: <!-- currency_form_display -->">
				<tr><th colspan=2>Default Currency</th></tr>
				<tr>
					<td class="w150">Display Currency</td>
					<td>
						<input type=text name=display_currency class="w100" value="<!-- display_currency -->">
					</td>
				</tr>
				<tr>
					<td class="w150">Currency Code</td>
					<td>
						<input type=text name=currency_code class="w100" value="<!-- currency_code -->">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class='top_buttons' style="margin-top:  5px"><input type="submit" value="Save General Settings" class="save_button"></div>
</form>