#f_SM{background:#FFF}
#f_SM abbr{display:block;margin:3 0 2 0;padding:0 0 0 5;overflow:hidden;border-style:solid;border-width:1;border-color:#999;color:#777;cursor:pointer;font-size:9pt;background:url(/shared/select_menu.gif) repeat-x #FFF left bottom}
#f_SM abbr samp{float:right;display:block;background:url(/shared/select_menuA.gif) repeat-x #999 left bottom;color:#DDD;padding:0 4 0 5;font-size:9pt;height:16}
#f_SM abbr b{display:block;width:85%;overflow:hidden;font-style:normal;background:url(/shared/select_menu.gif) repeat-x #FFF left bottom}
#f_SM var{display:block;font-style:normal;border-style:solid;border-width:0 1 1 1;border-color:#999;padding:0;margin:-3 0 2 0;display:block;overflow-y:auto;overflow-x:hidden}
#f_SM em{display:block;font-family:arial;font-style:normal;font-weight:normal;width:100%;padding:2 0 2 5;margin:0;cursor:pointer;line-height:100%;border-style:solid;border-width:0 0 1 0;border-color:#DDD;color:#777;font-size:9pt;background:url(/shared/select_menu.gif) repeat-x #FFF left bottom}
#f_SM em.f_Sem{background:#999;color:#FFF}