/* MENU */
.MENU_ p{position:absolute;border-style:solid;border-width:0px 0px 1px 0px;border-color:#888;margin:0}
.MENU_ p a:link,.MENU_ p a:visited,.MENU_ p a:hover{color:#000;background:#FFF;border-color:#888;display:block;width:170px;padding:2px 2px 4px 5px;font-family:arial;font-size:13px;letter-spacing:-1;font-weight:bold;line-height:100%;border-style:solid;border-width:1px 1px 0px 1px;text-decoration:none;text-align:left}
.MENU_ p a:hover{color:#FFF;background:#CC0000}
body {margin: 4px; font-family: arial}

/* MISC */
.i{display:none}
tt{display:block;font-family:arial;font-size:9pt;line-height:105%;font-weight:normal;letter-spacing:0}
form{padding:0}
textarea,input,select{font-family:arial;font-size:9pt}
var{font-style:normal}
.message_red {color: red; text-align: center}
.W10p {width: 10px}
.w50 {width: 50%}
.W100, .w100 {width:100%}
.w200 {width: 200px}
.onblur {color: gray}
.onFocus {color: black}
.dMsg {background-color: #a5acb2; font-family: arial; border: 1px dotted black; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 10px}
.bMsg {margin-left: auto; margin-right: auto; text-align: right; padding: 0px }
.collapsed {border-collapse: collapse;}
.pb {padding-bottom: 10px}
.noPref {width: 100%; text-align: center; padding-top: 50px}
.css_area {width: 100%; height: 440px; margin-top: 5px}
.warning {color: red; background-color: pink}
.divider {border-right: 1px dotted black}
.TC{opacity:0.6;filter:alpha(opacity=60);zoom:1;font-size:8pt;line-height:110%}

/* TOOLTIPS */
#T_O1 hr{color:#888;background-color:#888; height:1px; size:1px}

/* TRWacker */
.TRW1{background:#DDDDD4}
.TRW2{background:#D9D9D9}
.TRWH{background:#FFFF88}

/* TABLE LISTS*/
.tbl_list {width: 100%; border-collapse: collapse; border-left: 1px solid gray; border-right: 1px solid gray}
.tbl_list TH {background-color: #a5acb2; background-image: url(/i/sets/default/th_back.png); font-family: arial; font-size: 10pt}
.tbl_list TR {border-bottom: 1px solid gray}
.tbl_list TD {font-family: arial; font-size: 10pt; border-bottom: 1px solid gray; padding-left: 2px; padding-right: 2px}
.tbl_bottom {height: 4px}
.top_buttons {text-align: right; width: 100%}
.tmo {background-color: #a5acb2}
.tbl_list TR:nth-child(odd)   {
	background-color:#CCF;
}
.tbl_list TR:nth-child(even)   {
	background-color:lavender;
}
.tbl_list TR:last-child   {
	background-color:gray;
}
.tbl_list TR:hover   {
	background-color:#0066CC;
}
.tbl_list TR:last-child:hover   {
	background-color:gray;
}

/* TABLE LISTS*/
.tbl_listNLR {width: 100%; border-collapse: collapse; border-left: 1px solid gray; border-right: 1px solid gray; }
.tbl_listNLR TH {background-color: #a5acb2; background-image: url(/i/sets/default/th_back.png); font-family: arial; font-size: 10pt}
.tbl_listNLR TR {border-bottom: 1px solid gray}
.tbl_listNLR TD {font-family: arial; font-size: 10pt; border-bottom: 1px solid gray; padding-left: 2px; padding-right: 2px}
.tbl_listNLR TR:nth-child(odd)   {
	background-color:#CCF;
}
.tbl_listNLR TR:nth-child(even)   {
	background-color:lavender;
}
.tbl_listNLR TR:hover   {
	background-color:#0066CC;
}

/* Form Tables */
.tbl_form {width: 100%; border-collapse: collapse;}
.tbl_form TH {background-color: #a5acb2; text-align: left; font-family: arial; background-image: url(/i/sets/default/th_back.png);}
.tbl_form TD {background-color: #EAEAEA; font-family: arial;}
.lft_line {border-left: 1px dotted black}

/* BUTTONS */
button, input[type=button], input[type=submit] {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);

	color:rgba(0,0,0,0.9);
/*	text-shadow:1px 1px 0px rgba(255,255,255,0.8);*/
	border:1px solid gray;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(204,204,255,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(204,204,255,1));

	font-size: .8em;
	padding:1px 4px 1px 1px;
	margin: 2px;

font-family: Arial,Helvetica,sans-serif;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(204,204,255,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(174,174,255,1));
}
button:active, button:focus, input[type=button]:active, input[type=submit]:active, input[type=button]:focus, input[type=submit]:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(204,204,255,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(204,204,255,1));
}

button IMG {
	margin: 0px 2px 0px 0px;
	vertical-align: middle;
}

button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
button.wideMargin {
	margin: 4px;
}


.edit_button3 {
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(240,0,0,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(255,51,51,1));
}
.edit_button3:hover {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(255,0,0,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(255,0,0,1));
}
.edit_button3:active, .edit_button3:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}


.button_div {width: 100%; text-align: right}
.view_button {background: #E2E2E2 url(/i/silk/find.png) no-repeat 2px; padding-left: 20px}
.edit_button {background: #E2E2E2 url(/i/silk/pencil.png) no-repeat 2px; padding-left: 20px}
.delete_button {background: #E2E2E2 url(/i/silk/delete.png) no-repeat 2px; padding-left: 20px}
.cancel_button {background: #E2E2E2 url(/i/silk/cancel.png) no-repeat 2px; padding-left: 20px}
.save_button {background: #E2E2E2 url(/i/silk/disk.png) no-repeat 2px; padding-left: 20px}
.add_button {background: #E2E2E2 url(/i/silk/add.png) no-repeat 2px; padding-left: 20px}
.find_button {background: #E2E2E2 url(/i/silk/magnifier.png) no-repeat 2px; padding-left: 20px}
.email_button {background: #E2E2E2 url(/i/silk/email_go.png) no-repeat 2px; padding-left: 20px}
.secure_button {background: #E2E2E2 url(/i/silk/lock.png) no-repeat 2px; padding-left: 20px}
.apply_button {background: #E2E2E2 url(/i/silk/overlays.png) no-repeat 2px; padding-left: 20px}
.ok_button {background: #E2E2E2 url(/i/silk/accept.png) no-repeat 2px; padding-left: 20px}
.pause_button {background: #E2E2E2 url(/i/silk/control_pause_blue.png) no-repeat 2px; padding-left: 20px}
.cross_button {background: #E2E2E2 url(/i/silk/cross.png) no-repeat 2px; padding-left: 20px}
.back_button {background: #E2E2E2 url(/i/silk/resultset_previous.png) no-repeat 2px; padding-left: 20px}
.go_button {background: #E2E2E2 url(/i/silk/control_play_blue.png) no-repeat 2px; padding-left: 20px}
.map_button {background: #E2E2E2 url(/i/silk/map.png) no-repeat 2px; padding-left: 20px}
.book_button {background: #E2E2E2 url(/i/silk/book_open.png) no-repeat 2px; padding-left: 20px}
.book_add_button {background: #E2E2E2 url(/i/silk/book_add.png) no-repeat 2px; padding-left: 20px}
.book_edit_button {background: #E2E2E2 url(/i/silk/book_edit.png) no-repeat 2px; padding-left: 20px}
.book_delete_button {background: #E2E2E2 url(/i/silk/book_delete.png) no-repeat 2px; padding-left: 20px}
.print_button {background: #E2E2E2 url(/i/silk/printer.png) no-repeat 2px; padding-left: 20px}
.undo_button {background: #E2E2E2 url(/i/silk/arrow_undo.png) no-repeat 2px; padding-left: 20px}
.scroll_button {background: #E2E2E2 url(/i/silk/script.png) no-repeat 2px; padding-left: 20px}
.download_button {background: #E2E2E2 url(/i/silk/application_put.png) no-repeat 2px; padding-left: 20px}
.upload_button {background: #E2E2E2 url(/i/silk/image_add.png) no-repeat 2px; padding-left: 20px}
.invoice_button {background: #E2E2E2 url(/i/silk/page_add.png) no-repeat 2px; padding-left: 20px}
.db_button {background: #E2E2E2 url(/i/led-icons/database.png) no-repeat 2px; padding-left: 20px}
.refresh_button {background: #E2E2E2 url(/i/silk/arrow_redo.png) no-repeat 2px; padding-left: 20px}
.cross_only_button {background: #E2E2E2 url(/i/silk/cross.png) no-repeat 2px; padding-left: 10px}
.html_button {background: #E2E2E2 url(/i/silk/page_white_code.png) no-repeat 2px; padding-left: 20px}
.pdf_button {background: #E2E2E2 url(/i/silk/page_white_acrobat.png) no-repeat 2px; padding-left: 20px}

/* Menu */

#menu_bar {width: 100%; background-color: #E9E8F2; border-collapse: collapse; position: fixed; top: 0; left: 0; z-index: 999999999}
#menu_bar TR {height: 15px}
#menu_bar TD {border-right: 1px dotted #535353; padding: 2px 6px 2px 6px; font-size: 12px; color: #888893; font-family: arial; font-weight: bold; white-space:nowrap;}
#menu_bar .end_b {border-right: 0px; width: 90%}
#menu_bar .mo {color: navy; cursor: pointer}
#menu_bar .mo_g {color: green; cursor: pointer}
#menu_bar .mo_b {color: blue; cursor: pointer}
#menu_bar .mo_r {color: red; cursor: pointer}
#menu_bar .menu_off {color: silver; text-decoration: line-through}
#menu_bar .menu_drop_tr {height: 6px; }
#menu_bar .menu_drop {background-color: #E9E8F2; background-image: URL(/W/S2.png); background-repeat: repeat-x;; padding: 0px}

.area_highlight {background-color: #FFA500; border: 1px dotted black}
.shared_highlight {background-color: #0C0; border: 1px dotted black}