table.Win_tb{position:absolute;border-collapse:collapse}
table.Win_tb td{padding:0;font-family:arial}
table.W_itb{background:#F5F5F5;border-style:solid;border-width:1;border-color:#888;width:100%;height:100%}
th.W_th{padding:3 3 0 8;height:18;line-height:105%;text-align:left}
th.W_th b{display:block;cursor:move;width:80%;overflow:hidden;white-space:nowrap;background:#F5F5F5;opacity:0.5;filter:alpha(opacity=50);letter-spacing:-1;font-size:12pt}
th.W_th a:link,th.W_th a:visited,th.W_th a:hover{background:#F5F5F5;text-decoration:none;float:right;display:block;font-size:20pt;line-height:18pt;margin:-4 0 2 0;color:#000;opacity:0.1;filter:alpha(opacity=10);zoom:1;z-index:2;line-height:90%}
th.W_th a:hover{opacity:0.5;filter:alpha(opacity=50)}
iframe.W_if{height:100%;width:100%;border-style:dotted;border-width:1 0 0 0;border-color:#CCC}