
.form_canvas {
	background-color: #EAEAEA; 
	width: 100%-4px; 
	min-height:390px;
	height:auto !important; 
	height:390px; 
	border: 1px dotted silver;
	margin-top: 8px
}

INPUT:focus {
	background-color: #CCF
}

.reportTitle {
	background-color: gray;
}

#reportPrefs {
	width: 100%;
}

#reportPrefs TR {
	vertical-align: top;
}

#reportFooter {
	font-size: .6em;
}