/* 
    Author     : thilo
    Version	   : $Id: tennis.css 87 2011-09-14 06:45:49Z thilo $
*/



BODY {
	margin-top: 25px;
}

#buttons {
	text-align: right;
	width: 100%;
}

#matchList {
	width: 100%;
	border-collapse: collapse;
}

#matchList TH {
	background-color: gray;
	color: black;
}

.lastCol {
	text-align: right;
}

.navigation {
	width: 100%;
	border-collapse: collapse;
	background-color: gray;
	color: white;
}

.navLinkLeft {
	color: white;
	cursor: pointer;
}
.navLinkLeft:before {
	content: '\25C4';
}
.navLinkLeftOff {
	color: silver;
}
.navLinkLeftOff:before {
	content: '\25C4';
}

.navLinkRight {
	color: white;
	cursor: pointer;
}
.navLinkRight:after {
	content: '\25BA';
}
.navLinkRightOff {
	color: silver;
}
.navLinkRightOff:after {
	content: '\25BA';
}

.navFirstTD {
	width: 60px;
	text-align: left;
}
.navPreviousTD {
	
}
.navNextTD {
	text-align: right;
}
.navLastTD {
	width: 60px;
	text-align: right;
}



