/*
Copyright: Darren Hester 2006, http://www.designsbydarren.com
License: Released Under the "Creative Commons License", 
http://creativecommons.org/licenses/by-nc/2.5/
*/

body {
  text-align: center;
  background: #656868 url('../img/bg.jpg') top center no-repeat fixed;
  margin-top:30px;
  margin-bottom:30px;
  color:#333333;
}

A:link {
	COLOR: #000000; text-decoration: underline
}
A:visited {
	COLOR: #000000; text-decoration: underline
}
A:active {
	COLOR: #000000; text-decoration: underline
}
A:hover {
	COLOR: #000000; text-decoration: none
}

#page_wrapper {
  background: #F3E7A9 url('../img/page_bg.jpg') top left;
  margin-left: auto; 
  margin-right: auto;
  width: 640px;
  text-align: left;
  border: 4px solid #F4F4EE;
}

#page_header {
  height: 140px;
  background: #515230 url('../img/header.jpg') top left no-repeat;
}  

#page_header h1 {
  padding-top:30px;
  padding-left: 20px;
  font-family: verdana, helvetica, sans-serif;
  font-size:26px;
  font-weight:bold;  
  color: #FCF8E3;
  letter-spacing: -1px;
  margin:0px;
}
#page_header h2 {
  padding-top:0px;
  padding-left: 20px;
  font-family: verdana, helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;  
  color: #E2D179;
  margin:0px;  
}

#menu_bar {
  height:30px;
  background: #A5A162 url('../img/menu_bg.jpg') top left no-repeat;
}

#navcontainer ul
{
padding-left: 0;
margin-left: 0;
margin-top:5px;
background-color: transparent;
color: #F3E7A9;
float: left;
width: 100%;
font-family: verdana, helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: transparent;
color: #F3E7A9;
text-decoration: none;
float: left;
border-right: 1px solid #BBB774;
}

#navcontainer ul li a:hover
{
background-color: transparent;
color: #fff;
}

#content_wrapper {
  background: transparent url('../img/content_bg.jpg') top left no-repeat;
}

#left_side {
  float:left;
  width:480px;
}
  
#left_side h3 {
  margin:10px;
  margin-right:15px;
  font-family: verdana;
  font-size:14px;
  font-weight: bold;
  line-height:18px;
  color: #A0410D;
}
  
#left_side p {
  margin:10px;
  margin-right:15px;
  font-family: verdana;
  font-size:12px;
  line-height:18px;
  color: #333333;
}

#right_side {
  float:right;
  width:150px;
}
  
#right_side h3 {
  margin-right:10px;
  margin-bottom: 5px;
  font-family: verdana;
  font-size:12px;
  font-weight: bold;
  line-height:16px;
  color: #FCF8E3;
  background: #595A38;
  padding:4px;
  border:1px solid #3A3B22;
}
  
#right_side p {
  margin:5px;
  margin-bottom:15px;
  padding-right:10px;
  font-family: verdana;
  font-size:11px;
  line-height:16px;
  color: #333333;
}

#page_footer {
  height: 70px;
  background: #515230 url('../img/footer.jpg') top left no-repeat;
}  

#page_footer A:link {
	COLOR: #F2C968; text-decoration: underline
}
#page_footer A:visited {
	COLOR: #F2C968; text-decoration: underline
}
#page_footer A:active {
	COLOR: #F2C968; text-decoration: underline
}
#page_footer A:hover {
	COLOR: #F2C968; text-decoration: none
}

#page_footer p {
  text-align:center;
  padding-top:20px;
  font-family: verdana;
  font-size:11px;
  line-height:16px;
  color: #FCF8E3;
}

.spacer {
  margin:0px;padding:0px;height:10px;clear:both;
}

  
 
 