/* 
    Document   : message_center
    Created on : 06 Jul 2010, 3:15:53 PM
    Author     : thilo Muller (2010)
    Description:
        Manage the layout of the message center
*/

.div_hide {display: none;}
.div_show {display: block}
.col1 {width: 150px}
.help {font-size: 8pt}
LABEL {margin-right: 10px}
#message_title {width: 100%;}
#message_content {width: 100%; height: 80px}


/* CALENDAR */
.AAcpYearNavigation,
.AAcpMonthNavigation
		{
		background-color:#6677DD;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.AAcpDayColumnHeader,
.AAcpYearNavigation,
.AAcpMonthNavigation,
.AAcpCurrentMonthDate,
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDate,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDate,
.AAcpCurrentDateDisabled,
.AAcpTodayText,
.AAcpTodayTextDisabled,
.AAcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.AAcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #6677DD;
		border-width:0 0 1px 0;
		}
.AAcpCurrentMonthDate,
.AAcpOtherMonthDate,
.AAcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.AAcpCurrentMonthDate
		{
		color:#6677DD;
		font-weight:bold;
		}
.AAcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.AAcpOtherMonthDate
		{
		color:#808080;
		}
TD.AAcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #6677DD;
		border-width:1px;
		border:solid thin #000000;
		}
TD.AAcpCurrentDateDisabled
		{
		border-width:1px;
		border:solid thin #FFAAAA;
		}
TD.AAcpTodayText,
TD.AAcpTodayTextDisabled
		{
		border:solid thin #6677DD;
		border-width:1px 0 0 0;
		}
A.AAcpTodayText,
SPAN.AAcpTodayTextDisabled
		{
		height:20px;
		}
A.AAcpTodayText
		{
		color:#6677DD;
		font-weight:bold;
		}
SPAN.AAcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.AAcpBorder
		{
		border:solid thin #6677DD;
		}