<table width="100%" border="0" cellpadding="0" cellspacing="0" background="../../images/header_bg.gif">
  <tr>
    <td width="187"><img src="../../images/top_left.gif" width="187" height="115" /></td>
    <td><img src="../../images/header_logo.gif" width="578" height="115" /></td>
  </tr>
</table>