/* Holding Table */
.tplTable {
	border: 0px;
	width: 100%
}

.tplTable TD {
	width: 40%;
	text-align: center
}

/* Tour Image */
.tplImage {
	border: 1px solid black;
	width: 100px
}

/* Tour Name */
/* Remove the styles to display links with default site styles */
.tplName A:visited, .tplName A:link, .tplName A:active {
	text-decoration: none;
	color: black
}

.tplName A:hover {
	text-decoration: none;
	color: gray
}

/* Tour Category */
/* Remove the styles to display links with default site styles */
.tplCategory A:visited, .tplCategory A:link, .tplCategory A:active {
	text-decoration: none;
	color: black;
	font-size: 8pt
}

.tplCategory A:hover {
	text-decoration: none;
	color: gray;
	font-size: 8pt
}

/* Tour Dates */
/* Remove the styles to display links with default site styles */
.tplDates A:visited, .tplDates A:link, .tplDates A:active {
	text-decoration: none;
	color: black;
	font-size: 9pt
}

.tplDates A:hover {
	text-decoration: none;
	color: gray;
	font-size: 9pt
}
