<body>
	<p>Geliefde <!-- firstname --> <!-- lastname -->,</p> 

	<p><b><u>Vandag Se Boodskap:</u></b></p> 
	<!-- message1 -->
	<hr width='100%'> 
	<p><b><u><font color='#F00'>Important Note:</font></u></b></p> 
	<p><font color='#F00'>Let asb op dat dit nie toegelaat word om deur die maatskappy se netwerk e-posse te stuur wat nie met die maatskappy te doen het nie. Met die toekomstige ontwikkeling op die CA-Web word dit in die vooruitsig gestel dat jy in staat moet wees om so 'n groot dokumente in ag te neem van die CA-Web in jou eie tyd.</font></p> 
	<hr width='100%'> 

	<p><strong><u>Vandag Se gebedsversoeke:</u></strong> (Let asseblief daarop dat gebedsversoeke kan ook aanlyn aangemeld word: <a href='http://www.tcaosa.co.za/index.php?page=contact_us'>click here</a>)</p> 
	<!-- message3 --> 
	<br><hr width='100%'> 

	<p><strong><u>Vandag Se Web Versoeke:</u></strong></p> 
	<!-- message4 -->
	<br><hr width='100%'> 

	<p><strong><u>Vandag Se Getuienis / Witness Ontvang:</u></strong></p> 
	<!-- message5 -->
	<br><hr width='100%'> 

	<p><strong><u>Hierdie Week Se Gebeure:</u></strong></p> 
	<!-- message6 -->

	<!-- message7 -->
</body>