<body>
	<p>Beloved <!-- firstname --> <!-- lastname -->,</p>
	<p><b><u>Today's Message (English):</u></b></p>
	<!-- message1 -->
	<hr width='100%'>
	<p><b><u><font color='#F00'>Important Note:</font></u></b></p>
	<p><font color='#F00'>Please note it is contrary to send mail through the Company network that is not Company related. With the future development on the CA Web it is envisaged that you should be able to observe such large documents from the CA Web in your own time.</font></p>
	<hr width='100%'>
	<p><b><u>Today's prayer requests:</u></b> (Please note that prayer requests can also be logged online at : <a href='http://www.tcaosa.co.za/index.php?page=contact_us'>click here</a>)</p>
	<!-- message3 -->
	<hr width='100%'>
<p><strong><u>Today's Web Requests:</u></strong></p>
<!-- message4 -->
<br><hr width='100%'>

<p><strong><u>Today's Testimony / Witness Received:</u></strong></p>
<!-- message5 -->
<br><hr width='100%'>

<p><strong><u>This week's events:</u></strong></p>
<!-- message6 -->
		
<!-- message7 -->
	
</body>