<div><span style='color: red; font-size: 14pt;'><b><!-- error_level --></b>: <!-- error_message --></span>
<br><span style='color: blue; font-size: 10pt;'><b>File</b>: <!-- error_file --> (<b>Line</b>: <!-- error_line -->)</span><div><hr>