<!--  TODO errorDivClosed is only transparent, it needs to be compressed into the top right corner. -->
<script src=/shared/cookie.js></script>
<script>
function setErrorState()
{
	if(getCookie('hideErrors') == 1)
	{
		SetCookie('hideErrors', '0', 10 )
		document.getElementById('errorDiv').style.display=''
		document.getElementById('errorDivClosed').style.display='none'
	}
	else
	{
		SetCookie('hideErrors', '1', 10 )
		document.getElementById('errorDiv').style.display='none'
		document.getElementById('errorDivClosed').style.display=''
	}
}
</script>
<style>
#errorDiv {
	position: absolute; 
	background-color: black; 
	top: 0; 
	left: 0; 
	opacity:0.9; 
	filter:alpha(opacity=90); 
	color: white;
	width: 100%;
	font-family:arial;
}

#errorDiv img{
	float:left;
	margin:0 4 0 0
}

#errorDivClosed {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
}

.head_NOTICE, .head_WARNING,.head_ERROR{
	background-color: #6f92a6;  
	display: block; 
	color: black; 
	line-height: 16pt; 
}

.body_NOTICE, .body_WARNING,.body_ERROR {
	background-color: #aebbc3; 
	line-height: 12pt; 
	color: black; 
	border-width: 0 0 1 0; 
	border-color: black; 
	border-style: solid; 
	padding: 0 0 10 0
}

.highlite_error_tracker {
	background-color: white; 
	color: black; 
	border-width: 0 0 1 0; 
	border-color: black; 
	border-style: solid; 
	line-height: 12pt; 
	padding: 0 0 10 0
}

</style>
<span id='errorDivClosed'><img src='/i/jshb.gif' onClick='setErrorState()' title='Open Errors'></span>
<div id=errorDiv>
	<img src='/i/jsha.gif' onClick='setErrorState()' title='Minimize'><b><!-- errorCount --> Errors On This Page</b>
		<div id='errorList'>
		<!-- ErrorLine Start -->
			<div onMouseOver='this.className="highlite_error_tracker"' onMouseOut='this.className="body_<!-- errorName -->"' class='body_<!-- errorName -->' id='errorLine'>
				<b class='head_<!-- errorName -->'><!-- errorName --></b>
				<b><!-- errorMessage --></b> (<!-- errorType -->)<br>
				File:<!-- file --><br>
				Line: <!-- line -->
			</div>
		<!-- ErrorLine End -->
		</div>
	</div>

<!-- HideErrors Start -->
<script>document.getElementById('errorDiv').style.display='none'</script>
<!-- HideErrors End -->