<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Container States</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                <div class="col-sm-4">
                    <div>
                        <canvas id='containers'  width="486" height="226" style="width: 486px; height: 226px;"></canvas>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="">
                        <table style="width: 100%">
                            <tbody>
                            <!-- table_line -->

                            <tr>
                                <td style="font-weight: bold; border-top: 1px solid silver"></td>
                                <td  style="font-weight: bold; border-top: 1px solid silver">Total</td>
                                <td  style="font-weight: bold; border-top: 1px solid silver"><!-- total --></td>
                                <td  style="font-weight: bold; border-top: 1px solid silver"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        var ctx = $("#containers");
        var data = {
            labels: [
                <!-- labels -->
            ],
            datasets: [
                {
                    data: [<!-- data -->],
                    backgroundColor: [
                        <!-- colors -->
                    ],
                    hoverBackgroundColor: [
                        <!-- colors -->
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                legend: {
                    display: false
                }
            }
        });
        $(document).on('click', '.view_state', function(event) {
            var value = $(this).data('value');
            document.location = '/index.php?m=reports&a=customer_container_states_report&state_id='+value;
        });
    })
</script>