/*
* Standard Blue: #0096FF;
*/
BODY {
	font-family: Helvetica;
	font-size: 1.0em;
	background-color: #ffffff;
}

A {
	color: #0099CC;
	text-decoration: none;
}

.pageCanvas {
	width: 1150px;
	margin: auto auto;
}
.header {
}
.header TABLE {
	width: 100%;
}
.header A {
	color: #0099CC;
	font-size: 1.4em;
	text-decoration: none;
}

.pageBody {
	width: 100%;
}
.pageBody TD:first-child {
	width: 70%;
	vertical-align: top;
}

.pageBodyRightCol {
	color: #a5acb2;
	font-size: 0.9em;
	text-align: justify;
	vertical-align: top;
}

.alignRight {
	text-align: right;
}

.alignBottom {
	vertical-align: bottom;
}

.busCard {
	width: 358px;
	height: 202px;
	border: 1px solid gray;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.orderValue {
	color: #0096FF;
	font-size: 5em;
	font-weight: bold;
}

.orderValueBig {
	color: #0096FF;
	font-size: 4em;
	font-weight: bold;
}

.placeOrder {
	font-size: 1.3em;
}

.tc {
	color: gray;
	font-size: 0.8em;
	text-align: justify;
}

#busCardCanvas {
	width: 100%;
}

#busCardCanvas TD {
	white-space: nowrap;
	vertical-align: top;
}

#busCardCanvas TD:last-child {
	padding-right: 10px;
	padding-top: 10px;
}

#busCardCanvas BUTTON {
	width: 18px;
	height: 18px;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#busCardCanvas INPUT {
	width: 180px;
	margin-left: 10px;
	height: 14px;
}

.boldButton {
	font-weight: bold;
}

.italicButton {
	font-style: italic;
}

.smallTextButton {
	font-size: 10px;
}
.mediumTextButton {
	font-size: 12px;
}
.largeTextButton {
	font-size: 14px;
}
.cardLine {
	height: 16px;
	text-align: left;
	font-family: Helvetica;
	letter-spacing: 0px;
	margin-left: 15px;
	color: black;
	line-height:16px;
}

#cardBack {
	position: relative; 
}

#cardBack .cardLine {
	margin-left: 5px;
}

.busCardTable {
	width: 100%;
	border-collapse: collapse;
}

.busCardTable TD {
	/*border: 1px solid blue;*/
	padding: 0px !important;
	padding-top: 20px !important;
	font-size: 12px;
}

.busCardTable TD:first-child {
	width: 115px !important; /* 150 */
	text-align: center;
}
.busCardTable TD:last-child {
	width: 243px; /* 150 */
	text-align: center;
}
.busCardTable TD:first-child IMG {
	max-width: 100px; 
	margin-top: 0px;
	margin-left: 15px;
	max-height: 160px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.small {
	font-size: 10px; /* 10 */
}
.medium {
	font-size: 12px; /* 12 */
}
.large {
	font-size: 14px; /* 14 */
}

.buttonOn {
	background-image: url("/i/buttonOff.png");
	color: black;
}

.buttonOff {
	background-image: url("/i/buttonOn.png");
	color: gray;
}

#buttonStack2 {
	padding-top: 33px;
}
#buttonStack {
	padding-top: 11px;
}
#buttonStack .pad {
	margin-top: 41px !important;
}

#cardBack IMG {
	width: 300px;
	margin-top: 30px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.cardMakerLink {
	width: 358px;
	position: absolute; 
	bottom: 0;
	left: 0;
	margin-bottom: 12px;
	font-size: 0.8em;
}

.upload {
	width: 100px !important;
}

#uploadFrame {
	border: 0px;
	width: 290px;
	height: 90px;
}

.pdfObject {
	width: 385px;
	height: 202px;
	margin: 4px auto;
	border: 0px solid #6699FF;
}

.pdfObject object {
   display: block;
   border: solid 1px #666;
   padding: 0px;
}

.OrderHeading {
	font-size: 1.4em;
	font-weight: normal;
	color: #0096FF;
}

.orderHeading2 {
	font-size: 1.0em;
	font-weight: normal;
	padding-top: 15px;
}

.orderHeading3 {
	font-size: 1.5em;
	font-weight: normal;
	color: #0096FF;
}

.orderSub {
	font-size: 1em;
	padding-top: 5px;
}

.leftTD {
}

.rightTD {
	width: 500px;
}

.orderTable {
	width: 100%;
}
.orderTable TD {
}

.orderTable INPUT[type='text'] {
	width: 430px;
}

.tcHighlight {
	background-color: #0096FF;
	color: black;
}