
<body style="font-family: arial;">
<table align="left" style="margin-right: 10px">
  <tbody>
    <tr>
      <td><img alt="" src="cid:logoimg"></td>
    </tr>
  </tbody>
</table>
<p>Dear Establishment</p>

<p>Thank you for confirming your participation in the <!-- award_year --> AA Quality Assured
Accommodation Awards.</p>

<p>We have processed your participation form and noted your entry as using <!-- participation_options --></p>

<p>Some useful TIPS to encourage guests to fill in the Guest Reviews:
<ul>
	<li>Advise your guests on check-in that you are part of an awards programme and would
		value their input.</li>
	<li>For large groups or corporate guests, approach their table at breakfast and advise them
		that you are participating in an awards programme and would value their input.</li>
</ul>

</p>

<p>For any further information on the awards programme, visit
www.accommodationawards.co.za</p>

<p>We look forward to an exciting year ahead.</p>

<p>Kind regards</p>

<p>Vanessa Weltman<br>
Head of Awards<br>
011 713 2146<br>
awards@aatravel.co.za</p>