<h1>Edit Feedback for <!-- establishment_name --></h1>
<h3><!-- location --></h3>
<form action='' method=post>
<table width=100%>
	<tr valign=top>
		<td>Original:</td>
		<td class=fB2><!-- message --></td>
	</tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr valign=top>
		<td>Edit: </td>
		<td>
			<textarea name=new_comment id=new_comment><!-- message --></textarea>
		</td>
	</tr>
	<tr>
		<td colspan=2 align=right>
			<input type=button value='Cancel' class=cancel_button onClick='document.location="/modules/feedback_s/feedback.php?f=view&id=<!-- id -->"' />
			<input type=submit value='Save' name=SaveFeedback class=save_button />
		</td>
	</tr>
</table>
</form>