
The following feedback was recieved from the AA Travel Guides website. 
<p />
<hr />
<span style='font-family: arial; font-size: 12pt'>Feedback for <!-- establishment_name -->, <!-- location --></span>
<table style='width: 100%'>
    <tr valign=top>
        <td>
            <table id=fVde cellpadding=2 cellspacing=0 style='border-color: grey; border-style: solid; border-width: 1; background-color: #BBBBBB; width: 100%; margin-bottom: 4px'>
                <tr>
                    <td class=td1 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold'>From </td>
                    <td class=td2 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #BBBBBB font-family: arial; font-size: 10pt; font-weight: normal'><!-- feedback_name --></td>
                </tr>
                <tr>
                    <td class=td1 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold'>Date </td>
                    <td class=td2 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #BBBBBB font-family: arial; font-size: 10pt; font-weight: normal'><!-- feedback_date --></td>
                </tr>      
            </table>
        </td>
        <td>
            <table cellpadding=2 cellspacing=0 id=vCe style='border-color: grey; border-style: solid; border-width: 1; background-color: #BBBBBB; width: 100%; margin-bottom: 4px'>
                <tr>
                    <td class=td1 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold'>Visitor Comment</td>
                </tr>
                <tr>
                    <td class=td2 style='border-color: grey; border-style: dotted; border-width: 0 0 1 0; background-color: #BBBBBB font-family: arial; font-size: 10pt; font-weight: normal'><span style='font-size: 9pt; font-style: italic;'><!-- feedback_message --></span></td>
                </tr>                
            </table>
        </td>
    </tr>
</table>

<table id=TRWe cellspacing=0 cellpadding=2 style='width: 100%; border-color: grey; border-style: solid; border-width: 1px'>
    <tr>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>&nbsp;</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Excellent</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Very Good</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Good</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Average</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Poor</th>
       <th style='font-size: 9pt; font-weight: bold; background-color: silver'>Pathetic</th>
    </tr>
    <!-- line_start -->
    <tr style='background-color: <!-- line_color -->'>
       <td><!-- feedback_item --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value5 --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value4 --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value3 --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value2 --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value1 --></td>
       <td class=star style='font-size: 8pt;text-align: center;'><!-- feedback_value-1 --></td>
    </tr>
    <!-- line_end -->
</table>