@CHARSET "ISO-8859-1";

#fVw {width: 100%}
#fVw TD {width: 50%}

#fVr {border-color: grey; border-style: solid; border-width: 1px;}
.fB {font-size: 9pt; font-style: italic;}
.fB2 {font-size: 12pt; font-style: italic;}

#fVd, #vC, #eR{border-color: grey; border-style: solid; border-width: 1; background-color: #BBBBBB; width: 100%; margin-bottom: 4px}
#fVd TD, #vC TD, #eR TD {border-color: grey; border-style: dotted; border-width: 0 0 1 0}
#fVd .td1, #fVd .td2, #vC .td1, #vC .td2, #eR .td1, #eR .td2 {background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold}
#fVd .td2, #vC .td2, #eR .td2 {background-color: #BBBBBB; font-weight: normal;}

/* RESULT LIST */
#TRW {width: 100%; border-color: grey; border-style: solid; border-width: 1px}
#TRW TH {font-size: 9pt; font-weight: bold; background-color: silver}
#TRW TD {font-size: 8pt;}
#TRW .star {text-align: center;}

/* edit */
#new_comment {width: 100%; height: 80px}

/* BUTTONS */
.bottom_buttons {text-align: right;}

/* EMAIL FEEDBACK */
#Fe {width: 100%;}
#Fe TEXTAREA {width: 100%; height: 350}

/* UPDATING PAGES */
#busyBar, #donebar, #failBar {width: 100%; height: 200; text-align: center; position: absolute; top: 160; left: 0}
#doneBar, #failBar {display: none}
#updateIframe {display: none};