<script src='/shared/trwacker.js'></script>


<table cellpadding=2 cellspacing=0 width=100%>
    <tr>
        <td>Filter: 
            <select onchange=filter(this.value) id=uFilter>
                <option value='all'> None
                <option value='waiting'> Waiting for Action
                <option value='approved'> Approved
                <option value='disapproved'> Disapproved
                <option value='hold'> On Hold
            </select>
        </td>
        <td align=right>
            <input type=text id=searchString name=searchString style='width: 150'> in 
            <select id=searchFilter name=searchFilter>
                <option value='establishmentName'>Establishment Name
                <option value='establishmentCode'>Establishment Code
                <option value='visitorName'>Visitor Name
                <option value='feedbackText'>Feedback Text        
            </select><input type=button class=find_button value='Find' onClick=sFilter()>
        </td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <tr style='background-color: grey'>
        <TH>&nbsp;</TH>
        <TH>Visitor</TH>
        <TH>Date</TH>
        <TH>Establishment</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
        <td><!-- status --></td>
        <td><!-- name --></td>
        <td><!-- date --></td>
        <td><!-- establishment --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>
<script>showFilter(); whack();</script>

