
<div id=busyBar>Updating Establishment<p /><img src='/i/throbber-fast2.gif' /><p />Please Wait</div>
<div id=doneBar>Website Update Complete<p /><input type=button value='Continue' class=ok_button onClick="document.location='/modules/feedback_s/feedback.php?f=view&id=<!-- id -->'" /></div>
<div id=failBar>Update Failed<p /><input type=button value='Continue' class=ok_button onClick="document.location='/modules/feedback_s/feedback.php?f=view&id=<!-- id -->'" /></div>
<iframe src='' id=updateIframe> </iframe>
<script>update_page('<!-- code -->')</script>