<script src='/shared/trwacker.js'></script>
<h1>Feedback for <!-- establishment_name --></h1>
<h3><!-- location --></h3>
<table id=fVw>
    <tr valign=top>
        <td>
            <table id=fVd cellpadding=2 cellspacing=0>
                <tr>
                    <td class=td1>From </td>
                    <td class=td2><!-- feedback_name --></td>
                </tr>
                <tr>
                    <td class=td1>Date </td>
                    <td class=td2><!-- feedback_date --></td>
                </tr>       
                <tr>
                    <td class=td1>Status </td>
                    <td class=td2><!-- feedback_status --></td>
                </tr>
            </table>
        </td>
        <td>
            <table cellpadding=2 cellspacing=0 id=vC>
                <tr>
                    <td class=td1>Visitor Comment</td>
                </tr>
                <tr>
                    <td class=td2><span class=fB><!-- feedback_message --></span></td>
                </tr>                
            </table>
            <table cellpadding=2 cellspacing=0 id=eR>
                <tr>
                    <td class=td1>Establishment Reply</td>
                </tr>
                <tr>
                    <td class=td2><span class=fB><!-- reply --></span></td>
                </tr>                
            </table>
        </td>
    </tr>
</table>

<table id=TRW cellspacing=0 cellpadding=2>
    <tr>
       <th>&nbsp;</th>
       <th>Excellent</th>
       <th>Very Good</th>
       <th>Good</th>
       <th>Average</th>
       <th>Poor</th>
       <th>Pathetic</th>
    </tr>
    <!-- line_start -->
    <tr>
       <td><!-- feedback_item --></td>
       <td class=star><!-- feedback_value5 --></td>
       <td class=star><!-- feedback_value4 --></td>
       <td class=star><!-- feedback_value3 --></td>
       <td class=star><!-- feedback_value2 --></td>
       <td class=star><!-- feedback_value1 --></td>
       <td class=star><!-- feedback_value-1 --></td>
    </tr>
    <!-- line_end -->
</table>
<hr />
<div class=bottom_buttons><!-- buttons --></div>
<script>whack();</script>