<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/feedback_s/i/feedback_80.png align="left">
        </td>
        <td>
            <b>Manage Client Feedback</b><br />
            manage all aspects of visitor feedback for an establishment. Feedback can be approved, disapproved or deleted. 
            Emails can also be sent to an establishment requesting a response. This is particularly usefull for 
            negative feedback.
            <table width=100%>
                <tr>
                    <td>
                        <ul>
                            <li>Feedback requiring attention: <!-- attention --></li>
                            <li>Feedback on hold: <!-- hold --></li>
                        </ul>
                    </td>
                    <td align=right>
                        <!-- add_start --><img src='i/feedback_go.png' title='Add a New Staff Account' width=60 border=0 onclick="document.location='/modules/feedback_s/feedback.php?f=list'" style='cursor: pointer''><!-- add_end -->
                    </td>
                </tr>
            </table>
        </td>
     </tr>
</table>
<hr />
