
INPUT, SELECT {background-image: url(/i/input_bg.png)}
H1 {font-family: arial; font-size: 12pt; font-weight: bold; padding: 2 2 2 0; margin: 0px}
.ajaxFrames {display: block;}

/* LETTERS */
.letters {border-color: grey; border-style: dotted; border-width: 0 0 1 0; padding-bottom: 2; text-align: center; width: 100%}
a {color: grey; font-family: arial; font-weight: bold; font-size: 9pt; text-decoration: none; padding: 0 2 0 2}
a:hover {background-color: white}

/* PAGING */
#paging {background-color: silver; color: #A7A7A7; font-family: arial; font-weight: bold; font-size: 9pt}
#td1, #td2, #td4, #td5 {width: 50}
#td1, #td2 {text-align: left}
#td3 {text-align: center}
#td4, #td5 {text-align: right}
.active_page {color: black}

/* BUTTONS */
.view_button {background-image: url(/modules/login/i/view_sml.png); background-repeat: no-repeat}
.edit_button {background-image: url(/modules/login/i/edit_sml.png); background-repeat: no-repeat}
.delete_button {background-image: url(/modules/login/i/delete_sml.png); background-repeat: no-repeat}
.cancel_button {background-image: url(/modules/login/i/Cancel.png); background-repeat: no-repeat}
.save_button {background-image: url(/modules/login/i/Save.png); background-repeat: no-repeat}
.add_button {background-image: url(/modules/login/i/Add.png); background-repeat: no-repeat}
.find_button {background-image: url(/modules/login/i/Search.png); background-repeat: no-repeat}

/* VIEW ACCOUNT */
#vTa {border-color: grey; border-style: solid; border-width: 1; background-color: #BBBBBB}
#vTa TD {border-color: grey; border-style: dotted; border-width: 0 0 1 0}
#vTa .td1, #vTa .td2 {background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold}
#vTa .td2 {background-color: #BBBBBB; font-weight: normal;}
.logsDiv {background-color: white; width: 100%; height: 200; border-color: grey; border-style: inset; border-width: 2; overflow: auto;}
#logsTable {width: 100%}
#logsTable TD {font-family: monospace; font-size: 8pt;}
#logsTable .col1 {background-color: #E2E2E2;}
#logsTable .col2 {background-color: #F4F4F4; border-color: grey; border-style: dotted; border-width: 0 1 0 1}

/* EDIT ACCOUNT */
.addEstab {top: 140px; left: 70px; width: 300; height: 250; display: none; position: absolute;}