.hockey_title_284 {
	font-size: 1.2em;
	font-weight: bold;
}

.hockey_results_284 {
	width: 100%;
	border-collapse: collapse;
}

.hockey_results_284 TH {
        font-size: .8em;
        background-color: gray;
        color: white;
}

.hockey_match_284 {
	font-weight: bold;
	padding-top: 10px;
        font-size: .9em;
        margin: 4px;
}

.hockey_nav_284 {
	width: 100%;
	font-size: .8em;
	background-color: silver;
	border-collapse: collapse;
}

.hockey_nav_prev_284 {
	text-align: left;
	border-top: 1px solid gray;
}
.hockey_nav_center_284 {
	text-align: center;
	border-top: 1px solid gray;
}
.hockey_nav_next_284 {
	text-align: right;
	border-top: 1px solid gray;
}

.result_line_284:hover {
	background-color: blue;
font-size: .8em;
}

.result_line_A_284 {
	background-color: white;
font-size: .8em;
}

.result_line_B_284 {
	background-color: silver;
font-size: .8em;
}