.rugby_title_285 {
	font-size: 1.2em;
	font-weight: bold;
}

.rugby_results_285 {
	width: 100%;
	border-collapse: collapse;
}

.rugby_results_285 TH {
        font-size: .8em;
        background-color: gray;
        color: white;
}

.rugby_match_285 {
	font-weight: bold;
	padding-top: 10px;
        font-size: .9em;
        margin: 4px;
}

.rugby_nav_285 {
	width: 100%;
	font-size: .8em;
	background-color: silver;
	border-collapse: collapse;
}

.rugby_nav_prev_285 {
	text-align: left;
	border-top: 1px solid gray;
}
.rugby_nav_center_285 {
	text-align: center;
	border-top: 1px solid gray;
}
.rugby_nav_next_285 {
	text-align: right;
	border-top: 1px solid gray;
}

.result_line_285:hover {
	background-color: blue;
font-size: .8em;
}

.result_line_A_285 {
	background-color: white;
font-size: .8em;
}

.result_line_B_285 {
	background-color: silver;
font-size: .8em;
}