.combobox {
        border: solid 1px #7F9DB9;
        padding: 0px;
        margin: 0px;
    }
    .combotext
    {
        border-style: groove;
        border-width: 2px;
        padding: 2px;
        margin: 0px;
    }
    .comboOption {
        font-family: Sans-Serif;
        font-size: 10pt;
        color: Black;
        cursor: default;
        text-decoration:none;
    }
    .comboOption a:active
    {
        color: Black;
        text-decoration:none;
    }
    .comboOption a:link
    {
        color: Black;
        text-decoration:none;
    }
    .comboOption a:visited
    {
        color: Black;
        text-decoration:none;
    }
    .comboOption a:hover
    {
        color: White;
        text-decoration:none;
    } 