<script type="text/javascript">
	editor_features = [!editor_features!];
</script>
<script type="text/javascript" src='/shared/Editor_new/scripts/innovaeditor.js'></script>
<script type="text/javascript" src='/modules/content_manager/editor.js'></script>

<script type="text/javascript">et()</script>
<form action="editor.php?Pid=!Pid!&Aid=!Aid!&WR=!WR!&Eid=!Eid!&W=!W!" method="post" >
<!-- content -->

<table id=E_s class=i>
	<tr>
		<!-- message -->
		<th style="text-align: right">
			<!-- button1 -->
			<!-- button1b -->
			<!-- button2 -->
			<!-- button3 -->
	</th></tr>
	</table>
	<input type=hidden name=new_Eid value=0>
	</form>

	<table id=ldt style=display:none><tr><td><center><img src='/shared/L.gif' alt=""><tt><b>Updating Page</b></tt></center></td></tr></table>
	<script type="text/javascript">es(0,'!title!',0)</script>

