.i
{display:none}

#EDIT_T,
#EDIT_W,
.TabS,
.TabP a
{font-family:arial;font-size:9pt}

/* WIN */
#EDIT_W table
{border-collapse:collapse;position:absolute;border:0}
#EDIT_W td
{padding:0;border:0;letter-spacing:0;font-style:normal;text-align:left;font-family:arial;font-size:9pt;line-height:9pt;color:#000;text-align:center}
#EDIT_W h5
{color:#888;font-size:16pt;letter-spacing:-1;padding:7 8 8 8;margin:0;line-hieght:100%;cursor:move;font-weight:bold;white-space:nowrap}
#EDIT_W select
{width:100%}
#EDIT_W div
{margin:2}
#EDIT_W button
{font-size:8pt;padding:0}
#EDIT_W .edittd
{background:#EEE;padding:0 8 8 8}
#EDIT_W .edittd table
{margin:0 0 4 0;display:block;position:static}
#EDIT_W .edittd table td
{text-align:left}
#EDIT_W .edittd table input
{width:140;font-size:8pt}


#TIP_box tt
{width:140;font-size:8pt;color:#777}
#TIP_box textarea
{width:140;height:99;font-size:8pt}


/* WIN */
#MENU_style,
#MENU_children,
#MENU_link,
#LINK_box,
#TIP_box
{z-index:99999990}


#MENU_eg
{width:140;border-style:solid;border-width:1}


/* TABS */
.TabS
{position:absolute;top:0;left:0;border-collapse:collapse;z-index:99999995;border:0}
.TabS th
{text-align:left;vertical-align:middle;padding:0;background:url(/W/S2.png) repeat-x #EEE 0px 17px;white-space:nowrap;height:19;overflow:hidden;border:0}
.TabS td
{padding:0;background:url(/W/S6.png) repeat-x 0px -10px;border:0;height:6;font-size:1px}
.TabS a:link,.TabS a:visited,.TabS a:hover
{font-style:normal;height:19;display:block;float:left;text-decoration:none;white-space:nowrap;color:#888;padding:4 7 0 8;line-height:100%;font-weight:bold;border-style:dotted;border-width:0 1 0 0;border-color:#CCC;margin:0}
.TabS a.active:link,.TabS a.active:visited,.TabS a.active:hover
{color:#FFF;cursor:default;background:url(/W/S2.png) repeat-x #CC0000 0px 17px}
.TabS a.active:hover
{background:url(/W/S2.png) repeat-x #FF0000 0px 18px}
.TabS em
{float:right;font-style:normal;color:#AAA;font-size:7pt;display:block;border-style:dotted;border-width:0 0 0 1;border-color:#AAA;padding:3 4 0 5;height:19;font-weight:normal}
.TabS s
{text-decoration:none}

/* TABS DROPS */
.TabP p
{position:absolute;margin:0 0 0 2;background:#EEE;width:140;color:#888;font-size:9pt;padding:0;line-height:110%;border-style:solid;border-width:1 1 0 1;border-color:#888;z-index:99999999;text-align:left;font-family:arial}
.TabP p.TabT
{margin:0 0 0 2;background:#FFF;font-size:8pt;padding:4 3 5 5;border-width:1;line-height:100%}
.TabP a:link,.TabP a:visited,.TabP a:hover
{display:block;text-decoration:none;white-space:nowrap;color:#888;padding:4 6 4 8;line-height:100%;font-weight:bold;border-style:dotted;border-width:0 0 1 0;border-color:#888;font-weight:bold;text-align:left}
.TabP a:hover
{background:#FFF;color:#000}
.TabP a.active:link,.TabP a.active:visited,.TabP a.active:hover
{color:#FFF;cursor:default;background:#CC0000}
.TabP a.griy:link,.TabP a.griy:visited,.TabP a.griy:hover
{color:#888;cursor:default;background:#DDD}
.TabP em
{display:block;font-style:normal;margin:0;overflow-y:auto;overflow-x:hidden}

.TabP #Mp_Maddr,.TabP #Mp_Madtg
{z-index:999999999;padding:0}

#TEXT_e
{width:280;height:180}

/* ZONES */
#EDIT_Z table,
#EDIT_Z span,
#EDIT_Z div
{position:absolute;border-collapse:collapse;border:0}
#EDIT_Z table td
{padding:0}
#EDIT_Z #EDIT_shld
{top:0;left:0;width:100%;height:100%;z-index:9990}
#EDIT_Z #EDIT_z0ff
{top:0;left:0;width:100%;height:100%;z-index:9999;cursor:pointer}
#EDIT_Z #EDIT_zhl,
#EDIT_Z #EDIT_zAi
{top:0;left:0;z-index:9999;border-style:solid;border-width:2;border-color:#FF0000;background:#FFFF00;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;overflow:hidden;padding:0}
#EDIT_Z #EDIT_zAs
{top:0;left:0;z-index:9999;cursor:pointer}
#EDIT_Z  #EDIT_zAs div{border-style:solid;border-width:2;border-color:#FF0000;background:#FFFF00;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;overflow:hidden;padding:0}

/* AREAS */
span._AREA,
span._NEWAREA
{display:block;margin:0;padding:0}
span._NEWAREA
{text-align:center;background:gold;padding:8;border-style:solid;border-width:5;border-color:red;color:#000;font-size:14px;font-family:arial}
span._NEWAREA tt
{font-weight:normal;font-size:9pt}

/* MENUS */
#MENU_style button
{display:block;width:140}
#MENU_style div
{text-align:left;margin:0 0 8 0;border-style:solid;border-width:1;padding:2 0 3 4;line-height:100%;font-weight:bold;font-size:13px;letter-spacing:-1;cursor:pointer}


#Mp_Maddr,#Mp_Madtg
{width:119;z-index:99999;padding:2 4 2 4;border-width:1;text-align:left}
#Mp_PgO
{width:160;padding:0 2 0 2}

.EDIT_upl
{width:100%;height:100%}
.EDIT_upl td
{valign:middle}