
IFRAME {
	border: 0px;
	width: 100%;
	height: 100px;
}

#importList {
	border-collapse: collapse;
	width: 100%;
}

#importStep1,
#importStep2 {
	display: none;
}

#importStep1 {
	width: 100%;
}
#importStep1 SELECT,
#importStep1 TABLE {
	width: 100%;
}
#importStep1 P {
	font-size: 0.9em;
	font-family: Arial,Helvetica,sans-serif;
}

.alignRight {
	text-align: right;
}
.w100 {
	width: 100%;
}

