	<a href="http://www.aatravel.co.za/staticnew" class="link_red">AA Travel Guides</a> 
	#if ($level == "region")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${region.getFileName()}.html" class="link_red">$util.capitalizeWords($region.getName())</a>
	#elseif ($level == "country")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${country.getRegion().getFileName()}.html" class="link_red">$util.capitalizeWords($country.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${country.getFileName()}.html" class="link_red">$util.capitalizeWords($country.getName())</a>
	#elseif ($level == "province")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${province.getRegion().getFileName()}.html" class="link_red">$util.capitalizeWords($province.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${province.getCountry().getFileName()}.html" class="link_red">$util.capitalizeWords($province.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${province.getFileName()}.html" class="link_red">$util.capitalizeWords($province.getName())</a>
	#elseif ($level == "town_without_province")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${town.getRegion().getFileName()}.html" class="link_red">$util.capitalizeWords($town.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${town.getCountry().getFileName()}.html" class="link_red">$util.capitalizeWords($town.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/towns/${town.getFileName()}.html" class="link_red">$util.capitalizeWords($town.getName())</a>
	#elseif ($level == "town")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${town.getRegion().getFileName()}.html" class="link_red">$util.capitalizeWords($town.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${town.getCountry().getFileName()}.html" class="link_red">$util.capitalizeWords($town.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${town.getProvince().getFileName()}.html" class="link_red">$util.capitalizeWords($town.getProvince().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/towns/${town.getFileName()}.html" class="link_red">$util.capitalizeWords($town.getName())</a>
	#elseif ($level == "suburb")
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${suburb.getRegion().getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/${suburb.getCountry().getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/towns/${suburb.getTown().getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getTown().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/staticnew/accommodation/${suburb.getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getName())</a>	
	#end