@CHARSET "ISO-8859-1";

/* RESULT LIST */
#TRW {width: 100%; border-color: grey; border-style: solid; border-width: 0px}
#TRW TH {font-size: 9pt; font-weight: bold; background-color: silver}
#TRW TD {font-size: 8pt;}
#TRW .star {text-align: center;}

/* ESTABLISHMENT FORM */
.block_header {width: 100%; height: 20; background-color: silver; border-color: #000; border-style: dotted; border-width: 0 0 1 0; margin-bottom: 2px;padding: 0 0 0 2; font-weight: bold;}
.block_header TD, .block_header_active TD {font-weight: bold; font-size: 11pt}
.block_header_active {width: 100%; height: 20; background-color: yellow; font-weight: bold; border-color: #000; border-style: dotted; border-width: 1 1 0 1; font-weight: bold; padding: 2 0 0 2}
.did_you_mean {font-family: arial; font-size: 9pt}
.did_you_mean A {color: navy; text-decoration: none}
.did_you_mean A:hover {color: navy; text-decoration: underline}
.poi_dym {width: 100%; height: 20px; border-width: 0px;}

.block_content {width: 100%; display: none; border-color: #000; border-style: dotted; border-width: 0 1 1 1; margin-bottom: 5px; background-color: #D3D3D3}
.intro {font-style: italic; font-size: 8pt; background-color: #B2B2B2}
#contact_list TH {font-weight: bold; font-size: 8pt; background-color: grey}
#contact_list TD {font-weight: bold; font-size: 8pt}
.field_label {font-size: 10pt;font-family: arial, sans-serif}
.line1 {background-color: #E4E4E4}
.line2 {background-color: #D4D4D4}
.line_over {background-color: yellow}
#contact_form {display: none; position: absolute; width: 300px; height: 200px; top: 150; left: 300; background-color: silver; border-color: black; border-style: solid; border-width: 2}
#contact_form TABLE {width: 100%}
#save_button {text-align: right}
#public_contact TD, TH {font-size: 10pt;font-family: arial, sans-serif}
#image_iframe {display: none; position: absolute; width: 400px; height: 300px; top: 150; left: 300; border-color: black; border-style: solid; border-width: 2}
.restype_list OPTGROUP {margin-top: 10px}
#send_cover {background-color: silver; width: 100%; height: 100%; display: none; position:absolute; top: 0px; left: 0}
.edit_indicator {padding-right: 2px}
.cMes {color: black; font-size: 8pt; font-style: italic; padding-left: 10px}
.hRow {width: 250px}

/* UPDATING PAGES */
#busyBar, #donebar, #failBar {width: 100%; height: 200; text-align: center; position: absolute; top: 160; left: 0}
#doneBar, #failBar {display: none}

/* IMAGE UPLOAD BLOCK */
#image_iframe {top: 140px; left: 150px; width: 450; height: 320; display: none; position: absolute; padding: 0px; border-color: silver; border-width: 2px; border-style: outset}
.image_header {font-family: arial; font-size: 12px; font-weight: bold}
.image_body, .image_body A {font-family: arial; font-size: 10px}
#tX {padding: 0px; text-align: right; height: 20px}
#tX a {font-size: 22pt; font-weight: bold; font-family: monospace; color: silver; margin: 0px; padding: 0px}
#tX a:hover {color: grey; cursor: pointer; background-color: transparent}
.tB {background-color: #DDDDDD; height: 200px; border-color: silver; border-width: 2px; border-style: inset; width: 438px}
#image_block {height: 100px; padding: 2px; width: 438px; }
#image_block IMG {padding: 0px 2px 0px 0px}
#image_block TD {padding-right: 4px}
#data_block {padding: 5px 2px 2px 2px; width: 438px}
#data_block TD {padding-right: 2px}

/* GPS BLOCK */
#gps {border: 1px solid silver; margin:20px 20px 20px 5px; width: 99%; border-collapse: collapse;}
#gps TH {background-color: silver}
#gps .header {background-color: grey}
#gps TD {}
#gps INPUT {width: 100%}
#gps_address {border: 1px solid black; margin: 5px; width: 400px; border-collapse: collapse; background-color: grey}
#map_check {top: 140px; left: 150px; width: 450px; height: 350px; display: none; position: absolute; padding: 0px; margin: 0; border-color: silver; border-width: 2px; border-style: outset; background-color: silver}
#map_canvas {border: 1px solid black; width: 442px; height: 300px; margin: 4px; padding: 0px}
.eg {font-size: 8pt}