
<table width=100% id=welcome>
    <tr valign=top>
        <td>
            <img src=/modules/estab_s/i/gohome-128.png align="left" width=100px>
        </td>
        <td>
            <h1>Establishment Data Saved</h1>
            <p>The requested changes to your listing have been saved and the AA Travel Guides editorial department notified who will review the changes and
            update your listing accordingly.</p>
            <p>Should you have any queries regarding the requested changes please contact our editorial team at 
            +27 11 713-2000 during working hours or email <a href='mailto:editorial@aatravel.co.za'>editorial@aatravel.co.za</a></p>          
        </td>
     </tr>
     <tr>
     	<td colspan=2 align=right><p><input type=button value='Continue' class=ok_button onclick="document.location ='/modules/estab_c/estab.php'" /></p></td>
     </tr>
</table>

