<link rel=stylesheet href=/templates/establishment.css>
<script src=/templates/establishment.js></script>

<div id='GuestReview' align="center" class="hidden">
	<div id='GuestReviewBody' align="center"><div id='GuestReviewHolder'>
		<div id='GuestReviewHeader'><div style="margin:3px;float:left;">Guest Review</div><div id="GuestReviewClose" onclick="javascript:closeGuestReview();">Close X</div><br style="clear:both;" /></div>
		<div id='GuestReviewContent'>
			test
		</div>
	</div></div>
</div>

<div id='EstHolder'>
<a class="estHolderButton" href='/guest_review/<!-- code -->' style='position:absolute;margin-left:520px;margin-top:70px;'>Add a Guest Review</a>
<!-- /index.php?p=feedback&id=code -->
<!-- location_title -->
<br /><br /><br /><!-- establishment_name -->
<!-- restype --><br />
<!-- location -->
<br />
<!-- 360 -->
<br style="clear:both;" />
<div id='EstImageBlock' style="<!-- image_style -->">
	<!-- image_block_start -->
		<table cellpadding="0" cellspacing="0">
		
		</table>
		<div id="EstImageHolder"><div id="ImgDesc"><!-- image_description --></div><img style="" src='http://booktravel.travel/res_images/<!-- primary_image -->' id='preImg' />
		<div id="EstImageHolderThumb"><!-- thumb_block --></div>
		<br style="clear:both;" />
		</div>
		<br style="clear:both;" />
	<!-- image_block_end -->
</div>

<!-- description -->

<!-- specials -->

<p>
	<div class='estHeading'>Guest Review</div>
	<!-- rating --><!-- comment --><br />
	<!-- read_more --> 
	<a class="estHolderButton" href='/guest_review/<!-- code -->'>Add a Guest Review</a><br style="clear:both;" />
	<!-- <a class="emButton" target='aatravel' href='http://booktravel.travel/index.php?p=feedback&id='>Review it!</a> -->
</p>

<p>
	<div class='estHeading'>Pricing</div>
	<!-- pricing -->
</p>

<p>
	<div class='estHeading'>Facilities & Activities</div>
	<!-- facilities -->
</p>

<br style='clear:both;' />

<p style='color:red;'>Please note prices supplied are published in good faith but are subject to change.</p>

<p><!-- directions --></p>
</div>
<div id="EstRightHolder">
	<!-- right_content -->
</div>