@import url("/juno/custom/gui.css");
/* BASIC */
html{overflow:hidden}
body{overflow:hidden;margin:0;cursor:default;background-color:#16459D;background-image:url(/juno/style/set/desktop/BG0.png);background-repeat:repeat-y}
body,td,th,tt,input,select,textarea{font-family:arial;font-size:9pt;line-height:110%}
input,select,textarea{margin:0}
table{border-collapse:collapse}
a,u{text-decoration:none}
a img{border:0}
em{font-weight:normal;font-style:normal}
optgroup{font-style:normal}
h1,h2,h3,h4,ol,ul,form{margin:0}
hr{border:0;height:1px;background:#DDD}
samp{font-family:arial;padding:0;margin:0}
var{font-style:normal}
.jO0{opacity:0;filter:alpha(opacity=0);zoom:1px}
.jO10{opacity:0.1;filter:alpha(opacity=10);zoom:1}
.jO20{opacity:0.2;filter:alpha(opacity=20);zoom:1}
.jO30{opacity:0.3;filter:alpha(opacity=30);zoom:1}
.jO40{opacity:0.4;filter:alpha(opacity=40);zoom:1}
.jO50{opacity:0.5;filter:alpha(opacity=50);zoom:1}
.jO60{opacity:0.6;filter:alpha(opacity=60);zoom:1}
.jO70{opacity:0.7;filter:alpha(opacity=70);zoom:1}
.jO80{opacity:0.8;filter:alpha(opacity=80);zoom:1}
.jO90{opacity:0.9;filter:alpha(opacity=90);zoom:1}
.jO100{zoom:1}
.jW100{width:100%}
.ji{display:none}
.jh{visibility:hidden}
#j_IF{position:absolute;top:-600px}
/* DESKTOP */
#jB1,#jB2,#jB3{position:absolute;top:0;left:0;height:100%;width:100%}
#jB1{}
#jB2{}
#jB3{background-image:url(/juno/style/set/desktop/BG3.png);background-repeat:no-repeat;background-position:right bottom;}
#ver12 {bottom: 0px; right: 4px; position: absolute; color: white;}
/* DICONS */
#jWD{position:absolute;top:0;left:0;height:100%;width:100%}
#jDI{position:absolute}
#jDI div{float:left;text-align:center;font-weight:bold;height:108px;width:108px;overflow:hidden;line-height:90%}
#jDI a{color:#C0C0C0}
#jDI a:hover{color:#FFFFFF}
#jDI img{margin:0 auto 2px auto}
.jD0 #jDI{top:40px;left:20px;font-size:9pt}
.jD0 #jDI img{height:64px;width:64px}
.jD1 #jDI{top:30px;left:15px;font-size:8pt}
.jD1 #jDI div{height:86px;width:86px}
.jD1 #jDI img{height:48px;width:48px}
.jD2 #jDI{top:20px;left:10px;font-size:7pt}
.jD2 #jDI div{height:56px;width:56px;border-style:dotted;border-width:0 1px 0 0;border-color:#AAA}
.jD2 #jDI img{height:32px;width:32px}
/* ICON */
.jWI0{left:0}
.jWI1{right:0}
#jWI{position:absolute;bottom:0;z-index:99999}
#jWI div{width:48px;height:48px;float:left;cursor:pointer;zoom:1;position:relative;-webkit-border-radius:12px 12px 0 0;-moz-border-radius:12px 12px 0 0;border-radius:12px 12px 0 0}
#jWI div img{height:32px;width:32px;margin:8px}
#jWI var{position:absolute;left:2px;top:29px}
#jWI var img{height:18px;width:18px;margin:0}
/* BACKING */
#jWB{position:absolute;top:0;left:0;opacity:0.5;filter:alpha(opacity=50);zoom:1;height:100%;width:100%;background-color:#000000}
/* LABELS */
/*jlabel_1{name:Default}*/
.jW #jlabel_0{background-color:#AADDFF}
#jWI #jlabel_0{background-color:#AADDFF}
/*jlabel_0{name:Admin}*/
.jW #jlabel_1{background-color:#DDDDDD}
#jWI #jlabel_1{background-color:#DDDDDD}
/*jlabel_2{name:Pages}*/
.jW #jlabel_2{background-color:#F5F5F5}
#jWI #jlabel_2{background-color:#F5F5F5}
/*jlabel_3{name:Comments}*/
.jW #jlabel_3{background-color:#FFFFAA}
#jWI #jlabel_3{background-color:#FFFFAA}
/*jlabel_4{name:Applications}*/
.jW #jlabel_4{background-color:#CCCCFF}
#jWI #jlabel_4{background-color:#CCCCFF}
/*jlabel_5{name:People}*/
.jW #jlabel_5{background-color:#EBDEC2}
#jWI #jlabel_5{background-color:#EBDEC2}
/*jlabel_6{name:Companies}*/
.jW #jlabel_6{background-color:#DAD8C8}
#jWI #jlabel_6{background-color:#DAD8C8}
/*jlabel_7{name:Media}*/
.jW #jlabel_7{background-color:#E8E8A5}
#jWI #jlabel_7{background-color:#E8E8A5}
/*jlabel_8{name:Access}*/
.jW #jlabel_8{background-color:#DD0000;color:#FFF}
#jWI #jlabel_8{background-color:#DD0000}
/*jlabel_9{name:Database}*/
.jW #jlabel_9{background-color:#DADCC4}
#jWI #jlabel_9{background-color:#DADCC4}
/*jlabel_10{name:Help}*/
.jW #jlabel_10{background-color:#FFFCCC}
#jWI #jlabel_10{background-color:#FFFCCC}
/*jlabel_11{name:Light Grey}*/
.jW #jlabel_11{background-color:#EEE}
#jWI #jlabel_11{background-color:#EEE}
/*jlabel_12{name:Medium Grey}*/
.jW #jlabel_12{background-color:#DDD}
#jWI #jlabel_12{background-color:#DDD}
/*jlabel_13{name:Silver}*/
.jW #jlabel_13{background-color:#CCC}
#jWI #jlabel_13{background-color:#CCC}
/*jlabel_14{name:Powder Puff}*/
.jW #jlabel_14{background-color:#F2DCC7}
#jWI #jlabel_14{background-color:#F2DCC7}
/*jlabel_15{name:Swampy}*/
.jW #jlabel_15{background-color:#D7DDC0}
#jWI #jlabel_15{background-color:#D7DDC0}
/*jlabel_16{name:Lavender}*/
.jW #jlabel_16{background-color:#DBD2DD}
#jWI #jlabel_16{background-color:#DBD2DD}
/*jlabel_17{name:Blue Grey}*/
.jW #jlabel_17{background-color:#DBE6DD}
#jWI #jlabel_17{background-color:#DBE6DD}
/*jlabel_18{name:Lime}*/
.jW #jlabel_18{background-color:#E2FAB9}
#jWI #jlabel_18{background-color:#E2FAB9}
/*jlabel_19{name:Base Cyan}*/
.jW #jlabel_19{background-color:#EBDCCA}
#jWI #jlabel_19{background-color:#EBDCCA}
/*jlabel_20{name:Light Pink}*/
.jW #jlabel_20{background-color:#F5E7E7}
#jWI #jlabel_20{background-color:#F5E7E7}
/*jlabel_21{name:AA}*/
.jW #jlabel_21{background-color:#F0E68C}
#jWI #jlabel_21{background-color:#F0E68C}
/*jlabel_22{name:AA Establishment}*/
.jW #jlabel_22{background-color:#FFFF00}
#jWI #jlabel_22{background-color:#FFFF00}
/*jlabel_21{name:AA Assessment}*/
.jW #jlabel_23{background-color:#FFD700}
#jWI #jlabel_23{background-color:#FFD700}
 /* WINDOW */
.jW{position:absolute}
.jW th{text-align:left;font-weight:normal;font-style:normal}
.jW1{height:1%;padding:0;font-family:arial;font-size:16pt;cursor:move}
.jW1 div{position:relative;padding:4px 4px 4px 8px}
.jW1 h1{font-size:16pt;line-height:110%}
.jW1 h2{font-size:8pt;line-height:110%;letter-spacing:1px}
.jW1 h3{font-size:9pt;line-height:110%;display:block;font-weight:normal}
.jW1 h3 big{font-weight:bold;display:block}
.jW1 abbr{position:absolute;top:4px;right:6px}
.jW1 abbr a{display:block;height:17px;width:17px;float:right;background-position:center;background-repeat:no-repeat;cursor:pointer;opacity:0.2;filter:alpha(opacity=20);zoom:1}
.jW1 abbr a:hover{opacity:0.6;filter:alpha(opacity=60)}
.jW1 a.jWx{background-image:url(/juno/ico/set/wf_close.gif);opacity:0.4;filter:alpha(opacity=40)}
.jW1 a.jWx:hover{opacity:1;filter:alpha(opacity=100)}
.jW1 a.jWm{background-image:url(/juno/ico/set/wf_maximize.gif)}
.jW1 a.jWh{background-image:url(/juno/ico/set/wf_minimize.gif)}
.jW1 a.jWl{background-image:url(/juno/ico/set/wf_light.gif)}
.jW1 a.jWl0{background-image:url(/juno/ico/set/wf_light_off.gif)}
.jW2{padding:0;border:0;background:#FFF}
.jW2 .jW2T{height:100%;width:100%}
.jW2 var{position:relative;display:block;width:100%;height:100%}
.jW2 sup{position:absolute;top:0;left:1px;display:block;width:22px}
.jW2 sub{position:absolute;bottom:0;left:1px;display:block;width:22px}
.jW2 samp{position:relative;top:0;left:0;z-index:5}
.jW2 iframe{height:100%;width:100%;border-style:dotted;border-width:0 1px 0 0;border-color:#888}
.jW3{height:20px;padding:0}
.jW3 .jW3T{height:20px;width:100%}
.jW3 th{width:1px;vertical-align:bottom;text-align:right;padding:0}
.jW3 th input{margin:0 0 2px 0;cursor:pointer}
.jW3 th a.jW3R{display:block;height:20px;width:20px;z-index:5;background-position:center;background-repeat:no-repeat;background-image:url(/juno/ico/set/wf_resize.gif);cursor:se-resize;opacity:0.2;filter:alpha(opacity=20);zoom:1}
.jW3 th a.jW3R:hover{opacity:1;filter:alpha(opacity=100)}
.jW3 td{font-size:8pt;width:99%;padding:0}
.jW3 a.jW3a{display:block;float:left;border-style:dotted;border-width:0 1px 0 0;border-color:#999}
.jW3 a.jW3a:hover{background:url(/juno/ico/50W.png)}
.jW3 a.jW3a img{display:block;width:32px;height:32px;margin:2px 6px 2px 6px}
.jW3 tt{display:block;font-size:8pt;opacity:0.3;filter:alpha(opacity=30);zoom:1}
/* TIP */
#jTO{z-index:99999999;position:absolute;top:-999;table-layout:auto}
.jS1{text-align:right;vertical-align:bottom;padding:0;width:8px;height:8px}
.jS1 img{height:8px;width:8px}
.jS2{background:url(/juno/ico/S2.png) repeat-x bottom left;padding:0;text-align:center}
.jS3{height:8px;width:16px;vertical-align:bottom;padding:0;width:16px}
.jS3 img{height:8px;width:16px}
.jS4{background:url(/juno/ico/S4.png) repeat-y top right;padding:0}
#jTOC{padding:4px;background:#FFF;border:0;letter-spacing:0;font-style:normal;font-size:8pt;line-height:110%;color:#000}
#jTOC img{display:block;margin:0 0 2px 0}
.jS6{background:url(/juno/ico/S6.png) repeat-y top left;padding:0}
.jS7{text-align:right;vertical-align:top;padding:0}
.jS7 img{height:16px;width:8px}
.jS8{background:url(/juno/ico/S8.png) repeat-x top left;padding:0;vertical-align:top;text-align:center}
.jS9{vertical-align:top;text-align:left;height:16px;width:16px;padding:0}
.jS9 img{height:16px;width:16px}
/* GROUPS */
#j_nG{overflow-y:auto;overflow-x:hidden}
.j_nG1 a{position:relative;display:block;padding:3px 4px 6px 2px;border-style:solid;border-width:1px 0 0 0;border-color:#EEE;color:#888;font-weight:bold;font-size:14px;letter-spacing:-1px}
.j_nG1 a:hover{background:#777;color:#FFF;border-color:#777}
.j_nG1 a img{margin:0px 4px -3px 4px;height:16px;width:16px}
.j_nG1 a .j_nGX{margin:0;position:absolute;top:3px;right:3px;display:none}
.j_nG1 a:hover .j_nGX{display:block}
.j_nG1 a tt{font-size:8pt}
/* EXTRAS */
.j_ex_H{background-color:#EEE;padding:2px 3px 2px 4px;cursor:move;font-size:8pt;font-weight:bold;color:#999}
.j_ex_H a{color:#888;float:right}
.j_ex_H a:hover{color:#000}
.j_ex_B{background-color:#EEE;padding:0;height:99%}
.j_ex_B u{text-decoration:none;display:block;position:relative;height:100%;width:100%}
/* COLOR */
#j_cp .j_ex_B img,#j_cp .j_ex_B div{position:absolute}
#j_cp_ws em{display:block;width:100%;font-size:9pt;font-weight:bold;padding:1px 0 2px 4px;background:#CCC;color:#666;cursor:pointer;border-style:solid;border-width:0 0 1px 0;border-color:#444}
/* DATE */
.jdp{}
.jdp td,.jdp th{padding:0;text-align:center;border-style:solid;border-width:1px;border-color:#CCC;text-align:center;font-family:arial;font-size:8pt;color:black}
.jdp td a,.jdp th a{text-decoration:none;text-align:center;display:block;color:#000;border:0;letter-spacing:0;overflow:hidden;font-weight:normal;padding:4px 0 0 1px;width:20px;height:18px}
.jdp td > a,.jdp th > a{width:18px;height:15px}
.jdp th a{background-color:#EEE}
.jdp a:hover{color:#FFF;background-color:gray}
.jdp a.jdp_now{color:#FFF;background-color:#CC0000;font-weight:bold}
.jdp a.jdp_now:hover{background-color:red}
.jdp a.jdp_sel{color:#FFF;background-color:#008000;font-weight:bold}
.jdp a.jdp_sel:hover{background-color:#00B400}
.jdp_h th,.jdp_w th{font-weight:bold}
.jdp_w{background-color:#DDD}
/* NOTE */
.jnoteA{position:absolute;top:0;left:0;z-index:999999}
.jnote{position:absolute;visibility:hidden}
.jnoteC{padding:0;background:#FFF}
#jnoteC{position:relative;display:block;font-size:9pt;line-height:100%;color:#000}
.jnoteI{position:absolute}
.jnote a{color:#666}
.jnote samp a{display:block;border-style:dotted;border-width:0 0 1px 0;border-color:#DDD;font-weight:bold;padding:2px 4px 2px 6px}
.jnote samp a:hover{background:#80FFFF;color:#000}
.jnote var{display:block;color:#DD0000;font-weight:bold}
.jnote input,.jnote select{margin:0}
.jnote .jn0{text-align:center;font-size:8pt}
.jnote .jn0 img{display:block;margin:0 auto 4px auto}
.jnote .jn0 b{display:block;font-size:9pt;margin:0 0 2px 0}
.jnote .j_IV{position:relative}
.jnote .j_IV a.j_IX{position:absolute;top:0;right:0;display:block;background:url(/juno/ico/set/wf_close.gif) no-repeat center;opacity:0.1;filter:alpha(opacity=10);zoom:1;height:20px;width:20px}
.jnote .j_IV a.j_IX:hover{opacity:0.5;filter:alpha(opacity=50)}
.jnote .j_IV a.j_IO{display:block;color:#808080;padding:10px 10px 8px 10px}
.jnote .j_IV a.j_IO:hover{background:#808080;color:#FFF}
.jnote .j_IV a.j_IO img{display:block;margin:0 0 8px 0}
.jnote .jNico img{height:32px;width:32px;margin:2px}
#jnote1 var img{height:24px;margin:-16px 0 0 0}
.jA a{display:block;position:relative;padding:4px 5px 4px 6px;font-size:9pt;border-style:solid;border-width:1px;border-color:#AAA;color:#777;margin:0 0 -1px 0}
.jA a:hover{background:#EEE;color:#000}
.jA a.jAs,.jA a.jAs:hover{background:#FFBFBF;color:#000}
.jA a.jAh{background:#AAA;color:#FFF;font-size:14px;letter-spacing:-1px;cursor:default}
.jA a.jAh:hover{background:#AAA}
.jA a.jf0,.jA a.jf1{font-weight:bold;background-repeat:no-repeat;background-position:3px 2px;padding-left:22px}
.jA a.jf0{background-image:url(/juno/ico/set/w_folder_0.gif)}
.jA a.jf1{background-image:url(/juno/ico/set/w_folder_1.gif)}
.jA div{margin:0 0 0 16px;display:none}
/* MISC */
tr > .jdbC{background:url(/juno/ico/10C.png)}
tr > .jdbB{background:url(/juno/ico/10B.png)}
tr > .jdbR{background:url(/juno/ico/10R.png)}
tr > .jdbO{background:url(/juno/ico/10O.png)}
tr > .jdbY{background:url(/juno/ico/10Y.png)}
tr > .jdbK{background:url(/juno/ico/10K.png)}
tr > .jdbG{background:url(/juno/ico/10G.png)}
tr > .jdbW{background:url(/juno/ico/10W.png)}