@import url("/juno/custom/page.css");
/* BASIC */
body{overflow:auto;margin:18px 30px 20px 30px;cursor:default}
body,td,th,tt,input,select,textarea{font-family:arial}
table{border-collapse:collapse}
th{padding:3px;text-align:left}
td{padding:3px}
th,td{vertical-align:top;text-align:left}
em{font-weight:normal;font-style:normal}
var{font-style:normal;font-size:9pt;color:#CC0000}
a{color:#000}
a:hover{}
a img{border:0}
optgroup{font-style:normal}
tt,input,select,textarea{font-size:9pt;margin:0}
tt{display:block;line-height:110%}
select{padding:1px 0}
form{margin:0}
h1,h2,h3,h4,h5,h6,ol,ul,form{margin:0}
h1{font-size:20pt}
h2{font-size:18pt}
h3{font-size:16pt}
h4{font-size:14pt}
h5{font-size:13pt}
h6{font-size:12pt;font-weight:bold}
p{}
i{}
u{}
b{}
hr{border:0;background:#EEE;color:#EEE;height:1px}
.ji{display:none}
.jh{visibility:hidden}
.jO0{opacity:0;filter:alpha(opacity=0);zoom:1}
.jO10{opacity:0.1;filter:alpha(opacity=10);zoom:1}
.jO20{opacity:0.2;filter:alpha(opacity=20);zoom:1}
.jO30{opacity:0.3;filter:alpha(opacity=30);zoom:1}
.jO40{opacity:0.4;filter:alpha(opacity=40);zoom:1}
.jO50{opacity:0.5;filter:alpha(opacity=50);zoom:1}
.jO60{opacity:0.6;filter:alpha(opacity=60);zoom:1}
.jO70{opacity:0.7;filter:alpha(opacity=70);zoom:1}
.jO80{opacity:0.8;filter:alpha(opacity=80);zoom:1}
.jO90{opacity:0.9;filter:alpha(opacity=90);zoom:1}
.jO100{zoom:1}
.jW50{width:50%}
.jW100{width:100%}
.dimmed {color: silver}
.normal {color: black}
#j_opaq{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#DDD;background-image:url(/juno/ico/set/load.gif);background-position:center;background-repeat:no-repeat;z-index:999999;opacity:0.6;filter:alpha(opacity=60);zoom:1;cursor:wait}
#j_IF{position:absolute;left:-999px;top:-999px}
.jB7,#jB7{cursor:pointer;font-size:7pt;font-weight:bold}
/* LIST */
.j_List{background-color:#FFFFDF}
blockquote{margin:0;display:block;font-size:11pt;border-style:dotted;border-width:0 0 1px 0;border-color:#CCC;zoom:1}
blockquote a{text-decoration:none;display:block;border-style:dotted;border-width:1px 0 0 0;border-color:#CCC;padding:3px 0 4px 15px;background-image:url(/juno/ico/set/w_page.gif);background-repeat:no-repeat;background-position:left center;line-height:100%;zoom:1;white-space:nowrap}
blockquote a:hover{background-color:#FFF}
blockquote a.jf0{background-image:url(/juno/ico/set/w_folder_0.gif);padding:3px 0 4px 20px}
blockquote a.jf1{font-weight:bold;background-image:url(/juno/ico/set/w_folder_1.gif);padding:3px 0 4px 20px}
blockquote a.jf2{background-image:none}
blockquote div{display:none;margin:0 0 0 20px}
blockquote div a{font-size:10pt}
blockquote a em{float:right;margin:1px 4px 0 0;opacity:0.5;filter:alpha(opacity=50);zoom:1;font-size:8pt}
blockquote .j_bLd{height:16px;width:16px;opacity:0.5;filter:alpha(opacity=50);zoom:1}
/* SEARCH */
.jL_f select,.jL_f input{width:100%}
.jL_f .jL1_s{font-weight:bold}
/* MEDIA */
var#j_MEDIA{display:block;background-image:url(/juno/apps/web/i/med.gif);background-color:#000}
/* AJAX */
.jajxI{position:relative;display:block}
.jajxF{position:absolute;left:0;top:0}
#jajxA{border-style:solid;border-width:2px;border-color:#00FFFF;background:#BFFFFF}
.jajxN{font-weight:bold;color:#00CCCC}
.jajxL{position:absolute;top:0;display:none}
/* LIMIT */
#jL_c{display:block;margin:4px 0}
#jL_c a{display:block;font-size:8pt;float:left;margin:0 -1px -1px 0;padding:1px 5px 1px 5px;text-decoration:none;border-style:solid;border-width:1px;border-color:#888;font-family:arial;font-weight:bold;color:#888}
#jL_c a:hover{background:#000;color:#FFF;border-color:#000}
#jL_c a.jL_s{background:#888;color:#FFF;border-color:#888;cursor:default}
#jL_c a.jL_p{cursor:default}
/* ROWS */
.jTR0{background-color:#EEEEEE}
.jTR1{background-color:#F6F6F6}
.jTRh{background-color:#FFFCCC}
.j_hed{font-size:9pt;color:#888;background:#DDD;padding:1 4 0 4}
/* SEARCH */
.jSCH #jTR{border-style:solid;border-width:2px;border-color:#CCC}
.jSCH #jTR th{padding:0;font-size:8pt;background:#EEE;color:#BBB}
.jSCH #jTR th a{display:block;height:100%;text-decoration:none;border-style:solid;border-width:1px;border-color:#FFF #888 #888 #FFF;padding:1px 4px 2px 6px;background:#CCC;color:#808080}
.jSCH #jTR th a:hover{color:#444;border-style:solid;border-width:1px;border-color:#888 #FFF #FFF #888}
.jSCH #jTR th,.jSCH #jTR td{line-height:110%}
.jSCH .jTRW th,.jSCH .jTRW td{white-space:normal}
.jSCH .jTRNW th,.jSCH .jTRNW td{white-space:nowrap}
.jSCH #jTR td{border-style:solid dotted;border-width:1px;border-color:#CCC;padding:8px;cursor:pointer;font-size:10pt}
.jSCH #jTR th.jgen{padding:0;border-style:solid dotted;border-width:1px;border-color:#CCC;cursor:pointer}
.jSCH #jTR th img{height:32px;width:32px}
tr > .jdbC{background:url(/juno/ico/10C.png)}
tr > .jdbB{background:url(/juno/ico/10B.png)}
tr > .jdbR{background:url(/juno/ico/10R.png)}
tr > .jdbO{background:url(/juno/ico/10O.png)}
tr > .jdbY{background:url(/juno/ico/10Y.png)}
tr > .jdbK{background:url(/juno/ico/5K.png);font-weight:bold}
tr > .jdbG{background:url(/juno/ico/10G.png)}
tr > .jdbW{background:url(/juno/ico/50W.png)}
/* HOME */
.j_home a{display:block;float:left;text-align:center;font-weight:bold;font-style:normal;color:#999;cursor:pointer;height:110px;width:105px;border-style:solid;border-width:1px;border-color:transparent;text-decoration:none;font-size:9pt;margin:0 4px;line-height:100%;overflow:hidden;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}
.j_home a:hover{color:#000;border-color:#DDD}
.j_home img{height:64px;width:64px;margin:8px 0 3px 0}