<head>
<link rel="stylesheet" href="template2.css">
<title>Information about Cape Town, Western Cape - AA Travel Guides</title>
</head>

<!-- Region , Province and Article Title -->
<div class="row">
	<div class="contenttopheading wc">Greater Cape Town , Western Cape</div>
	<div class="contentmainheading">
	  <h1>Information about Cape Town, Western Cape</h1>
  </div>
</div>


<div class="row">
	<div class="column contentmainbody">
<!-- START main article text -->
<div class="paragraphpictureright"><img src="../images/table_mountain.jpg" title="Table Mountain overlooking the city of Cape Town" width="450" height="365" hspace="5" vspace="5">The majestic Table Mountain overlooking the city of Cape Town.</div>
<p class="paragraphtext"><span class="inparagraphheading">Geography:</span> Cape Town is situated on the far southwestern tip of Africa, about 1,600km from <a href="/index.php?p=johannesburg">Johannesburg</a>. It lies at the point where the Atlantic and Indian Oceans meet and is instantly recognisable by its natural icon, <a href="/index.php?p=table_mountain">Table Mountain</a>.  The <a href="/index.php?p=greater_cape_town" class="alinks" title="Information about Greater Cape Town South Africa">Greater Cape Town</a> area incorporates the distinct tourism destinations of the Cape Peninsula, Blaauwberg Coast and the Helderberg to name a few.</p>
<p class="paragraphtext"> Wherever you choose to stay you will be within an hour's drive of some of the most beautiful scenic vistas and thrilling attractions on the African continent. </p>
<p class="paragraphtext"><span class="inparagraphheading">History:</span> Cape Town is definitely one of the most attractive and exhilarating cities in the world, and has rapidly developed in its 300-year history from a colonial outpost and garden, to a majestic, vibrant African city. But the history of the area goes back a lot further than 300 years. The nomadic San and Khoe tribes hunted and gathered throughout the area thousands of years ago. Also of interest is the evidence that shows that the ancient Egyptians had rounded the Cape on their journey around the African continent about 2,500-years ago. It is the history of the colonial powers that begins the modern history of the Cape, and the country, as we know it. The first European sailors to see Table Mountain were the Portuguese, who strangely enough did not immediately settle and occupy the area. They used it mainly as a postal port, leaving letters under stones just off the coast. The Portuguese suffered many wrecks and losses in the peninsula and named it "Cabo Tormentosa" (Bay of Storms).  In 1580 the English explorer, Sir Francis Drake, wrote the famous words: "This Cape is a most stately thing, and the fairest Cape in the whole circumference of the earth". The settling and establishment of a post at Table Bay is the legacy of the colonial Dutch, whose Dutch East India Company sent three small ships to get things started. They were under the command of Jan van Riebeek whose task it was to develop vegetable gardens and rear livestock as well as to build a stronghold which he called the Castle of Good Hope. The castle still stands today. Van Riebeek's successors, including the governor Simon van der Stel, continued	this development. In 1795, the British moved in and used the post as a strategic area when they were at war with France. Owing to British occupation, the economic noose imposed by the Dutch was loosened and a building boom that saw the start of what we know as Cape Town today began. The vast farms were pushed out towards the edges of the area and developed into some of the finest wine farms in the world. One of these, built by Van der Stel, is Groot Constantia and its wines won the praise of such connoisseurs as the kings of France.

The modern town of Cape Town was proclaimed a municipality in 1840 and the first elected Parliament met on 30 June 1854 and from this point on the development of the town was dramatic. The Houses of Parliament were built, the harbour was improved and a naval base was established at Simon's Town. Today the city of Cape Town is still home to South Africa's Parliament and is a major international tourist destination. </p>
    <p class="paragraphtext"><span class="inparagraphheading">Arts and Culture:</span> The fascinating historical and cultural legacy of Cape Town is evident in its rich architectural heritage, galleries, monuments and museums. The fusing of the different cultures at the Cape developed into an indigenous architectural style known as "Cape Dutch", and visitors to the Cape can see this evident at many wine farms and particularly Groot Constantia.  The President's Cape Town residence, Genadendal, was named after the mission station that provided a centre of dignity and education for the Khoi in the 19th-century. Near to the <a href="/index.php?p=companys_garden">Company Gardens</a> is the Gothic St George's Cathedral, with the nearby St George's Mall where visitors can listen to the city buskers. Greenmarket Square houses an interesting market where all sorts of arts and crafts can be purchased, while taking a stroll through the leafy Government Avenue will take you past the Houses of Parliament and back into the Company Gardens. Here you will find the city's Museum Mile, which includes numerous excellent museums like the South African National Gallery and the fascinating South African Museum and Planetarium. Also to be found here is the Gold of Africa Museum, with its fabulous displays on the history and culture of the beloved metal. In Buitenkant Street you will find the Castle of Good Hope and the District Six Museum while the nearby Malay Quarter, filled with minarets, mosques and flat-roofed houses, is the location of the Bo-Kaap Museum. Back in the city, the Castle of Good Hope is one of the main attractions and visitors can enjoy the architectural heritage, as well as the interesting collections and museums housed within. Visitors to Cape Town usually get a fright at noon each day, as it is at this time that a <a href="/index.php?p=noon_gun">noon gun</a> is fired from <a href="/index.php?p=signal_hill">Signal Hill</a>. There are many other cultural highlights to be seen in Cape Town, and visitors should get their hands on a pamphlet from the Tourism Centre to guide them through these wonderful sites.</p>
    <div class="paragraphpictureright"><img src="../images/cape_town.jpg" title="The Victoria and Alfred Waterfront in Cape Town." width="450" height="305" hspace="5" vspace="5">The Victoria and Alfred Waterfront in Cape Town.</div>
    <p class="paragraphtext"><span class="inparagraphheading">Science and Nature:</span> Cape Town has a Mediterranean climate and in summer it is usually pleasantly warm. The winters are cool and wet, but the temperature hardly ever falls below 10 degrees Celcius. One of the Cape's most characteristic natural phenomena is the famous Cape doctor, a southeasterly wind that blasts the Cape and lays Table Mountain's famous 'tablecloth'. It is a magnificent city with some of the finest natural sights to be seen anywhere. The Cape Floral Region is a World Heritage Site and is one of the richest plant areas in the world. The region represents less than 0.5% of the surface area of Africa, but is home to nearly 20% of the continent's flora. <a href="/index.php?p=poi_western_cape_table_mountain">Table Mountain</a>, the icon of Cape Town, falls within this region, and visitors can take the rotair cable car to the top to enjoy dazzling and dizzying views from the summit height of 1,086m above sea level. Other peaks that dominate the city are Lion's Head, Signal Hill and Devil's Peak with the <a href="/index.php?p=rhodes_memorial">Rhodes Memorial</a> on its slopes. Also within the Cape Floral Region are the Kirstenbosch Botanical Gardens, a 560ha area filled with 6,000 species of trees and plants. Visitors will enjoy the indigenous fynbos, protea and cycad species. A drive to the Atlantic Seaboard town of Hout Bay brings visitors not only to the World of Birds, the largest bird park in Africa, but also to the departure point of cruises to the bird sanctuary of Duiker Island. Another fascinating and important stretch is the Table Mountain National Park, which incorporates <a href="/index.php?p=boulders_beach_nature_reserve">Boulders Beach</a> and <a href="/index.php?p=cape_point_nature_reserve">Cape Point</a>. Visitors can go on the funicular and look out at the most southwestern tip of Africa.</p>
<ul>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/index.html" class="alinks" title="Accommodation in Cape Town">Find Accommodation in Cape Town</a></li>
      </ul>
      <p class="paragraphtext"><span class="inparagraphheading">Entertainment:</span> The modern city of Cape Town is geared up for tourism and has a bustling entertainment scene. There is so much to do that it will require more than one trip! Situated between Robben Island and Table Mountain in the heart of Cape Town's working harbour, is one of  South Africa's most visited destinations, the <a href="/index.php?p=v_a_waterfront">Victoria & Alfred Waterfront</a>. With the refurbished historical buildings, museums, waterfront walks, boat trips, restaurants, craft markets, shops and boutiques and the Two Oceans Aquarium, this complex will no doubt keep the entire family entertained for days. Tours to notorious Robben Island, where former President Nelson Mandela was imprisoned and laboured in the limestone quarry, depart daily from the Waterfront. The Waterfront also houses some of Cape Town's bustling nightlife, and it boasts a wide variety of restaurants as well as many clubs, pubs, and live music venues. During daylight hours, driving in and around the city and its surrounds is possibly the best way to see things. The wine estates are fascinating, and visitors can enjoy a snack in the restaurant and pick up some fine wines at Groot Constantia, the oldest wine estate in South Africa. If the weather is good then you should not miss a chance to enjoy the four bikini beaches of <a href="/index.php?p=clifton">Clifton</a>, <a href="/index.php?p=camps_bay">Camps Bay</a>, Bakoven and Hout Bay. Driving along the Ou Kaapse Weg to Noordhoek, Kommetjie and Scarborough, will provide ample evidence as to why the local surfers favour these beaches. <a href="/index.php?p=poi_western_cape_chapmans_peak_drive">Chapman's Peak Drive</a> is arguably one of the world's most spectacular coastal drives, and the views of Hout Bay and Noordhoek are simply awesome. The fresh linefish and calamari that can be bought at places like Hout Bay and <a href="/index.php?p=kalk_bay">Kalk Bay</a> is exceptional and tourists should not pass up the chance of sampling some. For those tourists who enjoy good shopping, Canal Walk is located at <a href="/index.php?p=century_city">Century City</a>. Visitors can enjoy great entertainment including helicopter rides, exploring the canals by boat, watching a movie, shopping or enjoying a meal.

The GrandWest Casino and Entertainment World in Goodwood provides great entertainment, and the themed restaurants, bar and nightclub together with a games arcade, ice-rink, amusement park and go-kart track for the children will prove to be fun.</p>
<div class="paragraphpictureright"><img src="../images/map-cape_town.jpg" title="Location of Cape Town, Western Cape, South Africa" width="450" height="305" hspace="5" vspace="5">Location of Cape Town, Western Cape, South Africa.</div>
      <p class="paragraphtext"><span class="inparagraphheading">Sport:</span> Cape Town has world-class sporting facilities and the perfect summer climate for enjoying the outdoors. Cricket is keenly played and supported by Capetonians and the city has arguably the most attractive cricket ground in the world. Newlands Cricket Ground has a dramatic backdrop of mountains, and is one of the favourite grounds for Test Match Cricket. Rugby might be even more of an obsession, and the Stormers' home ground at Newlands Stadium is always packed when there is a test match on. Cape Town is also the venue for the ever-popular cycle race, the Pick 'n Pay Cape Argus. Besides the traditional sports, those looking for an adrenalin rush can take part in adventure and outdoor sports with great zest. Owing to the combination of mountains, sea, rivers, temperate climate and wind, Cape Town and surrounds offers spectacular and affordable extreme sports. These hair-raising activities include paragliding and hang-gliding, bungee jumping, canyoning, kite-surfing, sand-boarding, ocean rafting, skydiving, mountain and rock climbing and abseiling. Also popular is surfing, paddle skiing and boardsailing, water-skiing, snorkelling, boating, yachting, fishing, horse-riding and 4x4 trails.</p>
      <p class="paragraphtext"><span class="inparagraphheading">Did you Know:</span> The world's first heart transplant was done by Dr Chris Barnard at Cape Town's Groote Schuur Hospital.</p>
</div>
<!-- END main article text -->


<div class="column contentrightmenu">

<!-- START right menus -->

<div class="contentrightheading wc">Quick Links:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/index.html" class="alinks" title="Accommodation in Cape Town">Accommodation in Cape Town</a></li>
    	<li><a href="/specials/cape_town_western_cape/" class="alinks">Specials in Cape Town</a></li>
    </ul>

<div class="contentrightheading">You are Here:</div>
	<ul class="contentrightheading2">
    	<li><a href="/index.php?p=south_africa" class="alinks">South Africa</a></li>
    	<li><a href="/index.php?p=western_cape" class="alinks">Western Cape</a></li>
        <li><a href="/index.php?p=greater_cape_town" class="alinks">Greater Cape Town</a></li>
    </ul>
<a style="margin-bottom:2px" href="/index.php?p=map_regions"><img src="../images/mini-map-right-wc.png" title="Map of South Africa Accommodation" width="190" height="162" hspace="0" vspace="0" border="0"></a>

<div class="contentrightheading wc">Nearby Towns and Suburbs:</div>
	<ul class="contentrightheading2">
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/city_bowl.html" class="alinks">Cape Town City Bowl</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/melkbosstrand.html" class="alinks">Melkbosstrand</a></li>
    	<li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/simons_town.html" class="alinks">Simon's Town</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/bloubergstrand.html" class="alinks">Blouberg Strand</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/camps_bay.html" class="alinks">Camps Bay</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/clifton.html" class="alinks">Clifton</a></li>
        <li><a href="/accommodation/places_to_stay/southern_africa/south_africa/western_cape/cape_town/constantia.html" class="alinks">Constantia</a></li>
    </ul>
<!-- END right menus -->

</div>
</div>