

/*
WARNING!
This is a global style sheet for constant items in the site.
Rather use the numerically-named CSS file in the '/i/fluid/' directory.
That file is dynamically renamed to avoid user refreshing.
*/

/* MENU */
.MENU_ p{position:absolute;border-style:solid;border-width:0 0 1 0;border-color:#888;margin:0}
.MENU_ p a:link,.MENU_ p a:visited,.MENU_ p a:hover{color:#000;background:#FFF;border-color:#888;display:block;width:170;padding:2 2 4 5;font-family:arial;font-size:13px;letter-spacing:-1;font-weight:bold;line-height:100%;border-style:solid;border-width:1 1 0 1;text-decoration:none;text-align:left}
.MENU_ p a:hover{color:#FFF;background:#CC0000}

/* MISC */
.i{display:none}
tt{display:block;font-family:arial;font-size:9pt;line-height:105%;font-weight:normal;letter-spacing:0}
form{padding:0}
textarea,input,select{font-family:arial;font-size:9pt}
var{font-style:normal}
.W100{width:100%}

/* TOOLTIPS */
#T_O1 hr{color:#888;background-color:#888;height:1;size:1}
