

<div style="width: 600px; margin: auto auto; border: 5px inset teal; padding: 10px">
    <div>
        <h1>Keg Orbit</h1>
        <h4>Accounts Expiring in the next 30 day's Requiring Action</h4>
    </div>
    <div>
        <h4>Dear System Administrator,</h4>

        <p>The following company accounts listed below are due to expire in the  next 30 day's<br>
            Please take the necessary action to call up and enquire if they company still intends on keeping/renewing their accounts.<br>
            Failure to do so will results in the accounts being blocked and access denied to all it's company accounts.</p>
        <p><b>These are the accounts deemed to expire in the following 30 day's:</b></p>
        <p>
        <table class="tg" style="border-collapse:collapse;border-spacing:0;border-color:#ccc; border-color:#ccc;color:#333;background-color:#f0f0f0">
        <thead>
        <tr>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Company</th>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Contact Person</th>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Contact Numbers</th>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Email</th>
            <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Day's to Expiry</th>
        </tr>
        </thead>
        <tbody>
        <!-- all_accounts_expiry -->
        </tbody>
        </table></p>
    </div>
    <div>
        <p>Regards<br>
            KegOrbit.com<br>
            by Mainstream Brewing Company (Pty) Ltd<br>
            support@kegorbit.com | http://kegorbit.com</p>
    </div>
</div>

