<div style="width: 600px; margin: auto auto; border: 5px inset teal; padding: 10px">
    <div>
        <h1>Keg Orbit</h1>
    </div>
    <div>
        <h4>Dear <!-- contact_name -->,</h4>
        <p>  We received a request to reset the password associated with this e-mail address. If you made this request, please click the link below to reset your
            password:<br>
            <a href='<!-- reset_link-->'><!-- reset_link --></a></p>
        <p>If you did not request to have your password reset you can safely ignore this email. Rest assured your customer account is safe.</p>
        <p>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window, or retype it there.
            Once you have returned to Keg Orbit, we will give instructions for resetting your password.
        </p>
    </div>
    <div>
        <p>Regards<br>
            KegOrbit.com<br>
            by Mainstream Brewing Company (Pty) Ltd<br>
            support@kegorbit.com | http://kegorbit.com</p>
    </div>
</div>
