

<div style="width: 600px; margin: auto auto; border: 5px inset teal; padding: 10px">
    <div>
        <h1>Keg Orbit</h1>
    </div>
    <div>
        <h4>Dear  <!-- contact_name --><!-- contact_surname -->,</h4>

        <p>You have been registered with <!-- server --> <br>
            Please click  on the link below to finalise your registration.  If you cannot click on the link,
            then copy the address below and paste it in your browser's  address  field.<br>
            <a href='<!-- reset_link-->'><!-- reset_link --></a><br>
            Once you have completed the above step you will be able to login into your account.</p>
        <p><b>Your website login details are:</b></p>
        <p>
        <table class="tg" style="border-collapse:collapse;border-spacing:0;border-color:#ccc; border-color:#ccc;color:#333;background-color:#f0f0f0">
            <tr>
                <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Email address</th>
                <td style="width: 150px; padding:10px 5px; border: 1px solid #ccc; color:#333; background-color:#fff;"><!-- email --></td>
            </tr>
            <tr>
                <th style="width: 200px; text-align: left; padding:10px 5px; border:1px solid #ccc; color:#333">Full Name</th>
                <td style="width: 150px;padding:10px 5px; border: 1px solid #ccc; color:#333; background-color:#fff;"> <!-- firstname --></td>
            </tr>
        </table></p>
    </div>
    <div>
        <p>Regards<br>
            KegOrbit.com<br>
            by Mainstream Brewing Company (Pty) Ltd<br>
            support@kegorbit.com | http://kegorbit.com</p>
    </div>
</div>

