<br>
<script type="text/javascript" src="/modules/products/js/products.js"></script>
<form action="" method="post">
	<table width="100%" >
		<tr>
			<td>
				<tt>Edit the style sheet for this area. The style sheet will automatically be loaded when the page is
					displayed to the public.<tt>
			</td>
			<td align="right">
				<input type="button" value="Load Defaults" class="refresh_button" onClick="get_css_default('<!-- area_id -->','product_full_list')">
			</td>
		</tr>
	</table>
<textarea class="css_area" name="css_data" id="css_data"><!-- css_data --></textarea>
<div class="button_div">
	<input type="submit" value="Save Stylesheet" class="save_button">
</div>
</form>

