<script type="text/javascript" src='/shared/Editor_new/scripts/innovaeditor.js'></script>
<script type="text/javascript" src='/modules/news/js/news.js'></script>

<script type="text/javascript">
	editor_features = [!editor_features!];
	var gEdit=new InnovaEditor("gEdit")
	gEdit.cmdAssetManager="modalDialogShow('/shared/Editor_new/assetmanager/assetmanager.php',640,465)"
	gEdit.mode="HTML"
	gEdit.width="100%"
	gEdit.height="380px"
	gEdit.toolbarMode=0;
	gEdit.features=editor_features;
</script>
<br>
<form action="" method="post">
<table border="0" class="W100">
	<tbody>
		<tr>
			<td> <textarea name="product_content" id="product_content" class="W100" style="height: 400px"><!-- product_content --></textarea>
				<script type="text/javascript">gEdit.REPLACE('product_content')</script>
			</td>
		</tr>
	</tbody>
</table>

<table class="W100">
	<tr>
		<td style="text-align: right">
			<button type="button"  onClick='close_news_edit("!W!")'><img src="/i/button/close_16.png">Close Without Saving</button>
			<button ><img src="/i/button/diskette_16.png">Save</button>
		</td>
	</tr>
</table>
</form>