<script type="text/javascript" src="/shared/ajax_uploader/scripts/ajaxupload.js"></script>
<script type="text/javascript" src="/shared/common.js" ></script>
<script type="text/javascript" src="/modules/products/js/product_images.js" ></script>
<link rel="stylesheet" href="/modules/tour/css/tour.css" type="text/css" >


<div class="form_canvas_0" >

	<table border="0" width="100%">
	<tbody>
		<tr valign="top">
			<td width="150px">Image Title</td>
			<td width="600px"><input class="W100" type="text" id="image_title_tmp" value="<!-- image_title -->" /> </td>
			<td rowspan="4" width="150px" align="center">
				<div id="upload_area" >
					<img src="<!-- image_file -->" id="upImage" height="150">
				</div>
			</td>
		</tr>
		<tr valign="top">
			<td>Image Description</td>
			<td>
				<textarea id="image_description_tmp" class="W100" style="height: 100px"><!-- image_description --></textarea>
			</td>
		</tr>
		<tr valign="top">
			<td>Primary Image</td>
			<td>
				<input type="checkbox" value='1' name="primary_image_tmp" id="primary_image_tmp" <!-- primary_image --> >
			</td>
		</tr>
		<tr valign="top">
			<td>Upload Image</td>
			<td>
				<form action="" method="post" name="sleeker" id="sleeker" enctype="multipart/form-data">
					<input type="hidden" name="maxSize" value="9999999999" >
					<input type="hidden" name="maxW" value="800" >
					<input type="hidden" name="fullPath" value="http://!server!/i/products/" >
					<input type="hidden" name="relPath" value="!doc_root!/i/products/" >
					<input type="hidden" name="colorR" value="255" >
					<input type="hidden" name="colorG" value="255" >
					<input type="hidden" name="colorB" value="255" >
					<input type="hidden" name="maxH" value="600" >
					<input type="hidden" name="filename" value="filename" >
					<input type="file" name="filename" onchange="ajaxUpload(this.form,'/shared/ajax_uploader/scripts/ajaxupload.php?filename=name&amp;maxSize=9999999999&amp;maxW=800&amp;fullPath=http://!server!/i/products/&amp;relPath=!doc_root!/i/products/&amp;colorR=255&amp;colorG=255&amp;colorB=255&amp;maxH=600','upload_area','File Uploading Please Wait...&lt;br /&gt;&lt;img src=\'/shared/ajax_uploader/images/loader_light_blue.gif\' width=\'128\' height=\'15\' border=\'0\' /&gt;','&lt;img src=\'/shared/ajax_uploader/images/error.gif\' width=\'16\' height=\'16\' border=\'0\' /&gt; Error in Upload, check settings and path info in source code.'); return false;" >
				</form>
			</td>
		</tr>
	</tbody>
</table>
</div>
<form action="" method="post" onsubmit="copy_data()">
	<input type="hidden" name="uploaded_image" id="uploaded_image">
	<input type="hidden" name="image_title" id="image_title">
	<input type="hidden" name="image_description" id="image_description">
	<input type="hidden" name="primary_image" id="primary_image">
	<table class="W100" style="border-collapse: collapse">
		<tr>
			<td style="text-align: right">
				<button type="button" onClick='openListWindow()'><img src="/i/button/button_cancel_16.png">Cancel</button>
				<button><img src="/i/button/diskette_16.png">Save</button>
			</td>
		</tr>
	</table>
</form>