<script type="text/javascript" src="/shared/ajax_uploader/scripts/ajaxupload.js"></script>
<script type="text/javascript" src="/shared/common.js" ></script>
<script type="text/javascript" src="/modules/products/js/product_images.js" ></script>
<link rel="stylesheet" href="/modules/tour/css/tour.css" type="text/css" >


<div class="form_canvas_0" >
	<form action="" method="post" enctype="multipart/form-data" >
	<table border="0" width="100%">
		<tbody>
			<tr valign="top">
				<td width="150px">Document Title</td>
				<td width="600px"><input class="W100" type="text" name="doc_title" value="<!-- doc_title -->" /> </td>
			</tr>
			<tr valign="top">
				<td>Document Description</td>
				<td>
					<textarea name="doc_description" class="W100" style="height: 100px"><!-- doc_description --></textarea>
				</td>
			</tr>
			<tr valign="top">
				<td>Upload Document</td>
				<td>
					<input type="file" name="docFile" >
				</td>
			</tr>
		</tbody>
	</table>

	<table class="W100" style="border-collapse: collapse">
		<tr>
			<td style="text-align: right">
				<button type="button" onClick='openListWindow()'><img src="/i/button/button_cancel_16.png">Cancel</button>
				<button type='submit' ><img src="/i/button/diskette_16.png">Save</button>
			</td>
		</tr>
	</table>
	</form>
</div>