<script type="text/javascript" src='/modules/products/js/products.js'></script>
<script type="text/javascript" src='/shared/combobox/combobox.js'></script>

<link rel="stylesheet" href="/modules/products/css/preferences_prd_variation_list.css" >
<link rel="stylesheet" href="/shared/combobox/combobox.css" >
<form action="" method="post">
	<div class="form_canvas_pref" id="formCanvas">

		<table  class="prd_table">
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Select Layout
				</td>
				<td style="width: 300px; padding-top: 10px" colspan="2"> 
					<div class="warning">
						WARNING! Changing the layout will affect the area CSS.
					</div>
					<table id="layoutList">


					</table>
				</td>
			</tr>
			
			
		</table>
	</div>
	<table class="W100">
		<tr>
			<td style="text-align: right">
				<input type="submit" value="Save" name="Save_tour" class="save_button"/>
			</td>
		</tr>
	</table>
</form>

<script>getLayouts('product_variation_list', '<!-- area_id -->')</script>