<script type="text/javascript" src='/modules/products/js/products.js'></script>
<script type="text/javascript" src='/shared/combobox/combobox.js'></script>

<link rel="stylesheet" href="/modules/products/css/preferences_prd_text_list.css" >
<link rel="stylesheet" href="/shared/combobox/combobox.css" >
<form action="" method="post">
	<div class="form_canvas_pref" id="formCanvas">

		<table  class="prd_table">
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Select Layout
				</td>
				<td style="width: 300px; padding-top: 10px" colspan="2"> 
					<div class="warning">
						WARNING! Changing the layout will affect the area CSS.
					</div>
					<table id="layoutList">


					</table>
				</td>
			</tr>
			
			<tr><td colspan="3">&nbsp;</td></tr>
			
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Hide Empty
				</td>
				<td style="width: 300px; padding-top: 10px"> 
					<input type="checkbox" name="hide_categories" <!-- hide_categories --> >
				</td>
				</td>
				<td style="; padding-top: 10px; padding-left: 5px">
					<tt>Hide categories that have no associated products.</tt>
				</td>
			</tr>
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Link ID
				</td>
				<td style="width: 300px; padding-top: 10px"> 
					<input value="<!-- link_id -->" type="text" id="text2" name="link_id"
				style="width:400px; text-align:left;" class="combotext"
				onkeypress="document.getElementById('option_placeholder').style.display='none'" 
				onkeydown="document.getElementById('option_placeholder').style.display='none'"
				onFocus="openCombo(this.id, 'option_placeholder')" /></td>
				</td>
				<td style="; padding-top: 10px; padding-left: 5px">
					<tt>The ID of the product list page.</tt>
				</td>
			</tr>
		</table>
	</div>
	<table class="W100">
		<tr>
			<td style="text-align: right">
				<input type="submit" value="Save" name="Save_tour" class="save_button"/>
			</td>
		</tr>
	</table>
</form>
<!-- DIV acts as a placeholder, this is where we will place out combobox options
     If you choose not to create options dynamically, you can simply add a static options table to this div -->
<div id="option_placeholder" tabindex="-1" style="border:solid 1px black;display:none;background-color:silver;width:400px;">
	<table id="myTable" tabindex="-1"  width="100%" cellpadding=1 cellspacing=0>
	<!-- page_list -->
	</table>
</div>
<script>getLayouts('product_category_list', '<!-- area_id -->')</script>