<script type="text/javascript" src='/modules/products/js/products.js'></script>
<script type="text/javascript" src='/shared/combobox/combobox.js'></script>

<link rel="stylesheet" href="/modules/products/css/preferences_prd_full_list.css" >
<link rel="stylesheet" href="/shared/combobox/combobox.css" >
<form action="" method="post">
	<div class="form_canvas_pref" id="formCanvas">

		<table  class="prd_table">
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Select Layout
				</td>
				<td style="width: 300px; padding-top: 10px" colspan="2">
					<div class="warning">
						WARNING! Changing the layout will affect the area CSS.
					</div>
					<table id="layoutList">


					</table>
				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Category Link
				</td>
				<td style="width: 300px; padding-top: 10px">
					<input value="<!-- category_link -->" type="text" id="text2" name="category_link"
				style="width:400px; text-align:left;" class="combotext"
				onkeypress="document.getElementById('option_placeholder').style.display='none'"
				onkeydown="document.getElementById('option_placeholder').style.display='none'"
				onFocus="openCombo(this.id, 'option_placeholder')" /></td>
				<td style="; padding-top: 10px; padding-left: 5px">
					<tt>Link to this page when a category is clicked. Leave empty if no link is required.</tt>
				</td>
			</tr>
			<tr>
				<td style="width: 200px; padding-top: 10px; padding-left: 5px">
					Product List  Link
				</td>
				<td style="width: 300px; padding-top: 10px">
					<input value="<!-- products_link -->" type="text" id="text1" name="products_link"
				style="width:400px; text-align:left;" class="combotext"
				onkeypress="document.getElementById('option_placeholder2').style.display='none'"
				onkeydown="document.getElementById('option_placeholder2').style.display='none'"
				onFocus="openCombo(this.id, 'option_placeholder2')" /></td>
				<td style="; padding-top: 10px; padding-left: 5px">
					<tt>Link to the products list page.</tt>
				</td>
			</tr>
			<tr>
			<td style="width: 200px; padding-top: 10px; padding-left: 5px">
				Display Type
			</td>
			<td style="width: 300px; padding-top: 10px">
				<select name="display_type">
				<!-- display_select -->
				</select>
			</td>
			<td style="; padding-top: 10px; padding-left: 5px">
				<tt>How the images should be displayed when clicked.</tt>
			</td>
		</tr>
		</table>
	</div>
	<table class="W100">
		<tr>
			<td style="text-align: right">
				<input type="submit" value="Save" name="Save_tour" class="save_button"/>
			</td>
		</tr>
	</table>
</form>
<!-- DIV acts as a placeholder, this is where we will place out combobox options
     If you choose not to create options dynamically, you can simply add a static options table to this div -->
<div id="option_placeholder" tabindex="-1" style="border:solid 1px black;display:none;background-color:silver;width:400px;">
	<table id="myTable" tabindex="-1"  width="100%" cellpadding=1 cellspacing=0>
	<!-- page_list -->
	</table>
</div>
<div id="option_placeholder2" tabindex="-1" style="border:solid 1px black;display:none;background-color:silver;width:400px;">
	<table id="myTable" tabindex="-1"  width="100%" cellpadding=1 cellspacing=0>
	<!-- page_list2 -->
	</table>
</div>
<script>getLayouts('product_full_list', '<!-- area_id -->')</script>