<p>We have pleasure in inviting you to participate in the Accommodation Awards Programme which has become an 
institution in the hospitality industry in South Africa.</p>

<p>Awards are for any establishment that cares about offering their guests a warm welcome in a well 
maintained, cared for  environment, but particularly for properties such as yours which have a strong reputation.</p>

<p>Its all about meeting, or better still exceeding, the expectations of your guests. </p>

<p>Awards are an extremely cost effective method of deriving a unique marketing advantage that 
raises occupancies over time, helps to build your business and motivate your staff.</p>

<p>This is the 20th Accommodation Awards Programme and we are delighted to be able to include properties in all 
SADC countries, now that feedback can be submitted electronically. </p>
 
<p>For more information please email 
<a href='mailto: info@accommodation-awards.co.za'>info@accommodation-awards.co.za</a>. Alternatively you can enter online 
at <a href="http://www.accommodation-awards.co.za">www.accommodation-awards.co.za</a>.</p>

<p>We look forward to hearing from you.</p>

<p>Kind regards</p>

<p>Vanessa Sand and Vanessa Weltman <br>
CONVENORS</p>