<body style="font-size: .9em">
<p>Dear <!-- contact_name -->,</p>

<p>For 21 years my company, AA Travel Guides, has worked in association with AA South
Africa. Last year I indicated to AA South Africa that for personal reasons, I did not wish to
continue.</p>

<p>Following negotiations, a mutually acceptable agreement has been reached for an amicable
transition of the AA Quality Assured Programme from AA Travel Guides to AA SA as
from 1st June 2012. We will of course be honouring all promises made to our AA Quality
Assured members and the website <a href='http://www.aatravel.co.za'>www.aatravel.co.za</a> will remain AASA branded until
31st May 2013. We will also be responsible for completing the 2012 Accommodation
Awards Programme which concludes on 30th August 2012, the night on which all results are
announced.</p>

<p>We will in future no longer trade as AA Travel Guides and will be trading as Essential Travel
Info which reflects our renewed focus on publishing travel related books and websites.</p>

<p>We are very excited about our publishing projects which include the Self-Catering Getaways
guide and our flagship Hotels, Lodges, Guest Houses, B&Bs as well as Bonsela discount
voucher booklets, a manual on running a hospitality establishment and other more generic
guide books. Our flagship website <a href='http://www.aatravel.co.za'>www.aatravel.co.za</a> remains under our control and our
world wide website <a href='http://www.essentialtravelinfo.com'>www.essentialtravelinfo.com</a> is gaining momentum..</p>

<p>We wish the AA every success with the AA Quality Assured Programme and look forward to
a mutually beneficial relationship between you, AASA and ourselves.</p>

<p>For more information about all our various products including how to appear on <a href='http://www.aatravel.co.za'>www.aatravel.co.za</a> please email info@aatravel.co.za or
call 011 713-2000.</p>

<p>Kind regards</p>

<p>Vanessa Sand<br>
CEO Essential Travel Info</p>

<p>Contact details for Essential Travel Info - formerly AA Travel Guides<br>
Tel 011 713 2000<br>
Fax 011 728-3086</p>
</body>