<p>Dear accommodation establishment</p>

<p>We are updating the data underlying our websites www.aatravel.co.za and www.essentialtravelinfo.com.
We will also use this data for content which may be included in our next Self-Catering Getaways guide at
our editor's discretion. Please fill in the data fields below. This is a great opportunity to boost your occupancies
in return for about 6 minutes of effort and no outlay. Please respond by not later than 6pm on Sunday 5th August 2012.</p>

Please click on the following link to update your establishment data online:
<a href='https://docs.google.com/a/aa-travel.com/spreadsheet/viewform?fromEmail=true&formkey=dFkycVBaejRWZXNkTWN6QUpyOGdTeEE6MQ'>https://docs.google.com/a/aa-travel.com/spreadsheet/viewform?fromEmail=true&formkey=dFkycVBaejRWZXNkTWN6QUpyOGdTeEE6MQ</a>

<p>Kind regards Vanessa</p>
