/* 
    Document   : help_a
    Created on : 03 Jun 2010, 8:57:02 AM
    Author     : thilo Muller (2010
    Description:
        Stylesheet for the assessor help system
*/

body {margin: 0 0 0 0}



.toc {width: 20%; vertical-align: top}
.toc div {width: 100%; overflow: hidden}
.toc_title {font-weight: bold; text-align: center; font-size: 16px; }
.toc_l1 {font-weight: bold; font-size: 12px;; margin-top: 10px}
.toc_l2 {font-weight: normal; font-size: 12px; padding-left: 10px;}

.content {width: 80%}
.content_iframe {width: 100%; height: 500px}


