/* 
    Document   : help_a_files
    Created on : 03 Jun 2010, 1:39:53 PM
    Author     : thilo
    Description:
        Stylesheet to be included in all html help files
*/

BODY {background-color: white}
A {font-weight: bold;}
h1 {text-align: center; font-weight: bold; color: black; font-size: 25px; margin-bottom: 30px}

