<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="toc">
			<div class="toc_title">Table of Contents</div>
			<!-- toc -->
		</td>
		<td class="content">
			<iframe class="content_iframe" id="content_iframe" src="/modules/help_a/html/welcome.html" ></iframe>
		</td>
	</tr>
</table>