#set ( $level = "country" )
#set ( $dots = "../../../.." )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="$util.capitalizeWords($country.getName()) Whalewatching - AA Travel Guides">
<meta name="Keywords" content="$util.capitalizeWords($country.getName()), whaling, whalewatchers, whales, whale watching, whale-watching, whalewatching">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>$util.capitalizeWords($country.getName()) Whalewatching - AA Travel Guides</title>
<link href="${dots}/styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${dots}/scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse( "common_aa/top.vm" )</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="${dots}/images/left_bg.gif" valign="top">#parse( "common_aa/navigation.vm" )</td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top">
				  <table width="100%" border="0" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="text">#parse( "common_aa/breadcrumb.vm" )</td>
                    </tr>
                  </table>
				<table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                  <tr>
                    <td><h1>$util.capitalizeWords($country.getName()) Whalewatching - AA Travel Guides</h1></td>
                  </tr>
                </table>
                  <br />
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="24"><img src="${dots}/images/icon_previous.gif" width="24" height="24"></td>
                      <td><a href="../index.html" class="link_red">Back to $util.capitalizeWords($region.getName())</a></td>
                    </tr>
                  </table>
				  <br />
				  <table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_maps.vm" )</td>
				  </tr>
				</table>
                  <br />
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td class="text">$util.convertHtml($country.getHtmlContent())</td>
                    </tr>
                  </table>
                  <br />
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
											<tr>
												<td valign="top">
												#if($country.getName().equalsIgnoreCase("SOUTH AFRICA") )
													<table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
														<thead>
															<tr>
																<td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
																<td>Provinces in $util.capitalizeWords($country.getName())</td>
																<td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
															</tr>
														</thead>
													</table>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
														<tbody>
														#foreach($province in $provinces )
															<tr>
																<td><a href="${province.getFileName()}/index.html" class="link_red">$util.capitalizeWords($province.getName()) Whalewatching</a></td>
															</tr>
														#end
														</tbody>
													</table>
												#else												
													<table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
														<thead>
															<tr>
																<td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
																<td>Cities in $util.capitalizeWords($country.getName())</td>
																<td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
															</tr>
														</thead>
													</table>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
														<tbody>
														#foreach( $town in $towns )
															<tr>
																<td><a href="noprovince/${town.getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getName()) Whalewatching</a></td>
															</tr>
														#end
														</tbody>
													</table>
												#end
												</td>
												<td width="150" valign="top">
													<table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
														<thead>
															<tr>
																<td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
																<td>Other Countries</td>
																<td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
															</tr>
														</thead>
														<tbody>
														#foreach ( $c in $region_countries )								
														#if ( ! $country.getName().equals($c.getName()) )
															<tr>
																<td colspan="3"><span class="grey_text"><a href="../${c.getFileName()}/index.html" class="link_red">$util.capitalizeWords($c.getName())</a></span></td>
															</tr>
														#end
														#end
														</tbody>
													</table>
												</td>
											</tr>
										</table>
                <br>				
				<table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_sets.vm" )</td>
				  </tr>
				</table>
				<table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav.vm" )</td>
				  </tr>
				</table>				
                <table border="0" align="center" cellpadding="5" cellspacing="0">
                  <tr>
                    <td class="feedback_table">#parse( "common_aa/copyright.vm" )</td>
                  </tr>
                </table></td>
              </tr>
            </table>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
#parse( "common/google_analytics_aatravel.vm" )
</body>
</html>
