#set ( $dots = "../.." )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="Whalewatching - AA Travel Guides">
<meta name="Keywords" content="whaling, whalewatchers, whales, whale watching, whale-watching, whalewatching">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>Whalewatching - AA Travel Guides</title>
<link href="${dots}/styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${dots}/scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse( "common_aa/top.vm" )</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="${dots}/images/left_bg.gif" valign="top">#parse( "common_aa/navigation.vm" )</td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td align="center"><span class="text_dark"><strong>   </strong></span>
                        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                          <tr>
                            <td><h1>Whalewatching - AA Travel Guides</h1></td>
                          </tr>
                        </table>
                        <br />
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav_maps.vm" )</td>
						  </tr>
						</table>
						<br />
                        <table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Whalewatching in the following regions:</td>
                              <td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>												
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
						  #foreach ( $region in $regions )
                            <tr>
                              <td><a href="${region.getFileName()}/index.html" class="link_red">$util.capitalizeWords($region.getName()) Whalewatching</a></td>
                            </tr>
						  #end
                          </tbody>
                        </table>
                        <br />
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav_sets.vm" )</td>
						  </tr>
						</table>
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav.vm" )</td>
						  </tr>
						</table>						
                        <table border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr>
                            <td class="feedback_table">#parse( "common_aa/copyright.vm" )</td>
                          </tr>
                        </table>
                      </tr>
                  </table></td>
              </tr>
            </table>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
#parse( "common_aa/google_analytics_aatravel.vm" )
</body>
</html>
