#set ( $level = "suburb" )
#set ( $dots = "../../../../../.." )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="$util.capitalizeWords($suburb.getName()) Game Lodges - AA Travel Guides">
<meta name="Keywords" content="$util.capitalizeWords($suburb.getCountry().getName()), $util.capitalizeWords($suburb.getTown().getName()), $util.capitalizeWords($suburb.getName()), game lodge, luxury game reserve">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>$util.capitalizeWords($suburb.getName()) Game Lodges - AA Travel Guides</title>
<link href="${dots}/styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${dots}/scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse( "common_aa/top.vm" )</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="${dots}/images/left_bg.gif" valign="top">#parse( "common_aa/navigation.vm" )</td>
          <td valign="top"><table width="100%"  border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top">
				  <table width="100%" border="0" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="text">#parse( "common_aa/breadcrumb.vm" )</td>
                    </tr>
                  </table>
				  <table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                    <tr>
                      <td><h1>$util.capitalizeWords($suburb.getName()) Game Lodges - AA Travel Guides</h1></td>
                    </tr>
                  </table>
                  <br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="24"><img src="${dots}/images/icon_previous.gif" width="24" height="24"></td>
                      <td><a href="index.html" class="link_red">Back to $util.capitalizeWords($suburb.getTown().getName())</a></td>
                    </tr>
                  </table>
				  <br>
				  <table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_maps.vm" )</td>
				  </tr>
				</table>
                  <br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td valign="top"><table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Game Lodges in $util.capitalizeWords($suburb.getName()) ($estabs.size() Results)</td>
                              <td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        #if ( $estabs.size() > 0 )
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            #foreach ( $estab in $estabs )
                            <tr>
                              <td>#if ( !$estab.getPicture().equals("") && $estab.getThumb().exists() )
                                  <img src="http://www.aatravel.co.za/res_images/TN_$estab.getPicture()" title="$util.capitalizeWords($estab.getName())" />
                                  #end</td>
                              <td><strong><a href="establishment${estab.getCode()}.html" target="_blank" class="link_red">$util.capitalizeWords($estab.getName())</a></strong>                                
                                - $util.capitalizeWords($suburb.getName()) Game Lodges                           
                                  <br>
                              <div id="div_result_content">$estab.getDescription()</div></td>
                            </tr>
                            #end
                          </tbody>
                        </table>
                        #else
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            <tr>
                              <td>There are no establishments for this category in this suburb </td>
                            </tr>
                          </tbody>
                        </table>
                        #end</td>
                    </tr>
                  </table>
                  <br>				  
				<table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_sets.vm" )</td>
				  </tr>
				</table>
				  <table border="0" align="center" cellpadding="5" cellspacing="0">
					  <tr>
						<td class="feedback_table">#parse( "common_aa/bottom_nav.vm" )</td>
					  </tr>
					</table>				
                  <table border="0" align="center" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="feedback_table">#parse( "common_aa/copyright.vm" )</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
#parse( "common_aa/google_analytics_aatravel.vm" )
</body>
</html>
