.SCRUMcpYearNavigation,
	.SCRUMcpMonthNavigation
			{
			background-color:#6677DD;
			text-align:center;
			vertical-align:middle;
			text-decoration:none;
			color:black;
			font-weight:bold;
			}
	.SCRUMcpDayColumnHeader,
	.SCRUMcpYearNavigation,
	.SCRUMcpMonthNavigation,
	.SCRUMcpCurrentMonthDate,
	.SCRUMcpCurrentMonthDateDisabled,
	.SCRUMcpOtherMonthDate,
	.SCRUMcpOtherMonthDateDisabled,
	.SCRUMcpCurrentDate,
	.SCRUMcpCurrentDateDisabled,
	.SCRUMcpTodayText,
	.SCRUMcpTodayTextDisabled,
	.SCRUMcpText
			{
			font-family:arial;
			font-size:8pt;
			}
	TD.SCRUMcpDayColumnHeader
			{
			text-align:right;
			border-bottom:solid thin #6677DD;
			}
	.SCRUMcpCurrentMonthDate,
	.SCRUMcpOtherMonthDate,
	.SCRUMcpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.SCRUMcpCurrentMonthDateDisabled,
	.SCRUMcpOtherMonthDateDisabled,
	.SCRUMcpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.SCRUMcpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.SCRUMcpCurrentMonthDate A:hover
			{
			color:red;
			font-weight:bold;
			}
	.SCRUMcpCurrentDate
			{
			color: black;
			font-weight:bold;
			}
	.SCRUMcpCurrentDate A
			{
			color: black;
			font-weight:bold;
			}
	.SCRUMcpOtherMonthDate
			{
			color:#808080;
			}
	TD.SCRUMcpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.SCRUMcpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.SCRUMcpTodayText,
	TD.SCRUMcpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.SCRUMcpTodayText,
	SPAN.SCRUMcpTodayTextDisabled
			{
			height:20px;
			}
	A.SCRUMcpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.SCRUMcpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.SCRUMcpBorder
			{
			border:solid thin #6677DD;
			}