#transactionList {
	width: 100%;
	border-collapse: collapse;
}

.row_selected {
	background-color: red;
}

/* Buscard View */



.heading {
	font-size: 1.4em;
	padding: 0px;
	padding-bottom: 4px;
	font-weight: bold;
}

#buscardView {
	width: 100%;
	font-size: 0.8em;
}




#buscardView .tagCol {
	width: 150px;
	font-weight: bold;
}
#buscardView .contentCol {
	width: 35%;
}

.statusApproved {
	color: green;
}
.statusDeclined {
	color: red;
}
.statusNotDone {
	color: orangered;
}