<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- type --> Product:</strong> <!-- type_names --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=products_management&a=list_products"> Products Management</a>
            </li>
            <li class="active">
                <strong><!-- type --> Product</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form  role="form" method="post" id="edittypeForm" action="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <!-- renew_button -->
                        <h4><span class="text-navy">Product Manager</span></h4>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <input type="hidden" name="type_id" id="type_id" class="form-control" value="<!-- type_id -->">

                            <div class="form-group">
                                <label>Product Name:</label>
                                <input type="text" placeholder="Product Name" name="type_name" id="type_name" class="form-control" value="<!-- type_name -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Best Before: (days)</label>
                                <input type="number"  min="1" max="365" name="best_before"  id="best_before" class="form-control" value="<!-- best_before -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Expiry Date: (days)</label>
                                <input type="number"  min="1" max="365" name="expiry_date"  id="expiry_date" class="form-control" value="<!-- expiry_date -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Product Description:</label>
                                <textarea class="form-control" rows="5" placeholder="Product Description........." name="type_description" id="type_description"  style="height: 105px;"><!-- type_description --></textarea>
                            </div>
                            <div class="form-group pull-right">
                                <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                                <button class="btn btn-primary  dim" type="submit" id="save">Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/modules/products_management/assets/js/edit_type.js?20160620"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>

