#set ( $level = "town" )
#set ( $dots = "../../../../../.." )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="$util.capitalizeWords($town.getName()) 4 X 4 Holidays - AA Travel Guides">
<meta name="keywords" content="$util.capitalizeWords($town.getCountry().getName()), $util.capitalizeWords($town.getName()), 4 by 4 trails, holidays, 4 X 4, four by four, 4X4">
<title>$util.capitalizeWords($town.getName()) 4 X 4 Holidays - AA Travel Guides</title>
<link href="${dots}/styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${dots}/scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse( "common_aa/top.vm" )</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="${dots}/images/left_bg.gif" valign="top">#parse( "common_aa/navigation.vm" )</td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top">
				  <table width="100%" border="0" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="text">#parse( "common_aa/breadcrumb.vm" )</td>
                    </tr>
                  </table>
				  <table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                    <tr>
                      <td><h1>$util.capitalizeWords($town.getName()) 4 X 4 Holidays - AA Travel Guides</h1></td>
                    </tr>
                  </table>
                  <br />
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="24"><img src="${dots}/images/icon_previous.gif" width="24" height="24"></td>
                      <td><a href="../index.html" class="link_red">Back to $util.capitalizeWords($town.getProvince().getName())</a></td>
                    </tr>
                  </table>
				  <br />
				  <table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_maps.vm" )</td>
				  </tr>
				  </table>
                  <br />
                  ##<table width="100%" border="0" cellspacing="0" cellpadding="3">
                    ##<tr>
                      ##<td class="text">$util.convertHtml($town.getHtmlContent())</td>
                    ##</tr>
                  ##</table>
                  ##<br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td valign="top"><table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>4 X 4 Holidays in $util.capitalizeWords($town.getName()) ($estabs.size() Results) </td>
                              <td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        #if ( $estabs.size() > 0 )
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            #foreach ( $estab in $estabs )
                            <tr>
                              <td>#if ( !$estab.getPicture().equals("") && $estab.getThumb().exists() )
                                <img src="http://www.aatravel.co.za/res_images/TN_$estab.getPicture()" title="$util.capitalizeWords($estab.getName())" />
                              #end</td>
                              <td><strong><a href="establishment${estab.getCode()}.html" target="_blank" class="link_red">$util.capitalizeWords($estab.getName())</a></strong> - $util.capitalizeWords($town.getName()) 4 X 4 Holidays <br>
                              <div id="div_result_content">$estab.getDescription()</div></td>
                            </tr>
                            #end
                          </tbody>
                        </table>
                        #else						
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            <tr>
                              <td>There are no establishments in this town </td>
                            </tr>
                          </tbody>
                        </table>
                        #end 
						##end                     
						</td>
                      <td width="150" valign="top">##set ( $townFile = "${town.getFileName()}" )
                        ##<table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          ##<thead>
                            ##<tr>
                              ##<td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              ##<td>Accommodation</td>
                              ##<td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            ##</tr>
                          ##</thead>
                          ##<tbody>
                            ##foreach ( $accomtype in $townAccom )
                            ##<tr>
                              ##<td colspan="3"><span class="grey_text"><a href="${townFile}_${accomtype.getFileName()}.html" class="link_red">$util.capitalizeWords($accomtype.getGroupDesc())</a></span></td>
                            ##</tr>
							##end
                          ##</tbody>
                        ##</table>
						#if ( $suburbs.size() > 0 )
                        ##<br>
                        ##<br>
                        <table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Suburbs in this town </td>
                              <td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                          <tbody>
                            #foreach ( $suburb in $suburbs )
                            <tr>
                              <td colspan="3"><span class="grey_text"><a href="${suburb.getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getName())</a></span></td>
                            </tr>
                            #end
                          </tbody>
                        </table>
						#end</td>
                    </tr>
                  </table>
                  <br>				  
				<table border="0" align="center" cellpadding="5" cellspacing="0">
				  <tr>
					<td class="feedback_table">#parse( "common_aa/bottom_nav_sets.vm" )</td>
				  </tr>
				</table>
				  <table border="0" align="center" cellpadding="5" cellspacing="0">
					  <tr>
						<td class="feedback_table">#parse( "common_aa/bottom_nav.vm" )</td>
					  </tr>
					</table>				
                  <table border="0" align="center" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="feedback_table">#parse( "common_aa/copyright.vm" )</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
#parse( "common_aa/google_analytics_aatravel.vm" )
</body>
</html>
