<table>
	<tr>
		<td>Member</td>
		<td><!-- member_name --></td>
	</tr>
	<tr>
		<td>Current Fee</td>
		<td><!-- current_amount --></td>
	</tr>
	<tr>
		<td>Updated Fee</td>
		<td><!-- updated_fee --></td>
	</tr>
	<tr>
		<td>Start Date</td>
		<td><!-- start_date --></td>
	</tr>
</table>