<body>
		<table width='100%' border='0' cellspacing='0' cellpadding='0'>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Title:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- title --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Name:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- firstname --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Surname:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- lastname --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Telephone (home):</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- tel_home --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Telephone (work):</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- tel_work --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Cellphone:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- cellphone --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Email Address:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- email --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>ID Number:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- id_number --></font></td></tr>
		<tr>
          <td><strong>Address:</strong></td>
			<td><!-- address_1 --></td>
		 </tr>
		 <tr>
			 <td></td>
			 <td><!-- address_2 --></td>
		 </tr>
		 <tr>
			 <td style="color: gray; font-size: 0.8em; text-align: right; vertical-align: middle">Suburb </td>
			 <td>
				 <!-- suburb -->
			 </td>
		 </tr>
		 <tr>
			 <td style="color: gray; font-size: 0.8em; text-align: right; vertical-align: middle">City </td>
			 <td><!-- city --> </td>
		 </tr>
		 <tr>
			 <td style="color: gray; font-size: 0.8em; text-align: right; vertical-align: middle">Province </td>
			 <td><!-- province --></td>
		 </tr>
		 <tr>
			 <td style="color: gray; font-size: 0.8em; text-align: right; vertical-align: middle">Code </td>
			 <td><!-- postal_code --></td>
		 </tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Date of birth:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- date_of_birth --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Language:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- language --></font></td></tr>
		<tr><td width='15%' valign='top'><font face='Arial' size='2'><strong>Profession:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- skills --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Pensioner:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- pensioner --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Company:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- company --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Amount:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- amount --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Salary Reference:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- salary_ref --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Start Date:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- start_date --></font></td></tr>
		<tr><td width='15%'><font face='Arial' size='2'><strong>Username:</strong></font></td>
		<td width='85%'><font face='Arial' size='2'><!-- username --></font></td></tr>
		</table>
		</body>