<ul id='nav' class='dropdown dropdown-horizontal'>
	<li><a href=''>Name 1</a>
		<ul class='dir'>
			<li><a href=''>Name 1a</a>
				<ul>
					<li><a href=''>Name 1aa</a></li>
				</ul>
				<ul>
					<li><a href=''>Name 1ab</a></li>
				</ul>
			</li>
		</ul>
		<ul class='dir'>
			<li><a href=''>Name 1b</a><ul>
					<li><a href=''>Name 1ac_up1</a></li></ul>
				<ul>
					<li><a href=''>auoe21</a></li></ul>
				<ul>
					<li><a href=''>bbbbbbbbbbbbb54</a></li></ul>
			</li></ul>
	</li>

	<li><a href=''>Name 2</a><ul class='dir'>
			<li><a href=''>Test Item 1</a></li></ul>
	</li>
</ul>
