
        <div style="width: 600px; margin: auto auto; background-color: #ccaa77; border: 5px inset #aa8855; padding: 10px">
            <div>
                <h1>Keg Orbit</h1>
            </div>
            <div>
                <h4>Hi Mr khulu,<!-- email_heading --></h4>
                <p><!-- email_content --></p>
            </div>
            <div>
                    <p>Regards<br>
                   Keg Orbit (Pty)Ltd.</p>
            </div>
        </div>
