<div style="width: 600px; margin: auto auto; background-color: #ccaa77; border: 5px inset #aa8855; padding: 10px">
    <div>
        <h1><!-- company_name --></h1>
    </div>
    <div>
        <h4>Dear <!-- contact_name -->,</h4>
        <p>  We received a request to reset the password associated with this e-mail address. If you made this request, please click the link below to reset your
            password:<br>
            <a href='<!-- reset_link-->'><!-- reset_link --></a></p>
        <p>If you did not request to have your password reset you can safely ignore this email. Rest assured your customer account is safe.</p>
        <p>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window, or retype it there.
            Once you have returned to <!-- company_name -->, we will give instructions for resetting your password.
        </p>
    </div>
    <div>
        <p>Regards<br>
            <!-- company_name -->.</p>
    </div>
</div>
