/* Category (DIV Element) */
.catDiv_suffix {
	color: black;
}


/* Category Link (A Element) */
.catDiv_suffix A:link,
.catDiv_suffix A:visited,
.catDiv_suffix A:active {
	color: black;
	font-size: .8em;
	text-decoration: none;
}
.catDiv_suffix A:hover {
	color: green;
	font-size: .8em;
	text-decoration: none;
}