
/* Product block (TABLE element) */
.trC_table_suffix {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

/* Product Header (TR element) */
.trC_header_suffix {
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-size: 1em;
}


/* Product Link (A Element) */
.trC_header_suffix A:link,
.trC_header_suffix A:focus,
.trC_header_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
}
.trC_header_suffix A:hover {
	color: green;
}

/* Product Image (IMG Element) */
.trC_header_suffix IMG {
	width: 100px
}
