<table class="prodDiv_suffix">
	<tr>
		<td class="prodName_suffix">
			<!-- product_name -->

		</td>
		<td class="prodPrice_suffix">
			<!-- product_price --> <br>
			<!-- variation_list --><br>
			<input type="button" value="Add To Cart"  onclick="<!-- cart_link -->" >
		</td>
	</tr>
	<tr>
		<td class="prodCategory_suffix">
			<!-- product_categories -->
		</td>
		<td  class="prodManufacturer_suffix">
			<!-- product_manufacturer -->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!-- product_information -->
		</td>
	</tr>
</table>