
/* Product block (TABLE element) */
.vlA_table_suffix {
	width: 100%;
	border-collapse: collapse;
}

/* Product Header (TR element) */
.vlA_header_suffix {
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-size: 1em;
}


/* variation Description (TD Element)*/
.vlA_description {
	font-size: .8em;
	color: black;
}

/* variation Price (TD Element)*/
.vlA_price {
	font-size: .8em;
	color: black;
	text-align: right;
}

/* Product Link (A Element) */
.vlA_header_suffix A:link, 
.vlA_header_suffix A:focus, 
.vlA_header_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
}
.vlA_header_suffix A:hover {
	color: green;
}


