/* Text List Canvas (DIV ELEMENT) */
.ptl_canvas_suffix {
	width: 200px;
	text-align: center;
}

/* Product Name (DIV ELEMENT) */
.ptl_product_name_suffix {
	font-weight: bold;
	font-size: 1em;
}

/* Product Description (DIV ELEMENT) */
.ptl_product_description_suffix {
	font-size: .8em;
}

/* Product Image (DIV ELEMENT) */
.ptl_product_image_suffix {
	
}
.ptl_product_image_suffix IMG {
	width: 100px;
}

/* Product Link (DIV ELEMENT) */
.ptl_product_view_suffix {
	text-align: right;
}
.ptl_product_view_suffix A:link, 
.ptl_product_view_suffix A:focus, 
.ptl_product_view_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
}
.ptl_product_view_suffix A:hover {
	color: green;
	text-decoration: none;
}

/* Columns (TABLE Element) */
.list_template_suffix {
	width: 100%;
}