
/* Product block (TABLE element) */
.trA_table_suffix {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

/* Product Header (TR element) */
.trA_header_suffix {
	background-color: gray;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

/* Product Price (TD element) */
.trA_price_suffix {
	text-align: right;
	font-size: .8em;
}

/* Product subheader (TR element) */
.trA_subheader_suffix {
	font-size: .8em;
	font-weight: bold;
}

/* Product Manufacturer (TD element) */
.trA_manufacturer_suffix {
	font-size: .8em;
}

/* Product model (TD element) */
.trA_model_suffix {
	text-align: right;
	font-size: .8em;
}

/* Product Description (TD element) */
.trA_description_suffix {
	font-size: .8em;
}

/* Product Link (TR Element) */
.trA_product_footer_suffix {
	background-color: silver;
}

/* Product Link (TD Element) */
.trA_product_link_suffix {
	text-align: right;
}

/* Product Link (A Element) */
.trA_product_link_suffix A:link, 
.trA_product_link_suffix A:focus, 
.trA_product_link_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
}
.trA_product_link_suffix A:hover {
	color: green;
}

/* Product Image (TD Element)*/
.trA_image_suffix {
	width: 210px;
}
.trA_image_suffix IMG {
	width: 200px;
	margin: 5px;
}

/* Product Categories (TD Element) */
.trA_product_categories_suffix {
	font-size: .8em;
	color: gray;
}


