<table class="vlA_table_suffix">
	<tr class="vlA_header_suffix">		
		<td>
			<!-- variation_code --> - <!-- variation_name -->
		</td>
		<td class="vlA_price">
			<!-- variation_price -->
		</td>
	</tr>
	<tr>
		<td colspan="2" class="vlA_description">
			<!-- variation_description -->
		</td>
	</tr>
</table>
<br>