/* Manufacturer (DIV Element) */
.manDiv_suffix {
	
}


/* Manufacturer Link (A Element) */
.manDiv_suffix A:link,
.manDiv_suffix A:visited,
.manDiv_suffix A:active {
	color: black;
	font-size: .8em;
	text-decoration: none;
}
.manDiv_suffix A:hover {
	color: green;
	font-size: .8em;
	text-decoration: none;
}
