<table class="trA_table_suffix">
	<tr class="trA_header_suffix">
		<td rowspan="4" class="trA_image_suffix">
			<!-- product_image -->
		</td>
		<td>
			<!-- product_code --> - <!-- product_name -->
		</td>
		<td class="trA_price_suffix">
			<!-- product_price -->
		</td>
	</tr>
	<tr class="trA_subheader_suffix">
		<td class="trA_manufacturer_suffix">
			<!-- product_manufacturer -->
		</td>
		<td class="trA_model_suffix">
			<!-- product_model -->
		</td>
	</tr>
	<tr class="trA_description_suffix">
		<td colspan="2">
			<!-- product_description -->
		</td>
	</tr>
	<tr class="trA_product_footer_suffix">
		<td  class="trA_product_categories_suffix">
			<!-- product_categories -->
		</td>
		<td class="trA_product_link_suffix">
			<a href ="<!-- product_link -->" >View Product</a>
		</td>
	</tr>
</table>