/* Product canvas (TABLE Element) */
.prodDiv_suffix {
	width: 100%;
}

/* Product Name (TD Element) */
.prodName_suffix {
	font-size: 1.2em;
	font-weight: bold;
}

/* Product Price (TD Element) */
.prodPrice_suffix {
	text-align: right;
	font-size: 1em;
}

/* Product Category (TD Element) */
.prodCategory_suffix {
	font-size: .8em;

}

/* Product Manufacturer (TD Element) */
.prodManufacturer_suffix {
	text-align: right;
	font-size: .8em;
}

/* Variation list block - name & select (SPAN Element)*/
.variation_block_suffix {

}

/* Variations List Name (SPAN Element)*/
.variation_name_suffix {

}

/* Variation List select (SELECT Element) */
.variation_options_suffix {

}