<div class="ptl_canvas_suffix">
	<div class="ptl_product_name_suffix"><!-- product_name --></div>
	<div class="ptl_product_description_suffix"><!-- product_description --></div>
	<div class="ptl_product_view_suffix"><a href='<!-- product_link -->'>View Product >></a></div>
</div>