
/* Product block (TABLE element) */
.tlA_table_suffix {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

/* Product Header (TR element) */
.tlA_header_suffix {
	background-color: gray;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

/* Product Price (TD element) */
.tlA_price_suffix {
	text-align: right;
	font-size: .8em;
}

/* Product subheader (TR element) */
.tlA_subheader_suffix {
	font-size: .8em;
	font-weight: bold;
}

/* Product Manufacturer (TD element) */
.tlA_manufacturer_suffix {
	font-size: .8em;
}

/* Product model (TD element) */
.tlA_model_suffix {
	text-align: right;
	font-size: .8em;
}

/* Product Description (TD element) */
.tlA_description_suffix {
	font-size: .8em;
}

/* Product Link (TR Element) */
.tlA_product_footer_suffix {
	background-color: silver;
}

/* Product Link (TD Element) */
.tlA_product_link_suffix {
	text-align: right;
}

/* Product Link (A Element) */
.tlA_product_link_suffix A:link, 
.tlA_product_link_suffix A:focus, 
.tlA_product_link_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
}
.tlA_product_link_suffix A:hover {
	color: green;
}

/* Product Image (TD Element)*/
.tlA_image_suffix {
	width: 110px;
}
.tlA_image_suffix IMG {
	width: 100px;
	margin: 5px;
}

/* Product Categories (TD Element) */
.tlA_product_categories_suffix {
	font-size: .8em;
	color: gray;
}


