<table class="prodDiv_suffix">
	<tr>
		<td class="prodName_suffix">
			<!-- product_name -->
		</td>
		<td class="prodPrice_suffix">
			<!-- product_price -->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!-- product_information -->
		</td>
	</tr>
</table>