<div class="fpC_canvas_suffix">
	<table>
		<tr>
			<td colspan="2" class="fpC_name_suffix">
				<!-- product_name --><br>
				<div class="fpC_price_suffix">ZAR <!-- product_price --></div>
			</td>
		</tr>

		<tr>
			<td rowspan="2"  class="fpC_primary_image_suffix">
				<a href='<!-- primary_image -->' rel='lightbox[pil_img]'><img src='<!-- primary_image -->' ></a>
			</td>
			<td>
				<div class="fpC_info_suffix"><!-- product_information --></div>
			</td>
		</tr>

		<tr>
			<td  class="fpC_image_block_suffix">
				<div><!-- product_image_block --></div>
			</td>
		</tr>
	</table>
	<br>
	Color Chart
	<div class="variation_block_suffix">
	<!-- variation_list -->
	</div>
	<br>
	<table class="fpC_footer_suffix">
		<tr>
			<td><div class="fpC_back_suffix"><a href="<!-- products_list_link -->"><< Back to Products</a></div></td>
			<td class="fpC_buy_suffix"><div><input type="button" value="Add To Cart"  onclick="<!-- cart_link -->" ></div></td>
		</tr>
	</table>
</div>
