<table class="trC_table_suffix">
	<tr class="trC_header_suffix">
		<td>
			<img src='<!-- primary_image -->' ><br>
			<a href ="<!-- product_link -->" ><!-- product_name --></a>
		</td>
	</tr>
</table>