<table class="tlA_table_suffix">
	<tr class="tlA_header_suffix">
		<td rowspan="4" class="tlA_image_suffix">
			<img src='<!-- product_image -->'  >
		</td>
		<td>
			<!-- product_code --> - <!-- product_name -->
		</td>
		<td class="tlA_price_suffix">
			<!-- product_price -->
		</td>
	</tr>
	<tr class="tlA_subheader_suffix">
		<td class="tlA_manufacturer_suffix">
			<!-- product_manufacturer -->
		</td>
		<td class="tlA_model_suffix">
			<!-- product_model -->
		</td>
	</tr>
	<tr class="tlA_description_suffix">
		<td colspan="2">
			<!-- product_description -->
		</td>
	</tr>
	<tr class="tlA_product_footer_suffix">
		<td  class="tlA_product_categories_suffix">
			<!-- product_categories -->
		</td>
		<td class="tlA_product_link_suffix">
			<a href ="<!-- product_link -->" >View Product</a>
		</td>
	</tr>
</table>