
/* Product block (TABLE element) */
.tlA_table_suffix {
	width: 100%;
	border-collapse: collapse;
}

/* Product Header (TR element) */
.tlA_header_suffix {
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-size: 1em;
}


/* Product Link (A Element) */
.tlA_header_suffix A:link, 
.tlA_header_suffix A:focus, 
.tlA_header_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
}
.tlA_header_suffix A:hover {
	color: green;
}


