/* canvas (TABLE Element) */
.fpC_canvas_suffix {
	width: 100%;
}
.fpC_canvas_suffix TR{
	vertical-align: top;
}

/* Primary Image (TD Element) */
.fpC_primary_image_suffix {
	width: 140px;
}
.fpC_primary_image_suffix IMG {
	width: 128px;
}

/* Product name (DIV Element */
.fpC_name_suffix {
	font-weight: bold;
	font-size: 1em;
}

/* Product Price */
.fpC_price_suffix {
	font-weight: bold;
	font-size: 1em;
}

/* Product Information */
.fpC_info_suffix {

}

/* Buy Now Block (DIV Element) */
.fpC_buy_suffix {
	text-align: right;
}

/* Image Block (DIV Element) */
.fpC_image_block_suffix {
	text-align: center;
}
.fpC_image_block_suffix IMG {
	width: 100px;
	margin-right: 10px
}

/* Back to products link (DIV Element) */
.fpC_back_suffix {

}
.fpC_back_suffix A:link,
.fpC_back_suffix A:focus,
.fpC_back_suffix A:active {
	color: black;
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
}
.fpC_back_suffix A:hover {
	color: green;
	text-decoration: none;
}

/* Variation list block - name & select (SPAN Element)*/
.variation_block_suffix {

}

/* Variations List Name (SPAN Element)*/
.variation_name_suffix {

}

/* Variation List select (SELECT Element) */
.variation_options_suffix {

}