/* Product canvas (TABLE Element) */
.prodDiv_suffix {
	width: 100%;
}

/* Product Name (TD Element) */
.prodName_suffix {
	font-size: 1.2em;
	font-weight: bold;
}

/* Product Price (TD Element) */
.prodPrice_suffix {
	text-align: right;
	font-size: 1em;
}
