<H1>Establishment Balance Sheet For <!-- assessor_name --></H1>
<span style="font-weight: bold; "><!-- date --></span>

<br><br>
<table width="600px">
	<tr>
		<th colspan="2" style="background-color: gray">General</th>
	</tr>
	<tr>
		<td>Total Establishments</td>
		<td style="text-align: right"><!-- establishment_count --></td>
	</tr>
	<tr>
		<td>Unbooked Assessments</td>
		<td style="text-align: right"><!-- unbooked_assessments --></td>
	</tr>
	<tr>
		<td>Cancelled(12 months)</td>
		<td style="text-align: right"><!-- cancel_count --></td>
	</tr>
	<tr>
		<td>Total Assessments(12 months)</td>
		<td style="text-align: right"><!-- total_assessment_count --></td>
	</tr>
</table>


<br><br>
<table width="600px">
	<tr>
		<th style="background-color: gray">Assessments</th>
		<th style="background-color: gray; width: 60px" nowrap>12 Months</th>
		<th style="background-color: gray;">&nbsp;</th>
		<th style="background-color: gray; width: 80px">All</th>
	</tr>
	<tr>
		<td>Complete Assessments</td>
		<td style="text-align: right"><!-- 12_complete_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_complete_count --></td>
	</tr>
	<tr>
		<td>Waiting Assessments</td>
		<td style="text-align: right"><!-- 12_waiting_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_waiting_count --></td>
	</tr>
	<tr>
		<td>Draft Assessments</td>
		<td style="text-align: right"><!-- 12_draft_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_draft_count --></td>
	</tr>
	<tr>
		<td>Auto Generated Assessments</td>
		<td style="text-align: right"><!-- 12_auto_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_auto_count --></td>
	</tr>
	<tr>
		<td>Returned Assessments</td>
		<td style="text-align: right"><!-- 12_return_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_return_count --></td>
	</tr>
	<tr>
		<td>Assessments Without a status</td>
		<td style="text-align: right"><!-- 12_other_count --></td>
		<td>&nbsp;</td>
		<td style="text-align: right"><!-- all_other_count --></td>
	</tr>
	<tr>
		<td style="text-align: right; background-color: silver">Total</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- 12_total_calculated_assessments --></td>
		<td style="text-align: right; background-color: silver">&nbsp;</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- all_total_calculated_assessments --></td>
	</tr>
</table>


<br><br>
<table width="600px">
	<tr>
		<th  style="background-color: gray">Assessments Invoices & Payments</th>
		<th  style="background-color: gray">Count</th>
		<th  style="background-color: gray">&nbsp;</th>
		<th  style="background-color: gray">Total(R)</th>
		<th  style="background-color: gray">&nbsp;</th>
		<th  style="background-color: gray">Paid(R)</th>
	</tr>
	<tr>
		<td>Paid Assessments</td>
		<td style="text-align: right"><!-- invoice_paid_count --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right"><!-- invoice_paid_total --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right"><!-- invoice_paid_total --></td>
	</tr>
	<tr>
		<td>Partially Paid Assessments</td>
		<td style="text-align: right"><!-- invoice_partial_count --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right"><!-- invoice_partial_total --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right"><!-- invoice_partial_total_paid --></td>
	</tr>
	<tr>
		<td>Unpaid Assessments</td>
		<td style="text-align: right"><!-- invoice_unpaid_count --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right"><!-- invoice_unpaid_total --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right">0</td>
	</tr>
	<tr>
		<td>Uninvoiced Assessments</td>
		<td style="text-align: right"><!-- uninvoice_count --></td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right">-</td>
		<td style="text-align: right">&nbsp;</td>
		<td style="text-align: right">-</td>
	</tr>
	
	<tr>
		<td style="text-align: right; background-color: silver">Total</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- invoice_count_total --></td>
		<td style="background-color: silver">&nbsp;</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- invoice_all_total --></td>
		<td style="background-color: silver">&nbsp;</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- invoice_paid_all_total --></td>
	</tr>
</table>


<br><br>
<table width="600px">
	<tr>
		<th colspan="2" style="background-color: gray">Assessments Due</th>
	</tr>
	<tr>
		<td>Unknown</td>
		<td style="text-align: right"><!-- due_unknown --></td>
	</tr>
	<tr>
		<td>Overdue Assessments</td>
		<td style="text-align: right"><!-- due_over --></td>
	</tr>
	<tr>
		<td>Assessments Due This Month</td>
		<td style="text-align: right"><!-- due_1month --></td>
	</tr>
	<tr>
		<td>Assessments Due in <!-- 2month --></td>
		<td style="text-align: right"><!-- due_2month --></td>
	</tr>
	<tr>
		<td>Assessments Due in <!-- 3month --></td>
		<td style="text-align: right"><!-- due_3month --></td>
	</tr>
	<tr>
		<td>Assessments Due in <!-- 4month --></td>
		<td style="text-align: right"><!-- due_4month --></td>
	</tr>
	<tr>
		<td>Rest of Year</td>
		<td style="text-align: right"><!-- rest_of_year --></td>
	</tr>
	<tr>
		<td style="text-align: right; background-color: silver">Total</td>
		<td style="border-top: 1px solid black; border-bottom: 3px double black; text-align: right;  background-color: silver"><!-- due_total --></td>
	</tr>
</table>
