.form_canvas {
	background-color: #EAEAEA; 
	width: 100%-4px; 
	min-height:280px;
	height:auto !important; 
	height:280px; 
	border: 1px dotted silver;
	margin-top: 8px
}



INPUT:focus, TEXTAREA:focus {
	background-color: #CCF
}

SELECT {
	width: 100%
}

.pageTable{
	width: 100%;
	border-collapse: collapse;
}

.pageTable TR {
	vertical-align: top;
	border-collapse: collapse;
}