<link rel="stylesheet" href="/shared/jQuery/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css">
<link rel="stylesheet" href="/modules/sports/css/sports_results.css">

<fieldset style='background-color: #204E2E; color: white'>
    <input type="hidden" name="sport_type" value="<!-- sport_type -->" id="sport_type"/>

    <table style='width: 100%;'>
        <tr>
            <td style='color: white'><label for='search_team'>Team Name</label></td>
            <td><input type="text" name="search_team" id="search_team" /></td>
            <td>&nbsp;</td>
            <td style='color: white'><label>From Date</label></td>
            <td><input type="text" name="search_from_date" class="date" id="search_from_date" /></td>
            <td rowspan=2  style='text-align: right'>
                <button name="search" class="search">Search</button><br>
                <button name="reload" class="reload">Clear</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style='text-align: right'><a href="/index.php?page=sportresults" class="btn">Back to Latest Results</a></td>
            <td></td>
            <td style='color: white'><label>To Date</label></td>
            <td><input type="text" name="search_to_date" class="date" id="search_to_date" /></td>
        </tr>
    </table>
    <div class="error"></div>
</fieldset>

<table id="sport_results_tbl" style='width: 100%'>
    <thead>
        <tr>
            <th rowspan="2">Match</th>
            <th colspan="3">Results</th>
        </tr>
        <tr>
            <th>Team</th>

            <th>Final Score</th>
        </tr>
    </thead>
    <tbody id="results">
        <!-- sport_results -->
    </tbody>
</table>
<script src="/shared/jQuery/jquery-1.10.2.min.js"></script>
<script src="/shared/jQuery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
var JTable = function() {};
JTable.Setup = function() {
    var table = $('#sport_results_tbl');
    $('caption', table).addClass('ui-state-default');
    $('th', table).addClass('ui-state-default');
    $('td', table).addClass('ui-widget-content');
    $(table).delegate('tr', 'hover', function() {
        $('td', $(this)).toggleClass('ui-state-hover');
});

};

JTable.SetupNewRows = function(rows) {
    $(rows).find('td').addClass('ui-widget-content');
};

$(function() {
    JTable.Setup();

    $("#search_team").autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "/modules/sports/view/get_teams.ajax.php",
                data: {term: request.term, sport_type: $('#sport_type').val()},
                dataType: "json",
                success: function( data ) {
                    response( $.map( data.teams, function( item ) {
                        return {
                            label: item.name,
                            value: item.name
                        }
                    }));
                }
            });
        },
        minLength: 2
    });

    $('.date').datepicker({ dateFormat: "dd/mm/yy" });

    $('#search_from_date').on('change', function() {
        var from_date = $(this).val();
        $('#search_to_date').val(from_date);
    });

    $('.search').click(function() {
        var team = $('#search_team').val();
        var from_date = $('#search_from_date').val();
        var to_date = $('#search_to_date').val();
        var sport_type = $('#sport_type').val();
        var postData = "team="+team + "&from_date="+from_date + "&to_date=" + to_date + "&sport_type=" + sport_type;

        $.ajax({
            url: '/modules/sports/view/sports_results.ajax.php',
            type:'POST',
            dataType: 'json',
            data: postData,
            success: function(data){
                if(data.error_found != 1)//No error found
                {
                    if(data.no_results == 1)//No results were found
                    {
                        $('#results').html('No results were found for your search.');
                    }
                    else
                    {
                        var resultData;
                        $.each(data,function(i,v)
                        {
                            resultData += '<tr>';
                            resultData += '<td rowspan="3" style="border-bottom:3px solid #006400;vertical-align:top">';
                            resultData += '<b>' + v.id + ' ' + v.match + '</b><br>' + v.date + '</td>';
                            resultData += '</tr>';
                            resultData += '<tr>';
                            resultData += '<td style="border-top:none">' + v.team_a + '</td>';
//                            resultData += '<td style="border-top:none">' + v.half_a + '</td>';
                            resultData += '<td style="border-top:none">' + v.final_a + '</td>';
                            resultData += '</tr>';
                            resultData += '<tr>';
                            resultData += '<td style="border-bottom:3px solid #006400">' + v.team_b + '</td>';
//                            resultData += '<td style="border-bottom:3px solid #006400">' + v.half_b + '</td>';
                            resultData += '<td style="border-bottom:3px solid #006400">' + v.final_b + '</td>';
                            resultData += '</tr>';
                        });

                        $('#results').html(resultData);
                        JTable.Setup();
                    }
                }
                else
                {
                    $('.error').html(data.error);
                }
            }
        });
        return false;
    });

    $('.reload').on('click', function() {
        location.reload();
        return false;
    });
});
</script>