<link rel="stylesheet" href="/shared/jQuery/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css">
<link rel="stylesheet" href="/modules/sports/css/sports_results.css">

<fieldset style='background-color: #204E2E; color: white'>
    <input type="hidden" name="sport_type" value="<!-- sport_type -->" id="sport_type"/>

    <table style='width: 100%;'>
        <tr>
            <td style='color: white'><label for='search_team'>Team Name</label></td>
            <td><input type="text" name="search_team" id="search_team" /></td>
            <td>&nbsp;</td>
            <td style='color: white'><label>From Date</label></td>
            <td><input type="text" name="search_from_date" class="date" id="search_from_date" /></td>
            <td rowspan=2  style='text-align: right'>
                <button name="search" class="search">Search</button><br>
                <button name="reload" class="reload">Clear</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style='text-align: right'><a href="/index.php?page=sportresults" class="btn">Back to Latest Results</a></td>
            <td></td>
            <td style='color: white'><label>To Date</label></td>
            <td><input type="text" name="search_to_date" class="date" id="search_to_date" /></td>
        </tr>
    </table>
    <div class="error"></div>
</fieldset>

<table id="sport_results_tbl" style='width: 100%'>
    <thead>
        <tr>
            <th rowspan="2">Match</th>
            <th colspan="3">Results</th>
        </tr>
        <tr>
            <th>Team</th>

            <th>Final Score</th>
        </tr>
    </thead>
    <tbody id="results">
        <!-- sport_results -->
    </tbody>
</table>

<script src="/shared/jQuery/jquery-1.10.2.min.js"></script>
<script src="/shared/jQuery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/modules/sports/js/sports_results.js"></script>