	<a href="http://www.aatravel.co.za/" class="link_red">AA Travel Guides</a> 
	&gt; 
	<a href="http://www.aatravel.co.za/accommodation/${setDirectory}" class="link_red">$setName</a> 
	#if ($level == "region")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${region.getFileName()}/index.html" class="link_red">$util.capitalizeWords($region.getName())</a>
	#elseif ($level == "country")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${country.getRegion().getFileName()}/index.html" class="link_red">$util.capitalizeWords($country.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${country.getRegion().getFileName()}/${country.getFileName()}/index.html" class="link_red">$util.capitalizeWords($country.getName())</a>
	#elseif ($level == "province")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${province.getRegion().getFileName()}/index.html" class="link_red">$util.capitalizeWords($province.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${province.getRegion().getFileName()}/${province.getCountry().getFileName()}/index.html" class="link_red">$util.capitalizeWords($province.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${province.getRegion().getFileName()}/${province.getCountry().getFileName()}/${province.getFileName()}/index.html" class="link_red">$util.capitalizeWords($province.getName())</a>
	#elseif ($level == "town_without_province")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/${town.getCountry().getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/${town.getCountry().getFileName()}/noprovince/${town.getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getName())</a>
	#elseif ($level == "town")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/${town.getCountry().getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/${town.getCountry().getFileName()}/${town.getProvince().getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getProvince().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${town.getRegion().getFileName()}/${town.getCountry().getFileName()}/${town.getProvince().getFileName()}/${town.getFileName()}/index.html" class="link_red">$util.capitalizeWords($town.getName())</a>
	#elseif ($level == "suburb")
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${suburb.getRegion().getFileName()}/index.html" class="link_red">$util.capitalizeWords($suburb.getRegion().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${suburb.getRegion().getFileName()}/${suburb.getCountry().getFileName()}/index.html" class="link_red">$util.capitalizeWords($suburb.getCountry().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${suburb.getRegion().getFileName()}/${suburb.getCountry().getFileName()}/${suburb.getProvince().getFileName()}/${suburb.getTown().getFileName()}/index.html" class="link_red">$util.capitalizeWords($suburb.getTown().getName())</a>
		&gt; 
		<a href="http://www.aatravel.co.za/accommodation/${setDirectory}/${suburb.getRegion().getFileName()}/${suburb.getCountry().getFileName()}/${suburb.getProvince().getFileName()}/${suburb.getTown().getFileName()}/${suburb.getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getName())</a>	
	#end