##set ( $restype = $helper.getRestype($estab) ) 
##$restype
#set ( $dots = "../../../../../.." )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="$helper.firstLetterCaps($estab.getResname()) $helper.firstLetterCaps($estab.getTownname()) Boutique Hotels - AA Travel Guides" />
<meta name="Keywords" content="$helper.firstLetterCaps($estab.getCountryFullName()), $helper.firstLetterCaps($estab.getTownname()), $helper.firstLetterCaps($estab.getResname()), luxury, boutique, hip, hotel, accommodation, lodge, guest houses, country retreat">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>$helper.firstLetterCaps($estab.getResname()) $helper.firstLetterCaps($estab.getTownname()) Boutique Hotels - AA Travel Guides</title>
<link href="${dots}/styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${dots}/scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse( "common_aa/top.vm" )</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="${dots}/images/left_bg.gif" valign="top">#parse( "common_aa/navigation.vm" )</td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td><span class="text_dark">
						<strong>
							$helper.firstLetterCaps($estab.getCountryFullName()) $helper.firstLetterCaps($estab.getTownname()) Boutique Hotels $helper.firstLetterCaps($estab.getResname()) | luxury boutique hip hotel accommodation lodge guest houses country retreat in $helper.firstLetterCaps($estab.getCountryFullName()) $helper.firstLetterCaps($estab.getTownname())
						</strong></span><br>
                        <br>
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav_maps.vm" )</td>
						  </tr>
						</table>
						<br />
                        <div align="right">
                          <table border="0" cellspacing="0" cellpadding="3">
                            <tr>
                              <td><!--<a href="../${letter}.html"><img src="${dots}/images/icon_back.gif" alt="AA Travel Guides - Find accommodation in South Africa" border="0"></a>--><a href="http://www.aatravel.co.za"><img src="${dots}/images/icon_back.gif" alt="AA Travel Guides - Find accommodation in South Africa" border="0"></a></td>
                              <td><!--<a href="../${letter}.html" class="link_red">Back to establishment list </a> --><a href="http://www.aatravel.co.za" class="link_red">Back to homepage</a></td>
                            </tr>
                          </table>
                        </div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="${dots}/images/dark_corner_left.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                              <td>$helper.firstLetterCaps($estab.getResname())</td>
                              <td width="7" align="right"><img src="${dots}/images/dark_corner_right.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background-image:url(${dots}/images/table_grey_gradient_bg.gif);">
                            <td height="27" class="heading">
								<span class="view_accom_white_unbold">Boutique Hotels</span> in <span class="view_accom_white_unbold">$helper.firstLetterCaps($estab.getTownname())</span> 
							</td>
                          </tr>
                        </table>
						#parse( "common_aa/establishment_detail.vm" )
                        <br>
                        <span class="text_dark"><strong>$helper.firstLetterCaps($estab.getCountryFullName()) $helper.firstLetterCaps($estab.getTownname()) Boutique Hotels $helper.firstLetterCaps($estab.getResname()) | luxury boutique hip hotel accommodation lodge guest houses country retreat in $helper.firstLetterCaps($estab.getCountryFullName()) $helper.firstLetterCaps($estab.getTownname())</strong></span><br>
						<br>						
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav_sets.vm" )</td>
						  </tr>
						</table>
						<table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse( "common_aa/bottom_nav.vm" )</td>
						  </tr>
						</table>						
                        <table border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr>
                            <td class="feedback_table">#parse( "common_aa/copyright.vm" )</td>
                          </tr>
                      </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
#parse( "common_aa/google_analytics_aatravel.vm" )
</body>
</html>