<form method=post name=login_forgot_frm id=login_forgot_frm onsubmit="return checkMail(this.email_txt.value)">
<table cellpadding=1 cellspacing=1>
	<tr>
		<td><strong>E-mail:</strong></td>
		<td><input type=text name=email_txt id=email_txt></td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
		<td><input type=submit value=reset></td>
	</tr>
</table>
</form>