/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 Jun 2016, 2:54:56 PM
    Author     : Anja
*/

/* Home Page */

.icon_text {
    text-align: center;
    font-size: 15px;
    color: #2a9a90;
}
#heading_two {
    font-size: 12px;
    color: #2a9a90;
    padding-top: 5px;
}
.carousel_h_text {
    font-size: 30px;
}
.carousel_p_text {
    font-size: 20px;
}
.cs_text {
   text-align: center;
    font-size: 30px;
    color: #2a9a90;
    margin-top: 10px;
}

