<script src='/shared/trwacker.js'></script>

<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <tr style='background-color: grey'>
        <TH>&nbsp;</TH>
        <TH><!-- col_heading --></TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
  		<td>&nbsp;</td>
        <td><!-- location --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>
<script>showFilter(); </script>
<script>whack();</script> 