@CHARSET "ISO-8859-1";

/* FORMS */
.field_label {font-size: 10pt;font-family: arial, sans-serif}
.button_open {background-color: silver; background-image: url(/i/butten_bg.png); text-align: center; height: 30px; border-color: black; border-width: 1px 1px 0 1px; border-style: solid}
.button_close {background-color: grey; text-align: center; border-color: black; border-width: 1px 1px 1px 1px; border-style: solid; height: 30px; cursor: pointer;}
#divArea {background-color: silver;}
#divArea DIV {border-color: black; border-width: 0 1px 1px 1px; border-style: solid}
#divArea TEXTAREA {width: 100%; height: 200px; margin-top: 4px}
.area_show {display: block}
.area_hide {display: none}