<h1>New Suburb for <!-- town_name -->, <!-- province_name -->, <!-- country_name --></h1>
<p></p>
<form action='' method=post >
	<table width=100%>
		<tr>
			<td class=field_label>Suburb Name</td>
			<td><input type=text name=suburb_name value='' style='width: 300px' /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type=checkbox name=pseudoTown value='1'  />Treat this suburb as a town</td>
		</tr>		
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=2 >
			<!-- townText - Start -->
			<table cellspacing=0 cellpadding=0 width=100% >
				<tr>
					<td id=introButton class=button_open onClick=flipDiv('intro') >Introduction</td>
					<td id=geoButton class=button_close onClick=flipDiv('geo') >Geography</td>
					<td id=artButton class=button_close onClick=flipDiv('art') >Arts & Culture</td>
					<td id=historyButton class=button_close onClick=flipDiv('history') >History</td>
					<td id=scienceButton class=button_close onClick=flipDiv('science') >Science</td>
					<td id=enterButton class=button_close onClick=flipDiv('enter') >Entertainment</td>
					<td id=sportButton class=button_close onClick=flipDiv('sport') >Sport</td>
					<td id=didButton class=button_close onClick=flipDiv('did') >Did You Know</td>
				</tr>
				<tr id=divArea >
					<td colspan=10>
						<div id=introDiv class=area_show ><textarea name='Introduction'></textarea></div>
						<div id=geoDiv class=area_hide ><textarea name='Geography'></textarea></div>
						<div id=artDiv class=area_hide ><textarea name='Arts_and_Culture'></textarea></div>
						<div id=historyDiv class=area_hide ><textarea name='History'></textarea></div>
						<div id=scienceDiv class=area_hide ><textarea name='Science'></textarea></div>
						<div id=enterDiv class=area_hide ><textarea name='Entertainment'></textarea></div>
						<div id=sportDiv class=area_hide ><textarea name='Sport'></textarea></div>
						<div id=didDiv class=area_hide ><textarea name='Did_You_Know'></textarea></div>
					</td>
				</tr>
			</table>
			<!-- townText - End -->
			</td>
		</tr>
		<tr>
			<td colspan="2" align=right><input type=button value='Cancel' class=cancel_button onCLick="document.location='/modules/locations/locations.php?f=locations_list&level=suburb&id=<!-- town_id -->'" /><input type=submit name=insertLocation value='Save' class=save_button /></td>
		</tr>
	</table>
</form>