<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/locations/i/locations-128.png align="left">
        </td>
        <td>
            <b>Manage Locations</b><br />
            <div style="color: red; font-weight: bold; text-align: center; margin-top: 30px"> WARNING! This module is under development</div>
           
        </td>
     </tr>
</table>
<hr />
<table width=100% id=icons>
                <tr>
                	<td align=right>
                		<!-- add_start <a class=icons href='/modules/locations/locations.php?f=locations_add'><img src='/modules/locations/i/locations-add.png' width=60 height=60 border=0 /></a><!-- add_end -->
                		<!-- edit_start --><a class=icons href='/modules/locations/locations.php?f=locations_list'><img alt="edit icon" src='/modules/locations/i/locations-edit.png' width=60 height=60 border=0 /></a><!-- edit_end -->
                	</td>
                </tr>
            </table>
