<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
</head>
<body>
<font face="Arial, Helvetica, sans-serif">
<table width="500" border="0" cellpadding="4" cellspacing="0" bgcolor="#F5CA01">
  <tr>
    <td><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"> <strong>$company - Booking Enquiries </strong></font></td>
  </tr>
</table>
<table width="500" border="1" cellpadding="5" cellspacing="0" bordercolor="#F5CA01">
  <tr>
    <td><font size="2"><font face="Arial, Helvetica, sans-serif">Thank you for submitting your enquiries! Below is a summary of the enquiries you sent.. </font></font></td>
  </tr>
</table>
<br>
<table width="500" border="1" cellpadding="4" cellspacing="0" bordercolor="#E8E8E8">
  <tr>
    <td colspan="2" bgcolor="#4C4C4C"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Your Details </strong></font></td>
  </tr>
  <tr>
    <td width="174" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Name</font></td>
    <td width="308"><font face="Arial, Helvetica, sans-serif" size="2">$title $fname $lname</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Country</font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$country</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Arrival Date </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$arrival</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Departure Date </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$departure</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Number of Adults </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$adults</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Number of Children </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$children</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Number of Rooms </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$rooms</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Additional Requests </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$requests</font></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#4C4C4C"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Your Contact Details</strong></font> </td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Telephone</font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$tel</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Fax</font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$fax</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Cell</font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$cell</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Email</font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$email</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Preferred Method of Contact </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$primaryContact</font></td>
  </tr>
  <tr>
    <td align="right"><font face="Arial, Helvetica, sans-serif" size="2">Alternative Method of Contact </font></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2">$secondaryContact</font></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#4C4C4C"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Establishments to which you enquired </strong></font></td>
  </tr>
  #foreach( $estab in $estabList )
  <tr>
    <td colspan="2" bgcolor="#F7F7F7"><font face="Arial, Helvetica, sans-serif" size="2"><strong>$estab.getResname()</strong></font></td>
  </tr>
  <tr>
    <td colspan="2"><font face="Arial, Helvetica, sans-serif" size="2">&nbsp;&nbsp;Tel: $estab.getTel()</font></td>
  </tr>
  <tr>
    <td colspan="2"><font face="Arial, Helvetica, sans-serif" size="2">&nbsp;&nbsp;Email: $estab.getEmail()</font></td>
  </tr>
  #end
</table>
<br>
</font>
</body>
</html>
