<tt><!-- message --></tt>
<hr>
<form action="" method="post" >
Postpone To: <input type="text" name="postpone_date" onCLick="j_P.J_datePicker(self)" value="!postpone_date!">

<hr>
<table class="jW100">
    <tr>
        <td width="150px">Reason for postponement (Required)</td>
    </tr>
    <tr>
        <td>
            <textarea name="postpone_reason" class="jW100"></textarea>
        </td>
    </tr>
</table>
<br>
<div id=save_button ><input type=submit value='Postpone Assessment' class=email_button name="save" /></div>

</form>

