* { 
  padding: 0; 
  margin: 0; 
  }

body {
  background: url(../i/images/bg-main2.jpg) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  }
  
img {
  border: 0;
  }
  
a {
  outline: none;
  }

#container { 
  margin: 0 auto;
  width: 100%;
  }

#wrapper { 
  margin: 0 auto;
  width: 896px;
  }
  
/************************************************/
/* Top Header */ 
/************************************************/
  
#topheader {
  float: left;
  position: relative; 
  width: 896px;
  height: 150px;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  }
  
#cloud {
  background: url(../i/images/cloud.png) no-repeat;
  position: absolute; 
  top: 10px; 
  left: -50px;
  }
  
#logo {
  position: absolute;
  top: 65px;
  left: 30px;
  }
  
#mainnav {
  position: absolute;
  top: 90px;
  right: -30px;
  background: url(../i/images/nav-curve.png) no-repeat;
  width: 943px;
  height: 133px;
  }
  
#nav {
  position: absolute;
  top: 5px;
  right: 35px;
  }

#nav ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: left; /*set value to "center" for example to center items*/
  text-transform: uppercase;
  }

#nav li {
  display: inline;
  margin: 0 0 5px 0px;
  padding: 0 0 0 5px;
  list-style: none;
  }

#nav li a {
  color: #00AFEE;
  background: #FFFFFF;
  padding: 10px 15px 8px 15px;
  margin: 0;
  text-decoration: none;
  }

#nav li a:hover {
  color: #CCCCCC;
  }
  
/************************************************/
/* Main Header */ 
/************************************************/
  
#header {
  width: 896px;
  height: 340px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/flash-area.png) no-repeat;
  }
  
/************************************************/
/* Sub Header */ 
/************************************************/

#subheader {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-header.png) no-repeat;
  }
  
#subsavvy-slides {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvyslides.png) no-repeat;
  }
  
#subsavvy-comms {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvycomms.png) no-repeat;
  }  
  
#subsavvy-skills {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvyskills.png) no-repeat;
  }
  
#sub-canhelp {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-can-help.png) no-repeat;
  }
  
#sub-savvyservices {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvyservices.png) no-repeat;
  }
  
#sub-savvymatrix {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvymatrix.png) no-repeat;
  }
  
#sub-savvydelivery {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvydelivery.png) no-repeat;
  } 
  
#sub-savvycustomers {
  width: 896px;
  height: 186px;
  float: left;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: url(../i/images/sub-savvycustomers.png) no-repeat;
  }  
  
        
#navigation {
  float: left;
  width: 896px;
  color: #333;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  background: #BD9C8C;
  }
  
/************************************************/
/* Sub Column Wrapper */ 
/************************************************/
  
#subcolumn {
  background: #FFFFFF;
  margin: 0 0 0 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  width: 896px;
  float: left;
  }
  
/************************************************/
/* Home Page - Main Column */ 
/************************************************/
  
#maincolumn { 
  background: #FFFFFF;
  margin: 0 0 40px 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  width: 896px;
  float: left;
  }
  
#maincolumn h2 {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #3C2211;
  font-size: 28px;
  font-weight: normal;
  }
  
#maincolumn p {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #3C2211;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding: 10px 0 0 0;
  }
  
#mainCol1 p a {
  position: absolute;
  top: 160px;
  right: 20px;
  float: right;
  background: url(../i/images/b-blue-tell-more.png) no-repeat;
  width: 148px;
  height: 44px;
  }
  
#mainCol1 {
  float: left;
  position: relative;
  background: #F3F7FA;
  width: 370px;
  margin: 0 25px 0 20px;
  padding: 20px 20px 20px 30px;
  
  /* Do rounding (native in Firefox and Safari) */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }
  
#mainCol1 span {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #01AFEE;
  font-size: 18px;
  font-weight: normal;
  }
  
#mainCol2 {
  float: left;
  position: relative;
  background: #F3F7FA;
  width: 370px;
  padding: 20px 20px 20px 30px;
  padding: 20px;
  
  /* Do rounding (native in Firefox and Safari) */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }
  
#mainCol2 span {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #8CC63E;
  font-size: 18px;
  font-weight: normal;
  }
  
#mainCol2 p a {
  position: absolute;
  top: 160px;
  right: 20px;
  float: right;
  background: url(../i/images/b-green-tell-more.png) no-repeat;
  width: 148px;
  height: 44px;
  }
  
/************************************************/
/* Sub-Page Left Column */ 
/************************************************/
  
#leftcolumn { 
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  width: 291px;
  float: left;
  }
  
/************************************************/
/* Sub-Page / Left Column / Products */ 
/************************************************/
  
#sideproducts {
  width: 270px;
  margin: 0 0 0 10px;
  padding: 0;
  }  

#sideproducts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
#sideproducts li {
  border-bottom: 1px solid #CCCCCC;
  }
  
#sideproducts ul li {
  margin: 0;
  padding: 15px 5px 0 50px;
  list-style: none;
  background: url(../i/images/blue-arrow.png) no-repeat 15px 30px;
  }
  
#sideproducts li a:link, #sideproducts li a:visited {
  font: bold 14px/12px Geneva, Arial, Helvetica, sans-serif;
  color: #483225;
  margin-right:5px;
  height: 60px;
  display: block;
  padding: 10px 0 0 0;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  }
  
#sideproducts li a:hover {
  font: bold 14px/12px Geneva, Arial, Helvetica, sans-serif;
  color: #666666;
  }
  
.sidebarLink {
  font: bold 11px/12px Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  margin: 0;
  display: block;
  padding: 5px 0 0 0;
  text-decoration: none;
  }
  
#sideproducts ul .prodlast {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  }

/************************************************/
/* Sub-Page / Left Column / Social Icons */ 
/************************************************/
  
#social {
  float: left;
  width: 160px;
  height: 80px;
  margin: 0 0 0 10px;
  padding: 0 0 0 15px;
  }
  
#social ul {
  margin: 0;
  padding: 5px 0 0 0;
  }
  
#social li {
  display: inline;
  }

#social li a {
  padding: 3px;
  text-decoration: none;
  display: block;
  float: left;
  border-right: 1px solid #bac6c2;
  color: #5a6d71;	
  }

#social li a.twitter {
  background: transparent url(../i/images/b-twitter.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }

#social li a.facebook {
  background: transparent url(../i/images/b-facebook.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
  
#social li a.linkedin {
  background: transparent url(../i/images/b-linkedin.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
  
#social li a.skype {
  background: transparent url(../i/images/b-skype.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
	
#social a.first {
  padding-left: 0;
  }
 
#message {
  margin: 0;
  padding: 10px 0 0 15px;
  }
  
/************************************************/
/* Sub-Page / Right Column */ 
/************************************************/
  
#rightcolumn { 
  float: right;
  margin: 0 0 25px 0;   /* Outside Padding */
  padding: 15px 15px 22px 15px;  /* Inside Padding */
  width: 571px;
  display: inline;
  border-left: 1px solid #DAE7ED;
  border-right: 1px solid #DAE7ED;
  border-bottom: 1px solid #DAE7ED;
  }
  
#rightcolumn h2 { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
  }
  
#rightcolumn h3 { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
  }
  
#rightcolumn h4 { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #00AFEE;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
  }
  
#rightcolumn h5 { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
  }
    
#rightcolumn p { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0 0 10px 0;
  }
  
.tabletext { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 5px 5px 5px 10px;
  }
  
#rightcolumn a:link, #rightcolumn a:visited { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0 0 10px 0;
  }
  
#rightcolumn a:hover { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #16B4F1;
  }
  
 ul { 
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6E5C50;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 5px 0 15px 15px;
  }
  
  
#backtop a {
  float: right;
  background: url(../i/images/b-back-to-top.png) no-repeat;
  width: 148px;
  height: 44px;
  }
  
#rightcolumn hr {
  display:block; 
  height:1px; 
  overflow:hidden; 
  background:url(../i/images/dotted.gif) repeat-x left top; 
  clear:both; 
  margin:10px 0px 10px 0px; 
  width: 100%; 
  float:left;
  }
  
/************************************************/
/* Communication */ 
/************************************************/
  
#communication { 
  width: 896px;
  height: 118px;
  clear: both;
  position: relative;
  margin: 0;   /* Outside Padding */
  padding: 10px 0 0 0;  /* Inside Padding */
  }
  
/************************************************/
/* Communication - Left Column */ 
/************************************************/
 
#colLeft {
  float: left;
  width: 220px;
  height: 80px;
  margin: 0 20px 0 20px;
  padding: 10px 0 0 30px;
  border-right: 1px solid #CCCCCC;
  }

#colLeft p {  
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #3C2211;
  font-size: 16px;
  font-weight: bold;
  }
  
#colLeft ul {
  margin: 0;
  padding: 5px 0 0 0;
  }
  
#colLeft li {
  display: inline;
  }

#colLeft li a {
  padding: 3px;
  text-decoration: none;
  display: block;
  float: left;
  border-right: 1px solid #bac6c2;
  color: #5a6d71;	
  }

#colLeft li a.twitter {
  background: transparent url(../i/images/b-twitter.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }

#colLeft li a.facebook {
  background: transparent url(../i/images/b-facebook.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
  
#colLeft li a.linkedin {
  background: transparent url(../i/images/b-linkedin.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
  
#colLeft li a.skype {
  background: transparent url(../i/images/b-skype.jpg) no-repeat;
  border-right: none;
  width: 26px;
  height: 26px;
  }
	
#colLeft a.first {
  padding-left: 0;
  }
  
/************************************************/
/* Communication - Middle Column */ 
/************************************************/
  
#colMiddle {
  float: left;
  width: 300px;
  height: 80px;
  margin: 0 20px 0 0;
  padding: 5px 20px 10px 0;
  border-right: 1px solid #CCCCCC;
  }
  
/************************************************/
/* Communication - Right Column */ 
/************************************************/
  
#colRight {
  float: left;
  position: relative;
  width: 260px;
  }
  
#colRight p {  
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #3C2211;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0 5px;
  }
 
/************************************************/
/* Footer */ 
/************************************************/
  
#footer { 
  width: 100%;
  height: 118px;
  clear: both;
  position: relative;
  background: url(../i/images/footer-bg.jpg) repeat-x;
  margin: 0;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  }
  
#footerLinks { 
  width: 896px;
  height: 118px;
  clear: both;
  position: relative;
  background: url(../i/images/footer-bg.jpg) repeat-x;
  margin: 0 auto;   /* Outside Padding */
  padding: 0;  /* Inside Padding */
  }
  
#footerLinks ul {
  margin: 0;
  padding: 15px 0 0 40px;
  }
  
#footerLinks li {
  display: inline;
  }

#footerLinks li a {
  padding: 3px 10px;
  text-decoration: none;
  display: block;
  float: left;
  border-right: 1px solid #bac6c2;
  color: #5a6d71;	
  }

#footerLinks li a.twitter {
  background: transparent url(../i/images/Twitter.png)  10px 50% no-repeat;
  padding-left: 30px;
  }

#footerLinks li a.rss {
  background: transparent url(../i/images/RSS.png) 10px 50% no-repeat;
  padding-left: 30px;
  border-right: none;
  }
	
#footerLinks a.first {
  padding-left: 0;
  }
  
/***************************************************************/
/* FORM                                                        */
/***************************************************************/

input.txt {
  color: #00008B;
  background-color: #c1bda7;
  border: 1px inset #c1bda7;
  width: 150px;
  }
  
textarea.txt {
  color: #00008B;
  background-color: #c1bda7;
  border: 1px inset #c1bda7;
  width: 150px;
  }  
  
input.btn {
  colour: #00008B;
  background-color: #c1bda7;
  border: 1px outset #c1bda7;
  }
  
form p {
  clear: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  }
  
form p label {
  float: left;
  width: 30%;
  }


  