<html>
<head>
<script src='/templates/template1.js'></script>

<link rel=stylesheet href=/templates/template1.css>
<title><!-- page_title --></title>
<meta name="description" content="<!-- page_description -->" />
<meta name="KEYWORDS" content="<!-- page_keywords -->" />
</head>
<body>
<table align=center cellpadding=0 cellspacing=0 WIDTH=903px >
	<tr>
		<td colspan=2 width=903px height=24px style='background-image: url(/images/aa_travel_bookmark.gif)'>
			<table cellspacing=0 cellpadding=0 width=100%>
				<tr>
					<td style='font-family: arial; font-weight: bold; color: black; font-size: 10pt; padding-left: 10px'><span style='cursor: pointer' onClick=bookmark_us()>Bookmark AA Travel Now!</span></td>
					<td align=right style='font-family: arial; font-weight: bold; color: black; font-size: 10pt; padding-right: 10px'>
						<a href='http://admin.booktravel.travel' rel='nofollow' target=_blank >Client Login</a> |
						<!-- <a href='/index.php?p=advertising'>Advertising</a> |
						<a href='/index.php?p=venue'>Add a Venue</a> | -->
						<a href='/index.php?p=industry'>Industry Info</a> |
						<a href='/index.php?p=contact'>Contact Us</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style='background-image: url(/images/aa_travel_destination_background.jpg); background-repeat: no-repeat; ' width=508px>
			<form action='/index.php?p=search2' id=searchForm method=post>
			<table align=center width=340px cellpadding=0 cellspacing=0>
				<tr>
					<td colspan=2><span style='color: white; font-size: 14pt; font-family: arial; font-weight: bold; padding-right: 2px' nowrap>Find Accommodation <a href='/index.php?p=search_help' ><img src='/images/help.png' title='Click here for more information on the Accommodation search function' border=0 /></a></span></td>
				</tr>
				<tr style='background-color: silver'>
					<td><input type=text name=searchString id=searchString style='width: 320px; height: 27px; color: navy; border: 0; font-size: 14pt; font-weight: bold; vertical-align: middle; font-family: monospace; padding: 3px' value='<!-- search_string -->' ></td>
					<td style='background-color: white'>
						<!-- <img src='/images/search.gif' style='cursor: pointer'   width='27' height='27' onClick=document.getElementById('searchForm').submit()> -->
						<input type=submit name=search value='Find!' />
						</td>
				</tr>
				<tr>
					<td colspan=3>
						<table cellpadding=0 cellspacing=0 width=100% style='background-color: silver'>
							<tr>
									<td style='color: black; font-family: arial; font-weight: bold; font-size: 10pt'>
										<input type=checkbox name=search_estab id=search_estab value='checked' onChange=toggle_search(this) search_estab_status /><label for='search_estab' title='Check this box to find a specific establishment' >Establishments</label>
										<input type=checkbox name=search_loc id=search_loc value='checked' onChange=toggle_search(this) search_loc_status /><label for='search_loc' title='Check this box to find a province, town or suburb' >Locations</label>
									</td>
									<td align=right style='color: black; font-family: arial; font-weight: bold; font-size: 10pt' ><a href='/index.php?p=asearch' title='Click here to search using more options' >Advanced Search</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</form>
		</td>
		<td width=395><img src='/images/aa_travel_destination_logo.jpg' width=395 height=163></td>
	</tr>
	<tr>
		<td colspan=2>
			<table cellspacing=0 cellpadding=0>
				<tr><!-- REMOVED: limpopo_mpuma_swazi_map -->
					<td><a href='/index.php'><img src='/images/aa_travel_home.gif' border=0 width=187 height=43 onmouseOver='switchI(this,0,1)' onmouseOut='switchI(this,0,0)'></a></td>
					<td><a href='/index.php?p=map'><img src='/images/aa_travel_check_availability.gif'' border=0 width=179 height=43 onmouseOver='switchI(this,1,1)' onmouseOut='switchI(this,1,0)'></a></td>
					<td><a href='/specials/south_africa/' style='color: white'><img src='/images/aa_travel_view_specials.gif' ' border=0 width=176 height=43 onmouseOver='switchI(this,2,1)' onmouseOut='switchI(this,2,0)'></a></td>
					<td><a href='/index.php?p=quality_assured'><img src='/images/aa_travel_quality_assured.gif'' border=0 width=176 height=43 onmouseOver='switchI(this,3,1)' onmouseOut='switchI(this,3,0)'></a></td>
					<td><a href='/index.php?p=travel_books' ><img src='/images/aa_travel_books.gif'' border=0 width=185 height=43 onmouseOver='switchI(this,4,1)' onmouseOut='switchI(this,4,0)'></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<table cellspacing=0 cellpadding=0>
				<tr>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/western_cape/index.html' ><img src='/images/western_cape.gif'  width='116' height='29' border=0 onmouseOver='switchI(this,5,1)' onmouseOut='switchI(this,5,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/index.html' ><img src='/images/eastern_cape.gif'  width='94' height='29'  border=0 onmouseOver='switchI(this,6,1)' onmouseOut='switchI(this,6,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/northern_cape/index.html' ><img src='/images/northern_cape.gif'  width='92' height='29' border=0  onmouseOver='switchI(this,7,1)' onmouseOut='switchI(this,7,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/north_west/index.html' ><img src='/images/north_west_province.gif'  width='79' height='29' border=0 onMouseOver='switchI(this,8,1)' onMouseOut='switchI(this,8,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/free_state/index.html' ><img src='/images/free_state_province.gif'  width='77' height='29' border=0 onMouseOver='switchI(this,9,1)' onMouseOut='switchI(this,9,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/gauteng/index.html' ><img src='/images/gauteng_province.gif'  width='68' height='29' border=0 onmouseOver='switchI(this,10,1)' onmouseOut='switchI(this,10,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/index.html' ><img src='/images/kwa_zulu_natal.gif'  width='100' height='29' border=0 onmouseOver='switchI(this,11,1)' onmouseOut='switchI(this,11,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/index.html' ><img src='/images/mpumalanga.gif'  width='90' height='29' border=0  onmouseOver='switchI(this,12,1)' onmouseOut='switchI(this,12,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/southern_africa/south_africa/limpopo/index.html' ><img src='/images/limpopo_province.gif'  width='66' height='29' border=0 onmouseOver='switchI(this,13,1)' onmouseOut='switchI(this,13,0)'></a></td>
					<td><a href='/accommodation/places_to_stay/index.html' ><img src='/images/africa.gif'  width='121' height='29' border=0 onmouseOver='switchI(this,14,1)' onmouseOut='switchI(this,14,0)'></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2  style='background-color: #b2b2b2; font-family: arial; font-weight: bold; color: yellow; font-size: 10pt; padding-left: 24px'><!-- breadcrumbs --></td>
	</tr>
	<tr >
		<td colspan=2>
			<table width=100% cellpadding=0 cellspacing=0>
				<tr valign=top>
					<td><img src='/images/body_tl.gif'   width='33' height='24'></td>
					<td style='background-color: #f4f4f4'><img src='/images/body_tc.gif'   width='835' height='7'></td>
					<td><img src='/images/body_tr.gif'   width='35' height='24'></td>
				</tr>
				<tr valign=top>
					<td style='background-image: url(/images/body_cl.gif)'></td>
					<td  style='background-color: #f4f4f4'><!-- body --></td>
					<td style='background-image: url(/images/body_cr.gif)'></td>
				</tr>
				<tr valign=bottom>
					<td><img src='/images/body_bl.gif'   width='33' height='28'></td>
					<td  style='background-color: #f4f4f4'><img src='/images/body_bc.gif'   width='835' height='10'></td>
					<td><img src='/images/body_br.gif'  width='35' height='28'></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 align=center style='background-image: url(/images/aa_footer.gif); height: 31px; font-family: arial; font-weight: bold; color: white; font-size: 8pt; padding-left: 24px'><!-- | Privacy Policy | Sitemap | Home | Contact | Webwaster | Terms | Disclaimer | --> &copy; Copyright <!-- copyright_date --> - AA Travel Guides. All rights reserved</td>
	</tr>
	
	</table>
<div style='font-size: 8pt; font-family: arial'>
<p align="center" class="style23"><a href="http://booktravel.travel/accommodation/guest_houses/southern_africa/south_africa/western_cape/pringle_bay/index.html">Guest Houses in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/bed_and_breakfasts/southern_africa/south_africa/western_cape/pringle_bay/index.html">Bed and Breakfasts in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Luxury Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">5 Star Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">4 Star Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">3 Star Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Boutique Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/business_hotels/southern_africa/south_africa/western_cape/pringle_bay/index.html">Business Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Backpacker Lodges in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Budget Hotels in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Self Catering in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Resorts in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Holiday Cottages in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Holiday Flats in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Township Accommodation in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Lodges in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Caravan and Camping in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Golf Resorts in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Game Lodges in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/conference_venues/southern_africa/south_africa/western_cape/pringle_bay/index.html">Conference Venues in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Health Spas in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Disabled Friendly Accommodation in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Bird Watching in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Pet Friendly Accommodation in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Fishing in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Whale Watching in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Honeymoons in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">4x4 Holidays in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Hiking Trails in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Child Friendly Accommodation in Pringle Bay</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/pringle_bay/index.html">Kosher Accommodation in Pringle Bay</a> |</p>
<p align="center" class="style23"><a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/franschhoek/index.html">Find Accommodation in Cape Town</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/index.html">Find Accommodation in Johannesburg</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/durban/index.html">Find Accommodation in Durban</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/eastern_cape/port_elizabeth/index.html">Find Accommodation in Port Elizabeth</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/northern_cape/kimberley/index.html">Find Accommodation in Kimberley</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/north_west/rustenburg/index.html">Find Accommoodation in Rustenburg</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/gauteng/johannesburg/soweto.html">Find Accommodation in Soweto</a> | <br>
  <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/free_state/bloemfontein/index.html">Find Accommodation in Bloemfontein</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/nelspruit/index.html">Find Accommodation in Nelspruit</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/limpopo/polokwane/index.html">Find Accommodation in Polokwane</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/western_cape/mossel_bay/index.html">Find Accommodation in the Garden Route</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/mpumalanga/kruger_national_park/index.html">Find Accommodation in the Kruger National Park</a> | <a href="http://booktravel.travel/accommodation/places_to_stay/southern_africa/south_africa/kwazulu-natal/drakensberg/index.html">Find Accommodation in the Drakensberg</a> |</p>
<p align="center" class="style23">
		<a href="http://www.essentialtravelinfo.com/maps/Bantry_Bay.html" class="link_red">Map of Cape Town Suburbs</a> |
		<a href="http://www.essentialtravelinfo.com/maps/Johannesburg_central.html" class="link_red">Map of Johannesburg Suburbs</a> |
		<a href="http://www.essentialtravelinfo.com/maps/Pretoria_suburbs.html" class="link_red">Map of Pretoria Suburbs</a> |
		<a href="http://www.essentialtravelinfo.com/maps/Durban_central.html" class="link_red">Map of Durban Suburbs</a> |
		<a href="http://www.essentialtravelinfo.com/maps/Port_Elizabeth_suburbs.html" class="link_red">Map of Port Elizabeth Suburbs</a> |
<a href="http://www.essentialtravelinfo.com/maps/East_London.html" class="link_red">Map of East London Suburbs</a> | <a href="http://www.essentialtravelinfo.com/maps/Umhlanga_North_Coast.html" class="link_red">Map of KZN North Coast Towns</a> |
 		<a href="http://www.essentialtravelinfo.com/maps/Margate.html" class="link_red"><br>
 		Map of KZN South Coast Towns</a> |
  		<a href="http://www.essentialtravelinfo.com/maps/Underberg.html" class="link_red">Map of Drakensberg Towns</a> |  <a href="http://www.essentialtravelinfo.com/maps/Midlands_Meander.html" class="link_red">Map of Midlands Meander</a> |
  		<a href="http://www.essentialtravelinfo.com/maps/Dundee.html" class="link_red"> Map of Battlefields Route</a> | <a href="http://www.essentialtravelinfo.com/maps/Wild_Coast_Sun.html" class="link_red"> Map of Wild Coast Towns</a> |
  		<a href="http://www.essentialtravelinfo.com/maps/Knysna.html" class="link_red">Map of Garden Route Towns</a> |
  		<a href="http://www.essentialtravelinfo.com/maps/Robben_Island.html" class="link_red">Map of World Heritage Sites</a> |
  <a href="http://www.essentialtravelinfo.com/maps/Franschhoek.html" class="link_red"><br />Map of Cape Winelands</a> | </p>
<p align="center" class="style23">
		Car Hire: <a href="http://www.essentialtravelinfo.com/car_hire/cape_town_car_hire.html" class="link_red">Western Cape</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/johannesburg_car_hire.html" class="link_red">Gauteng</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/durban_car_hire.html" class="link_red"> KwaZulu-Natal</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/port_elizabeth_car_hire.html" class="link_red">Eastern Cape</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/hoedspruit_car_hire.html" class="link_red"> Mpumalanga</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/kimberley_airport_car_hire.html" class="link_red">Northern Cape</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/bloemfontein_car_hire.html" class="link_red"> Free State</a> |
		<a href="http://www.essentialtravelinfo.com/car_hire/sun_city_car_hire.html" class="link_red">North West</a> |
	  <a href="http://www.essentialtravelinfo.com/car_hire/polokwane_car_hire.html" class="link_red">Limpopo</a> |  <a href="http://www.essentialtravelinfo.com/car_hire/windhoek_car_hire.html" class="link_red">Neighbouring States </a><br />
	  <br />
	  Affiliates: <a href="http://www.essentialtravelinfo.com/affiliates/southern_sun.html" class="link_red">www.southernsun.com</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/sun_international.html" class="link_red">www.suninternational.com</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/kzn_wildlife.html" class="link_red">www.kznwildlife.com</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/three_cities.html" class="link_red">www.threecities.co.za</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/city_lodge.html" class="link_red">www.citylodge.co.za</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/formula1.html" class="link_red">www.hotelformula1.co.za</a> |
	  <a href="http://www.essentialtravelinfo.com/affiliates/protea_hotels.html" class="link_red">www.proteahotels.com</a></p>
<p align="center" class="style23">Hotel Groups: <a href="http://booktravel.travel/index.php?p=peermont">Peermont Hotels</a> | <a href="http://booktravel.travel/index.php?p=forever_resorts">Forever Resorts</a> | <a href="http://booktravel.travel/index.php?p=legacy">Legacy Hotels</a> | <a href="http://booktravel.travel/index.php?p=legend">Legend Lodges</a> | <a href="http://booktravel.travel/index.php?p=orion">Orion Hotels</a> | <a href="http://booktravel.travel/index.php?p=mercure">Mercure Hotels</a> | <a href="http://booktravel.travel/index.php?p=seasons_in_africa">Seasons in Africa Hotels &amp; Lodges</a></p>
<p align="center" class="style23">
	<a href="http://www.essentialtravelinfo.com/accommodation/hotels/australasia/australia/new_south_wales/sydney/index.html" class="link_red">Hotels in Sydney, Australia</a> |
	<a href="http://www.essentialtravelinfo.com/accommodation/guest_houses/australasia/australia/new_south_wales/sydney/index.html" class="link_red">Guest Houses in Sydney, Australia</a> |
	<a href="http://www.essentialtravelinfo.com/accommodation/hotels/australasia/australia/victoria/melbourne/index.html" class="link_red"> Hotels in Melbourne, Australia</a> |
  <a href="http://www.essentialtravelinfo.com/accommodation/guest_houses/australasia/australia/victoria/melbourne/index.html" class="link_red">Guest Houses in Melbourne, Australia</a> 
<p align="center" class="style23">| <a href="http://www.e-travelblog.com/australia">Australia Travel Blog</a> |<br />
</div>
<script >
load_size();
</script>

<!-- Start of 360stats.com analytics code for http://booktravel.travel -->
<script type="text/javascript">
var nsSiteId=2;
var nsTrackPath='http://analytics.360stats.com/track/default.html?';

var nsTrackMode='default';
var nsCode=1;
</script>
<script type="text/javascript" src="http://analytics.360stats.com/track.js"></script>
<noscript>
<p style="display:none"><img src="http://analytics.360stats.com/track/default.html?st=2" width="1" height="1" alt="" style="display:none"/></p>
</noscript>
<!-- End of 360stats.com analytics code -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2022906-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>