<script >
search_data = '<!-- result_data -->';
search_string = '';
co = '';
max_length = 20;
total_length = <!-- total_length -->;
start_location = <!-- start -->;
sd = '<!-- search_hash -->';



function draw_data() {
	dl = '<table width=835 cellpadding=0 cellspacing=0>';
	dl += "<TR><TD style='background-image: url(/images/search1.gif); width: 160px'><img src='/images/spaceG.gif' ></TD><TD style='background-image: url(/images/search2.gif); width: 415px;'><span class=searchHeader>Description</span></TD><TD style='background-image: url(/images/search3.gif); width: 100px'><span class=searchHeader>Price</span></TD><TD style='background-image: url(/images/search4.gif); width: 162px'><span class=searchHeader>Rated</span></TD></TR>";
	ests = search_data.split('||');

	if (search_data.length == 0) {
		dl = "<div style='text-align: center; margin-top: 10'>Search Returned No Results</div>";
		document.getElementById('searchResult').innerHTML = dl;
	} else {
		for (i=0; i<ests.length; i++) {
			if (ests[i]=='') continue;
			co = co=='ffffff'?'d9d9d9':'ffffff';
			estd = ests[i].split('{}');
			estd[4] = estd[4].replace(/ /g, '<br>');
			dl += '<tr valign=top style="background-color: #'+co+'"><td align=center><a href="/accommodation/'+ estd[7] +'.html"  target="_blank"><img src="/image.php?e='+estd[0]+'&bg='+co+'&ct=adv_search&sp='+(start_location+i+1)+'" style="margin-top: 6px" width=140 border=0></a></td><td><a href="/accommodation/'+ estd[7] +'.html"  target="_blank"><span class=est_name>'+ estd[1] +'</span></a><p class=est_body>'+estd[3]+'<p class=est_body>Location: '+estd[2]+'<p></td><td align=center><span class=est_body>&nbsp;<p>'+estd[8] + '<br>' + estd[9] + ' </span></td><td align=center style="padding-top: 26px"><table align=left cellpadding=0 cellspacing=0><tr"><td><img src="/lookup_images/aatravel_50.gif" width=43 height=65></td></tr></table><span class=est_body2>Quality Assured<br><b>';
			dl += estd[4]+'</b></span><p>';
			for (y=0; y<estd[6]; y++) {
				//dl += "<img src='/images/star_sml.gif'>";
				dl += "<img src='/images/star.png' width=16 height=17>";
			}
			dl += "<br>";
			for (y=0; y<5; y++) {
				if (y<estd[5]) {
					dl += "<img src='/images/face_sml.gif'>";
				} else {
					dl += "<img src='/images/face_cls.gif' width=21 height=22>";
				}
			} 
			dl += '</td></tr>'
		}
		dl += '</table>';
		document.getElementById('searchResult').innerHTML = dl;
	}

}

function draw_navigation() {	
	if (total_length < max_length) {
		nav = '';
	} else {
		page_count = Math.ceil(total_length/max_length);
		curr_page = Math.ceil((start_location+1)/max_length);
		nav = "<b>More Results:</b><br>";
		if (curr_page == 1) {
			nav += "<span class=noLink>&#9668;</span>";
		} else {
			nav += "<a href='/index.php?p=asearch&sd=" + sd + "&st="+ ((curr_page-1)*max_length-max_length+1) +"'><span class=searchLink >&#9668;</span></a>";
		}
		for (x=1; x<page_count+1; x++) {
			if (curr_page == x) {
				nav += " <b>" + x + "</b> |";
			} else {
				nav += "<a href='/index.php?p=asearch&sd=" + sd + "&st="+ (x*max_length-max_length+1) +"'><span class=searchLink > "+ x +" |</span></a>";
			}
		}
		nav = nav.substr(0, nav.length-1);
		if (curr_page == page_count) {
			nav += " <span class=noLink> &#9658;</span>";
		} else {
			nav += "<a href='/index.php?p=asearch&sd=" + sd + "&st="+ ((curr_page+1)*max_length-max_length+1) +"'><span class=searchLink > &#9658;</span></a>";
		}
	}

	document.getElementById('searchNavigation').innerHTML = nav;
}
</script>
<div class=adT>
	<!--JavaScript Tag // Tag for network 567: 365 Digital / Primedia Online // Website: AA Travel Guide // Page: Advanced Search // Placement: Advanced Search-top-468 x 60 (1447286) // created at: Jun 17, 2009 11:13:21 AM-->
	<script language="javascript">
	<!--
	if (window.adgroupid == undefined) {
		window.adgroupid = Math.round(Math.random() * 1000);
	}
	document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn|3.0|567|1447286|0|1|ADTECH;loc=100;target=_blank;key=key1+key2+key3+key4;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
	//-->
	</script><noscript><a href="http://adserver.adtech.de/adlink|3.0|567|1447286|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" target="_blank"><img src="http://adserver.adtech.de/adserv|3.0|567|1447286|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" border="0" width="468" height="60"></a></noscript>
	<!-- End of JavaScript Tag -->
</div>
<div id='searchResult'><div style='margin-right: auto; margin-left: auto; width: 100px; height: 400px' ><img src='/images/searching.gif'> </div></div>
<p>
<div id='searchNavigation' style='text-align: center; font-family: arial; font-size: 10pt; font-style: italic'> </div>
<script>draw_data() </script>
<script>draw_navigation();</script>


