/* GOOGLE MAP */
#map_canvas {width: 100%; height: 400px; border-style: solid; border-width: 1px; border-color: black}

/* SPECIALS */
.special_name {font-weight: bold}
.special_dates {font-size: 8pt}
.special_descrip {}