#EstablishmentLocation h1 {
	font-size:16px;
	padding:5px;
}
#EstablishmentHeader {
	float:left;
	margin-top:27px;
	border-bottom:5px solid #FFCD3A;
	width:960px;
}
#EstablishmentHeader h1 {
	font-size:24px;
	margin:0;
	padding:0;
	padding-left: 3px;
}
#EstablishmentHeader a {
	color:#000000;
}
#EstablishmentTabs {
	position: absolute;
	margin-left: 558px;
	margin-top:25px;
	width: 402px;
}
#EstablishmentRates {
	float: left;
	width:420px;
}

.establishmentLocation {
	margin-left: 3px;
	font-size:14px;
	height:34px;
	vertical-align: bottom;
	float:left;
	width: 555px;
}
.establishmentTab {
	background-color: #FDE8A7;
	height:32px;
	float:right;
	margin-left:3px;
	padding-top:6px;
	text-align: center;
	font-size:12px;
	font-weight: bold;
	width: 64px;
	cursor: pointer;
}
.establishmentTabSelected {
	background-color: #FFCD3A;
}
.establishmentImage {
	padding:2px;
	border:1px solid #CBCBCB;
	margin-top:8px;
	float:left;
}
.establishmentImageDesc {
	position: absolute;
	display: none;
}
#EstablishmentSpecialOverlay {
	padding:0;
	position: absolute;
	border:0;
}
#EstablishmentQAOverlay {
	background-color: #FFCD3A;
	font-size:14px;
	font-weight: bold;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}
#EstablishmentDescription {
	float:left;
	width:420px;
	text-align: justify;
	margin-right:7px;
}
#EstablishmentInfoGallery {
	float:left;
	width:318px;
}
#EstablishmentImageGallery {
	float:left;
	width:900px;
}
#EstablishmentMap {
	float:left;
	width:640px;
}
#map_canvas {
	height:400px;
}
#EstablishmentRightContent {
	float:right;
	width:215px;
	font-size:12px;
}
#EstablishmentPriceBlock {
	background-color:#BFD9FF;
	border:2px solid #7FB4FF;
	margin-top:5px;
}
.nbelm {
	white-space: nowrap;
	display: inline;
}
.rqButton {
	border:2px solid #7FB4FF;
	color:#000000;
	background-color: #FFCD3A;
	cursor: pointer;
	font-size: 14px;
	padding:5px;
	width: 200px;
}
.rqBottom {
	color:#4670AA;
	font-style: italic;
}
#EstablishmentRightReview {
	margin-top:5px;
	text-align: justify;
	padding:2px;
}
#EstablishmentRightContact h1 {
	background-color: #FFCC00;
	padding:3px;
	margin:0;
	font-family: arial;
	font-size:14px;
}
#EstablishmentRightContact ul {
	padding:3px;
	margin:0;	
}
#EstablishmentRightContact li {
	list-style: none;
	font-size:12px;
}
#EstablishmentQuoteContent {
	width: 740px;
	float:left;
	padding-right:5px;
}
.EstablishmentBlueBlock {
	background-color:#BFD9FF;
	border:2px solid #7FB4FF;
	margin-top:5px;
}
.EstablishmentGreyBlock {
	background-color:#EBEBEB;
	border:2px solid #ACACAC;
	margin-top:5px;
}
#EstablishmentReviewContent {
	width: 740px;
	float:left;
	padding-right:5px;
}
.EstablishmentButton {
	background-color:#FFCC00;
	font-weight: bold;
	color:#000000;
	padding:7px;
	padding-bottom:6px;
	font-size:12px;
	width:200px;
	height:30px;
	text-align: center;
	background-image: url('/images/button.png');
	border:0;
	cursor: pointer;
}
