#set ( $restype = $helper.getRestype($estab) )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="$restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry()) $helper.firstLetterCaps($estab.getResname()) | $helper.firstLetterCaps($estab.getResname()) $restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry())">
<meta name="KeyWords" content="$restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()), $restype $helper.firstLetterCaps($estab.getTownname()); $restype $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry()), $helper.firstLetterCaps($estab.getTownname()); $helper.firstLetterCaps($estab.getTownname()) accommodation; accommodation $helper.firstLetterCaps($estab.getTownname()); $helper.firstLetterCaps($estab.getResname()) $restype">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>$restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry()) $helper.firstLetterCaps($estab.getResname())</title>
<link href="../../styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../../scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="../../images/header_bg.gif">
        <tr>
          <td width="187"><img src="../../images/top_left.gif" width="187" height="115" /></td>
          <td><img src="../../images/header_logo.gif" width="578" height="115" /></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="../../images/left_bg.gif" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="../images/left_bg.gif" bgcolor="#FFFF00">
              <tr>
                <td><a href="../../search.jsp"><img src="../../images/find_accom.gif" alt="AA Travel Guides - Accommodation search" width="187" height="36" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../search_advanced.jsp"><img src="../../images/advanced_search.gif" alt="AA Travel Guides - Advanced accommodation search" width="187" height="24" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../nightsbridge/frames.html" target="_blank"><img src="../../images/real_time.gif" alt="AA Travel Guides - Real time booking options" width="187" height="24" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="http://www.aatravel.co.za/visit/southafrica.htm" target="_blank"><img src="../../images/find_town.gif" alt="AA Travel Guides - Find a town" width="187" height="24" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../carhire.jsp"><img src="../../images/carhire.gif" alt="AA Travel Guides - Car hire" width="187" height="24" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../awards.jsp"><img src="../../images/awards.gif" alt="AA Travel Guides - AA Quality Assured Awards" width="187" height="25" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../links.jsp"><img src="../../images/links.gif" alt="AA Travel Guides - Links" width="187" height="26" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../articles.jsp"><img src="../../images/product_info.gif" alt="AA Travel Guides - Product Information" width="187" height="25" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../contact.jsp"><img src="../../images/contact.gif" alt="AA Travel Guides - Contact Us" width="187" height="22" border="0" /></a></td>
              </tr>
              <tr>
                <td><a href="../../aaqa.jsp"><img src="../../images/aaqa.gif" alt="AA Travel Guides - AA Quality Assured" width="187" height="27" border="0" /></a></td>
              </tr>
              <tr>
                <td><img src="../../images/left_bottom.gif" alt="AA Travel Guides" width="187" height="230" /></td>
              </tr>
            </table></td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td><span class="text_dark"><strong> $helper.firstLetterCaps($estab.getCountry()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getSuburb2()) $restype | $restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry()) | accommodation in $helper.firstLetterCaps($estab.getTownname())</strong></span><br>
                        <br>
                        <div align="right">
                          <table border="0" cellspacing="0" cellpadding="3">
                            <tr>
                              <td><a href="../${letter}.html"><img src="../../images/icon_back.gif" alt="AA Travel Guides - Find accommodation in South Africa" border="0"></a></td>
                              <td><a href="../${letter}.html" class="link_red">Back to establishment list </a> </td>
                            </tr>
                          </table>
                        </div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="../../images/dark_corner_left.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                              <td>$helper.firstLetterCaps($estab.getResname())</td>
                              <td width="7" align="right"><img src="../../images/dark_corner_right.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background-image:url(../../images/table_grey_gradient_bg.gif);">
                            <td height="27" class="heading"><span class="view_accom_white_unbold">$helper.getRestype($estab)</span> in <span class="view_accom_white_unbold">$helper.firstLetterCaps($estab.getTownname())</span> </td>
                          </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#F2F2F2">
                          <tr>
                            <td width="70%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="viewaccom_details">
                                      <tr>
                                        <td colspan="2" bgcolor="#FFFFFF" class="text_blue"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td align="center">#if( $estab.getPicfilen1() == "" )
                                                <img src="../../images/spacer.gif">
                                                #else
                                                <img src="http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen1()" alt="$estab.getResname()" name="main">
                                                #end</td>
                                            </tr>
                                            <tr>
                                              <td valign="top" class="text_justified">$estab.getRestextmem()</td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td width="140" align="right">Street Address </td>
                                        <td>$estab.getStraddr1() $estab.getStraddr2() $estab.getStraddr3()</td>
                                      </tr>
                                      <tr>
                                        <td align="right">Postal Address </td>
                                        <td>$estab.getPobox() $estab.getPostaddr1() $estab.getPostaddr2() $estab.getPostaddr3() </td>
                                      </tr>
                                      <tr>
                                        <td align="right">Tel</td>
                                        <td>$estab.getTelno1()</td>
                                      </tr>
                                      <!--#if (!$estab.getTelnoc() == "") { -->
                                      <tr>
                                        <td align="right">Alernate Tel </td>
                                        <td>$estab.getTelnoc()</td>
                                      </tr>
                                      <!--#end-->
                                      <tr>
                                        <td align="right">Fax</td>
                                        <td>$estab.getFaxno() </td>
                                      </tr>
                                      <!--#if (!$estab.getFaxnoc() == "") { -->
                                      <tr>
                                        <td align="right">Alernate Fax </td>
                                        <td>$estab.getFaxnoc()</td>
                                      </tr>
                                      <!--#end-->
                                      <tr>
                                        <td align="right">Email</td>
                                        <td><a href="http://www.aatravel.co.za/email_static.jsp?toEmail=$estab.getEmailaddr()&code=$estab.getCode()" class="link_red">$estab.getEmailaddr()</a></td>
                                      </tr>
                                      <tr>
                                        <td align="right">Website</td>
                                        <td><a href="$web" class="link_red" target="_blank">$estab.getWebaddr()</a></td>
                                      </tr>
                                      <tr>
                                        #if( $helper.getInt($estab.getTgcgrad()) > 0 )
                                        <td align="right">&nbsp;</td>
                                        <td>#foreach( $i in [1..$helper.getInt($estab.getTgcgrad())] )
                                          <img src="../../images/star.gif">
                                          #end                                        </td>
                                        #end
                                      </tr>
                                      #if ( !$estab.getDiscountReference().equals("") )
									  <tr>
                                        <td align="right" valign="top" class="heading">Special Offer: </td>
                                        <td><strong>Description:</strong> <br>
                                          $estab.getDiscountDescription()<br>
                                          <br>
                                          $estab.getDiscountTerms()<br><a href="http://www.aatravel.co.za/pdf/$estab.getDiscountReference()" class="link_red">
                                          
                                        Download discount information</a></td>
                                      </tr>
									  #end
                                      <tr style="background-image:url(../../images/grey_bg_21.gif)">
                                        <td align="right">Pricing</td>
                                        <td>$estab.getPricing()</td>
                                      </tr>
                                    </table></td>
                                  <td>&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="30%" valign="top">#if( !$estab.getRotyPic().equals("") || !$estab.getAaCatPic().equals("") )
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="feedback_table">
                                <thead>
                                  <tr style="background-image:url(../../images/table_yellow_bg.gif)">
                                    <td>AA Endorsement </td>
                                  </tr>
                                </thead>
                                <tr>
                                  <td align="center" bgcolor="#FFFFFF">#if( !$estab.getRotyPic().equals("") )
                                    <img src="http://www.essentialtravelinfo.com/lookup_images/$estab.getRotyPic()" alt="AA Travel Guides">
                                    #else
                                    <img src="../../images/spacer.gif">
                                    #end
                                    #if( !$estab.getAaCatPic.equals("") )
                                    <img src="http://www.essentialtravelinfo.com/lookup_images/aatravel_$estab.getAaCatPic()" alt="AA Travel Guides">
                                    #else
                                    <img src="../../images/spacer.gif">
                                    #end</td>
                                </tr>
                              </table>
                              #end
                              #if( !$helper.notNull($estab.getRealturlw()).equals("") )
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="feedback_table">
                                <thead>
                                  <tr style="background-image:url(../../images/table_yellow_bg.gif)">
                                    <td>Real-time Booking</td>
                                  </tr>
                                </thead>
                                <tr>
                                  <td bgcolor="#FFFFFF"><a href="$estab.getRealturlw()" target="_blank" class="link_red">Click here to make a real-time booking </a></td>
                                </tr>
                              </table>
                              #end
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="feedback_table">
                                <thead>
                                  <tr style="background-image:url(../../images/table_yellow_bg.gif)">
                                    <td>Images ( Click to view larger image ) </td>
                                  </tr>
                                </thead>
                                <tr>
                                  <td>#if( !$thumb1.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen1()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen1()');">
                                    #end
                                    #if( !$thumb2.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen2()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen2()');">
                                    #end</td>
                                </tr>
                                <tr>
                                  <td>#if( !$thumb3.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen3()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen3()');">
                                    #end
                                    #if( !$thumb4.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen4()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen4()');">
                                    #end</td>
                                </tr>
                                <tr>
                                  <td>#if( !$thumb5.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen5()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen5()');">
                                    #end
                                    #if( !$thumb6.exists() )
                                    <img src="../../images/spacer.gif">
                                    #else
                                    <img src="http://www.essentialtravelinfo.com/res_images/TN_$estab.getPicfilen6()" alt="$estab.getResname()" width="90" height="60" style="cursor:pointer;" onClick="movepic('main', 'http://www.essentialtravelinfo.com/res_images/$estab.getPicfilen6()');">
                                    #end</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td colspan="2" valign="top"></td>
                          </tr>
                        </table>
                        <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#F2F2F2">
                          <tbody>
                            <tr>
                              <td><table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">
                                  <tr>
                                    <td valign="middle">#if( $estab.getCampno() > 0 )
                                      <img src="http://www.essentialtravelinfo.com/icons/CRVCAMP.gif" width="33" height="31">
                                      #end
                                      #if( $estab.getCaravanno() > 0 )
                                      <img src="http://www.essentialtravelinfo.com/icons/CRVCAMP2.gif" width="33" height="31">
                                      #end
                                      #foreach ( $item in $helper.getAssociations($estab) )
                                      <img src="http://www.essentialtravelinfo.com/icons/${item}.gif" alt="$item" title="$item">
                                      #end
                                      #foreach ( $item in $helper.getDetails($estab) )
                                      <img src="http://www.essentialtravelinfo.com/icons/${item}.gif" alt="$item" title="$item">
                                      #end
                                    </td>
                                  </tr>
                                </table></td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <span class="text_dark"><strong>$helper.firstLetterCaps($estab.getCountry()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getSuburb2()) $restype | $restype $helper.firstLetterCaps($estab.getSuburb2()) $helper.firstLetterCaps($estab.getTownname()) $helper.firstLetterCaps($estab.getCountry()) | accommodation in $helper.firstLetterCaps($estab.getTownname())</strong></span><br>
                        <br>
                        <table border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr>
                            <td class="feedback_table">&copy; Copyright 2005/2006 - AA Travel Guides. All rights reserved. </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
