
<style>

</style>
<table cellpadding=0 cellspacing=0 width=100%>
	<tr valign=top>
		<td>
			<!-- Col 1 -->
			<table cellpadding=0 cellspacing=0 width=625px style='background-color: white'>
				<tr>
					<td><img src='/images/details_tl.gif'></td>
					<td></td>
					<td align=right><img src='/images/details_tr.gif'></td>
				</tr>
				<tr valign=top>
					<td></td>
					<td>
						<div style='font-family: arial; font-weight: bold; color: #335da9; font-size: 16pt'><!-- establishment_name --><!-- province_header --><!-- country_header --></div><br>
						<table cellpadding=0 cellspacing=0 width=100%>
							<tr valign=top>
								<td><table id=primaryBK style='background-color: #E4E5E6; text-align: center; width: 295px; height: 295px' cellpadding=0 cellspacing=0><tr valign=center><td><img src='/res_images/<!-- primary_image -->'  id=primaryImage></td></tr></table></td>
								<td><div style='text-align: center'><table cellpadding=1 cellspacing=0><!-- thumb_block --></table><span style="font-family: arial; font-size: 6pt">Click on the thumbnails to view in large window</span></div></td>
							</tr>
						</table><br>
						<span style="color: #335da9; font-family: arial; font-weight: bold; font-size: 12pt">Description</span><br>
						<span style='font-family: arial; font-size: 10pt'><!-- description --></span>
						<p>
						<span style="color: #335da9; font-family: arial; font-weight: bold; font-size: 12pt">Pricing</span><br>
						<!-- pricing -->
						<p>
						<span style="color: #335da9; font-family: arial; font-weight: bold; font-size: 12pt">Facilities</span><br>
						<!-- facilities -->
					</td>
					<td></td>
				</tr>
				<tr valign=bottom>
					<td><img src='/images/details_bl.gif'></td>
					<td></td>
					<td align=right><img src='/images/details_br.gif'></td>
				</tr>
			</table>
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			<!-- Col 2 -->
			<table cellpadding=0 cellspacing=0 width=10>
				<tr valign=top>
					<td rowspan=2><img src='/images/spaceF.gif' width=1 height=268></td>
					<td style='background-image: url(/images/details_booking_top.gif); background-color: #E4E5E6; background-repeat: no-repeat' >
						<div style='font-weight: bold; font-size: 18pt; font-family: arial; text-align: center; padding-top: 10px'>Venue Details</div><br>
						<div style='font-family: arial; font-size: 10pt; padding: 10px'>
							<!-- tel1_start --><img src='/images/tel.png' valign=bottom> <!-- tel1 --><br><!-- tel1_end -->
							<!-- tel2_start --><img src='/images/blank.png' valign=bottom> <!-- tel2 --><br><!-- tel2_end -->
							<!-- cell_start --><img src='/images/cell.png' valign=bottom> <!-- cell --><br><!-- cell_end -->
							<!-- fax_start --><img src='/images/fax.png' valign=bottom> <!-- fax --><br><!-- fax_end -->
						</div>
						<div style='font-family: arial; font-size: 10pt; padding: 0 10 10 10'>
							<!-- street -->
							&nbsp;<br>
							<!-- postal -->
						</div>
						<div style='text-align: center'>
							<!-- booking_start --><a href='<!-- booking_link -->'><img src='/images/button_book_now.gif' border=0></a><br><!-- booking_end -->
							<img src='/images/button_booking_enquiry.gif'></div>
					</td>
				</tr>
				<tr height=16>
					<td><img src='/images/datails_booking_bottom.gif' width=201 height=16></td>
				</tr>
			</table><p>
			<table cellpadding=0 cellspacing=0 width=10>
				<tr valign=top>
					<td rowspan=2><img src='/images/spaceF.gif' width=1 height=268></td>
					<td style='background-image: url(/images/aa_endorsement_bk.gif); background-color: #fff000; background-repeat: no-repeat' >
						<div style='font-weight: bold; font-size: 18pt; font-family: arial; text-align: center; padding-top: 10px'>AA Endorsement</div><br>
						<div style='font-family: arial; font-size: 10pt; padding: 10px'>
							<table cellpadding=0 cellpacing=0>
								<tr>
									<td><img src='/lookup_images/<!-- qa_rating -->'>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td align=center style='font-size: 10pt; font-family: arial'>Find out<br>more about<br>this rating</td>
								</tr>
							</table><p>
							<div style='text-align: center; font-weight: bold; font-size: 10pt; font-family: arial'>User Rating<br>
							<!-- rating --></div>
						</div><p>&nbsp;<p>
					</td>
				</tr>
				<tr height=16>
					<td><img src='/images/aa_endorsement_bt.gif'></td>
				</tr>
			</table>
		</td>
	</tr>
</table>