<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="AA Quality Assured accommodation">
<meta name="KeyWords" content="AA Travel Guides, AA quality Assured, Quality Assured status">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>AA Travel Guides - AA Quality Assured establishments</title>
<link href="../styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="../images/header_bg.gif">
      <tr>
        <td width="187"><img src="../images/top_left.gif" width="187" height="115" /></td>
        <td><img src="../images/header_logo.gif" width="578" height="115" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="../images/left_bg.gif" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="../images/left_bg.gif" bgcolor="#FFFF00">
            <tr>
              <td><a class="link_red" href="../search.jsp"><img src="../images//find_accom.gif" alt="AA Travel Guides - Accommodation search" width="187" height="36" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../search_advanced.jsp"><img src="../images//advanced_search.gif" alt="AA Travel Guides - Advanced accommodation search" width="187" height="24" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../nightsbridge/frames.html" target="_blank"><img src="../images//real_time.gif" alt="AA Travel Guides - Real time booking options" width="187" height="24" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="http://www.aatravel.co.za/visit/southafrica.htm" target="_blank"><img src="../images//find_town.gif" alt="AA Travel Guides - Find a town" width="187" height="24" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../carhire.jsp"><img src="../images//carhire.gif" alt="AA Travel Guides - Car hire" width="187" height="24" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../awards.jsp"><img src="../images//awards.gif" alt="AA Travel Guides - AA Quality Assured Awards" width="187" height="25" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../links.jsp"><img src="../images//links.gif" alt="AA Travel Guides - Links" width="187" height="26" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../articles.jsp"><img src="../images//product_info.gif" alt="AA Travel Guides - Product Information" width="187" height="25" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../contact.jsp"><img src="../images//contact.gif" alt="AA Travel Guides - Contact Us" width="187" height="22" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="../aaqa.jsp"><img src="../images//aaqa.gif" alt="AA Travel Guides - AA Quality Assured" width="187" height="27" border="0" /></a></td>
            </tr>
            <tr>
              <td><img src="../images//left_bottom.gif" alt="AA Travel Guides" width="187" height="230" /></td>
            </tr>
          </table>
          <jsp:include page="left_nav.jsp" flush="true" /></td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td align="center"><span class="text_dark"><strong>   </strong></span>
                        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                          <tr>
                            <td><p>The following page lists all provinces and accommodation types in <a href="${country}.html" class="link_red">$country</a>, by name. To view a specific province page, please click on the province in which you are interested. </p></td>
                          </tr>
                        </table>
                        <br>
                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td class="heading">Provinces in <a href="${country}.html" class="link_red">$country</a> </td>
                          </tr>
                          <tr>
                            <td>#foreach( $province in $provinces )
                              <a class="link_red" href="${province.getLink()}.html">$province</a>
                              #end</td>
                          </tr>
                        </table>
                        <br>
                        <table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td class="heading">Accommodation types in <a href="${country}.html" class="link_red">$country</a> </td>
                          </tr>
                          <tr>
                            <td>#foreach( $type in $types )
                              <a class="link_red" href="${type}.html">$type</a>
                              #end</td>
                          </tr>
                        </table>
                      
                    </tr>
                  </table></td>
              </tr>
            </table>
            <table border="0" align="center" cellpadding="5" cellspacing="0">
              <tr>
                <td class="feedback_table">&copy; Copyright 2008 - AA Travel Guides. All rights reserved. </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
