<script >
search_data = '';
search_string = '';
co = '';
ss = '<!-- searchString -->';
max_length = 5;
total_length = 0;
start_location = 0;
counter = 0;


function get_data(st,start,sh) {
	loc = "/e/search_iframe.php?st=" + st + "&strt="+ start ;
	document.getElementById('searchFrame').src = loc;
	if (!sh) document.getElementById('searchResult').innerHTML = "<div style='margin-right: auto; margin-left: auto; width: 100px; height: 400px' ><img src='/images/searching.gif'></div>"; 
}

function return_data(d, s, l, t, sstr) {
	search_data = d;
	start_location = s;
	max_length = l;
	total_length = t;
	search_string = sstr;
	draw_data();
}

function draw_data() {
	dl = '<table align="center" width=835px cellpadding=0 cellspacing=0 >';
	dl += "<TR><TD style='background-image: url(/images/search1.gif); width: 160px'><img src='/images/spaceG.gif' ></TD><TD style='background-image: url(/images/search2.gif); width: 415px;'><span class=searchHeader>Description</span></TD><TD style='background-image: url(/images/search3.gif); width: 100px'><span class=searchHeader>Price</span></TD><TD style='background-image: url(/images/search4.gif); width: 162px'><span class=searchHeader>Rated</span></TD></TR>";
	ests = search_data.split('||');

	if (search_data.length == 0) {
		dl = "<div style='text-align: center; margin-top: 10'>Search Returned No Results</div>";
		document.getElementById('searchResult').innerHTML = dl;
	} else {	
		for (i=0; i<ests.length; i++) {
			if (ests[i]=='') continue;
			co = co=='ffffff'?'d9d9d9':'ffffff';
			var estd = ests[i].split('{}');
			estd[4] = estd[4].replace(/ /g, '<br>');
			z = estd[7];
			dl += '<tr valign=top style="background-color: #'+co+'"><td align=center><a href="/accommodation/'+ estd[7] +'.html" target="_top"><img id=image'+i+' src=/image.php?e='+estd[0]+'&bg='+co+'&st='+ss+'&sp='+(start_location+i)+'&ct=quick style="margin-top: 6px" width=140 border=0></a></td><td><a href="/accommodation/'+ estd[7] +'.html"  target="_top"><span class=est_name>'+ estd[1] +'</span></a><p class=est_body>'+estd[3]+'<p class=est_body>Location: '+estd[2]+'<p></td><td align=center><span class=est_body>&nbsp;<p>'+estd[8] + '<br>' + estd[9] + ' </span></td><td align=center style="padding-top: 26px">';
			if (estd[4]) {
				dl += '<table align=left cellpadding=0 cellspacing=0><tr"><td><img src="/lookup_images/aatravel_50.gif" ></td></tr></table><span class=est_body2>Quality Assured<br><b>' + estd[4]+' </b></span><p>';
			}
			for (y=0; y<estd[6]; y++) {
				dl += "<span style='color: orange; font-family: arial; font-size: 30pt'><img src='/images/star.png'></span>";
			}
			dl += "<br>";
			for (y=0; y<5; y++) {
				if (y<estd[5]) {
					dl += "<img src='/images/face_sml.gif'>";
				} else {
					dl += "<img src='/images/face_cls.gif'>";
				}
			} 
			dl += '</td></tr>'
		}
		dl += '</table>';
		document.getElementById('searchResult').innerHTML = dl;

		draw_navigation();
		
	}
}

function draw_navigation() {	
	if (total_length < max_length) {
		nav = '';
	} else {
		page_count = Math.ceil(total_length/max_length);
		curr_page = Math.ceil(start_location/max_length);
		nav = "<b>More Results:</b><br>";
		if (curr_page == 1) {
			nav += "<span class=noLink>&#9668;</span>";
		} else {
			nav += "<span class=searchLink onClick=get_data('"+search_string+"',"+((curr_page-1)*max_length-max_length+1)+")>&#9668;</span>";
		}
		for (x=1; x<page_count+1; x++) {
			if (curr_page == x) {
				nav += " <b>" + x + "</b> |";
			} else {
				nav += " <span class=searchLink onClick=get_data('"+search_string+"',"+(x*max_length-max_length+1)+")>" + x + "</span> |";
			}
		}
		nav = nav.substr(0, nav.length-1);
		if (curr_page == page_count) {
			nav += " <span class=noLink>&#9658;</span>";
		} else {
			nav += " <span class=searchLink onClick=get_data('"+search_string+"',"+((curr_page+1)*max_length-max_length+1)+",1)>&#9658;</span>";
		}
	}

	document.getElementById('searchNavigation').innerHTML = nav;
}

</script>
<div class=adT>
	<!--JavaScript Tag // Tag for network 567: 365 Digital / Primedia Online // Website: AA Travel Guide // Page: Results // Placement: Results-top-468 x 60 (1473148) // created at: Jun 17, 2009 11:13:22 AM-->
	<script language="javascript">
	<!--
	if (window.adgroupid == undefined) {
		window.adgroupid = Math.round(Math.random() * 1000);
	}
	document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn|3.0|567|1473148|0|1|ADTECH;loc=100;target=_blank;key=key1+key2+key3+key4;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
	//-->
	</script><noscript><a href="http://adserver.adtech.de/adlink|3.0|567|1473148|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" target="_blank"><img src="http://adserver.adtech.de/adserv|3.0|567|1473148|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" border="0" width="468" height="60"></a></noscript>
	<!-- End of JavaScript Tag -->
</div>
<div id=searchResult></div>
<p>
<div id=searchNavigation style='text-align: center; font-family: arial; font-size: 10pt; font-style: italic'></div>
<iframe src='search_iframe.php' id=searchFrame style='display: none; width:200; height:700'> </iframe>
<script> get_data('<!-- searchString -->',1) </script>

