<div class=adT>
	<!--JavaScript Tag // Tag for network 567: 365 Digital / Primedia Online // Website: AA Travel Guide // Page: Results // Placement: Results-top-468 x 60 (1473148) // created at: Jun 17, 2009 11:13:22 AM-->
	<script language="javascript">
	<!--
	if (window.adgroupid == undefined) {
		window.adgroupid = Math.round(Math.random() * 1000);
	}
	document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn|3.0|567|1473148|0|1|ADTECH;loc=100;target=_blank;key=key1+key2+key3+key4;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
	//-->
	</script><noscript><a href="http://adserver.adtech.de/adlink|3.0|567|1473148|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" target="_blank"><img src="http://adserver.adtech.de/adserv|3.0|567|1473148|0|1|ADTECH;loc=300;key=key1+key2+key3+key4" border="0" width="468" height="60"></a></noscript>
	<!-- End of JavaScript Tag -->
</div>
<div id=searchResult>
	<table align="center" width=835 cellpadding=0 cellspacing=0 >
		<TR>
			<TD style='background-image: url(/images/search1.gif); width: 160px'><img src='/images/spaceG.gif' >
			
			</TD>
			<TD style='background-image: url(/images/search2.gif); width: 415px;'>
				<span class=searchHeader>Description</span>
			</TD>
			<TD style='background-image: url(/images/search3.gif); width: 100px'>
				<span class=searchHeader>Price</span>
			</TD>
			<TD style='background-image: url(/images/search4.gif); width: 162px'>
				<span class=searchHeader>Rated</span>
			</TD>
		</TR>
		<tr>
			<td colspan=10 style='padding: 0 2px 0 2px'>
				<table width=100% cellspacing=0 cellpadding=0>
					<TR class=nav_header>
						<td><!-- previous_link --></td>
						<td align=center colspan=2 ><!-- result_count --> Results Found, Page <!-- current_page --> of <!-- total_pages --></td>
						<td align=right><!-- next_link --></td>
					</TR>
				</table>
			</td>
		</tr>
		<!-- line_start -->
		<tr valign=top style="background-color: #<!-- line_color -->;">
			<td align=center>
				<a href="/accommodation/<!-- directory_name -->.html" target="_top">
					<img id=image'+i+' src=/image.php?e=<!-- establishment_code -->&bg=<!-- line_color -->&st=<!-- search_string -->&sp=<!-- position -->&ct=quick:<!-- search_type --> style="margin-top: 6px" width=140 border=0>
				</a>
			</td>
			<td>
				<a href="/accommodation/<!-- directory_name -->.html"  target="_top"><span class=est_name><!-- establishment_name --></span></a>
				<p class=est_body><!-- description --><p class=est_body>Location: <!-- locations --><p>
			</td>
			<td align=center>
				<span class=est_body>&nbsp;<p><!-- price --> </span>
			</td>
			<td align=center style="padding-top: 26px">
				<!-- rating -->
			</td>
		</tr>
		<tr style='background-color: <!-- line_color -->' >
			<td colspan=10>&nbsp;</td>
		</tr>
		<!-- line_end -->
		<tr>
			<td colspan=10 style='padding: 0'>
				<table width=100% cellspacing=0 cellpadding=0>
					<TR class=nav_header>
						<td><!-- previous_link --></td>
						<td align=center colspan=2 ><!-- result_count --> Results Found, Page <!-- current_page --> of <!-- total_pages --></td>
						<td align=right><!-- next_link --></td>
					</TR>
				</table>
			</td>
		</tr>
	</table>
</div>
<p>
<div id=searchNavigation style='text-align: center; font-family: arial; font-size: 10pt; font-style: italic'></div>

