<table cellspacing=0 cellpadding=0 style='margin-top: 10px; margin-left: 10px; margin-right: 30px'  width=790>
	<tr>
		<td width=23px><img src='/images/towns_tl.gif'></td>
		<td nowrap style='background-image: url(/images/towns_tc.gif); color: yellow; font-weight: bold; font-family: arial; width: 100%'>AA Travel Guides Subscription Service</td>
		<td align=right width=20px><img src='/images/towns_tr.gif'  width=20px></td>
	</tr>
	<tr>
		<td style='background-color: white'></td>
		<td style='background-color: white' nowrap><br>Thank you for taking the time to subscribe to the AA Travel Guides newsletter! </td>
		<td style='background-color: white'></td>
	</tr>
	<tr>
		<td><img src='/images/towns_bl.gif'></td>
		<td style='background-image: url(/images/towns_bc.gif)'></td>
		<td align=right ><img src='/images/towns_br.gif' width=20 height=18></td>
	</tr>
</table>