
BODY {background-color: #e5e5e5;}
BODY, TD, TH, LI {font-family: arial; font-size: 10pt}
A {text-decoration: none;color: black}
H1 {font-family: arial; font-size: 16pt}
H2 {font-size: 12pt; margin-bottom: 4px; padding: 0}

/* new area styles */

.areaBlock.h1 {
	background-color: #FFCC00;
	padding:3px;
	margin:0;
	font-family: arial;
	font-size:12px;
}

/* added by John Gore - START */
.alinks {
	color:#0066FF;}
.alinks:hover {
	color:#0000FF;
	text-decoration:underline;}
.paragraphtext {
	font-family: Arial;
	font-size: 12px;}
.inparagraphheading {
	font-family: Arial;
	font-size: 15px; 
	font-weight: bold; }
	
.paragraphpictureright img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureleft img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureright { margin: 0.5em 0pt 0.5em 0.8em; float:right; 	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
.paragraphpictureleft { margin: 0.5em 0.8em 0.5em 0; float:left;	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
/* added by John Gore - END */


.searchHeader {
	color: white;
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
	padding-left: 8px;
}


/* Breadcrumbs */
#BreadCrumbs ul {
	padding:0;
	margin:0;
}
#BreadCrumbs li {
	display:inline;
	list-style: none;
	padding-right:5px;
}
/* Link Blocks */
.linksBlock {
	width:250px;
	float:left;
}
.linksBlock ul {
	padding:0;
	margin:0;
}
.linksBlock li {
	list-style: none;
}
/* Est List */
#estListHolder {
	width:530px;
	float:left;
	padding-top:10px;
}
.listHeaderSection1 {
	width:23px;
	height:33px;
	background-image: url("/images/towns_tl.gif");
	float:left;
}
.listHeaderSection2 {
	height:33px;
	width:487px;
	background-image: url("/images/towns_tc.gif");
	float:left;
	display:inline;
}
.listHeaderSection2search {
	height:33px;
	background-image: url("/images/towns_tc.gif");
	float:left;
	display:inline;
	width:782px;
}
.listHeaderSection3 {
	width:20px;
	height:33px;
	background-image: url("/images/towns_tr.gif");
	float:left;
}
.listHeaderSection4 {
	width:162px;
	height:33px;
	background-image: url("/images/search4.gif");
	float:left;
}
.listHeaderPadding {
	margin-top:7px;
}
.listPaging {
	background-color: #C0C0C0;
	margin-left:2px;
	margin-right:2px;
	text-align: center;
}
.listEst {
	margin-left:2px;
	margin-right:2px;
}
.listEstDiv {
	float:left;
}


.searchHeader {
	color: yellow;
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 8px;
}

.searchLabel {
	float:left;
	clear:both;
	width:150px;
}
.searchField {
	float:left;
}

#search_loc {margin-left: 20px}

.dum_bar {background-color: silver; border-top: 1px dotted black; border-bottom: 1px dotted black; width: 831px; margin: 0 2px 0 2px}
.dum_header {font-weight: bold; margin-left: 4px; width: 200px}
.search_link {cursor: pointer; margin-left: 20px}

.est_name {
	color: #0770b0;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 6px;
}

.est_body {
	color: black;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
	padding-left: 8px;
}

.est_body2 {
	color: black;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

.nav_header, .nav_footer {background-color: silver;}
.nav_header TD {font-size: 10pt; padding: 1px 2px 1px 2px}
.nav_footer TD {font-size: 10pt; padding: 1px 2px 1px 2px; }

.searchLink {
	cursor: pointer;
}

.noLink {
	color: grey;
}

#errorT {font-size: 10pt; font-weight: bold; text-align: center}


#oa TR, #se TR  {
	vertical-align: top;
}

.adT {text-align: center;margin-bottom: 4}
.adS {text-align: right;}


/* TOWN CONTENT */
#content_block {overflow: hidden; border-color: silver; border-style: solid; border-width: 1px; background-color: #EBEBEB; padding: 4px; margin-top: 12px}
#content_block H2 {font-family: arial; font-size: 12pt; font-weight: bold; margin: 0px 0px 2px 0px}
#content_block .para_content {font-family: arial; font-size: 10pt; font-weight: normal; padding-bottom: 10px}
#more {border-color: silver; border-style: solid; border-width: 1px; background-color: silver; font-size: 10pt; font-weight: bold; text-align: right; padding: 4px}

.error {color: red}
.text_grey_small {font-family: Arial;font-size: 10pt;}
.form_error {background-color: yellow;}
#feedbackOptions {border-width: 1 1 1 1; border-style: solid}
#feedbackOptions TH {background-color: #CDD6DF; color: #26619c;font-size: 12px; border-color: grey; border-width: 0 0 1 0; border-style: dotted}
#feedbackOptions TD {background-color: #E4E9EE; border-color: grey; border-width: 0 0 1 0; border-style: dotted;}
.o {background-color: #F3CA00}

#estab_marque TD {padding: 0 10 0 0; font-family: arial; font-size: 11px}
#estab_marque IMG {border-width: 1; border-color: black; border-style: solid}

/* GOOGLE MAPS */
#dir_canvas TD {font-size: 8pt; font-family: arial;}
#routes {border-collapse: collapse; border: 1px dotted grey}
#routes TH {text-align: left; background-color: silver;}
#routes TD {font-size: 10pt; font-family: arial; background-color: #EBEBEB;}
#routes .divider {border-right: 1px dotted grey}
#map_canvas1 {border-collapse: collapse; border: 1px dotted grey; background-color: #EBEBEB; margin-top: 20px; width: 100%}
#map_canvas1 .divider {border-left: 1px dotted grey}
#dir_header {background-color: silver; font-weight: bold; font-family: arial; font-size: 12pt; width: 100%}
#map_canvas {border: 1px dotted grey}

/* CALENDAR */
.TESTcpYearNavigation,
.TESTcpMonthNavigation
		{
		background-color:#6677DD;
		text-align:center;
		vertical-align:middle;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.TESTcpDayColumnHeader,
.TESTcpYearNavigation,
.TESTcpMonthNavigation,
.TESTcpCurrentMonthDate,
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDate,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDate,
.TESTcpCurrentDateDisabled,
.TESTcpTodayText,
.TESTcpTodayTextDisabled,
.TESTcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.TESTcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #6677DD;
		border-width:0 0 1 0;
		}
.TESTcpCurrentMonthDate,
.TESTcpOtherMonthDate,
.TESTcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.TESTcpCurrentMonthDate
		{
		color:#6677DD;
		font-weight:bold;
		}
.TESTcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.TESTcpOtherMonthDate
		{
		color:#808080;
		}
TD.TESTcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #6677DD;
		border-width:1;
		border:solid thin #000000;
		}
TD.TESTcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin #FFAAAA;
		}
TD.TESTcpTodayText,
TD.TESTcpTodayTextDisabled
		{
		border:solid thin #6677DD;
		border-width:1 0 0 0;
		}
A.TESTcpTodayText,
SPAN.TESTcpTodayTextDisabled
		{
		height:20px;
		}
A.TESTcpTodayText
		{
		color:#6677DD;
		font-weight:bold;
		}
SPAN.TESTcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.TESTcpBorder
		{
		border:solid thin #6677DD;
		}