body { margin: 0px 0px 0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px;background-color:#FFFFFF;}
H1 {font-family: arial; font-size: 16pt;margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
form { margin: 0px 0px 0px 0px;}
#aaqalogo {position: relative;
	top: -215px;
	right:-390px;
	z-index:2000000;
	width:120px;
	height:180px;}
#aaqalogo2 {position: relative;
	text-align:center;
	top: 0px; /* -60 */
	left:390px; /* -390 */
	z-index:200000;
	white-space:nowrap;
	width:120px;
	height:180px;}

#fullbar {position:relative;
	width:100%;
	top:-150px; /* 30 or -150 */ 
	background-color:#ffcd3a; /* FFCC00 */
	z-index:100;
	padding: 0px;
	height:40px;
	margin: 0px;
	white-space: nowrap;}
#middlebar {position:relative;
	width:900px;
	height:40px;
	background-color:#ffcd3a; /* FFCC00 */
	white-space: nowrap;}
#MenuBar1 {position: relative;
	height:30px;
	top:10px;
	background-color:#ffcd3a; /* FFCC00 */
	font-size:14px;}

#allheaderholder {position:relative;
/*	z-index:20; */
	width:900px;
	height:10px;
	top:-205px;
	white-space:normal;
	background-color:#FFFFFF;}
#adminlogin {position:relative;
	width:220px;
	height:20px;
	padding:0px;
	top:-2px; /* -205 */
	right:-210px;
	font-weight:bold;}
#toplefttext {position:relative;
	width:300px;
	height:20px;
	padding:0px;
	top:-22px; /* -225 */
	left:-320px;
	font-weight:bold;}	
#searchbox {position:relative;
	top: 20px;
	width:400px;
	height:35px;
	right:-115px;
	background-color:#0099FF;
	text-align:right;}
#searchbox1 {position:relative;
	z-index:50;
	top: 20px;
	padding:0px;
	height:122px; /* 120px */
	width:400px;
	left:115px;
	background-color:#bfd9ff;
	float:none;
	text-align:right;}
.searchtext {font-size:14px;
	font-weight:bold;
	color:#18479f;}
.searchtext2 {font-size:14px;
	font-weight:normal;
	color:#18479f;}
#searchheight {padding-top:3px;}

#searchadvanced {position:relative;
	top: 20px;
	width:140px;
	height:20px;
	right:-200px;
	background-color:#FFFF99;}
#welcomebox {position:relative;
	z-index:20;
	width:340px;
	left:-270px;
	top:-100px; /* -55 */
	text-align:left;
/*	background-color:#FFFFFF; /* F4F4F4 */
	padding:0px;}
#provincebox {
	z-index:40;
	height:20px;
	text-align:center;
	padding:0px;
	background-color:#FFCC00;
	float:left;
	margin: 0 auto;
	width:960px;} /* F4F4F4 */
	
#provincebox div {
	float:left;
	padding:3px;
	padding-left:13px;
	padding-right:13px;
	z-index:41;
}

#allreset {
	}

#allcontentholder {   /* relative */
	z-index:30;
	background-color:#FFFFFF; /* FFFFFF */
	width:960px; /* 830 */
/*	top:250px; /* 190 */
	margin: 0 auto;
	margin-top:-25px;
	float:none;}
#allcontent {
	z-index:40;
	text-align:center;
	background-color:#FFFFFF;
	min-height: 300px;
	overflow: visible;} /* #f0f0f0 */

#footer {position:relative;
	background-color:#FFFFFF;
	overflow:auto;
	width:960px;
	padding-top:10px;
	top:0px; /* 10 */
	float:left; /* left */
	text-align:center;}
#footertext {position:relative;
	background-color:#F1F1F1;
	width:830px;
	top:10px;
	float:left;
	text-align:center;}
div.clear {clear: both;}


/* start CSS content (still to add to live) */
.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px; /* 830 */
	margin: 0 auto;
	overflow: hidden;
	background-color:#FFFFFF;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}
.contentrightmenu { width:200px; background-color:#FFFFFF; text-align:left;}
.contentmainbody { width:730px; /* 670px */ background-color:#FFFFFF; text-align:left; padding: 0 5px 0 5px;}
.contentmainheading { width:900px; /* 830 */
	height:30px;
	background-color:#FFFFFF;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
	text-align:left;}
.newsblock {
	width:355px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 5px 10px 0;
	margin: 0 5px 10px 0;
	}
.featureddestination {
	width:355px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 5px 10px 0;
	margin: 0 5px 10px 0;
	}
.homespecials {
	width:355px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 5px 10px 0;
	margin: 0 5px 10px 0;
	}
.home1special {
	width:350;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 2px 2px 0;
	margin: 0 2px 2px 0;}
.home2special {
	width:350;
	background-color:#ebebeb; 
	text-align:left;
	float:left;
	padding: 0 2px 2px 0;
	margin: 0 2px 2px 0;}



div.footerholder {
	overflow: auto;}
.footerblock {
	width:185px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 2px 3px 0;
	margin: 0 5px 5px 0;
	}
.provinceblock {
	width:185px;
	background-color:#FFFFFF;
	text-align:left;
	float:left;
	padding: 0 2px 3px 0;
	margin: 0 5px 5px 0;
	}

.contenttopheading {background-color:#FFCC00;
	font-size:16px;
	font-weight:bold;
	margin: 0 0 3px 0;
	padding: 4px 6px 3px 2px;
	text-align:right;
	text-transform:uppercase;}
.contentrightheading {background-color:#FFCC00;
	margin: 5px 0 0 2px;
	padding: 4px 2px 3px 2px;
	font-weight:bold;}
ul.contentrightheading2 {background-color:#FFFFFF;
	margin: 0;
	padding: 0 0 5px 0;}
ul.contentrightheading2 li {background-color:#FFFFFF;
	margin: 0 0 0 2px;
	padding: 4px 2px 2px 2px;
	list-style:none;}
ul.contentfooterlist {background-color:#FFFFFF;
	margin: 0;
	padding: 0 0 5px 0;
	list-style:none;}
ul.contentfooterlist li {background-color:#FFFFFF;
	margin: 0 0 0 2px;
	padding: 4px 2px 2px 2px;
	list-style:none;}


#bannerad {position:absolute;
/*	 */
	top:170px;
	margin-left:970px;
	height:800px;
	font-size: 10px;}
#banneradright {position: relative;
	text-align:center;
	top: 0px; /* -60 */
	left:570px; /* -390 */
	z-index:10000;
	width:160px;
	height:600px;}


.gp {background-color:#0074bb;
	color:#FFFFFF;}
.kzn {background-color:#a23f98;
	color:#FFFFFF;}
.fs {background-color:#fba61c;
	color:#FFFFFF;}
.nw {background-color:#008797;
	color:#FFFFFF;}
.nc {background-color:#c74a1b;
	color:#FFFFFF;}
.ec {background-color:#00a651;
	color:#FFFFFF;}
.wc {background-color:#303192;
	color:#FFFFFF;}
.mp {background-color:#007355;
	color:#FFFFFF;}
.lm {background-color:#b10049;
	color:#FFFFFF;}
.neigbouringstates {background-color:#7a2701;
	color:#FFFFFF;}
.aaqa {background-color:#18479f;
	color:#FFFFFF;}
.sa {background-color:#FFCC00;
	color:#000000;}


.paragraphtext {
	font-family: Arial;
	font-size: 12px;}
.inparagraphheading {
	font-family: Arial;
	font-size: 15px; 
	font-weight: bold; }

.paragraphpictureright img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureleft img { 
	display:block;
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px; }
.paragraphpictureright { margin: 0.5em 0pt 0.5em 0.8em; float:right; 	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
.paragraphpictureleft { margin: 0.5em 0.8em 0.5em 0; float:left;	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px Arial, sans-serif; }
/* end CSS content (still to add to live) */
