@charset "UTF-8";
@import "default.css";

.level1_13 {
background-color: navy;
width: 100px;
}
.level1_13 A {
color: black;
}

.level2_13 {
background-color: blue;
width: 100px;
}
.level2_13 A {
color: black;
}

.level3_13 {
background-color: blue;
width: 100px;
}
.level3_13 A {
color: black;
}