@charset "UTF-8";

@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
 display: block;
 padding: 7px 10px;
}
ul.dropdown li a:hover {

}

ul.dropdown li li a {
 display: block;
 padding: 7px 10px;
 background-color: #212D45;
}
ul.dropdown li li a:hover {
 background-color: #18243C;
}

/* -- Base style override -- */

ul.dropdown li {
 margin-left: 4px;
 padding: 0px;
}



/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding: 7px 20px 7px 10px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}