.rugby_title_31 {
	font-size: 1.2em;
	font-weight: bold;
}

.rugby_results_31 {
	width: 100%;
	border-collapse: collapse;
}

.rugby_results_31 TH {
        font-size: .8em;
        background-color: gray;
        color: white;
}

.rugby_match_31 {
	font-weight: bold;
	padding-top: 10px;
        font-size: .9em;
        margin: 4px;
}

.rugby_nav_31 {
	width: 100%;
	font-size: .8em;
	background-color: silver;
	border-collapse: collapse;
}

.rugby_nav_prev_31 {
	text-align: left;
	border-top: 1px solid gray;
}
.rugby_nav_center_31 {
	text-align: center;
	border-top: 1px solid gray;
}
.rugby_nav_next_31 {
	text-align: right;
	border-top: 1px solid gray;
}

.result_line_31:hover {
	background-color: blue;
font-size: .8em;
}

.result_line_A_31 {
	background-color: white;
font-size: .8em;
}

.result_line_B_31 {
	background-color: silver;
font-size: .8em;
}