<br>
<form action="" method="post">
<tt>Edit the style sheet for this area. The style sheet will automatically be loaded when the page is
displayed to the public.<tt>
<textarea class="css_area" name="css_data"><!-- css_data --></textarea>
<div class="button_div">
	<input type="submit" value="Save Stylesheet" class="save_button">
</div>
</form>
