<script type="text/javascript" src='/modules/content_manager/js/content_manager.js'></script>

<link rel="stylesheet" href="/modules/content_manager/css/page_detail.css" >
<form action="" method="post">
	<table id="tp">
		<tr valign="top">
			<th rowspan="2">
				<img src='/modules/content_manager/i/configuration_128.png' alt="Products Icon">
			</th>
			<td width=99% style='vertical-align: bottom'>
				<tt class="warning">
					WARNING! Information may be lost when switching to another template
				</tt>
			</td>
		</tr>
</table>
	<hr>
	<div class="form_canvas" >

		<table  class="pageTable">
			<tr>
				<td style="width: 130px; padding-top: 10px; padding-left: 5px">
					Page Title
				</td>
				<td style="padding-top: 10px"> 
					<input value="<!-- page_title -->" type="text" name="pageTitle" class="W100" />
				</td>
			</tr>
			<tr>
				<td style="padding-top: 10px; padding-left: 5px">
					Page Template
				</td>
				<td style="padding-top: 10px"> 
					<select name="template">
						<!-- template_list -->
					</select>
				</td>
			</tr>
			<tr>
				<td style="padding-top: 10px; padding-left: 5px">
					Keywords
				</td>
				<td style="padding-top: 10px"> 
					<textarea name="keywords"  class="W100"><!-- keywords --></textarea>
				</td>
			</tr>
			<tr>
				<td style="padding-top: 10px; padding-left: 5px">
					Description
				</td>
				<td style="padding-top: 10px"> 
					<textarea name="description"  class="W100"><!-- description --></textarea>
				</td>
			</tr>
		</table>
	</div>
	<table class="W100">
		<tr>
			<td style="text-align: right">
				<input type="submit" value="Save" name="Save_tour" class="save_button"/>
			</td>
		</tr>
	</table>
</form>
