<form action="" method="post" >
<div style='width: 100%-30px; height: 430px; background-color: #EAEAEA; margin-top: 30px; padding: 10px'>
	<table>
		<tr>
			<td>Template File</td>
			<td><!-- template_file --></td>
		</tr>
		<tr>
			<td>Template Name</td>
			<td><input type="text" name="template_name" value="<!-- template_name -->" ></td>
		</tr>
		<tr>
			<td>Disabled</td>
			<td><input type="checkbox" name="template_disabled" value="Y" <!-- template_disabled --> ></td>
		</tr>
	</table>
</div>
<table style='width: 100%'>
	<tr>
		<th style="text-align: right">
			<input type='button' value="Cancel" class="cancel_button" onClick="parent.WMN(!WR!);parent.WD(!W!)" >
			<input type='submit' value="Save" class="save_button" >
		</th>
	</tr>
</table>
</form>