<form action="" method="post" style="border: 1px dotted gray" enctype="multipart/form-data">
				<table style="width: 100%" class='w100'>
					<tr style="display: none">
						<td>Report Type</td>
						<td>
							<select name="uploadType">
								<option id="telkom">Telkom</option> 
								<option id="sapo">SAPO</option> 
							</select>
						</td>
						<td>&nbsp;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td style="vertical-align: top">Upload File</td>
						<td colspan="5">
							<table cellpadding="0" cellspacing="0" class="tableForm">
								<tbody>	
									<tr>
										<td><input type="file" name="reportFile">
										<button class="submit" id="buttonUpload" >Start Import</button>
										</td>	
									</tr>
									<tr>
										<td>
								<span style="font-size: 0.8em">Note: files must be in CSV format. <br>Open the file in Excel and save at 'csv'.</span>
										</td>	
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
									</tr>
								</tfoot>

							</table>
						</td>
					</tr>
				</table>
			</form>