<form action="" method="post" >
	
<table width="100%">
	<tr>
		<td colspan="2" style="height: 5px; background-color: silver">
			<div  style="width: 100%; text-align: center"><tt><!-- message --></tt></div>
		</td>
	</tr>	
	<tr>
		<td colspan="2" style="height: 5px; background-color: silver">
			<input type="checkbox" name="cancel_type_fa" id="fa" value="fa" checked /><label for="fa">Fixed Accommodation</label> |
			<input type="checkbox" name="cancel_type_cc" id="cc" value="cc" /><label for="cc">Caravan & Camping</label>
		</td>
	</tr>	
	<tr>
		<td colspan="2" style="height: 5px"></td>
	</tr>
	<tr>
		<td colspan="2">
			Reason for Cancellation
			<textarea style="width: 100%; height: 50px" name="reason" ></textarea>
		<td>
	</tr>
	<tr>
		<td colspan="2" style="height: 5px"></td>
	</tr>
	<tr valign="top">
		<td style="padding-top: 10px"><input type="checkbox" value="Y" name="deactivate_sa" checked></td>
		<td style="padding-top: 10px">
			Remove from AA Travel(SA) website
		</td>
	</tr>
	<tr valign="top">
		<td style="padding-top: 10px"><input type="checkbox" value="Y" name="deactivate_zim" checked></td>
		<td style="padding-top: 10px">
			Remove from AA Travel(Zim) website
		</td>
	</tr>
	<tr valign="top">
		<td style="padding-top: 10px"><input type="checkbox" value="Y" name="remove_endorsement" checked></td>
		<td style="padding-top: 10px">
			Remove Current Endorsement<br>
			<tt style="padding-left: 15px">Fixed Accommodation: <!-- fa_endorsement --><br></tt>
			<tt style="padding-left: 15px">Caravan & Camping: <!-- cc_endorsement --></tt>
		</td>
	</tr>
	<tr valign="top">
		<td style="padding-top: 10px"><input type="checkbox" value="Y" name="cancel_invoice" ></td>
		<td style="padding-top: 10px">
			Cancel Associated Invoice<br>
			<tt><!-- invoice_message --></tt>
		</td>
	</tr>
	<tr valign="top">
		<td style="padding-top: 10px"><input type="checkbox" value="Y" name="cancel_assessment" ></td>
		<td style="padding-top: 10px">
			Cancel Associated Assessment<br>
			<tt><!-- assessment_message --></tt>
		</td>
	</tr>
</table>
<div style="text-align: right; width: 100%; margin-top: 10px"><input type="submit" value="Cancel QA" ></div>
</form>