#memberList {
	width: 100%;
	border-collapse: collapse;
}

.header {
	font-size: 1.2em;
	font-weight: bold;
}

#updateForm TABLE {
	width: 100%;
}
#updateForm TABLE TR {
	vertical-align: top;
}
#updateForm TABLE TD:first-child {
	width: 150px;
}
#updateForm TABLE INPUT[type='text'],
#updateForm TABLE TEXTAREA,
#updateForm TABLE SELECT {
	width: 100%;
}

#messageBlock2 {
	margin-right: 20px;
	font-size: 0.8em;
	font-weight: bold;
}
.messageBlockSaved {
	color: green;
}
.messageBlockSave {
	color: orangered;
}
.messageBlockError {
	color: red;
	border: 0px;
}

.nowrap {
	white-space: nowrap;
}