

#messageBlock2 {
	margin-right: 20px;
	font-size: 0.8em;
	font-weight: bold;
}
.messageBlockSaved {
	color: green;
}
.messageBlockSave {
	color: orangered;
}
.messageBlockError {
	color: red;
	border: 0px;
}

#messageBlock {
	text-align: right;
	color: orangered;
	font-weight: bold;
	font-size: 0.8em;
	text-shadow: 1px 1px 1px gray;
}

#passwordCanvas {
	width: 400px;
	margin: auto auto;
	margin-top: 40px;
}
#passwordCanvas TABLE {
	width: 100%;
}
#passwordCanvas INPUT[type='password'] {
	width: 100%;
}

.alignRight {
	text-align: right
}

#messageBlock3 {
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
}