@CHARSET "ISO-8859-1";

INPUT {background-image: url(/i/input_bg.png); background-repeat: repeat-x;  }
SELECT {background-image: url(/i/input_bg.png); background-repeat: repeat-x;  }
TEXTAREA {background-image: url(/i/input_bg.png); background-repeat: repeat-x;  }

H1 {font-family: arial; font-size: 14pt; font-weight: bold; padding: 2 2 2 0; margin: 0px}
H3 {font-family: arial; font-size: 10pt; font-weight: bold; padding: 2 2 2 0; margin: 0px}
.ajaxFrames {display: block;}

/* LETTERS */
.letters {border-color: grey; border-style: dotted; border-width: 0 0 1 0; padding-bottom: 2; text-align: center; width: 100%}
a {color: grey; font-family: arial; font-weight: bold; font-size: 9pt; text-decoration: none; padding: 0 2 0 2}
a:hover {background-color: white}

/* PAGING */
#paging {background-color: silver; color: #A7A7A7; font-family: arial; font-weight: bold; font-size: 9pt}
#td1, #td2, #td4, #td5 {width: 50}
#td1, #td2 {text-align: left}
#td3 {text-align: center}
#td4, #td5 {text-align: right}
.active_page {color: black}

/* BUTTONS */
.view_button {background: #E2E2E2 url(/i/silk/find.png) no-repeat 2px; padding-left: 20px}
.edit_button {background: #E2E2E2 url(/i/silk/pencil.png) no-repeat 2px; padding-left: 20px}
.delete_button {background: #E2E2E2 url(/i/silk/delete.png) no-repeat 2px; padding-left: 20px}
.cancel_button {background: #E2E2E2 url(/i/silk/cancel.png) no-repeat 2px; padding-left: 20px}
.save_button {background: #E2E2E2 url(/i/silk/disk.png) no-repeat 2px; padding-left: 20px}
.add_button {background: #E2E2E2 url(/i/silk/add.png) no-repeat 2px; padding-left: 20px}
.find_button {background: #E2E2E2 url(/i/silk/magnifier.png) no-repeat 2px; padding-left: 20px}
.email_button {background: #E2E2E2 url(/i/silk/email_go.png) no-repeat 2px; padding-left: 20px}
.secure_button {background: #E2E2E2 url(/i/silk/lock.png) no-repeat 2px; padding-left: 20px}
.apply_button {background: #E2E2E2 url(/i/silk/overlays.png) no-repeat 2px; padding-left: 20px}
.ok_button {background: #E2E2E2 url(/i/silk/accept.png) no-repeat 2px; padding-left: 20px}
.pause_button {background: #E2E2E2 url(/i/silk/control_pause_blue.png) no-repeat 2px; padding-left: 20px}
.cross_button {background: #E2E2E2 url(/i/silk/cross.png) no-repeat 2px; padding-left: 20px}
.back_button {background: #E2E2E2 url(/i/silk/resultset_previous.png) no-repeat 2px; padding-left: 20px}
.go_button {background: #E2E2E2 url(/i/silk/control_play_blue.png) no-repeat 2px; padding-left: 20px}
.map_button {background: #E2E2E2 url(/i/silk/map.png) no-repeat 2px; padding-left: 20px}
.book_button {background: #E2E2E2 url(/i/silk/book_open.png) no-repeat 2px; padding-left: 20px}
.book_add_button {background: #E2E2E2 url(/i/silk/book_add.png) no-repeat 2px; padding-left: 20px}
.book_edit_button {background: #E2E2E2 url(/i/silk/book_edit.png) no-repeat 2px; padding-left: 20px}
.book_delete_button {background: #E2E2E2 url(/i/silk/book_delete.png) no-repeat 2px; padding-left: 20px}
.print_button {background: #E2E2E2 url(/i/silk/printer.png) no-repeat 2px; padding-left: 20px}
.undo_button {background: #E2E2E2 url(/i/silk/arrow_undo.png) no-repeat 2px; padding-left: 20px}
.scroll_button {background: #E2E2E2 url(/i/silk/script.png) no-repeat 2px; padding-left: 20px}
.download_button {background: #E2E2E2 url(/i/silk/application_put.png) no-repeat 2px; padding-left: 20px}
.invoice_button {background: #E2E2E2 url(/i/silk/page_add.png) no-repeat 2px; padding-left: 20px}
.db_button {background: #E2E2E2 url(/i/led-icons/database.png) no-repeat 2px; padding-left: 20px}

/* ICONS - WELCOME SCREENS */
#icons a:link, #icons a:visited {opacity:0.6; filter:alpha(opacity=60)}
#icons a:hover{background-color: transparent; opacity:1.0; filter:alpha(opacity=100)}
#welcome H1 {margin: 0px; padding: 0px; font-size: 12pt; font-weight: bold}
#welcome P {font-size: 10pt}