/* ATTENTION!
This is a global style sheet for constant items in Admin Mode and does not affect the public site.
WARNING! This style sheet is edited by the system. Do not change class or id calls! Rather append changes.
ATTENTION! First look in i/fluid for a file containing W.css and use that one for changes.
*/

body{background:#DDD;font-family:arial;font-size:14px;line-height:115%;padding:19;font-family:arial;font-size:14px;line-height:115%;color:#000}

/* TABLE */
.T{border-collapse:collapse}
.T td,.T th{padding:4;vertical-align:top;border-style:solid;border-width:1 0 1 0;border-color:#CCC;color:#000}
.T th{color:#888;text-align:left;letter-spacing:-1}

/* FORM */
select,input{font-size:9pt}

/* TABS */
.TabS{position:absolute;top:0;left:0;border-collapse:collapse;z-index:9990;border:0}
.TabS th{vertical-align:middle;padding:0;background:url(/W/S2.png) repeat-x #EEE 0px 17px;white-space:nowrap;height:19;overflow:hidden;border:0}
.TabS td{padding:0;background:url(/W/S6.png) repeat-x 0px -10px;border:0;height:6;line-height:1%;font-size:1pt}
.TabS a:link,.TabS a:visited,.TabS a:hover,.TabS a.active:link,.TabS a.active:visited,.TabS a.active:hover{height:19;display:block;float:left;text-decoration:none;white-space:nowrap;color:#888;font-size:9pt;padding:4 7 0 8;line-height:100%;font-weight:bold;border-style:dotted;border-width:0 1 0 0;border-color:#CCC;margin:0}
.TabS a.active:link,.TabS a.active:visited,.TabS a.active:hover{color:#FFF;cursor:default;background:url(/W/S2.png) repeat-x #CC0000 0px 17px}
.TabS a:hover{color:#000;background:url(/W/S2.png) repeat-x #FFF 0px 17px}

/* TABS DROPS */ 
.TabP p{z-index:9999;position:absolute;margin:1 0 0 0;background:#EEE;width:170;color:#888;font-size:9pt;padding:0;line-height:110%;border-style:solid;border-width:1 1 0 1;border-color:#888;text-align:left}
.TabP p.TabT{margin:0 0 0 4;background:#FFF;font-size:8pt;padding:6;border-width:1;line-height:110%}
.TabP a:link,.TabP a:visited,.TabP a:hover{display:block;text-decoration:none;white-space:nowrap;color:#888;font-size:9pt;padding:4 6 4 8;line-height:100%;font-weight:bold;border-style:dotted;border-width:0 0 1 0;border-color:#888;font-weight:bold}
.TabP a:hover{background:#FFF;color:#000}
.TabP em{display:block;font-style:normal;margin:0;overflow-y:auto;overflow-x:hidden}

/* MISC */
.W100{width:100%}
.O50{opacity:0.5;filter:alpha(opacity=50);zoom:1}
s{text-decoration:none}
kbd{font-family:arial}
select,input,textarea{font-family:arial;font-size:9pt}
#T_O1 dl{opacity:0.5;filter:alpha(opacity=50);zoom:1;margin:0}
.i{display:none}
.TC{opacity:0.6;filter:alpha(opacity=60);zoom:1;font-size:8pt;line-height:110%}
optgroup{font-style:normal}

/* EDITOR */
#header,#footer{display:none}
.E_b{padding:28 0 38 0;margin:0;overflow-y:hidden}
.E_b form{margin:0}
.E_b select{width:100%}
.E_b iframe{width:100%;height:100%}
.E_b dl{margin:0}
.E_b .T{width:320}
.E_b .E_t{margin:0 0 0 40}
.E_b #E_s{position:absolute;left:0;height:26;width:100%}
.E_b #E_s th{padding:1 9 0 9;white-space:nowrap}
.E_b #E_s td{padding:1 9 0 9;font-size:8pt;width:90%;border-style:solid dotted dotted dotted;border-width:0 1 0 1;border-color:#888}
.E_b #E_s tt{opacity:0.6;filter:alpha(opacity=60);zoom:1;font-size:8pt}
.E_b #ldt{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.8;filter:alpha(opacity=80);zoom:1;z-index:99999;background:#FFF}

/* GIZMOS */
.giz .giztb{width:480}
.giz .giztb th{padding:0 20 0 0}
.giz .T{width:100%}
.giz .T .T{width:400;margin:40 0 40 0}
p.gizSp{border:0;position:relative;border-style:solid;margin:40 40 40 0}
p.gizSp table.gizSt{position:absolute;top:0;left:0;margin:0;border-width:1;border-color:#888;width:100%;height:100%;border-collapse:collapse;zoom:1}
p.gizSp td.gizSd{padding:0;border:0;overflow:hidden;cursor:pointer;vertical-align:middle;text-align:center}

/* TRWacker */
.TRW1{background:#DDDDD4}
.TRW2{background:#D9D9D9}
.TRWH{background:#FFFF88}
