
<link href="/shared/pbar/style.css" rel="stylesheet" type="text/css" media="screen" />
<script language="javascript" type="text/javascript" src="/shared/pbar/prototype.js"></script>
<script language="javascript" type="text/javascript" src="/shared/pbar/progress.js"></script>
<script>
locations = new Array();
<!-- location_array -->
eCount = <!-- location_count -->;
playing = false;
button_value = 'Continue';
location_done = 0;
location_todo = <!-- location_count -->;
</script>
<h1>AA Travel - Location Regeneration</h1>
<p />
<table width=100% >
	<tr valign=top >
		<td width=180px class=field_label >Total Locations </td>
		<td width=400px class=field_value ><!-- location_count --></td>
		<td rowspan=3  >
			<table >
				<tr valign=top >
					<td align=center>
						<div id="demo">
							<script>display('element1',0,1);</script>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class=field_label >Locations Done</td>
		<td class=field_value ><span id=estabDone >0</span></td>
	</tr>
	<tr>
		<td class=field_label >Locations To Go</td>
		<td class=field_value ><span id=estabTodo ><!-- location_count --></span></td>
	</tr>
</table>
<p>&nbsp;</p>
<table width=100% >	
	<tr>
		<td class=field_value align=center><span id=currEstab > </span></td>
	</tr>
</table>
<iframe id=ajax_iframe > </iframe>
<p>&nbsp;</p>
<div width=100% style='float: right'>
<input type=button class=go_button id=play_button value='Start' onClick=toggle_location_generation() /> <input type=button class=view_button value='Toggle iFrame' onClick="toggle_iFrame('ajax_iframe')" />
</div>