<script>
var cache_list = '<!-- cache_list -->';
</script>
<h1>Update Page Generation Cache</h1>
<p />
<table width=100%>
<!-- category_list -->
</table>
<table width=100%>
	<tr valign=top>
		<td width=200px>
			<input type=button class=ok_button value='Next' onClick=cache_update_done(cID,'1') /> <input type=button class=view_button value='Show IFrame' onCLick=document.getElementById('ajax_iframe').style.display='block' />
		</td>
		<td>
			<iframe id=ajax_iframe></iframe>
		</td>
	</tr>
</table>


<script>run_cache_update();</script>