<script type="text/javascript" >
    var theme_list = '!js_list!';
    var theme_done = new Array(1);
</script>
<table width="100%">
    <tr>
        <td><h1>Regenerate Theme Cache</h1></td>
        <td align="right"><input type="button" value="Start" id="start_button" class="go_button" onClick="toggle_cache()" /></td>
    </tr>
</table>
<table width="100%" collpadding="0" cellspacing="0">
    <!-- theme_list -->
</table>
<div ></div>
