@CHARSET "ISO-8859-1";

#ajax_iframe {display: none; width: 100%}

.field_label {font-size: 10pt;font-family: arial, sans-serif; font-weight: bold}
.field_value {font-size: 10pt;font-family: arial, sans-serif}

.line1 {background-color: #d5cec6}
.line2 {background-color: #e3dbd2}