<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/admin_tools/i/configure-128.png align="left" width=100>
        </td>
        <td>
            <b>Administrator Tools</b><br />
            These tools should only be used by administrators. They are generally used to repair or monitor the system.
        </td>
     </tr>
</table>

<hr />
<table width=100%>
    <tr>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=page_cache' class=icons><img src=/modules/admin_tools/i/db-64.png width=64 height=64 border=0 /><br />Page Generation<br /> Cache<br />(AA Travel)</a>
    	</td>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=page_cache_shell' class=icons><img src=/modules/admin_tools/i/db-64.png width=64 height=64 border=0 /><br />Page Generation<br /> Cache<br />(Shell)</a>
    	</td>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=estab_regen' class=icons><img src=/modules/admin_tools/i/organizer-64.png width=64 height=64 border=0 /><br />Regenerate<br />Establishment Pages<br />(AA Travel)</a>
    	</td>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=estab_cache' class=icons><img src=/modules/admin_tools/i/db-64.png width=64 height=64 border=0 /><br />Update<br>Establishment<br>Cache</a>
    	</td>
    </tr>
    <tr>
    	<TD colspan=10>&nbsp;</TD>
    </tr>
    <tr>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=location_regen' class=icons><img src='/modules/admin_tools/i/reload_all_tabs-64.png' width=64 height=64 border=0 /><br />Regenerate<br />Location Pages<br />(AA Travel)</a>
    	</td>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=location_regen_new' class=icons><img src='/modules/admin_tools/i/reload_all_tabs-64.png' width=64 height=64 border=0 /><br />Regenerate<br />Location Pages<br />(New AA Travel)</a>
    	</td>
    	<td align=center>
    		<a href='/modules/admin_tools/tools.php?f=php_info' class=icons><img src='/modules/admin_tools/i/Toolbox-64x64.png' width=64 height=64 border=0 /><br />PHP Info<br />&nbsp;<br />&nbsp;</a>
    	</td>
        <td align=center>
    		<a href='/modules/admin_tools/tools.php?f=theme_cache' class=icons><img src='/modules/admin_tools/i/reload_all_tabs-64.png' width=64 height=64 border=0 /><br />Regenerate<br />Theme Cache<br />&nbsp;</a>
    	</td>
    </tr>
</table>
