<table style='border-color: yellow; border-style: solid; border-width: 1px; width: 100%'>
	<tr>
		<TD colspan=2 style='background-color: yellow; width: 100%; font-weight: bold; font-family: arial'>Confirmation from the AA Travel Guides editorial department</TD>
	</tr>
	<tr>
		<td colspan=2 >
				<p style='font-size: 10pt; font-family: arial'>You recently used the AA Travel Guides administration system to update your listing on our website www.aatravel.co.za. This 
				email is to advise that the changes you requested have been approved and are now live.</p>
				<p style='font-size: 10pt; font-family: arial'>Note that the changes to your listing will show up immediately while changes will only become active on search results 
				pages after an elapsed time of approximately 2 hours.You need take no further action until you wish to make more changes to your listing.</p>

				<p style='font-size: 10pt; font-family: arial'>Thank you for using the AA Travel Guides Administration System.</p>
		</td>
	</tr>
</table>