<h1><!-- establishment_name --></h1>
<br>
<!-- dbase_table -->

<div id="save_button"><input type="button" value="Back" class="back_button" onCLick="document.location='/modules/estab_s/estab.php?f=estab_list'" /></div>