<script src='/shared/trwacker.js'></script>
<table cellpadding=2 cellspacing=0 width=100%>
    <tr>
        <td>Filter: 
            <select onchange=filter(this.value) id=uFilter>
                <option value='all'> None
                <option value='aaqa'>AA Quality Assured</option>
                <option value='active'> Active Establishments
                <option value='suspended'> Suspended Establishments
                <option value='waiting'> Awaiting Approval
		<option value="assessment"> Assessment Approvals
            </select>
        </td>
        <td align=right>
            <input type=text id=searchString name=searchString style='width: 150'> in 
            <select id=searchFilter name=searchFilter>
		<option value='establishmentName'>Establishment Name
                <option value='establishmentCode'>Establishment Code
		<option value="email_address">Email Address
            </select><input type=button class=find_button value='Find' onClick=sFilter() /><input type=button class=cancel_button value='Clear' onClick=sFilter('c') title='Clear Search Results' />
        </td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <tr style='background-color: grey'>
        <TH>&nbsp;</TH>
        <TH>Code</TH>
        <TH>Establishment</TH>
        <TH>Location</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
  		<td>&nbsp;</td>
    	<td><!-- establishment_code --></td>
        <td><!-- establishment_name --></td>
        <td><!-- location --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>
<script>showFilter(); </script>
<script>whack();</script> 