<script>
function check_form() {
	if (document.getElementById('email').value == '' || document.getElementById('firstname').value == '') {
		alert('Please supply an intial contact');
		return false;
	}
	return true;
}
</script>
<h1>New Establishment</h1>
<p>&nbsp;</p>
<form action='' method=post onSubmit="return check_form()" >
<table>
	<tr>
		<td class=field_label >Establishment Code</td>
		<td class=field_label ><input type=text name=establishment_code value='' /> (Leave empty to auto-generate)</td>
	</tr>
	<tr>
		<td class=field_label >Establishment name</td>
		<td><input type=text name=establishment_name value='' style='width: 350px' /></td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=2>Initial User (Required)</td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;First Name:</td>
		<td><input type=text id=firstname name=firstname value=''  style='width: 350px' /></td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;Last Name:</td>
		<td><input type=text name=lastname value=''  style='width: 350px' /></td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;Disignation:</td>
		<td><input type=text name=designation value=''  style='width: 350px' /></td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;Email Address:</td>
		<td><input type=text id=email name=email value='' style='width: 350px'  /></td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;Landline:</td>
		<td><input type=text name=tel value=''  style='width: 350px' /></td>
	</tr>
	<tr>
		<td class=field_label >&nbsp;&nbsp;&nbsp;Cell:</td>
		<td><input type=text name=cell value=''  style='width: 350px' /></td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=2 align=right><input type=submit name=insert_estab value='Save' class=save_button /></td>
	</tr>
</table>

</form>