<script src='/modules/estab_s/html/estab.js'></script>
<div id=busyBar>Updating Establishment<p /><img src='/i/throbber-fast2.gif' /><p />Please Wait</div>
<div id=doneBar>Update Complete (<a href='http://aatravel.co.za<!-- file_name -->' target=_blank >Check Page</a>) <p />
	<input type=button value='Continue' class=ok_button onClick="document.location='/modules/estab_s/estab.php?f=estab_list'" />
</div>
<div id=failBar>Update Failed<p /><input type=button value='Continue' class=ok_button onClick="document.location='/modules/estab_s/estab.php?f=estab_list'" /></div>
