<link href="/modules/estab_s/html/estab.css" type="text/css" rel="stylesheet">
<link href="/shared/shared.css" type="text/css" rel="stylesheet">
<body style='margin: 2px; padding: 0px; background-color: #CCCCCC'>
<div id=tX></div>
<div class=tB>
<form action='' method=post enctype='multipart/form-data'>
<div id=image_block >
	<table width=100% cellpadding=0 cellspacing=0>
		<tr valign=top>
			<td width=100px>
				<!-- image -->
			</td>
			<td>
				<span class=image_header>Uploading Images</span><br />
				<span class=image_body >Images will upload faster when they are smaller. Images used on this website will not exceed 300 
				pixels wide and larger images will automatically be resized.<p />
				Should you have a problem uploading an image you may email the image to <a href='mailto:images@aatravel.co.za'>images@aatravel.co.za</a>. 
				Please make sure to include the establishment name.
				</span>
			</td>
		</tr>
	</table>
</div>
<div id=data_block >
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Image </td>
			<td>
				<inut type='hidden' name='MAX_FILE_SIZE' value='80000' />
				<input type=file style='width: 100%' name=new_image /></td>
				<input type=hidden name=old_image value='<!-- old_image -->' />
		</tr>
		<tr>
			<td>Title </td>
			<td><input type=text style='width: 100%' name=image_title value='<!-- image_title -->' /></td>
		</tr>
		<tr valign=top>
			<td width=100>Description </td>
			<td width=80%><textarea style='width: 100%; height: 40' name=image_description /><!-- image_description --></textarea></td>
		</tr>
		<tr>
			<td colspan=2>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=2 align=right><input type=button value='Cancel' class=cancel_button onClick='parent.close_iframe()' /><input type=submit value='OK' name=updateImage class=ok_button /></td>
		</tr>
	</table>
</div>
</form>
</body>