<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/estab_s/i/gohome-128.png align="left">
        </td>
        <td>
            <b>Manage Establishments</b><br />
            Manage all aspects for establishment data. New establishments can be added, current establishments edited or deleted and 
            client updates approved.
            <ul>
            	<li><!-- update_counter --> establishments have changes awaiting approval</li>
            	<li><!-- overdue_counter --> establishments have been waiting for longer than 48 hours for approval</li>
		<li><!-- assessment_counter --> establishments waiting for assessment approval</li>
            </ul>
        </td>
     </tr>
</table>
<hr />
<table width=100% id=icons>
                <tr>
                	<td align=right>
                		<!-- add_start --><a class=icons href='/modules/estab_s/estab.php?f=estab_add'><img alt="Add an Establishment" src='/modules/estab_s/i/estab_add.png' width=60 height=60 border=0 /></a><!-- add_end -->
                		<!-- edit_start --><a class=icons href='/modules/estab_s/estab.php?f=estab_list'><img alt="Edit an Establishment" src='/modules/estab_s/i/estab_edit.png' width=60 height=60 border=0 /></a><!-- edit_end -->
                	</td>
                </tr>
            </table>
