
<br />
<form action="" method="post" >
<table >
	<tr>
		<td style="font-weight: bold">Starts From</td>
		<td style="width: 200px"><!-- special_start --></td>
		<td style="font-weight: bold">Expires On</td>
		<td><!-- special_end --></td>
	</tr>
	<tr>
		<td colspan=10>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-weight: bold">Name</td>
		<td colspan=3 ><!-- special_name --></td>
	</tr>
	<tr valign=top>
		<td style="font-weight: bold">Description</td>
		<td colspan=3 ><!-- special_description --></td>
	</tr>
	<tr>
		<td colspan=10>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=5 align=right>
			<input type=button name=cancel value='Cancel' class=cancel_button onClick="document.location='/modules/specials/specials.php?f=list_specials&id=<!-- establishment_code -->'" />
			<input type=submit name=delete_special value='Delete Promotion' class=save_button />
		</td>
	</tr>
</table>
</form>