<script language="javascript" src="/shared/CalendarPopup.js"></script>
<script>
var cal2;
var cal3;

function init2() {
	cal2 = new CalendarPopup("calDiv");
	cal2.showNavigationDropdowns();
	cal2.setCssPrefix("AA");
	//cal2.showCalendar('calhere');
	cal2.offsetX = 0;

	cal3 = new CalendarPopup("calDiv");
	cal3.showNavigationDropdowns();
	cal3.setCssPrefix("AA");
	//cal3.showCalendar('calhere2');
	cal3.offsetX = 0;	
}

</script>
<link rel=stylesheet href='/juno/apps/establishment_manager/promotions_manager/CalendarPopup.css'>
<br />
<form action='' method=post >
<table >
	<tr>
		<td>Starts From</td>
		<td><input type=text name=special_start id=special_start value='<!-- special_start -->' onClick="cal2.select(document.getElementById('special_start'),'calhere','yyyy-MM-dd'); return false;" title='The date from when the special offer is effective' readonly /> <span id='calhere'> </span></td>
		<td>Expires On</td>
		<td><input type=text name=special_end value='<!-- special_end -->' id=special_end onClick="cal3.select(document.getElementById('special_end'),'calhere2','yyyy-MM-dd'); return false;" title='The date the special offer expires' readonly /> <span id='calhere2' ></span></td>
	</tr>
	<tr>
		<td colspan=10>&nbsp;</td>
	</tr>
	<tr>
		<td>Name</td>
		<td colspan=3 ><input type=text name=special_name value='<!-- special_name -->' style='width: 600px' title='eg. Valentines Day Special' /></td>
	</tr>
	<tr valign=top>
		<td>Description</td>
		<td colspan=3 ><textarea name=special_description style='width: 600px; height: 100px' title='A long description of the special offer' ><!-- special_description --></textarea></td>
	</tr>
	<tr>
		<td colspan=10>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type=checkbox name=aa_members_only value='1' <!-- aa_members_only --> />This special offer is part of the Bonsela Programme.</td>
	</tr>
	<tr>
		<td colspan=10>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=5 align=right>
			<input type=button name=cancel value='Cancel' class=cancel_button onClick="document.location='/modules/specials/specials.php?f=list_specials&id=<!-- establishment_code -->'" />
			<input type=submit name=save_special value='Save Special Offer' class=save_button />
		</td>
	</tr>
</table>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>
</form>
<script>init2();</script>