/* 
    Document   : establishment
    Created on : 09 Jun 2010, 10:27:04 AM
    Author     : thilo
    Description:
        Shared CSS for establishment managers
*/

/* NOTES */
#notes_container {margin: 10px}
#notes_list {width: 100%; background-color: gray; border-collapse: collapse}
.note_name {width: 100px; vertical-align: top; font-size: 10pt; color: black; border-bottom: dotted 1px black}
.note_date {width: 120px; vertical-align: top; font-size: 10pt; color: black; border-bottom: dotted 1px black}
.note_content {vertical-align: top; font-size: 10pt; color: black; border-bottom: dotted 1px black}
.note_buttons {vertical-align: top; font-size: 10pt; color: black; border-bottom: dotted 1px black; text-align: right}
.note_line {}

