<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/line/aero.css" rel="stylesheet">
<link href="/lib/js/plugins/intl-tel-input-9.0.0/build/css/intlTelInput.css" rel="stylesheet">
<!-- Ladda style -->
<link href="/lib/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- new_company -->:</strong> <!-- company_name --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>

                <a href="/index.php?m=company_management&a=list_companies">Company Management</a>
            </li>
            <li class="active">
                <strong><!-- new_company --></strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form  role="form" method="post" id="editCompanyForm" action="">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <!-- renew_button -->
                    <h4><span class="text-navy"><!-- renewal --></span></h4>
                </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <input type="hidden" name="company_id" id="company_id" class="form-control" value="<!-- company_id -->">

                            <div class="form-group">
                                <label>Company Name:</label>
                                <input type="text" placeholder="Company Name" name="company_name" id="company_name" class="form-control" value="<!-- company_names -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Company Contact:</label>
                                <input type="text" placeholder="Name and Surname" name="company_contact_name" id="company_contact_name" class="form-control" value="<!-- company_contact_name -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Company Contact Number:</label>
                                <input type="text" name="company_contact_number" id="company_contact_number"   class="form-control" value="<!-- company_contact_number -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Company Email:</label>
                                <input type="email" name="company_email" id="company_email" class="form-control" value="<!-- company_email -->" maxlength="50">
                            </div>
                            <div class="row">
                            <div class="form-group col-sm-4">
                                <label><!-- container_singular --> Limit:</label>
                                <input type="number" placeholder="<!-- container_singular -->  Limit" name="keg_limit" id="keg_limit" class="form-control col-sm-4" value="<!-- keg_limit -->" min="1" max="999" >
                            </div>
                            <div class="form-group col-sm-4">
                                <label>User Limit:</label>
                                <input type="number" placeholder="User Limit" name="user_limit" id="user_limit" class="form-control" value="<!-- user_limit -->" min="1" max="999" >
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Device Limit:</label>
                                <input type="number" placeholder="Device Limit" name="device_limit" id="device_limit" class="form-control" value="<!-- device_limit -->" min="1" max="999" >
                            </div>
                            <div class="form-group col-sm-4">
                               <!-- hard_limit -->
                                <input type="hidden" name="hard_limit" id="hard_limit" class="form-control" value="0">
                            </div>
                            </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Delivery Address:</label>
                            <input type="text" placeholder="Street Name" class="form-control" name="delivery_street_name" id="delivery_street_name" style="margin-bottom: 0.4%" value="<!-- delivery_street_name -->" maxlength="50">
                            <input type="text" placeholder="Suburb" class="form-control" name="delivery_suburb" id="delivery_suburb" style="margin-bottom: 0.4%" value="<!-- delivery_suburb -->" maxlength="50">
                            <input type="text" placeholder="Town/City" class="form-control" name="delivery_town" id="delivery_town" style="margin-bottom: 0.4%" value="<!-- delivery_town -->" maxlength="50">
                            <input type="text" placeholder="Postal Code" class="form-control" name="delivery_physical_code" id="delivery_physical_code" value="<!-- delivery_physical_code -->" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label>Invoice Address:</label> <div style="width: 250px" class="pull-right"><input type="checkbox" value="1" name='same_as_physical' id="same" <!-- same_as_physical --> ><label>Same as Physical Address</label></div>
                            <input type="text"  class="form-control addr addr1" name="invoice_street_name" id="invoice_street_name" style="margin-bottom: 0.4%" value="<!-- invoice_street_name -->" maxlength="50">
                            <input type="text"  class="form-control addr addr2" name="invoice_suburb" id="invoice_suburb" style="margin-bottom: 0.4%" value="<!-- invoice_suburb -->" maxlength="50">
                            <input type="text"  class="form-control addr addr3" name="invoice_town" id="invoice_town" style="margin-bottom: 0.4%" value="<!-- invoice_town -->" maxlength="50">
                            <input type="text"  class="form-control addr addr4" name="invoice_physical_code" id="invoice_physical_code" value="<!-- invoice_physical_code -->" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
                <div class="ibox-content p-md" style="display: <!-- hide_initial_user -->">
                    <h2><span class="text-navy">Initial User (Company Administrator)</span></h2>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                                <div class="form-group">
                                    <label>Full Name:</label>
                                    <input type="text" placeholder="Name and Surname" name="user_full_name" id="user_full_name" class="form-control" value="<!-- user_full_name -->" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label>Email Address:</label>
                                    <input type="email" placeholder="" name="user_email_address" id="user_email_address" class="form-control"  value="<!-- user_email_address -->">
                                </div>
                                <div class="form-group">
                                    <label>Contact Number:</label>
                                    <input type="tel"  name="user_contact_numbers" id="user_contact_numbers" class="form-control"   value="<!-- user_contact_numbers -->">
                                </div>
                                <div class="form-group">

                                    <!-- user_job_description -->
                                </div>
                                <div class="form-group" style="margin-top: 5%;">
                                     <!-- creation_date -->
                                    <input type="hidden" name="creation_date" id="creation_date" class="form-control" value="<!-- date -->">
                                </div>
                        </div>

                        <div class="col-sm-6">
                            <!--<div class="form-group">-->
                                <!--<label>Username:</label>-->
                                <input type="hidden" placeholder="Username for logging in" class="form-control" name="user_username" id="user_username"  value="<!-- user_username -->" maxlength="50">
                            <!--</div>-->
                            <div class="form-group">
                                <label>Job description:</label>
                                <input type="text" placeholder="Job Description" class="form-control" name="workplace_description" id="workplace_description" value="<!-- workplace_description -->" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label>Notes:</label>
                                <textarea class="form-control" rows="5" placeholder="Comments regarding user........." name="user_notes" id="user_notes"  style="height: 105px;"><!-- user_notes --></textarea>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="form-group pull-right">
                <button type="button" class="ladda-button btn btn-danger  dim"  data-style="contract" id="cancel">Cancel</button>
                <button type="submit" class="ladda-button btn btn-primary  dim"  data-style="zoom-in" id="save">Save changes</button>
            </div>
        </div>
    </div>
    </form>
    </div>
<script src="/lib/js/plugins/intl-tel-input-9.0.0/build/js/intlTelInput.js"></script>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>

<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<!-- Input Mask-->
<script src="/lib/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- Ladda -->
<script src="/lib/js/plugins/ladda/spin.min.js"></script>
<script src="/lib/js/plugins/ladda/ladda.min.js"></script>
<script src="/lib/js/plugins/ladda/ladda.jquery.min.js"></script>

<script src="/modules/company_management/assets/js/edit_company.js?20160631"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green'
        });
    });
    $("#company_contact_number").intlTelInput("selectCountry", "za");

    $("#company_contact_number").intlTelInput({
        autoHideDialCode: true,
        autoPlaceholder: true,
        preferredCountries: [ "za", "gh" ],
        nationalMode:false,
        initialCountry: "za",
        separateDialCode: false,
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: false,
        // dropdownContainer: "body",
        // excludeCountries: ["us"],
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // initialCountry: "auto",
        // nationalMode: false,
        // numberType: "MOBILE",
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // preferredCountries: ['cn', 'jp'],
        //
        utilsScript: "/lib/js/plugins/intl-tel-input-9.0.0/build/js/utils.js"
    });
    $("#user_contact_numbers").intlTelInput("selectCountry", "za");

    $("#user_contact_numbers").intlTelInput({
        autoHideDialCode: true,
        autoPlaceholder: true,
        preferredCountries: [ "za", "gh" ],
        nationalMode:false,
        initialCountry: "za",
        separateDialCode: false,
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: false,
        // dropdownContainer: "body",
        // excludeCountries: ["us"],
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // initialCountry: "auto",
        // nationalMode: false,
        // numberType: "MOBILE",
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // preferredCountries: ['cn', 'jp'],
        //
        utilsScript: "/lib/js/plugins/intl-tel-input-9.0.0/build/js/utils.js"
    });
</script>

