<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong> Company Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=company_management&a=list_companies">Company Management</a>
            </li>
            <li class="active">
                <strong>Company List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <span class="text-muted small pull-right">   <button type="button" class="btn btn btn-primary  btn-sm dim" id="create_company"> <i class="fa fa-plus-square-o"></i> Create Company</button></span><br><br><br>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" id="activeCompany"><a data-toggle="tab" href="#activeCompanyTab"> Enabled Companies</a></li>
                    <li class="" id="inactiveCompany"><a data-toggle="tab" href="#inactiveCompanyTab"> Inactive Companies</a></li>
                </ul>
                <div class="tab-content">
                    <div id="activeCompanyTab" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="activeCompaniesTbl" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>user Name</th>
                                        <th>Day(s) to renewal</th>
                                        <th><!-- container_singular --> Limit</th>
                                        <th>User Limit</th>
                                        <th>Device Limit</th>
                                        <th style="min-width: 2cm"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="inactiveCompanyTab" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="inactiveCompaniesTbl" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>user Name</th>
                                        <th>Day(s) to renewal</th>
                                        <th><!-- container_singular -->  Limit</th>
                                        <th>User Limit</th>
                                        <th>Device Limit</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/company_management/assets/js/list_companies.js?20160620"></script>


