<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- new_container -->:</strong> <!-- container_name --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>

                <a href="/index.php?m=container_management&a=list_containers"><!-- container_singular --> Management</a>
            </li>
            <li class="active">
                <strong><!-- new_container --></strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li class="active" id="editContainer"><a data-toggle="tab" href="#editContainerTab">Edit  <!-- container_singular --></a></li>
                            <li class="" id="ContainerNotes"><a data-toggle="tab" href="#ContainerNotesTab"> Notes</a></li>
                            <li class="" id="ContainerHistory"><a data-toggle="tab" href="#ContainerHistoryTab"><!-- container_singular --> History</a></li>
                        </ul><br><br>

                        <div class="tab-content">
                            <div id="editContainerTab" class="tab-pane active" style="height:100%">
                                <form  role="form" method="post" id="editContainerForm" action="">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <input type="hidden" name="container_id" id="container_id" class="form-control" value="<!-- container_id -->">
                                        <input type="hidden" name="container_singular" id="container_singular" class="form-control" value="<!-- container_singular -->">

                                        <div class="form-group">
                                            <label>Serial Number:</label>
                                            <input type="text" placeholder="Serial Number" name="serial_number" id="serial_number" class="form-control" value="<!-- serial_number -->" maxlength="50" tabindex="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Type:</label>
                                            <!-- container_type -->
                                        </div>
                                        <div class="form-group">
                                            <label><!-- container_singular -->  Current State:</label>
                                            <!-- states -->
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Bar Code:</label>
                                            <input type="text" placeholder="Bar Code" name="bar_code" id="bar_code" class="form-control" value="<!-- bar_code -->" maxlength="50" tabindex="2">
                                        </div>
                                        <label>Capacity:</label>
                                        <div class="input-group">
                                            <input type="number" placeholder="Capacity" name="capacity" id="capacity" class="form-control" value="<!-- capacity -->" maxlength="50" tabindex="4">
                                            <div class="input-group-btn">
                                                <!-- capacity_type -->
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-top: 0.3cm">
                                            <label><!-- container_singular --> Current Stage:</label>
                                            <!-- stages -->
                                        </div>
                                        <div class="form-group">
                                            <label id="contents_label" style="display: none">Select <!-- container_singular -->  Contents:</label>
                                            <!-- contents -->
                                        </div>
                                        <div class="form-group" id="data_1" style="display: none">
                                            <label >Batch Number:</label>
                                                <input type="text" name="batch_no" id="batch_no" class="form-control" value="<!-- batch_number -->" >
                                        </div>
                                        <div class="form-group" style="margin-top: 0.3cm; Display:none" id="clients_div">
                                            <label>Choose Client</label>
                                            <!-- client_list -->
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Notes:</label>
                                            <textarea class="form-control" rows="5" placeholder="Comments........." name="container_notes" id="container_notes"  style="height: 105px;" tabindex="9"><!-- container_notes --></textarea>
                                        </div>
                                        </div>


                                        <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>Notes</h5>
                                                    <div class="ibox-tools">
                                                        <span class="label label-warning-light pull-right"><!-- count --> Messages</span>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div>
                                                        <div class="feed-activity-list">

                                                            <!-- notes_messages -->
                                                        </div>
                                                        <!-- show_more -->
                                                    </div>

                                                </div>
                                            </div>
                                    <div class="form-group pull-left" style="margin-left: 20px;">
                                        <!-- creation_date -->
                                        <input type="hidden" name="update_date" id="update_date" class="form-control" value="<!-- date -->">
                                    </div>
                                    <div class="form-group pull-right" style="margin-right: 20px;">
                                        <button class="btn btn-danger  dim" type="button" id="cancel" tabindex="11"> Cancel</button>
                                        <button class="btn btn-primary  dim" type="submit" id="save" tabindex="10">Save changes</button>
                                    </div>
                                    </div>
                                    </form>
                            </div>
                            <div id="ContainerNotesTab" class="tab-pane" style="height:100%">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>  Notes</h5>
                                            <div class="ibox-tools">
                                                <span class="label label-warning-light pull-right"><!-- count --> Messages</span>
                                            </div>
                                        </div>
                                        <div class="ibox-content">

                                            <div>
                                                <div class="feed-activity-list">
                                                    <!-- full_notes -->
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="ContainerHistoryTab" class="tab-pane" style="height:100%">

                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>  History</h5>
                                        </div>
                                        <div class="ibox-content inspinia-timeline">
                                                <!-- history_list -->

                                        </div>
                                    </div>
                                </div>

                    </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Data picker -->
<script src="/lib/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/modules/container_management/assets/js/edit_container.js?20160620"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>


