<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/buttons.dataTables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/select.dataTables.min.css" rel="stylesheet">
<link href="/lib/css/plugins/datapicker/angular-datapicker.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/line/aero.css" rel="stylesheet">
<link href="/lib/js/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet">
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong> <!-- container_singular --> Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=container_management&a=list_containers"><!-- container_singular --> Management</a>
            </li>
            <li class="active">
                <strong><!-- container_singular --> Import</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3><i class="fa fa-upload fa-2x"></i>  Import <!-- container_singular --> Data</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="post" enctype="multipart/form-data" id="importCsvForm">
                                <div style="" class="alert alert-info">
                                    NOTE: Import requires a specific CSV format, Download the template document below to ensure a successful import.
                                    <i class="glyphicon glyphicon-download"></i> <a href="/uploads/container_import_template.csv" class="link">Download Template CSV file</a><br>
                                    Only CSV files are supported. Maximum file size allowed is 10MB.
                                </div>
                                <div class="form-group">
                                    <label for="uploadFile">Upload File</label>
                                    <input type="file" name="subscribers_csv" id="uploadFile">
                                </div>
                                <button type="button" class="btn btn-default" id="importCsvBtn" onclick="uploadFile2()">Start Import</button>
                            </form>

                            <div id="uploadCSVBar" style="display: none" class="panel panel-success">
                                <div class="panel-body">
                                    <b>Uploading</b>: <span id="CSVProgress">0</span>% Complete of <span id="CSVSize">0</span>MB
                                    <div class="progress" id="CSVProgressBar">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" style="height: 50px">
                                    <div id="CSVResult" style="display: none" class="pull-left">

                                    </div>
                                    <button type='button' id="CSVContinueButton" class="btn btn-success pull-right" style="display: none" onclick="continueImport()">Continue</button>
                                </div>
                            </div>

                            <div id="uploadCSVInProgress" style="display: none" class="panel panel-success">
                                <div class="panel-body">
                                    <b>Importing</b>: <span id="CSVImportProgress">0</span>% of <span id="CSVTotalCount">0</span> entries
                                    <div class="progress" id="CSVImportProgressBar">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-success">
                                        Success: <span id="successRate">0</span><br>
                                        <span id="successFile"></span>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-info" style="text-align: center">
                                        Duplicate: <span id="duplicateRate">0</span><br>
                                        <span id="duplicateFile"></span>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-danger" style="text-align: right">
                                        Bad entry: <span id="badRate">0</span><br>
                                        <span id="badFile"></span>
                                    </div>
                                </div>
                                <div id="downloadMessage" style="text-align: center; display: none; font-weight: bold; margin-bottom: 20px" class="text-warning">
                                    NOTE: Right Click -> Save As to download result files.
                                </div>
                                <div class="panel-footer" style="height: 50px; text-align: center; font-weight: bold;">
                                    <div id="CSVImportResult" class="text-danger">
                                        Import in progress. Do NOT close this window.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- iCheck -->
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/lib/js/moment.js"></script>
<script src="/lib/js/plugins/sweetalert2/sweetalert2.min.js" defer></script>
<script src="/lib/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/modules/container_management/assets/js/import_containers.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green'
        });
        $('.file-box').each(function() {
            animationHover(this, 'pulse');
        });

    });
</script>




