<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/buttons.dataTables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/select.dataTables.min.css" rel="stylesheet">
<link href="/lib/css/plugins/datapicker/angular-datapicker.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/line/aero.css" rel="stylesheet">
<!-- Sweet Alert -->

<style>
    td.details-control {
        background: url('/assets/images/details_unchecked.PNG') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/assets/images/details_checked.PNG') no-repeat center center;
    }

    .floatMenu {
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 220px;
        height: 80px;
        z-index: 999;
        background-color: white;
        padding: 20px;
        padding-right: 32px;
    }
</style>

<link href="/lib/js/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet">
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div id="menuBar2" class='navbar navbar-default navbar-fixed-top floatMenu' style="display: none">
    <input type="hidden" name="container" id="container2" value="<!-- container_singular -->">
    <input type="hidden" name="stage" id="stage2" value="<!-- stage_singular -->">
    <input type="hidden" name="state" id="state2" value="<!-- state_singular -->">
                        <span class="text-muted small pull-right">
                            <div class="btn-group" role="group" style="display: none" id="stage_list2">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-arrow-right"></i> Update  <!-- state_singular -->
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- state_list -->
                                </ul>
                            </div>

                            <div class="btn-group" role="group" style="display: none" id="state_list2">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-arrow-right"></i> Update <!-- stage_singular -->
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- stage_list -->
                                </ul>
                            </div>
                            <button type="button" id="clearButton2" class="btn btn-primary btn-sm dim" onclick="resetSelection()" style="display: none" >
                                <i class="fa fa-check-square-o"></i> Clear Selection
                            </button>
                            <!-- import_button -->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-download"></i> Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li id="pdf2"><a >PDF Report</a></li>
                                    <li id="csv2"><a >CSV Report</a></li>
                                    <li id="excel2"><a > EXCEL Report</a></li>
                                    <li id="copy2"><a >Copy & Paste Report</a></li>
                                    <li id="print2"><a >Print Entire Report</a></li>
                                </ul>
                            </div>
                            <!-- create_container_button -->
                        </span>
</div>

<div class="modal fade inmodal" id="productSelectModal" style="display: none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Product</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id='serial' name='serial' value='0'>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="product" class="">Select Product</label>
                                <select class="form-control" id="product" onchange="setDates(this.value)">
                                    <option value="0">Select Product</option>
                                    <!-- product_options -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fillDate">Fill Date</label>
                                <input type="text" class="form-control" id="fillDate" onchange="setDates()">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="batchNo">Batch Number</label>
                                <input type="text" class="form-control" id="batchNo" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sellBy">Best Before Date</label>
                                <input type="text" class="form-control" id="sellBy" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="expireDate">Expiry Date</label>
                                <input type="text" class="form-control" id="expireDate" placeholder="">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id='expiry_days' value='<!-- expiry_days -->'>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="updateContainerProducts($('#serial').val())">Save
                    changes
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade inmodal" id="clientSelectModal" style="display: none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">To Whom was it delivered?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id='container_id' name='container_id' value='0'>
                    <div class="form-group">
                        <select class="form-control" id="client">
                            <option value="0">Select Client</option>
                            <!-- client_options -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deliveryDate">Delivery Date</label>
                        <input type="text" class="form-control" id="deliveryDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                        onclick="updateContainerClients($('#container_id').val())">Save changes
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong> <!-- container_singular --> Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=container_management&a=list_containers"><!-- container_singular --> Management</a>
            </li>
            <li class="active">
                <strong><!-- container_singular --> List</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div id="menuBar">
                            <input type="hidden" name="container" id="container" value="<!-- container_singular -->">
                            <input type="hidden" name="stage" id="stage" value="<!-- stage_singular -->">
                            <input type="hidden" name="state" id="state" value="<!-- state_singular -->">
                        <span class="text-muted small pull-right">
                            <div class="btn-group" role="group" style="display: none" id="stage_list">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-arrow-right"></i> Update  <!-- state_singular -->
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- state_list -->
                                </ul>
                            </div>

                            <div class="btn-group" role="group" style="display: none" id="state_list">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-arrow-right"></i> Update <!-- stage_singular -->
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- stage_list -->
                                </ul>
                            </div>
                            <button type="button" id="clearButton1" class="btn btn-primary  btn-sm dim" onclick="resetSelection()" style="display: none">
                                <i class="fa fa-check-square-o"></i> Clear Selection
                            </button>
                            <!-- import_button -->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-download"></i> Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li id="pdf"><a >PDF Report</a></li>
                                    <li id="csv"><a >CSV Report</a></li>
                                    <li id="excel"><a > EXCEL Report</a></li>
                                    <li id="copy"><a>Copy & Paste Report</a></li>
                                    <li id="print"><a >Print Entire Report</a></li>
                                </ul>
                            </div>
                            <!-- create_container_button -->
                        </span>
                        </div>
                        <br><br><br>
                        <div>
                            <ul class="nav nav-tabs">
                                <li class="active" id="activeContainer" onclick="clearSelectedID(this.id)"><a data-toggle="tab" href="#activeContainerTab">
                                    Usable <!-- container_singular --></a></li>
                                <li class="" id="inactiveContainer" onclick="clearSelectedID(this.id)"><a data-toggle="tab" href="#inactiveContainerTab">
                                    Out of Circulation <!-- container_singular --></a></li>
                            </ul>

                            <div class="tab-content">
                                <input type="hidden" name="company_name" id="company_name"
                                       value="<!-- company_name -->">
                                <div id="activeContainerTab" class="tab-pane active">
                                    <br>
                                    <table id="activeContainerTbl"
                                           class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Serial Number</th>
                                            <th>Bar Code</th>
                                            <th>Type</th>
                                            <th><!-- stage_singular --></th>
                                            <th>Location</th>
                                            <th>Last Edit</th>
                                            <th>Product</th>
                                            <th>Current <!-- state_singular --></th>
                                            <th>Capacity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="inactiveContainerTab" class="tab-pane">
                                    <table id="inactiveContainerTbl"
                                           class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Serial Number</th>
                                            <th>Bar Code</th>
                                            <th>Type</th>
                                            <th><!-- stage_singular --></th>
                                            <th>Location</th>
                                            <th>Date</th>
                                            <th>Product</th>
                                            <th>Current <!-- state_singular --></th>
                                            <th>Capacity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="dateFormat" value="<!-- date_format -->">

<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.buttons.min.js"></script>
<script src="/lib/js/plugins/dataTables/pdfmake.min.js"></script>
<script src="/lib/js/plugins/dataTables/vfs_fonts.js"></script>
<script src="/lib/js/plugins/dataTables/buttons.html5.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.select.min.js"></script>

<script src="/lib/js/moment.js"></script>
<script src="/lib/js/plugins/sweetalert2/sweetalert2.min.js" defer></script>
<script src="/lib/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/modules/container_management/assets/js/list_containers.js?20160712"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green'
        });
    });
</script>




