<style type="text/css">

	.moduleTable {
		width: 100%;
	}
	
	
	.moduleName {
		text-transform:capitalize;
		font-variant:small-caps;
		background-color: silver;
		width: 100%;
		cursor: pointer;
	}
	
	.hidden {
		display: none;
		border-collapse: collapse;
	}
	
	.show {
		display: block;
		border-collapse: collapse;
	}
</style>
<script type="text/javascript">
	/**
	 * Opens and closes the module lists
	 */
	function toggleList(mod) {
		blk = document.getElementById(mod);
		if (blk.className == 'show') {
			blk.className = 'hidden';
		} else {
			blk.className = 'show';
		}
	}
</script>
<table id="tp">
		<tr valign="top">
			<th rowspan="2">
				<img src='/modules/content_manager/i/webexport-64.png'>
			</th>
			<td width=99%>
				<tt>
					<b>Update Area Settings</b><br>
					Provide a descriptive name for the area and set the content type. Each content type
					will have it's own set of settings that can be set in the editor panel.
				</tt>
			</td>
		</tr>
</table>
<form action='' method='post'>
<input type="submit" value="Save Settings" class="save_button" >
<input type="button" value="Close" class="cancel_button" onCLick="close_settings('!id!','!Eid!','!W!','!Aid!')">
<hr>
	<table  class='W100'>
		<tr>
			<td width="100px">Area Name</td>
			<td><input name='area_name' type=text value='!area_name!' class='W100' ></td>
		</tr>
		<tr valign="top">
			<td>Area Type</td>
			<td><!-- area_type --></td>
		</tr>
	</table>
</form>