<script type="text/javascript">
	editor_features = [!editor_features!];
</script>
<script type="text/javascript" src='/shared/Editor_new/scripts/innovaeditor.js'></script>
<script type="text/javascript" src='/modules/content_manager/js/web_template_content.js'></script>
<br>
<form action="" method="post" >
<textarea id=template_content name=template_content ><!-- content --></textarea>
<script>oEdit1.REPLACE('template_content')</script>

<table style='width: 100%'>
	<tr>
		<th style="text-align: right">
			<input type='button' value="Cancel" class="cancel_button" onClick="parent.WMN(!WR!);parent.WD(!W!)" >
			<input type='submit' value="Save" class="save_button" >
		</th>
	</tr>
</table>
	<input type=hidden name=new_Eid value=0>
	</form>



