<!--
	Version: $Id: administration_user.html 11 2011-02-27 09:17:07Z thilo $
	-->
	<h1>Administration User</h1><hr>
	<tt>Enter details of the initial administration user.</tt><br>
	<tt><!-- message --></tt><br>
	<form action="" method="post">
	<table class="ds_table">
		<tr>
			<th>
				First Name
			</th>
			<td>
				<input type="text" class="w100" value="" name="firstname" >
			</td>
		</tr>
		<tr>
			<th>
				Last Name
			</th>
			<td>
				<input type="text" class="w100" value="" name="lastname" >
			</td>
		</tr>
		<tr>
			<th>
				Email
			</th>
			<td>
				<input type="text" class="w100" value="" name="email" >
			</td>
		</tr>
		<tr>
			<th>
				Username
			</th>
			<td>
				<input type="text" class="w100" value="" name="username" >
			</td>
		</tr>
		<tr>
			<th>
				Password
			</th>
			<td>
				<input type="text" class="w100" value="" name="password" >
			</td>
		</tr>
	</table>
		<div id="buttons_bottom">
			<input type="submit" name="administration_user" value="Next" class="go_button">
		</div>
	</form>
