<!--
	Version: $Id: clean_up.html 11 2011-02-27 09:17:07Z thilo $
	-->
	<h1>Cleaning Up</h1><hr>
	<form action="" method="post">
	<table width="100%" id="sysChk">
		<tr>
			<td>
				Database File Unwritable<br>
				<tt>The file containing the Database settings needs to be unwritable.
					If Modularus failed to set the file privileged, you well need to do it manually.<br>
					The database file is located at '/settings/database.php'. </tt>
			</td>
			<td align="right">
				<!-- database_file_writable -->
			</td>
		</tr>
		<tr>
			<td>
				Remove Installation Directory<br>
				<tt>The installation directory needs to be deleted. If Modularus failed to remove
					it, you need to delete the directory manually.<br>
					The instalation directory is located at '/installer/'
				</tt>
			</td>
			<td align="right">
				<!-- remove_installer -->
			</td>
		</tr>
	</table>
	<div id="buttons_bottom">
		<input type="button" name="" value="Finish" class="go_button" onCLick="parent.location = '/admin'">
	</div>
	</form>

