<!--
	Version: $Id: database_structure.html 11 2011-02-27 09:17:07Z thilo $
-->

<h1>Creating Database Structure</h1><hr>
<table class="dst_table">
	<!-- table -->
</table>
<form action="" method="post">
		<div id="buttons_bottom">
		<input type="submit" name="database_structure" value="Next" class="go_button">
	</div>
</form>