<!--
Version: $Id: database_settings.html 11 2011-02-27 09:17:07Z thilo $
-->
<H1>Database Settings</H1><hr>
<tt>The database user must have create privileges. You can edit the database file after install to change to a more secure user.</tt><br>
<tt><!-- message --></tt><br>
<form action="" method="post">
<table class="ds_table">
	<tr>
		<th>
			Database Server
		</th>
		<td>
			<input type="text" class="w100" value="!db_server!" name="db_server" >
		</td>
	</tr>
	<tr>
		<th>
			Database Name
		</th>
		<td>
			<input type="text" class="w100" value="!db_name!" name="db_name" >
		</td>
	</tr>
	<tr>
		<th>
			Database Username
		</th>
		<td>
			<input type="text" class="w100" value="!db_username!" name="db_username" >
		</td>
	</tr>
	<tr>
		<th>
			Database Password
		</th>
		<td>
			<input type="text" class="w100" value="!db_password!" name="db_password" >
		</td>
	</tr>
</table>
	<div id="buttons_bottom">
		<input type="submit" name="database_settings" value="Next" class="go_button">
	</div>
</form>
