<!--
	Version: $Id: modularus_settings.html 11 2011-02-27 09:17:07Z thilo $
	-->
	<h1>Modularus Settings</h1><hr>
	<form action="" method="post">
	<table class="ms_table">
		<tr>
			<td>
				<b>Enable content approval system</b>
			</td>
			<td align="right">
				<input type="checkbox" value="single" name="approval_system" onClick="as_toggle(this.checked)" >
			</td>
		</tr>
		<tr id="ms_as1" class="hide" valign="top">
			<th class="indent">
				<b>Single superior approval</b><br>
				<tt>Only one person in a users immediate up-line needs to approve content before going live.</tt>
			</th>
			<th align="right">
				<input type="radio" value="single" name="approval_system_type" checked >
			</th>
		</tr>
		<tr  id="ms_as2" class="hide" valign="top">
			<th class="indent">
				<b>Full superior approval</b><br>
				<tt>All people in a users immediate up-line need to approve content before going live.</tt>
			</th>
			<th align="right">
				<input type="radio" value="all" name="approval_system_type" >
			</th>
		</tr>
		<tr >
			<th class="lst"></th>
			<th align="right" class="lst"></th>
		</tr>
	</table>
		<div id="buttons_bottom">
			<input type="submit" name="modularus_settings" value="Next" class="go_button">
		</div>
	</form>
