<!--
Version: $Id: system_check.html 11 2011-02-27 09:17:07Z thilo $
-->
<h1>System Check</h1><hr>
<table width="100%" id="sysChk">
	<tr>
		<td>
			Database File Writable<br>
			<tt>The file containing the Database setting needs to be writable by the installer.<br>After instalation the
				file should be made non-writable again.<br>The database file is located at /settings/database.php. </tt>
		</td>
		<td align="right">
			<!-- database_file_writable -->
		</td>
	</tr>
	<tr>
		<td>
			PHP Version<br>
			<tt>This version of Modularus needs at least PHP version 5 to run.<br>The currently installed version is <!-- version --></tt>
		</td>
		<td align="right">
			<!-- php_version -->
		</td>
	</tr>
	<tr>
		<td>
			MySQL Version<br>
			<tt>This version of Modularus needs at least MySQL version 5 to run.<br>The currently installed version is <!-- mversion --></tt>
		</td>
		<td align="right">
			<!-- mysql_version -->
		</td>
	</tr>
	<tr>
		<td>
			PDO Available<br>
			<tt>This version of Modularus needs PHP's PDO functions. Future versions of Modularus may support
				additional databases (eg. postgreSQL, ORACLE, SQLite). The PDO functions are vital for future development.
				<br>The currently installed version is <!-- pdo_version --></tt>
		</td>
		<td align="right">
			<!-- mysql_version -->
		</td>
	</tr>
</table>
<div id="buttons_bottom">
	<form action="" method="post">
	<input type="button" value="Refresh" class="refresh_button" onCLick="document.location='/installer/install.php'" <!-- refresh_disabled --> >
		   
			<input type="submit" name="database_settings" class="go_button" value="Next" onCLick="document.location='/installer/install.php'" <!-- next_disabled -->>
	</form>
</div>