<link rel=stylesheet href=/shared/shared.css>
<table width=100% id=welcome>
    <tr valign=top>       
        <td>
            <h1>New Administration System</h1>
            <p>We will soon be implementing a new administration system with easier access, added features and better interface.
				The AA Travel Guides development team has been designing and developing a new administration system since August
				2010 and is in the final stages of development before releasing a public beta(test) version. 
			    </p>
        </td>
     </tr>
     <tr>
     	<td colspan=2>&nbsp;</td>
     </tr>
     <tr>
		 <td></td>
	 </tr>
	 <tr>
		 <td align="center">
			 <form action="" method="post">
			 <table style="width: 400px; background-color: #AAA; font-family: arial; font-size: 10pt">
				 <tr>
					 <td>
						 <input type="checkbox" name="signup" >Please contact me when you switch over to the new system<br>
						 <input type="checkbox" name="beta" >I would like to help by testing a beta version
					 </td>
				 </tr>
				 <tr>
					 <td align="right">
						 <input type="submit" name="save_data" value="Save" >
					 </td>
				 </tr>
			 </table>
			 </form>
		 </td>
	 </tr>
</table>

