<table style='border-color: yellow; border-style: solid; border-width: 1px; width: 100%'>
	<tr>
		<TD colspan=2 style='background-color: yellow; width: 100%; font-weight: bold'>AA TRAVEL GUIDES - ADMINISTRATION SYSTEM</TD>
	</tr>
	<tr>
		<td colspan=2 >
				Attention: <!-- name -->,<p />
				You have been setup to access the AA Travel Guides administration system or you have requested your access details be sent to you.<br /> 
				Your login details are displayed below.
		</td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td style='width: 100px'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Server:</td>
		<td style='width: 80%'><!-- server --></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username:</td>
		<td><!-- username --></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password:</td>
		<td><!-- password --></td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
</table>


