<h1>Access Privileges for <!-- account_name --></h1>
<p />
<script src='/shared/trwacker.js'></script>
<table width=100% cellpadding=2 cellspacing=0>
    <tr>
        <td align=right>
            <select id=templates><option value=''>Select Access Template</option><!-- template_list --></select><input type=button class=apply_button value='Apply Template' onClick=apply_template('<!-- id -->',document.getElementById('templates').value,'<!-- new -->') />
        </td>
    </tr>
</table>
<form action='' method=post>
<table cellpadding=0 cellspacing=0 id=TRW  width=100%>
    <tr>
        <th colspan=2 class=divider></th>
    </tr>
    <!-- line_start -->
    <tr>
        <td class=sublevel><!-- name --></td>
        <td align=right><input type=checkbox name='access[]' value='<!-- box_name -->' <!-- checked -->/></td>
    </tr>
    <!-- line_end -->
    <tr>
        <th colspan=2 class=divider></th>
    </tr>
</table>
<table width=100% cellpadding=2 cellspacing=0>
    <tr>
        <td align=right>
        	<input type=hidden name=id value='<!-- id -->'></input>
            <input type=button value='   Cancel' class=cancel_button onCLick='document.location="/modules/login/login_list.php?f=access"' /> 
            <input type=submit value='   Save' name=updateAccess class=save_button />
        </td>
    </tr>
</table>
</form>
<script>whack();</script>