<script src='/shared/trwacker.js'></script>
<script src='/modules/login/html/account_list.js'></script>

<div class=letters>
    <a href='/modules/login/login_list.php?f=<!-- f -->'>[All]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=a'>[A]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=b'>[B]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=c'>[C]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=d'>[D]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=e'>[E]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=f'>[F]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=g'>[G]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=h'>[H]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=i'>[I]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=j'>[J]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=k'>[K]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=l'>[L]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=m'>[M]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=n'>[N]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=o'>[O]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=p'>[P]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=q'>[Q]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=r'>[R]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=s'>[S]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=t'>[T]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=u'>[U]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=v'>[V]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=w'>[W]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=x'>[X]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=y'>[Y]</a>
    <a href='/modules/login/login_list.php?f=<!-- f -->&filter=z'>[Z]</a>
    
</div>
<table cellpadding=0 cellspacing=0 width=100%>
    <tr>
        <td>Filter: 
            <select onchange=filter(this.value) id=uFilter>
                <option value='all'> None
                <option value='staff'> Staff
                <option value='clients'> Clients
            </select>
        </td>
        <td align=right><input type=text id=searchString name=searchString style='width: 150'><input type=button class=find_button value='Find''onClick=sFilter('<!-- f -->')></td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW onmouseover='whack()'>
    <tr style='background-color: grey'>
        <TH>Name</TH>
        <TH>Email</TH>
        <TH>Type</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
        <td><!-- name --></td>
        <td><!-- email --></td>
        <td><!-- type --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>
<script>showFilter();</script>

