INPUT, SELECT {background-image: url(/i/input_bg.png)}
H1 {font-family: arial; font-size: 14pt; font-weight: bold; padding: 2 2 2 0; margin: 0px}
.ajaxFrames {display: block;}

/* LETTERS */
.letters {border-color: grey; border-style: dotted; border-width: 0 0 1 0; padding-bottom: 2; text-align: center; width: 100%}
a {color: grey; font-family: arial; font-weight: bold; font-size: 9pt; text-decoration: none; padding: 0 2 0 2}
a:hover {background-color: white}

/* PAGING */
#paging {background-color: silver; color: #A7A7A7; font-family: arial; font-weight: bold; font-size: 9pt}
#td1, #td2, #td4, #td5 {width: 50}
#td1, #td2 {text-align: left}
#td3 {text-align: center}
#td4, #td5 {text-align: right}
.active_page {color: black}

/* BUTTONS */
.view_button {background: #E2E2E2 url(/i/silk/find.png) no-repeat 2px; padding-left: 20px}
.edit_button {background: #E2E2E2 url(/i/silk/pencil.png) no-repeat 2px; padding-left: 20px}
.delete_button {background: #E2E2E2 url(/i/silk/delete.png) no-repeat 2px; padding-left: 20px}
.cancel_button {background: #E2E2E2 url(/i/silk/cancel.png) no-repeat 2px; padding-left: 20px}
.save_button {background: #E2E2E2 url(/i/silk/disk.png) no-repeat 2px; padding-left: 20px}
.add_button {background: #E2E2E2 url(/i/silk/add.png) no-repeat 2px; padding-left: 20px}
.find_button {background: #E2E2E2 url(/i/silk/magnifier.png) no-repeat 2px; padding-left: 20px}
.email_button {background: #E2E2E2 url(/i/silk/email_go.png) no-repeat 2px; padding-left: 20px}
.secure_button {background: #E2E2E2 url(/i/silk/key_go.png) no-repeat 2px; padding-left: 20px}
.apply_button {background: #E2E2E2 url(/i/silk/overlays.png) no-repeat 2px; padding-left: 20px}


/* VIEW ACCOUNT */
#vTa {border-color: grey; border-style: solid; border-width: 1; background-color: #BBBBBB}
#vTa TD {border-color: grey; border-style: dotted; border-width: 0 0 1 0}
#vTa .td1, #vTa .td2 {background-color: #A7A7A7; font-family: arial; font-size: 10pt; font-weight: bold}
#vTa .td2 {background-color: #BBBBBB; font-weight: normal;}
.logsDiv {background-color: white; width: 100%; height: 200; border-color: grey; border-style: inset; border-width: 2; overflow: auto;}
#logsTable {width: 100%}
#logsTable TD {font-family: monospace; font-size: 8pt;}
#logsTable .col1 {background-color: #E2E2E2;}
#logsTable .col2 {background-color: #F4F4F4; border-color: grey; border-style: dotted; border-width: 0 1 0 1}

/* EDIT ACCOUNT */
.addEstab {top: 140px; left: 70px; width: 300; height: 250; display: none; position: absolute; padding: 0px; border-color: silver; border-width: 2px; border-style: outset}
#tX {padding: 2 2 4 2; text-align: right}
#tX a {font-size: 22pt; font-weight: bold; font-family: monospace; color: silver}
#tX a:hover {color: grey; cursor: pointer; background-color: transparent}
.tB {background-color: #DDDDDD; height: 216; border-color: silver; border-width: 2px; border-style: inset}

/* MANAGE ACCESS */
.level_header {text-align: left; padding-left: 0pt; font-family: arial; font-size: 12pt; font-weight: bold;}
.level_subheader {text-align: left; padding-left: 20pt; font-family: arial; font-size: 10pt; font-weight: bold;}
.sublevel {text-align: left; padding-left: 40pt; font-family: arial; font-size: 10pt; font-weight: normal;}
.divider {height: 2px; background-color: grey}