<h1>Edit Staff Account</h1>
<form action='' method=post>
<table width=100% id=vTa cellpadding=2 cellspacing=0>
    <tr>
        <td class=td1>Name: </td>
        <td class=td2 colspan=7><input type=text name=firstname value='<!-- firstname -->' /><input type=text name=lastname value='<!-- lastname -->' /></td>
    </tr>
    <tr>
        <td class=td1>Email: </td>
        <td class=td2><input type=text name=email value='<!-- email -->' /></td>
        <td>&nbsp;</td>
        <td class=td1>Tel: </td>
        <td class=td2><input type=text name=tel value='<!-- tel -->' /></td> 
        <td>&nbsp;</td>
        <td class=td1>Cell: </td>
        <td class=td2><input type=text name=cell value='<!-- cell -->' /></td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    	<td colspan=20><input type=checkbox name=assessor <!-- assessor_check --> value=1 />AA Travel Guides Assessor</td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    	<td colspan=20><input type=checkbox name=sales_rep <!-- rep_check --> value=1 />Sales Representative</td>
    </tr>
</table>
<table width=100% cellpadding=2 cellspacing=0>
    <tr>
        <td align=right>
            <input type=button value='   Cancel' class=cancel_button onCLick='document.location="/modules/login/login_list.php?f=list"' /> 
            <input type=submit value='   Save' name=updateAccount class=save_button />
        </td>
    </tr>
</table>
</form>