<table cellpadding=1 cellspacing=1 width="100%">
	<tr style="background-color: grey;">
		<td><strong>Name</strong></td>
		<td><strong>Email</strong></td>
		<td><strong>Username</strong></td>
		<td>&nbsp;</td>
	</tr>
	<!-- $data -->
</table>