<script src='/shared/trwacker.js'></script>
<script src='/modules/login/html/account_list.js'></script>
<h1>Manage Templates</h1>
<p />
<table cellpadding=0 cellspacing=0 width=100% id=TRW >
    <tr style='background-color: grey'>
        <TH>Template Name</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
        <td><!-- name --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<script>whack();</script>