<h1>Create Access Template</h1>
<p />
<script src='/shared/trwacker.js'></script>
<form action='' method=post>
<table width=100% cellpadding=2 cellspacing=0>
    <tr>
        <td>
            Template Name: <input type=text name='template_name' value='<!-- template_name -->' style='width: 300px' />
        </td>
    </tr>
</table><br />
<table cellpadding=0 cellspacing=0 id=TRW  width=100%>
    <tr>
        <th colspan=2 class=divider></th>
    </tr>
    <!-- line_start -->
    <tr>
        <td class=sublevel><!-- name --></td>
        <td align=right><input type=checkbox name='access[]' value='<!-- box_name -->' <!-- checked --> /></td>
    </tr>
    <!-- line_end -->
    <tr>
        <th colspan=2 class=divider></th>
    </tr>
</table>
<table width=100% cellpadding=2 cellspacing=0>
    <tr>
        <td align=right>
            <!-- save_start --><input type=button value='Cancel' class=cancel_button onCLick='document.location="/modules/login/login_list.php?f=access"' /> <!-- save_end -->
            <input type=submit value='Save' name=<!-- button_name --> class=save_button />
        </td>
    </tr>
</table>
</form>
<script>whack();</script>