<h1>View Staff Account</h1>
<table width=100% id=vTa cellpadding=2 cellspacing=0>
    <tr>
        <td class=td1>Name: </td>
        <td class=td2 colspan=4><!-- name --></td>
        <td>&nbsp;</td>
        <td class=td1>Access Type: </td>
        <td class=td2>Staff</td>
    </tr>
    <tr>
        <td class=td1>Email: </td>
        <td class=td2><!-- email --></td>
        <td>&nbsp;</td>
        <td class=td1>Tel: </td>
        <td class=td2><!-- tel --></td>
        <td>&nbsp;</td>
        <td class=td1>Cell: </td>
        <td class=td2><!-- cell --></td>
    </tr>
    <tr>
        <td colspan=6>&nbsp;</td>
        <td class=td1>Last Login: </td>
        <td class=td2><!-- last_login --></td>
    </tr>
</table>
<hr>
<table width=100%>
    <tr>
        <td><div class=logsDiv><!-- logs --></div></td>
    </tr>
    <tr>
        <td align=right>
            <input type=button value='   Return' class=cancel_button onCLick='document.location="/modules/login/login_list.php?f=list"'>
        </td>
    </tr>
</table>