<img src=/modules/login/i/login_icon.png align="left">
<b>Account Manager</b><br>
Manage access to the administration panel. Accounts can be created, destroyed, blocked and unblocked. Access to functions can be individualy assigned.  
<br>
<br>
<hr>
<div style='float: right'><!-- add_start --><img src='i/add_client.png' title='Add a New Client Account' width=60 border=0 onclick="document.location='/modules/login/login_list.php?f=add&id=client'" style='cursor: pointer''><img src='i/add_user.png' title='Add a New Staff Account' width=60 border=0 onclick="document.location='/modules/login/login_list.php?f=add&id=staff'" style='cursor: pointer''><!-- add_end --><!-- edit_start --><img src='i/edit_user.png' title='Edit Accounts''width=60 border=0 onclick="document.location='/modules/login/login_list.php?f=list'" style='cursor: pointer'><!-- edit_end --></div>
