<script src='/shared/trwacker.js'></script>


<table cellpadding=0 cellspacing=0 width=100%>
	<tr>
		<input type=button class=back_button value='Back' onClick='document.location="/modules/feedback_c/feedback.php"' /><input type=button class=cancel_button onclick=cI() value='Close' />
	</tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <tr style='background-color: grey'>
        <TH>&nbsp;</TH>
        <TH>Visitor</TH>
        <TH>Date</TH>
        <TH>Status</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
        <td><!-- status --></td>
        <td><!-- name --></td>
        <td><!-- date --></td>
        <td><!-- status_text --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>
<script>whack();</script>

