<table style='border-color: yellow; border-style: solid; border-width: 1px; width: 100%'>
	<tr>
		<TD colspan=2 style='background-color: yellow; width: 100%; font-weight: bold'>AA TRAVEL GUIDES - ADMINISTRATION SYSTEM</TD>
	</tr>
	<tr>
		<td colspan=2 >
				The following client comment was added to the feedback system.
		</td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Client Name:</td>
		<td><!-- client_name --></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Client Email:</td>
		<td><!-- client_email --></td>
	</tr>
	<tr valign=top>
		<td style='width: 100px'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment:</td>
		<td style='width: 80%'><!-- comment --></td>
	</tr>
	<tr>
		<td colspan=2><hr /></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Establishment:</td>
		<td><!-- establishment --></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guest:</td>
		<td><!-- guest_name --></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feedback date:</td>
		<td><!-- feedback date --></td>
	</tr>
	<tr valign=top>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guest comment:</td>
		<td><!-- guest_comment --></td>
	</tr>
	<tr>
		<td colspan=2>&nbsp;</td>
	</tr>
</table>