<script src='/shared/trwacker.js'></script>

<h1>Feedback for <!-- establishment_name --></h1>
<h3><!-- location --></h3>
<form action='' method=post>
<table id=fVw>
    <tr valign=top>
        <td>
            <table id=fVd cellpadding=2 cellspacing=0>
                <tr>
                    <td class=td1>From </td>
                    <td class=td2><!-- feedback_name --></td>
                </tr>
                <tr>
                    <td class=td1>Date </td>
                    <td class=td2><!-- feedback_date --></td>
                </tr>       
                <tr>
                    <td class=td1>Status </td>
                    <td class=td2><!-- feedback_status --></td>
                </tr>
            </table>            
        </td>
        <td>
            <table id=fVd cellpadding=2 cellspacing=0>
                <tr>
                    <td class=td1>Email </td>
                    <td class=td2><!-- guest_email --></td>
                </tr>
                <tr>
                    <td class=td1>Visit Date </td>
                    <td class=td2><!-- visit_date --></td>
                </tr>       
                
            </table>    
            
        </td>
    </tr>
    <tr valign=top>
    	<td>
    	<table cellpadding=2 cellspacing=0 id=vC>
                <tr>
                    <td class=td1>Visitor Comment</td>
                </tr>
                <tr>
                    <td class=td2><span class=fB><!-- feedback_message --></span></td>
                </tr>                
            </table>
    	</td>
    	<td>
    	<table cellpadding=2 cellspacing=0 id=eR>
                <tr>
                    <td class=td1>Your Comment</td>
                </tr>
                <tr>
                    <td class=td2>
                    	<textarea style='width: 100%; height: 100px' name=eComment ><!-- reply --></textarea>
                    	<div class=fB>Your comments will be published together with the guest comment. 
                    	Please do not use this comment to contact the guest. An email address is supplied if available.
                    	<p style='color: brown; font-size: 9pt'>
                    		Note: Adding a comment to hidden reviews will automatically make them visible to the public.
                    		However, you may keep the guest review hidden and send the comment to AA Travel Guides by clicking the button labeled
                    		'Send to AA Travel Guides'.
                    	</p>
                    	</div>
                    </td>
                </tr>                
            </table>
    	</td>
    </tr>
</table>

<table id=TRW cellspacing=0 cellpadding=2>
    <tr>
       <th>&nbsp;</th>
       <th>Excellent</th>
       <th>Very Good</th>
       <th>Good</th>
       <th>Average</th>
       <th>Poor</th>
       <th>Pathetic</th>
    </tr>
    <!-- line_start -->
    <tr>
       <td><!-- feedback_item --></td>
       <td class=star><!-- feedback_value5 --></td>
       <td class=star><!-- feedback_value4 --></td>
       <td class=star><!-- feedback_value3 --></td>
       <td class=star><!-- feedback_value2 --></td>
       <td class=star><!-- feedback_value1 --></td>
       <td class=star><!-- feedback_value-1 --></td>
    </tr>
    <!-- line_end -->
</table>
<hr />
<div class=bottom_buttons><input type=button class=back_button value='Back' onClick='document.location="/modules/feedback_c/feedback.php?f=list&id=<!-- establishment_code -->"'> 
<input type=button class=cancel_button onclick=cI() value='Close' />
<input type=submit name=send_comment class=email_button value='Send To AA Travel Guides'>
<input type=submit name=save_comment class=save_button value='Save Comment'>
</div>
</form>
<script>whack();</script>