<script src='/shared/trwacker.js'></script>
<table width=100% id=welcome>
    <tr valign=top>
        <td>
            <img src=/modules/feedback_c/i/groupevent-128.png align="left" width=128px>
        </td>
        <td>
            <h1>Guest Feedback</h1>
            <p>On the following pages you can see which guest feedback has been received for your establishment online via <a href='http://www.aatravel.co.za'>www.aatravel.co.za</a>.</p> 
            <p>Note our policy is to publish good feedback and to hold back any unfavourable feedback until we get your input.
            If you do not respond within 1 month of the feedback being entered it will automatically go live. </p>
            
            <p>You can opt in to receiving email 
            alerts when feedback about your establishment is submitted by guests.</p>
            
        </td>
     </tr>
</table>
<hr />
<!-- establishment_list -->
