<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Container States</h5>
                <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" uib-dropdown="">
                    <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                </div></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                <div class="col-sm-4">
                    <div>
                        <canvas id='containers'  width="486" height="226" style="width: 486px; height: 226px;"></canvas>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="">
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td><div style="background-color: #FF6384; width: 20px; height: 20px; margin: 2px;"></div></td>
                                <td>Damaged</td>
                                <td>300</td>
                                <td><button class="btn btn-xs btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td><div style="background-color: #36A2EB; width: 20px; height: 20px; margin: 2px;"></div></td>
                                <td>Scrapped</td>
                                <td>50</td>
                                <td><button class="btn btn-xs btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td><div style="background-color: #FFCE56; width: 20px; height: 20px; margin: 2px;"></div></td>
                                <td>Lost</td>
                                <td>100</td>
                                <td><button class="btn btn-xs btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td><div style="background-color: #FF0000; width: 20px; height: 20px; margin: 2px;"></div></td>
                                <td>Stolen</td>
                                <td>202</td>
                                <td><button class="btn btn-xs btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td><div style="background-color: #00FF00; width: 20px; height: 20px; margin: 2px;"></div></td>
                                <td>Usable</td>
                                <td>40</td>
                                <td><button class="btn btn-xs btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; border-top: 1px solid silver"></td>
                                <td  style="font-weight: bold; border-top: 1px solid silver">Total</td>
                                <td  style="font-weight: bold; border-top: 1px solid silver">692</td>
                                <td  style="font-weight: bold; border-top: 1px solid silver"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        var ctx = $("#containers");
        var data = {
            labels: [
                "Damaged",
                "Scrapped",
                "Lost",
                "Stolen",
                "Usable"
            ],
            datasets: [
                {
                    data: [300, 50, 100, 202, 40],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56",
                        "#FF0000",
                        "#00FF00"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56",
                        "#FF0000",
                        "#00FF00"
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                legend: {
                    display: false
                }
            }
        });
    })
</script>