@charset "UTF-8";
@import "default.css";

.level1_suffix {
background-color: navy;
width: 100px;
}
.level1_suffix A {
color: black;
}

.level2_suffix {
background-color: blue;
width: 100px;
}
.level2_suffix A {
color: black;
}

.level3_suffix {
background-color: blue;
width: 100px;
}
.level3_suffix A {
color: black;
}

