

.editTable {
	width: 95%;
}
SELECT, INPUT {
	width: 100%;
}

.buttons {
	text-align: right
}


.removeButton {
	font-size: 0.7em;
	color: black;
	margin-left: 5px;
	cursor: pointer
}
.plusButton {
	font-size: 0.7em;
	color: black;
	margin-left: 5px;
	cursor: pointer
}

.menuItem {

}
.menuItem:hover {
	color: white;
}