
<b>Delete: <!-- menu_name --></b><br>

<div style="width: 95%">
<p><span style="color: red; font-weight: bold">Warning:</span> This action cannot be undone and will also remove any sub-menu items.</p>

<p>Are you sure you want to delete this menu item?</p>

<div class="buttons">
	<button onclick="deleteItem(<!-- menu_id -->)">Delete Menu Item</button>
</div>
</div>