
<b>Editing: <!-- menu_display_name --></b>
<table class="editTable">
	<tr>
		<td>Menu Item Name</td>
		<td>
			<input type="text" value="<!-- menu_name -->" name="menuName" id="menuName" >
		</td>
	</tr>
	<tr>
		<td>Menu Item Link</td>
		<td>
			<input type="text" value="<!-- menu_link -->" name="menuLink" id="menuLink" >
		</td>
	</tr>
	<tr>
		<td>Parent Item</td>
		<td>
			<select name="parent" id="parent" class="icon-menu"><!-- parent_list --></select>
		</td>
	</tr>
	<!-- attach_product -->
	<tr>
		<td colspan="2" class="buttons">
			<button onclick="submitItem(<!-- menu_id -->, 1)">Update Menu</button>
		</td>
	</tr>
</table>