<script type="text/javascript" src="/shared/CalendarPopup.js"></script>
<script type="text/javascript">
	var change_flag = false;
	var cal2 = new CalendarPopup("calDiv");
	cal2.showNavigationDropdowns();
	cal2.setCssPrefix("AA");
	cal2.autoHide();

	var fRun = true;
	var cL = "<!-- contacts_list -->";

	function check_form() {
		dt = document.getElementById('renewal_date').value;
		if (dt == '') {
			alert('WARNING! No renewal date entered');
			return false;
		} else {
			if (confirm('The renewal date entered is "' + dt + '"\n\nIs this correct?')) {
				return true;
			} else {
				return false;
			}
		}

	}

</script>
<form action='' method=post enctype='multipart/form-data' onSubmit='return check_form()' id='estab_form' >
<h1><!-- establishment_code --> - <!-- establishment_name --> (<!-- location -->)</h1>
<br />
<!-- warning -->
<table width=100% >
	<tr>
		<td class=field_label >Website </td>
		<td><!-- website_url --></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class=field_label >Assessor </td>
		<td class=field_label ><!-- assessor_name --></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class=field_label >QA Entered Date </td>
		<td class=field_label ><!-- entered_date --></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan=10 >&nbsp;</td>
	</tr>
	<tr>
		<td class=field_label >Visit Date </td>
		<td><input type=text name=assessment_date id=assessment_date value='<!-- assessment_date -->' onClick="cal2.select(document.getElementById('assessment_date'),'calhere','yyyy-MM-dd'); return false;" readonly title='Date of Assessment' /><span id=calhere></span></td>
		<td class=field_label >Next Renewal Date </td>
		<td>
			<input type=text name=renewal_date id=renewal_date value='<!-- renewal_date -->' onClick="cal2.select(document.getElementById('renewal_date'),'calhere2','MMM yyyy'); return false;" readonly title='Renewal Date of Assessment' /><span id=calhere2></span>
		</td>
	</tr>
	<tr>
		<td class=field_label >Visit Type </td>
		<td>
			<select name=assessment_type >
				<option>  </option>
				<!-- assessment_type -->
			</select>
		</td>
		<td class=field_label >Proposed Status</td>
		<td >
			<select name=qa_status >
			<option> </option>
				<!-- qa_list -->			
			</select>
		</td>
	</tr>
	<tr>
		<td class=field_label >Proposed Category</td>
		<td colspan=3>
		<select name=proposed_category >
			<option> </option>
			<!-- category_select -->
		</select>
		</td>
	</tr>
</table>
<br />
<div class=block_header onClick=show_block('200') id=header200 onMouseOver=tCM('200',1) onMouseOut=tCM('200',0) >
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td class=hRow >Contact Details</td>
			<td><span id=click_200 class=cMes ></span></td>
			<td align=right><img alt="indicator" src='/i/blank.png' width=16 height=16 class=edit_indicator id=indicator_200 /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content200>
	<div id=contacts> </div>
	<input type="hidden" name=contacts_list id=contacts_list value="" />
</div>


<!-- areas -->

<div class=block_header onClick=show_block('220') id=header220>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Notes</td>
			<td align=right><img alt="Ei" src='/i/blank.png' width=16 height=16 class=edit_indicator id=notes_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content220>
	<table width="100%">
		<tr>
			<td style="width: 90%">
				<textarea id="new_note" style="width: 100%; height: 30px" onfocus="clear_note()" onBlur="unclear_note()" >Type note here and click add</textarea>
			</td>
			<td style="vertical-align: bottom; text-align: right; width: 200px">
				<input type="button" value="Cancel" class="cancel_button" id="cancel_button" onclick="cancel_note()"><br>
				<input type="button" value="Add Note" class="note_button" id="add_button" onclick="add_note()" name="">
			</td>
		</tr>
	</table>
	<hr style="width: 90%">
	<input type="hidden" name=notes id=notes value="">
	<div id="notes_container" >
		<div id="new_notes"></div>
		<!-- notes -->
	</div>
</div>

<input type=hidden name='change_list' id=change_list value='' />
<input type=hidden name='change_list2' id=change_list2 value='' />
<input type=hidden name='id' value='!assessment_id!' />
<div id=save_button>
	<input type=button class=cancel_button value='Close' onClick=cI() /> 
	<!-- buttons -->
</div>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>

</form>
</form><div id=contact_form > </div>
<script type="text/javascript">
	show_block('200');

	populate_contact_list();
</script>
<!-- scripts -->