<h1>Assessment for <!-- establishment_name --> (<!-- location -->)</h1>
<br />
<table width=100% >
	<tr>
		<td class=field_label >Website </td>
		<td><!-- website_url --></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class=field_label >Assessor </td>
		<td class=field_label ><!-- assessor_name --></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan=10 >&nbsp;</td>
	</tr>
	<tr>
		<td width=150px class=field_label>Assessment Date: </td>
		<td class=field_label style='font-weight: bold'><!-- assessment_date --></td>
		<td width=150px class=field_label>Renewal Date: </td>
		<td class=field_label style='font-weight: bold'>
			<!-- renewal_date -->
		</td>
	</tr>
	<tr>
		<td class=field_label>Visit Type: </td>
		<td class=field_label style='font-weight: bold'>			
			<!-- assessment_type -->
		</td>
		<td class=field_label>Status: </td>
		<td  class=field_label style='font-weight: bold'>
			<!-- status -->
		</td>
	</tr>
	<tr>
		<td class=field_label>Category: </td>
		<td colspan=3 class=field_label style='font-weight: bold'>
			<!-- category -->
		</td>
	</tr>
</table>
<br />
<!-- areas -->
<div class=block_header onClick=show_block('220') id=header220>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Notes</td>
			<td align=right><img alt="Ei" src='/i/blank.png' width=16 height=16 class=edit_indicator id=notes_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content220>
	
	<input type="hidden" name=notes id=notes value="">
	<div id="notes_container" >
		<div id="new_notes"></div>
		<!-- notes -->
	</div>
</div>
<div id=save_button>
	<input type=button class=cancel_button value='Close' onClick=cI() />
	<input type=button name='welcome_pack' class=email_button value='Resend Welcome Pack' onClick='document.location="/modules/assessment_s/assessor_s.php?f=welcome_pack&code=!code!&id=!id!"' /> 
	<input type=button class=print_button value='View/Print Certificate' onCLick="window.open('/certificates/!certificate_name!.pdf','!certificate_name!','')" />
	<input type=button class=print_button value='View/Print Report' onCLick="window.open('/reports/!report_name!.pdf','!report_name!','')" />
</div>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>
