@CHARSET "ISO-8859-1";
LI {padding-bottom: 20px}


/* ASSESSMENTS */
LI .file {list-style-type: none;}

/* RESULT LIST */
#TRW {width: 100%; border-color: grey; border-style: solid; border-width: 0px}
#TRW TH {font-size: 9pt; font-weight: bold; background-color: silver}
#TRW TD {font-size: 8pt;}
#TRW .star {text-align: center;}

.block_header {width: 100%; height: 20; background-color: silver; border-color: #000; border-style: dotted; border-width: 0 0 1 0; margin-bottom: 2px;padding: 0 0 0 2; font-weight: bold;}
.block_header TD, .block_header_active TD {font-weight: bold; font-size: 11pt}
.block_header_active {width: 100%; height: 20; background-color: yellow; font-weight: bold; border-color: #000; border-style: dotted; border-width: 1 1 0 1; font-weight: bold; padding: 2 0 0 2}
.edit_indicator {padding-right: 2px}
.cMes {color: black; font-size: 8pt; font-style: italic; padding-left: 10px}
.hRow {width: 400px}
.field_label {font-size: 10pt;font-family: arial, sans-serif}
.block_content {width: 100%; display: none; border-color: #000; border-style: dotted; border-width: 0 1 1 1; margin-bottom: 5px; background-color: #D3D3D3}
.block_content TEXTAREA {width: 100%; height: 120px}
#save_button {text-align: right}
.approved_assessment {font-weight: bold; color: green; font-size: 20pt; text-align: center; }
.disapproved_assessment {font-weight: bold; color: red; font-size: 20pt; text-align: center; }
#contact_form, #invoice_form {display: none; position: absolute; width: 350px; height: 250px; top: 150px; left: 300px; background-color: silver; border-color: black; border-style: solid; border-width: 2px}
#contact_form TABLE, #invoice_form TABLE {width: 100%}
#contact_list TH {font-weight: bold; font-size: 8pt; background-color: gray}
#contact_list TD {font-weight: bold; font-size: 8pt}

.warning {color: red; background-color: white; width: 80%; margin: auto auto; text-align: center; margin-bottom: 10px}

/* CALENDAR */
.AAcpYearNavigation,
.AAcpMonthNavigation
		{
		background-color:#6677DD;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.AAcpDayColumnHeader,
.AAcpYearNavigation,
.AAcpMonthNavigation,
.AAcpCurrentMonthDate,
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDate,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDate,
.AAcpCurrentDateDisabled,
.AAcpTodayText,
.AAcpTodayTextDisabled,
.AAcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.AAcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #6677DD;
		border-width:0 0 1 0;
		}
.AAcpCurrentMonthDate,
.AAcpOtherMonthDate,
.AAcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.AAcpCurrentMonthDate
		{
		color:#6677DD;
		font-weight:bold;
		}
.AAcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.AAcpOtherMonthDate
		{
		color:#808080;
		}
TD.AAcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #6677DD;
		border-width:1;
		border:solid thin #000000;
		}
TD.AAcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin #FFAAAA;
		}
TD.AAcpTodayText,
TD.AAcpTodayTextDisabled
		{
		border:solid thin #6677DD;
		border-width:1 0 0 0;
		}
A.AAcpTodayText,
SPAN.AAcpTodayTextDisabled
		{
		height:20px;
		}
A.AAcpTodayText
		{
		color:#6677DD;
		font-weight:bold;
		}
SPAN.AAcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.AAcpBorder
		{
		border:solid thin #6677DD;
		}