
<h1>New Assessment for <!-- establishment_name --> (<!-- location -->)</h1>
<form action='' method=post enctype='multipart/form-data' id='estab_form' >
<p class=approved_assessment >ASSESSMENT APPROVED</p>
<p style='font-weight: bold'>How would you like to communicate with the client?</p>
<div style='padding-left: 50px'>
		<input type=radio name=send_email value=0 id=send_email_0 onClick=toggle_email(1) />
		<label for=send_email_0 onClick=toggle_email(1)>
			Payment outstanding. Send an email to the client and attach the following invoice.
				<div style='padding-left: 25px'><input type=file name=invoice_file /> (Required)</div>			
		</label><br />
			<input type=radio name=send_email value=1 id=send_email_1 onClick=toggle_email(1) />
			<label for=send_email_1 onClick=toggle_email(1)>
				Paid up: Send an email to the client and attach the appropriate QA Logo and PDF certificate.
			</label><p />
			<input type=radio name=send_email value=2 id=send_email_2 onClick=toggle_email(0) />
			<label for=send_email_2 onClick=toggle_email(0)>
				None: Do not send an email to the client.
			</label>
</div>
<p>&nbsp;</p>
<div id=emails>
<p style='font-weight: bold'>Who should receive an email?</p>
<div style='padding: 0 0 0 50px; margin: 0'>
<!-- email_list -->
</div>
<input type=hidden name=id value='!assessment_id!' />
</div>

<div id=save_button ><input type=submit value='Send Email' class=email_button id=email_button /></div>
</form>