<form action='' method=post enctype='multipart/form-data' onSubmit='cover_page()' id='estab_form' >
<h1>New Assessment for <!-- establishment_name --> (<!-- location -->)</h1>
<p class=disapproved_assessment >BELOW STANDARD</p>
<span  style='font-weight: bold'>How would you like to communicate with the client?</span>
<div  style='padding-left: 20px'>
			<input type=radio name=send_email value=1 id=send_email_1 onClick=toggle_email(1) />
			<label for=send_email_1 onClick=toggle_email(1) >
				Send Email. Send a 'below standard' email to the client.
			</label><br />

			<input type=radio name=send_email value=2 id=send_email_2 onClick=toggle_email(0) />
			<label for=send_email_2 onClick=toggle_email(0) >
				None: Do not send an email to the client.
			</label>
</div>
<p>&nbsp;</p>
<div id=emails>
<span  style='font-weight: bold' >Who should recieve an email?</span>
<div style='padding-left: 20px'>
<!-- email_list -->
</div>
</div>

<div id=save_button ><input type=submit value='Send Email' class=email_button name=dissapprove_email id=email_button /></div>
</form>