<table align="left">

  <tbody>
    <tr>
      <td><img src="cid:logoimg"></td>
    </tr>
  </tbody>
</table>
<p>Dear <!-- contact_name --></p>
 
<p>Further to your recent assessment from our assessor <!-- assessor --> it has been decided by the AA Quality Assured Committee that 
your property falls short of the minimum standards required to be endorsed.  All aspects of the assessment have been discussed 
and a report which details the findings of the visit is attached.</p>

<p>Should you require further information please don’t hesitate to contact me on (011) 713-2000.</p>
 
<p>Kind regards</p>
 
<p>Marilynn Cavendish Davies<br />
AA Quality Assured Department Head</p>