<table align="left">

  <tbody>
    <tr>
      <td><img alt="QA Logo" src="cid:logoimg"></td>
    </tr>
  </tbody>
</table><p><b>Dear <!-- contact_name --></b></p>
 
<p>Thank you for being a member of our programme. According to our records our assessor <!-- assessor_name --> visited your property on <!-- visit_date -->. 
However we are not aware of your payment in respect of this visit. If you have not received an invoice for your assessment please contact me at 011 713 2000.</p>
 
<p>As soon as we have proof of payment we will release the report.</p>
 
<p>If your payment has crossed this communication our apologies and please be so kind as to let us have the details as soon as possible.</p>
 
<p>Kind regards</p>
 
<p>Marilynn Cavendish Davies<br />
AA Quality Assured Head Department Head</p>