<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/assessor/i/contents-128.png align="left">
        </td>
        <td>
            <b>Manage Assessments</b><br />
            <p>Tools to approve assessments submitted by assessors</p>
            <ul>
            	<li><!-- waiting_counter --> assessments in approval que</li>
            </ul>
        </td>
     </tr>
</table>
<hr />

<table width=200px id=icons align=right>
    <tr>
    	<!-- <td align=center width=50% >
    		<a class=icons href='/modules/assessment_s/assessor_s.php?f=new_assessment'><img src='/modules/assessor/i/compfile-64.png' width=60 height=60 border=0 /><br />New<br>Assessment</br></a>
    	</td> -->
    	<td align=center>
    		<a class=icons href='/modules/assessment_s/assessor_s.php?f=list_assessments''><img src='/modules/assessor/i/compfile-64.png' width=60 height=60 border=0 /><br>List<br />Assessments</br></a>
    	</td>
    </tr>
</table>
