<h1>Resend Welcome Pack for <!-- establishment_name --> (<!-- location -->)</h1>
<br />
<form action='' method=post >
Who should receive the email?
<div style='padding-left: 20px'><!-- email_list --></div>
<p align=right>
<input type=submit name=send_welcome_pack value='Send Welcome Pack' class=email_button />
</p>
</form>