
/* 
 * c-css by U4EA Technologies - Allan Jardine
 * Version:       1.2.c.1
 * Browser:       Webkit 537.1
 * Browser group: cssA
 */
#fw_header { width: 980px; margin-bottom: 3em; position: relative; margin: 0 auto; }
#fw_header ul { list-style-type: none; }
.forums #fw_header { margin-bottom: 0em; }
#fw_header ul { padding-top: 6px; padding-left: 12px; }
#fw_header li { float: left; padding: 0 3px; }
#fw_header li a { padding: 0 8px; }
#fw_header li a:hover { text-decoration: none; border-bottom: 5px solid #829ac6; }
#fw_header li a.active { border-bottom: 5px solid #4E6CA3; }
#fw_header ul.submenu li a.active,
#fw_header ul.subsubmenu li a.active { border-bottom: 5px solid #829ac6; }
#fw_header ul.submenu, #fw_header ul.subsubmenu { padding-top: 0; margin-top: 1em; }
#fw_header ul.submenu_usage { padding-left: 32px; }
#fw_header ul.submenu_plugins { padding-left: 20px; }
#fw_header ul.submenu_development { padding-left: 23px; }
#fw_header ul.submenu_extras { padding-left: 14px; }
#fw_header ul.submenu_testing { padding-left: 480px; }
#fw_header ul.submenu_styling { padding-left: 80px; }
#fw_header ul.subsubmenu { padding-left: 120px; }
#fw_header ul.submenu li,
#fw_header ul.subsubmenu li { font-size: 80%; }
#fw_header { font-size: 16px; }
#fw_header a { color: #4E6CA3 !important; }
#fw_header h1 { border-bottom: none; font-size: 2em; line-height: 1.45em; vertical-align: middle; color: black; margin-top: 32px; }
#fw_header h1 img { margin-top: -5px; vertical-align: middle; }
#fw_header h1 a { color: black !important; }
#fw_header h1 a:hover { text-decoration: none; }
#header_options { position: absolute; top: -32px; right: 150px; width: 495px; }
#header_options .option { width: 165px; float: left; padding: 12px 0; text-align: center; }
#header_options a:hover { text-decoration: none; }
#header_options .option:hover { background-color: #F5F7FA; }
#header_options div.option img { vertical-align: middle; margin-right: 7px; }
#header_options .option table { margin: 0 auto; }
#header_options .option table td { }
#header_options #options_search { width: 495px; padding: 7px 0; }
#header_options #options_download { }
#options_search input[type='text'] { height: 20px; width: 350px; }
#header_download { position: absolute; top: -8px; right: 0px; width: 220px; height: 36px; text-align: center; background: url('../images/dl_button_220.jpg') no-repeat top left; font-size: 0.9em; padding-top: 13px; }
#header_donate { position: absolute; top: -8px; right: 220px; width: 220px; height: 36px; text-align: center; background: url('../images/donate_button.jpg') no-repeat top left; padding-top: 13px; font-size: 0.9em; }
#header_download a, #header_donate a { color: white; }
#header_download a:hover, #header_donate a:hover { text-decoration: none; }
#dontate_wrapper { border: 1px dotted #A5A5A5; background-color: #FcFcFc; padding: 5px; margin: 0 0em 1.5em 0em; text-align: center; font-size: 0.8em; color: #555; }
#header_advert { position: absolute; top: -32px; right: 0; width: 150px; height: 200px; overflow: visible; background-color: white; }
body .adpacks { }
body .one .bsa_it_ad { background:transparent; border:none; margin:0; text-align:left; color: #999; }
body .one .bsa_it_ad:hover { background-color: #F5F7FA; color: black; }
body .one .bsa_it_ad .bsa_it_i { display:block; padding:0; float:none; margin:0; text-align: center; font-size: 11px !important; }
body .one .bsa_it_ad .bsa_it_d { font-size: 11px !important; }
body .one .bsa_it_ad .bsa_it_i img { padding:0; border:none; }
body .one .bsa_it_ad .bsa_it_t { padding:6px 0 0 0; }
body .one .bsa_it_p { display:none; }
.one .bsa_it_ad { padding: 4px 0 0 0 !important; color: #F5F7FA; }
body #bsap_aplink,body #bsap_aplink:hover { position: absolute; top: 45px; left: 104px; width: 100px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); display:block; font-size:10px; text-decoration: none; }
.css_small { font-size: 75%; line-height: 1.45em; }
.css_vsmall { font-size: 65%; line-height: 1.45em; }
#dt_example #container { margin: 64px auto 30px auto !important; }
