<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="$title">
<meta name="keywords" content="$util.capitalizeWords($town.getName()), Caravanning in $util.capitalizeWords($town.getName()),
Camping in $util.capitalizeWords($town.getName()), Resorts in $util.capitalizeWords($town.getName()), $util.capitalizeWords($town.getName()) Caravanning,
$util.capitalizeWords($town.getName()) Camping, $util.capitalizeWords($town.getName()) Resorts, $util.capitalizeWords($town.getName()) Caravan Parks, 
$util.capitalizeWords($town.getName()) Camping Holidays, $util.capitalizeWords($town.getName()) Outdoor Holidays, $util.capitalizeWords($town.getName()) Outdoor Vacations, 
$util.capitalizeWords($town.getName()) Camp Sites, $util.capitalizeWords($town.getName()) lageraufstellungsorte, $util.capitalizeWords($town.getName()) kampeerterreinen,
$util.capitalizeWords($town.getName()) campings, $util.capitalizeWords($town.getName()) emplacements de caravane, 
$util.capitalizeWords($town.getName()) Wohnwagenaugstellungsorte">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>$title</title>
<link href="../../styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../../scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115">#parse("campcaravan/folder_top.vm")</td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="../../images/left_bg.gif" valign="top">#parse ( "campcaravan/folder_navigation.vm" )</td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                    <tr>
                      <td class="heading">$title</td>
                    </tr>
                  </table>
                  <br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="24"><img src="../../images/icon_previous.gif" width="24" height="24"></td>
                      <td><a href="../${town.getProvince().getFileName()}.html" class="link_red">Back to $util.capitalizeWords($town.getProvince().getName())</a></td>
                    </tr>
                  </table>
                  <br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td class="text">$util.convertHtml($town.getHtmlContent())</td>
                    </tr>
                  </table>
                  <br>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td valign="top"><table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="../../images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Establishments in $util.capitalizeWords($town.getName()) ($estabs.size() Results) </td>
                              <td width="7" align="right"><img src="../../images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        #if ( $estabs.size() > 0 )
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            #foreach ( $estab in $estabs )
                            <tr>
                              <td>#if ( !$estab.getPicture().equals("") && $estab.getThumb().exists() )
                                <img src="http://www.aatravel.co.za/res_images/TN_$estab.getPicture()" title="$util.capitalizeWords($estab.getName())" />
                              #end</td>
                              <td><strong><a href="../establishments/establishment${estab.getCode()}.html" target="_blank" class="link_red">$util.capitalizeWords($estab.getName())</a></strong>
                                #if ( !$estab.getEmail().equals("") )                                - $util.capitalizeWords($town.getName())  accommodation 
                                #end
                                <br>
                              <div id="div_result_content">$estab.getDescription()</div></td>
                            </tr>
                            #end
                          </tbody>
                        </table>
                        #else
						#if ( $prodstruEstabs.size() > 0 )
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            #foreach ( $estab in $estabsProdstru )
                            <tr>
                              <td><a href="../establishments/establishment${estab.getCode()}.html" target="_blank" class="link_red">$util.capitalizeWords($estab.getName())</a>
                                #if ( !$estab.getEmail().equals("") )
                                  - $util.capitalizeWords($town.getName()) accommodation 
                                  #end</td>
                            </tr>
                            #end
                          </tbody>
                        </table>
                        #else
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <tbody>
                            <tr>
                              <td>There are no establishments in this town </td>
                            </tr>
                          </tbody>
                        </table>
                        #end 
						#end                     </td>
                      <td width="150" valign="top">#set ( $townFile = "${town.getFileName()}" )
                        <!-- <table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="../../images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Accomodation</td>
                              <td width="7" align="right"><img src="../../images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                          <tbody>
                            #foreach ( $accomtype in $townAccom )
                            <tr>
                              <td colspan="3"><span class="grey_text"><a href="../accommodation/${townFile}_${accomtype.getFileName()}.html" class="link_red">$util.capitalizeWords($accomtype.getGroupDesc())</a></span></td>
                            </tr>
							#end
                          </tbody>
                        </table> -->
						#if ( $suburbs.size() > 0 )
                        <br>
                        <br>
                        <table width="100%" height="27" border="0" cellpadding="0" cellspacing="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="../../images/dark_corner_left.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                              <td>Suburbs in this town </td>
                              <td width="7" align="right"><img src="../../images/dark_corner_right.gif" alt="AA Travel Guides - Find accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                          <tbody>
                            #foreach ( $suburb in $suburbs )
                            <tr>
                              <td colspan="3"><span class="grey_text"><a href="../accommodation/${suburb.getFileName()}.html" class="link_red">$util.capitalizeWords($suburb.getName())</a></span></td>
                            </tr>
                            #end
                          </tbody>
                        </table>
						#end</td>
                    </tr>
                  </table>
                  <br>
                  <table border="0" align="center" cellpadding="5" cellspacing="0">
                    <tr>
                      <td class="feedback_table">&copy; Copyright 2005/2006 - AA Travel Guides. All rights reserved. </td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
