<div class="listEst">
    <div class="listEstHeader">
        <div class="row">
            <div class="col-xs-8" style="text-align: left"><h3><span class="est_name"><a
                    href="<!-- establishment_link -->" style="color:white;"><!-- establishment_name --> </a></span>
                <br>
                <span class="hidden"
                      style="z-index: 999999; text-align: left"
                      id="restype_<!-- establishment_code -->"><!-- restype_description --></span>
                <u style="cursor:pointer; text-decoration: none; font-size: 0.7em"
                   onmouseout="javascript:document.getElementById('restype_<!-- establishment_code -->').className='hidden'"
                   onmouseover="javascript:document.getElementById('restype_<!-- establishment_code -->').className='restypeDesc'">
                    <!-- restype_name --></u></h3>

            </div>
            <div class="col-xs-4" style="text-align: right"><!-- rooms --></div>
        </div>
    </div>
    <div class="listEstContent">
        <div class="row">
            <div class="col-xs-3" style="text-align: left">
                <a href="<!-- establishment_link -->" style="color:#0770B0;"><img
                        src="http://<!-- host_address -->/image.php?e=<!-- establishment_code -->&bg=EBEBEB"
                        class="img-responsive"></a>
                <!-- accommodation_available -->
            </div>
            <div class="col-xs-9" style="text-align: left">

                <!-- location --><br>
                <!-- establishment_description -->
                <a href="<!-- establishment_link -->" class="listEstLink">Read More...</a>
            </div>
        </div>
    </div>
</div>