<div class="panel panel-default">
    <div class="panel-heading">
        <!-- roomtypename -->
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <!-- roomImage -->
            </div>
            <div class="col-xs-9">
                <!-- description --><hr>
                <!-- prices --><br><hr>
                Max. Guests: <!-- max_guests --><br>
                Child Policy: <!-- childpolicy -->
            </div>
        </div>
    </div>

</div>