<div class="row">
    <h1><!-- page_header --></h1>
    <h4><!-- page_subheader --></h4>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6" style="text-align: right">
                <nav style="height: 40px;" id="establishmentNavigation">
                    <ul class="pagination">
                        <li class="">
                          <span>
                            <span aria-hidden="true" onclick="showNav(0)">&laquo; Previous</span>
                          </span>
                        </li>
                        <!-- navigation -->
                        <li class="">
                          <span>
                            <span aria-hidden="true" onclick="showNav(999)">Next &raquo;</span>
                          </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <span id="establishmentContent"><!-- establishments --></span>
    </div>
    <div class="col-xs-4" style="margin-top: 20px">
        <div class="panel panel-default">
            <div class="panel-heading">Accommodation in <!-- lowest_location --></div>
            <div class="panel-body"><!-- sidebar --></div>
        </div>
    </div>
</div>
<input type="hidden" value="<!-- nav_list -->" id="navList">