<div class="checkAvailability"
     onclick="window.open('https://www.nightsbridge.co.za/bridge/book?nbid=<!-- nbid -->&action=2&bbid=<!-- bbid -->&startdate=<!-- start_date -->&enddate=<!-- end_date -->')">
    <div class="checkButton">Book Now</div>
    <div class="checkFinePrint">Accommodation Available<br>From <!-- start --> to <!-- end --><br>Live Booking System</div>
</div>