td { font-family:Arial; font-size:9pt; color:#000000;}
.copy { font-family:Arial; font-size:9pt; color:#627a8d; font-weight:bold;}
.copyb { font-family:Arial; font-size:9pt; color:#868686;}
.copyc { font-family:Arial; font-size:9pt; color:#000000;}
body { font-family:Arial; font-size:9pt; color:#000000;}

.sublinks {padding-left:18px; background-image:url(../img/bg_sublinks2.png); height:24px;}

h1 {font-family:Times New Roman; color:#FFF; font-size:12pt; padding:0px; margin:0px; font-weight:normal;}
h1:first-letter {font-size:16pt;}
h2 {font-family:Times New Roman; color:#FFF; font-size:12pt; padding:0px; margin:0px; font-weight:normal;}

.greenheading {color:#0b473b;}
.goldheading {color:#ece1c3;}
.subnavigation {font-family:Times New Roman; color:#ece1c3; font-size:10pt;font-weight:normal;}

a img {border:0px}
.searchinput {background:transparent; border:0px; width: 140px; line-height:9pt;}
.searchbg {border:0px; width:223px; padding:0 0px 0 0px;}

div#admin_menu_links{height:20px; padding-top:5px; padding-bottom:5px; background-color:#3f3629; border:#CCCCCC solid 1px; text-align:center; color:#FFFFFF }
div#admin_menu{ background:#3f3629; font-size:12px; text-align:center;}

a:active {color:#113c1f; font-weight: normal; font-weight: bold;}
a:link {color:#113c1f; text-decoration:none; font-weight: bold;}
a:visited {color:#113c1f; text-decoration:none; font-weight: bold;}
a:hover {color:#7e0008; text-decoration:none; font-weight: bold;}

.bottomlink:active {color:#ffffff; font-weight: normal; font-weight: normal; font-size:8pt;}
.bottomlink:link {color:#ffffff; text-decoration:none; font-weight: normal; font-size:8pt;}
.bottomlink:visited {color:#ffffff; text-decoration:none; font-weight: normal; font-size:8pt;}
.bottomlink:hover {color:#113c1f; text-decoration:none; font-weight: normal; font-size:8pt;}

.submenu:active {font-family:arial; color:#e2c7a0; font-weight: normal;}
.submenu:link {font-family:arial; color:#e2c7a0; text-decoration:none; font-weight: normal;}
.submenu:visited {font-family:arial; color:#e2c7a0; text-decoration:none; font-weight: normal;}
.submenu:hover {font-family:arial; color:#ffffff; text-decoration:none; font-weight: normal;}

.pics {border:2px solid #a70101; padding:2px; background:#ffffff;}

.pic {border:solid #e2352c 1px;}
.picb {border:solid #c0c0c0 1px;}
.picc {border:solid #808080 1px;}
.picd {border:solid #ffffff 10px;}

.custombg {background: #dce8f0 url(pics/custombg.jpg) no-repeat}

SELECT { background-color:#ffffff; font-size: 8pt; }
INPUT { background-color:#ffffff; font-size: 8pt; border-color: #000000; border-width: 1px; border-style: solid;}
TEXTAREA { background-color:#ffffff; font-size: 8pt; border-color: #000000; border-width: 1px; border-style: solid;}

.BOXES { background-color:#2a668b; font-size: 8pt; border-width: 0;}
/*Added by Sigal Zahavi for buttons on sport results page*/
a.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(.02, #6e9e7c), color-stop(1, #10301A) );
    background:-moz-linear-gradient( center top, #6e9e7c 2%, #10301A 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e9e7c', endColorstr='#10301A');
    background-color:#6E9E7C;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #1A4227;
    display:inline-block;
    color:#E2C7A0;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528009
}
a.btn:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.02, #10301A), color-stop(1, #6e9e7c) );
    background:-moz-linear-gradient( center top, #10301A 2%, #6e9e7c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#10301A', endColorstr='#6e9e7c');
    background-color:#10301A;
}
a.btn:active {position:relative;top:1px}

.digital_archives {
    color: white;
    border: 1px solid #113C1F;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.5em;

    /* Gradient */
    background: #268a44;
    background: -moz-linear-gradient(top,  #268a44 0%, #204e2e 72%, #204e2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#268a44), color-stop(72%,#204e2e), color-stop(100%,#204e2e));
    background: -webkit-linear-gradient(top,  #268a44 0%,#204e2e 72%,#204e2e 100%);
    background: -o-linear-gradient(top,  #268a44 0%,#204e2e 72%,#204e2e 100%);
    background: -ms-linear-gradient(top,  #268a44 0%,#204e2e 72%,#204e2e 100%);
    background: linear-gradient(to bottom,  #268a44 0%,#204e2e 72%,#204e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268a44', endColorstr='#204e2e',GradientType=0 );
}

.digital_archives:hover {
    color: yellow !important;
    cursor: hand;
}
