#tabs A {
	font-size: 0.6em;
}
.tabHeight {
	min-height: 290px;
}

.messageBlockSave {
	font-size: 0.8em;
	color: blue;
}
.messageBlockSuccess {
	font-size: 0.8em;
	color: green;
}
.messageBlockError {
	font-size: 0.8em;
	color: red;
}