
<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<script src="/lib/js/moment.js"></script>
<script src="/modules/reports/assets/js/customer_usage_report.js"></script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Company Usage Report</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=reports&a=list_reports"> Reports</a>
            </li>
            <li class="active">
                <strong>Company Usage Report</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">
                        <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i>  Export
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                              <li id="pdf"><a href="#">PDF Report</a></li>
                             <li id="csv"><a href="#">CSV Report</a></li>
                             <li id="excel"><a href="#"> EXCEL Report</a></li>
                             <li id="copy"><a href="#">Copy & Paste Report</a></li>
                             <li id="print"><a href="#">Print Entire Report</a></li>
                        </ul>
                      </div>

                    </span><br><br><br>
                    <div class="row">
                        <input type="hidden" name="company_name" id="company_name" value="<!-- company_name -->">
                        <div class="table-responsive">
                        <table id="usageTbl" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Users(Limit)</th>
                                <th><!-- container_plural --> (Limit)</th>
                                <th>Devices (Limit)</th>
                                <th>Expiration</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="<!-- customer_id -->" id="customerID" >

<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
