
<link href="/lib/js/plugins/dataTables/buttons.dataTables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/select.dataTables.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">


<script src="/lib/js/plugins/dataTables/dataTables.buttons.min.js"></script>
<script src="/lib/js/plugins/dataTables/pdfmake.min.js"></script>
<script src="/lib/js/plugins/dataTables/vfs_fonts.js"></script>
<script src="/lib/js/moment.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- container_singular --> Location Report Filtered by: <!-- customer_name --></strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=reports&a=customer_container_location_report"> Reports</a>
            </li>
            <li class="active">
                <strong><!-- container_singular --> Location Report</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h4><span class="text-navy"><!-- container_plural -->  Located at <!-- customer_name -->.</span></h4>
                    <input type="hidden" name="customer_id" id="customer_id" value="<!-- customer_id -->">
                </div>
                <div class="ibox-content p-md">
                    <span class="text-muted small pull-right">
                         <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary  btn-sm dim dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i>  Export
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                             <li id="pdf"><a href="#">PDF Report</a></li>
                             <li id="csv"><a href="#">CSV Report</a></li>
                             <li id="excel"><a href="#"> EXCEL Report</a></li>
                             <li id="copy"><a href="#">Copy & Paste Report</a></li>
                             <li id="print"><a href="#">Print Entire Report</a></li>
                        </ul>
                      </div>
                    </span><br><br><br>

                    <div class="table-responsive">
                        <input type="hidden" name="company_name" id="company_name" value="<!-- company_name -->">
                        <input type="hidden" name="container_singular" id="container_singular" value="<!-- container_singular -->">
                        <table id="locationReportTbl" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Serial Number</th>
                                <th>Bar Code</th>
                                <th>Delivered</th>
                                <th>Stage</th>
                                <th>Contents</th>
                                <th>Capacity</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/modules/reports/assets/js/customer_location_report_filtered.js?20160627"></script>

