<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Reports</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li class="active">
                <a href="/index.php?m=reports&a=list_reports"><strong> Reports</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- container_reports -->
</div>
<script src="/modules/reports/assets/js/list_reports.js?20160627"></script>

