body{cursor:default}
.jinv table{width:100%;border-collapse:collaspe;font-size:14px;margin:0 0 20 0}
.jinv th{color:#555}
.jinv h1{text-align:center;font-size:14pt;margin:0 0 10 0}
u,a{text-decoration:none}
i{font-style:normal}

dfn{display:block;width:100%;border-style:dotted;border-width:0 0 1 0;border-color:#DDD;margin:2 0 2 0;overflow:hidden;height:1}

.jinv_a,.jinv_tb{border-style:solid;border-width:3;border-color:#CCC}
.jinv_a th{background:#F5F5F5}
.jinv_a th,.jinv_a td{border-style:solid;border-width:2 3 0 0;border-color:#DDD #CCC #CCC #CCC;width:50%;padding:4 8 4 8}
.jinv_a input{border:0;background:transparent;padding:0;font-size:14px}
.jinv_a u{font-weight:bold;font-size:9pt;display:block;opacity:0.4;filter:alpha(opacity=40);zoom:1}
.jinv_a i{font-weight:bold;opacity:0.4;filter:alpha(opacity=40);zoom:1}
#j_inv_info,#j_inv_from_contact,#j_inv_to_contact{font-size:9pt;cursor:pointer}
#j_inv_info{border-color:#CCC;border-width:3}
#j_inv_info textarea{width:100%;border:0}

.jinv_tb th,.jinv_tb td{font-size:14px;border-style:solid;border-width:0 1 2 0;border-color:#CCC}
.jinv_tb th{font-weight:bold}
#jinv_h th{font-size:8pt;font-weight:bold;background:#DDD;padding:0 4 0 4;color:#AAA}
#jinvv td{padding:4 8 4 8}
#jinvi th,#jinvv th{width:1;white-space:nowrap;text-align:right;padding:4 8 4 8}
#jinvi div,#jinvv div{font-size:9pt;line-height:110%}
.jdbC input{padding:0;background:transparent;border:0;font-size:14px;margin:0 0 0 -2;width:75}
.jdbW{font-size:8pt;width:80%}
.jdbW a{opacity:0.2;filter:alpha(opacity=20);zoom:1}
.jdbW a:hover{opacity:1;filter:alpha(opacity=100)}
.jdbW div{line-height:100%}
.jdbW em{font-weight:bold;font-size:8pt;display:block;margin:4 0 0 0}
.jinB{width:1;white-space:nowrap;font-weight:normal;text-align:left}
.jinv_w{width:99%}
.jinv_w i{position:relative;display:block}
.jinv_w input{position:absolute;left:-5;top:-2;font-size:7pt}
#jinvi .jdbC,#jinvi .jdbK,#jinvi .jdbB,#jinvi .jdbO,#jinvi .jdbR{cursor:pointer}
#jintt,#jintt td{background:#FFF}
#jintt th,#jintt td{white-space:nowrap;text-align:right;padding:4 8 4 8;border-width:8px 1px 1px 1px;border-color:#CCC;border-style:solid}
#jintt #plb{border-width:8px 1px 1px 8px}
#plb{border-width:2px 1px 1px 8px;border-color:#CCC;border-style:solid}

.jinvcur{display:block;width:100%;margin:-20 0 10 0;text-align:right;font-size:8pt;color:#BBB}
.jinv0,.jinv1,.jinv2,.jinv3,.jinv5,.jinvc,#j_inv_head{cursor:pointer;font-weight:bold}

.jinvinf{font-size:9pt;line-height:110%}
#j_inv_comment{font-size:9pt;margin:10 0 10 0;width:100%;border-style:solid;border-width:3;border-color:#CCC;padding:4}
#j_inv_condition,#j_inv_bank{display:block;padding:8;font-size:9pt;margin:10 3 10 0;border-style:solid;border-width:3;border-color:#CCC;cursor:pointer;line-height:110%}
#j_inv_condition{font-size:8pt}
#j_inv_foot{border-width:3;border-color:#CCC;cursor:pointer;font-size:8pt;line-height:110%;color:#808080}
#j_inv_condition tt,#j_inv_bank tt,#j_inv_foot tt{font-weight:bold;font-size:9pt;opacity:0.3;filter:alpha(opacity=30);zoom:1}
.jinvF{font-size:9pt}
.j_condition,.j_foot{font-size:8pt;line-height:110%}
.j_foot{color:#808080}
.j_cancel{position:absolute;top:200;left:90;opacity:0.5;filter:alpha(opacity=50);zoom:1}

.jlock{font-size:9pt}
.jlock input{float:left;margin:0 4 -4 20}