@CHARSET "ISO-8859-1";

.dBo {width: 478; border-color: grey; border-style: dotted; border-width: 1px; margin: 4px}
.dBo TH {background-color: grey; color: black; font-family: arial; font-size: 12pt; font-weight: bold}
.dBo TD {background-color: #BBBBBB; font-family: arial; font-size: 10pt}