BODY {
	font-family: Arial,Helvetica,sans-serif;
	margin: 0px;
	margin-top: 20px;
}

.headerCanvas {
	width: 980px;
	height: 220px;
	margin: auto auto;
	border: 2px solid red;
	border-bottom: 0px;
	 -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -khtml-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
	background-color: transparent;
	z-index: 1;
}
.headerCanvas IMG {
	position: absolute;
	top: 22px;
	z-index: 3;
}
.headerBackground {
	position: absolute;
	z-index: 2;
	width: 980px;
	height: 220px;
	 -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -khtml-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
	display: none;
}
.headerTitle {
	position: absolute;
	top: 180px;
	left: 400px;
	z-index: 4;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	text-shadow: 1px 1px 1px black;
}



.navigationCanvas {
	padding-top: 8px;
	color: white;
	height: 35px;
	width: 100%;
	background-color: #cc0000;
	-moz-box-shadow: 0px 3px 4px #666;
	-webkit-box-shadow: 0px 3px 4px #666;
	box-shadow: 0px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
	text-align: center;
	font-size: 0.9em;
}
.navigationCanvas UL {
	padding-left: 240px !important;
}
.navigationCanvas li {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
.navigationCanvas A {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.navigationCanvas li:after {
	content: ' |\00a0';
}
.navigationCanvas li:last-child:after {
	content: '';
}

.bodyCanvas {
	min-height: 480px;
	width: 980px;
	margin: auto auto;
	padding-top: 5px;
	font-size: 0.8em;
}
.bodyCanvas A:link,
.bodyCanvas A:visited,
.bodyCanvas A:hover,
.bodyCanvas A:active {
	color: red;
	text-decoration: none;
}
.bodyCanvas TABLE TD {
	font-size: 0.9em;
}

.footerCanvas {
	height: 50px;
	background-color: #cc0000;
	width: 980px;
	margin: auto auto;
	color: white;
	font-size: 0.8em;
	text-align: center;
	padding-top: 4px;
}

.footerCanvas A {
	color: white;
	text-decoration: none;
}

.loginButton {
	background-image: url("/templates/images/button_off.png");
	color: white;
	font-size: 1.3em;
	padding: 4px;
}
.loginButton:hover {
	background-image: url("/templates/images/button_on.png");
}

.alignRight {
	text-align: right;
}
.width100 {
	width: 100%;
}

.loginCanvas {
	
}

.loginCanvas SPAN {
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 0.7em;
	margin-right: 10px;
}

.messageBlockError {
	color: red;
	font-size: 0.8em;
	text-align: center;
	border: 1px dotted #cc0000;
}
.messageBlockOk {
	color: green;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	/*border: 1px dotted #cc0000;*/
}

/* Member Menu */
#membermenu {
	background-color: silver;
	padding: 4px
}

#membermenu TABLE {
	width: 100%;
}
#membermenu A {
	padding: 4px;
	background-color: silver;
	color: #cc0000;
	font-size: 0.9em;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#updateForm TABLE {
	width: 100%;
}
#updateForm INPUT[type='text'], #updateForm TEXTAREA, #updateForm SELECT {
	width: 100%
}

.firstTD {
	width: 200px;
}


.areaCanvas {
	width: 100%;
}

.areaCanvas TR {
	vertical-align: top;
}

.banner {
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	padding: 5px 0px 5px 20px;
	
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0;

	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0;
}

.greenBanner {
	background-color: #5FCA02;
	color: white;
}

.blueBanner {
	background-color: #029FC8;
	color: white;
}

.leftBanner {
	margin-left: 0px;
	margin-right: 20px;
}

.rightBanner {
	margin-left: 20px;
	margin-right: 0px;
}

.areaContent {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 4px;
}

.divider {
	height: 20px;
	border: 0px;
}

/* Registration Form */
#registrationForm TABLE {
	width: 100%;
}
#registrationForm TR {
	vertical-align: top;
}
#registrationForm INPUT[type='text'], 
#registrationForm TEXTAREA,
#registrationForm SELECT,
#registrationForm INPUT[type='password'] {
	width: 100%;
}

/* Contact Form */
#contactTable {
	width: 100%;
}
#contactTable TR {
	vertical-align: top;
}
#contactTable TD {
	width: 50%;
	font-size: 0.8em;
}
#contactForm INPUT,
#contactForm TEXTAREA {
	width: 98%;
}
#contactForm TEXTAREA {
	height: 100px;
}

#aboutPageStructureTable {
	border-collapse: collapse;
}

#aboutPageStructureTable TR {
	border-bottom: 1px solid black;
}

#dialog {
	display: none;
}