<h4>Download or View Certificate</h4>
<tt><b>NOTE!</b> Click on the link below to view the certificate or right click and select 'Save link as...' to download the certificate.</tt>

<div style="text-align: center; font-size: 12pt; margin: 10px 0 30px 0"><a href="!certificate_link!" ><!-- certificate_name --></a></div>

<hr>
<h4>Email Certificate</h4>
<tt><!-- email_message --></tt> <br>
<form action="" method="post">

<table class="jW100">
    <tr valign="top">
        <td>Recipients</td>
        <td><!-- email_list --></td>
    </tr>
    <tr valign="top">
        <td>Subject</td>
        <td><input class="jW100" type="text" name="subject" value="Quality Assurance Certificate for !establishment_name!" ></td>
    </tr>
    <tr valign="top">
        <td>Message</td>
        <td><textarea class="jW100" style="height: 100px" name="message"></textarea></td>
    </tr>
</table>
<br>&nbsp;
<div id=save_button ><input type=submit value='Send Certificate' class=email_button name="save" /></div>
</form>


