<!--
Template for details part of assessment manager in edit mode

Version: $Id: details_staff_edit.html 1183 2011-09-19 10:34:07Z web37 $
-->
<!-- message -->
<form method=post action="" >
    <table class="jW100">
        <tr>
            <td >Website </td>
            <td width="70%"><!-- website_url --></td>
        </tr>
        <tr>
            <td >Assessor </td>
            <td  width="70%" ><!-- assessor_name --></td>
        </tr>
        <tr>
            <td >QA Entered Date </td>
            <td width="70%" ><!-- entered_date --></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>Visit Date </td>
            <td  width="70%"><!-- assessment_date --></td>
        </tr>
         <tr>
            <td>Next Renewal Date </td>
            <td  width="70%">
                <input type=text class="jW100" name=renewal_date id=renewal_date value='<!-- renewal_date -->' title='Requires Value' />
            </td>
        </tr>
        <tr>
            <td >Visit Type </td>
            <td>
                <select name=assessment_type class="jW100">
                    <option>  </option>
                    <!-- assessment_type -->
                </select>
            </td>            
        </tr>
        <tr>
            <td >Proposed Status</td>
            <td >
                <select name=qa_status class="jW100">
                <option> </option>
                    <!-- qa_list -->
                </select>
            </td>
        </tr>
        <tr>
            <td  >Proposed Category</td>
            <td >
            <select name=proposed_category class="jW100" >
                <option> </option>
                <!-- category_select -->
            </select>
            </td>
        </tr>
        <tr>
            <td  >Room Count</td>
            <td >
                <input type="text" name="room_count" value="!room_count!" style="width: 40px" >
            <select name=room_type >
                <option> </option>
                <!-- room_type_select -->
            </select>
            </td>
        </tr>
		<tr>
			<td colspan="10">&nbsp;</td>
		</tr>
		<tr>
            <td >Potential Awards Status</td>
            <td >
                <select name=awards_potential class="jW100">
                <option> </option>
                    <!-- pa_list -->
                </select>
            </td>
        </tr>
		<tr>
            <td >Award Category</td>
            <td >
                <select name=awards_category class="jW100">
                <option> </option>
                    <!-- award_category_list -->
                </select>
            </td>
        </tr>
		<tr>
            <td >Motivation</td>
            <td >
                <textarea name="award_motivation" style='width: 100%; height: 80px'><!-- award_motivation --></textarea>
            </td>
        </tr>
</table>
<hr>
<input type=submit value=Save name="save">
</form>