<!--
Template for details part of assessment manager for assessors in edit mode (Caravan & Camping)

Version: $Id$
-->
<!-- message -->
<div style="font-weight: bold; text-align: center; padding-bottom: 10px; font-size: 16pt" >Caravan & Camping Assessment</div>
<form method=post action="" >
    <table class="jW100">
        <tr>
            <td >Website </td>
            <td width="70%"><!-- website_url --></td>
        </tr>
        <tr>
            <td >Assessor </td>
            <td  width="70%" ><!-- assessor_name --></td>
        </tr>
        <tr>
            <td >QA Entered Date </td>
            <td width="70%" ><!-- entered_date --></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>Visit Date </td>
            <td  width="70%"><!-- assessment_date --></td>
        </tr>
         <tr>
            <td>Next Renewal Date </td>
            <td  width="70%">
                <!-- renewal_date -->
            </td>
        </tr>
        <tr>
            <td >Visit Type </td>
            <td>
                <select name=assessment_type class="jW100">
                    <option>  </option>
                    <!-- assessment_type -->
                </select>
            </td>            
        </tr>
        <tr>
            <td >Proposed Status</td>
            <td >
                <select name=qa_status class="jW100">
                <option> </option>
                    <!-- qa_list -->
                </select>
            </td>
        </tr>
        <!-- <tr>
            <td  >Proposed Category</td>
            <td >
            <select name=proposed_category class="jW100" >
                <option> </option>
                <!-- category_select ->
            </select>
            </td> 
        </tr> -->
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
        <tr>
            <td  >No. of Caravan Sites</td>
            <td >
                <input type="text" name="caravan_sites" value="!caravan_sites!" style="width: 100%" >
            </td>
        </tr>
        <tr>
            <td  >No. of Camping Sites</td>
            <td >
                <input type="text" name="camp_sites" value="!camp_sites!" style="width: 100%" >
            </td>
        </tr>
        <tr>
            <td  >No. of Caravan & Camping Sites</td>
            <td >
                <input type="text" name="caravan_camping_sites" value="!caravan_camping_sites!" style="width: 100%" >
            </td>
        </tr>
</table>
<hr>
<input type=submit value=Save name="save">
</form>