<!--
Template for details part of assessment manager for assessors in view only mode (Caravan & Camping)

Version: $Id$
-->
<!-- message -->
<div style="font-weight: bold; text-align: center; padding-bottom: 10px; font-size: 16pt" >Caravan & Camping Assessment</div>
    <table class="jW100">
        <tr>
            <td >Website </td>
            <td width="70%"><!-- website_url --></td>
        </tr>
        <tr>
            <td >Assessor </td>
            <td  width="70%" ><!-- assessor_name --></td>
        </tr>
        <tr>
            <td >QA Entered Date </td>
            <td width="70%" ><!-- entered_date --></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>Visit Date </td>
            <td  width="70%"><!-- assessment_date --></td>
        </tr>
         <tr>
            <td>Next Renewal Date </td>
            <td  width="70%">
                <!-- renewal_date -->
            </td>
        </tr>
        <tr>
            <td >Visit Type </td>
            <td>
                    <!-- assessment_type_static -->
            </td>            
        </tr>
        <tr>
            <td >Proposed Status</td>
            <td >
                    <!-- qa_list_static -->
            </td>
        </tr>
        <!-- <tr>
            <td  >Proposed Category</td>
            <td >
                <!-- category_select_static ->
            </td>
        </tr> -->
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
        <tr>
            <td  >No. of Caravan Sites</td>
            <td >
                !caravan_sites!
            </td>
        </tr>
        <tr>
            <td  >No. of Camping Sites</td>
            <td >
                !camp_sites!
            </td>
        </tr>
        <tr>
            <td  >No. of Caravan & Camping Sites</td>
            <td >
                !caravan_camping_sites!
            </td>
        </tr>
</table>