<!--
Template for details part of assessment manager in view only mode

version: $Id: details_view_only.html 1183 2011-09-19 10:34:07Z web37 $
-->
<!-- message -->

    <table class="jW100">
        <tr>
            <td >Website </td>
            <td width="70%"><!-- website_url --></td>
        </tr>
        <tr>
            <td >Assessor </td>
            <td  width="70%" ><!-- assessor_name --></td>
        </tr>
        <tr>
            <td >QA Entered Date </td>
            <td width="70%" ><!-- entered_date --></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>Visit Date </td>
            <td  width="70%"><!-- assessment_date --></td>
        </tr>
         <tr>
            <td>Next Renewal Date </td>
            <td  width="70%">
                <!-- renewal_date -->
            </td>
        </tr>
        <tr>
            <td >Visit Type </td>
            <td><!-- assessment_type_static --></td>
        </tr>
        <tr>
            <td >Proposed Status</td>
            <td ><!-- qa_list_static --></td>
        </tr>
        <tr>
            <td  >Proposed Category</td>
            <td ><!-- category_select_static --></td>
        </tr>
        <tr>
            <td  >Room Count</td>
            <td ><!-- room_static --></td>
        </tr>
		<tr>
			<td colspan="10">&nbsp;</td>
		</tr>
		<tr>
            <td  ><!-- pa_static_title --></td>
            <td ><!-- pa_static --></td>
        </tr>
		<tr>
            <td >Award Category</td>
            <td >                
                    <!-- award_category_view -->
            </td>
        </tr>
		<tr>
            <td >Motivation</td>
            <td >
                <!-- award_motivation -->
            </td>
        </tr>
</table>
<hr>

