
<!-- item_start -->
<table class="jW100">
    <tr>
        <td style="font-weight: bold"><!-- heading --></td>
        <td style="text-align: right">
                <!-- rate_static -->
        </td>
    </tr>
</table>
<div class="jW100" style="border: silver 1px solid; font-size: 10pt; font-style: italic"><!-- text --></div>
<table width=100% >
    <tr>
        <td class="jW100">
            <!-- hide_static -->
            <!-- na_static -->
        </td>
    </tr>
</table>
<hr>
<!-- item_end -->



