
<form method=post action="" >
<!-- item_start -->
<table class="jW100">
    <tr>
        <td><!-- heading --></td>
        <td style="text-align: right">
            Rating: <select name="!id!_rate">
                <!-- rating -->
            </select>
        </td>
		<!-- import_button -->
    </tr>
</table>
<textarea name=!id!_text id="!id!_text" class="jW100" style="height: 100px"><!-- text --></textarea>
<table style="width: 100%" >
    <tr>
        
        <td class="jW100"><input type=checkbox name=!id!_hide value='Y' id=!id!_hide !hide! /><label for='!id!_hide' style='padding-right: 20px'>Hide From Client</label>
            <input type=checkbox name=!id!_na value='na' id=!id!_na !na! /><label for='!id!_na' >Not Applicable</label></td>
    </tr>
</table>
<hr>
<!-- item_end -->
<input type=submit value=Save name="save">
</form>


