<tt><b>NOTE: </b>You are about to return an assessment back to the assessor. Please enter a descriptive reason for this in the area provided below.</tt>
<hr>
<form action='' method=post >
    Reason for return<br>
    <textarea name="return_note" class="jW100" style="height: 80px"> </textarea>


<br>&nbsp;
<div id=save_button ><input type=submit value='Continue' class=email_button name="save" /></div>
</form>