<form action='' method=post>
<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/preferences/i/personal-128.png align="left">
        </td>
        <td>
            <b>Notifications</b>
            
			<p class=field_label>Sucessfuly updated </p>
			<table width=100%>
				 <tr>
			     	<td align=right><input type=button value='Continue' class=ok_button onClick='document.location="/modules/preferences/prefs.php"' /></td>
			     </tr>
			</table>
        </td>
     </tr>
</table>
</form>