<form action='' method=post>
<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/preferences/i/personal-128.png align="left">
        </td>
        <td>
            <b>Notifications</b><br />
            <p class=field_label>Please notify me (via email): </p>
			<table width=100% style>
				<tr>
					<td class=field_label>&nbsp;<input type=checkbox name=change_approval <!-- change_approval -->> When requested changes to our listings has been approved. </td>
				</TR>
				<tr>
					<td class=field_label>&nbsp;<input type=checkbox name=feedback <!-- feedback -->> When our listings receive guest feedback.</td>
				</TR>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<TR>
					<TD align=center colspan=2 align=right>
						<input class=cancel_button type=button value='Cancel' onClick='document.location="/modules/preferences/prefs.php"' />&nbsp;
						<input class=save_button type=submit name=update_notifications value='Update Notification Settings' />
					</TD>
				</TR>
			</table>
        </td>
     </tr>     
</table>
</form>