<form action='' method=post>
<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/preferences/i/personal-128.png align="left">
        </td>
        <td>
            <b>Change Your Password</b><br />
            <p class=field_label>Note: The system will not allow you to set password shorter than 6 characters.</p>
			<table width=300 >
				<TR>
					<TD width=130px class=field_label>New Password:</TD>
					<TD width=160px><input type=password name=abd_password value='' style='width: 100%' /></TD>
				</TR>
				<TR>
					<TD class=field_label>Repeat Password:</TD>
					<TD><input type=password name=abd_r_password value='' style='width: 100%' /></TD>
				</TR>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<TR >
					<TD align=center colspan=2 align=right>
						<input class=cancel_button type=button value='Cancel' onClick='document.location="/modules/preferences/prefs.php"' />&nbsp;
						<input class=save_button type=submit name=update_password value='Change Password' />
					</TD>
				</TR>
			</table>
        </td>
     </tr>
</table>
</form>