<table width=100%>
    <tr valign=top>
        <td>
            <img src=/modules/preferences/i/personal-128.png align="left">
        </td>
        <td>
            <b>Preferences</b><br />
            Change the way the administration panel works for you.
            
        </td>
     </tr>
</table>
<hr />
<table width=100% id=icons>
    <tr>
    	<td align=right>
    		<table>
    			<tr valign=top>
    				<td align=center>
    				<a class=icons href='/modules/preferences/prefs.php?f=passw'><img src='/modules/preferences/i/lock-64.png' width=60 height=60 border=0 /><br />Change<br />Password</a>
			    	</td>
			    	<td>
			    		&nbsp;
			    	</td>
			    	<td align=center>
			    		<a class=icons href='/modules/preferences/prefs.php?f=notifications'><img src='/modules/preferences/i/alarmd-64.png' width=60 height=60 border=0 /><br />Notifications</a>
    				</td>
    			</tr>
    		</table>
    	</td>
    </tr>
</table>
