<style>
    BODY {font-family: Arial; font-size: 10pt}
</style>

<p>Dear AA Quality Assured Establishment</p>

<p>Thank you for your support of this programme. In the past year features listed below have been added to the
	programme to increase the marketing benefit that you derive from membership and a recent survey showed
	that despite difficult trading conditions for the accommodation industry, AA Quality Assured member properties
	are faring significantly better than the industry as a whole.</p>


<p>As per the AA Quality Assured terms and conditions, your property will automatically be renewed into our
	system and your renewal date is the <!-- renewal_date --> . The price for the coming year
	is R<!-- category_price --> + VAT R<!-- category_vat --> = R<!-- category_total -->.</p>


<p>Your accredited assessor, <!-- assessor_name --> will be contacting you to make arrangements to carry out the
	assessment visit.</p>

<p>Additional benefits added to this programme in the past year include:

<ul>
	<li>A complimentary, basic listing in the Accommodation Directory published in time for Indaba and
		enthusiastically received by the travel trade.</li>
    <li>Free entry in to the annual Accommodation Awards Programme which is now exclusively
		open to AAQAA establishments (see <a href="http://www.accommodationawards.co.za" >www.accommodationawards.co.za</a>)</li>
    <li>The Bonsela Programme - a no cost method for you to reach some 1 million travellers
		via SA Airlink passengers, Avis clients and AA members to fill distressed inventory.</li>

</ul>
</p>

<p>Please see <a href="http://www.aatravel.co.za/index.php?p=aaqa2" >www.aatravel.co.za/index.php?p=aaqa2</a> for full information about your benefits as part of the
	AA QAA programme.</p>


<p>In order to ensure that suppliers can clearly identify you as a current member of the AA Quality Assured
	Programme please ensure that you display the relevant AA Quality Assured logo on your website and make
	it link back to the page on <A href="<!-- establishment_link -->"><!-- establishment_link --></A> on which your
	listing appears.</p>


<p>Using the AA Signage and displaying your AA Quality Assurance logo is your most powerful tool to
	encourage potential guests to choose your establishment in preference to any other. Please ensure
	that your signage is displayed in a prominent area both electronically on your website, on third party
	websites, on quotations and invoices as well as outside your property, particularly if you
	get drive-by business.</p>


<p>Note: Should you not wish to renew, kindly advise us in writing prior to your renewal date.</p>


<p>If you have any queries, please do not hesitate to contact me.</p>



<p>Kind regards</p>


<p>Vanessa Sand (CEO)<br>
Tel: (011) 713-2000 </p>