<style>

    BODY {font-family: Arial; font-size: 10pt}
</style>
<p><!-- month_year --></p>



<p>Attention:   <!-- contact --> <br>
 <!-- establishment_name --> </p>


<p>Dear AA Quality Assured Establishment</p>



<p>Thank you for your support of this programme. As per the AA Quality Assured terms and conditions, your property will automatically be renewed into our 
    system and your renewal date is the  <!-- renewal_date --> . Our pricing remains unchanged and is  <!-- category_price --> +VAT  for the year.
</p>


<p>Your accredited assessor,  <!-- assessor_name -->  will be contacting you to make arrangements to carry out the assessment visit.</p>

 

<p>We have begun our migration to an upgraded administration system.  The new system already allows you to update your
    own information on <A href="http://www.aatravel.co.za">www.aatravel.co.za</A> and you are also able to add special offers
    for whatever period of time you wish to run them. (This is an extremely useful tool which allows you to change your offering according
    to the status of your forward-bookings.)</p>

 

<p>We will be adding many more features to our websites over the next 6 months. There are strong upgrades and changes in 
    store for <A href="http://www.shellinfosight.com">www.shellinfosight.com</A> and <A href="http://www.essentialtravelinfo.com">www.essentialtravelinfo.com</A>
    too.</p>

 

<p>We are also updating our list of benefits from preferred suppliers. In addition to

    <ul><li>a 15% discount on AA membership,</li>

    <li>25% on your TV licences, </li>

    <li>discounted property insurance, </li>

    <li>discounted credit card merchant fees for Visa, MasterCard and American Express, </li></ul>

we also have new benefits such as discounts from suppliers of soft goods and glassware.</p>

 

<p>For many establishments the value of these discounts exceeds the cost of membership of the programme.
    Please look at <A href="http://www.qasuppliers.co.za">www.qasuppliers.co.za</A> for more supplier offers to our members. </p>

 

<p>In order to ensure that suppliers can clearly identify you as a current member of the AA Quality Assured
    Programme please ensure that you display the relevant AA Quality Assured logo on your website and make
    it link back to the page on <A href="<!-- establishment_link -->"><!-- establishment_link --></A> on which your
    listing appears.</p>

 

<p>Using the AA Signage and displaying your AA Quality Assurance logo is your most powerful tool to encourage potential guests 
    to choose your establishment in preference to any other. Please ensure that your signage is displayed in a prominent
    area both electronically on your website and outside your property, particularly if you get drive-by business.
</p>
 

<p>Note: Should you not wish to renew, kindly advise us in writing prior to your renewal date.</p>

 

<p>If you have any queries, please do not hesitate to contact me.</p>

 

<p>Kind regards</p>

 

<p>Marilynn Cavendish-Davies<br>

AA Quality Assured Department<br>

Tel: (011) 713-2000</p>
