<script type="texttext/javascript" src='/shared/trwacker.js'></script>
<input type="button" value="Add Message" class="add_button" onCLick="document.location='/modules/message_center/message_center.php?f=edit_message&id=new'"/>
<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <tr style='background-color: grey'>
        <TH>&nbsp;</TH>
        <TH>Audience</TH>
        <TH>Title</TH>
        <TH>Method</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
  	<td><!-- message_status --></td>
    	<td><!-- message_audience --></td>
        <td><!-- message_title --></td>
        <td><!-- message_method --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2px'>
        <TH colspan=10></TH>
    </TR>
</table>
<script type="tetext/javascript" >whack();</script>