<script language="javascript" type="text/javascript" src="/shared/CalendarPopup.js"></script>
<script type="text/javascript">
	var cal2 = new CalendarPopup("calDiv");
	cal2.showNavigationDropdowns();
	cal2.setCssPrefix("AA");
</script>
<h1><!-- header --></h1>
<br>
<form action="" method="post" >
<table width="100%">
    <tr>
        <td class="col1">Message Title</td>
        <td><input type="text" name="message_title" id="message_title" value="!message_title!" />
    </tr>
    <tr valign="top">
        <td>Message Content</td>
        <td><textarea name="message_content" id="message_content" >!message_content!</textarea></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td>Audience</td>
        <td>
            <input type="checkbox" id="clients" name="audience_client" !audience_clients!/><label for="clients">Clients</label>
            <input type="checkbox" id="staff" name="audience_staff" !audience_staff! /><label for="staff">Staff</label>
            <input type="checkbox" id="assessors" name="audience_assessors" !audience_assessors! /><label for="assessors">Assessors</label>
            <input type="checkbox" id="reps" name="audience_reps" !audience_reps! /><label for="reps">Reps</label>
            <input type="checkbox" id="everyone" name="audience_everyone" !audience_everyone! /><label for="everyone">Everyone</label>
        </td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            <input type="radio" name="message_type" id="permanent" value="permanent" onChange="change_type('div_permanent')" !type_permanent! /><label for="permanent">Permanent</label>
            <input type="radio" name="message_type" id="single" value="single" onChange="change_type('div_single')" !type_single! /><label for="single">See Once</label>
            <input type="radio" name="message_type" id="view_limit" value="view_limit" onChange="change_type('div_view_limit')" !type_view_limit! /><label for="view_limit">Limited Views</label>
            <input type="radio" name="message_type" id="date" value="date" onChange="change_type('div_date')" !type_date! /><label for="date">Date Limited</label>
        </td>
    </tr>
    <tr>
        <td colspan="10">
            <div id="div_permanent" class="!div_permanent!">
                <table>
                    <tr>
                        <td class="col1">&nbsp;</td>
                        <td class="help">The message is displayed every time a user logs in until it is deleted from the system.</td>
                    </tr>
                </table>
            </div>
            <div id="div_single" class="!div_single!">
                <table>
                    <tr>
                        <td class="col1">&nbsp;</td>
                        <td class="help">The message is displayed only once when a user logs in. Will not display when they log in again.</td>
                    </tr>
                </table>
            </div>
            <div id="div_view_limit" class="!div_view_limit!">
                <table>
                    <tr>
                        <td class="col1" >&nbsp;</td>
                        <td class="help">The message is displayed the number of times entered below and never again.</td>
                    </tr>
                    <tr>
                        <td>Display Count</td>
                        <td><input type="text" name="message_stock" value="!message_stock!"/></td>
                    </tr>
                </table>
            </div>
            <div id="div_date" class="!div_date!">
                <table>
                    <tr>
                        <td class="col1">&nbsp;</td>
                        <td class="help">The message is displayed every time a user logs in during the dates selected below.</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td><input type="text" name="message_start" id="message_start" value="!message_start!" onClick="cal2.select(document.getElementById('message_start'),'calhere','yyyy-MM-dd'); return false;" readonly title='Start Date' /><span id=calhere></span></td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td><input type="text" name="message_end" id="message_end" value="!message_end!" onClick="cal2.select(document.getElementById('message_end'),'calhere2','yyyy-MM-dd'); return false;" readonly title='End Date' /><span id=calhere2></span></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="10" align="right">
            <input type="button" value="Cancel" class="cancel_button" onCLick="document.location='/modules/message_center/message_center.php'" />
            <input type="submit" name="message_save" value="Save" class="save_button" />
        </td>
    </tr>

</table>
</form>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>
