
<body style="font-family: arial;">
<table align="left" style="margin-right: 10px">
  <tbody>
    <tr>
      <td><img alt="" src="cid:logoimg"></td>
    </tr>
  </tbody>
</table>
<p>Dear Establishment</p>

<p>Thank you for confirming your participation in the <!-- award_year --> AA Quality Assured
Accommodation Awards.</p>

<p>We have processed your participation form and noted your entry as using <!-- participation_options --></p>

<p><b>Note:</b> Only guests may complete the Guest Reviews.</p>

<p>Some useful TIPS to encourage guests to fill in the Guest Reviews:
	<ul>
		<li>Advise your guests on check-in that you are part of an awards programme and would
			value their input.</li>
		<li>Run an internal competition with your staff to motivate them to get the guests to
			complete the reviews.</li>
	</ul>
</p>

<p style='border: 1px solid black; padding: 4px'>
	We are restructuring the AA Quality Assured Categories in order to harmonise with the
	New Awards categories. Please click on this link to view the new categories 
	<a href='http://www.accommodation-awards.co.za/categories'>http://www.accommodation-awards.co.za/categories</a>
	and kindly indicate which new category you feel suits your establishment best by return
	email to vweltman@aatravel.co.za
</p>

<p>
	For any further information on the awards programme, visit
	<a href="http://www.accommodationawards.co.za">http://www.accommodationawards.co.za</a>
	or contact me directly.</p>

<p>We look forward to an exciting year ahead.</p>

<p>Kind regards</p>

<p>Vanessa Weltman<br>
Head of Awards<br>
011 713 2146<br>
awards@aatravel.co.za</p>