.toolTipNote{
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	margin: 5px 0px 0px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	z-index: 0;
	visibility: hidden;
	position: absolute;
	white-space: nowrap;
	text-align: left;
	padding: 5px 5px 5px 5px;
}
