@CHARSET "ISO-8859-1";

/* RESULT LIST */
#TRW {width: 100%; border-color: gray; border-style: solid; border-width: 0px}
#TRW TH {font-size: 9pt; font-weight: bold; background-color: silver}
#TRW TD {font-size: 8pt;}
#TRW .star {text-align: center;}

.block_header {width: 100%; height: 20px; background-color: silver; border-color: #000; border-style: dotted; border-width: 0 0 1px 0; margin-bottom: 2px;padding: 0 0 0 2px; font-weight: bold;}
.block_header TD, .block_header_active TD {font-weight: bold; font-size: 11pt}
.block_header_active {width: 100%; height: 20px; background-color: yellow; font-weight: bold; border-color: #000; border-style: dotted; border-width: 1px 1px 0 1px; font-weight: bold; padding: 2px 0 0 2px}
.edit_indicator {padding-right: 2px}
.cMes {color: black; font-size: 8pt; font-style: italic; padding-left: 10px}
.hRow {width: 400px}
.field_label {font-size: 10pt;font-family: arial, sans-serif; color: black;}
.field_label_enabled {font-size: 10pt;font-family: arial, sans-serif; color: black;}
.field_label_disabled {font-size: 10pt;font-family: arial, sans-serif; color: gray;}
.block_content {width: 100%; display: none; border-color: #000; border-style: dotted; border-width: 0 1px 1px 1px; margin-bottom: 5px; background-color: #D3D3D3}
.block_content TEXTAREA {width: 100%; height: 120px}
#save_button {text-align: right}
#send_cover {background-color: silver; width: 100%; height: 100%; display: none; position:absolute; top: 0px; left: 0}
.active_estab {color: black; font-size: 12px; text-align: center}
.inactive_estab {color: red; font-size: 12px; text-align: center}
#inactive_block {height: 50px; width: 80px; border-color: black; border-style: solid; border-width: 1px 1px 0 1px}
.inactive_estabb {background-color: #FFD2CE}
.active_estabb {background-color: #BCFFBC;}
#info_block {height: 50px; width: 100%; border: dotted 1px black; background-color: gray; margin-bottom: 5px; text-align: center; color: red; padding: 4px}

.unsaved {color: navy; font-size: 12px; font-weight: bold}
.unlisted {color: red; font-size: 12px}

#welcome_screen TD {font-family: arial; font-size: 12pt}
#welcome_screen LI {font-family: arial; font-size: 10pt}

/* UPDATING PAGES */
#busyBar, #donebar, #failBar {width: 100%; height: 200px; text-align: center; position: absolute; top: 160px; left: 0}
#doneBar, #failBar {display: none}

.did_you_mean {font-family: arial; font-size: 9pt}
.did_you_mean A {color: navy; text-decoration: none}
.did_you_mean A:hover {color: navy; text-decoration: underline}
.poi_dym {width: 100%; height: 20px; border-width: 0px; overflow: auto;}


.intro {font-style: italic; font-size: 8pt; background-color: #B2B2B2}
#contact_list TH {font-weight: bold; font-size: 8pt; background-color: gray}
#contact_list TD {font-weight: bold; font-size: 8pt}
.line1 {background-color: #E4E4E4}
.line2 {background-color: #D4D4D4}
.line_over {background-color: yellow}
#contact_form, #invoice_form {display: none; position: absolute; width: 350px; height: 250px; top: 150px; left: 300px; background-color: silver; border-color: black; border-style: solid; border-width: 2px}
#contact_form TABLE, #invoice_form TABLE {width: 100%}
#save_button {text-align: right}
#public_contact TD, TH {font-size: 10pt;font-family: arial, sans-serif}
#image_iframe {display: none; position: absolute; width: 400px; height: 300px; top: 150px; left: 300px; border-color: black; border-style: solid; border-width: 2px}
.restype_list OPTGROUP {margin-top: 10px}
#send_cover {background-color: silver; width: 100%; height: 100%; display: none; position:absolute; top: 0px; left: 0}
.edit_indicator {padding-right: 2px}
.edit_changed {background-color: pink; background-image: none;}

/* IMAGE UPLOAD BLOCK */
#image_iframe {top: 140px; left: 150px; width: 450px; height: 320px; display: none; position: absolute; padding: 0px; border-color: silver; border-width: 2px; border-style: outset}
.image_header {font-family: arial; font-size: 12px; font-weight: bold}
.image_body, .image_body A {font-family: arial; font-size: 10px}
#tX {padding: 0px; text-align: right; height: 20px}
#tX a {font-size: 22pt; font-weight: bold; font-family: monospace; color: silver; margin: 0px; padding: 0px}
#tX a:hover {color: gray; cursor: pointer; background-color: transparent}
.tB {background-color: #DDDDDD; height: 200px; border-color: silver; border-width: 2px; border-style: inset; width: 438px}
#image_block {height: 100px; padding: 2px; width: 438px; }
#image_block IMG {padding: 0px 2px 0px 0px}
#image_block TD {padding-right: 4px}
#data_block {padding: 5px 2px 2px 2px; width: 438px}
#data_block TD {padding-right: 2px}

/* GPS BLOCK */
#gps {border: 1px solid silver; margin:20px 20px 20px 5px; width: 99%; border-collapse: collapse;}
#gps TH {background-color: silver}
#gps .header {background-color: gray}
#gps TD {}
#gps INPUT {width: 100%}
#gps_address {border: 1px solid black; margin: 5px; width: 400px; border-collapse: collapse; background-color: gray}
#map_check {top: 140px; left: 150px; width: 450px; height: 350px; display: none; position: absolute; padding: 0px; margin: 0; border-color: silver; border-width: 2px; border-style: outset; background-color: silver}
#map_canvas {border: 1px solid black; width: 442px; height: 300px; margin: 4px; padding: 0px}
.eg {font-size: 8pt}

/* PUBLICATIONS BLOCK */
#publications_table {width: 100%; border-collapse: collapse; border: 1px solid gray }
#publications_table TH {background-color: silver;  padding: 0px; margin: 0px}
#publication_table TD {padding: 0px}
#publication_iframe {top: 140px; left: 150px; width: 450px; height: 350px; display: none; position: absolute; padding: 0px; margin: 0; border-color: silver; border-width: 2px; border-style: outset;}
#publications_table .row1 {background-color: #F4FDBB}
#publications_table .row2 {background-color: #FAFEE2}


/* BOOKING FORM */
#date_div {margin-top: 20px; margin-left: 22px}
.book_radio LABEL {margin-right: 20px}

/* CALENDAR */
.AAcpYearNavigation,
.AAcpMonthNavigation
		{
		background-color:#6677DD;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.AAcpDayColumnHeader,
.AAcpYearNavigation,
.AAcpMonthNavigation,
.AAcpCurrentMonthDate,
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDate,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDate,
.AAcpCurrentDateDisabled,
.AAcpTodayText,
.AAcpTodayTextDisabled,
.AAcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.AAcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #6677DD;
		border-width:0 0 1px 0;
		}
.AAcpCurrentMonthDate,
.AAcpOtherMonthDate,
.AAcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.AAcpCurrentMonthDate
		{
		color:#6677DD;
		font-weight:bold;
		}
.AAcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.AAcpOtherMonthDate
		{
		color:#808080;
		}
TD.AAcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #6677DD;
		border-width:1px;
		border:solid thin #000000;
		}
TD.AAcpCurrentDateDisabled
		{
		border-width:1px;
		border:solid thin #FFAAAA;
		}
TD.AAcpTodayText,
TD.AAcpTodayTextDisabled
		{
		border:solid thin #6677DD;
		border-width:1px 0 0 0;
		}
A.AAcpTodayText,
SPAN.AAcpTodayTextDisabled
		{
		height:20px;
		}
A.AAcpTodayText
		{
		color:#6677DD;
		font-weight:bold;
		}
SPAN.AAcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.AAcpBorder
		{
		border:solid thin #6677DD;
		}