<script language="javascript" src="/shared/CalendarPopup.js"></script>
<script>
	var cal2 = new CalendarPopup("calDiv");
	cal2.showNavigationDropdowns();
	cal2.setCssPrefix("AA");

	function check_form() {
		if (document.getElementById('cancel_booking').checked) {
			if (confirm('Are you sure you want to delete this booking?')) {
				return true;
			}
		}
		return true;
	}
	
</script>
<h1>Book, Postpone or Cancel Assessment for <!-- establishment_name --> (<!-- location -->)</h1>
<br />
<form action='' method=post onSubmit="return check_form()" >
<p class="book_radio"><input type=radio name=book_type id=Book_visit value='book' onClick="toggle_date_div('book_visit')" checked /><label for='Book_visit' >Book Visit</label>
<input type=radio name=book_type id=cancel_booking value='cancel' onClick="toggle_date_div('cancel_booking')" /><label for='cancel_booking' >Cancel Booking</label>
<input type=radio name=book_type id=postpone_visit value='postpone' onClick="toggle_date_div('postpone')" /><label for='postpone_visit' >Postpone Visit</label></p>
<input type=hidden name=booking_id value='!booking_date!' />
<div id="date_div">
    <span id="field_ind">Book for </span>
    <input type=text name=book_date value='!book_date!' id=book_date onClick="cal2.select(document.getElementById('book_date'),'calhere','yyyy-MM-dd'); return false;" readonly title='Date of Booking' /><span id=calhere></span><input type=submit id="book_button" name=book value='Book Assessment' />
</div>
</form>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>
