<script type="text/javascript" src='/shared/trwacker.js'></script>
<script type="text/javascript" src='/shared/cookie.js'></script>
<table cellpadding=2 cellspacing=0 width=100%>
    <tr>
        <td><!-- Filter:
            <select onchange=filter(this.value) id=uFilter>
                <option value='none'> No Filter
                <option value='aa_estab'>AA Establishments Only</option>
		<option value='aa_estab'>Non-AA Establishments Only</option>
            </select> -->
        </td>
        <td align=right>
        	<form action='' method=post style='margin: 0px; padding: 0px' >
		    <input type=text id=search_string name=search_string style='width: 150px'> in
		    <select id=search_filter name=search_filter>
			    <option value='establishment_name'>Establishment Name</option>
			    <option value='establishment_code'>Establishment Code</option>
		    </select><input type=submit class=find_button value='Find' /><input type=button class=cancel_button value='Clear' onClick=sFilter('c') title='Clear Search Results' />
		</form>
        </td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW>
    <!-- line_header -->
    <!-- line_start -->
    <tr>
  		<td>&nbsp;</td>
    	<td><!-- establishment_code --></td>
        <td><!-- establishment_name --></td>
        <td><!-- location --></td>
        <td align=right><!-- buttons --></td>
    </tr>
    <!-- line_end -->
    <!-- navigation -->
    <TR style='background-color: gray; height: 2px'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width='100%' id='paging' >
    <tr>
        <!-- paging -->
    </tr>
</table>
<script type="text/javascript" >showFilter(); </script>
<script type="text/javascript" >whack();</script>
