
<script src="http://maps.google.com/maps?file=api&v=2&key=<!-- api_key -->" type="text/javascript"></script>
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=<!-- api_key -->&sensor=false' type='text/javascript'></script>
<script src='/shared/functions.js' type='text/javascript'></script>

<script type="text/javascript">
	var eID = "<!-- establishment_code -->";
	var cL = "<!-- contacts_list -->";
	var iM = "<!-- image_list -->";
	var iN = "<!-- invoice_list -->";
	new_count = 0;
	default_image = '<!-- default_image -->';
	var fRun = true;
	var iRun = true;
	var chgList = new Array();
	var chgFields = new Array();
	var publication_list = '<!-- publication_list -->';
	var awards_list = '<!-- awards_list -->';
	<!-- change_list -->
</script>

<p />
<form action='' method=post enctype='multipart/form-data' onSubmit='cover_page()'>
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td><h1><!-- form_heading --></h1></td>
		<td width="50px">
			<div id="inactive_block" >
				<input type=checkbox name=inactive_estab id=inactive_estab value='0' onClick='activate_estab(this.checked)' !inactive_estab! /><br>
				<div id=inactive_text ></div>
			</div>
		</td>
	</tr>
</table>
<div id="info_block"></div>

<div class=block_header onClick=show_block('1') id=header1>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Establishment Details</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=details_indicator alt="blank" /></td>
		</tr>
	</table>
</div>

<div class=block_content id=content1>
	<div class=intro>These details are for internal use and will not be displayed on the website.</div>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr>
			<td width=80 class=field_label>Establishment Name</td>
			<td width=80% colspan=4 align=right><input type=text  name=establishment_name id=establishment_name style='width: 100%' class=fields value="<!-- establishment_name -->" onChange="set_change('primary','details')" /></td>
		</tr>
		<tr>
			<td width=80 class=field_label>Company Name</td>
			<td width=80% colspan=4 align=right><input type=text  name=company_name id=company_name style='width: 100%' class=fields value="<!-- company_name -->"  onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
			<td width=80 class=field_label>Company Reg. No</td>
			<td width=80% colspan=4 align=right><input type=text  name=company_number id=company_number style='width: 100%' class=fields value="<!-- company_number -->"  onChange="set_change('billing','details')" /></td>
		</tr><tr>
			<td width=80 class=field_label>VAT Number</td>
			<td width=80% colspan=4 align=right><input type=text  name=vat_number id=vat_number style='width: 100%' class=fields value="<!-- vat_number -->"  onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td class=field_label>AA Endorsement</td>
			<td style='width: 200px'><select name=aa_grade id=aa_grade style='width: 100%'  onChange="set_change('primary','details')" ><!-- grade_options --></select></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td class=field_label>Billing Address</td>
			<td  align=right style='width: 200px'><input type=text  name=billing_line1 id=billing_line1 style='width: 100%' class=fields value="<!-- billing1 -->" onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
			<td class=field_label>&nbsp;</td>
			<td style='width: 200px'>&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td ></td>
			<td  align=right><input type=text  name=billing_line2 id=billing_line2 style='width: 100%' class=fields value="<!-- billing2 -->" onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
			<td class=field_label>Nightsbridge Code</td>
			<td style='width: 200px'><input type=text  name=nightsbridge id=nightsbridge style='width: 100%' class=fields value='<!-- nightsbridge -->' onChange="set_change('primary','details')" /></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td ></td>
			<td  align=right><input type=text  name=billing_line3 id=billing_line3 style='width: 100%' class=fields value="<!-- billing3 -->" onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
		<td class=field_label>Prebook code</td>
			<td style='width: 200px'><input type=text  name=prebook id=prebook style='width: 100%' class=fields value='<!-- prebook -->' onChange="set_change('primary','details')" /></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td align=right class=field_label>Code</td>
			<td  align=right><input type=text  name=billing_code id=billing_code style='width: 100%' class=fields value="<!-- billing_code -->" onChange="set_change('billing','details')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr
		
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr valign=top >
			<td class=field_label >Publications</td>
			<td colspan=10 >
					<span id=publication_list ></span>
				<input type=hidden name=publications id=publications value='<!-- publications -->' />
			</td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
	</table>
	<p />
</div>
<div class=block_header onClick=show_block('2') id=header2>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Private Contact Details</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=private_contacts_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content2>
	<div class=intro>Manage a list of contact persons for this establishment. These details will not be displayed on the web site.
	You may add as many contacts as necessary.</div>
	<div id=contacts></div>
	<input type="hidden" name=contacts_list id=contacts_list value="" />
	<p />
</div>
<div class=block_header onClick=show_block('3') id=header3>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Public / Reservation Details</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=reservation_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content3>
	<div class=intro>These contact details will be displayed on the website (except email adress which is used to send enquiries).</div>
	<div id=public_contact>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr valign=top>
			<th width=100>&nbsp;</th>
			<th width=20>&nbsp;</th>
			<th width=150>Number</th>
			<th width=200>Short Description<br /><span style='font-size: 6pt'>(maximum 20 characters)</span></th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td>Telephone</td>
			<td>1.</td>
			<td><input type=text name=tel1 id=tel1 value='<!-- tel1 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=tel1_description id=tel1_description style='width: 100%' maxlength=20 value='<!-- tel1_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>2.</td>
			<td><input type=text name=tel2 id=tel2 value='<!-- tel2 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=tel2_description id=tel2_description style='width: 100%' maxlength=20 value='<!-- tel2_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td>Cell</td>
			<td>1.</td>
			<td><input type=text name=cell1 id=cell1 value='<!-- cell1 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=cell1_description id=cell1_description style='width: 100%' maxlength=20 value='<!-- cell1_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>2.</td>
			<td><input type=text name=cell2 id=cell2 value='<!-- cell2 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=cell2_description id=cell2_description style='width: 100%' maxlength=20 value='<!-- cell2_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td>Fax</td>
			<td>1.</td>
			<td><input type=text name=fax1 id=fax1 value='<!-- fax1 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=fax1_description id=fax1_description style='width: 100%' maxlength=20 value='<!-- fax1_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>2.</td>
			<td><input type=text name=fax2 id=fax2 value='<!-- fax2 -->' onChange="set_change('contact','reservation')" /></td>
			<td><input type=text name=fax2_description id=fax2_description style='width: 100%' maxlength=20 value='<!-- fax2_description -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>1.</td>
			<td colspan=2><input type=text name=email id=email style='width: 100%' value='<!-- email -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td></td>
			<td>2.</td>
			<td colspan=2><input type=text name=email2 id=email2 style='width: 100%' value='<!-- email2 -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td></td>
			<td>2.</td>
			<td colspan=2><input type=text name=email3 id=email3 style='width: 100%' value='<!-- email3 -->' onChange="set_change('contact','reservation')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td>Website</td>
			<td></td>
			<td colspan=2><input type=text name=website id=website style='width: 100%' value='<!-- website -->' onChange="set_change('primary','reservation')" /></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=10>
				<table width=100% cellpadding=2 cellspacing=0>
					<tr valign=top>
						<td width=120>Postal<br \>Address</td>
						<td>
							<input type=text name=postal1 id=postal1 style='width: 100%' value='<!-- postal1 -->' onChange="set_change('contact','reservation')" /><br />
							<input type=text name=postal2 id=postal2 style='width: 100%' value='<!-- postal2 -->' onChange="set_change('contact','reservation')" /><br />
							<input type=text name=postal3 id=postal3 style='width: 100%' value='<!-- postal3 -->' onChange="set_change('contact','reservation')" /><br />
							<input type=text name=postal_code id=postal_code style='width: 50' value='<!-- postal_code -->' onChange="set_change('contact','reservation')" />(code)
						</td>
						<td>&nbsp;</td>
						<td>Street<br \>Address</td>
						<td>
							<input type=text name=street1 id=street1 style='width: 100%' value='<!-- street1 -->' onChange="set_change('contact','reservation')" /><br />
							<input type=text name=street2 id=street2 style='width: 100%' value='<!-- street2 -->' onChange="set_change('contact','reservation')" /><br />
							<input type=text name=street3 id=street3 style='width: 100%' value='<!-- street3 -->' onChange="set_change('contact','reservation')" /><br />
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
</div>
<div class=block_header onClick=show_block('4') id=header4>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Establishment Types</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=restype_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content4>
	<div class=intro></div>
	<table width=100% >
		<tr>
			<td>1. </td>
			<td><select name='restype[0]' id='restype[0]'  class=restype_list onChange="set_change('restype','restype')" ><!-- restype_0 --></select></td>
			<td>Star Grading <select name='star_grading[0]' id='star_grading[0]' onChange="set_change('restype','restype')" ><!-- star_grading_0 --></select></td>
		</tr>
		<tr>
			<td>2. </td>
			<td><select name='restype[1]' id='restype[1]'  class=restype_list onChange="set_change('restype','restype')" ><!-- restype_1 --></select></td>
			<td>Star Grading <select name='star_grading[1]' id='star_grading[1]' onChange="set_change('restype','restype')" ><!-- star_grading_1 --></select></td>
		</tr>
		<tr>
			<td>3. </td>
			<td><select name='restype[2]' id='restype[2]'  class=restype_list onChange="set_change('restype','restype')" ><!-- restype_2 --></select></td>
			<td>Star Grading <select name='star_grading[2]' id='star_grading[2]' onChange="set_change('restype','restype')" ><!-- star_grading_2 --></select></td>
		</tr>
		<tr>
			<td colspan=10>&nbsp;</td>
		</tr>
		<tr>
			<td>Unit Count</td>
			<td>
				<input type=text name=room_count value='!room_count!' onChange="set_change('restype','restype')" style='width: 30px' />
				<select name=room_type onChange="set_change('restype','restype')" >
					<!-- room_options -->
				</select>
			</td>
			<td></td>
		</tr>
	</table><br />
</div>
<div class=block_header onClick="show_block('5')" id=header5>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Photo Gallery</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=image_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content5>
	<div class=intro>The primary image will be used in search results. The primary image MUST be a landscape image else the first
		landscape image will be used in the search results. For best results images should NOT contain any writing.</div>
	<div id=images>

	</div>
</div>
<div class=block_header onClick=show_block('6') id=header6>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Descriptions</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=descriptions_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content6>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr>
			<td class=field_label>Description for print & search results. <b>(Maximum 40 words. <span id=word_count>0</span> words used)</b></td>
		</tr>
		<tr>
			<td><textarea name=short_description id=short_description style='width: 100%; height: 80' onChange=set_change('short_description','descriptions') onKeyUp=count_words(this.value)><!-- short_description --></textarea></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class=field_label>Description for establishment details on web.</td>
		</tr>
		<tr>
			<td><textarea name=long_description id=long_description style='width: 100%; height: 200' onChange=set_change('long_description','descriptions') ><!-- long_description --></textarea></td>
		</tr>
	</table>
</div>
<div class=block_header onClick=show_block('7') id=header7>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Pricing</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=price_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content7>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr>
			<td class=field_label colspan=2>Pricing Description</td>
		</tr>
		<tr>
			<td colspan=2><textarea name=pricing id=pricing style='width: 100%; height: 100' onChange=set_change('price','price') ><!-- pricing --></textarea></td>
		</tr>
		<tr>
			<td style='height: 10' colspan=2></td>
		</tr>
		
	</table>
	<p><input type=hidden name=football2010 /></p>
</div>
<div class=block_header onClick=show_block('8') id=header8>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Policies</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=policy_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content8>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr>
			<td class=field_label>Cancellation Policy</td>
		</tr>
		<tr>
			<td><textarea name=cancellation_policy id=cancellation_policy style='width: 100%; height: 100' onChange=set_change('policy','policy') ><!-- cancellation --></textarea></td>
		</tr>
		<tr>
			<td style='height: 10'> </td>
		</tr>
		<tr>
			<td class=field_label>Child Policy</td>
		</tr>
		<tr>
			<td><textarea name=child_policy id=child_policy style='width: 100%; height: 100' onChange=set_change('policy','policy')><!-- child --></textarea></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>

<div class=block_header onClick=show_block('9') id=header9>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Location, Directions & Maps</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=locations_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content9>
	<table id=gps>
		<tr>
			<th colspan=10 class=header >GPS Coordinates</th>
		</tr>
		<tr valign=top >
			<th>&nbsp;</th>
			<th>Decimal Degrees</th>
			<th>Degrees, Minutes & Seconds</th>
			<th>GPS</th>
			<th>Find from street address</th>
		</tr>
		<tr valign=top >
			<th>&nbsp;</th>
			<th class=eg >eg. -26.14338, 28.06883</th>
			<th class=eg >eg. S26&deg; 8' 36" , E28&deg; 4' 7" </th>
			<th class=eg >eg. S 26 8.603, E 28 4.130</th>
			<th></th>
		</tr>
		<tr valign=top>
			<th>Latitude</th>
			<td><input type=text name=dd_lat id=dd_lat value='<!-- dd_lat -->' onChange="calc_gps(this.name,this.value); set_change('gps','locations',this.name)" /> </td>
			<td><input type=text name=dms_lat id=dms_lat value='' onChange=calc_gps(this.name,this.value)  /></td>
			<td><input type=text name=gps_lat id=gps_lat value='' onChange=calc_gps(this.name,this.value) /></td>
			<td rowspan=5 width=400px>
				<table id=gps_address>
					<tr>
						<td class=field_label width=100px >Street Number</td>
						<td><input type=text id=street_number style='width: 40' /></td>
					</tr>
					<tr>
						<td class=field_label>Street Name</td>
						<td><input type=text id=street_name style='width: 100%' /></td>
					</tr>
					<tr>
						<td class=field_label>Suburb</td>
						<td><input type=text id=suburb style='width: 100%' /></td>
					</tr>
					<tr>
						<td class=field_label>Town/City</td>
						<td><input type=text id=town style='width: 100%' /></td>
					</tr>
					<tr>
						<td colspan=2><input type=button value='Find Coordinates' style='width: 100%' onClick=code_address();  /></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr valign=top>
			<th>Longitude</th>
			<td><input type=text name=dd_lon id=dd_lon value='<!-- dd_lon -->' onChange="calc_gps(this.name,this.value);set_change('gps','locations',this.name)" /></td>
			<td><input type=text name=dms_lon id=dms_lon value='' onChange=calc_gps(this.name,this.value)  /></td>
			<td><input type=text name=gps_lon id=gps_lon value='' onChange=calc_gps(this.name,this.value) /></td>
			<td></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td colspan=3 align=right ><input type=button value='Clear Coordinates' class=cancel_button style='width: 150px' onClick=clear_coord() /> <input type=button value='Check Coordinates' class=map_button style='width: 150px' onClick=check_map() /></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td colspan=10 >&nbsp;</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td colspan=10 >&nbsp;</td>
		</tr>
	</table>
	<table width=100% cellpadding=2 cellspacing=0>
		<tr>
			<td height=10></td>
		</tr>
		<tr>
			<td class=field_label colspan=3>Directions</td>
		</tr>
		<tr>
			<td class=field_label colspan=3><textarea name=directions id=directions style='width: 100%; height: 100' onChange="set_change('directions','locations')"><!-- directions --></textarea><br />
			</td>
		</tr>
		<tr>
			<td class=field_label><input type=radio name=map_type id=map_type_none value=none <!-- map_type_none --> onChange="set_change('directions','locations')" />None<br />
			<input type=radio name=map_type id=map_type_google value=google <!-- map_type_google --> onChange="set_change('directions','locations')" />Google Maps (Requires GPS Coordinates)<br />
			<input type=radio name=map_type id=map_type_uploaded value=uploaded <!-- map_type_image --> onChange="set_change('directions','locations')" />Own Image <input type=file name=directions_map onChange="set_change('directions','locations')" /></td>
			<td></td>
			<td>

			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=3>
				<table width=100%>
					<tr>
						<td class=field_label>Country</td>
						<td colspan=4><select name=country_id id=country_id onChange="getLocation('c', this.value); set_change('locations','locations')"  style='font-size: 10pt;font-family: arial, sans-serif; width: 400'><!-- country_options --></select></td>
					</tr>
					<tr>
						<td class=field_label>Province</td>
						<td colspan=4><select name=province_id id=province_id onChange="getLocation('p', this.value); set_change('locations','locations')" style='font-size: 10pt;font-family: arial, sans-serif; width: 400' <!-- province_options_status -->><!-- province_options --></select></td>
					</tr>
					<tr>
						<td class=field_label>Town</td>
						<td colspan=4><select name=town_id id=town_id onChange="getLocation('t', this.value); set_change('locations','locations')" style='font-size: 10pt;font-family: arial, sans-serif; width: 400' <!-- town_options_status -->><!-- town_options --></select></td>

					</tr>
					<tr>
						<td class=field_label>Suburb</td>
						<td colspan=4><select name=suburb_id id=suburb_id style='font-size: 10pt;font-family: arial, sans-serif; width: 400' onChange="set_change('locations','locations')"><!-- suburb_options --></select></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<div class=block_header onClick=show_block('10') id=header10>
<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Facilities</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=facility_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content10>
	<div class=intro>Move the mouse pointer over an icon to see what each icon represents. Click the checkbox to select an icon.</div>
	<!-- facilities -->
	<p />
</div>
<div class=block_header onClick=show_block('11') id=header11>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Points of Interest</td>
			<td align=right><img src='/i/blank.png' width=16 height=16 class=edit_indicator id=poi_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content11>
	<div class=intro>On this page we offer you the opportunity to key in the points of interest in close proximity to your establishment.
	We suggest you put the name of the relevant point of interest, be it a restaurant, a shopping centre, a sports stadium, a hospital, a
	conference centre or whatever into the fields as indicated below. To make this data useful to your prospective guests please indicate the suburb
	in which it is located as well as the approximate distance away from your establishment either in km or amount of minutes drive to get there.</div>
	<table cellpadding=2 cellspacing=0>
		<!-- poi_list -->
	</table>
	<p />
</div>
<div class=block_header onClick=show_block('13') id=header13>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Notes</td>
			<td align=right><img alt="Ei" src='/i/blank.png' width=16 height=16 class=edit_indicator id=notes_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content13>
	<table width="100%">
		<tr>
			<td style="width: 90%">
				<textarea id="new_note" style="width: 100%; height: 30px" onfocus="clear_note()" onBlur="unclear_note()" >Type note here and click add</textarea>
			</td>
			<td style="vertical-align: bottom; text-align: right; width: 200px">
				<input type="button" value="Cancel" class="cancel_button" id="cancel_button" onclick="cancel_note()"><br>
				<input type="button" value="Add Note" class="note_button" id="add_button" onclick="add_note()" name="">
			</td>
		</tr>
	</table>
	<hr style="width: 90%">
	<input type="hidden" name=notes id=notes value="">
	<div id="notes_container" >
		<div id="new_notes"></div>
		<!-- notes -->
	</div>
</div>


<p />
<input type=hidden name=establishment_code value='<!-- establishment_code -->' />

<input type=hidden name='change_list' id=change_list value='' />
<input type=hidden name='change_list2' id=change_list2 value='' />

<div id=save_button><input type=button class=cancel_button value='Cancel' onClick='history.back()' /> <input type=submit name=save_establishment class=save_button value='Save' /></div>
</form>
<div id=contact_form > </div>
<div id=invoice_form > </div>
<div id=send_cover><div id=busyBar>Updating Establishment<p />Updating Website<p /><p />Please Wait...</div></div>
<iframe id=image_iframe> </iframe>
<iframe id=iframeCountry style='display: none'> </iframe>
<iframe id=publication_iframe > </iframe>
<div id=map_check ><div id="map_canvas"> </div><br><div align=center><input type=button value='Close' class=ok_button onCLick=close_map() ></div></div>
<script type="text/javascript">
	activate_estab(document.getElementById('inactive_estab').checked,'1');
	draw_publication_list();
	populate_contact_list();
	populate_image_list();
	count_words(document.getElementById('short_description').value);
	calc_gps('dd_lat', document.getElementById('dd_lat').value);
	calc_gps('dd_lon', document.getElementById('dd_lon').value);
	google_init();
</script>