<script type="text/javascript" src="/shared/CalendarPopup.js"></script>
<script type="text/javascript">
	var cal2 = new CalendarPopup("calDiv");
	cal2.showNavigationDropdowns();
	cal2.setCssPrefix("AA");
	var fRun = true;
	var cL = "<!-- contacts_list -->";
	var establishment_code = '<!-- establishment_code -->';
	setInterval('resave_fields()', 6000);
</script>
<form action='' method=post enctype='multipart/form-data' onSubmit='cover_page()' id='estab_form' >
<h1>New Assessment for <!-- establishment_name --> (<!-- location -->)</h1>
<div id="info_block"></div>
<br />
<table width=100% >
	<tr>
		<td>Assessment Date: </td>
		<td><input type=text name=assessment_date id=assessment_date value='<!-- assessment_date -->' onClick="cal2.select(document.getElementById('assessment_date'),'calhere','yyyy-MM-dd'); return false;" readonly title='Date of Assessment' /><span id=calhere></span></td>
		<td>&nbsp;</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>Visit Type: </td>
		<td>
			<select name=assessment_type >
				<option>  </option>
				<!-- assessment_type -->
			</select>
		</td>
		<td>Proposed Status</td>
		<td >
			<select name=qa_status >
			<option> </option>
				<!-- qa_list -->			
			</select>
		</td>
	</tr>
	<tr>
		<td>Proposed Category</td>
		<td colspan=3>
		<select name=proposed_category >
			<option> </option>
			<!-- category_select -->
		</select>
		</td>
	</tr>
</table>
<br />
<div class=block_header onClick=show_block('200') id=header200 onMouseOver=tCM('200',1) onMouseOut=tCM('200',0) >
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td class=hRow >Contact Details</td>
			<td><span id=click_200 class=cMes ></span></td>
			<td align=right><img alt="indicator" src='/i/blank.png' width=16 height=16 class=edit_indicator id=indicator_200 /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content200>
	<div id=contacts> </div>
	<input type="hidden" name=contacts_list id=contacts_list value="" />
</div>


<!-- areas -->

<div class=block_header onClick=show_block('220') id=header220>
	<table width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td>Notes</td>
			<td align=right><img alt="Ei" src='/i/blank.png' width=16 height=16 class=edit_indicator id=notes_indicator /></td>
		</tr>
	</table>
</div>
<div class=block_content id=content220>
	<table width="100%">
		<tr>
			<td style="width: 90%">
				<textarea id="new_note" style="width: 100%; height: 30px" onfocus="clear_note()" onBlur="unclear_note()" >Type note here and click add</textarea>
			</td>
			<td style="vertical-align: bottom; text-align: right; width: 200px">
				<input type="button" value="Cancel" class="cancel_button" id="cancel_button" onclick="cancel_note()"><br>
				<input type="button" value="Add Note" class="note_button" id="add_button" onclick="add_note()" name="">
			</td>
		</tr>
	</table>
	<hr style="width: 90%">
	<input type="hidden" name=notes id=notes value="">
	<div id="notes_container" >
		<div id="new_notes"></div>
		<!-- notes -->
	</div>
</div>

<input type=hidden name='change_list' id=change_list value='' />
<input type=hidden name='change_list2' id=change_list2 value='' />
<input type="hidden" name="assessment_id" value="<!-- assessment_id -->" />

<div id=save_button><input type=button class=cancel_button value='Close' onClick=cI() /><input type=submit name='save_approval' class=ok_button value='Submit for Approval' /><input type=submit name='save_draft' class=save_button value='Save As Draft' /></div>
<div id='calDiv' STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"> </div>

</form><div id=contact_form > </div>
<script type="text/javascript">
	show_block('200');
	populate_contact_list();
</script>
<!-- scripts -->