<form action='' method=post enctype='multipart/form-data' onSubmit='cover_page()' id='estab_form' >
<h1>Print Data for Abbotsford House (Johannesburg, Gauteng)</h1>
<p />
Select which data to include in the document
<p />

<table width=100%>
	<tr valign=top>
		<td>
			<h3>Cover Page</h3>
			<table width=100% >
				<tr>
					<td class=field_label ><input type=radio name=short_version id=none checked /><label for='none'>None</label></td>
				</tr>
				<tr>
					<td class=field_label ><input type=radio name=short_version id=short_version /><label for='short_version'>Establishment Detail - Brief</label></td>
				</tr>
				<tr>
					<td class=field_label ><input type=radio name=short_version id=verbose_version /><label for='verbose_version'>Establishment Detail - Full</label></td>
				</tr>
			</table>
		</td>
	
		<td>
			<h3>Include</h3>
			<table width=100% >
				<tr>
					<td class=field_label ><input type=checkbox name=notes id=notes /><label for='notes'>Notes</label></td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
<p />
<h3>Past Assessments</h3>
<table width=100% cellpadding=0 cellspacing=0>
	<tr style='background-color: grey; border-bottom: 1px solid silver'>
		<td class=field_label style='border-bottom: 1px solid silver' ><input type=checkbox id=assessment_1 /></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_1'>2008/08/08</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_1'>Thilo Muller</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_1'>Recommendation: Superior</label></td>
	</tr>
	<tr style='background-color: grey;'>
		<td class=field_label  style='border-bottom: 1px solid silver' ><input type=checkbox id=assessment_2 /></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_2'>2009/09/30</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_2'>Thilo Muller</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='assessment_2'>Recommendation: Recommended</label></td>
	</tr>
</table>
<p />
<h3>Invoices</h3>
<table width=100% cellpadding=0 cellspacing=0 >
	<tr style='background-color: grey; border-bottom: 1px solid silver'>
		<td class=field_label  style='border-bottom: 1px solid silver' ><input type=checkbox id=invoice_1 /></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='invoice_1'>2009/09/08</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='invoice_1'>Outstanding</label></td>
		<td class=field_label  style='border-bottom: 1px solid silver' ><label for='invoice_1'>R 2970.00</label></td>
	</tr>
	<tr style='background-color: grey; border-bottom: 1px solid silver'>
		<td class=field_label style='border-bottom: 1px solid silver'><input type=checkbox id=invoice_2 /></td>
		<td class=field_label style='border-bottom: 1px solid silver'><label for='invoice_2'>2008/08/30</label></td>
		<td class=field_label style='border-bottom: 1px solid silver'><label for='invoice_2'>Paid</label></td>
		<td class=field_label style='border-bottom: 1px solid silver'><label for='invoice_2'>R 2319.00</label></td>
	</tr>
	<tr style='background-color: grey; border-bottom: 1px solid silver'>
		<td class=field_label ><input type=checkbox id=invoice_3 /></td>
		<td class=field_label ><label for='invoice_3'>2008/05/27</label></td>
		<td class=field_label ><label for='invoice_3'>Paid</label></td>
		<td class=field_label ><label for='invoice_3'>R 876.00</label></td>
	</tr>
</table>
<p />
<div id=save_button ><input type=button name=print class=print_button value="Print" /></div>
</form>