<script src='/modules/estab_s/html/estab.js' type="text/javascript"></script>
<div id=busyBar>Updating Establishment<p /><img src='/i/throbber-fast2.gif' alt="throbber" /><p />Please Wait</div>
<div id=doneBar>Update Complete (<a href='http://aatravel.co.za<!-- file_name -->' target=_blank >Check Page</a>) <p />
	<input type=button value='Continue' class=ok_button onClick="document.location='/modules/assessor/assessor.php?f=establishment_editor'" />
</div>
<div id=failBar>Update Failed<p /><input type=button value='Continue' class=ok_button onClick="document.location='/modules/assessor/assessor.php?f=establishment_editor'" /></div>
