<table width=100% id=welcome_screen>
    <tr valign=top>
        <td>
            <img src=/modules/assessor/i/contents-128.png align="left">
        </td>
        <td>
            <b>Manage Assessments</b><br />
            <p>Use these sets of tools to manage assessments for establishments linked to your account. 
            You will have detailed access to establishment data for your benefit.</p>
            <p>Use the icons below for quick access to popular tools. Other tools can be found in the menu above.</p>
            <ul>
            	<!-- count_list -->
            	
            	
            	
            </ul>
        </td>
     </tr>
</table>
<hr />
<table width=100% id=icons>
                <tr>
                	<td align=right>
				<table align="right" width="100">
					<TR>
						<TD align="center">
							<a class=icons href='/modules/assessor/assessor.php?f=establishment_editor'><img alt="Establishment Manager" src='/modules/assessor/i/estab_edit.png' width=60 height=60 border=0 /><br />Establishment<br />Editor</a>
						</TD>
						<td>
							&nbsp;
						</td>
						<TD align="center">
							<a class=icons href='/modules/assessor/assessor.php?f=new_assessment'><img alt="Assessment Manager" src='/modules/assessor/i/compfile-64.png' width=60 height=60 border=0 /><br />Assessments<br />&nbsp;</a>
						</TD>
					</TR>
				</table>
				
				
    	</td>
    </tr>
</table>
