<link rel="stylesheet" type="text/css" href="/W/S.css">
<script>
function CC(bu, nm) {
	var abc = document.getElementsByName('tab');
	for (x=0; x<abc.length; x++) {
		abc[x].className = 'Tm';
	}
	bu.className = 'Tc';
	var gg = document.getElementsByName('content23');
	for (x=0; x<gg.length; x++) {
		gg[x].style.display = 'none';
	}
	document.getElementById(nm).style.display = 'block';
}
</script>
<table >
<TR>
	<TD  onClick=''>
		<!-- tabs -->
	</TD>
</TR>
</table>

<!-- content_start -->
<div id='<!-- content_id -->' name='content23' class='<!-- class -->'><!-- content --></div>
<!-- content_end -->
<script>
var abc = document.getElementsByName('tab');
abc[0].className = 'Tc';
</script>