

<link rel=stylesheet href=/shared/W.css>
<script src=/shared/G.js></script>
<script src=/shared/trwacker.js></script>
<script>
	//tabs('<a href=/modules/htmlexport/export.php>HTML Export</a><a href=/modules/sitemap/html_sitemap.php>HTML Sitemap</a><a href=#>Google Sitemap</a>',2)
</script>
<body onload=whack()>
<br>&nbsp;<br>
<form action='' method=post>
<table width=100% class=T id=TRW>
    <TR>
        <TH align=center><b>Google Sitemap Created</b></TH>
    </TR>
   
    <!-- line_start -->
    <TR>
        <TD colspan=2 style='padding: 0 0 0 20'><a href='<!-- sitemap_link -->'><!-- file_name --></a><br><span style='font-size: 8pt'><!-- file_link --></span></TD>
    </TR>
    <!-- line_end -->
</table>
</form>
</body>