

<link rel=stylesheet href=/shared/W.css>
<script src=/shared/G.js></script>
<script src=/shared/trwacker.js></script>
<script>
	//tabs('<a href=/modules/htmlexport/export.php>HTML Export</a><a href=#>HTML Sitemap</a><a href=/modules/sitemap/google_sitemap.php>Google Sitemap</a>',1)
</script>
<body onload=whack()>
<br>&nbsp;<br>
<form action='' method=post>
<table width=100% class=T id=TRW>
    <TR>
        <TH align=center><b>HTML Sitemap Updated</b></TH>
    </TR>
    
    <!-- line_start -->
    <TR>
        <TD colspan=2>&nbsp;&nbsp;&nbsp;<span title='<!-- link -->'><!-- name --></span></TD>
    </TR>
    <!-- line_end -->
      <!-- <TR>
        <TD colspan=2 align=right><br><input type='submit' name='updateHTML' value='Save >>'></TD>
    </TR> -->
</table>
</form>
</body>