<br>
<form action='' method=post>
<table width=100%>
	<TR>
		<TD>Type </TD>
		<TD><select name='area_type'><!-- types --></select></TD>
	</TR>
	<TR>
		<TD colspan=10 align=right><input type='submit' name='savePrefs' value='Save Preferences >>'></TD>
	</TR>
</table>
</form>