/* 
    Document   : area_type
    Created on : 23 Mar 2011, 10:17:24 PM
    Author     : thilo Muller
    Description:
        Styles for the area types only
*/

.dMsg1 {background-color: #a5acb2; font-family: arial; width:400px; border: 1px dotted black; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 10px}
.bMsg1 {width:400px;margin-left: auto; margin-right: auto; text-align: right; padding: 0px }



