/* BASIC CSS STYLING TO MAKE IT LOOK PRETTIER */
#sport_results_tbl { border-collapse:collapse; border-spacing:0; }
#sport_results_tbl th{ padding:2px 6px; }
#sport_results_tbl td {padding: 8px 4px}
/*Form styles*/
fieldset{margin-bottom:5px;border:1px solid #d3d3d3}
legend {font-weight:bold}
label {margin-right:2px}
input {border-radius:4px 4px 4px 4px;
    color:#555555;
    display:inline-block;
    font-size:14px;
    margin-bottom:10px;
    padding:4px 6px;
    vertical-align:middle;
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s
}
.error{color:red}
#sportBtns { list-style: none }
#sportBtns li { float: left; margin-right: 10px }