<form action="" method="post">
	<!-- message -->
<table style="width: 100%">
	<tr>
		<td><input type="checkbox" value="HL" name="HL" id="HL" <!-- HL --> >HL</td>
		<td><input type="checkbox" value="SC" name="SC" id="SC" <!-- SC --> >SC</td>
		<td><input type="checkbox" value="nonaccomm" name="nonaccomm" id="nonaccomm" <!-- nonaccomm --> >non-accommodation</td>
		<td></td>
	</tr>
	<tr>
		<td><input type="checkbox" value="HL2012" name="HL2012" id="HL2012" <!-- HL2012 --> >HL2012</td>
		<td><input type="checkbox" value="HL2013" name="HL2013" id="HL2013" <!-- HL2013 --> >HL2013</td>
		<td><input type="checkbox" value="HL2014" name="HL2014" id="HL2014" <!-- HL2014 --> >HL2014</td>
		<td><input type="checkbox" value="HL2015" name="HL2015" id="HL2015" <!-- HL2015 --> >HL2015</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="SC2012" name="SC2012" id="SC2012" <!-- SC2012 --> >SC2012</td>
		<td><input type="checkbox" value="SC2013" name="SC2013" id="SC2013" <!-- SC2013 --> >SC2013</td>
		<td><input type="checkbox" value="SC2014" name="SC2014" id="SC2014" <!-- SC2014 --> >SC2014</td>
		<td><input type="checkbox" value="SC2015" name="SC2015" id="SC2015" <!-- SC2015 --> >SC2015</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="Awards2012" name="Awards2012" id="Awards2012" <!-- Awards2012 --> >Awards 2012</td>
		<td><input type="checkbox" value="Awards2013" name="Awards2013" id="Awards2013" <!-- Awards2013 --> >Awards 2013</td>
		<td><input type="checkbox" value="Awards2014" name="Awards2014" id="Awards2014" <!-- Awards2014 --> >Awards 2014</td>
		<td><input type="checkbox" value="Awards2015" name="Awards2015" id="Awards2015" <!-- Awards2015 --> >Awards 2015</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="SABest2012" name="SABest2012" id="SABest2012" <!-- SABest2012 --> >SA Best 2012</td>
		<td><input type="checkbox" value="SABest2013" name="SABest2013" id="SABest2013" <!-- SABest2013 --> >SA Best 2013</td>
		<td><input type="checkbox" value="SABest2014" name="SABest2014" id="SABest2014" <!-- SABest2014 --> >SA Best 2014</td>
		<td><input type="checkbox" value="SABest2014" name="SABest2015" id="SABest2015" <!-- SABest2015 --> >SA Best 2015</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="webonly" name="webonly" id="webonly" <!-- webonly --> >Web only</td>
		<td colspan="2">Web expiry date <input type="text" value="<!-- Webexpirydate -->" name="Webexpirydate" id="Webexpirydate" onclick=j_P.J_datePicker(self,3)></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="4" style="text-align: right"><button type="submit">Save</button></td>
	</tr>
</table>
</form>
<hr>

