<link rel=stylesheet href='/juno/style/set/page.css'>
<form action="" method="post" >
<table style="width: 100%">
	<tr>
		<th>Establishment</th>
		<td><!-- establishment --></td>	
	</tr>
	<tr>
		<th>Assessment Type</th>
		<td>
			<select name="assessment_type">
				<option value="fa">Fixed Accommodation</option>
				<option value="cc">Caravan & Camping</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<th>Invoice</th>
		<td>
			<tt>(Select the invoice to attach the assessment to)</tt>
			<!-- invoices -->
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<th>Current Assessments </th>
		<td ><!-- assessments --></td>
	</tr>
</table>
<input type="submit" value='Create Assessment' >
</form>