#colorpicker{position:absolute;font-family:arial;z-index:999999999;font-weight:bold;color:#555}
#colorpicker div{padding:0;margin:0}
#colorpicker img{position:absolute}
#colorpicker .cp1{top:0;left:0;height:8;width:8}
#colorpicker .cp2{top:0;left:8;height:8;width:210}
#colorpicker .cp3{top:0;left:218;height:8;width:16}
#colorpicker .cp4{top:8;left:218;height:206;width:16}
#colorpicker .cp5{top:214;left:218;height:16;width:16}
#colorpicker .cp6{top:214;left:8;height:16;width:210}
#colorpicker .cp7{top:214;left:0;height:16;width:8}
#colorpicker .cp8{top:8;left:0;height:206;width:8}
#colorpicker .cp_B{position:absolute;top:8;left:8;height:206;width:210;cursor:move;background:#222}
#colorpicker #cp_C{position:absolute;top:15;left:17;background:#FF0000}
#colorpicker #cp_T{position:absolute;left:38;font-size:14px;color:#FFF}
#colorpicker .cp_X{position:absolute;top:15;cursor:pointer}
#colorpicker #cp_C,#colorpicker #SV,#colorpicker #Hmodel{border-style:solid;border-width:1;border-color:#555}
#colorpicker #SV{background:#FF0000 url(/shared/color/csat.png) no-repeat;position:absolute;top:38;left:16;cursor:crosshair;height:166;width:167}
#Hmodel{position:absolute;top:38;left:192;height:166;width:16;background:url(/shared/color/hue.gif) repeat-x;cursor:n-resize}
#colorpicker #Hslide{cursor:n-resize}
#cp_A1{position:absolute;top:15;cursor:pointer;background:#FF0000;height:15;width:15;border-style:solid;border-width:1;border-color:#666}
#cp_A1 img{height:15;width:15}
#cp_A2{position:absolute;top:15;cursor:pointer;background:#FF0000;height:15;width:15;border-style:solid;border-width:1;border-color:#666}
#cp_A2 img{height:15;width:15}
#cp_cT{position:absolute;top:38;left:16;height:168;width:194;overflow:auto;overflow-x:hidden}
#cp_cT table{width:100%;border-collapse:collapse}
#cp_cT td,#cp_cT th{border-style:solid;border-width:1;border-color:#555;font-size:9pt;white-space:nowrap;font-weight:bold;padding:0 0 0 4}
#cp_cT td{cursor:pointer}
#cp_cT th{background:#555;color:#FFF;text-align:left}
.cp_tte{height:30;width:30;float:left;margin:0 5 0 0;border-style:solid;border-width:1;border-color:#555}