/* WARNING! Editors make changes here. Do not change items. Rather append changes */

body{background:#C4CFD9;overflow:hidden;padding:0;margin:0;cursor:default}
body,td,th,textarea,input,select,tt,pre{font-family:arial}
table{border-collapse:collapse}
a:link,a:visited,a:hover{text-decoration:none}
u{text-decoration:none}
img{border:0}
.i{display:none}

/* SAVE iframe */
#SAVE{visibility:hidden;height:100px;width:300px;position:absolute;z-index:100000}

/* Graphic containers */
#Wb,#Wf{position:absolute;top:0;left:0;height:101%;overflow:hidden}
#Wl{position:absolute;top:40px;left:99px}
#Wf{width:100%}
#Wb,#Wv{width:100%}
#Wb td{vertical-align:bottom;text-align:right;padding:0 16px 16px 0}

/* minimise */
#Wm{position:absolute;top:-30;left:0;display:block;overflow:hidden;z-index:9999;padding:0 0 0 278px;font-style:normal}
#Wm a:link,#Wm a:visited,#Wm a:hover{float:left;display:block;height:24px;background:#000;color:#FFF;margin:0 2px 0 0;font-size:9pt;padding:4px 6px 0 6px;font-weight:bold;opacity:0.6;filter:alpha(opacity=60)}
#Wm a:hover{opacity:1;filter:alpha(opacity=100)}
#Wm a.m:link,#Wm a.m:visited,#Wm a.m:hover{background:#FF8000;color:#FFF}

/* brand */
.WL{text-align:center;margin:40px 0 20px 0}

/* icon links */
#Wn{position:absolute;top:0;left:0;height:101%;width:340px;overflow:hidden;}
#Wn th{padding:0 20px 0 20px}
#Wn a:link,#Wn a:visited,#Wn a:hover{display:block;width:99px;height:99px;float:left;font-size:.8em;line-height:90%;letter-spacing:0;font-weight:bold;color:navy;
}
/*#Wn a:hover{background:url(/W/F/HL.png) no-repeat center center}*/
#Wn a:link b,#Wn a:visited b,#Wn a:hover b{opacity:0.5}
#Wn a:hover b{opacity:1}
#Wn img{display:block;text-align:center; padding: 5px}
#WnB{position:absolute;top:0;left:0;height:130%;width:360px}
#WnB td{background:#B4C8D9;opacity:0.9;filter:alpha(opacity=90)}
#WnB th{width:17px;background:url(/W/S4.png) repeat-y top left}

/* Windows */
.Wt{position:absolute;top:99px;left:99px}
.Wt .Wif{width:100%;height:100%;background:#CCC}
.Wt .Wif A{background:#CCC}
.Wt th{text-align:left;height:28px;letter-spacing:-1;font-size:14pt;line-height:14px;cursor:move;padding:6px 4px 0 4px}
.Wt th .Wtt{display:block;color:#666;background:#CCC;opacity:1.0;filter:alpha(opacity=50);padding:0 0 9px 9px;width:70%;white-space:nowrap;overflow:hidden}
.Wt th a:link,.Wt th a:visited,.Wt th a:hover{float:right;display:block;font-size:20pt;line-height:18pt;margin:-4px 0 2px 0;color:#000;opacity:0.1;filter:alpha(opacity=10);z-index:2}
.Wt th a:hover{opacity:0.5;filter:alpha(opacity=50)}
.Wt td{padding:0}
.Wt .Wcw{cursor:w-resize;width:3px}
.Wt .Wce{cursor:e-resize;width:3px}
.Wt .Wcne{cursor:ne-resize;width:3px;height:4px}
.Wt .Wcs{cursor:s-resize;height:4px}
.Wt .Wcnw{cursor:nw-resize;width:3px;height:4px}
.Wt iframe{width:100%;height:100%}
.Wt .Wi{border-style:solid;border-width:2px;border-color:#AAA #EEE #EEE #AAA}