/* WARNING! Editors make changes here. Do not change items. Rather append changes */

body{background:#BBB;overflow:hidden;padding:0;margin:0;cursor:default}
body,td,th,textarea,input,select,tt,pre{font-family:arial}
table{border-collapse:collapse}
a:link,a:visited,a:hover{text-decoration:none}
u{text-decoration:none}
img{border:0}
.i{display:none}

/* SAVE iframe */
#SAVE{visibility:hidden;height:100;width:300;position:absolute;z-index:100000}

/* Graphic containers */
#Wb,#Wf{position:absolute;top:0;left:0;height:101%;overflow:hidden}
#Wl{position:absolute;top:40;left:99}
#Wf{width:100%}
#Wb,#Wv{width:100%}
#Wb td{vertical-align:bottom;text-align:right;padding:0 16 16 0}

/* minimise */
#Wm{position:absolute;top:-30;left:0;display:block;overflow:hidden;z-index:9999;padding:0 0 0 278;font-style:normal}
#Wm a:link,#Wm a:visited,#Wm a:hover{float:left;display:block;height:24;background:#000;color:#FFF;margin:0 2 0 0;font-size:9pt;padding:4 6 0 6;font-weight:bold;opacity:0.6;filter:alpha(opacity=60)}
#Wm a:hover{opacity:1;filter:alpha(opacity=100)}
#Wm a.m:link,#Wm a.m:visited,#Wm a.m:hover{background:#FF8000;color:#FFF}

/* brand */
.WL{align:center;margin:40 0 20 0}

/* icon links */
#Wn{position:absolute;top:0;left:0;height:101%;width:340;overflow:hidden;}
#Wn th{padding:0 20 0 20}
#Wn a:link,#Wn a:visited,#Wn a:hover{display:block;width:99;height:99;float:left;font-size:14px;line-height:90%;letter-spacing:-1;font-weight:bold;color:#000}
#Wn a:hover{background:url(/W/F/HL.png) no-repeat center center}
#Wn a:link b,#Wn a:visited b,#Wn a:hover b{opacity:0.5}
#Wn a:hover b{opacity:1}
#Wn img{display:block;align:center}
#WnB{position:absolute;top:0;left:0;height:130%;width:360}
#WnB td{background:#F5B700;opacity:0.7;filter:alpha(opacity=70)}
#WnB th{width:17;background:url(/W/S4.png) repeat-y top left}

/* Windows */
.Wt{position:absolute;top:99;left:99}
.Wt .Wif{width:100%;height:100%;background:#000}
.Wt .Wif A{background:#CCC}
.Wt th{text-align:left;height:28;letter-spacing:-1;font-size:14pt;line-height:14px;cursor:move;padding:6 4 0 4}
.Wt th .Wtt{display:block;color:#FFF;background:#000;opacity:0.5;filter:alpha(opacity=50);padding:0 0 9 9;width:70%;white-space:nowrap;overflow:hidden}
.Wt th a:link,.Wt th a:visited,.Wt th a:hover{float:right;display:block;font-size:20pt;line-height:18pt;margin:-4 0 2 0;color:#FFF;opacity:0.2;filter:alpha(opacity=20);z-index:2; background-color: transparent;}
.Wt th a:hover{opacity:0.5;filter:alpha(opacity=50)}
.Wt td{padding:0}
.Wt .Wcw{cursor:w-resize;width:3}
.Wt .Wce{cursor:e-resize;width:3}
.Wt .Wcne{cursor:ne-resize;width:3;height:4}
.Wt .Wcs{cursor:s-resize;height:4}
.Wt .Wcnw{cursor:nw-resize;width:3;height:4}
.Wt iframe{width:100%;height:100%}
.Wt .Wi{border-style:solid;border-width:2;border-color:#AAA #EEE #EEE #AAA}