<script src='/shared/trwacker.js'></script>
<h1>Special Offers for <!-- establishment_name --></h1>
<table cellpadding=0 cellspacing=0 width=100%>
    <tr>
        <td></td>
        <td align=right><input type=button value='Add Special Offer' class='add_button' onClick="document.location='/modules/specials/specials.php?f=add_special&id=<!-- establishment_code -->'" /></td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width=100% id=TRW onmouseover='whack()'>
    <tr style='background-color: grey'>
        <TH>Start Date</TH>
        <TH>Expiry Date</TH>
        <TH>Name</TH>
        <TH>&nbsp;</TH>
    </tr>
    <!-- line_start -->
    <tr>
        <td><!-- start_date --></td>
        <td><!-- end_date --></td>
        <td><!-- name --></td>
        <td align=right>
        	<input type=button name=edit value='Edit' class=edit_button onClick="document.location='/modules/specials/specials.php?f=edit_special&id=<!-- establishment_code -->&sID=<!-- special_id -->'"  />
        	<input type=button name='remove' value='Remove' class=delete_button onCLick=delete_special('<!-- establishment_code -->','<!-- special_id -->') />
        </td>
    </tr>
    <!-- line_end -->
    <TR style='background-color: grey; height: 2'>
        <TH colspan=10></TH>
    </TR>
</table>
<table width=100% id=paging>
    <tr>
        <!-- paging -->
    </tr>
</table>

