@CHARSET "ISO-8859-1";

/* CALENDAR */
.AAcpYearNavigation,
.AAcpMonthNavigation
		{
		background-color:#6677DD;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.AAcpDayColumnHeader,
.AAcpYearNavigation,
.AAcpMonthNavigation,
.AAcpCurrentMonthDate,
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDate,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDate,
.AAcpCurrentDateDisabled,
.AAcpTodayText,
.AAcpTodayTextDisabled,
.AAcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.AAcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #6677DD;
		border-width:0 0 1 0;
		}
.AAcpCurrentMonthDate,
.AAcpOtherMonthDate,
.AAcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.AAcpCurrentMonthDateDisabled,
.AAcpOtherMonthDateDisabled,
.AAcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.AAcpCurrentMonthDate
		{
		color:#6677DD;
		font-weight:bold;
		}
.AAcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.AAcpOtherMonthDate
		{
		color:#808080;
		}
TD.AAcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #6677DD;
		border-width:1;
		border:solid thin #000000;
		}
TD.AAcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin #FFAAAA;
		}
TD.AAcpTodayText,
TD.AAcpTodayTextDisabled
		{
		border:solid thin #6677DD;
		border-width:1 0 0 0;
		}
A.AAcpTodayText,
SPAN.AAcpTodayTextDisabled
		{
		height:20px;
		}
A.AAcpTodayText
		{
		color:#6677DD;
		font-weight:bold;
		}
SPAN.AAcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.AAcpBorder
		{
		border:solid thin #6677DD;
		}