<script src='/shared/trwacker.js'></script>
<table width=100% id=welcome>
    <tr valign=top>
        <td>
            <img src=/modules/specials/i/Locker_Favorites_128x128.png align="left" width=100px>
        </td>
        <td>
            <h1>Manage Promotional Offers</h1>
            <p>Promotional offers listed here will be displayed on the website and automatically removed on expiry. You will
            have the opportunity to enter a start date and expiry date so you can add promotional offers months in advance.
            
            </p>
            
            
        </td>
     </tr>
</table>
<hr />
<!-- establishment_list -->
