
.form_canvas_pref {
	background-color: #EAEAEA; 
	width: 100%-4px; 
	min-height:440px;
	height:auto !important; 
	height:440px; 
	border: 1px dotted silver;
	margin-top: 8px
}

INPUT:focus, TEXTAREA:focus {
	background-color: #CCF
}

SELECT {
	width: 100%
}

.prd_table {
	width: 100%;
	border-collapse: collapse;
}

.prd_table TR {
	vertical-align: top;
	border-collapse: collapse;
}

.templateTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px dotted gray;
	background-color: silver;
}
.templateDiv {
	border: 1px solid gray;
	background-color: #CCF;
	margin: 2px;
	margin-left: 22px;
}

.templateDescription {
	font-size: .8em;
	padding-left: 22px;
}

#layoutList {
	width: 100%;
}

.trDivider {
	height: 10px;
}