BODY {
	background-color: #CCC;
}

.navigation {
	width: 100%;
	border-collapse: collapse;
	background-color: gray;
	color: white;
}

.navLinkLeft {
	color: white;
	cursor: pointer;
}
.navLinkLeft:before {
	content: '\25C4';
}
.navLinkLeftOff {
	color: silver;
}
.navLinkLeftOff:before {
	content: '\25C4';
}

.navLinkRight {
	color: white;
	cursor: pointer;
}
.navLinkRight:after {
	content: '\25BA';
}
.navLinkRightOff {
	color: silver;
}
.navLinkRightOff:after {
	content: '\25BA';
}

.navFirstTD {
	width: 60px;
	text-align: left;
}
.navPreviousTD {

}
.navNextTD {
	text-align: right;
}
.navLastTD {
	width: 60px;
	text-align: right;
}

#upload_div {
	text-align: right;
	width: 100%;
	margin-top: 5px;
}

#image_table {
	font-family: Arial,Helvetica,sans-serif;
	width: 100%;
}
#image_table TR {
	vertical-align: top;
}
.place_title {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12pt;
}
.place_description {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}
.button_table {
	width: 100%;
	border-collapse: collapse;
}
.button_td {
	text-align: right;
}
.primary_image {

	color: navy;
	font-size: 10pt;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
}
.place_thumbnail {
	width: 150px
}

.image_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:380px;
	height:auto !important;
	height:380px;
	border: 1px dotted silver;
	margin-top: 8px;
	padding: 4px;

	font-family: Arial,Helvetica,sans-serif;
}

.colorVariations {
	width: 100%;
}
.colorVariations TD {
	text-align: center;
}
.colorVariations TD:hover {
	background-color: #EAEAEA;
}

.colorVariations IMG {
	height: 80px;
}


