.form_canvas {
	background-color: #EAEAEA; 
	width: 100%-4px; 
	min-height:380px;
	height:auto !important; 
	height:380px; 
	border: 1px dotted silver;
	margin-top: 8px;

	font-family: Arial,Helvetica,sans-serif;
}

#associationTable TR {
	vertical-align: top;
}

.rightAlign {
	text-align: right;
}