BODY {
	background-color: #CCC;
}
.form_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:380px;
	height:auto !important;
	height:380px;
	border: 1px dotted silver;
	margin-top: 30px;
	padding: 4px;

	font-family: Arial,Helvetica,sans-serif;
}

.category_form_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:90px;
	height:auto !important;
	height:90px;
	border: 1px dotted silver;
	margin-top: 8px
}

.color_form_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:350px;
	height:auto !important;
	height:90px;
	border: 1px dotted silver;
	margin-top: 8px
}

INPUT:focus, TEXTAREA:focus {
	background-color: #CCF
}

.productTable {
	width: 100%;
	border-collapse: collapse;
}

.productTable TR {
	vertical-align: top;
}

.productTable TEXTAREA {
	width: 100%;
	height: 80px;
}

/*.catapp {
	background-color: gray;
}*/

/*#categoryTable, #applicationTable {
	border-collapse: collapse;
	border: 1px dotted gray;
	width: 100%;
}*/

.rightAlign {
	text-align: right;
}

/*#categoryTable TR:nth-child(odd), #applicationTable TR:nth-child(odd)   {
	background-color:#CCF;
}

#categoryTable TR:nth-child(even), #applicationTable TR:nth-child(even)   {
	background-color:lavender;
} */

.catapp {
	background-color: #a5acb2;
	background-image: url(/i/sets/default/th_back.png);
}

.hiddenRow {
	display: none;
}

