.form_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:380px;
	height:auto !important;
	height:380px;
	border: 1px dotted silver;
	margin-top: 8px;
	padding: 4px;

	font-family: Arial,Helvetica,sans-serif;
}

.variationTable {
	width: 100%;
}

.variationTable TR {
	vertical-align: top;
}

.groupTable {
	width: 100%;
}
.secondRow {
	background-color: gray;
}

.firstCol {
	width: 100px;
	border-right: 1px dotted silver;
}

.secondCol {
	padding-left: 5px;
}

.thirdCol {
	text-align: right;
}
.groupName {
	font-size: 1.4em;
	text-align: left;
}

