<script src="/modules/customer_management/assets/js/edit_customer.js"></script>
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/lib/css/plugins/iCheck/line/aero.css" rel="stylesheet">
<link href="/lib/js/plugins/intl-tel-input-9.0.0/build/css/intlTelInput.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><span class="customer_task"><!-- customer_task --></span> <!-- customer_singular -->: </strong><span id="customer_title"><!-- customer_name --></span></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=customer_management&a=list_customers"><!-- customer_singular --> Management</a>
            </li>
            <li class="active">
                <strong><span class="customer_task"><!-- customer_task --></span> <!-- customer_singular --></strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="customerForm" method="post">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_name"><!-- customer_singular --> Name</label>
                                    <input type="text" class="form-control" id="customer_name" name="customer_name" value="<!-- customer_name -->">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_contact">Contact Name</label>
                                    <input type="text" class="form-control" id="customer_contact" name="customer_contact" value="<!-- customer_contact -->">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_contact_number">Contact Number</label>
                                    <input type="tel" class="form-control" id="customer_contact_number" name="customer_contact_number" value="<!-- customer_contact_number -->">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_contact_email">Contact Email</label>
                                    <input type="email" class="form-control" id="customer_contact_email" name="customer_contact_email" value="<!-- customer_contact_email -->">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_physical_address1">Physical Address</label>
                                    <input type="text" class="form-control" id="customer_physical_address1" name="customer_physical_address1" value="<!-- customer_physical_address1 -->">
                                    <input type="text" class="form-control" id="customer_physical_address2" name="customer_physical_address2" value="<!-- customer_physical_address2 -->">
                                    <input type="text" class="form-control" id="customer_physical_address3" name="customer_physical_address3" value="<!-- customer_physical_address3 -->">
                                    <input type="text" class="form-control" id="customer_physical_address4" name="customer_physical_address4" value="<!-- customer_physical_address4 -->" >
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="customer_postal_address1" >Postal Address </label> <div style="width: 250px" class="pull-right"><input type="checkbox" value="1" name='same_as_physical' id="same" <!-- same_as_physical --> ><label>Same as Physical Address</label></div>
                                    <input type="text" class="form-control addr addr1" id="customer_postal_address1" name="customer_postal_address1" value="<!-- customer_postal_address1 -->">
                                    <input type="text" class="form-control addr addr2" id="customer_postal_address2" name="customer_postal_address2" value="<!-- customer_postal_address2 -->">
                                    <input type="text" class="form-control addr addr3" id="customer_postal_address3" name="customer_postal_address3" value="<!-- customer_postal_address3 -->">
                                    <input type="text" class="form-control addr addr4" id="customer_postal_address4" name="customer_postal_address4" value="<!-- customer_postal_address4 -->">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div style="text-align: right">
                                    <input type="hidden" id='customer_id' name="customer_id" value="<!-- customer_id -->" >
                                    <button type="button" class="btn btn-danger dim" onclick="cancelEdit()">Cancel</button>
                                    <button type='submit' name="submitButton" class="btn btn-primary dim">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/plugins/intl-tel-input-9.0.0/build/js/intlTelInput.js"></script>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script>
    $("#customer_contact_number").intlTelInput("selectCountry", "za");

    $("#customer_contact_number").intlTelInput({
        autoHideDialCode: true,
        autoPlaceholder: true,
        preferredCountries: [ "za", "gh" ],
        nationalMode:false,
        initialCountry: "za",
        separateDialCode: false,
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: false,
        // dropdownContainer: "body",
        // excludeCountries: ["us"],
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // initialCountry: "auto",
        // nationalMode: false,
        // numberType: "MOBILE",
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // preferredCountries: ['cn', 'jp'],
        //
        utilsScript: "/lib/js/plugins/intl-tel-input-9.0.0/build/js/utils.js"
    });
</script>