
<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong><!-- customer_singular --> Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=customer_management&a=list_customers"> <!-- customer_singular --> Management</a>
            </li>
            <li class="active">
                <strong><!-- customer_singular --> List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
              <span class="text-muted small pull-right">
                  <span class="text-muted small pull-right">  <button type="button" class="btn btn btn-primary dim" onclick="editCustomer(0)"> <i class="fa fa-plus-square-o"></i> Create <!-- customer_plural --></button></span></span><br><br><br>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                            <li class="active" ><a  data-toggle="tab" id="activeTab" href="#tab-1"><i class="fa fa-user text-success"></i> Active <!-- customer_plural --></a></li>
                            <li class="" ><a data-toggle="tab"  id="inactiveTab" href="#tab-2"><i class="fa fa-user-times text-danger"></i> Inactive <!-- customer_plural --></a></li>
                        </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="activeCustomerTable">
                                        <thead>
                                            <th><!-- customer_singular --> Name</th>
                                            <th>Contact Name</th>
                                            <th>Contact Number</th>
                                            <th>Email Address</th>
                                            <th>Keg Count</th>
                                            <th style="min-width: 2cm"></th>
                                        </thead>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="inactiveCustomerTable">
                                    <thead>
                                    <th><!-- customer_singular --> Name</th>
                                    <th>Contact Name</th>
                                    <th>Contact Number</th>
                                    <th>Email Address</th>
                                    <th>Keg Count</th>
                                    <th style="min-width: 2cm"></th>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/modules/customer_management/assets/js/list_customers.js"></script>
<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
