<br>
<form action="" method="post">

<table width="100%">
	<tr valign="top">
		<td class="w50 divider" >
			<table class='tbl_form'>
				<tr><th colspan=2>Variations</th></tr>
				<tr>
					<td class="w150">Enabled</td>
					<td>
						<input type="checkbox" value="Y" name="variation_enabled" <!-- variation_enabled --> >
					</td>
				</tr>
				<tr>
					<td class="w150">Variation Type</td>
					<td>
						<select name="variation_type">
							<!-- type_select -->
						</select>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table class='tbl_form'>
				<tr><th colspan=2>Features</th></tr>
				<tr>
					<td class="w150">Enable Applications</td>
					<td>
						<input type="checkbox" value="Y" name="applications_enabled" <!-- applications_enabled --> >
					</td>
				</tr>
				<tr>
					<td class="w150">Enable Manufacturers</td>
					<td>
						<input type="checkbox" value="Y" name="manufacturers_enabled" <!-- manufacturers_enabled --> >
					</td>
				</tr>

			</table>
		</td>
	</tr>
</table>
<div class='top_buttons' style="margin-top:  5px"><input type="submit" value="Save Product Settings" class="save_button"></div>
</form>