.cricket_title_suffix {
	font-size: 1.2em;
	font-weight: bold;
}

.cricket_results_suffix {
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
}

.cricket_match_suffix {
	font-weight: bold;
	padding-top: 10px;
}

.cricket_nav_suffix {
	width: 100%;
	font-size: .8em;
	background-color: silver;
	border-collapse: collapse;
}

.cricket_nav_prev_suffix {
	text-align: left;
	border-top: 1px solid gray;
}
.cricket_nav_center_suffix {
	text-align: center;
	border-top: 1px solid gray;
}
.cricket_nav_next_suffix {
	text-align: right;
	border-top: 1px solid gray;
}

.result_line_suffix:hover {
	background-color: blue;
}

