/*
    Author     : Thilo Muller (2011)
    Version    : $Id: match_edit.css 87 2011-09-14 06:45:49Z thilo $
*/

.form_canvas {
	background-color: #EAEAEA;
	width: 100%-4px;
	min-height:390px;
	height:auto !important;
	height:390px;
	border: 1px dotted silver;
	margin-top: 8px
}

INPUT:focus {
	background-color: #CCF
}

.matchTable {
	border-collapse: collapse;
	width: 100%;
}

.teamContainer {
	width: 100%;
	background-color: #bbbbbb;
	border: 1px dotted gray
}

.labelTeam {
	width: 100px;
	display: inline-block;
}

.labelTeam:after {
	content: ': ';
}

#resultContainer {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

#resultContainer TH {
	text-align: center;
	background-color: gray;
	color: black;
}

#resultContainer TD {
	text-align: center;
}

.resultPlayers {
	width: 200px;
	text-align: left;
}

.line {
	border-bottom: 1px dotted black;
}

.resultResult {
	width: 100px
}

.resultSets {
	width: 50px;
}

.resultField {
	width: 40px;
}

#resultError {
	width: 200px;
	display: inline-block;
	padding-left: 10px;
	background-color: inherit;
	color: red;
	font-size: .8em;

	font-family: 'Courier New',Courier,monospace;
}

#teamList {
	width: 405px;
	border: 1px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	color: black;
	background-color: silver;
}

#teamList DIV:hover {
	background-color: steelblue;
}

.hideList {
	display: none;
	position: fixed;

}

.showList {
	display: block;
	position: fixed;
}

.topBar {
	background-color: gray;
	color: black;
	width: 100%;
	border-collapse: collapse;
}

#teamID {
	width: 100%;
}

#selectionBox {
	width: 100%;
	height: 250px;
	background-color: white;
}

#selectionBox .intro {
	font-size: .7em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
}

































