.form_canvas {
	background-color: #EAEAEA; 
	width: 100%-4px; 
	min-height:390px;
	height:auto !important; 
	height:390px; 
	border: 1px dotted silver;
	margin-top: 8px
}

INPUT:focus {
	background-color: #CCF
}

.teamTable {
	width: 100%;
}
.teamTable TR {
	vertical-align: top;
}

.memberTable {
	width: 100%;
	empty-cells: show;
	border-collapse: collapse; 
	border-left: 1px solid gray; 
	border-right: 1px solid gray;
	border-bottom: 4px solid gray;
}

.memberTable TH {background-color: #a5acb2; background-image: url(/i/sets/default/th_back.png); font-family: arial; font-size: 10pt}
.memberTable TR {border-bottom: 1px solid gray}
.memberTable TD {font-family: arial; font-size: 10pt}


#addMemberDiv {
	width: 400px;
	border: 1px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	color: black;
	background-color: silver;
}
.addHidden {
	display: none;
	position: fixed;
}

.addShow {
	display: block;
	position: fixed;
}

.topBar {
	background-color: gray;
	color: black;
	width: 100%;
	border-collapse: collapse;
}

.deleteCol {
	text-align: right;
}