<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">
<link href="/lib/js/plugins/intl-tel-input-9.0.0/build/css/intlTelInput.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Create Account:</strong> <!-- account_name --></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=account_management&a=list_accounts">Accounts Management</a>
            </li>
            <li class="active">
                <strong>Create Account</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form  role="form" method="post" id="editAccountForm" action="">
        <input type="hidden" name="user_id" id="user_id" class="form-control" value="<!-- user_id -->">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <h4><span class="text-navy">Account Management</span></h4>
                    </div>
                    <div class="ibox-content p-md">

                        <h2><span class="text-navy">Login Details</span></h2>
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                <div class="form-group">
                                    <label>Full Name:</label>
                                    <input type="text" placeholder="Name and Surname" name="user_full_name" id="user_full_name" class="form-control" value="<!-- user_full_name -->">
                                </div>
                                <div class="form-group">
                                    <label>Email Address:</label>
                                    <input type="email" placeholder="unknown@unknown.com" name="user_email_address" id="user_email_address" class="form-control"  value="<!-- user_email_address -->">
                                </div>
                                <div class="form-group">
                                    <label>Contact Number:</label>
                                    <input type="tel"  name="user_contact_numbers" id="user_contact_numbers" class="form-control"  value="<!-- user_contact_numbers -->">
                                </div>
                                <div class="form-group">
                                    <label>User Type:</label>
                                    <!-- user_job_description -->
                                </div>

                                <div class="form-group">
                                  <!-- select_company -->
                                </div>

                                <div class="form-group" style="margin-top: 5%;">
                                    <!-- creation_date -->
                                    <input type="hidden" name="creation_date" id="creation_date" class="form-control" value="<!-- date -->">
                                </div>
                                </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" placeholder="Username for logging in" class="form-control" name="user_username" id="user_username"  value="<!-- user_username -->">
                                </div>
                                <div class="form-group">
                                    <label>Job description:</label>
                                    <input type="text" placeholder="Job Description" class="form-control" name="workplace_description" id="workplace_description" value="<!-- workplace_description -->">
                                </div>
                                <div class="form-group">
                                    <label>Notes:</label>
                                    <textarea class="form-control" rows="5" placeholder="Comments regarding user........." name="user_notes" id="user_notes"  style="height: 105px;"><!-- user_notes --></textarea>
                                </div>
                                <div class="form-group pull-right">
                                    <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                                    <button class="btn btn-primary  dim" type="submit" id="save">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/lib/js/plugins/intl-tel-input-9.0.0/build/js/intlTelInput.js"></script>
<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<!-- iCheck -->
<script src="/lib/js/plugins/iCheck/icheck.min.js"></script>

<!-- Input Mask-->


<script src="/modules/account_management/assets/js/edit_account.js?20160627"></script>

<script>
    $("#user_contact_numbers").intlTelInput("selectCountry", "za");

    $("#user_contact_numbers").intlTelInput({
        autoHideDialCode: true,
        autoPlaceholder: true,
        preferredCountries: [ "za", "gh" ],
        nationalMode:false,
        initialCountry: "za",
        separateDialCode: false,
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: false,
        // dropdownContainer: "body",
        // excludeCountries: ["us"],
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // initialCountry: "auto",
        // nationalMode: false,
        // numberType: "MOBILE",
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // preferredCountries: ['cn', 'jp'],
        //
        utilsScript: "/lib/js/plugins/intl-tel-input-9.0.0/build/js/utils.js"
    });
</script>

