<link href="/lib/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/lib/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Create Role:</strong> New Role</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=account_management&a=list_roles">Role Management</a>
            </li>
            <li class="active">
                <strong>New Role</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2><span class="text-navy">New Role</span></h2>
                </div>
                <div class="ibox-content">
                        <form method="post" id="NewRoleForm" class="box">

                    <div class="row">
                            <div class="form-group">
                                <label>Role Name:</label>
                                <input type="text" placeholder="Role Name" name="role_name" id="role_name" class="form-control">
                            </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-danger  dim" type="button" id="cancel">Cancel</button>
                            <button class="btn btn-primary  dim" type="submit">Save Role</button>
                        </div>
                </div>
                    </form>

            </div>
        </div>
    </div>
</div>
</div>

<script src="/lib/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/account_management/assets/js/create_role.js?20160708"></script>



