<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Accounts Manager</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                 <a href="/index.php?m=account_management&a=list_accounts">Accounts Management</a>
            </li>
            <li class="active">
                <strong>Account List</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                   <span class="text-muted small pull-right">   <button type="button" class="btn btn btn-primary  btn-sm dim" id="manage_templates"> <i class="fa fa-plus-square-o"></i> Manage Permission Templates</button>
                    <!-- create_account_button --></span><br>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li class="active" id="activeAccountTab"><a data-toggle="tab" href="#active_accountsTab"> Enabled Accounts</a></li>
                            <li class="" id="inactiveAccountTab"><a data-toggle="tab" href="#inactive_accountsTab">Inactive Accounts</a></li>
                        </ul><br>
                        <div class="tab-content">
                            <div id="active_accountsTab" class="tab-pane active" >
                                <div class="table-responsive">
                                    <table id="activeAccountsTbl" class="table table-striped table-bordered table-hover dt-responsive">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Company</th>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Tel No</th>
                                            <th>Devices</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="inactive_accountsTab" class="tab-pane" style="height:100%">
                                <div class="table-responsive">
                                    <table id="inactiveAccountsTbl" class="table table-striped table-bordered table-hover dt-responsive">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Company</th>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Tel No</th>
                                            <th>Devices</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/account_management/assets/js/list_accounts.js?20160627"></script>



