
<p>Attention: <!-- contact_name --></p>

<p>This serves as a reminder that an assessor has made an appointment to visit <!-- establishment_name --> on <!-- visit_date -->.</p>

<p>To facilitate prompt submission of your report by your assessor please ensure that the proof of payment has been
    emailed to <a href="mailto: accounts@aatravel.co.za">accounts@aatravel.co.za</a> prior to your assessors visit.</p>

<p>We thank you for your valued support and wish you a successful year ahead.</p>

<p>Should you require further information in this regard please don't hesitate to contact us.</p>

<p>Kind regards</p>
<!-- assessor_name -->