<!-- <tt><b>NOTE!</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod erat ut nulla elementum sed posuere lectus lacinia. Pellentesque et justo non dui eleifend accumsan vitae non mauris. Nam egestas aliquet egestas. Fusce sed purus quis nulla ornare rutrum.</tt> -->
<hr>
<form action="" method="post" >
Date: <input type="text" name="assessment_date" onCLick="j_P.J_datePicker(self)" value="!assessment_date!"> <select name="book_time"><!-- book_time --></select>

<hr>
<table class="jW100">
    <tr>
        <td width="150px">Send Confirmation?</td>
        <td><input type="radio" name="send_confirmation" value="Y" style="margin-left: 10px" onClick="toggle_disp(this.value)">Yes
                    <input type="radio" name="send_confirmation" value="N" checked style="margin-left: 10px" onClick="toggle_disp(this.value)">No
                    <br>
        </td>
    </tr>
</table>
<table class="jW100" id="mType" style="display: none">
    <tr>
        <td  width="150px">Message Type</td>
        <td>
            <select name="type" >
                <!-- message_type -->
            </select>
        </td>
    </tr>
</table>
<br>
<div id="mMail" style="display: none">
Send email to<br>
<!-- email_list -->
<br>
</div>

<div id=save_button ><input type=submit value='Continue' class=email_button name="save" /></div>

</form>

