<p>Attention: <!-- contact_name --></p>

<p>As a result of the scheduled assessment date change this serves as a reminder that the appointment for <!-- establishment_name --> has been changed to <!-- visit_date --> </p>

<p>To facilitate prompt submission of your report by your assessor please ensure that the proof of payment has been
    emailed to <a href="mailto: accounts@aatravel.co.za">accounts@aatravel.co.za</a> prior to your assessors visit.</p>

<p>We thank you for your valued support and wish you a successful year ahead.</p>

<p>Should you require further information in this regard please don't hesitate to contact us.</p>

<p>Kind regards</p>
<!-- assessor_name -->