<form action='/modules/buscards/place_order_eft.php' method="post" id="orderForm">
<table class="orderTable">
	<tr>
		<td colspan="2" class="OrderHeading">Order Details</td>
	</tr>
	<tr>
		<td colspan="2"><!-- card_quantity --> business cards R<!-- order_value --> <br>&nbsp;<br></td>
	</tr>
	<tr>
		<td colspan="2" class="OrderHeading">Payment Details</td>
	</tr>
	<tr>
		<td colspan="2">
			Please complete your purchase by making payment to:
			
			<p>Cardmaker<br>
			ABSA Bank<br>
			Greenstone branch<br>
			Account number 9280947308<br>
			Reference number: <!-- reference_number --><br></p>

			<p>Please email your proof of payment to <a href="mailto:order@cardmaker.co.za">order@cardmaker.co.za</a> or fax 086 272 2906.<br> 
			Once proof of payment is received we will email your invoice to the address entered below.<br>
			This will confirm that we have received your payment and that your cards are being printed.<br>
			You can expect delivery of your cards within 5 working days of making payment.</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="OrderHeading">Your Contact Details</td>
	</tr>
	<tr>
		<td colspan="2" class="orderSub">Please supply us with the following information</td>
	</tr>
	<tr>
		<td class="leftTD">Name</td>
		<td class="rightTD"><input type="text" value='<!-- contact_name -->' name="contactName" id="contactName" title="Required: "></td>
	</tr>
	<tr>
		<td>Company</td>
		<td><input type="text" value='<!-- contact_company -->' name="contactCompany"></td>
	</tr>
	<tr>
		<td>Telephone</td>
		<td><input type="text" value='<!-- contact_tel -->' name="contactTelephone" id="contactTelephone" title="Required: "></td>
	</tr>
	<tr>
		<td>Email Address</td>
		<td><input type="text" value='<!-- contact_address -->' name="contactAddress" id="contactAddress" title="Required: "></td>
	</tr>
	<tr>
		<td colspan="2" class="orderHeading2">Delivery Address</td>
	</tr>
	<tr>
		<td colspan="2" class="orderSub">There must be someone present at the above address between 8am and 5pm - Monday-Friday to receive delivery of goods</td>
	</tr>
	<tr>
		<td>No. and Street</td>
		<td><input type="text" value='<!-- street -->' name="street" title="Required: Please enter a street address for delivery"></td>
	</tr>
	<tr>
		<td>Town</td>
		<td><input type="text" value='<!-- town -->' name="town" title="Required: Please enter a town name for delivery"></td>
	</tr>
	<tr>
		<td>Province</td>
		<td><input type="text" value='<!-- province -->' name="province" title="Required: Please enter your province for delivery"></td>
	</tr>
	<tr>
		<td>Postal Code</td>
		<td><input type="text" value='<!-- postal -->' name="postal" title="Required: Please enter your postal code for delivery"></td>
	</tr>
    <tr>
		<td></td>
		<td><input type="checkbox" value='Y' name="display_card" <!-- display_card --> > Display my card on the CardMaker home page for free</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" class="alignRight">
			<input type='hidden' name="card_id" value="<!-- card_id -->" >
			<input type="hidden" name="TransactionValue" value='<!-- order_value -->' >
			<input type="hidden" name="TransactionVolume" value='<!-- card_quantity -->' >
			<input type="hidden" name="transactionDesc" value='<!-- card_quantity --> business cards R<!-- order_value --> ' >
			<button class="placeOrder" onclick="document.location = '/index.php'" type="button">&laquo; Edit Card</button>
			<button class="placeOrder" onclick="checkRequired()" type="button">Continue &raquo;</button></td>
	</tr>
	
</table>
</form>
