
<img src="cid:cardmakerLogo" alt="cardMaker Logo">
<hr>
<p>Thank you for placing your business card order with CardMaker.</p>

<table class="orderTable">
	<tr>
		<td colspan="2" style="font-size: 1.4em; font-weight: normal;color: #0096FF;">Order Details</td>
	</tr>
	<tr>
		<td colspan="2"><!-- order_details --><br>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size: 1.4em; font-weight: normal;color: #0096FF;">Payment Details</td>
	</tr>
	<tr>
		<td colspan="2">
			Please complete your purchase by making payment to:
			<table>
				<tr>
					<td style="width: 30px"></td>
					<td>
						Cardmaker<br>
			ABSA Bank<br>
			Greenstone branch<br>
			Account number 9280947308<br>
			Reference number: <!-- reference_number --><br>
					</td>
				</tr>
			</table>
			
			Please email your proof of payment to <a href="mailto:order@cardmaker.co.za">order@cardmaker.co.za</a> or fax 086 272 2906.<br>
			Once proof of payment is received we will email your invoice to the address entered below.<br>
			This will confirm that we have received your payment and that your cards are being printed.<br>
			You can expect delivery of your cards within 5 working days of making payment.<br>&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size: 1.4em; font-weight: normal;color: #0096FF;">Delivery Address</td>
	</tr>
	<tr>
		<td colspan="2" class="orderSub">There must be someone present at the above address between 8am and 5pm - Monday-Friday to receive delivery of goods</td>
	</tr>
	<tr>
		<td style="width: 30px;"></td>
		<td><!-- street --></td>
	</tr>
	<tr>
		<td></td>
		<td><!-- town --></td>
	</tr>
	<tr>
		<td></td>
		<td><!-- province --></td>
	</tr>
	<tr>
		<td> </td>
		<td><!-- postal --></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>
<p>If you think that you've received this e-mail in error, please notify us.</p>
Kind regards,<br>

The CardMaker Team<br>
Website: <a href="http://www.cardmaker.co.za">www.cardmaker.co.za</a><br>
E-mail: <a href='mailto:info@cardmaker.co.za'>'info@cardmaker.co.za</a><br>







 
