
<table style="border-collapse: collapse; width: 100%">
	<tr>
		<td colspan="4" style="font-size: 14px; font-weight: bold">Card Details</td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Name</td>
		<td style="background-color: silver; font-size: 12px;"><!-- name --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Street</td>
		<td style="background-color: silver; font-size: 12px;"><!-- street --></td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Company</td>
		<td style="background-color: silver; font-size: 12px;"><!-- company --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Town</td>
		<td style="background-color: silver; font-size: 12px;"><!-- town --></td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Telephone</td>
		<td style="background-color: silver; font-size: 12px;"><!-- telephone --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Province</td>
		<td style="background-color: silver; font-size: 12px;"><!-- province --></td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Email</td>
		<td style="background-color: silver; font-size: 12px;"><!-- email --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Postal</td>
		<td style="background-color: silver; font-size: 12px;"><!-- postal --></td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">No. of Cards</td>
		<td style="background-color: silver; font-size: 12px;"><!-- volume --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Value</td>
		<td style="background-color: silver; font-size: 12px;">R<!-- value --></td>
	</tr>
	<tr style="border-bottom: 1px dotted white">
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray">Reference</td>
		<td style="background-color: silver; font-size: 12px;"><!-- reference_number --></td>
		<td style="width: 150px; font-weight: bold; font-size: 12px; background-color: gray"></td>
		<td style="background-color: silver; font-size: 12px;"></td>
	</tr>
	
</table>