<form action="https://www.paygate.co.za/paywebv2/process.trans" method="POST" id="paygateForm" >
	<input type="hidden" name="PAYGATE_ID" value="<!-- paygate_id -->">
	<input type="hidden" name="REFERENCE" value="<!-- reference -->">
	<input type="hidden" name="AMOUNT" value="<!-- amount -->">
<input type="hidden" name="CURRENCY" value="ZAR">
<input type="hidden" name="RETURN_URL" value="<!-- return_url -->">
<input type="hidden" name="TRANSACTION_DATE" value="<!-- date -->">
<input type="hidden" name="EMAIL" value="<!-- email -->">
<input type="hidden" name="CHECKSUM" value="<!-- checksum -->">
<div style="text-align: center; margin-top: 20px">
	You are being redirected to the payment gateway.<br>
	<input type='submit' value="Click here if you are not automatically redirected within 10 seconds">
</div>
</form>
<script>
	  document.getElementById('paygateForm').submit();
</script>