<script src="../../../shared/jQuery/jquery-ui-1.9.2/js/jquery-1.8.3.js"></script>
<script>
    function setCardDisplay(id,s) {
        var url = '/modules/buscards/ajax/set_card_display.ajax.php';
        $.post(url, {id: id, state: s});
    }
</script>
<link rel=stylesheet href='/modules/buscards/css/buscard.css' type="text/css">
        <table style="width: 100%">
            <tr>
                <td >
                    <span class="heading">View Business Card</span>
                </td>
                <td style="text-align: right">
                    <input type="checkbox" value="Y" name="display_card_admin" <!-- display_card --> <!-- display_enabled --> onclick="setCardDisplay(<!-- card_id -->, this.checked)" > <!-- display_text -->
                </td>
            </tr>
        </table>
<hr>
<table id="buscardView">
	<tr>
		<td class="tagCol">Name</td>
		<td class="contentCol"><!-- name --></td>
		<td>&nbsp</td>
		<td class="tagCol">Street</td>
		<td class="contentCol"><!-- street --></td>
	</tr>
	<tr>
		<td class="tagCol">Company</td>
		<td><!-- company --></td>
		<td>&nbsp</td>
		<td class="tagCol">Town</td>
		<td><!-- town --></td>
	</tr>
	<tr>
		<td class="tagCol">Telephone</td>
		<td><!-- telephone --></td>
		<td>&nbsp</td>
		<td class="tagCol">Province</td>
		<td><!-- province --></td>
	</tr>
	<tr>
		<td class="tagCol">Email</td>
		<td><!-- email --></td>
		<td>&nbsp</td>
		<td class="tagCol">Postal</td>
		<td><!-- postal --></td>
	</tr>
	<tr>
		<td class="tagCol">PDF</td>
		<td colspan="4">Front of Card <a href="<!-- card_front -->">[Download]</a> | Back of Card <a href="<!-- card_back -->">[Download]</a></td>
	</tr>
	<tr>
		<td colspan="5"><hr></td>
	</tr>
	<!-- transactions -->
</table>
