<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="">
<meta name="KeyWords" content="">
<meta name="classification" content="accommodation, holiday, vacation south africa, tourism, travel, south africa accommodation">
<title>South Africa accommodation - AA Travel Guides</title>
<link href="../styles/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/scripts.js"></script>
</head>
<body class="bodyStyle">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="115"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="../images/header_bg.gif">
        <tr>
          <td width="187"><img src="../images/top_left.gif" width="187" height="115" /></td>
          <td><img src="../images/header_logo.gif" width="578" height="115" /></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="187" background="../images/left_bg.gif" valign="top">
		    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="../images/left_bg.gif" bgcolor="#FFFF00">
			  <tr>
				<td><a href="../index.html"><img src="../images/new_links_02.gif" width="187" height="35" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../search.jsp"><img src="../images/new_links_04.gif" width="187" height="25" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../order_form.html"><img src="../images/new_links_05.gif" width="187" height="23" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../nightsbridge/frames.html" target="_blank"><img src="../images/new_links_06.gif" width="187" height="24" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="http://www.aatravel.co.za/discounts/index.html"><img src="../images/new_links_07.gif" width="187" height="25" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../search_advanced.jsp"><img src="../images/new_links_08.gif" width="187" height="23" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../carhire.jsp"><img src="../images/new_links_09.gif" width="187" height="24" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../awards.jsp"><img src="../images/new_links_10.gif" width="187" height="25" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../links.jsp"><img src="../images/new_links_11.gif" width="187" height="24" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../visit/southafrica.htm" target="_blank"><img src="../images/new_links_12.gif" width="187" height="25" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../articles.jsp"><img src="../images/new_links_13.gif" width="187" height="24" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../aaqa.jsp"><img src="../images/new_links_14.gif" width="187" height="23" border="0" /></a></td>
			  </tr>
			  <tr>
				<td><a href="../contact.jsp"><img src="../images/new_links_15.gif" width="187" height="23" border="0" /></a></td>
			  </tr>
			  <tr>
				<td background="../images/new_links_18.gif" height="116">
				  <form action="../subscribe_process.jsp" method="post" onSubmit="return check_subscription_form();"><table width="150" border="0" cellspacing="0" cellpadding="3">
					<tr>
					  <td align="center" class="text"><strong>Subscribe to our Newsletter! </strong></td>
					</tr>
					<tr>
					  <td align="center"><input name="email" type="text" class="textfield" id="email" value="Your email address" /></td>
					</tr>
					<tr>
					  <td align="center"><input type="submit" name="Submit" value="Subscribe!" id="button"  /></td>
					</tr>
				  </table>
				  </form>
				</td>
			  </tr>
			</table>
		  </td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                      <td><table width="100%" border="0" cellpadding="5" cellspacing="0" class="message_table">
                          <tr>
                            <td height="14"><p>Below is a list of AA Quality Assured establishments.</p></td>
                          </tr>
                        </table>
                        <br>
                        <div align="right">
                          <table border="0" cellspacing="0" cellpadding="3">
                            <tr>
                              <td><a href="index.html"><img src="../images/icon_back.gif" alt="AA Travel Guides - Find accommodation in South Africa" border="0"></a></td>
                              <td><a href="index.html" class="link_red">Back to establishment list </a> </td>
                            </tr>
                          </table>
                        </div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table">
                          <thead>
                            <tr>
                              <td width="7"><img src="../images/dark_corner_left.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                              <td>AA Quality Assured Establishments ($estabList.size() records found)</td>
                              <td width="7" align="right"><img src="../images/dark_corner_right.gif" alt="AA Travel Guides - South Africa accommodation" width="7" height="27"></td>
                            </tr>
                          </thead>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="grey_table">
                          #foreach( $estab in $estabList )
                          <tr style="background-image:url(../images/table_grey_gradient_bg.gif);">
                            <td height="27" class="grey_table_resname"><a href="establishments/establishment${estab.getCode()}.html" class="grey_table_resname">$helper.firstLetterCaps($estab.getResname())</a>
                              #if( !$helper.notNull($estab.getAACatDescription()).equals("") )
                              ( <span class="text_dark_blue">AA $estab.getAACatDescription()</span> )
                              #end
                            </td>
                            <td height="27" align="right" class="grey_table_resname">$helper.firstLetterCaps($estab.getTownname()) $estab.getSuburb2()</td>
                          </tr>
                          <tr>
                            <td colspan="3" height="2" bgcolor="#FFFFFF"></td>
                          </tr>
                          <tr style="border-bottom:1px solid #333333;">
                            <td colspan="3" bgcolor="#F2F2F2"><div id="div_result_content">#if( !$estab.getPicfilen1().equals("") )<img src="../images/TN_$estab.getPicfilen1()" align="absmiddle">#end $estab.getRestextmem()<br>
                                <div align="right">
                                  <table border="0" cellspacing="0" cellpadding="2">
                                    <tr>
                                      <td><a href="establishments/establishment${estab.getCode()}.html"><img src="../images/icon_view2.gif" width="24" height="24" border="0"></a></td>
                                      <td width="70"><a href="establishments/establishment${estab.getCode()}.html" class="link_red">View Details</a></td>
                                    </tr>
                                  </table>
                                </div>
								#if ( !$estab.getDiscountReference().equals("") )
								<div align="right">
                                  <table border="0" cellspacing="0" cellpadding="2">
                                    <tr>
                                      <td width="24" align="center"><a href="http://www.aatravel.co.za/pdf/$estab.getDiscountReference()"><img src="../images/discount.gif" width="16" height="16" border="0"></a></td>
                                      <td><a href="http://www.aatravel.co.za/pdf/$estab.getDiscountReference()" class="link_red">Special Offers</a></td>
                                    </tr>
                                  </table>
                                </div>
								#end
                            </div></td>
                          </tr>
                          #end
                        </table>
                        <br>
                        <table border="0" align="center" cellpadding="5" cellspacing="0">
						  <tr>
							<td class="feedback_table">#parse("static_new/bottom_nav.vm")</td>
						  </tr>
						</table>
                        <table border="0" align="center" cellpadding="5" cellspacing="0">
                          <tr>
                            <td class="feedback_table">&copy; Copyright 2008 - AA Travel Guides. All rights reserved. </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
#parse("common/google_analytics_aatravel.vm")
</body>
</html>
