<link href="/lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/lib/js/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/lib/css/plugins/sweetalert/sweetalertModified.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/lib/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Edit Role: </strong> <small><!-- role_name --></small></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.php">Home</a>
            </li>
            <li>
                <a href="/index.php?m=account_management&a=list_roles">Role Management</a>
            </li>
            <li class="active">
                <strong>Module & Permissions List</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
              <span class="text-muted small pull-right">
                  <input type="hidden" name="role_id" id="role_id" value="<!-- role_id -->"></span>
            <div class="tabs-container">
                 <ul class="nav nav-tabs">
                            <li class="active" id="modulesTab"><a data-toggle="tab" href="#modules_Tab"><i class="fa fa-user text-success"></i> Modules Permissions</a></li>
                            <li class="" id="permissionstTab"><a data-toggle="tab" href="#permissions_Tab"><i class="fa fa-user-times text-danger"></i> User Permissions</a></li>
                        </ul>
                <div class="tab-content">
                    <div id="modules_Tab" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <select class="btn btn btn-primary  btn-sm dim" id="modules">
                                        <!-- modules -->
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="modulesTbl" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Module id</th>
                                            <th>Module Name</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="permissions_Tab" class="tab-pane">
                        <div class="panel-body">
                            <div class="row" style="margin-bottom: 1cm">
                                <div class="col-md-4 col-md-offset-4">
                                    <select class="btn btn btn-primary  btn-sm dim pull-right" id="permissions">
                                        <!-- permissions -->
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="permissionsTbl" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th >Permission id</th>
                                            <th>Permission Name</th>
                                            <th>Permission Description</th>
                                            <th>Access?</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/js/plugins/dataTables/datatables.min.js"></script>
<script src="/lib/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/lib/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- Sweet alert -->
<script src="/lib/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Toastr -->
<script src="/lib/js/plugins/toastr/toastr.min.js"></script>
<script src="/modules/account_management/assets/js/edit_roles.js?20160707"></script>



